/*********** Necessary Drupal 7 Styles ************/
#admin {
  margin-left: 84px;
  /*top: 130px;*/
  width: 567px;
}

.element-invisible { display: none; }

div.status, .ok {
  color: #234600;
  width: 455px;
}

div.error {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #ED1C24;
  width: 455px;
  padding: 2px 2px 20px;
}

#content.noleft div.error {
  width: 675px !important;
}

div.error li {
  color: #ED1C24;
}

input.error, select.error {
    color: #3A3A3A !important;
}

div.warning, .warning {
  color: #884400;
  width: 455px;
}

.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

ul.primary {
  border-bottom: 1px solid #BBBBBB;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
  width: 500px;
}

ul.primary li {
  display: inline;
}

ul.primary li.active a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #BBBBBB #BBBBBB #FFFFFF;
  border-style: solid;
  border-width: 1px;
}

ul.primary li a {
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
}

form {
  margin: 0;
  padding: 0;
}

.form-item, .form-actions {
  margin-bottom: 1em;
  margin-top: 1em;
}

.marker, .form-required {
  color: #FF0000;
}

.form-item .description {
  font-size: 0.85em;
}


/**
 * Markup generated by theme_pager().
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}
