body
{
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #000000;
    background: #e2f2f5 url(/sites/incivek.ca/files/images/body-bg.gif) repeat-x left top;
}

input { outline: none; }

.centered { text-align: center; }

a, a:visited { color: #00a2b1; }
a.disabled,a.disabled:hover { color: #666666 !important; }
a.arrow.disabled:hover {
    background: url("/sites/incivek.ca/files/images/arrow.png") no-repeat scroll 97% center !important;
}



a.nounderline { text-decoration: none; }

a:hover { color: #c3cf21; }

.title.large {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color: #666666;
}

.title-sub {
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}

.title-sub.large {
    font-size: 33px;
    font-weight: normal;
    line-height: 29px;
}

.blue {
    color: #00a1b1;
}

.dark-blue {
    color: #253953;
}

.red {
	color: #ED1C24;
}

.dark-grey {
    color: #333333;
}

h2 {
        font-size: 22px;
        margin: 7px 0 20px 0;
        padding: 0;
}

h3 {
        margin: 16px 0;
        font-size: 16px;
        padding: 0;
}

.clear
{
    clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

#container 
{
    width: 1024px;
    margin: 0 auto;    
}


/*--------------- Header -------------*/
body.front #header {
  height: 151px;
  position: relative;
  margin: 0 auto;
}

#header {
  height: 166px;
  position: relative;
  margin: 0 auto;
}

#header-links 
{
    margin-left: 622px;
    padding: 0;
    height: 24px;
}

body.front #incivek-logo {
  left: 66px;
  position: absolute;
  top: 55px;
  z-index: 1;
}

#incivek-logo {
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: 1;
}


/*----------- Structure ----------*/

#main-content { 
  width: 873px;
  margin: 0 auto;
}

#body-header
{
    background: url(/sites/incivek.ca/files/images/body-header-bg.png) no-repeat left top;
    width: 873px;
    height: 139px;
    top: -8px;
    position: relative;
}

body.french #body-header
{
    background: url(/sites/incivek.ca/files/images/body-header-bg-fr.png) no-repeat left top;
    width: 873px;
    height: 165px;
    top: -8px;
    position: relative;
}

#body-content
{
    background: url(/sites/incivek.ca/files/images/body-content-bg.png) repeat-y left top;
    width: 873px;
    top: -8px;
    position: relative;
}

#body-footer
{
    background: url(/sites/incivek.ca/files/images/body-footer-bg.png) no-repeat left top;
    width: 873px;
    height: 76px;
    top: -8px;
    position: relative;
}

#welcome
{
        height: 110px;
        padding: 29px 0 0 35px;
}

#body-content-left
{
        width: 490px;
        padding: 32px 0 0 35px;
}

#body-footer-content
{
        padding: 18px 0 0 35px;
}

/* Home Page */
body.front .body-header
{
        padding: 43px 0 0 28px;
        height: 112px;

}

body.front .body-content
{
        padding: 0 43px 0 36px;
}

body.front #body-left 
{
    width: 429px;
    float: left;
    padding-left: 8px;
}

body.front #body-right
{
    width: 428px;
    float: left;
}

body.front #body-wrapper
{
    background: url(/sites/incivek.ca/files/images/container-bg-home.png) repeat-y left top;
    width: 873px;
    height: 444px;
    top: -8px;
}

#body-wrapper
{
    margin: 0 auto;
    position: relative;
    width: 873px;
}


/*----------- Buttons -------------*/
#button-entrer
{
    width: 140px;
    background-image: url(/sites/incivek.ca/files/images/entrer.png);
}

#button-enter
{
    width: 140px;
    background-image: url(/sites/incivek.ca/files/images/enter.png);
}

.button:hover {
    background-position: left bottom;
}

.button {
      background-position: left top;
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    margin: 20px auto;
    text-indent: -9999px;
}


.square {
    background: url("/sites/incivek.ca/files/images/square.png") no-repeat scroll left transparent;
}

.password-bg {
    background: url("/sites/incivek.ca/files/images/password-bg.gif") no-repeat scroll center transparent;
    height: 35px;  
    }


/*------------------ Footer ---------------*/
body.front #footer 
{
    padding: 0 0 0 86px;
}

#footer 
{
    padding: 0 0 0 10px;
    width: 873px;
    font-size: 11px;
}

#footer-left {
    float: left;
    width: 132px;
}

#footer-center {
    float: left;
    width: 630px;
}


.footer-links {
    padding-bottom: 15px;
}

.footer-links a
{
    color: #000000;
    text-decoration: none;
    display: block;
    float: left;
}

.footer-links a:hover { 
    color: #000000;
    text-decoration: underline;
}

.footer-legal {
    padding-bottom: 15px;
}

/*-------- Touts --------*/
#right {
    float: right;
    margin: -110px -11px 0 0;
}

body.french #right {
    margin: -136px -11px 0 0;
}

#right .lang-btn {
    margin-bottom: 1px;
    padding-left: 205px;
}

.tout h1 {
    font-size: 14px;
    font-weight: bold;
    padding: 9px 0 5px 0;
    margin: 0;
}

.tout h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 9px 0 5px 0;
}

#right .tout {
    padding: 1px 0 0 16px;
    position: relative;
    width: 320px;
}

#right .tout-top {
    background: url("/sites/incivek.ca/files/images/tout-ind-top.gif") no-repeat scroll 0 0 transparent;
    height: 48px;
}

body.french #right .tout-top {
    background: url("/sites/incivek.ca/files/images/tout-ind-top-fr.gif") no-repeat scroll 0 0 transparent;
    height: 48px;
}

#right .tout-body {
    background: url("/sites/incivek.ca/files/images/tout-ind-mid.gif") repeat-y scroll 0 0 transparent;
    padding: 0 6px 0 11px;
}

#right .tout-bottom {
    background: url("/sites/incivek.ca/files/images/tout-ind-bot.gif") no-repeat scroll 0 0 transparent;
    height: 100px;
    padding: 8px 12px;
    
}

body.french #right .tout-bottom {
    background: url("/sites/incivek.ca/files/images/tout-ind-bot-fr.gif") no-repeat scroll 0 0 transparent;
    height: 130px;   
}

.tout p {margin: 8px 0;}

.tout ul {
    margin: 0 0 0 15px;
    padding: 0;
}

.tout li {
    color: #0b3c64;
    margin: 5px 0 0;
}

.tout li span {
    color: #000000;
}


.download-image {
        height: 57px;
        width:  50px;
        padding: 10px 0 0 26px;
        float: left;
}

a.arrow {
    background: url("/sites/incivek.ca/files/images/arrow.png") no-repeat scroll 97% center;
    text-decoration: none;
    font-weight: bold;
    padding: 0 18px 0 0;
    margin: 0 14px 0 0;
    color: #1c2e47;
}

a.arrow:hover {
    background: url("/sites/incivek.ca/files/images/arrow-on.png") no-repeat scroll 97% center;
    color: #c3cf21;
}

.download-text {
        padding-top: 13px;
}

.download-text p {
    margin: 0 0 10px 0;
}

.download-hdr {
            padding-left: 23px;
            margin: 0 0 2px 0;
}

.divider {
  margin: 17px 0;
}

.comment {
    font-size: 11px;
}

/*-------- Header Nav --------*/
#header-img-sub { position: relative; }

#header-img-sub a.letter.english {
  background: url("/sites/incivek.ca/files/images/hdr-letter-btn.gif") repeat scroll 0 0 transparent;
  width: 118px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 439px;
}

#header-img-sub a.letter.french {
  background: url("/sites/incivek.ca/files/images/hdr-letter-btn-fr.gif") repeat scroll 0 0 transparent;
  width: 218px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 339px;
}

#header-img-sub a.letter:hover { background-position: left bottom !important; }

/*-------- Interstitials -------*/
#englishInterstitial,
#frenchInterstitial {
  background: none repeat scroll 0 0 white;
  box-shadow: 0 0 20px #000000;
  left: 50%;
  margin-left: -330px;
  width: 660px;
  font-size: 14px;
}

#englishInterstitial a.buttonCancel {
  background: url("/sites/incivek.ca/files/images/cancel-btn.gif") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 71px;
  float: left;
}

#frenchInterstitial a.buttonCancel {
  background: url("/sites/incivek.ca/files/images/cancel-btn-fr.gif") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 71px;
  float: left;
}

#englishInterstitial a.buttonSubmit {
  background: url("/sites/incivek.ca/files/images/submit-btn.gif") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 71px;
  float: right;
}

#frenchInterstitial a.buttonSubmit {
  background: url("/sites/incivek.ca/files/images/submit-btn-fr.gif") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 89px;
  float: right;
}

#englishInterstitial ul, #englishInterstitial ol,
#frenchInterstitial ul, #frenchInterstitial ol { padding: 0 0 0 20px; }

#englishInterstitial a.buttonCancel:hover, #englishInterstitial a.buttonSubmit:hover,
#frenchInterstitial a.buttonCancel:hover, #frenchInterstitial a.buttonSubmit:hover { background-position: left bottom; }

.innerContainer {
  background: none repeat scroll 0 0 white;
  border: 8px solid #359eb4;
  padding: 0 25px 33px;
}
