@charset "UTF-8";
/* CSS Document */
#shiny-object 
{
	color:#636363;
	margin:0;
	padding:55px;
	/*font-family:'fs_albertbold', Arial, Helvetica, sans-serif;*/
	/*background-image: url(../img/template.jpg);*/
	background-position: 47px 29px;
	overflow:auto;
	line-height:initial;
	font-size:14px;
}

#shiny-object #main {
	left: initial;
	width: auto;
}

#shiny-object h2
{
	margin-top:0;
	margin-bottom:5px;
	color:#d31145;
}
#shiny-object sup
{
	font-size:.5em;
}
#shiny-object div
{
	position:absolute;
	left: 3px;
	width: 378px;
}
#shiny-object #header
{
	top:20px;
	left:0;
	height:65px;
	width:1024px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,63,119,1)), color-stop(100%,rgba(11,63,119,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(11,63,119,1) 0%,rgba(11,63,119,0) 100%); /* Chrome10+,Safari5.1+ */
	color:#fff;
	font-size:32px;
	font-family: Arial, Helvetica, sans-serif;
	
}
#shiny-object #headerText
{
	top:15px;
	left:150px;
	width:500px;
}
#shiny-object #headerText2
{
	top:10px;
	left:800px;
	width:200px;
	color:#0b3f77;
	font-size:18px;
	text-align:center;
}
#shiny-object #chart
{
	left:114px;
	top:180px;
	background-image: url(../img/mainBG.png);
	background-repeat: no-repeat;
	width:902px;
	height:505px;
	background-position: 50px 0px;
}
#shiny-object #syringe1
{
	left:435px;
	top:132px;
	width:315px;
	height:70px;
}
#shiny-object #syringe1 img:first-child
{
	margin-right:180px;
}
#shiny-object #syringe2
{
	left:435px;
	top:249px;
}
#shiny-object #syringe3
{
	left:275px;
	top:359px;
	width:315px;
	height:70px;
}
#shiny-object #syringe3 img:first-child
{
	margin-right:100px;
}
#shiny-object #popUp, #shiny-object #animations, #shiny-object #hotspots
{
	left:0;
	top:45px;
	z-index:100;
}
#shiny-object #hotspots
{
	z-index:101;
}
#shiny-object .ani
{
	display:none;
	width:940px;
	height:90px;
	background-color:#fff;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow:hidden;
}
#shiny-object .hot
{
	width:900px;
	height:90px;
}
#shiny-object .b1
{
	z-index:15;
	left: 786px;
	top: 139px;
	opacity:0;
}
#shiny-object .b2
{
	z-index:15;
	left:694px;
	top:136px;
	opacity:0;
}
#shiny-object .b3
{
	z-index:15;
	left:599px;
	top:136px;
	opacity:0;
}
#shiny-object .b4
{
	z-index:15;
	left:501px;
	top:136px;
	opacity:0;
}
#shiny-object .b5
{
	z-index:15;
	left:408px;
	top:136px;
	opacity:0;
}
#shiny-object .b6
{
	z-index: 13;
	left: 315px;
	top: 141px;
}

#shiny-object #h1,#shiny-object  #h2, #shiny-object #h3, #shiny-object #h4, #shiny-object #h1a,#shiny-object  #h2a, #shiny-object #h3a, #shiny-object #h4a
{
	left: 310px;
	width: 587px;
	top:20px;
	font-size:18px;
	display:none;
}
#shiny-object #h1 img, #shiny-object #h2 img, #shiny-object #h3 img,#shiny-object  #h4 img, #shiny-object #h1a img, #shiny-object #h2a img, #shiny-object #h3a img, #shiny-object #h4a img
{
	float:right;
}
#shiny-object .arrow1
{
	z-index:5;
	left: 545px;
	top: 45px;
	opacity:0;
}
#shiny-object .arrow2
{
	z-index:5;
	left: 525px;
	top: 45px;
	opacity:0;
}
#shiny-object .scene
{
	left:133px;
	top:5px;
	z-index:4;
}
#shiny-object .txt
{
	opacity:0;
	left:525px;
	top:10px;
	z-index:15;
}
#shiny-object #ani2 .txt
{
	left:370px;
}
#shiny-object .head1
{
	top:15px;
	left:7px;
}
#shiny-object .head2
{
	top:25px;
	left:7px;
}
#shiny-object .head3
{
	top: 9px;
	left: 28px;
	font-size:10px;
}
#shiny-object .head3txt
{
	text-align:center;
	display:block;
	width: 120px;
	margin-left: -23px;
	font-weight: bold;
}
#shiny-object .popUp
{
	display:none;
	width:930px;
	height:90px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #CCC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,0)), color-stop(10%,rgba(216,216,216,0.1)), color-stop(25%,rgba(216,216,216,0)), color-stop(37%,rgba(216,216,216,0.09)), color-stop(38%,rgba(218,218,218,0.1)), color-stop(50%,rgba(239,239,239,0.19)), color-stop(51%,rgba(201,201,201,0.2)), color-stop(54%,rgba(202,202,202,0)), color-stop(100%,rgba(224,224,224,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(191,191,191,0) 0%,rgba(216,216,216,0.1) 10%,rgba(216,216,216,0) 25%,rgba(216,216,216,0.09) 37%,rgba(218,218,218,0.1) 38%,rgba(239,239,239,0.19) 50%,rgba(201,201,201,0.2) 51%,rgba(202,202,202,0) 54%,rgba(224,224,224,0.5) 100%); /* Chrome10+,Safari5.1+ */
}
#shiny-object #pop1inner
{
	left:338px;
	top:15px;
	width:600px;
	height:90px;
}
#shiny-object #pop1inner img
{
	margin-top:-10px;
}
#shiny-object #pop2 img
{
	margin-top:5px;
	margin-left:338px;
}
#shiny-object #pop3inner, #shiny-object #pop4inner
{
	top:5px;
	left:165px;
}
#pop1
{
	
}
#shiny-object #pop2, #shiny-object #ani2, #shiny-object #hotspot2
{
	top:90px;
}
#shiny-object #pop3, #shiny-object #ani3, #shiny-object #hotspot3
{
	top:180px;
}
#shiny-object #pop4, #shiny-object #ani4, #shiny-object #hotspot4
{
	top:270px;
}

#shiny-object #hotspot5
{
	left: 137px;
	top: 0;
	height: 44px;
	width: 283px;
	background-color: #177FDD;
	color: white;
	line-height: 44px;
	text-align: center;
	border:white thin solid;
	font-size:20px;
}
#shiny-object #dropdown
{
	left: 299px;
	top: 152px;
	width:237px;
	z-index:5;
}
/*.rotateArrow*/
#shiny-object .arrowAni
{
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#shiny-object #dropArrow
{
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition:transform 0.5s ease-in-out;
	top: 10px;
	left: 32px;
	height:10px;
	width:10px;
	padding-left:3px;
}
#shiny-object #dropText
{
	padding:20px;
	width:195px;
	line-height:1.4em;
	display:none;
	height:400px;
	background-color:#fff;
	z-index:100;
}

#shiny-object #lightboxMask
{
	display:none;
	width:1024px;
	height:768px;
	background-color: rgba(0, 0, 0, .6);
	z-index:99;
	position: fixed;
	left:0px;
	top:0px;
}
#shiny-object #subText
{
	top:53px;
	left:35px;
	width:934px;
	font-size:14px;
}
#shiny-object #reference
{
	top: 45px;
	left: 137px;
	width: 240px;
	height: 315px;
	background-color:#fff;
	z-index:100;
	border: 2px solid #333;
	padding:20px;
	font-size:12px;
	display:none;
}
#shiny-object .shadow
{
	-webkit-box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .3);
    box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .3);
}
#shiny-object .above
{
	z-index:102 !important;
}
#shiny-object .below
{
	z-index:1 !important;
}
#shiny-object td
{
	height:90px;
	width:90px;
	outline: white thin solid;
}
#shiny-object .grey
{
	background-color:#ccc;
}
#shiny-object .ltGrey
{
	background-color:#E8E7E7;
}
#shiny-object .ltGreen
{
	background-color:#419F49;
}
#shiny-object .green
{
	background-color:#218B41;
}
#shiny-object #mainTable
{
	width:900px;
	height:484px;
}
#shiny-object .white
{
	color:#fff;
	font-family:'FSAlbert Light';
}
#shiny-object .white img
{
	margin-top:6px;
}
#shiny-object .topRow
{
	font-size:16px;
	height:45px;
}
#shiny-object #greenSq
{
	position:relative;
	height:12px;
	width:12px;
	left:0px;
	background-color:#218B41;
	display:inline-block;
	margin-right:10px;
}
#shiny-object .leftAxis, #shiny-object .aniHeader1
{
	font-weight: bold;
	width:200px;
	font-size:16px;
	padding-left:10px;
}
#shiny-object .aniHeader1
{
	padding-left:0;
}
#shiny-object .smTxt
{
	font-size:10px;
	text-align:center;
	font-weight:bold;
	display:block;
}
#shiny-object .rota
{
	-webkit-transform: rotate(90deg);
}
#shiny-object .syr
{
	color:#fff;
}
#shiny-object .encima
{
	z-index:100;
}
