﻿﻿@{
    ViewBag.Title = "Advance";
}

<script>
    var usertypeid = '@Session["usertypeid"]';
</script>



<div id="pageId" ng-cloak class="advanced-container hidden-xs">
	<div class="advance-header">
		<div class="advance-header-text pull-left">
			<h1 class="uppercase center"><span style="word-spacing:4px;"><span class="orange" >Advance</span> With Your Course List</span>
			</h1>
		</div>
		
		<div class="course-list-text pull-right">
			<a href="/courselist" class="view-courselist-link uppercase pull-right">View Course List</a>
		</div>
	</div>
	
	<div class="inner-container" ng-controller="advanceCtrl">
	<div ng-hide="firstLoad" class="loader">
		<img  id="loadadvance" class="loaderimg" src="/contents/imgs/loader.gif" alt="loading..." />
	</div>
		<div class="advance-content">
			<div class="stern-woman pull-left">
				<img class="woman" src="/contents/imgs/index/person.png">
			</div>
			<div class="advance-path pull-left">
				<div class="path-filter uppercase">
						<p class="path-filter-header pull-left"><span class="purple" style="padding-right: 2px;">Describe yourself.</span> <span class="orange">Are You?</span></p>
							<div class="dropdown-wrap pull-left">
                                <!-- Student or Graduate -->
								<select selectric ng-change="renderPath()" ng-model="select1" style="width: 120px" id="student-status">
									<option value="" selected="selected">Student or Graduate</option>
                                    <option value="A">Student</option>
									<option value="B">Graduate</option>
								</select>
							</div>
							<div class="dropdown-wrap pull-left">
                                <!-- Looking for a job or have a job -->
								<select selectric ng-change="renderPath()" ng-model="select2" style="width: 120px" id="job-status" ng-disabled="!select1">
									<option value="" selected="selected">Looking for a job or have a job</option>
                                    <option value="A">Looking for a job</option>
									<option value="B">Have a job</option>
								</select>
							</div>
							<div class="dropdown-wrap pull-left">
								<select selectric ng-change="renderPath()" ng-model="select3" style="width: 120px" id="loan-status" ng-disabled="!select2 || !select1">
                                    <!-- Paying student loans or free of debt -->
									<option value="" selected="selected">Paying student loans or free of debt</option>
                                    <option value="A">Paying student loans</option>
									<option value="B">Free of debt</option>
								</select>
							</div>
						</div>
				</div>

				<div class="path-wrap" ng-cloak>
					
                    <div class="path-layer" ng-show="firstLoad">
						<img ng-src="/contents/imgs/advance/{{pathSrc}}">
					</div>
					<div ng-show="firstLoad" class="icon-layer">
						<div ng-repeat="icon in pathHolder" ng-class="{on: icon.data.on, iconwrap: true}" id="{{icon.data.id}}">
							<div popover class="v-popover" content="icon">
                                <img ng-src="/contents/imgs/advance/{{icon.data.src}}" >
							    <div ng-show="icon" class="v-progress-bar orange">
								    <span style="width:{{icon.data.completed / icon.data.total * 100}}%"></span>
							    </div>
                                <p>{{icon.data.course.coursename}}</p>
                            </div>
                            
						</div>
					</div>
					<div ng-show="firstLoad" class="text-layer">
						<h3 class="uppercase path-titles bi" id="business-issues-title">Business Issues</h3>
						<h3 class="uppercase path-titles pd" id="professional-development-title">Professional Development</h3>
						<h3 class="uppercase path-titles fb" id="financial-literacy-title">Financial Literacy</h3> 
					</div>
				</div>
			</div>
		</div>
	</div>

<div data-mobiletitle="Advance" data-mobileicon="learn-active.png" class="advance-container-mobile mobile-container visible-xs">
	<div class="slide-page top-level" id="advance-student-m">
		<p class="title-text uppercase gray"><span class="orange">Advance</span> with your course list</p>
		<p class="page-text uppercase"><span class="purple">Describe Yourself.</span> <span class="orange">Are You?</span></p>

		<ul class="advance-input list-group">
			<li data-target="advance-job-m" id="student-a" data-parentpageid="advance-student-m" data-value="A" data-selecttype="student" class="list-group-item advance-select">
				Student
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
			<li data-target="advance-job-m" id="student-b" data-parentpageid="advance-student-m" data-value="B" data-selecttype="student" class="list-group-item advance-select">
				Graduate
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
		</ul>
		<center>
            <button data-target="mobile-results" data-parentpageid="advance-student-m" class="advance-longorange-btn show-recommended">View Course List</button>
		</center>
	</div>

	<div style="display: none;" class="slide-page" id="advance-job-m">
		<p class="title-text uppercase gray"><span class="orange">Advance</span> with your course list</p>
		<p class="page-text uppercase"><span class="purple">Describe Yourself.</span> <span class="orange">Are You?</span></p>

		<ul class="advance-input list-group">
			<li id="job-a" data-target="advance-loans-m" data-parentpageid="advance-job-m" data-value="A" data-selecttype="job" class="list-group-item advance-select">
				Looking for a job
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
			<li id="job-b" data-target="advance-loans-m" data-parentpageid="advance-job-m" data-value="B" data-selecttype="job" class="list-group-item advance-select">
				Have a job
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
		</ul>
		<center>
            <button  data-target="mobile-results" data-parentpageid="advance-job-m" class="advance-longorange-btn show-recommended">Show Recommended Courses</button>
            <button style="margin-top:15px;" class="start-over advance-longplain-btn">Start Over</button>
		</center>
		
	</div>

    <div style="display: none;" class="slide-page" id="advance-loans-m">
		<p class="title-text uppercase gray"><span class="orange">Advance</span> with your course list</p>
		<p class="page-text uppercase"><span class="purple">Describe Yourself.</span> <span class="orange">Are You?</span></p>

		<ul class="advance-input list-group">
			<li id="debt-a" data-target="mobile-results" data-parentpageid="advance-loans-m" data-value="A" data-selecttype="debt" class="list-group-item advance-select">
				Paying student loans
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
			<li id="debt-b" data-target="mobile-results" data-parentpageid="advance-loans-m" data-value="B" data-selecttype="debt" class="list-group-item advance-select">
				Free of debt
				<img class="pull-right advance-arrow-r arrow-r" src="/Contents/imgs/mobile/arrow-r.png">
			</li>
		</ul>
		<center>
            <button  data-target="mobile-results" data-parentpageid="advance-loans-m" class="advance-longorange-btn show-recommended">Show Recommended Courses</button>
            <button style="margin-top:15px;" class="advance-longplain-btn start-over">Start Over</button>
		</center>
		
	</div>

    <div style="display:none;" class="slide-page slide in" id="mobile-results">
        <p class="uppercase orange results-title results-title-personal">Your Personalized Curriculum</p>
        <ul class="advance-results personalized list-group"><center><p>We have no suggested courses for you.</p></center></ul>
        
        <p class="uppercase purple results-title" style="font-size: 16px !important;">Full Course List</p>

        <p class="uppercase bi results-title">Business Issues</p>
        <ul id="advance-results-bi" class="advance-results list-group"><li class="advance-result list-group-item"><a class="nostyle" href="/course/1"><span class="result-title bi">Understanding the Veterinary Practice<img class="pull-right arrow-r" src="/Contents/imgs/mobile/bi-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/2"><span class="result-title bi">Joining a Veterinary Practice<img class="pull-right arrow-r" src="/Contents/imgs/mobile/bi-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/3"><span class="result-title bi">Selling Veterinary Experience<img class="pull-right arrow-r" src="/Contents/imgs/mobile/bi-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1003"><span class="result-title bi">Merging Medicine and Management<img class="pull-right arrow-r" src="/Contents/imgs/mobile/bi-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1004"><span class="result-title bi">Small Business Management<img class="pull-right arrow-r" src="/Contents/imgs/mobile/bi-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li></ul>

        <p class="uppercase pd results-title">Professional Development</p>
        <ul id="advance-results-pd" class="advance-results list-group"><li class="advance-result list-group-item"><a class="nostyle" href="/course/1005"><span class="result-title pd">Veterinary Career Options<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 10 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1006"><span class="result-title pd">The Job Search<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1007"><span class="result-title pd">Resume Writing Skills<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1008"><span class="result-title pd">Interview Skills<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1009"><span class="result-title pd">Client Service Skills<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 8 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1010"><span class="result-title pd">Leadership Skills<img class="pull-right arrow-r" src="/Contents/imgs/mobile/pd-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li></ul>

        <p class="uppercase fb results-title">Financial Literacy</p>
        <ul id="advance-results-fb" class="advance-results list-group"><li class="advance-result list-group-item"><a class="nostyle" href="/course/1011"><span class="result-title fb">Financial Basics<img class="pull-right arrow-r" src="/Contents/imgs/mobile/fb-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li><li class="advance-result list-group-item"><a class="nostyle" href="/course/1012"><span class="result-title fb">Repaying Educational Loans<img class="pull-right arrow-r" src="/Contents/imgs/mobile/fb-arrow-r.png"></span><span class="result-module-info muted uppercase">0 of 7 modules completed</span></a></li></ul>
    </div>
	
</div>


@section scripts{
	<script src="/Contents/js/angular/angular.js"></script>
    <script src="/Contents/js/angular/angular-route.js"></script>
    <script src="/Contents/js/pages/advance.js"></script>
}