<div id="pageId" class="members-container mobile-container" data-mobiletitle="Contact Us" data-mobileicon="none">
	<div class="register-container">
		<div class="header">
			<span>
				<h1>Thank You for Contacting Us</h1>
				<p>
					Someone from our team will respond to your query as soon as possible.
				</p>
			</span>
			<span>				
			</span>
		</div>
		<div class="form-container success">
			<!--<button class="btn"><span><a href="/" class="purple">CONTINUE</a></span> <img class="carrot" src="/Contents/imgs/orange-carrot.png"></button>-->
			<span><a class="purple btn" href="/">CONTINUE <img src="/Contents/imgs/orange-carrot.png" class="carrot"></a></span>
		</div>
	</div>
</div>

