﻿@{
    ViewBag.Title = "Contact";
}

@section scripts{
    <script src="/Contents/js/pages/contact.js"></script>
}

<div id="pageId" class="contact-container mobile-container" data-mobiletitle="Contact Us" data-mobileicon="none">
	<h3 class="purple uppercase"><strong>Contact Us</strong></h3>
	<div class="connect-tabs-wrap visible-xs">
        <div class="module-tabs-mobile">
            <div class="module-tab-mobile-cont module-tab-mobile m-tab-active m-feedback-tab">
                <p class="uppercase purple connect-tab-label">Feedback</p>
            </div>
            <div class="module-tab-mobile-cont module-tab-mobile m-support-tab">
                <p class="uppercase purple connect-tab-label">Support </p>
            </div>
        </div>
    </div>
	<div class="column-wrap">
		<div class="column pull-left feedback">
			<h4 class="orange uppercase"><strong>We want to hear from you</h4>
			<p class="feedback-text">Let us know what you think about VETVANCE. What sort of presentations would you like to see? What are we doing right? What are we doing wrong? How can we enhance the experience to further help new veterinarians establish successful careers? Want to share your knowledge as a contributor? Get in touch!</p>
			<small class="field-requirement"><i>All fields required.</i></small>
			<form id="feedback" class="form-horizontal" role="form">
			  <div class="form-group fb-topic-container">
			  	<label for="feedback-topic-select" class="col-sm-3 control-label">Topic Area:</label>
			  	<div class="col-sm-9">
			  		<select name="feedback-topic-select" id="feedback-topic-select" placeholder="Please Select" class="form-control">
			  			<option>Please select</option>
                          
			  		</select>
                    <label id="feedbacktopicselecterror" style="display:none;" for="feedback-topic-select" class="error">Please select a topic area.</label>
			  	</div>
			  </div>
				
			  <div class="form-group fb-name-container">
			    <label for="name" class="col-sm-3 control-label">Name:</label>
			    <div class="col-sm-9">
			      <input id="feedbackname" name="feedback" type="text" class="form-control">
                     <label id="feedbacknameerror" style="display:none;" for="feedbackname" class="error">Please provide your name.</label>
			    </div>
			  </div>

			  <div class="form-group fb-email-container">
			    <label for="email" class="col-sm-3 control-label">Email:</label>
			    <div class="col-sm-9">
			      <input id="feedbackemail" name="feedbackemail" type="email" class="form-control">
			      <label id="feedbackemailempty" style="display:none;" for="feedbackemail" class="error">Please provide your email address.</label>
                  <label id="feedbackemailinvalid" style="display:none;" for="feedbackemail" class="error">Invalid email address. Please enter your email address in the format: example@email.com.</label>
			    </div>
			  </div>

			  <div class="form-group fb-message-container">
				<label for="feedback-message" class="col-sm-3 control-label">Message:</label>
				<div class="col-sm-9">
					<textarea id="feedbackmessage" class="form-control" rows="5"></textarea>
                    <label id="feedbackmessageerror" style="display:none;" for="feedbackmessage" class="error">Please provide us with some more information.</label>
				</div>
			  </div>
			</form>
			<button id="submitfeedback" class="orange-button submit-feedback btn uppercase pull-right">Submit Feedback</button>
		</div>
		<div class="column pull-left support">
			<h4 class="purple uppercase"><strong>Questions for the support team</h4>
			<p class="feedback-text">Having a technical problem with VETVANCE? Can’t log in? Use this form to get in touch with our support team so we can help you solve any issues you may be facing.</p>
			<small class="field-requirement"><i>All fields required.</i></small>
			<form id="support" class="form-horizontal" role="form">
			  <div class="form-group sup-topic-container">
			  	<label for="support-topic-select" class="col-sm-3 control-label">Support&nbsp;Area:</label>
			  	<div class="col-sm-9">
			  		<select name="support-topic-select" id="support-topic-select" placeholder="Please Select" class="form-control">
			  			<option>Please select</option>

			  		</select>
                      <label id="supporttopicselecterror" style="display:none;" for="support-topic-select" class="error">Please select a topic area.</label>
			  	</div>
			  </div>
				
			  <div class="form-group sup-name-container">
			    <label for="name" class="col-sm-3 control-label">Name:</label>
			    <div class="col-sm-9">
			      <input id="supportname" type="text" class="form-control" id="name">
                    <label id="supportnameerror" style="display:none;" for="supportemail" class="error">Please provide your name.</label>
			    </div>
			  </div>

			  <div class="form-group sup-email-container">
			    <label for="email" class="col-sm-3 control-label">Email:</label>
			    <div class="col-sm-9">
			      <input id="supportemail" type="email" class="form-control" id="email">
			      <label id="supportemailempty" style="display:none;" for="supportemail" class="error">Please provide your email address.</label>
                  <label id="supportemailinvalid" style="display:none;" for="supportemail" class="error">Invalid email address. Please enter your email address in the format: example@email.com.</label>
			    </div>
			  </div>

			  <div class="form-group sup-message-container">
				<label for="support-message" class="col-sm-3 control-label">Message:</label>
				<div class="col-sm-9">
					<textarea id="supportmessage" class="form-control" rows="5"></textarea>
                    <label id="supportmessageerror" style="display:none;" for="supportmessage" class="error">Please provide us with some more information.</label>
				</div>
			  </div>
			</form>
			<button id="submitsupport" class="purple-button submit-feedback btn uppercase pull-right">Submit Question</button>
		</div>
	</div>
</div>