﻿@{
    ViewBag.Title = "Course List";
}
<script src="/Contents/js/angular/angular.js"></script>
<script src="/Contents/js/angular/angular-route.js"></script>
<script src="/Contents/js/pages/courselist.js"></script>

<div id="pageId" class="courselist-container" ng-controller="courseListCtrl" ng-show="userpaths">
	<h1 class="uppercase"><span style="word-spacing:6px;"><span class="orange">Choose</span> A Course</span></h1>
    
	<p>Are you curious about the types of jobs available for recent veterinarian school graduates? Need advice on making the most of your first job? Worrying about managing money and repaying your student loans? Check out these courses to learn the skills you need to advance your career.</p>

	<div class="course-list">
		
		<div class="course-header-bi">
			<h4 class="course-header-text bi uppercase">Business Issues</h4>
		</div>

		<div class="course-body" ng-cloak>
			<ul class="module-list">
				<li class="module" ng-repeat="userpath in userpaths.bi"  ng-show="userpaths.bi">
					<div class="module-logo">
						<img ng-src="/Contents/imgs/courselist/{{userpath.courseid}}.gif">	
					</div>
					
					<div class="module-content">
						<h5 class="bi uppercase"><a class="bi" href="/course/{{userpath.courseid}}">{{userpath.coursename}}</a></h5>
						<p class="module-content-text">{{userpath.courselongdescription}}</p>
						<div class="module-dropdown-wrap">
							<p ng-click="toggleDropdown(userpath.courseid)" class="module-dropdown-toggle" data-dropdownidref="{{userpath.courseid}}"><img src="/Contents/imgs/courselist/modules-dropdown-closed.gif"> Modules</p>
							<ul data-dropdownid="{{userpath.courseid}}" class="module-dropdown">
								<li ng-repeat="module in userpath.modules" class="module-details">
									<p class="module-name bi"><a class="bi" href="module/{{module.moduleid}}">{{module.modulename}}</a></p>
									<p class="module-presented-by">Presented by <strong>{{module.presenter.presenterfirstname}} {{module.presenter.presenterlastname}}</strong></p>
								</li>
							</ul>
						</div>
					</div>
				</li>

			</ul>
		</div>

	</div>

	<div class="course-list">
		
		<div class="course-header-pd">
		<h4 class="course-header-text pd uppercase">Professional Development</h4>
		</div>

		<div class="course-body" ng-cloak>
			<ul class="module-list">
				<li class="module" ng-repeat="userpath in userpaths.pd" ng-show="userpaths.pd">
					<div class="module-logo">
						<img ng-src="/Contents/imgs/courselist/{{userpath.courseid}}.gif">	
					</div>
					
					<div class="module-content">
						<h5 class="pd uppercase"><a class="pd" href="/course/{{userpath.courseid}}">{{userpath.coursename}}</a></h5>
						<p class="module-content-text">{{userpath.courselongdescription}}</p>
						<div class="module-dropdown-wrap">
							<p ng-click="toggleDropdown(userpath.courseid)" class="module-dropdown-toggle" data-dropdownidref="{{userpath.courseid}}"><img src="/Contents/imgs/courselist/modules-dropdown-closed.gif"> Modules</p>
							<ul data-dropdownid="{{userpath.courseid}}" class="module-dropdown">
								<li ng-repeat="module in userpath.modules" class="module-details">
									<p class="module-name pd"><a class="pd" href="module/{{module.moduleid}}">{{module.modulename}}</a></p>
									<p class="module-presented-by">Presented by <strong>{{module.presenter.presenterfirstname}} {{module.presenter.presenterlastname}}</strong></p>
								</li>
							</ul>
						</div>
					</div>
				</li>

			</ul>
		</div>

	</div>

	<div class="course-list">
		
		<div class="course-header-fb">
			<h4 class="course-header-text fb uppercase">Financial Literacy</h4>
		</div>

		<div class="course-body" ng-cloak>
			<ul class="module-list">
				<li class="module" ng-repeat="userpath in userpaths.fl"  ng-show="userpaths.fl">
					<div class="module-logo">
						<img ng-src="/Contents/imgs/courselist/{{userpath.courseid}}.gif">	
					</div>
					
					<div class="module-content">
						<h5 class="fb uppercase"><a class="fb" href="/course/{{userpath.courseid}}">{{userpath.coursename}}</a></h5>
						<p class="module-content-text">{{userpath.courselongdescription}}</p>
						<div class="module-dropdown-wrap">
							<p ng-click="toggleDropdown(userpath.courseid)" class="module-dropdown-toggle" data-dropdownidref="{{userpath.courseid}}"><img src="/contents/imgs/courselist/modules-dropdown-closed.gif"> Modules</p>
							<ul data-dropdownid="{{userpath.courseid}}" class="module-dropdown">
								<li ng-repeat="module in userpath.modules" class="module-details">
									<p class="module-name fb"><a class="fb" href="module/{{module.moduleid}}">{{module.modulename}}</a></p>
									<p class="module-presented-by">Presented by <strong>{{module.presenter.presenterfirstname}} {{module.presenter.presenterlastname}}</strong></p>
								</li>
							</ul>
						</div>
					</div>
				</li>


			</ul>
		</div>

	</div>
	
</div>