@model int
@{
    ViewBag.Title = "Course";
}

<script src="/Contents/js/pages/courselanding.js"></script>

<div id="pageId" class="courselanding-container hidden-xs" ng-controller="courseLandingCtrl" ng-cloak ng-show="courses">
	<div class="header">
        <a class="course-finder-link pull-right" href="/advance"> &lt; Return to Course Finder</a>
	    <div class="pull-left">
		    <h3 class="{{styles.class}} courselanding-header-text pull-left">{{courses[0].course[0].coursename}}</h3>
		    <img class="path-img pull-left" src="/contents/imgs/squiggles/{{styles.squigglyFileName}}">
		     
	    </div>
       
	    <div class="hidden" data-model="@Model" id="model">@Model</div>
        <script>var model = "@Model";</script>
	</div>
	<div class=" clearfix"></div>
	<div class="content-main">
        <p class="header-text">{{courses[0].course[0].courselongdescription}}</p>
		<div style="width: 57%;" class="column modules-list-wrap">
			<ul class="modules-list">
				
				<li class="module clearfix " ng-repeat="(key, modulewrap) in courses">
					<img ng-show="modulewrap.modulecomplete" class="pull-left done" src="/contents/imgs/courselanding/orange-check.png">
					<p style="float:left;" ng-class="{modulenumber:true, notdone:!modulewrap.modulecomplete}">Module {{key + 1}}:</p>
					<div class="module-details pull-left">
						<h4 class="module-name"><a class="{{styles.class}}" href="/module/{{modulewrap.module.moduleid}}">{{modulewrap.module.modulename}}</a></h6>
						<small class="module-presenter">Presented by <a popover content="modulewrap.module.presenter" data-presenterid="1" class="presenter-popover" href="#" >{{modulewrap.module.presenter.presenterfirstname}} {{modulewrap.module.presenter.presenterlastname}}</a></small>
					</div>
				</li>
				
				
			</ul>
		</div>
		<div class="column" style="width: 41%;">
			<img class="main-icon" src="/contents/imgs/courselanding/{{styles.bigicon}}">
		</div>
		<div class="clearfix"></div>
	</div>
	
</div>

<div data-mobiletitle="Advance" data-mobileicon="learn-active.png" class="mobile-container course-container-mobile visible-xs">
    <img style="padding-top: 10px;" src="/Contents/imgs/mobile/blue_squiggly.png" />
    <p class="pull-left course-title-mobile uppercase">
        Understanding the veterinary practice
    </p>
    <div class="clearfix"></div>
    <p class="course-description">
        You're highly trained to keep animals healthy. So what do you know about real esate, diagnostic equipment, staffing, transportation, and all the other details involved in running a veterinary practice? It's OK to say "not much." In this course, you'll discover the nuts and bolts of a successful practice.
    </p>

    <p class="course-module-title">
        Modules
    </p>

    <ul class="module-list-mobile">
    <center>
        <div class="loading">
        	<img src="/Contents/imgs/loader.gif" />
        </div>
    </center>
    </ul>
</div>