<div class="search-results-wrap">
	<h3 class="search-results-header">Search Results</h3>
	
	<input type="search" class="search-courses" value="" placeholder="Budgeting">

	<button href="#" class="search-btn">Search</button>

	<h5>Results</h5>
	<p class="result-meta">There are <strong>4</strong> modules in <strong>6</strong> courses that match <strong>Budgeting</strong></p>

	<ul class="search-results">
		<li class="result-item">
			<div class="course-logo pull-left">
				<img width="45" height="37" src="/Contents/imgs/financial_basics_logo.gif">
			</div>
			
			<div class="course-results-wrap">
				<h4 class="course-fb fb">Financial Basics</h4>
				<div class="module-result">
					<p class="module-result-header fb"><span class="module-num">Module 2:</span> <span class="highlight">Budgeting</span> While in School or Just Out</p>
					<p><span class="module-subhead">Scenario</span> Lorem ipsum dolor sit amet, consectetur <span class="highlight">budgeting</span> adipisicing elit. Vero, nulla, eius alias nostrum corporis labore architecto eaque voluptate quidem dolore laborum ducimus est vitae porro excepturi ullam inventore possimus repudiandae!</p>
					<p><span class="module-subhead">Transcript</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, reprehenderit laboriosam nostrum amet quibusdam minus autem voluptas fugiat quae veritatis. Provident, saepe est laborum libero sit ducimus quidem vitae quaerat?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, fugiat, tenetur, eius, excepturi nihil aliquid ea voluptatum in dolore soluta et iusto quasi odio accusantium dicta cumque assumenda iure quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, alias, <span class="highlight">budgeting</span> voluptatum eius asperiores nulla dicta repellendus ullam officia culpa aspernatur necessitatibus delectus recusandae at ratione quod minima libero officiis dolorum.</p>
				</div>

				<div class="module-result">
					<p class="module-result-header"><span class="module-num">Module 2:</span> <span class="fb">Financial Advisors</span></p>
					<p><span class="module-subhead">Transcript</span> Lorem ipsum dolor sit amet, consectetur <span class="highlight">budgeting</span> adipisicing elit. Vero, nulla, eius alias nostrum corporis labore architecto eaque voluptate quidem dolore laborum ducimus est vitae porro excepturi ullam inventore possimus repudiandae!</p>
				</div>
			</div>

		</li>
		<li class="result-item">
			<div class="course-logo pull-left">
				<img width="45" height="37" src="/Contents/imgs/merging_medicine_logo.gif">
			</div>
		<div class="course-results-wrap">
			<h4 class="course-mmm mmm">Merging Medicine and Management</h4>
			<div class="module-result">
				<p class="module-result-header"><span class="module-num">Module 2:</span> <span class="mmm">Test data will go here now</span></p>
				<p><span class="module-subhead">Transcript</span> Lorem ipsum dolor sit amet, consectetur <span class="highlight">budgeting</span> adipisicing elit. Vero, nulla, eius alias nostrum corporis labore architecto eaque voluptate quidem dolore laborum ducimus est vitae porro excepturi ullam inventore possimus repudiandae!</p>
			</div>
		</div>
		</li>

	</ul>
</div>
