@{
    ViewBag.Title = "Forgot Password";
}
<div id="pageId" class="members-container forgot-form mobile-container" data-mobiletitle="Password" data-mobileicon="none">
	<div class="password-container">
		<div class="header">
			<h1>Forgot your password?</h1>
			<p>
				Forgot your password? Enter the email address you used when you registered to reset your password. If you are having trouble resetting your password or signing in, please <a href="contact.html">contact us</a>.
			</p>
		</div>
		<div class="form-container">
			<i class="required-msg">All fields required.</i>
			<hr class="top" />
			<form class="form-horizontal" role="form" method="post" id="forgot-form" action="/process/forgot/?redirect=/views/home/resetpassword.cshtml">
			 	<div class="form-group">
			    	<label for="email" class="control-label">Email:</label>			    	
			      <input type="email" class="form-control" id="email" name="email" placeholder="Please enter your email address.">
			  	</div>
			 	<div class="form-group">
			    	<label for="lastname" class="control-label">Last Name:</label>			    	
			      <input type="lastname" class="form-control" id="lastname" name="lastname" placeholder="Please enter your last name.">			    	
			  	</div>
			  	<hr class="bottom" />
			  	<div class="buttons">
			  		<button type="submit" class="btn btn-default btn-submit">continue</button>
			  		<button type="cancel" class="btn btn-default btn-cancel">Cancel</button>
			  	</div>
			</form>
		</div>
	</div>
</div>