 @{
    ViewBag.Title = "Home";
}

<script type="text/javascript">
    // force http
    if (window.location.protocol != "http:") { window.location.href = "http:" + window.location.href.substring(window.location.protocol.length); }
</script>

<div id="pageId" class="index-container hidden-xs">
   <div id="flashContent" class="carousel" style="z-index: 0;">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="966" height="523" id="animation2" align="middle" >
      <param name="movie" value="../Contents/flash/animation2.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#ffffff" />
      <param name="play" value="true" />
      <param name="loop" value="true" />
      <param name="wmode" value="transparent" />
      <param name="scale" value="showall" />
      <param name="menu" value="true" />
      <param name="devicefont" value="false" />
      <param name="salign" value="" />
      <param name="allowScriptAccess" value="sameDomain" />
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="../Contents/flash/animation2.swf" width="966" height="523">
        <param name="movie" value="../Contents/flash/animation2.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="transparent" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="sameDomain" />
      <!--<![endif]-->
        <a href="http://www.adobe.com/go/getflash">
          <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
        </a>
      <!--[if !IE]>-->

      </object>
      <!--<![endif]-->
    </object>
   </div>
   
   
   <!--<div class="carousel">      
      <span class="slide" id="slide1">
         <a class="video_promo" href="javascript:void(0);"><img src="/Contents/imgs/index/slide1.jpg" alt='' /></a>
      </span>
      <span class="slide" id="slide2">
         <a href="/advance"><img src="/Contents/imgs/index/slide3.jpg" alt='' /></a>
      </span>
      <span class="slide" id="slide3">
         <a href="/advance"><img src="/Contents/imgs/index/slide4.jpg" alt='' /></a>
      </span>
      <span class="person">
         <a href="#"><img src="/Contents/imgs/index/person-home.png" alt='' /></a>
      </span>
   </div>--><!--/. carousel -->
   <div class="bucket-container">
      <div class="background"></div>
      <div class="buckets">
         <span class="bucket">
            <img src="/Contents/imgs/index/findajob.png" alt="find a job" />
            <p>Whether you're looking for an externship or your first job after graduation, we have listings across the country.</p>
            <a class="btn home-page-btn" href="/findjob"><span>search now</span> <img class="carrot" src="/Contents/imgs/orange-carrot.png" /></a>
            @{if (Session["userid"] == null)
            {
               <span class="tooltip_footer">In order to use this feature, you must be a registered user. <a href="/register">Register</a> or <a href="/signin">sign in</a> now.</span>
            }
            }
         </span>
         <span class="bucket">
            @{if (Session["userid"] != null)
            {
                <img src="/Contents/imgs/index/yourcourselist.png" alt="your course list" />
                <p>Don't sit through stuff you already know.  Tell us a bit about yourself and customize your experience.</p>
                <a class="btn home-page-btn" href="/advance"> <span>get started</span> <img class="carrot" src="/Contents/imgs/orange-carrot.png"></a>
            }
            else
            {
                <img src="/Contents/imgs/index/signandsave.png" alt="sign up and save" />
                <p>Register for VETVANCE and receive 15% off a subscription to the Zuku Review <sup>TM</sup> NAVLE<sup>&reg;</sup> prep.</p>
                <a class="btn home-page-btn" href="/registerzuku"><span>register now</span> <img class="carrot" src="/Contents/imgs/orange-carrot.png"></a>
            }
            }
         </span>
         <span class="bucket">
            <img src="/Contents/imgs/index/connectwithothers.png" alt="find a job" />
            <p>Meet other veterinarians to share experiences, find a mentor, get advice, and help others in similar situations.</p>
            <a class="btn home-page-btn"  href="/connect"><span>start now</span> <img class="carrot" src="/Contents/imgs/orange-carrot.png"></a>
         </span>
      </div><!--/. buckets -->
   </div><!-- /. bucket-container -->
</div><!-- /. index-container -->

<!--MOBILE HTML-->
<div data-mobiletitle="Home" data-mobileicon="home-active.png" class="mobile-container index-container-mobile visible-xs">
  <div class="index-video">
    <video id="promo-video-mobile" class="video-js vjs-default-skin"
      controls preload="auto" width="100%" poster="/Contents/imgs/promoposter.jpg">
        <source src="http://brightcove.vo.llnwd.net/e1/uds/pd/2342494722001/2342494722001_2903424477001_PAH12097-VetVance-Promotional-Video-110613-NoWeb.mp4" type="video/mp4" />
        <source src="/Contents/videos/HOMEPAGEVIDEO.mp4" type="video/mp4">
    </video>
  </div>
  <div class="index-list-wrap">
    <ul class="index-list">
      <li class="uppercase orange">
        <a href="/findjob" class="orange">
          <img src="/Contents/imgs/mobile/findjob.png" class="pull-left index-icon" />
          <img style="display:none;" src="/Contents/imgs/mobile/findajobwhite.png" class="pull-left index-icon-active" />
          <span class="list-text proxima"><strong>Find a Job</strong></span>
          <img src="/Contents/imgs/mobile/arrow-r.png" class="pull-right arrow-r right-arrow" />
          <img style="display:none; height: 15px; width: 11px;" src="/Contents/imgs/mobile/arrow-r-active.png" class="pull-right right-arrow arrow-r-white" />
        </a>
      </li>
      <li id="zuku-reg-mobile" class="uppercase orange">
        <a href="/registerzuku" class="orange">
          <img src="/Contents/imgs/mobile/zuku.png" class="pull-left index-icon"/>
          <img style="display:none;" src="/Contents/imgs/mobile/zukuwhite.png" class="pull-left index-icon-active"/>
          <span style="margin-left: 14px;" class="list-text proxima"><strong>Save on Zuku Review</strong>&trade;</span>
          <img src="/Contents/imgs/mobile/arrow-r.png" class="pull-right arrow-r right-arrow" />
          <img style="display:none; height: 15px; width: 11px;" src="/Contents/imgs/mobile/arrow-r-active.png" class="pull-right right-arrow arrow-r-white" />
        </a>
      </li>
      <li id="courselist-mobile" class="uppercase orange" style="display:none;">
        <a href="/advance" class="orange">
          <img src="/Contents/imgs/mobile/courselist.png" class="pull-left index-icon" />
          <img style="display:none;" src="/Contents/imgs/mobile/courselistwhite.png" class="pull-left index-icon-active" />
          <span style="margin-left: 14px;" class="list-text proxima"><strong>Your Course List</strong></span>
          <img src="/Contents/imgs/mobile/arrow-r.png" class="pull-right arrow-r right-arrow" />
          <img style="display:none; height: 15px; width: 11px;" src="/Contents/imgs/mobile/arrow-r-active.png" class="pull-right right-arrow arrow-r-white" />
        </a>
      </li>
      <li class="uppercase orange">
        <a href="/connect" class="orange">
          <img src="/Contents/imgs/mobile/connect.png" class="pull-left index-icon" />
          <img style="display:none;" src="/Contents/imgs/mobile/connectwhite.png" class="pull-left index-icon-active" />
          <span class="list-text proxima"><strong>Connect with Others</strong></span>
          <img src="/Contents/imgs/mobile/arrow-r-white.png" class="pull-right arrow-r right-arrow" />
          <img style="display:none; height: 15px; width: 11px;" src="/Contents/imgs/mobile/arrow-r-active.png" class="pull-right right-arrow arrow-r-white" />
        </a>
      </li>
    </ul>
  </div>


</div>
<!--END MOBILE HTML-->



@RenderPage("templates/_index-modal.cshtml")

@section scripts{
   <script type="text/javascript">
     @{ if (@Session["userid"] == null)
        {
            @:var promo = '@Request.Cookies["promo"]["video"]';
         
            // dont show
            HttpCookie _cookie = new HttpCookie("promo");
            _cookie["video"] = "noshow";
            _cookie.Expires = DateTime.Now.AddMonths(1);
            Response.Cookies.Add(_cookie);
        } else {
            @:var promo = 'noshow';
        }
     }
   </script>

    <script src="/Contents/js/pages/index.js"></script>
}