@model int
@{
    ViewBag.Title = "Module2";
}

@section styles{
    <link rel="stylesheet" href="/Contents/css/module.css">
}

<script type="text/javascript">
    // force http
    if (window.location.protocol != "http:") { window.location.href = "http:" + window.location.href.substring(window.location.protocol.length); }
</script>

<script>var model = "@Model";</script>
<div id="pageId" class="module-container hidden-xs" ng-controller="moduleCtrl" ng-show="data" ng-cloak>
	
	<div class="header">
        <a class="course-finder-link pull-right" href="/advance"> &lt; Return to Course Finder</a>
		<div class="pull-left module-title">
			<h3 class="{{styles.class}} courselanding-header-text pull-left">{{data.coursename[0]}}</h3>
			<div class="dropdown pull-left">
				<a id="dLabel" data-toggle="dropdown" href="#">
					<img class="module-dropdown-arrow pull-left" src="/contents/imgs/module/orange-arrow-down.png">
				</a>
				<ul class="dropdown-menu" style="border: 1px solid {{styles.hex}};" role="menu" aria-labelledby="dLabel">
					<li ng-repeat="navMod in course.modules">
						<a href="/module/{{navMod.moduleid}}">
							<p class="{{styles.class}} dd-modname"><strong>{{navMod.modulename}}</strong></p>
							<p class="dd-presentedby">Presented by <strong>{{navMod.presenter.presenterfirstname}} {{navMod.presenter.presenterlastname}}</strong></p>
						</a>
					</li>
					
				</ul>
			</div>
			
			<img ng-cloak class="path-img pull-left" ng-src="/contents/imgs/squiggles/{{styles.squigglyFileName}}">
		</div>
		<h5 class="module-name pd pull-left"><strong>{{data.module.modulename}}</strong> <small>by <a class="purple" href="#">{{data.module.presenter.presenterfirstname}} {{data.module.presenter.presenterlastname}}</a></small></h5>
		<div class="clearfix"></div>
		
		<div class="module-details pull-left">
			<img class="pull-left" ng-src="/contents/imgs/courselist/{{data.module.courseid}}.gif">
			<div class="pull-left scenario-wrap">
				<h4 class="scenario-label uppercase">Scenario:</h4>
				<p class="scenario-text">{{data.module.moduledescription}}</p>
			</div>
		</div>
	</div>	

		<div class=" clearfix"></div>
    <hr style="border-top-color: #ddd;" />
		<div class="content-main">
			<div class="column column-left">
				<div class="question-wrap">
					<h4 class=" question-text uppercase orange question-number pull-left">1.</h4>
					<h4 style="margin-left:15px" class="question-text uppercase">{{data.module.surveys[0].surveydescription}} <span class="orange">Select one.</span></h4>
					<p ng-show="surveyError" class="survey-error" style="color: #b94a48; font-weight:bold;">Please select an answer to see what others think.</p>
					<div class="answers-wrap">
						<ul class="answers">
							<li ng-click="selectAnswer(surveyQuestion.surveyquestionid)" id="answer-{{surveyQuestion.surveyquestionid}}" class="answer" ng-repeat="(key, surveyQuestion) in data.module.surveys[0].surveyquestions">
								<div ng-show="questionAnswered" class="percentage-selected pull-left black">{{surveyResponses[key].total / surveyResponsesTotal * 100 | number:0}}%</div>
								<p>{{surveyQuestion.surveyquestionname}}</p>
								<img ng-hide="questionAnswered" class="pull-right answer-check-img" src="/contents/imgs/module/module-check-empty.png">
								<div ng-show="questionAnswered" class="v-progress-bar orange">
									<span style="width:{{surveyResponses[key].total / surveyResponsesTotal * 100 | number:0}}%"></span>
								</div>
							</li>
							
							
						</ul>
						<a ng-hide="questionAnswered" ng-click="checkAnswer(data.module.surveys[0].surveyid)" class="module-btn btn home-page-btn pull-right">Submit</a>
						<div class="clearfix"></div>
						<div ng-hide="likeMinded" class="like-minded-wrap">
							<p class="like-minded-header"><strong>Connect with like-minded people</strong></p>
							<div class="like-minded-connect">
								<img src="/contents/imgs/module/arrow-left.png" class="like-nav-arrow left-arrow pull-left">
									<div class="similar-vets">
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar1.png">
											<p class="purple">Lourdes Jacqueline</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar2.png">
											<p class="purple">Emmanuelle Beart</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar3.png">
											<p class="purple">Giambattista Bodoni</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar4.png">
											<p class="purple">Cassandra Svad-Swanson</p>
										</div>
									</div>
								<img src="/contents/imgs/module/arrow-right.png" class="like-nav-arrow right-arrow pull-right">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column column-right">
				<div class="module-tabs-wrap">
					<div class="tabs">
						<div data-content="#experts-content" class="tab tab-active experts">
							<h4 class="tab-text uppercase"><span class="module-resource-number active">2.</span> What our experts say:</h4>
						</div>
						<div data-content="#resources-content" class="tab  resources">
							<h4 class="tab-text uppercase"><span class="module-resource-number">3.</span>Additional Resources</h4>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="tab-content-wrap">
						<div class="tab-content">
							<div id="experts-content" class="v-tab-pane experts-content">


<!-- for static test -->HEY this is the one for module 40 for mobile which i puyt under module 1 directly for easy checking:{{data.module.videos[0].videopath}}

                           <video id="test-video" class="video-js vjs-default-skin" controls="" preload="auto" autoplay="true" width="100%" poster="/Contents/imgs/module/poster.jpg">
                             <!--<source src="{{data.module.videos[0].videopath}}" type="video/mp4">-->
                             <source src="http://brightcove.vo.llnwd.net/pd16/media/2342494722001/201312/1615/2342494722001_2929280671001_1-1-1.mp4" type="video/mp4">
		        	        </video>
                           <video id="test-video" class="video-js vjs-default-skin" controls="" preload="auto" autoplay="true" width="100%" poster="/Contents/imgs/module/poster.jpg">
                             <!--<source src="{{data.module.videos[0].videopath}}" type="video/mp4">-->
                             <!--<source src="http://brightcove.vo.llnwd.net/pd16/media/2342494722001/201312/1615/2342494722001_2929280671001_1-1-1.mp4" type="video/mp4">-->
                             <source src="http://brightcove.vo.llnwd.net/pd16/media/2342494722001/201312/199/2342494722001_2931979486001_1-4-1.mp4" type="video/mp4">
		        	        </video>

                             <!-- <source src="http://brightcove.vo.llnwd.net/pd16/media/2342494722001/201312/1615/2342494722001_2929280671001_1-1-1.mp4" type="video/mp4">-->


<!--
		        	        <videoplayer vsrc="{{data.module.videos[0].videopath}}"></videoplayer>
-->
                                 <!--<button class="module-btn btn uppercase pull-right purple"><a href="/transcript/@Model?w=600&h=766" target="_blank" >View Transcript</a></button>-->
                                <a class="button_replace module-btn btn uppercase pull-right purple" href="/transcript/@Model?w=600&h=766" target="_blank" >View Transcript</a>
							
							</div>
							<div style="display:none;" id="resources-content" class="v-tab-pane resources-content">
								<ul>
									<li ng-repeat="resource in data.module.resources">
										<img class="pull-left" src="/contents/imgs/module/link-icon.png">
										<div class="resource-text">
											<h4>{{resource.title}}</h4>
											<p>{{resource.description}}</p>
											<a target="_blank" href="{{resource.link}}" class="purple">Learn more</a>
										</div>
									</li>
									
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>

	<div class="clearfix"></div>
	
	<div class="module-pager">
		<a href="/module/{{data.previousmodule }}" ng-show="data.previousmodule" class="pull-left purple previous-module"><strong>Previous Module: </strong> {{data.previousmodulename}}</a>
		<a href="/module/{{data.nextmodule}}" ng-show="data.nextmodule" class="pull-right purple next-module"><strong>Next Module: </strong> {{data.nextmodulename}}</a>
	</div>
</div>

<div data-mobiletitle="Advance" data-mobileicon="learn-active.png"class="advance-container-mobile module-container-mobile mobile-container visible-xs">
<div  class="mobile-container module-container-mobile visible-xs">
    <p id="main-module-coursetitle" class="module-course-title-mobile bi uppercase">Understanding the veterinary practice</p>
    <p id="main-module-label" class="module-label-mobile uppercase bi">Module 1</p>
    <p id="main-module-title" class="module-title-mobile bi">Practice Profitability</p>

    <div class="module-tabs-mobile">
        <div class="module-tab-mobile-mod module-tab-mobile m-tab-active m-survey-tab">
            <p class="uppercase purple"><span class="orange">1. </span> Scenario</p>
        </div>
        <div class="module-tab-mobile-mod module-tab-mobile m-experts-tab">
            <p class="uppercase purple"><span>2. </span> What our Experts Say <img style="margin-left: 10px;" src="/Contents/imgs/mobile/module-video-btn-off.png" /> </p>
        </div>
    </div>
        


        <div class="m-module-tab-content">
            <div class="m-survey-content m-content-active">
	            <p>
	            	<strong>SCENARIO:</strong><br>
	            	<span id="main-module-scenario">Scenario Placeholder</span>
	            </p>
	            <p>
		            <strong class="orange">
		            <span id="main-module-description" class="module-description-mobile">
			        Question Placeholder
			        </span>
			         (Select one)
			        </strong>
		        </p>
	        	<!-- <p class="orange"><strong><span class="">Select one:</span></strong></p> -->
            	<div class="survey-questions-tab-content">
            		<p style="display:none;" class="survey-error-mobile" style="color: #b94a48; font-weight:bold;">Please select an answer to see what others think.</p>
	            	<ul class="list-group">
	                    <li class="list-group-item survey-response-item">
	                        <p class="survey-answer-text">Call the scientist and ask her what she'd like to see</p>
	                        <img style="margin-top: -22px;" class="pull-right" src="/Contents/imgs/mobile/module-check-off.png" />
	                    </li>
	                    <li class="list-group-item survey-response-item">
	                        <p class="survey-answer-text">Call the scientist and ask her what she'd like to see</p>
	                        <img style="margin-top: -22px;" class="pull-right" src="/Contents/imgs/mobile/module-check-off.png" />
	                    </li>
	                    <li class="list-group-item survey-response-item">
	                       <p class="survey-answer-text">Call the scientist and ask her what she'd like to see</p>
	                        <img style="margin-top: -22px;" class="pull-right" src="/Contents/imgs/mobile/module-check-off.png" />
	                    </li>

	                </ul>
	       			<center><button class="btn-plain short purple uppercase mobile-submit-survey">Submit</button></center>
            	</div>
            	<div style="display:none;" class="survey-answers-tab-content">
            		<div class="mobile-answers-wrap custom-well">
            		   
                        <div class="table-wrap-mobile">
                            <table class="survey-answers-table" width="100%" bgcolor="#f5f5f5" >
                                <tbody >
                                <tr class="mobile-survey-answer-selected">
                                    <td class="mobile-answer-text">Call the scientist and ask her what she'd like to see</td>
                                    <td class="mobile-answer-percent">64%</td>
                                    <td class="answer-bar">
                                        <div class="v-progress-bar-mobile module-survey-prog">
            				                <span style="width: 64%"></span>
            			                </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="mobile-answer-text">Call the scientist and ask her what she'd like to see</td>
                                    <td class="mobile-answer-percent">64%</td>
                                    <td class="answer-bar">
                                        <div class="v-progress-bar-mobile module-survey-prog">
            				                <span style="width: 64%"></span>
            			                </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="mobile-answer-text">Call the scientist and ask her what she'd like to see</td>
                                    <td class="mobile-answer-percent">64%</td>
                                    <td class="answer-bar">
                                        <div class="v-progress-bar-mobile module-survey-prog">
            				                <span style="width: 64%"></span>
            			                </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="like-minded-wrap">
							<p class="like-minded-header"><strong>Connect with like-minded people</strong></p>
							<div class="like-minded-connect">
								<img src="/contents/imgs/module/arrow-left.png" class="like-nav-arrow left-arrow pull-left" data-curpage="1" style="display:none; cursor: pointer;">
									<div class="similar-vets">
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar1.png">
											<p class="purple">Lourdes Jacqueline</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar2.png">
											<p class="purple">Emmanuelle Beart</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar3.png">
											<p class="purple">Giambattista Bodoni</p>
										</div>
										<div class="vet pull-left">
											<img class="img-circle" src="/contents/imgs/module/similar4.png">
											<p class="purple">Cassandra Svad-Swanson</p>
										</div>
									</div>
								<img style="cursor: pointer;" src="/contents/imgs/module/arrow-right.png" class="like-nav-arrow right-arrow pull-right" data-curpage="1">
							</div>
            		</div>
            		<div class="clearfix"></div>
           		</div>
           	</div>

            <div class="m-video-content " style="display:none;">
--REMOVED--
                <!--
            	<div id="mod-video-wrap">
	               <video id="promo-video-mobile-mod" class="video-js vjs-default-skin"
				      controls preload="auto" width="100%" poster="/Contents/imgs/module/poster.jpg">
				      <source src="placehoder.mp4" type="video/mp4">
				    </video>
			    </div>
                -->
			   
               	<center>
               		<a href="/transcript/@Model" class="mobile-view-transcript btn-plain long uppercase purple">View Transcript</a>
               	</center>
               <div class="resource-wrap-mobile">
	               <p class="uppercase additional-resources-title section-title purple">	<span class="orange">3</span> Additional Resources</p>
	               </p>
	                <ul class="module-list-mobile resource-list-mobile">
				        <li class="module-mobile resource">
				           <p class="resource-title">Presented by Dr. Kim Pope-Robinson
				           <img class="pull-right" src="/Contents/imgs/mobile/arrow-r.png" /></p>
				        </li>
				        <li class="module-mobile resource">
				           <p class="resource-title">Presented by Dr. Kim Pope-Robinson
				           <img class="pull-right" src="/Contents/imgs/mobile/arrow-r.png" /></p>
				        </li>
				        <li class="module-mobile resource">
				           <p class="resource-title">Presented by Dr. Kim Pope-Robinson
				           <img class="pull-right" src="/Contents/imgs/mobile/arrow-r.png" /></p>
				        </li>
				    </ul>
			    </div>
			   
			   <div class="next-module-wrap-m">
	               <p class="section-title bi">Next Module</p>

	               	<ul class="module-list-mobile">
				        <li class="module-mobile">
				            <a href="#" class="next-module-mob-a">
				            <p class="bi module-label-mobile uppercase">Module 1: <img src="/Contents/imgs/mobile/module-completed.png" /></p>
				            <p class="bi module-title-mobile">Practice Profitability<img class="pull-right arrow-r" src="/Contents/imgs/mobile/arrow-r.png" /></p>
				            <p class="module-presenter-mobile">Presented by Dr. Kim Pope-Robinson</p>
				            </a>
				        </li>
			       </ul>
		       </div>
		       
		       <div class="prev-module-wrap-m">
	               <p class="section-title bi">Prev Module</p>

	               	<ul class="module-list-mobile">
			        <li class="module-mobile">
			        	<a href="#" class="prev-module-mob-a">
			            <p class="bi module-label-mobile uppercase">Module 1: <img src="/Contents/imgs/mobile/module-completed.png" /></p>
			            <p class="bi module-title-mobile">Practice Profitability<img class="pull-right arrow-r" src="/Contents/imgs/mobile/arrow-r.png" /></p>
			            <p class="module-presenter-mobile">Presented by Dr. Kim Pope-Robinson</p>
			            </a>
			        </li>
			       </ul>
		       </div>
		       <div class="other-modules-mobile">
	               <p class="section-title bi">Other Modules in this Course</p>

	               <ul id="other-modules-ul" class="module-list-mobile other-modules-ul">
				        
			       </ul>
		       </div>
            </div>
        </div>
    
</div>

@section scripts{
    <script src="/Contents/js/pages/module.js"></script>
        
}