﻿@{
    ViewBag.Title = "Privacy";
}
<div id="pageId" class="privacy-container mobile-container" data-mobiletitle="Privacy" data-mobileicon="none">

<h3 class="uppercase privacy-header">Privacy Policy</h3>
	<p>The privacy of your personal information is important to Zoetis. To better protect your privacy, we provide you with our Privacy Policy so that you will understand our commitment to you and to your privacy. This Privacy Policy describes what information we may collect about you; how we use your information; how we protect it; and what choices you have on how that information is used. At Zoetis we want you to feel as comfortable as possible visiting our various Web sites and using their respective services.</p>



<p>As our privacy policy changes in significant ways, we will make every effort to notify you of the changes. Minor changes to the policy may occur that will not affect our use of individually identifiable or personal information. When the privacy policy changes in a way that significantly affects the way we handle personal information, we will not use the information we have previously gathered without providing notice or obtaining your consent when appropriate. We will post privacy policy changes on our Web sites in a timely manner.</p>



<p>The following articles make up our Privacy Policy. We hope that reading them gives you a clear idea of how we manage information regarding you.</p>



<ul>
	<li><strong>Personal information we collect</strong></li>
	<li><strong>How we use of your information</strong></li>
	<li><strong>How Zoetis handles privacy internally</strong></li>
	<li><strong>Your privacy choices</strong></li>
	<li><strong>Updating your personal information and contacting Zoetis</strong></li>
	<li><strong>Children&#39;s privacy</strong></li>
</ul>



<p>When we refer to ourselves as &quot;we&quot; or &quot;Zoetis,&quot; we mean our entire company, including any company that we control (for example, a subsidiary that we own). We may share information among companies that we own or control, and we may share information with our co-promotion partners, and companies working with Zoetis but all information we share will always be protected under the terms of this Privacy Policy.</p>



<p>You should read the Privacy Policy at each Web site that you visit after you leave one of our sites. Zoetis is not responsible for how other Web sites treat your privacy once you leave a Zoetis site.</p>

<h4 class="uppercase"><strong>Personal information we collect</strong></h4>



<p><strong>Information we collect from visitors</strong></p>



<p>Visitors to each of our Web sites can access the Web site&#39;s home page, and browse some areas of the site, without disclosing any personal information. We might track information provided to us by your browser, including the Web site you came from (known as the referring URL), the type of browser you use, the time and date of access, and other information that does not personally identify you. On some of our sites, you must register to access portions of the site.

In addition, we might gather information about you that is automatically collected by our Web server, such as your IP address and domain name. Zoetis may use Web server and browser information to individually customize its offerings and presentations if you submit your personal information.</p>



<p><strong>Information we collect when you register</strong></p>



<p>Visitors registering for services on our Web sites are asked to provide identifying information, such as name, gender, and contact information. On the registration screen, we clearly label which information is required for registration, and which information is optional and may be given at your discretion. Zoetis Web sites obtain visitors&#39; consent before collecting personally identifiable information.</p>



<p><strong>Information from outside sources</strong></p>



<p>We may also collect information about animal health care professionals who register on our Web sites from other sources in order to verify their licensure status and identity. In some cases, we ask customers for information after they register, such as credit card information. Where necessary (for example, to process an order for a purchase), our Web sites may contact financial or credit organizations to confirm customer credit card information.</p>



<p>From time to time we may augment our existing user databases with legally obtained information from third parties. Some of this information may be personally identifiable, such as national change of address information. We do this to better target our information offerings and promotional campaigns and to provide pertinent offers in which we think you would be interested.</p>



<p><strong>Other information</strong></p>

<p>
We also collect information that you voluntarily provide to us through responses to surveys, search functions, questionnaires, feedback, Tell Your Story forms and the like.</p>



<p>We may also ask you to provide additional information such as your e-mail address if you want to obtain additional services or information or to resolve complaints or concerns.</p>



<p><strong>Use of cookies and other tracking systems </strong></p>



<p>Cookies, log files, and pixel-tags (Web beacons) are technologies used by Zoetis Web sites to identify a user as the user moves through our Web sites. Your browser allows us to place some information (session based IDs and/or persistent cookies) on your computer&#39;s hard drive that identifies the computer you are using. We may use cookies to personalize our Web sites and to track your usage across other Zoetis Web sites.</p>



<p>Your Web browser can be set to allow you to control whether you will accept cookies, reject cookies, or to notify you each time a cookie is sent to you. If your browser is set to reject cookies, Web sites that are cookie-enabled will not recognize you when you return to the Web site, and some Web site functionality may be lost. The Help section of your browser will tell you how to prevent your browser from accepting cookies.</p>



<p>On occasion, we contract with third parties to place cookies on your computer&#39;s hard drive. These third parties have entered into an agreement with us that requires them to observe our Privacy Policy.</p>



<p>Although cookies do not normally contain personally information, if you have provided us information about you, we may associate your registration information with cookies or other tracking utilities our Web site places on your computer&#39;s hard drive. Associating a cookie with your registration data allows us to offer increased personalization and functionality. Without cookies, this functionality would not be possible.</p>



<p>Some of our business partners may use cookies on our sites (for example, links to business partners). We do not want our business partners to use cookies to track our customers&#39; activities once they leave our sites. However, we may not have total control over how our business partners may use cookies on our Web sites. If you become aware that a Zoetis business partner is placing an unwanted cookie on your hard drive, please contact Zoetis to assist us in resolving the problem.</p>



<p>In addition, we may use other tracking systems like pixel-tags. Pixel tags, sometimes called Web beacons, are similar in function to a cookie. But because of their insignificant size, it is not visible; though, they are used to pass certain information to our servers to personalize our Web sites and to track your usage across other Zoetis Web sites. In addition, we may also use pixel tags in our HTML based e-mails.</p>

<h4 class="uppercase"><strong>How we use your information</strong></h4>



<p><strong>Aggregate data</strong></p>



<p>We gather aggregate data about visitors to our Web sites for product and service development and improvement activities. We also use it for market analysis. We may provide information from our Web sites in aggregate form, with identifying information removed, to third parties. When aggregate health information is provided, we pool it from many individual records and strip it of any data that could be used to identify an individual before it is used. Any third party that receives aggregated health care data must agree not to attempt to re-identify the people it belongs to.</p>



<p><strong>Marketing </strong></p>



<p>We may target our marketing and health care messaging depending on information we have about you. We may also personalize our Web site based on your interests. For example, you may see different articles in different places on our Web site based on information you have shared with us, or information we have gained by reviewing your previous visits, or information we may have gained from your interactions with a third party that shares information with us.

When we share information with third parties working on behalf of Zoetis, we use our best efforts to assure that they agree in writing to abide by Zoetis privacy policies.</p>



<p>If we discover that a third party working on behalf of Zoetis inappropriately disclosed personal information about any of our visitors, we will take immediate action to prevent further occurrences.</p>



<p>Other than as described above, Zoetis will not release personal information to a third party without your consent.</p>



<p><strong>Tell-A-Friend</strong></p>



<p>If you choose to use our referral function to tell a friend about our site, our site will ask you for your friend&#39;s name and e-mail address as well as your information. The form automatically sends your friend a one-time e-mail inviting him or her to visit the site. We do not access or store this information, except to send this invitation.</p>


<h4 class="uppercase"><strong>Protection of information</strong></h4>



<p><strong>How Zoetis handles privacy internally</strong></p>



<p><strong>Our commitment to security</strong></p>



<p>We have put in place appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect online.</p>



<p><strong>General policies</strong></p>



<p>We have implemented technology and security policies, rules, and other measures to protect the personal data that we have under our control from unauthorized access, improper use, alteration, unlawful or accidental destruction, and accidental loss. We also protect your information by requiring that all our employees and others who have access to or are associated with the processing of your data respect your confidentiality.</p>



<p>Zoetis uses security methods to determine the identity of each registered user, so that appropriate rights and restrictions can be enforced for that user. Reliable verification of user identity is called authentication. Zoetis uses both passwords and usernames to authenticate users. Users are responsible for maintaining their own passwords.</p>



<p><strong>Storage of information</strong></p>



<p>Personal information you share with us is stored on our database servers at Zoetis data centers (in whatever country they may be located) or hosted by third parties who have entered into agreements with us that require them to observe our Privacy Policy. We have a firewall and other technology to prevent individuals from accessing information without authorization. Data centers are designed to be physically secure and protected from unauthorized access by unauthorized persons.

Information in our data centers is backed up routinely, in order to aid in the recovery of information in the event of accidental damage of information or due to a natural disaster. The backup media is stored in a physically secure storage facility.</p>



<p><strong>Third parties</strong></p>



<p>In addition to aggregate information (discussed previously), we may share some kinds of information with third parties as described below.</p>



<ul>
	<li><strong>Companies and people who work for us:</strong> Because we are a large company, we contract with other companies and individuals to help us provide services. For example, we may host some of our Web sites on another company&#39;s computers, hire technical consultants to maintain our websites, or work with companies to remove repetitive information from customer lists, analyze data, provide marketing assistance, and provide customer service. In addition, if you are an animal health care professional, we may validate your licensure status and other information against available databases that list licensed animal health care professionals. In order to perform their jobs, these other companies may have limited access to some of the personal information we maintain about our users. Other companies may collect information on our behalf through their sites. This occasionally incorporates the use of frames on the site that will not show the URL you are visiting in the browser address window. We require such companies to comply with the terms of our privacy policies, to limit their access to any personal information to the minimum necessary to perform their obligations, and not to use the information they may access for purposes other than fulfilling their responsibilities to us. We use our best efforts to limit other companies&#39; use of personal information.</li>
	<li><strong>Promotional and informational offers:</strong> Sometimes we send offers to selected groups of customers. To accomplish this we may use third parties working on behalf of Zoetis. We provide a variety of mechanisms for you to tell us you do not want to receive such promotional &mdash; informational offers. For example, we may provide an opt-in box for customers to receive information that is sent by a third-party fulfillment house, and we make clear that, by opting in, you are submitting your data to a third-party. You can elect not to receive promotional or informational material from us by following the instructions to opt-out as mentioned or included in each of our programs we send to you.</li>
	<li><strong>Business transfers:</strong> If we transfer a business unit (such as a subsidiary) or an asset (such as a Web site) to another company, we will require it to honor the terms of this Privacy Policy.</li>
	<li><strong>Legal requirements:</strong> We may release account and other personal information when we believe release is required to comply with law.</li>
</ul>



<p><strong>Your privacy choices</strong></p>



<p>You may be given the option of receiving recurring informational/promotional e-mail from Zoetis and third parties working with Zoetis. You may opt-out from receiving this e-mail when you provide the information or follow the instructions as mentioned in the e-mail or included in each program we send to you. Zoetis will unsubscribe you from that newsletter or other programs within ten business days.</p>



<p><strong>Updating your personal information and contacting Zoetis</strong></p>



<p>You can always contact us in order to <br />(i) remove the personal information that you have provided to us from our systems,<br />(ii) update the personal information that you have provided to us, and (iii) change your preferences with respect to marketing contacts by e-mailing us at <a href="mailto:privacy@Zoetis.com">privacy@Zoetis.com</a> or if available also logging into your account to update your information.</p>



<p><strong>Children&#39;s policy</strong></p>



<p>We are committed to protecting the privacy of children. We do not collect personal information from any person we actually know is a child under the age of 13.</p>



<p>Zoetis Inc. Privacy Policy updated February 11, 2013.</p>



</div>