@{
    ViewBag.Title = "Register";
}

<script src="/Contents/js/pages/members2.js"></script>
<script src="/Contents/js/pages/profiles.js"></script>

<div id="pageId" data-mobiletitle="Register" data-mobileicon="none" style="padding: 100px 10px 10px 10px !important;" class="members-container register-form mobile-container">
	<div class="register-container ">
		<div class="header">
			<h1 class="hidden-xs">Register FOR VETVANCE</h1>
			<p>
				When you register for VETVANCE, you get complete access to a personalized course list of practical advice from industry insiders, the ability to connect with mentors and peers, and hundreds of job opportunities across the country.</p>
				<p>	Already have an account? <a href="signin" class="purple">Sign in</a>.</p>

            <!--<p class="register-signin-text">Already have an account? <a href="signin">Sign in</a>.</p>-->
		</div>
		<div class="form-container">
			<i class="required-msg">All fields required.</i>
			<hr class="top hidden-xs" />
			<form id="register-form" class="form-horizontal" role="form" method="post" autocomplete="off">
				<!-- left column -->
				<div class="column">
				 	<div class="form-group email-field-group">
				    	<label for="email" class="control-label hidden-xs">Email:</label>
				    	<div class="fields email-field">
				      	<input name="email" type="email" class="form-control" id="email" placeholder="Your email address" autocomplete="off">
				      	<p><b>Tip:</b><span> Use an email address you check often that is not your school email address.
				      	</span></p>
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label for="email" class="control-label hidden-xs">Confirm Email:</label>
				    	<div class="fields">
				      	<input name="email_confirm" type="email" class="form-control" placeholder="Confirm email address">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label name="password" class="control-label hidden-xs">Password:</label>
				    	<div class="fields">
				      	<input name="password" type="Password" class="form-control" id="password" autocomplete="off" placeholder="Password - 8-16 characters, including at least 1 number">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label class="control-label hidden-xs">Confirm Password:</label>
				    	<div class="fields">
				      	<input name="password_confirm" type="Password" class="form-control" id="password_confirm" placeholder="Confirm Password">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label for="firstname" class="control-label hidden-xs">First Name:</label>
				    	<div class="fields">
				      	<input name="firstname" class="form-control" id="firstname" placeholder="First Name">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label class="control-label hidden-xs">Last Name:</label>
				    	<div class="fields">
				      	<input name="lastname" class="form-control" id="lastname" placeholder="Last Name">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label class="control-label">I am a:</label>
				    	<div class="fields">
			      		<select class="form-control" id="careertypeid" name="careertypeid"></select>
				    	</div>
				  	</div>
				</div>
				<!--/. left column -->
				<!-- right column -->
				<div class="column">
				 	<div class="form-group">
				 		<div class="radio-group">
					    	<label class="control-label">School:</label>
					    	<div class="fields radio-fields">
					    		<label><input type="radio" class="icheck radiobtn" id="vetschool" name="schoolgroup" value="Vet">AVMA-accredited School</label>
					    		<label><input type="radio" class="icheck radiobtn" id="otherschool" name="schoolgroup" value="Other" checked>All Other</label>
                        		<input name="school" id="school" class="form-control" placeholder="Type or choose a school">
					    	</div>
					    </div>
				  	</div>
				 	<div class="form-group">
				    	<label class="control-label hidden-xs">Graduation Date:</label>
				    	<div class="fields">
						<select id="graduation" name="graduation" class="form-control">
							<option value="">Select Graduation Date</option>
					        @for (var i = (DateTime.Now.Year + 7); i >= (DateTime.Now.Year - 65); i--)
					        {
					            <option value="@i">@i</option>
					        }
					    </select>
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label for="securityquestion" class="control-label hidden-xs">Security Question:</label>
				    	<div class="fields">
			      		<select class="form-control" id="securityquestion" name="securityquestion"></select>
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label for="securityanswer" class="control-label hidden-xs">Security Answer:</label>
				    	<div class="fields">
				      	<input type="name" class="form-control" id="securityanswer" name="securityanswer" placeholder="Security Answer">
				    	</div>
				  	</div>
				 	<div class="form-group">
				    	<label class="control-label"></label>
				    	<div class="fields check-fields">
				    		<input type="checkbox" class="icheck" id="optemail" name="optemail"><span>Please send me email communication from VETVANCE and Zoetis.</span>
				    		<input type="checkbox" class="icheck" id="optterms" name="optterms"><span>I agree with the Zoetis <a href="tou">Terms of Use</a> and <a href="privacy">Privacy Policy</a>.</span>
                     <input type="hidden" name="optterms" value="" />
                     <span class="touerror">You must accept the Terms of Use and Privacy Policy to continue.</span>				    		
				    	</div>
				  	</div>
				</div>
			  	<hr class="bottom hidden-xs" />
			  	<div class="buttons">
			  		<button type="submit" style="width: 153px;" class="btn btn-default btn-submit">register</button>	
			  		<button type="submit" class="btn-cancel visible-xs btn-plain short uppercase cancel-reg">Cancel</button>			  		
			  	</div>
			</form>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
	    
	// add page to namespace
	VETAPP.namespace('VETAPP.pages.register');

	// create page
	VETAPP.pages.register = (function() {

		var self = {};

		self.init = function init() { ///console.log('init page: register.js');

			var self = this;
			
			self.isMobile = window.orientation || Modernizr.touch;
			self.container = $('.main-container');
			self.mobileWrap = $('.mobile-header');
			// init Modules
			self.initModules();
			// Bind events
			self.bindEvents();
		}

		self.initModules = function()
		{
			var self = this;
			mobileNav = new VETAPP.Classes.Mobilenav({
	            page : '.members-container'
	        }, self.mobileWrap); 
		}

		self.bindEvents = function()
		{	
			var self = this;
		}

		return self;
	}());

	$(document).ready(function(){
		VETAPP.pages.register.init();	
	});
		
	</script>
}
