﻿
@{
    ViewBag.Title = "ResetPassword";
}

<div id="pageId" class="members-container forgot-form mobile-container" data-mobiletitle="Password" data-mobileicon="none">
	<div class="password-container">
		<div class="header">
			<h1>Forgot your password?</h1>
			<p>
				Forgot your password? Enter the email address you used when you registered to reset your password. If you are having trouble resetting your password or signing in, please <a href="contact.html">contact us</a>.
			</p>
		</div>
		<div class="form-container">
			<i class="required-msg">All fields required.</i>
			<hr class="top" />
			<form class="form-horizontal" role="form" method="post" id="forgot-form" action="/process/reset/?guid=@ViewBag.guid&redirect=/">
			 	<div class="form-group">
			    	<label for="email" class="control-label">Email:</label>
			        @ViewBag.email
			  	</div>
			 	<div class="form-group">
			    	<label for="lastname" class="control-label">Last Name:</label>
                     @ViewBag.lastname
			  	</div>
                <div class="form-group">
			    	<label for="securityquestion" class="control-label">Security Question:</label>
                     @ViewBag.securityquestion
			  	</div>
                <div class="form-group">
			    	<label for="securityanswer" class="control-label">Security Answer:</label>
			      <input type="securityanswer" class="form-control" id="securityanswer" name="securityanswer" placeholder="Your security answer" />
			  	</div>

                <div class="form-group">
			    	<label for="password" class="control-label">Password:</label>
			      <input type="password" class="form-control" id="password" name="password" placeholder="Your new password" />
			  	</div>

			  	<hr class="bottom" />
			  	<div class="buttons">
			  		<button type="submit" class="btn btn-default btn-submit">continue</button>
			  		<button type="cancel" class="btn btn-default btn-cancel">Cancel</button>
			  	</div>
			</form>
		</div>
	</div>
</div>