﻿@model string
@{
    ViewBag.Title = "Search";
}

<script>var model = "@Model";</script>
<div id="pageId" class="search-container search-results-wrap hidden-xs" ng-controller="vSearchCtrl" ng-cloak ng-show="results">
    <h3 class="search-results-header">Search Results</h3>
    <form action="/search" method="get">
        <input ng-model="query" name="keyword" type="search" value="" class="search-courses"/>
        <button href="#" class="search-btn">Search</button>
    </form>  
    <h5>Results</h5>
    <p class="result-meta">There are <strong>{{modulesNum}}</strong> modules in <strong>{{courseNum}}</strong> courses that match <strong>{{query}}</strong></p>

    <ul class="search-results">
        <li class="result-item" ng-repeat="(key, resultwrap) in results track by $index">

                <div class="course-logo pull-left">
                    <img src="/Contents/imgs/courselist/{{key}}.gif">
                </div>
                <a href="/course/{{key}}"><h4 class="course-fb fb" ng-bind-html="headers[key] | highlight:query"></h4></a>

                <div class="course-results-wrap" ng-repeat="result in resultwrap">
                    <div class="module-result">
                        <p class="module-result-header fb"><span class="module-num">Module {{result.sequence}}:</span> <a href="/module/{{result.moduleid}}"><span ng-bind-html="result.modulename | highlight:query"></span></a></p>
                        <!--<p><span class="module-subhead">Scenario</span> <span ng-bind-html="result.moduledescription | highlight:query"></span></p>-->
                        <p class="hidden"><span class="module-subhead">Transcript</span><span ng-bing-html="result['videos'][0]['transcript'] | highlight:query"></span></p>
                    </div>
                </div>


        </li>

    </ul>
</div>

<div data-mobiletitle="Search" data-mobileicon="search-active.png" class="mobile-container search-results-mobile-wrap visible-xs">
    <div class="search-field">
        <!--<input type="submit" class="ico-search">-->
        <div class="input-padding">
        <form action="/search" method="get" >
            <!-- class="form-wrapper cf"-->
            <input id="mobile-search-input" name="keyword" type="text" value="" class="filter-item" placeholder="Keyword" name="keyword" type="text">
            <!-- <button class="search-btn btn btn-primary">Go</button> -->
            <img id="mobile-search-btn" src="/Contents/imgs/mobile/search_icon.png" class="mobile-search-btn" />
        </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="mobile-search-text">
        <div style="display:none;" class="loader">
            <center>
                <img src="/Contents/imgs/loader.gif" />
            </center>
        </div>
        <h5 style="display: none; margin-top:10px !important; margin-bottom: 0px; font-weight: bold;" class="results-header proxima uppercase">Results</h5>
        <p style="display:none;" class="result-meta">There are <span id="num-modules" style="font-weight:bold;">[X]</span> modules in <span id="num-courses" style="font-weight:bold;">[X]</span> courses that match <span id="search-keyword" style="font-weight:bold;">[X]</span></p>
    </div>
     <ul class="search-results">
       
     </ul>
     <p id="no-results-mobile">Sorry, there are no results</p>
</div>


@section scripts{
    <script src="/Contents/js/angular/angular.js"></script>
        <script src="/Contents/js/angular/angular-route.js"></script>
    <script src="/contents/js/plugins/angular-sanitize.js"></script>
    <script src="/contents/js/pages/vsearch.js"></script>
}