@{
    ViewBag.Title = "Sign In";
}

<script src="/Contents/js/pages/members.js"></script>
<script src="/Contents/js/pages/profiles.js"></script>

<div id="pageId" data-mobiletitle="Sign In" data-mobileicon="none" class="members-container signin-form mobile-container">
	<div class="signin-container">
		<div class="header">
			<h1 class="hidden-xs">Sign in</h1>
			<p class="mobile-signin-text">
				Sign in to get access to your account to continue your personalized curriculum and connect with other students and veterinarians.
			</p>
			<a class="mobile-register-link" href="register">Need to register?</a>
		</div>
		<div class="form-container">
			<i class="required-msg">All fields required.</i>
			<img class="hidden-xs" src="/Contents/imgs/hr-signin.png" alt="" />
			<form role="form" action="/process/authenticate/?redirect=@Request.QueryString["ReturnUrl"]" method="post" id="signin-form">
				<div class="form-group">
			   	    <label for="email">Email:</label>
			        <input type="email" value="@ViewBag.email" class="form-control" name="email" id="email" placeholder="Your email address">
			  	</div>
			  	<div class="form-group">
			   	    <label for="password">Password:</label>
			    	<input type="password" class="form-control" name="password" id="password" autocomplete="off" placeholder="password">
			  	</div>
			  	<div class="checkbox-remember">
			    	<label><input type="checkbox" name="remember" id="remember" class="icheck" @ViewBag.remember>Remember me</label>
			  	</div>
			  	<div class="buttons">
			  		<button type="submit" class="btn btn-default btn-submit mobile-submit">sign in</button>
			  		<button type="cancel" class=" hidden-xs btn btn-default btn-cancel">Cancel</button>
			  	</div>
			  	<div class="footer">
			  		<img class="hidden-xs" src="/Contents/imgs/hr-signin.png" alt="" />
				  	<p>
				  		Unable to sign in? <a href="forgotpassword">Reset your password</a>
				  	</p>
			  </div>
			</form>
		</div>

	</div>
</div>

@section scripts{
	<script type="text/javascript">

	// add page to namespace
	VETAPP.namespace('VETAPP.pages.signin');

	// create page
	VETAPP.pages.signin = (function() {

		var self = {};

		self.init = function init() { ///console.log('init page: signin.js');

			var self = this;
			
			self.isMobile = window.orientation || Modernizr.touch;
			self.container = $('.main-container');
			self.mobileWrap = $('.mobile-header');
			// init Modules
			self.initModules();
			// Bind events
			self.bindEvents();
		}

		self.initModules = function()
		{
			var self = this;
			mobileNav = new VETAPP.Classes.Mobilenav({
	            page : '.members-container'
	        }, self.mobileWrap); 
		}

		self.bindEvents = function()
		{	
			var self = this;
		}

		return self;
	}());

	$(document).ready(function(){
		VETAPP.pages.signin.init();	
	});
		
	</script>
}