﻿@model int
@{
    Layout = "";
}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Transcript</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//use.typekit.net/woj0cag.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="/contents/css/global.css">
        <link rel="stylesheet" href="/contents/css/transcript.css">
    </head>
    <body>
        <div class="transcript-container mobile-container" data-mobiletitle="Transcript" data-mobileicon="none">
            <img src="/contents/imgs/logo.png" />
            
            <h1 class="bi" id="course-name">Resume Writing Skills</h1>
            <h3 id="module-name"><span class="bi subname">CV vs Resume</span> by <small id="presenter-name">Dr. Mitch Blanding</small></h3>

            <div class="body-content">
                <!--
                <h3 class="uppercase">
                    Scenario
                </h3>
                <p id="scenario">Text Goes Here</p>
                
                <h3 class="uppercase">
                    Script
                </h3>
                -->
                <p id="script">More, longer text will go here for sure.</p>
            </div>
        </div>
    </body>
</html>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>  
<script>


    $(document).ready(function () {


        var $_GET = {};

        document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
            function decode(s) {
                return decodeURIComponent(s.split("+").join(" "));
            }

            $_GET[decode(arguments[1])] = decode(arguments[2]);
        });

        $(window).width($_GET['w']);
        $(window).height($_GET['h']);
        var user_id = window.userid || 20;
        var endpoint = "/api/Module/@Model?userid=" + user_id;
        $.ajax({
            url: endpoint,
            format: JSON
        }).done(function (data) {
            //console.log(data);
            $('#course-name').text(data[0].coursename[0]);
            $('.subname').html(data[0].module.modulename);
            var presenter_name = data[0].module.presenter.presenterfirstname + " " + data[0].module.presenter.presenterlastname;
            $('#presenter-name').text(presenter_name);

            $('#scenario').html(data[0].module.moduledescription);
            $('#script').html(data[0].module.videos[0].transcript);
        })


    });
</script>
