@{
    ViewBag.Title = "UpdateProfile";
}

@section styles{
    <link rel="stylesheet" href="contents/css/modules/popover-profiles.css">
}

<script src="/Contents/js/pages/members.js"></script>
<script src="/Contents/js/pages/profiles.js"></script>

<div id="pageId" data-mobiletitle="Update Profile" data-mobileicon="none" class="update-profile-container mobile-container mobile-update-container">
	<form class="form-horizontal" role="form" id="update-form" action="/Process/UpdateProfile/@Session["userid"]?redirect=/UserProfile" method="post" enctype="multipart/form-data" >
	<div class="header">
		<div class="mobile-data-container visible-xs">
			<p class="data-container-title purple">BASIC INFO<span class="hidden-xs">RMATION</span> <span class="required-text">(required)</span></p>
		</div>
		<div class="profile-user">
			<div class="user-photo viewprofile">
				<img class="user-avatar img-circle" height="70" class="img-circle" alt="" />
				<input name="avatar" type="file" id="fileupload" />
				<img src="contents/imgs/profiles/icon.upload.png" alt='' class="upload-photo" />
			</div>
			<div class="user-data">
				<div class="form-fields">
					<div class="form-group">
			    		<label for="" class="col-sm-3 control-label short">First Name:</label>
				    	<div class="fields short">
				      	<input type="text" class="form-control" name="firstname">
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="col-sm-3 control-label short">Last Name:</label>
				    	<div class="fields short">
				      	<input type="text" class="form-control" name="lastname">
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="col-sm-3 control-label">Email:</label>
				    	<div class="fields">
				      	<input type="text" class="form-control" name="email">
				    	</div>
				  	</div>				  	
				</div>
			</div>
		  	<div class="buttons hidden-xs">		  		
		  		<button type="submit" class="btn btn-default btn-save-profile track-click" trkname="Profile|Update|Save">save</button>
		  		<button type="button" class="btn btn-default btn-cancel-update-profile track-click" trkname="Profile|Update|Cancel">cancel</button>
		  	</div>
		</div>
	</div>

	<div class="form-container">
		<hr class="hidden-xs" class="top" />
		<h2 class="hidden-xs">update your profile</h2>
		<!-- left column -->
		<div class="column">
			<div class="data-container">
				<h4 class="hidden-xs">basic info </h4><i class="hidden-xs">(required)</i>
				<hr class="hidden-xs" />
				<div class="data-items">
					<div class="form-group tight">
			    		<label for="" class="control-label">ZIP&nbsp;code:</label>
				    	<div class="fields">
				      	<input type="text" class="form-control" name="zip">
				    	</div>
				  	</div>
					<div class="form-group tight">
			    		<label for="" class="control-label">Profession:</label>
				    	<div class="fields">
				      	<input type="text" class="form-control" id="lastname" name="profession">				      	
				    	</div>
				  	</div>
					<div class="form-group ">
			    		<label for="" class="control-label">Title:</label>
				    	<div class="fields">
				      	<input type="text" class="form-control" id="lastname" name="title">				      	
				    	</div>
				  	</div>
					<div class="form-group hidden-xs">
			    		<label for="" class="control-label">Interest/Practice:</label>
				    	<div class="fields">
				    		<ul id="filtered-tags-interest" class="filtered-tags"></ul>
				      	<a href="#" id="btnInterest" class="btn btn-default btn-mini btn-popover">EDIT</a>
				    	</div>
				  	</div>
			 		<!-- <div class="form-group">
				 		<div class="radio-group">
					    	<label for="" class="control-label">School:</label>
					    	<div class="fields radio-fields">
					    		<label class="extra-fields"><input type="radio" class="icheck radiobtn" id="vetschool" name="schoolgroup" value="Vet">AVMA-accredited School</label>
					    		<label class="extra-fields"><input type="radio" class="icheck radiobtn" id="otherschool" name="schoolgroup" value="Other">All Other</label>
					    		<div class="clear"></div>
				      		<span id="school-wrap"><input name="school" id="school" class="form-control" placeholder="Type or choose a school"></span>
					    	</div>
					    </div>						    
				  	</div> -->
				  	<div class="form-group">
				 		<div class="radio-group">
					    	<label class="control-label">School:</label>
					    	<div class="fields radio-fields">
					    		<label class="extra-fields"><input type="radio" class="icheck radiobtn" id="vetschool" name="schoolgroup" value="Vet">AVMA-accredited School</label>
					    		<label class="extra-fields"><input type="radio" class="icheck radiobtn" id="otherschool" name="schoolgroup" value="Other" checked>All Other</label>
                        		<span id="school-wrap"><input name="school" id="school" type="text" class="form-control" placeholder="Type or choose a school"></span>
					    	</div>
					    </div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="control-label">Graduation:</label>
				    	<div class="fields">
			      		<select class="form-control" id="graduation" name="graduation">
					        @{
					            // Range of Age is retirement age (-65 years from current year to next graduates (next 7 years)
					            for (var i = (DateTime.Now.Year - 65); i <= (DateTime.Now.Year + 7); i++)
					            {
					                <option value="@i">@i</option>   
					            }
					        }
			      		</select>
				    	</div>
				  	</div>
				</div>
			</div><!--/. data-container -->
			<div class="data-container privacy-container-form">
				<h4 class="hidden-xs">Privacy &amp; Security Settings</h4> <i class="hidden-xs">(required)</i>
				<hr class="hidden-xs"/>
				<div class="mobile-data-container visible-xs">
					<p class="data-container-title purple">PRIVACY AND SECURITY <span class="required-text">(required)</span></p>
				</div>
				<div class="data-items">
					<div class="form-group">
			    		<label for="" class="control-label">Password:</label>
				    	<div class="fields">
				      	<input type="password" class="form-control" name="password" id="password">
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="control-label">Confirm Password:</label>
				    	<div class="fields">
				      	<input type="password" class="form-control" name="password_confirm" id="password_confirm">
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="control-label">Security Question:</label>
				    	<div class="fields">
				      	<select class="form-control" id="securityquestion" name="securityquestion"></select>
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="control-label">Security Answer:</label>
				    	<div class="fields">
				      	<input type="text" class="form-control" id="securityanswer" name="securityanswer">					      	
				    	</div>
				  	</div>
					<div class="form-group tight">
			    		<label for="" class="control-label checkfield">
			    			<input type="checkbox" class="icheck" id="optpublic" name="optpublic">
			    		</label>
				    	<div class="fields mobilecheck">
							Allow others to see my email address. (If not selected, you will not be able to connect with others.)
				    	</div>
				  	</div>
					<div class="form-group">
			    		<label for="" class="control-label checkfield">
			    			<input type="checkbox" class="icheck" id="optemail" name="optemail">
			    		</label>
				    	<div class="fields mobilecheck">
							Please send me email communication from Zoetis.
				    	</div>
				  	</div>
				</div>
			</div>
		</div><!--/. left column -->
		<!-- right column -->
		<div class="column right">
			<div class="data-container">
				<h4 class="hidden-xs">Additional info</h4>
				<hr class="hidden-xs"/>
				<div class="form-group">
	    		<div class="mobile-data-container visible-xs">
					<p class="data-container-title uppercase purple">Interest/Practice</p>
				</div>
		    	<div class="fields">
		    		<ul id="tags-interest" class="list-jobs"></ul>
			      	<div class="add-interest-container">
			      		<select class="selectize" id="interest-mobile-select" >
			      			<option value="">Select an interest</option>
			      			<option value="acquatic">Aquatic Animal Health</option>
			      			<option value="mixedpractice">Mixed Practice</option>
			      			<option value="mixedcattle">Mostly cattle</option>
			      			<option value="mixedswine">Mostly swine</option>
			      			<option value="mixedequine">Mostly equine</option>
			      			<option value="mixedcompanion">Mostly companion animals</option>
			      			<option value="smallanimals">Small Animals</option>
			      			<option value="smallcanine">Canine</option>
			      			<option value="smallfeline">Feline</option>
			      			<option value="smallexotics">Exotics</option>
			      			<option value="foodanimals">Food Animals</option>
			      			<option value="foodbeef">Beef Cattle</option>
			      			<option value="fooddairy">Dairy Cattle</option>
			      			<option value="foodcow">Cow Calf</option>
			      			<option value="foodpoultry">Poultry</option>
			      			<option value="foodswine">Swine</option>
			      			<option value="equine">Equine</option>
			      			<option value="smallruminant">Small Ruminant</option>
			      			<option value="labanimal">Lab Animal</option>
			      			<option value="government">Government</option>
			      			<option value="armedforces">Armed Forces</option>
			      			<option value="publichealth">Public Health</option>
			      			<option value="industry">Industry</option>
			      			<option value="zoo">Zoo/Exotic</option>
			      			<option value="other">Other</option>
			      		</select>
			      		<a href="#" class="formfields btn btn-default btn-mini btn-add interest">ADD</a>
			      	</div>
		    	</div>
			  </div>
				<div class="mobile-data-container visible-xs">
					<p class="data-container-title uppercase purple">expertise/specialty </p>
				</div>
				<div class="form-group">
	    		<label for="" class="control-label hidden-xs">Expertise/Specialty:</label>
		    	<div class="fields">		    		
		    		<ul id="filtered-tags-specialty" class="list-jobs"></ul>
		      	<input name="expertise-mobile" id="expertise-mobile" class="form-control hidden-xs" placeholder="Enter Expertise">
		      		<select class="selectize" id="expertise-mobile-select">
		      			<option value="">Select a specialty</option>
		      			<option value="anesthesiology">Anesthesiology</option>
		      			<option value="animalwelfare">Animal Welfare</option>
		      			<option value="behavior">Behavior</option>
		      			<option value="clinicalpharmacology">Clinical Pharmacology</option>
		      			<option value="dermatology">Dermatology</option>
		      			<option value="emergencyandcriticalcare">Emergency and Critical Care</option>
		      			<option value="internalmedicine">Internal Medicine</option>
		      			<option value="laboratorymedicine">Laboratory Medicine</option>
		      			<option value="microbiology">Microbiology</option>
		      			<option value="nutrition">Nutrition</option>
		      			<option value="ophthalmology">Ophthalmology</option>
		      			<option value="pathology">Pathology</option>
		      			<option value="preventivemedicine">Preventive Medicine</option>
		      			<option value="radiology">Radiology</option>
		      			<option value="sportsmedicineandrehabilitation">Sports Medicine and Rehabilitation</option>
		      			<option value="surgery">Surgery</option>
		      			<option value="theriogenology">Theriogenology</option>
		      			<option value="toxicology">Toxicology</option>
		      			<option value="veterinarypractitioners">Veterinary Practitioners</option>
		      			<option value="zoologicalmedicine">Zoological Medicine</option>
		      		</select>
		      	<a href="#" class="btn btn-default btn-mini" id="mobile-add-specialty">ADD</a>
		      	<a href="#" class="btn btn-default btn-mini btn-popover hidden-xs" id="btnSpecialty">EDIT</a>
		    	</div>
		  	</div>
		  		<div class="mobile-data-container">
					<p class="data-container-title uppercase purple visible-xs">Affiliations</p>
				</div>
				<div class="form-group">
	    		<label for="" class="control-label hidden-xs">Affiliation:</label>
		    	<div class="fields">
		    		<ul id="tags-affiliations" class="list-affiliations"></ul>
		    		<span class="lookup-organization hidden-xs">
		    			<input name="organization" id="organization" class="form-control" placeholder="Name of organization">
		    			<a href="#" class="lookup btn-popover hidden-xs" id="btnLookUp">Look up</a>
		    		</span>
		    		<span id="affiliation-mobile-update-wrap" class="visible-xs">
		    			
		    		</span>
		      	<a href="#" class="btn btn-default btn-mini btn-add affiliation">ADD</a>
		    	</div>
		  	</div>
			<div class="form-group">
	    		<label for="" class="control-label hidden-xs">Jobs:</label>
	    		<div class="mobile-data-container visible-xs">
					<p class="data-container-title uppercase purple">jobs</p>
				</div>
		    	<div class="fields">
		    		<ul id="tags-jobs" class="list-jobs"></ul>
			      	<div class="add-job-container">
			      		<label for="" class="control-label hidden-xs left_align">Your Title:</label>
			      		<input class="formfields form-control" type="text" placeholder="Your Title" name="jobtitle">
			      		<label for="" class="control-label hidden-xs left_align">Company:</label>
			      		<input class="formfields form-control" type="text" placeholder="Company" name="jobcompany">
			      		<select class="formfields form-control" name="jobyear" id="jobyear">
			      			<option value="">Start Year</option>
			      			@{
						            // Range of Age is retirement age (-65 years from current year to next graduates (next 7 years)
						            for (var i = (DateTime.Now.Year - 65); i <= (DateTime.Now.Year); i++)
						            {
						                <option value="@i">@i</option>   
						            }
						        }
			      		</select>
			      		<a href="#" class="formfields btn btn-default btn-mini btn-add job">ADD</a>
			      	</div>
		    	</div>
			  </div>
			<div class="buttons">
			  		<button type="submit" style="width: 140px;" class="pull-left btn btn-default btn-save-profile">save changes</button>	
			  		<button type="submit" style="width: 90px;" class="pull-left visible-xs btn-plain short uppercase cancel-reg btn-cancel-update-profile">Cancel</button>
			  	</div>
			</div><!--/. data-container-->
		</div><!--/. right column -->
	</div><!--/. form-container -->
	</form>
</div>
<div class="popover-container"></div>
@RenderPage("templates/_popover-affiliations.cshtml")
@RenderPage("templates/_popover-interest.cshtml")
@RenderPage("templates/_popover-specialty.cshtml")



@section scripts{
    <script type="text/javascript">
    // TO_DO- remove from global 
        $.ajax({
            url: "/api/NewConnections/@Session["userid"]",
            // data: { key: val },
            dataType: JSON
        }).done(function (data) {
            ///console.log(data);

            // new connections
            _html = '<li>You have ' + (data.length) + ' new connections</li>';
            for (var i = 0; i < 2; i++) { // show 2 only
                //_html += '<li><img src="/contents/avatars/' + data[i]['user'].avatar + '" alt="" height="32" class="img-circle" />' + data[i]['user'].firstname + ' ' + data[i]['user'].lastname + '</li>'; // profile is not linked
                _html += '<li><a class="userlink" href="#"><img src="/contents/avatars/' + data[i]['user'].avatar + '" alt="" height="32" class="img-circle" />' + data[i]['user'].firstname + ' ' + data[i]['user'].lastname + '</a></li>';
                _html += '<li class="divider"></li>';
            }

            if (data.length > 2) { // if there are more than 2
                _html += '<li class="menuitem more"><a class="userlink" href="/UserProfile">' + (data.length - 2) + ' more...</a></li>';
                _html += '<li class="divider"></li>';
            }

            $('ul.dropdown-menu').html(_html + $('ul.dropdown-menu').html());
        });

    </script>
}