﻿@{
    ViewBag.Title = "Profile";
}

<script src="/Contents/js/pages/members.js"></script>
<script src="/Contents/js/pages/profiles.js"></script>

<link rel="stylesheet" href="/Contents/css/profiles.css">
<div id="pageId" class="profile-container mobile-container" data-mobiletitle="My Profile" data-mobileicon="none">
	<form class="form-horizontal" role="form">
	<div class="header">
		<div class="profile-user">
			<div class="user-photo viewprofile"></div>
			<div class="user-data">
				<div class="display">
					<h1></h1>
					<h2></h2>
					<h3></h3>
					<div class="buttons mobile-userpro visible-xs">
				  		<button type="button" class="btn btn-default btn-update-profile mobile-update-btn">update <span class="hidden-xs">profile</span></button>
				  	</div>
				</div>
			</div>
		  	<div class="buttons mobile-userpro hidden-xs">
		  		<button type="button" class="btn btn-default btn-update-profile mobile-update-btn">update <span class="hidden-xs">profile</span></button>
		  	</div>
		</div>
	</div>

	<div class="display-container">			
		<hr class="top" />				
			<!-- left column -->
			<div class="column">
				<div class="data-container">
					<h4>basic info</h4>
					<hr />					
					<ul class="data-items mob-user-pro">
						<li>
				    		<label class="control-label">ZIP&nbsp;code:</label>
				    		<span class="zip"></span>								
						</li>
						<li>
				    		<label class="control-label">Profession:</label>
				    		<span class="profession"></span>
						</li>
						<li>
				    		<label class="control-label">School:</label>
				    		<span class="school"></span>
						</li>
						<li>
				    		<label class="control-label">Graduation:</label>
				    		<span class="graduation"></span>
						</li>
						<li>
				    		<label class="control-label">Interest/Practice:</label>
				    		<ul class="sublist interest"></ul>
						</li>
					</ul>
				</div>

				<div class="data-container">
					<h4>additional info</h4>
					<hr />					
					<ul class="data-items">
						<li>
				    		<label class="control-label">Affiliations:</label>
				    		<ul class="sublist affiliations"></ul>				    		
						</li>
						<li>
				    		<label class="control-label">Jobs:</label>
				    		<ul class="sublist jobs"></ul>
						</li>
						<li>
				    		<label class="control-label">Expertise/Specialty:</label>
				    		<ul class="sublist specialty"></ul>
						</li>
					</ul>

					<div class="privacy-container">
						<strong>Privacy &amp; Security Settings</strong>
						<ul></ul>
					</div>

				</div>
			</div>
			<!--/. left column -->
			<div class="data-container visible-xs">
				<ul class="list-group">
					<li data-filtertype="all" class="list-group-item">
						<a href="/connect" class="purple">See My Connections<img class="pull-right arrow-r" src="/Contents/imgs/mobile/arrow-r.png" /></a>
						
					</li>
				</ul>
			</div>
			<!-- right column -->
			<div class="column right hidden-xs">
				
				<div class="data-container new-connections">
					<h4>new connections</h4>
					<hr />
					<div class="friends-container">
						<!-- generated content placeholder -->
					</div>
				</div>

				<div class="data-container vetvance-connections">
					<h4>Vetvance Connectons</h4>
					<hr />
					<div class="friends-container">
						<!-- generated conntent placeholder -->
					</div>
				</div>
			</div>
			<!--/. right column -->
		</div>
	</form>
</div>

@section scripts{
    <!-- new connections: to be MOVED -->
    <script type="text/javascript">
        // populate
        populateNewConnections();
        populateConnections();
        //populateUserInfo();

        // FUNCTIONS BELOW //

        // populate new connections
        function populateNewConnections() {
            $.ajax({
                url: "/api/NewConnections/@Session["userid"]",
                // data: { key: val },
                dataType: JSON
            }).done(function (data) {
                ///console.log(data);

                // new connections
                _html = '';
                for (var i = 0; i < (data.length) ; i++) { // show 2 only
                    _html += '<img data-id="'+ data[i]['user'].userid  +'" class="btnConnect" src="/Contents/avatars/' + data[i]['user'].avatar + '" alt="" height="80" class="img-circle" />';
                }
                $('div.data-container.new-connections .friends-container').html(_html);
            });
        }

        // populate connections
        function populateConnections() {
            $.ajax({
                url: "/api/UserConnections/@Session["userid"]?sort=default",
                // data: { key: val },
                format: JSON
            }).done(function (data) {
                ///console.log(data);

                // new connections
                _html = '';
                for (var i = 0; i < (data.length) ; i++) { // show 2 only
                    _html += '<img src="/Contents/avatars/' + data[i]['user'].avatar + '" alt="" height="80" class="img-circle" />';
                }
                $('div.data-container.vetvance-connections .friends-container').html(_html);
            });
        }
    </script>
}