﻿@{
    ViewBag.Title = "WhoWeAre";
}

@section scripts{
    <script src="/Contents/js/pages/whoweare.js"></script>
}

<script type="text/javascript">
    // force http
    if (window.location.protocol != "http:") { window.location.href = "http:" + window.location.href.substring(window.location.protocol.length); }
</script>

<div id="pageId" class="whoweare-container mobile-container hidden-xs">		
	<div class="columns left-column">
		<h2>WHO WE ARE</h2>
		<p>
			VETVANCE has brought together contributors from across the country to impart years of practical experience to help new veterinarians like you establish your career. Their various areas of expertise as well as diverse backgrounds help us to bring you the information you need to handle the non-clinical aspects of your business. 
		</p>
		<h3>
			Share the VETVANCE Story
		</h3>

		<div class="video-container-who" >			 
            <video id="whoweare-video" poster="/Contents/imgs/promoposter.jpg" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="384" height="258" data-setup='{"example_option":true}'>
                <!--<source src="http://brightcove.vo.llnwd.net/e1/uds/pd/2342494722001/2342494722001_2903424477001_PAH12097-VetVance-Promotional-Video-110613-NoWeb.mp4" type="video/mp4" />-->
                <source src="/Contents/videos/HOMEPAGEVIDEO.mp4" type="video/mp4">
                <source src="/Contents/videos/HOMEPAGEVIDEO.webm" type="video/webm">
          	</video>

		</div>
	</div>
	<div class="columns contributors">
		<div class="header">
			<h3>The VETVANCE Contributors</h3>
			<hr></hr>
			<p class="helper">Click on an image to learn more about a contributor. </p>
		</div>
		<ul class="data-container"></ul>
	</div>
	<div class="modal-container"></div>
</div>

<div id="whoweare-container" data-mobiletitle="Who We Are" data-mobileicon="whoweare-active.png" class="mobile-container whoweare-container-mobile visible-xs">
	<div data-role="page" id="whoweare-toplevel" class="top-level whoweare-toplevel slide-wrap">
		<div data-role="content">	
			<div class="whoweare-video-mobile-wrap">
				<video id="whoweare-video-mobile" class="video-js vjs-default-skin"
			      controls preload="auto" width="100%" poster="/Contents/imgs/promoposter.jpg" data-setup='{"example_option":true}'>
                  <!--<source src="http://brightcove.vo.llnwd.net/e1/uds/pd/2342494722001/2342494722001_2903424477001_PAH12097-VetVance-Promotional-Video-110613-NoWeb.mp4" type="video/mp4" />-->
                  <source src="/Contents/videos/HOMEPAGEVIDEO.mp4" type="video/mp4">
 			    </video>
		    </div>
		    <p style="margin-top: 10px; margin-bottom: 10px;" class="whoweare-title uppercase purple">Who we Are</p>
		    <p class="whoweare-description">VETVANCE has brought together contributors from across the country to impart years of practical experience to help new veterinarians like you establish your career. Their various areas of expertise as well as diverse backgrounds help us to bring you the information you need to handle the non-clinical aspects of your business.</p>
		    <ul class="list-group">
		    	<li class="list-group-item purple">
		    		<a href="#" data-transition="slide" data-parentpageid="whoweare-toplevel" data-targetelem="contributors-page" class="slide-nav">
		    			Meet our contributors
		    			<img class="pull-right arrow-r" src="/Contents/imgs/mobile/arrow-r.png" />
		    		</a>
		    	</li>
		    </ul>
		</div>
	</div>
	<div data-role="page" style="display: none;" id="contributors-page" class="contributors-page slide-wrap">
		<div data-role="content">
			<p class="contributors-title uppercase purple">The Vetvance Contributors</p>

			<ul class="contributors">
		        <div style="text-align:center;" class="loader">
		        	<img src="/Contents/imgs/loading.gif" />
		        </div>
		    </ul>
		</div>
	</div>

	<div id="contributor-details-wrap"></div>

    
</div>

<script id="presenter-template" type="text/x-handlebars-template">
{{#each .}}
<li class="data-person">
	<a href="#" data-id="{{presenterid}}" class="show-contributor">
		<img class="user-head img-circle photo" src="/Contents/imgs/whoweare/{{presenterthumbnail}}" alt="" data-profile="contents/imgs/whoweare/{{presenterimage}}" />
	</a>
	<span class="info">
		<strong class="fullname"><!-- {{presenterprefix}} -->{{presenterfirstname}} {{presenterlastname}}</strong>
		<p class="status">{{presentercertification}}</p>
		<input class="blurb"  type="hidden" value="{{{presenterdescription}}}" />
		<input class="title"  type="hidden" value="{{{presentertitle}}}" />
		<input class="company"  type="hidden" value="" />
	</span>
</li>
{{/each}}
</script>

<script id="modal-template" type="text/x-handlebars-template">
{{#person}}
<!-- Modal -->
<div class="modal contributors-modal" id="contributorModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
      	<a href="#" class="close-modal" data-id="{{id}}"><img src="contents/imgs/btn-close-modal.png" /></a>
      	<div class="photo">
      		<img class="user-head img-circle" src="{{photo}}" alt='' />
      	</div>
      	<div class="body-content">
      		<h1>{{{fullname}}},</h1> <h2>{{{status}}}</h2>
				<h3>{{{title}}}</h3>
				<h4>{{{company}}}</h4>
				<hr/>
				<p>
					{{{blurb}}}
				</p>
      	</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/person}}
</script>