﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clear</title>
</head>
<body>
    <div>
        <p>Polling Results Cleared! Click <a href="~/">here</a> to return to main page</p>
    </div>
</body>
</html>
