﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PollingLayout.cshtml";
}

<div id="polling">
    <div id="carousel">
        <ul>
        	<li>
        	<img src="~/Content/images/polling/pollingQuestion_rotate2Q.png" />
        	</li>
        	<li>
        	<img src="~/Content/images/polling/pollingQuestion_rotate3Q.png" />
        	</li>
        	<li>
        	<img src="~/Content/images/polling/pollingQuestion_rotate4Q.png" />
        	</li>
        	<li>
        	<img src="~/Content/images/polling/pollingQuestion_rotate5Q.png" />
        	</li>
        </ul>
    </div>
</div>