/* -----------------------------------------
   Media Query Variables
-----------------------------------------

$mobile: 		"screen and (min-width: 0px) and (max-width: 499px)";
$tablets: 	"screen and (min-width: 500px) and (max-width: 959px)";
$desktops: 	"screen and (min-width: 960px)";
$max-width:	"screen and (min-width: 499px) and (max-width: 1300px)";
*/
/* -----------------------------------------
   Element Bootstrap
----------------------------------------- */
/* line 6, ../sass/app/_global.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/app/_global.scss */
ul li {
  margin: 0;
}

/* line 14, ../sass/app/_global.scss */
input, textarea {
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 4px;
  resize: none;
}

/* line 20, ../sass/app/_global.scss */
input:focus, select:focus, textarea:focus {
  outline: none;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus:-moz-placeholder, select:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent !important;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus::-moz-placeholder, select:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent !important;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

/* -----------------------------------------
   Forms
----------------------------------------- */
/* line 31, ../sass/app/_global.scss */
.form-errors {
  color: red;
  font-size: .8em;
}
/* line 34, ../sass/app/_global.scss */
.form-errors span {
  display: block;
}

/* -----------------------------------------
   Alignment & Floats
----------------------------------------- */
/* line 50, ../sass/app/_global.scss */
.txt-l {
  text-align: left;
}

/* line 51, ../sass/app/_global.scss */
.txt-r {
  text-align: right;
}

/* line 52, ../sass/app/_global.scss */
.txt-c {
  text-align: center;
}

/* line 53, ../sass/app/_global.scss */
.fl-r {
  float: right;
}

/* line 54, ../sass/app/_global.scss */
.fl-l {
  float: left;
}

/* line 55, ../sass/app/_global.scss */
.cl-r {
  clear: right;
}

/* line 56, ../sass/app/_global.scss */
.cl-l {
  clear: left;
}

/* line 57, ../sass/app/_global.scss */
.cl-b {
  clear: both;
}

/* -----------------------------------------
   Alignment & Floats
----------------------------------------- */
/* normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/app/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/app/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/app/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/app/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/app/_normalize.scss */
html {
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 80, ../sass/app/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 92, ../sass/app/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 101, ../sass/app/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 114, ../sass/app/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 123, ../sass/app/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 132, ../sass/app/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 140, ../sass/app/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 148, ../sass/app/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../sass/app/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 170, ../sass/app/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 179, ../sass/app/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 187, ../sass/app/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 195, ../sass/app/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 204, ../sass/app/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 211, ../sass/app/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 215, ../sass/app/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 227, ../sass/app/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 235, ../sass/app/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 247, ../sass/app/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 259, ../sass/app/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 270, ../sass/app/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 284, ../sass/app/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 296, ../sass/app/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 308, ../sass/app/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 323, ../sass/app/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 333, ../sass/app/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 343, ../sass/app/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 354, ../sass/app/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 367, ../sass/app/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 376, ../sass/app/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 386, ../sass/app/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 399, ../sass/app/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------------------
   Sizing
----------------------------------------- */
/* -----------------------------------------
   Positioning
----------------------------------------- */
/* -----------------------------------------
   Color Variables
----------------------------------------- */
/* Primary Palette */
/* Greyscale Palette */
/* -----------------------------------------
   Filepath/Imagepath Variables
----------------------------------------- */
/* -----------------------------------------
   Shapes
----------------------------------------- */
/* line 1, ../sass/app/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #555555;
}

/* line 3, ../sass/app/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.15;
  color: #333333;
}

/* line 6, ../sass/app/_typography.scss */
h2 {
  font-size: 50px;
  color: black;
}

/* line 7, ../sass/app/_typography.scss */
h3 {
  font-size: 35px;
}

/* line 8, ../sass/app/_typography.scss */
h4 {
  font-size: 20px;
}

/* line 9, ../sass/app/_typography.scss */
h5 {
  font-size: 18px;
}

/* line 10, ../sass/app/_typography.scss */
h6 {
  font-size: 15px;
}

/* line 12, ../sass/app/_typography.scss */
p {
  margin: 0.5em 0;
  padding: 0;
}

/* line 14, ../sass/app/_typography.scss */
a {
  color: #ee0093;
  text-decoration: none;
  cursor: pointer;
}

/* line 16, ../sass/app/_typography.scss */
.error, .red {
  color: #fc0000;
}

/* line 17, ../sass/app/_typography.scss */
ul.error {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
/* line 21, ../sass/app/_typography.scss */
ul.error > .warning {
  color: #fff;
  background: url(../css/images/icons/error.png) no-repeat 10px center;
  padding: 10px 10px 10px 47px;
  border-radius: 4px;
}

/* line 1, ../sass/app/_ui-structure.scss */
body {
  overflow: visible;
  background: #fbd917 url("images/dots-bkgd.png") fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 8, ../sass/app/_ui-structure.scss */
body.P, footer.P {
  background-color: #fbd917;
}
/* line 9, ../sass/app/_ui-structure.scss */
body.L, footer.L {
  background-color: #ee0093;
}
/* line 10, ../sass/app/_ui-structure.scss */
body.V, footer.V {
  background-color: #a40069;
}
/* line 11, ../sass/app/_ui-structure.scss */
body.M, footer.M {
  background-color: #f69639;
}
/* line 12, ../sass/app/_ui-structure.scss */
body.S, footer.S {
  background-color: #329fa4;
}
/* line 13, ../sass/app/_ui-structure.scss */
body.T, footer.T {
  background-color: #4dbcc2;
}

/* line 19, ../sass/app/_ui-structure.scss */
.main-container > header {
  width: 100%;
  background: white url("images/happy-fuel-logo.png") no-repeat;
  position: fixed;
  top: 0px;
  height: 98px;
  border: solid 1px #e6e6e6;
  border-top: none;
  font-weight: bold;
  z-index: 10000;
  cursor: default;
}
/* line 30, ../sass/app/_ui-structure.scss */
.main-container > header div {
  display: inline-block;
}
/* line 31, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu {
  display: none;
  width: 200px;
  position: fixed;
  height: 50px;
  margin-left: -140px;
  background: white;
  z-index: 1;
}
/* line 40, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu.active {
  margin-left: -1px;
  border: solid 1px #e6e6e6;
  height: 100%;
}
/* line 44, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu.active ul {
  display: block;
}
/* line 46, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul {
  display: none;
  width: 100%;
  margin-top: 100px;
  border-top: solid 2px #e1e1e1;
  border-right: solid 1px #e1e1e1;
}
/* line 52, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul li {
  background: url("images/bkgd-dots.jpg");
  border-bottom: solid 2px #e1e1e1;
  text-align: right;
  line-height: 50px;
  padding: 4px;
}
/* line 60, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul:last-child {
  position: absolute;
  bottom: 0px;
  border: none;
}
/* line 64, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul:last-child li {
  border: none;
  background: none;
  line-height: 1.5em;
}
/* line 71, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu .icon-ios-menu {
  cursor: pointer;
  background: url("images/ios-menu-icon.png") no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 82, ../sass/app/_ui-structure.scss */
.main-container > header nav {
  margin-left: 390px;
  margin-top: 56px;
  background: url("images/happy-logo-nav.jpg") no-repeat;
  padding-left: 22px;
}
/* line 87, ../sass/app/_ui-structure.scss */
.main-container > header nav .user {
  color: #4dbcc2;
  cursor: pointer;
}
/* line 92, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul {
  border: solid 1px #e1e1e1;
  background: url("images/bkgd-dots.jpg");
  display: none;
}
/* line 93, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul:hover {
  display: '';
}
/* line 97, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul li {
  padding: 1em;
  color: black;
}
/* line 100, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul li:hover {
  background: #f164c2;
  /* The Fallback */
  background: rgba(241, 100, 194, 0.5);
}
/* line 103, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu {
  color: #ee0093;
  cursor: pointer;
}
/* line 106, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu .menu {
  position: absolute;
}
/* line 107, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu .down-arrow {
  margin-left: 46px;
}
/* line 108, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul {
  margin-left: -20px;
}
/* line 110, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul li {
  padding-left: 26px;
}
/* line 112, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul li:last-child {
  background-image: url("images/icon-magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 4px center;
}
/* line 119, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu:hover ul {
  display: '';
}
/* line 121, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu {
  color: #f69639;
  cursor: pointer;
}
/* line 124, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu .menu {
  position: absolute;
}
/* line 125, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu .down-arrow {
  margin-left: 10px;
}
/* line 126, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul {
  margin-left: -50px;
}
/* line 127, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li {
  background-repeat: no-repeat;
  background-position: 4px 12px;
  padding-left: 40px;
  background-size: 20%;
}
/* line 132, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.photo {
  background-image: url("images/icon-photo.png");
}
/* line 133, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.location {
  background-image: url("images/icon-location.png");
}
/* line 134, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.music {
  background-image: url("images/icon-music.png");
}
/* line 135, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.sound {
  background-image: url("images/icon-sound.png");
}
/* line 136, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.video {
  background-image: url("images/icon-video.png");
}
/* line 137, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.thought {
  background-image: url("images/icon-thought.png");
}
/* line 140, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu:hover ul {
  display: '';
}
/* line 143, ../sass/app/_ui-structure.scss */
.main-container > header nav .search {
  display: inline-block;
  background: url("images/bkgd-dots.jpg");
  position: absolute;
  padding: 6px;
  border: solid 2px #e6e6e6;
  margin-top: -10px;
  color: #ee0093;
}
/* line 151, ../sass/app/_ui-structure.scss */
.main-container > header nav .search.off {
  display: none;
}
/* line 152, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .btn-close {
  position: absolute;
  margin-top: -23px;
  right: 4px;
}
/* line 157, ../sass/app/_ui-structure.scss */
.main-container > header nav .search input {
  border: none;
  background: transparent url("images/icon-magnifying-glass.png") left center no-repeat;
  color: #ee0093;
  font-weight: bold;
  padding-left: 28px;
  width: 220px;
}
/* line 165, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .search-results-container {
  position: absolute;
  min-width: 300px;
  background: white;
  padding: 10px;
  border: solid 2px #e6e6e6;
  margin-left: -8px;
  margin-top: 6px;
}
/* line 166, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .search-results-container ul {
  display: inline-block;
  min-width: 140px;
  float: left;
}
/* line 178, ../sass/app/_ui-structure.scss */
.main-container > header .mission {
  position: absolute;
  right: 50px;
  top: 56px;
}
/* line 182, ../sass/app/_ui-structure.scss */
.main-container > header .mission .happy-face {
  background: url("images/happy-logo-nav.jpg") no-repeat;
  width: 18px;
}

/* line 189, ../sass/app/_ui-structure.scss */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
}
/* line 195, ../sass/app/_ui-structure.scss */
footer ul {
  display: inline-block;
  margin-top: 6px;
}
/* line 198, ../sass/app/_ui-structure.scss */
footer ul li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  border-right: solid 1px;
  font-size: .8em;
}
/* line 204, ../sass/app/_ui-structure.scss */
footer ul li:last-child {
  border: none;
}

/* line 211, ../sass/app/_ui-structure.scss */
.btn-close {
  background: url("images/btn-circle-x.png") no-repeat;
  width: 22px;
  height: 24px;
  cursor: pointer;
}

/* line 218, ../sass/app/_ui-structure.scss */
.down-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #e6e6e6;
}

/* line 223, ../sass/app/_ui-structure.scss */
.avatar {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/avatar-default.jpg");
}

/* line 233, ../sass/app/_ui-structure.scss */
.post-info {
  position: absolute;
  bottom: 0px;
  margin-left: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px;
  opacity: .8;
  height: 18px;
  padding-left: 29px;
  background: white url("images/globe-black.png") 4px 3px no-repeat;
  color: #000;
  cursor: pointer;
}

/* line 247, ../sass/app/_ui-structure.scss */
.rating-container {
  position: absolute;
  display: none;
  z-index: 9000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 255, ../sass/app/_ui-structure.scss */
.rating-container .post-info {
  margin-top: 433.46651px;
  background: white url("images/globe-color.png") 4px 3px no-repeat;
}
/* line 259, ../sass/app/_ui-structure.scss */
.rating-container .screen-overlay {
  background: white;
  opacity: .7;
}
/* line 263, ../sass/app/_ui-structure.scss */
.rating-container .rate-overlay, .rating-container .rate-needle, .rating-container .rate-listener, .rating-container .screen-overlay {
  position: absolute;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 268, ../sass/app/_ui-structure.scss */
.rating-container .rate-listener .btn-close {
  right: 10px;
  top: 5px;
  position: absolute;
  z-index: 11001;
}
/* line 275, ../sass/app/_ui-structure.scss */
.rating-container .rate-overlay {
  background: url("images/dial-bkgd.png") 50% 10% no-repeat;
  background-size: 80%;
}
/* line 279, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle {
  background: url("images/dial-needle.png") 50% 26% no-repeat;
  background-size: 80%;
  -webkit-transition: -webkit-transform .7s ease;
  -moz-transition: -moz-transform .7s ease;
  -o-transition: -o-transform .7s ease;
  -webkit-transform-origin: 50% 54.275% 0;
  -moz-transform-origin: 50% 54.275% 0;
  -ms-transform-origin: 50% 54.275% 0;
  -o-transform-origin: 50% 54.275% 0;
  transform-origin: 50% 54.275% 0;
}
/* line 286, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 287, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot1 {
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  transform: rotate(32deg);
}
/* line 288, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot2 {
  -webkit-transform: rotate(64deg);
  -moz-transform: rotate(64deg);
  -ms-transform: rotate(64deg);
  -o-transform: rotate(64deg);
  transform: rotate(64deg);
}
/* line 289, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot3 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}
/* line 290, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot4 {
  -webkit-transform: rotate(128deg);
  -moz-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  -o-transform: rotate(128deg);
  transform: rotate(128deg);
}
/* line 291, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot5 {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}
/* line 293, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools {
  margin-top: 60%;
  position: absolute;
  width: 100%;
}
/* line 297, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .post-group {
  height: 32px;
  padding-top: 10px;
  clear: both;
}
/* line 298, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .counter {
  float: left;
  margin-left: 10%;
  margin-top: 7px;
  min-height: 20px;
  padding-left: 25px;
  background: url("images/globe-color.png") no-repeat;
}
/* line 299, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .btn-post {
  float: right;
  margin-right: 10%;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 300, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .already-rated {
  text-align: center;
  margin-top: 10px;
}
/* line 301, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment {
  margin-top: 10px;
}
/* line 303, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment strong {
  color: #ee0093;
}
/* line 306, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
  margin-left: 10%;
  float: left;
}
/* line 313, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .txtarea {
  float: left;
}
/* line 315, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 48px;
  color: #329fa4;
  width: 308px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}

/* line 332, ../sass/app/_ui-structure.scss */
section.dashboard {
  background: white url("images/bkgd-dots.jpg");
  position: fixed;
  top: 0px;
  height: 330px;
  z-index: 9000;
  top: 98px;
  padding-top: 14px;
  padding-left: 100px;
  width: 100%;
  display: none;
}
/* line 344, ../sass/app/_ui-structure.scss */
section.dashboard .content-box {
  float: left;
  margin-right: 12px;
  margin-bottom: 10px;
  border: solid 1px #e6e6e6;
  background: #fbfbfb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  font-size: .9em;
  overflow: hidden;
}
/* line 356, ../sass/app/_ui-structure.scss */
section.dashboard .navigation {
  position: absolute;
  margin-left: 1024px;
}
/* line 359, ../sass/app/_ui-structure.scss */
section.dashboard .navigation div {
  width: 135px;
  height: 26px;
  margin-bottom: 20px;
}
/* line 360, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .arrow-up {
  background: url("images/nav-dashboard-arrow-up.png") no-repeat;
  cursor: pointer;
}
/* line 364, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .arrow-down {
  background: url("images/nav-dashboard-arrow-down.png") no-repeat;
  cursor: pointer;
}
/* line 368, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .on {
  background: url("images/nav-dashboard-on.png") no-repeat;
}
/* line 370, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .on span {
  color: #ee0093;
  margin-left: 64px;
  font-size: .9em;
  font-weight: bold;
  line-height: 26px;
}
/* line 372, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .off {
  background: url("images/nav-dashboard-off.png") no-repeat;
}
/* line 374, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .off span {
  display: none;
}
/* line 379, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons {
  float: left;
  margin-right: 12px;
}
/* line 382, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons div {
  width: 34px;
  height: 34px;
  margin-bottom: 16px;
}
/* line 383, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .photo {
  background: url("images/icon-photo.png") center top no-repeat;
}
/* line 384, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .location {
  background: url("images/icon-location.png") center top no-repeat;
}
/* line 385, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .music {
  background: url("images/icon-music.png") center top no-repeat;
}
/* line 386, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .sound {
  background: url("images/icon-sound.png") center top no-repeat;
}
/* line 387, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .video {
  background: url("images/icon-video.png") center top no-repeat;
}
/* line 388, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .thought {
  background: url("images/icon-thought.png") center top no-repeat;
}
/* line 390, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .content-box {
  width: 446px;
  height: 292px;
}
/* line 393, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar {
  height: 20px;
  min-width: 20px;
  margin-bottom: 2px;
  text-align: right;
  line-height: 20px;
  font-size: .8em;
  font-weight: bold;
  padding-right: 6px;
  color: #333333;
}
/* line 403, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.photo {
  background: #fbd917;
}
/* line 404, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.location {
  background: #ee0093;
}
/* line 405, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.music {
  background: #f69639;
}
/* line 406, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.sound {
  background: #329fa4;
}
/* line 407, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.video {
  background: #a40069;
}
/* line 408, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.thought {
  background: #4dbcc2;
}
/* line 410, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar:last-of-type {
  margin-bottom: 40px;
}
/* line 411, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .avatar-row {
  display: block;
  overflow-x: auto;
}
/* line 414, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .avatar-row .avatar {
  display: inline-block;
  margin-right: 10px;
  width: 41px;
  height: 41px;
  background-color: #e1e1e1;
  cursor: pointer;
}
/* line 423, ../sass/app/_ui-structure.scss */
section.dashboard .user-box {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 220px;
  height: 55px;
  padding: 4px;
  margin-bottom: 4px;
  font-size: .9em;
  cursor: pointer;
}
/* line 432, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .avatar {
  float: left;
  border-top-left-radius: 4px;
}
/* line 436, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .user-info {
  float: left;
  height: inherit;
  width: 102px;
  margin-left: 4px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
/* line 444, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .user-info span {
  color: #ee0093;
  font-weight: bold;
}
/* line 446, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .rating-info {
  float: right;
  text-align: center;
  border-left: solid 2px white;
  width: 55px;
  height: inherit;
  margin-top: -4px;
  padding-top: 9px;
}
/* line 457, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers {
  display: none;
}
/* line 459, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box {
  width: 472px;
  height: 292px;
}
/* line 461, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .col {
  float: left;
}
/* line 463, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .col:last-child {
  margin-left: 4px;
}
/* line 467, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .user-box {
  background-color: #fbd917;
}
/* line 471, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box:last-child .user-box {
  background-color: #4dbcc2;
}
/* line 477, ../sass/app/_ui-structure.scss */
section.dashboard section.friends {
  display: none;
}
/* line 479, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box {
  width: 472px;
  height: 292px;
}
/* line 481, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .col {
  float: left;
}
/* line 483, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .col:last-child {
  margin-left: 4px;
}
/* line 487, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .user-box {
  background-color: #f69639;
}
/* line 489, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .user-box .rating-info {
  display: none;
}
/* line 492, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box:last-child .user-box {
  background-color: #4dbcc2;
}
/* line 494, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box:last-child .user-box .rating-info {
  display: none;
}

/* line 501, ../sass/app/_ui-structure.scss */
section.post-detail {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("images/bkgd-dots.jpg");
  z-index: 11000;
  top: 0;
}
/* line 509, ../sass/app/_ui-structure.scss */
section.post-detail .lightbox-screen {
  z-index: 8900;
  display: none;
}
/* line 513, ../sass/app/_ui-structure.scss */
section.post-detail video {
  position: fixed;
  width: 100%;
  height: 100%;
}
/* line 518, ../sass/app/_ui-structure.scss */
section.post-detail audio {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  margin-left: -200px;
}
/* line 525, ../sass/app/_ui-structure.scss */
section.post-detail .btn-close {
  right: 10px;
  top: 5px;
  position: fixed;
  z-index: 11001;
}
/* line 531, ../sass/app/_ui-structure.scss */
section.post-detail.expanded .comments-pane {
  display: '';
}
/* line 534, ../sass/app/_ui-structure.scss */
section.post-detail.collapsed .comments-pane {
  display: none;
}
/* line 537, ../sass/app/_ui-structure.scss */
section.post-detail .full-page-image {
  height: 100%;
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}
/* line 546, ../sass/app/_ui-structure.scss */
section.post-detail .comments-not-logged-in-message {
  padding: 4px;
  border-radius: 4px;
  border: solid 1px #329fa4;
}
/* line 550, ../sass/app/_ui-structure.scss */
section.post-detail .comments-not-logged-in-message a {
  color: #329fa4;
}
/* line 552, ../sass/app/_ui-structure.scss */
section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
  position: fixed;
  bottom: 24px;
  width: 250px;
  padding: 4px 4px 4px 40px;
  border-radius: 4px;
  left: 60px;
  background: url("images/bkgd-dots.jpg");
  border: solid 1px #e6e6e6;
  font-size: .8em;
  line-height: 16px;
}
/* line 563, ../sass/app/_ui-structure.scss */
section.post-detail .dial-not-logged-in-message a, section.post-detail .thank-you-message a {
  color: #329fa4;
}
/* line 565, ../sass/app/_ui-structure.scss */
section.post-detail .thank-you-message {
  display: none;
}
/* line 566, ../sass/app/_ui-structure.scss */
section.post-detail .dial-tab {
  position: fixed;
  bottom: 0px;
  left: 20px;
  width: 70px;
  height: 21px;
  background: url("images/dial-tab.png") no-repeat;
  padding-top: 40px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}
/* line 578, ../sass/app/_ui-structure.scss */
section.post-detail .btn-expand-collapse {
  position: fixed;
  background: white;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border: solid 1px #e6e6e6;
  right: 10px;
  top: 45px;
  z-index: 8500;
  cursor: pointer;
  opacity: .8;
}
/* line 592, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane {
  position: absolute;
  width: 290px;
  min-height: 400px;
  background: white;
  right: 0px;
  top: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 1px #e6e6e6;
  opacity: .85;
  padding: 30px 10px 10px;
  /*
  <header></header>
  <section class="post-description"></section>
  <section class="post-tags"></section>
  <section class="post-comment-header"></section>
  <section class="post-comments-list">
  */
}
/* line 604, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header, section.post-detail .comments-pane section.post-description, section.post-detail .comments-pane section.post-tags, section.post-detail .comments-pane section.post-comment-header {
  border-bottom: solid 1px #e1e1e1;
  min-height: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 611, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .avatar {
  border: solid 1px #fbd917;
  border-top-left-radius: 10px;
}
/* line 615, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .info {
  position: absolute;
  margin: -48px 0px 0px 58px;
}
/* line 619, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .follow {
  position: absolute;
  right: 10px;
  margin-top: -26px;
}
/* line 629, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header {
  border-bottom: dashed 1px #e6e6e6;
  padding-bottom: 50px;
}
/* line 632, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header strong {
  color: #ee0093;
}
/* line 635, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
}
/* line 640, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea {
  margin: -48px 0px 0px 58px;
}
/* line 642, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 100px;
  color: #329fa4;
  width: 210px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}
/* line 655, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .btn-post {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 663, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results {
  position: absolute;
  background: white;
  z-index: 1;
  border: solid 2px #e1e1e1;
  padding: 4px;
  margin-top: -2px;
  left: 80px;
  border-top: none;
}
/* line 672, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li {
  font-size: .9em;
  color: #329fa4;
  cursor: pointer;
  padding: 4px;
}
/* line 677, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li:hover {
  background-color: #e6e6e6;
}
/* line 683, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list {
  max-height: 300px;
  overflow-y: auto;
  clear: both;
}
/* line 687, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
}
/* line 693, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list > ul li {
  border-bottom: dashed 1px #e6e6e6;
  margin-bottom: 10px;
}
/* line 696, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list > ul li:last-child {
  border: none;
}
/* line 698, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list strong {
  color: #ee0093;
  display: block;
}
/* line 702, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list div.comment-text {
  margin: -48px 0px 0px 58px;
}
/* line 715, ../sass/app/_ui-structure.scss */
section.post-detail .share-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  padding: 10px;
  border-left: solid 1px #e1e1e1;
  border-top: solid 1px #e1e1e1;
  border-radius: 4px 0px;
}
/* line 725, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  display: inline-block;
}
/* line 730, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.facebook {
  background-image: url("images/icon-social-fb.png");
}
/* line 731, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.twitter {
  background-image: url("images/icon-social-twitter.png");
}
/* line 732, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.email {
  background-image: url("images/icon-social-email.png");
}

/* line 737, ../sass/app/_ui-structure.scss */
.lightbox-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 11000;
}
/* line 744, ../sass/app/_ui-structure.scss */
.lightbox-screen.profile {
  top: 0px;
  left: 0px;
  z-index: 11900;
  display: none;
}

/* line 752, ../sass/app/_ui-structure.scss */
.welcome {
  background: url("images/welcome-overlay.png") center bottom no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 75%;
  z-index: 11001;
}

/* line 761, ../sass/app/_ui-structure.scss */
section.wall {
  width: 100%;
  clear: both;
  display: block;
  margin-top: 98px;
}
/* line 766, ../sass/app/_ui-structure.scss */
section.wall .lightbox-screen {
  display: none;
  z-index: 8500;
}
/* line 770, ../sass/app/_ui-structure.scss */
section.wall .rating-container {
  position: absolute;
  display: none;
  z-index: 9000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 778, ../sass/app/_ui-structure.scss */
section.wall .rating-container .post-info {
  margin-top: 433.46651px;
  background: white url("images/globe-color.png") 4px 3px no-repeat;
}
/* line 782, ../sass/app/_ui-structure.scss */
section.wall .rating-container .screen-overlay {
  background: white;
  opacity: .7;
}
/* line 786, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-overlay, section.wall .rating-container .rate-needle, section.wall .rating-container .rate-listener, section.wall .rating-container .screen-overlay {
  position: absolute;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 790, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-overlay {
  background: url("images/dial-bkgd.png") 50% 10% no-repeat;
  background-size: 80%;
}
/* line 794, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle {
  background: url("images/dial-needle.png") 50% 26% no-repeat;
  background-size: 80%;
  -webkit-transform-origin: 50% 54.275% 0;
  -moz-transform-origin: 50% 54.275% 0;
  -ms-transform-origin: 50% 54.275% 0;
  -o-transform-origin: 50% 54.275% 0;
  transform-origin: 50% 54.275% 0;
}
/* line 798, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 799, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot1 {
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  transform: rotate(32deg);
}
/* line 800, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot2 {
  -webkit-transform: rotate(64deg);
  -moz-transform: rotate(64deg);
  -ms-transform: rotate(64deg);
  -o-transform: rotate(64deg);
  transform: rotate(64deg);
}
/* line 801, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot3 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}
/* line 802, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot4 {
  -webkit-transform: rotate(128deg);
  -moz-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  -o-transform: rotate(128deg);
  transform: rotate(128deg);
}
/* line 803, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot5 {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}
/* line 805, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools {
  margin-top: 60%;
  position: absolute;
  width: 100%;
}
/* line 809, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .post-group {
  height: 32px;
  padding-top: 10px;
  clear: both;
}
/* line 810, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .counter {
  float: left;
  margin-left: 10%;
  margin-top: 7px;
  min-height: 20px;
  padding-left: 25px;
  background: url("images/globe-color.png") no-repeat;
}
/* line 811, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .btn-post {
  float: right;
  margin-right: 10%;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 813, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment {
  margin-top: 10px;
}
/* line 815, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment strong {
  color: #ee0093;
}
/* line 818, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
  margin-left: 10%;
  float: left;
}
/* line 825, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea {
  float: left;
}
/* line 827, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 48px;
  color: #329fa4;
  width: 292px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}
/* line 843, ../sass/app/_ui-structure.scss */
section.wall .module {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}
/* line 852, ../sass/app/_ui-structure.scss */
section.wall .module .item {
  background-size: cover;
  overflow: hidden;
}
/* line 855, ../sass/app/_ui-structure.scss */
section.wall .module .item.P {
  background-color: #fbd917;
}
/* line 856, ../sass/app/_ui-structure.scss */
section.wall .module .item.L {
  background-color: #ee0093;
}
/* line 857, ../sass/app/_ui-structure.scss */
section.wall .module .item.V {
  background-color: #a40069;
}
/* line 858, ../sass/app/_ui-structure.scss */
section.wall .module .item.M {
  background-color: #f69639;
}
/* line 859, ../sass/app/_ui-structure.scss */
section.wall .module .item.S {
  background-color: #329fa4;
}
/* line 860, ../sass/app/_ui-structure.scss */
section.wall .module .item.T {
  background-color: #4dbcc2;
}
/* line 861, ../sass/app/_ui-structure.scss */
section.wall .module .item .post-info {
  position: absolute !important;
  margin-left: 10px !important;
  height: 16px !important;
  width: auto !important;
}
/* line 867, ../sass/app/_ui-structure.scss */
section.wall .module .item .item-content {
  padding: 10px;
}
/* line 870, ../sass/app/_ui-structure.scss */
section.wall .module .item .item-content:first-line {
  font-weight: bold;
}
/* line 872, ../sass/app/_ui-structure.scss */
section.wall .module div {
  position: absolute;
  display: inline-block;
}
/* line 877, ../sass/app/_ui-structure.scss */
section.wall .module.type-01 > div:nth-child(1) {
  width: 100%;
  height: 60%;
}
/* line 880, ../sass/app/_ui-structure.scss */
section.wall .module.type-01 > div:nth-child(2) {
  width: 40%;
  height: 40%;
  margin-top: 60%;
  margin-left: 60%;
}
/* line 887, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(1) {
  width: 40%;
  height: 40%;
  margin-top: 20%;
}
/* line 891, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(2) {
  width: 40%;
  height: 60%;
  margin-left: 60%;
}
/* line 895, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(3) {
  width: 60%;
  height: 40%;
  margin-left: 20%;
  margin-top: 60%;
}
/* line 902, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div {
  width: 20%;
  height: 20%;
}
/* line 905, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(6) {
  width: 60%;
  height: 60%;
  margin-top: 40%;
}
/* line 909, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(2) {
  margin-top: 20%;
  margin-left: 20%;
}
/* line 913, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(3) {
  margin-left: 40%;
}
/* line 916, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(4) {
  margin-top: 20%;
  margin-left: 60%;
}
/* line 920, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(5) {
  margin-left: 80%;
}
/* line 923, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(7) {
  margin-left: 80%;
  margin-top: 40%;
}
/* line 927, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(8) {
  margin-top: 60%;
  margin-left: 60%;
}
/* line 931, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(9) {
  margin-top: 80%;
  margin-left: 80%;
}
/* line 937, ../sass/app/_ui-structure.scss */
section.wall .module.type-04 > div:nth-child(1) {
  width: 40%;
  height: 40%;
  margin-left: 60%;
}
/* line 941, ../sass/app/_ui-structure.scss */
section.wall .module.type-04 > div:nth-child(2) {
  width: 60%;
  height: 60%;
  margin-top: 40%;
}
/* line 947, ../sass/app/_ui-structure.scss */
section.wall .module.type-05 > div:nth-child(1) {
  width: 60%;
  height: 60%;
  margin-left: 40%;
}
/* line 951, ../sass/app/_ui-structure.scss */
section.wall .module.type-05 > div:nth-child(2) {
  width: 60%;
  height: 40%;
  margin-top: 60%;
}
/* line 957, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(1) {
  width: 60%;
  height: 40%;
}
/* line 960, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(2) {
  width: 20%;
  height: 20%;
  margin-left: 80%;
}
/* line 964, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(3) {
  width: 40%;
  height: 40%;
  margin-left: 40%;
  margin-top: 40%;
}
/* line 969, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(4) {
  width: 20%;
  height: 20%;
  margin-top: 80%;
}

/* line 977, ../sass/app/_ui-structure.scss */
section.profile {
  display: none;
  position: fixed;
  width: 700px;
  min-height: 300px;
  z-index: 12000;
  padding: 20px;
  left: 50%;
  top: 150px;
  background: url("images/bkgd-dots.jpg");
  border-radius: 4px;
  border: solid 2px #e6e6e6;
  margin-left: -350px;
}
/* line 990, ../sass/app/_ui-structure.scss */
section.profile strong {
  color: #ee0093;
  margin-bottom: 10px;
  display: block;
}
/* line 995, ../sass/app/_ui-structure.scss */
section.profile a {
  color: #329fa4;
}
/* line 998, ../sass/app/_ui-structure.scss */
section.profile .login, section.profile .register, section.profile .manage-account {
  display: none;
}
/* line 999, ../sass/app/_ui-structure.scss */
section.profile.sign-in {
  display: '';
}
/* line 1001, ../sass/app/_ui-structure.scss */
section.profile.sign-in .login {
  display: '';
}
/* line 1005, ../sass/app/_ui-structure.scss */
section.profile input {
  line-height: 40px;
}
/* line 1008, ../sass/app/_ui-structure.scss */
section.profile input[type='file'] {
  position: absolute;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}
/* line 1016, ../sass/app/_ui-structure.scss */
section.profile label {
  min-width: 100px;
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  line-height: 40px;
  font-weight: bold;
}
/* line 1024, ../sass/app/_ui-structure.scss */
section.profile .form-row {
  margin-top: 10px;
}
/* line 1027, ../sass/app/_ui-structure.scss */
section.profile .form-column {
  float: left;
  margin-right: 20px;
}
/* line 1031, ../sass/app/_ui-structure.scss */
section.profile .button {
  width: 120px;
}
/* line 1032, ../sass/app/_ui-structure.scss */
section.profile .align-content-to-form-elements {
  padding-left: 100px;
}
/* line 1036, ../sass/app/_ui-structure.scss */
section.profile .profile-avatar .button {
  width: 150px;
  height: 150px;
  background-color: white;
  border: solid 1px #e6e6e6;
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  line-height: 1em;
}
/* line 1045, ../sass/app/_ui-structure.scss */
section.profile .profile-avatar p > strong {
  line-height: 1.4em;
  font-size: 4em;
  color: #fbd917;
}

/* -----------------------------------------
   Buttons
----------------------------------------- */
/* line 5, ../sass/app/_ui-elements.scss */
.button {
  padding: 0px 4px;
  color: white;
  min-width: 64px;
  height: 26px;
  border-radius: 4px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

/* line 15, ../sass/app/_ui-elements.scss */
.button, .button.blue {
  background-color: #4dbcc2;
}

/* line 18, ../sass/app/_ui-elements.scss */
.button.pink {
  background-color: #ee0093;
}

@media screen and (max-width: 1024px) {
  /* line 4, ../sass/app/_device-tablet.scss */
  section.wall {
    width: 100%;
  }

  /* line 7, ../sass/app/_device-tablet.scss */
  .main-container > header nav {
    margin-left: 220px;
  }

  /* line 11, ../sass/app/_device-tablet.scss */
  section.post-detail .full-page-image {
    height: 550px;
    border: solid 1px #e6e6e6;
  }
  /* line 15, ../sass/app/_device-tablet.scss */
  section.post-detail .dial-tab {
    bottom: auto;
    top: 550px;
    margin-top: -61px;
  }
  /* line 20, ../sass/app/_device-tablet.scss */
  section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
    bottom: auto;
    top: 506px;
  }
  /* line 24, ../sass/app/_device-tablet.scss */
  section.post-detail .btn-expand-collapse {
    top: 580px;
    right: 2%;
  }
  /* line 28, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane {
    right: auto;
    top: 560px;
    width: 98%;
    margin: 1%;
    border-radius: 0px;
  }
  /* line 34, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane a.follow {
    position: relative;
    right: auto;
    float: right;
  }
  /* line 39, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane section.group {
    width: 48%;
    margin-right: 1%;
    float: left;
  }
  /* line 43, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane section.group:last-child {
    float: right;
  }

  /* line 47, ../sass/app/_device-tablet.scss */
  section.dashboard {
    height: 650px;
  }
  /* line 50, ../sass/app/_device-tablet.scss */
  section.dashboard section.fuels .icons {
    float: none;
    position: absolute;
    margin-left: -50px;
  }
  /* line 56, ../sass/app/_device-tablet.scss */
  section.dashboard .navigation {
    margin-left: 510px;
  }
}
@media screen and (max-width: 480px) {
  /* line 4, ../sass/app/_device-mobile.scss */
  .welcome {
    background-position: center center;
    background-size: 95%;
  }

  /* line 8, ../sass/app/_device-mobile.scss */
  section.wall {
    width: 100%;
  }

  /* line 11, ../sass/app/_device-mobile.scss */
  .main-container > header {
    background-position: center top;
    height: 148px;
    z-index: 12000;
  }
  /* line 15, ../sass/app/_device-mobile.scss */
  .main-container > header nav {
    margin-top: 100px;
    margin-left: -175px;
    margin-top: 100px;
    position: absolute;
    left: 50%;
  }
  /* line 21, ../sass/app/_device-mobile.scss */
  .main-container > header nav .user {
    display: none;
  }
  /* line 22, ../sass/app/_device-mobile.scss */
  .main-container > header nav .header-prefix-non-mobile {
    display: none;
  }
  /* line 23, ../sass/app/_device-mobile.scss */
  .main-container > header nav .search {
    width: 180px;
  }
  /* line 27, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu {
    position: fixed !important;
    width: 100%;
    left: 0px;
  }
  /* line 32, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu .down-arrow {
    position: absolute;
    left: 200px;
    top: 5px;
  }
  /* line 37, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu ul {
    margin-top: 20px;
  }
  /* line 43, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu {
    position: fixed !important;
    width: 100%;
    left: 0px;
  }
  /* line 48, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu .down-arrow {
    position: absolute;
    left: 290px;
    top: 5px;
  }
  /* line 53, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu ul {
    margin-left: 0;
    margin-top: 20px;
  }
  /* line 56, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu ul li {
    background-size: auto !important;
    padding-left: 60px;
  }
  /* line 64, ../sass/app/_device-mobile.scss */
  .main-container > header .mission {
    display: none;
  }
  /* line 65, ../sass/app/_device-mobile.scss */
  .main-container > header .mobile-menu {
    display: block;
  }
  /* line 67, ../sass/app/_device-mobile.scss */
  .main-container > header .mobile-menu .icon-ios-menu {
    display: block;
  }

  /* line 70, ../sass/app/_device-mobile.scss */
  section.wall.mobile-menu-on {
    margin-left: 199px;
  }

  /* line 73, ../sass/app/_device-mobile.scss */
  section.profile {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }
  /* line 78, ../sass/app/_device-mobile.scss */
  section.profile .register .form-column:first-child, section.profile .manage-account .form-column:first-child {
    margin-bottom: 30px;
  }
  /* line 80, ../sass/app/_device-mobile.scss */
  section.profile .register .form-column:first-child > p, section.profile .manage-account .form-column:first-child > p {
    width: 300px;
  }
  /* line 83, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar {
    margin-top: 20px;
  }
  /* line 85, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar > strong, section.profile .profile-avatar > p {
    display: none;
  }
  /* line 86, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar .button {
    position: absolute;
    top: 20px;
    zoom: .5;
    left: 540px;
  }
  /* line 93, ../sass/app/_device-mobile.scss */
  section.profile .button.pink {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  /* line 100, ../sass/app/_device-mobile.scss */
  section.post-detail .full-page-image {
    height: 550px;
    border: solid 1px #e6e6e6;
  }
  /* line 104, ../sass/app/_device-mobile.scss */
  section.post-detail .dial-tab {
    bottom: auto;
    top: 550px;
    margin-top: -61px;
  }
  /* line 109, ../sass/app/_device-mobile.scss */
  section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
    bottom: auto;
    top: 506px;
  }
  /* line 113, ../sass/app/_device-mobile.scss */
  section.post-detail .btn-expand-collapse {
    top: 580px;
    right: 2%;
  }
  /* line 117, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane {
    right: auto;
    top: 560px;
    width: 98%;
    margin: 1%;
    border-radius: 0px;
  }
  /* line 123, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane a.follow {
    position: relative;
    right: auto;
    float: right;
  }
  /* line 128, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane section.group {
    width: 48%;
    margin-right: 1%;
    float: left;
  }
  /* line 132, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane section.group:last-child {
    float: right;
  }

  /* line 136, ../sass/app/_device-mobile.scss */
  section.dashboard {
    height: 630px;
  }
  /* line 139, ../sass/app/_device-mobile.scss */
  section.dashboard section.fuels .icons {
    float: none;
    position: absolute;
    margin-left: -50px;
  }
  /* line 145, ../sass/app/_device-mobile.scss */
  section.dashboard .navigation {
    margin-left: 510px;
  }

  /* line 149, ../sass/app/_device-mobile.scss */
  footer {
    display: none;
  }
}
