﻿<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Happy Fuel :)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="HappyFuel APP">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="http://services.happyfuelapp.com/favicon.ico" type="image/x-icon">
		<link rel="icon" href="http://services.happyfuelapp.com/favicon.ico" type="image/x-icon">
		
    <!-- fonts -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/4da90304-086b-49b7-8762-fb11b4a35296.js"></script>

    <!-- plug in -->
    <script src="javascripts/vendor/require.js" data-main="javascripts/main"></script>
	
	<!-- Yahoo Plugin -->
	<script type="text/javascript" src="javascripts/yahoo/jquery.js"></script>

   <link href="js/vendor/videojs/video-js.css" rel="stylesheet">
    <script src="js/vendor/videojs/video.js"></script>
    <style type="text/css">
      .vjs-default-skin .vjs-play-progress,
      .vjs-default-skin .vjs-volume-level { background-color: #30a1de }
      .vjs-default-skin .vjs-control-bar,
      .vjs-default-skin .vjs-big-play-button { background: rgba(194,96,96,0.7) }
      .vjs-default-skin .vjs-slider { background: rgba(194,96,96,0.2333333333333333) }
    </style>

    <link href="javascripts/vendor/mediaelement/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/update.css" rel="stylesheet"/>
    <link href="css/app-update.css" rel="stylesheet"/>
    
            <style>
            
            #main-overlay {
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                /*background-color:rgba(0, 0, 0, 0.85);
                    color:white;
                    */
                z-index:9999;
                
                width: 100% !important;
                height:auto !important;
                display:block !important;
            }


                .overlay_buttons
                {
                    border:none !important; 
                    position:fixed !important; 
                    background-color:transparent;
                    z-index:99;
                    bottom:30px !important;
                }
                #app_buttons {
                    left:50px;
                }

                .app_store_button
                {
                    
                }
                .share_button
                {
                    padding-left:180px;
                }

                .shareon_button
                {
                    left:25%;
                    z-index:80;
                    cursor:pointer;
                }


                .skip_button
                {
                    right:0px;
                    padding-bottom:3px;
                }

                #fullscreen_video
                {
                position: fixed;
                top: 0px;
                left: 0px;
                z-index: -1000;
                }


        </style>

        <script>

            function onsharemouseover() {
                //document.getElementById("btnShareOn").style.display = "inline";
                //document.getElementById("btnShare").style.display = "none";
            }

            function onsharemouseleave() {
                document.getElementById("btnShareOn").style.display = "none";
            }



        </script>

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46034793-1', 'happyfuel.me');
            ga('send', 'pageview');

    </script>
        
</head> 
<body >

<div class="main-container" >

    <header>
        <a href="javascript:location.reload();"><img id="logo" src="css/images/happy-fuel-logo.png" /></a>
    
        <nav>
            <div  class="user" ng-show="currentUser == null" ng-click="setView('sign-in');">Guest,</div><div class="user" ng-bind="getCurrentUsername()"></div>
            <span class="header-prefix-non-mobile">&nbsp;you are </span>being filled up with
            <div class="menus">
                <div class="sort-menu"><span class="title">the happiest</span>
                    <div class="menu">
                        <div class="down-arrow"></div>
                        <ul>
                            <li ng-click="selectPostType('H')">the happiest</li>
                            <li ng-click="selectPostType('-')">the newest</li>
                            <li ng-click="selectPostType('F')" ng-show="currentUser != null">your friend's</li>
                            <li ng-click="selectPostType('O')" ng-show="currentUser != null">your own</li>
                            <li class="menu-item-search">tags or people</li>
                        </ul>
                    </div>
                </div>
                <div class="filter-menu"><span class="title">fuel</span>
                    <div class="menu">
                        <div class="down-arrow"></div>
                        <ul>
                            <li class="photo" ng-click="selectFuelType('P')">photos</li>
                            <li class="music" ng-click="selectFuelType('M')">beats</li>
                            <li class="location" ng-click="selectFuelType('L')">spots</li>
                            <li class="video" ng-click="selectFuelType('V')">videos</li>
                            <li class="sound" ng-click="selectFuelType('A')">sounds</li>
                            <li class="thought" ng-click="selectFuelType('T')">thoughts</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="search off">
                <input type="text" ng-model="searchText" ng-change="checkInputForUsernameAndHashtags();" />
                <div class="btn-close"></div>
                <div class="search-results-container" ng-show="matchingSearchHashtags.length > 0 || matchingSearchUsers.length > 0">
                    <ul class="user-search-results">
                        <li>Tags:</li>
                        <li ng-repeat="tag in matchingSearchHashtags" ng-click="selectPostType('O');searchTag(tag);" onclick="hfapp.hideDashboard();">#{{tag}}</li>
                    </ul>
                    <ul class="user-search-results">
                        <li>Users:</li>
                        <li ng-repeat="user in matchingSearchUsers" ng-click="selectPostType('O');searchUser(user);" onclick="hfapp.hideDashboard();">@{{user.UserName}}</li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="mission static-content-target" >
        <a data-static-content-target="mission">about <div class="happy-face">: )</div></a>
    </div>
    </header>
    
    <div id="fullscreen_video">

                <video id="hfvideo"  class="video-js vjs-default-skin vjs-big-play-centered" height="100%"  autoplay="autoplay" controls="controls" preload="none" >
                <source src="http://assets.happyfuelapp.com/happyfuelapp.mp4" type="video/mp4"> 
                <source src="http://assets.happyfuelapp.com/happyfuelapp.webm" type="video/webm"> 
                <object   data="flashmediaelement.swf" type="application/x-shockwave-flash">	
                    <param value="flashmediaelement.swf" name="movie">	
                    <param value="controls=true&amp;file=http://assets.happyfuelapp.com/happyfuelapp.webm" name="flashvars">
                </object>

                </video>

                <div id="app_buttons">
                    <!-- app store button -->
                    <button id="btnAppStore" class="overlay_buttons"  >
                        <img style="border:none !important;" src="images/AppleBtn.png" />
                    </button>
        
                    <!-- share trigger -->
					<!--
                    <button id="btnShare" class="overlay_buttons share_button " onmouseover="onsharemouseover();"   >
                        <img style="border:none !important;" src="images/share.png" />
                    </button> -->
                
                    <!-- share expanded -->
                    <!--
					<div id="btnShareOn" style="display:none;" class="overlay_buttons shareon_button " >
                        <img id="imgShareOn" style="border:none !important;" src="images/ShareOn.png" />
                        <img id="imgFacebook"  style="border:none !important;" src="images/facebook.png" />
                        <img id="imgTwitter"   style="border:none !important;" src="images/twitter.png" />
                        <img id="imgEmail"   style="border:none !important;" src="images/emailBtn.png" />
                    </div>
					-->
                </div>

                <button id="btnSkip"   class="overlay_buttons skip_button " onmouseover="btnShareOn.display=block;" >
                    <img style="border:none !important;" src="images/SKIP.png" />
                </button>

                

    </div>
    <footer class="P">
        <ul>
            <li >sign in</li>
            <li class="static-content-target" >contact us</li>
            <li class="static-content-target" >terms &amp; policies</li>
            <li>&copy; Happy Fuel LLC 2013</li>
        </ul>
    </footer>
</div>

 <script src="javascripts/overlay.js"></script>
    <style>
                 body {
                    overflow: hidden !important;
                }
        </style>



</body>
</html>