#form-content { padding: 0 15px 0 6px; }

#form-hidden {
  display: none;
}

#form-content .form-item {
  margin-top: 10px;
  margin-bottom: 0;
}

#form-content label {
  font-weight: normal;
}

#form-content p.required {
  color: #ED1C24;
  clear: both;
}

.form-optin h4 {
  font-size: 16px;
  font-weight: bold;
}


.form-optin {
    padding-top: 10px;
    margin: 0;
}

/* Registration Forms */

#edit-addr-1, #edit-addr-2 {
  width: 275px;
}

#edit-fnm, #edit-mi, #edit-lnm, #edit-city, #edit-zipcode, #edit-mail, #edit-conf-mail {
  width: 150px;
}

#vx-register-dtc-form #edit-submit {
  background: url("/sites/incivek.com/files/images/button-register.png") no-repeat scroll left top transparent;
  border: medium none !important;
  width: 70px;
  height: 32px;
  cursor: pointer;
  margin: 0;
}

#vx-register-dtc-form #edit-submit:hover,
#vx-register-unsubscribe-form #edit-submit:hover {
  background-position: left bottom;
}

.form-item-age18 {
    margin-top: 20px !important;
}

/* Hidden inputs */
#form-not-age18,
#hcv-yes-follow-up-wrapper,
.form-item-tvr-start-date
{
	display: none;
}

.form-item-hcv-diag-date, .form-item-tvr-start-date
{
    margin-left: 10px;
}


/* Radios */
div.form-radios {
  padding-left: 8px;	
}

.form-item-age18 input,
.form-item-age18 label.option,
.form-item-hcp-comfort-indicator input,
.form-item-hcp-comfort-indicator .option,
.form-item-hcv-status-reg input,
.form-item-hcv-status-reg .option,
.form-item-prev-trtd input,
.form-item-prev-trtd .option,
.form-item-tvr-status-reg input,
.form-item-tvr-status-reg .option
{
    float: left;
}

.form-radios label
{
    padding: 0 20px 0 7px;
    margin: 0;
    font-weight: normal;
}

/* Text */
.form-item-fnm,
.form-item-mi,
.form-item-lnm,
.form-item-state,
.form-item-zipcode,
.form-item-mail,
.form-item-conf-mail
{
    float: left;
    padding-right: 15px;
}


/* Not Age18 */
#form-not-age18 #returnhome {
  background: url("/sites/incivek.com/files/images/button-return-to-home.png") no-repeat scroll left top;
  border: medium none;
  width: 111px;
  height: 32px;
  display: block;
  margin: 30px 0 0 0;
}

#form-not-age18 #returnhome:hover {
  background: url("/sites/incivek.com/files/images/button-return-to-home.png") no-repeat scroll left bottom;
}


/* Segmentation Form */

#vx-register-dtc-form #submitwrapper {
  width: 335px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-left: 10px;
}

#vx-register-dtc-form #patientsubmit {	
  background: url("/sites/incivek.com/files/images/button-patient-in-the-us.png") no-repeat scroll left top;
  display: block;
  width: 120px;
  height: 32px;
  float: left;
  border: medium none !important;
}

#vx-register-dtc-form #patientsubmit:hover {
  background: url("/sites/incivek.com/files/images/button-patient-in-the-us.png") no-repeat scroll left bottom;
}

#vx-register-dtc-form #hcpsubmit {
  background: url("/sites/incivek.com/files/images/button-healthcare-professional-in-the-us.png") no-repeat scroll left top;
  display: block;
  width: 179px;
  height: 30px;
  float: right;
}

#vx-register-dtc-form #hcpsubmit:hover {
  background: url("/sites/incivek.com/files/images/button-healthcare-professional-in-the-us.png") no-repeat scroll left bottom;
}



/* Unsubscribe Form */

#vx-register-unsubscribe-form {
    /*margin-bottom: 30px;*/
}

#vx-register-unsubscribe-form #edit-submit {
  background: url("/sites/incivek.com/files/images/button-save-my-settings.png") no-repeat scroll left top;
  border: medium none !important;
  width: 119px;
  height: 32px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
}

#vx-register-unsubscribe-form #edit-submit:hover {
  background-position: background-position: left bottom;
}

/* Checkboxes */
.form-item-br-opt-out input,
.form-item-br-opt-out label.option,
.form-item-vrtx-opt-out input,
.form-item-vrtx-opt-out label.option
{
    float: left;
}

.form-type-checkbox label
{
    padding: 4px 0 0 10px;
    font-weight: normal;
}

#vx-register-unsubscribe-form .form-item-conf-mail,
#vx-register-unsubscribe-form .form-item-mail
{
    float: none !important;	
}

