/* line 6, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
.modal.contributors-modal {
  float: left; }
  /* line 9, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
  .modal.contributors-modal .modal-dialog {
    min-width: 768px; }
    /* line 12, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
    .modal.contributors-modal .modal-dialog .modal-content {
        top:195px;

      float: left;
      width: 100%;
      border: 1px solid #161b8e;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.33); }
      /* line 27, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
      .modal.contributors-modal .modal-dialog .modal-content .close-modal {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 28px;
        height: 28px; }
      /* line 36, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
      .modal.contributors-modal .modal-dialog .modal-content .modal-body .photo {
        float: left;
        width: 160px; }
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .photo img {
            height:140px;
            height:140px;
        }
      /* line 40, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
      .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content {
        float: left;
        width: 545px;
        padding: 10px 35px 40px 10px; }
        /* line 44, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content h1 {
          margin: 0 5px 0 0;
          padding: 0;
          font-size: 24px;
          font-family: arial;
          color: #161b8e;
          font-weight: bold;
          float: left; }
        /* line 53, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content h2 {
          margin: 0;
          padding: 0;
          font-size: 24px;
          font-family: arial;
          color: #161b8e;
          font-weight: normal;
          float: left; }
        /* line 62, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content h3 {
          clear: both;
          float: left;
          margin: 5px 0;
          padding: 0;
          font-family: arial;
          text-transform: none;
          color: #585858;
          font-weight: normal;
          font-size: 16px; }
        /* line 73, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content h4 {
          clear: both;
          float: left;
          margin: 3px 0;
          padding: 0;
          font-family: arial;
          text-transform: none;
          color: #585858;
          font-weight: bold;
          font-size: 16px; }
        /* line 84, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #161b8e;
          margin: 1em 0 0.5em 0;
          padding: 0;
          float: left;
          clear: both;
          width: 100%; }
        /* line 95, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-whoweare.scss */
        .modal.contributors-modal .modal-dialog .modal-content .modal-body .body-content p {
          float: left;
          width: 100%;
          font-size: 16px;
          color: #575757;
          padding-top: 10px; }
