/* line 6, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
.modal.connect-modal {
  float: left; }
  /* line 9, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
  .modal.connect-modal .modal-dialog {
    min-width: 940px; }
    /* line 12, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
    .modal.connect-modal .modal-dialog .modal-content {
      float: left;
      width: 100%;
      border: 1px solid #161b8e;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: rgb(255,255,255);
      -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.33);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.33); }
      /* line 27, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .close-modal {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 28px;
        height: 28px; }
      /* line 37, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .modal-body .header {
        width: 100%;
        float: left; }
        /* line 41, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user {
          float: left;
          width: 100%;
          position: relative; }
          /* line 45, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-photo {
            float: left;
            position: relative; }
            /* line 48, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-photo .user-avatar {
              position: relative;
              height: 128px; }
            /* line 52, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-photo .upload-photo {
              position: absolute;
              z-index: 99;
              right: 10px;
              bottom: 10px;
              cursor: pointer; }
            /* line 59, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-photo #fileupload {
              display: none; }
          /* line 63, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user a.btn-popover {
            cursor: pointer; }
          
          /* line 66, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data {
            float: left;
            margin-left: 10px; 
            width:75%;
          }
            /* line 69, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data h1 {
              color: #161b8e;
              font-size: 20px;
              text-transform: none;
              margin: 0;
              padding: 0; }
            /* line 76, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data h2 {
              font-size: 14px;
              color: #585858;
              margin: 0;
              padding: 3px 0; }
            /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data h3 {
              font-size: 14px;
              font-weight: normal;
              color: #585858;
              margin: 0;
              padding: 0; }
            /* line 89, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data .display {
              margin-left: 10px;
              margin-top: 25px;
              float: left;
              width: 600px; }
            /* line 95, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data .form-fields {
              float: left;
              padding-top: 15px; }
              /* line 101, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
              .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data .form-fields .form-group label {
                width: 80px;
                text-align: left; }
              /* line 105, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
              .modal.connect-modal .modal-dialog .modal-content .modal-body .header .profile-user .user-data .form-fields .form-group .fields {
                margin-left: 5px;
                width: 280px; }
       


        
        .modal.connect-modal .modal-dialog .modal-content .modal-body .header .buttons {
          margin: 15px 0 0 10px;
        }
                    
          .modal.connect-modal .modal-dialog .modal-content .modal-body .header .buttons .btn-connect {
            margin-right: 5px;
            background: #ff6400;
            width: 140px;
            text-transform: uppercase;
            color: #fff;
            font-family: "proxima-nova-condensed";
            font-size: 14px;
            font-weight: bold;
            padding: 4px;
            border-color: #ff6400;
            -moz-box-shadow: 0 1px 2px #2f0b0f;
            -webkit-box-shadow: 0 1px 2px #2f0b0f;
            box-shadow: 0 1px 2px #2f0b0f; }
          
          .modal.connect-modal .modal-dialog .modal-content .modal-body .header .buttons .btn-disconnect {
            width: 140px;
            text-transform: uppercase;
            color: #757575;
            font-family: "proxima-nova-condensed";
            font-size: 14px;
            font-weight: bold;
            padding: 4px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #f9f9f9;
            -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
            -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
            box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; }




      /* line 157, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container {
        float: left;
        width: 100%;
        margin: 10px 0 20px 0; }
        /* line 162, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #161b8e;
          margin: 1em 0 0.5em 0;
          padding: 0; }
        /* line 171, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container h2 {
          text-transform: uppercase;
          font-family: "proxima-nova-condensed";
          font-size: 18px;
          font-weight: bold;
          color: #585858;
          margin: 2px 0 25px 0; }
        /* line 180, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container ul.filtered-tags {
          float: left;
          width: 100%;
          margin: 0 0 4px 0;
          padding: 0; }
          /* line 185, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container ul.filtered-tags li {
            width: auto !important;
            float: left;
            margin-right: 10px;
            padding: 3px 0;
            display: inline-block; }
            /* line 191, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container ul.filtered-tags li span {
              float: left;
              background: #fff;
              padding: 2px 4px !important;
              margin-right: 2px !important;
              border: 1px solid #ccc;
              font-size: 11px !important;
              font-family: arial !important; }
            /* line 200, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .display-container ul.filtered-tags li a {
              float: left;
              background: #fff;
              padding: 2px 3px !important;
              color: #585858;
              font-size: 11px !important;
              font-family: arial !important;
              border: 1px solid #ccc; }
      /* line 213, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .modal-body .column {
        float: left;
        width: 460px;
        padding-right: 20px; }
        /* line 217, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .column .form-group {
          margin-bottom: 16px; }
          /* line 219, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column .form-group.tight {
            margin-bottom: 8px; }
      /* line 224, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right {
        width: 400px;
        float: right;
        padding-right: 0; }
        /* line 229, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group {
          margin-bottom: 20px; }
          /* line 231, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .fields {
            width: 250px; }
          /* line 235, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-affiliations,
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-jobs {
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            font-size: 14px;
            float: left; }
            /* line 243, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-affiliations li,
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-jobs li {
              position: relative;
              margin: 5px 0;
              padding: 6px 10px;
              background: url("../imgs/connect/bk-showme.png");
              float: left;
              width: 100%; }
              /* line 251, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
              .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-affiliations li span,
              .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-jobs li span {
                float: left;
                width: 98%; }
              /* line 255, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
              .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-affiliations li a,
              .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .list-jobs li a {
                right: -8px;
                top: 30%;
                position: absolute;
                width: 20px;
                height: 20px; }
          /* line 264, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .lookup-organization {
            width: 100%;
            float: left;
            clear: both; }
            /* line 268, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .lookup-organization input {
              width: 190px;
              margin-bottom: 5px;
              float: left; }
            /* line 273, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .lookup-organization a {
              font-size: 12px;
              color: #161b8e;
              float: right; }
          /* line 279, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .add-job-container {
            float: left;
            width: 100%;
            margin-top: 5px; }
            /* line 284, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .add-job-container .formfields {
              float: left;
              clear: both;
              margin: 3px 0; }
            /* line 289, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .column.right .form-group .add-job-container select {
              width: 120px; }
      /* line 296, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
      .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container {
        float: left;
        width: 100%;
        padding-top: 5px; }
        /* line 301, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container h4 {
          font-family: "proxima-nova-condensed";
          float: left;
          font-size: 14px;
          font-weight: bold;
          color: #161b8e;
          text-transform: uppercase;
          margin: 3px 0 0 0;
          padding: 0; }
        /* line 311, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container i {
          margin-left: 10px;
          font-size: 12px;
          color: #585858; }
        /* line 316, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container hr {
          float: left;
          width: 100%;
          font-family: "proxima-nova-condensed";
          margin: 0.5em 0;
          border-top: 1px solid #ccc; }
        /* line 324, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .btn-mini {
          float: left;
          color: #585858;
          font-family: "proxima-nova-condensed";
          font-size: 12px;
          font-weight: bold;
          padding: 1px 10px;
          border: 1px solid #b7b7b7;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          background-color: #f3f3f3; }
        /* line 341, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items {
          float: left;
          width: 100%;
          padding-top: 5px;
          padding-left: 0;
          margin-left: 0; }
          


          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li {
            list-style: none;
            float: left;
            width: 100%;
            padding: 0; }


            /* line 352, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li label {
              color: #969696;
              font-weight: normal;
              padding-top: 5px;
              /* override bootstap */
              padding-left: 0;
              padding-right: 0;
              float: left;
              width: 33.3%;
              text-align: right; }
            /* line 362, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li span {
              float: left;
              color: #585858;
              padding: 5px 0 0 22px; }
            /* line 368, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li .sublist {
              color: #585858; }
              

              .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li .sublist li {
                float: right;
                width: 70%;
                padding: 7px 0 0 10px;
                font-size: 14px;
                line-height: 16px; 
              }

              .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .data-items li .sublist .interest {
                width: auto;
              }


        /* line 381, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .privacy-container {
          float: left;
          clear: both;
          width: 100%;
          margin-top: 40px; }
          /* line 386, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .privacy-container strong {
            font-family: "proxima-nova-condensed";
            color: #969696;
            font-size: 14px; }
          /* line 392, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .privacy-container ul {
            padding-left: 18px; }
            /* line 394, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
            .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .privacy-container ul li {
              font-size: 14px;
              color: #969696; }
        /* line 400, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/modal-connect.scss */
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container.vetvance-connections {
          margin-top: 40px; }
        

        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .friends-container {
          float: left;
          width: 100%;
          margin-top: 10px; }


          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .friends-container img {
            padding: 4px 2px; 
            height: 80px;
          }

          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .friends-container ul {
            margin: 0;
            padding: 0;
          }

          .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container .friends-container li {
            list-style: none;
            float:left;
            margin: 0;
            padding: 0;            
          }
        
        .modal.connect-modal .modal-dialog .modal-content .modal-body .data-container.privacy-container-form {
          float: left;
          margin-top: 30px; }




.btnConnect {
  cursor: pointer;
}




