/* line 5, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
.popover-container .popover {
  max-width: 488px;
  padding: 0; }
/* line 9, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
.popover-container .popover-content {
  padding: 0px;
  width: 488px;
  height: auto; }
  /* line 14, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
  .popover-container .popover-content .type-modal {
    width: 488px;
    height: 374px;
    float: left;
    margin: 0;
    padding: 0; }
    /* line 20, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
    .popover-container .popover-content .type-modal .popover-header {
      position: relative;
      width: 100%;
      display: inline;
    }
      /* line 25, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-modal .popover-header .tab {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0; }
        /* line 30, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-header .tab h4 {
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          color: #161b8e;
          margin: 0;
          padding: 15px;
          cursor: pointer; }
        /* line 39, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-header .tab:first-child {
          width: 49%;
          border-right: 1px solid #c5c6e3; }
        /* line 43, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-header .tab.active {
          border-bottom: 2px solid #161b8e; }
        /* line 46, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-header .tab.inactive {
          border-bottom: 0px;
          background: url("../../imgs/bk-lines.png"); }
          /* line 49, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-modal .popover-header .tab.inactive h4 {
            font-weight: normal; }
      /* line 54, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-modal .popover-header .close-modal {
        position: absolute;
        right: -10px;
        top: 0; }
    /* line 60, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
    .popover-container .popover-content .type-modal .popover-data {
      width: 100%;
      float: left;
      padding: 15px 0; }
      /* line 65, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-modal .popover-data .column.navigation {
        float: left;
        width: 25%;
        padding: 0; }
        /* line 69, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-data .column.navigation li {
          width: 100%;
          list-style: none;
          float: left;
          text-align: right;
          font-size: 11px;
          font-family: arial;
          padding: 3px 0;
          cursor: pointer; }
          /* line 78, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-modal .popover-data .column.navigation li.active {
            font-weight: bold;
            color: #ff6400; }
      /* line 84, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-modal .popover-data .column.fieldlists {
        float: left;
        width: 74%;
        overflow: hidden;
        height: 300px;
        overflow-y: scroll; }
        /* line 90, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-data .column.fieldlists ul {
          float: left; }
          /* line 92, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-modal .popover-data .column.fieldlists ul li {
            padding: 2px 0;
            list-style: none;
            float: left;
            width: 100%;
            font-size: 12px;
            font-family: arial;
            color: #161b8e;
            font-weight: normal; 
            cursor: pointer;
          }
          /* line 102, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-modal .popover-data .column.fieldlists ul.fieldset {
            display: none; }
          /* line 105, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-modal .popover-data .column.fieldlists ul.active {
            display: inline-block; }
        /* line 109, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-data .column.fieldlists.inactive {
          display: none; }
        /* line 112, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-modal .popover-data .column.fieldlists.active {
          display: inline-block; }
  /* line 119, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
  .popover-container .popover-content .type-popover {
    padding: 8px; }
    /* line 121, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
    .popover-container .popover-content .type-popover .popover-header {
      width: 100%;
      float: left;
      clear: both; }
      /* line 125, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-header h4 {
        float: left;
        font-size: 12px;
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #161b8e; }
      /* line 133, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-header span {
        float: right;
        background: #fff;
        padding-right: 6px; }
        /* line 137, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-popover .popover-header span a {
          color: #161b8e;
          font-size: 12px;
          font-weight: bold; }
    /* line 144, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
    .popover-container .popover-content .type-popover .popover-footer {
      width: 100%;
      float: right;
      clear: both;
      padding: 5px 5px 8px 5px; }
      /* line 149, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-footer a {
        float: right; }
      /* line 152, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-footer .btn-save {
        width: 70px;
        background: #ff6400;
        color: #fff;
        padding: 1px 0 0 0;
        font-family: "proxima-nova-condensed";
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        padding: 0;
        margin-right: 5px;
        text-transform: uppercase;
        border: 1px solid #e95210;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #ff6300; }
      /* line 173, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-footer .btn-cancel {
        width: 70px;
        height: 20px;
        padding: 1px 0 0 0;
        text-transform: uppercase;
        font-size: 12px;
        color: #585858;
        font-weight: bold;
        border: 1px solid #b7b7b7;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f3f3f3; }
    /* line 191, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
    .popover-container .popover-content .type-popover .popover-data {
      width: 100%;
      float: left;
      padding: 5px 0; }
      /* line 195, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
      .popover-container .popover-content .type-popover .popover-data ul.column {
        width: 33%;
        float: left;
        clear: none;
        margin: 0;
        padding: 0 10px 0 0; }
        /* line 201, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
        .popover-container .popover-content .type-popover .popover-data ul.column li {
          list-style: none;
          float: left;
          width: 100%;
          font-size: 12px;
          font-family: arial;
          margin: 2px 0;
          padding: 0 0 0 0; }
          /* line 209, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-popover .popover-data ul.column li label {
            color: #585858;
            font-weight: normal;
            width: 100%;
            clear: both;
            padding: 0;
            margin-bottom: 0; }
          /* line 217, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-popover .popover-data ul.column li div {
            float: left;
            margin-right: 5px; }
          /* line 221, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
          .popover-container .popover-content .type-popover .popover-data ul.column li ul.sublist {
            float: left;
            margin: 0 0 0 7px;
            padding: 0 10px 0 0; }
            /* line 225, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
            .popover-container .popover-content .type-popover .popover-data ul.column li ul.sublist.four {
              background: url("../../imgs/connect/treex4.png") no-repeat 0px 4px; }
            /* line 228, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
            .popover-container .popover-content .type-popover .popover-data ul.column li ul.sublist.tres {
              background: url("../../imgs/connect/treex3.png") no-repeat 0px 4px; }
            /* line 231, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
            .popover-container .popover-content .type-popover .popover-data ul.column li ul.sublist.cinco {
              background: url("../../imgs/connect/treex5.png") no-repeat 0px 4px; }
            /* line 234, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/modules/popover-profiles.scss */
            .popover-container .popover-content .type-popover .popover-data ul.column li ul.sublist li {
              list-style: none;
              padding: 0 0 0 15px;
              float: left;
              width: 100%;
              font-size: 12px;
              font-family: arial;
              margin: 2px 0; }
