﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <!-- 3rd party scripts -->
    <script type="text/javascript" src="~/Content/scripts/jquery-1.8.2.min.js"></script>

    <!-- styles -->
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <link href="~/Content/styles/dosing.css" rel="stylesheet" />

    <!-- scripts -->
    <script type="text/javascript" src="~/Content/scripts/dosing.js"></script>
</head>
<body>
    <div id="page">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
