﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <!-- 3rd party scripts -->
    <script type="text/javascript" src="~/Content/scripts/jquery-1.7.1.min.js"></script>

    <!-- styles -->
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <link href="~/Content/styles/polling.css" rel="stylesheet" />
    <style>
			ul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 1080px;
				height: 729px;
				top: 150px;
			}
			li {
				height: 847px;
				width: 731px;
				text-align: center;
				/*cursor: pointer;*/
			}
				li img {
					width: 100%;
				}
				li.roundabout-in-focus {
					cursor: default;
				}
			li span {
				display: block;
				padding-top: 6em;
			}

			#carbonads-container .carbonad {
				margin: 0 auto;
			}
			img {
				background: transparent!important;
				background-color: none!important;
			}
		</style>

    <!-- scripts -->
    <script type="text/javascript" src="~/Content/scripts/polling.js"></script>
     <script>
			$(document).ready(function() {
				$('ul').roundabout();
			});
		</script>
</head>
<body>
    <div id="page">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
