@import "../admin_custom/css/admin.css";

body.mceContentBody a sup {
	background: red;
	color: #000;
	padding: 0 3px;
	}	

/* Custom TinyMCE */
#id_headline_body {
	color: #5f246a;
	}

#id_headline_body b,
#id_headline_body strong {
	color: #5f246a;
	font-weight: bold;
	}		

#id_headline_tbl,
#id_headline_ifr	{
	height: 55px !important;
	}

#id_summary_body {
	color: #5f246a;
	}
	
#id_intro_body strong,
#id_intro_body b {
	color: inherit;
	font-weight: bold;
	}		

#id_content_body h2,
#id_intro_body h2 {
	font-weight: normal;
	color: #d90369 !important;
	}
	
#id_content_body h2 b,
#id_content_body h2 strong,
#id_intro_body h2 b,
#id_intro_body h2 strong {
	color: red;
	text-decoration: line-through;
	}	

#id_content_body strong,
#id_content_body b {
	color: inherit;
	font-weight: bold;
	}	

