a img {border: 0;}


body {
	font: 76%/1em Verdana, Arial, Helvetica, sans-serif;
	color: #000;	
	line-height: 1.31em;
	text-align: center;		
	} 

#container{
	width: 600px;
	margin: 0 auto;
	text-align: left;
	}

	
a {
	text-decoration: none;
	color: #000;
	}
	
sup {
	font-size: 9px;
	}	

h1, h2, h3 { font-family: Arial, Helvetica, sans-serif; line-height: 1.21em;}


h1 {
	font-weight: normal;
	font-size: 332%;
	letter-spacing: -2px;
	margin: 15px 0 10px 0;
	color: #333333;
	}

	
h1 strong {
	color: #000;
	font-weight: normal;
	}		

h2 {
	font-weight: bold;
	font-size: 112%;
	}
h3 {
	font-weight: bold;
	font-size: 106%;
	}

.statereq h3 {
	font-weight: bold;
	font-size: 112%;
	}	

.statereq h3 strong {
	display: none;
	}	
	
.summary {
	font-size: 132%;
	line-height: 1.51em;
	}	

.intro li,
.intro ul {
	margin-left: 0 !important;
	}

.intro .media {
	float: right;
	margin-left: 10px;	
	}
.intro .media img {
	height: 150px !important;
	width: auto !important;
	}	

.mediaBox p {
	font-size: 86%;
	letter-spacing: -1px;
	}


ul {
	margin-bottom: 20px;
	}


#extraText {
	font-size: 76%;	
	line-height: 1em;
	border-top: 1px solid #999;
	padding-top: 10px;
	}

.footnotes {
	font-size: 112%;
	line-height: 1.41em;
	border-top: 1px solid #999;	
	}
	
#footer {
	clear: both;
	padding-top: 10px;
	}	
#footer .logo {
	float: left;
	margin-right: 20px;
	}	
#copyright {
	color: #999;
	font-size: 86%;	
	margin-left: 117px;
	line-height: 1em;
	letter-spacing: -1px;
	}
#copyright br {
	display: none;
	}	

p {
	margin-top: 0;
	}
	
img#states {
	float: right;
	}



#header .menu,
#footer .menu,
.sidebarTout,
#quiz_yes,
#quiz_no,
#searchForm,
#toolsMenu,
#selectForm,
#confirm
{
	display: none !important;
	}
