<div class="modal-connect-container"></div>
<script id="modal-connect-template" type="text/x-handlebars-template">
{{#user}}
<!-- Modal -->
<div class="modal connect-modal" id="connectPersonModal{{userid}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <a href="#" class="close-modal" data-id="{{userid}}"><img src="contents/imgs/btn-close-modal.png" /></a>        
        <div class="header">
          <div class="profile-user">
            <div class="user-photo"><img src="/contents/avatars/{{avatar}}" class="user-avatar img-circle" alt="" /></div>
            <div class="user-data">
              <div class="display">
                   <h1>{{firstname}} {{lastname}}</h1>
                   <h2>{{title}}</h2>
                  {{#if optpublic}}
                    <h3>{{email}}</h3>
                  {{/if}}

                   
              </div>
            </div>
            {{#buttons connected userid}} {{userid}} {{/buttons}}
          </div>
        </div><!--/. header -->
        
        <div class="display-container">
          <hr class="top" />              
            <!-- left column -->
            <div class="column">
              <div class="data-container">
                <h4>basic info</h4>
                <hr />                  
                <ul class="data-items">
                  <li>
                    <label class="control-label">Zip</label>
                    <span class="zip">{{zip}}</span>                               
                  </li>
                  <li>
                    <label class="control-label">Profession</label>
                    <span class="profession">{{profession}}</span>
                  </li>
                  <li>
                    <label class="control-label">School</label>
                    <span class="school">{{school}}</span>
                  </li>
                  <li>
                    <label class="control-label">Graduation</label>
                    <span class="graduation">{{graduation}}</span>
                  </li>
                  <li>
                    <label class="control-label">Interest/Practice</label>
                    <ul class="sublist interest">                    
                      {{#each userinterests}}
                          {{#listInterests this}} {{/listInterests}}                        
                      {{/each}}                      
                    </ul>
                  </li>
                  <li>
                    <label class="control-label">Expertise/Specialty</label>
                    <ul class="sublist interest">                      
                      {{#each userspecialties}}
                         {{#listInterests this}} {{/listInterests}}  
                      {{/each}}                      
                    </ul>                    
                  </li>                  
                </ul>
              </div>
              <div class="data-container">
                <h4>additional info</h4>
                <hr />                  
                <ul class="data-items">
                  <li>
                    <label class="control-label">Affiliations</label>
                    <ul class="sublist affiliations">                                    
                      {{#each affiliations}}
                        {{#each this}}
                          {{#listAffiliations this}} {{/listAffiliations}}
                        {{/each}}
                      {{/each}}
                    </ul>
                    </ul>                          
                  </li>
                </ul>
              </div>
            </div>
            <!--/. left column -->
            <!-- right column -->
            <div class="column right">
              <div class="data-container">
                  <h4>mutal connections</h4>
                  <hr />
                  <div class="friends-container">
                    <ul class="mutal-connections"></ul>
                  </div>
              </div>

              <div class="data-container vetvance-connections">
                <h4>Vetvance Connectons</h4>
                <hr />
                <div class="friends-container">
                  <ul class="vet-connections"></ul>
                </div>
              </div>
            </div>
            <!--/. right column -->
          </div>
        </div><!--/. display-container -->
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/user}}
</script>   