

@media screen and (max-width: 1024px) {
    section.wall {
        width: 100%;
    }
    .main-container > header nav {
        margin-left: 220px;
    }
    section.static{
        .mission {
            .content {
                max-width: 500px;
                padding-right: 10px;
            }
        }
    }
    section.post-detail {
        .full-page-image {
            height:450px;
            border:solid 1px $color-grey-light;
        }
        .dial-tab {
            /*
            bottom: auto;
            top: 550px;
            margin-top: -61px;
            */
        }
        .dial-not-logged-in-message, .thank-you-message {
            /*
            bottom: auto;
            top:506px;
            */
        }
        .btn-expand-collapse {
            top: 580px;
            right: 2%;
        }
        .comments-pane {
            right: auto;
            top:460px;
            width:98%;
            margin:1%;
            border-radius: 0px;
            a.follow {
                position: relative;
                right:auto;
                float:right;
            }
            section.group {
                width:48%;
                margin-right: 1%;
                float: left;
                &:last-child {float:right;}
            }
        }
    }
    section.dashboard {
        height:650px;
        section.fuels {
            .icons {
                float: none;
                position: absolute;
                margin-left: -50px;
            }
        }
        .navigation {
            margin-left: 510px;
        }
    }
}