
/* -----------------------------------------
   Buttons
----------------------------------------- */
.button {
    padding: 0px 4px;
    color: white;
    min-width: 64px;
    height: 26px;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}
.button, .button.blue {
    background-color: $color-thought;
}
.button.pink {
    background-color: $color-location;
}