﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Contact</h2>


<h2>Hear from you:</h2>
<select id="feedbackarea" name="feedbackarea"></select>: topics<br />
<input id="feedbackname" name="feedbackname" type="text" />: name<br />
<input id="feedbackemail" name="feedbackemail" type="text" />: email<br />
<textarea id="feedbackmessage" name="feedbackmessage"></textarea>: message<br />
<input id="feedbacksubmit" type="button" value="submit feedback" />


<h2>Questions for the support team:</h2>
<select id="supportarea" name="supportarea"></select>: supports<br />
<input id="supportname" name="supportname" type="text" />: name<br />
<input id="supportemail" name="supportemail" type="text" />: email<br />
<textarea id="supportmessage" name="supportmessage"></textarea>: message<br />
<input id="supportsubmit" type="button" value="submit support" />

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "/api/Topics/feedback",
            // data: { key: val },
            contentType: JSON
        }).done(function (data) {
            ///console.log(data);

            _html = '';
            $.each(data, function (_key) {
                _html += '<option value="' + data[_key].topicname + '">';
                _html += data[_key].topicname;
                _html += '</option>';
            });

            $('#feedbackarea').html(_html);
        });

        $.ajax({
            url: "/api/Topics/support",
            // data: { key: val },
            contentType: JSON
        }).done(function (data) {
            ///console.log(data);

            _html = '';
            $.each(data, function (_key) {
                _html += '<option value="' + data[_key].topicname + '">';
                _html += data[_key].topicname;
                _html += '</option>';
            });

            $('#supportarea').html(_html);
        });

        // send feedback email
        $('#feedbacksubmit').click(function () {
            $.ajax({
                url: "/api/Topics/support",
                // data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);
            });
        });

        // send support email
        $('#supportsubmit').click(function () {
            $.ajax({
                url: "/api/Topics/support",
                // data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);
            });
        });
    </script>
}