﻿@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<style type="text/css">
    section {
        float:left;
        margin-right:100px;
    }
</style>

<h2>CourseList</h2>

<section>
<h2><u>business issues</u></h2>
<div id="business_result"></div>
</section>

<section>
<h2><u>professional development</u></h2>
<div id="professional_result"></div>
</section>

<section>
<h2><u>financial literacy</u></h2>
<div id="financial_result"></div>
</section>

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "/api/Users/@Session["userid"]",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            var _html = '';
            var _businesshtml = '';
            var _professionalhtml = '';
            var _financialhtml = '';
            $.each(data[0]['usertype']['userpaths'], function (_coursekey) {
                // course name
                _html = '<div>';
                _html += '<a href="/prototype/course/' + data[0]['usertype']['userpaths'][_coursekey]['cours'].courseid + '">';
                _html += data[0]['usertype']['userpaths'][_coursekey]['cours'].coursename;
                _html += '</a>';
                _html += ' [<a href="/prototype/coursestatus/' + data[0]['usertype']['userpaths'][_coursekey]['cours'].courseid + '">status</a>]';
                _html += '<ul>';

                // moudle
                $.each(data[0]['usertype']['userpaths'][_coursekey]['cours'].modules, function (_modulekey) {
                    _html += '<li><a href="/prototype/module/' + data[0]['usertype']['userpaths'][_coursekey]['cours']['modules'][_modulekey].moduleid + '">';
                    _html += data[0]['usertype']['userpaths'][_coursekey]['cours']['modules'][_modulekey].modulename;
                    _html += '</a></li>';
                });
                _html += '</ul>';
                _html += '</div>';

                // write to appropriate category
                switch (data[0]['usertype']['userpaths'][_coursekey]['cours'].coursetypeid) {
                    case 1:
                        _businesshtml += _html;
                        break;
                    case 2:
                        _professionalhtml += _html;
                        break;
                    default: // 3
                        _financialhtml += _html
                }
            });

            $('#business_result').html(_businesshtml);
            $('#professional_result').html(_professionalhtml);
            $('#financial_result').html(_financialhtml);
        });
    </script>
}