﻿@model int
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>CourseStatus</h2>

<p>
    <span id="completemodule"></span> out of <span id="totalmodule"></span> complete
</p>

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "/api/Users/@Session["userid"]",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            var _count = 0;
            var _html = '';
            $.each(data[0]['usertype']['userpaths'], function (_coursekey) {
                // count courseid
                $.each(data[0]['modulestatus'], function (_statuskey) {
                    // if course id match add count
                    if (data[0]['modulestatus'][_statuskey].courseid == data[0]['usertype']['userpaths'][_coursekey]['cours'].courseid) {
                        // if course matches specified
                        if (data[0]['modulestatus'][_statuskey].courseid == @Model) {
                            _count += 1;
                            _html = data[0]['usertype']['userpaths'][_coursekey]['cours'].modules.length;
                        }
                    }
                });
            });

            $('#completemodule').html(_count);
            $('#totalmodule').html(_html);
        });
    </script>
}