﻿@model int
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Course: <span id="coursename"></span></h2>
<p>
    Description: <span id="coursedescription"></span>
</p>

<u>Modules</u>
<ul id="modules"></ul>

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "/api/Course/@Model",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            $('#coursename').html(data[0].coursename);
            $('#coursedescription').html(data[0].coursedescription);

            var _html = '';
            $.each(data[0].modules, function (_modulekey) {
                _html += '<li><a href="/prototype/module/' + data[0]['modules'][_modulekey].moduleid + '">';
                _html += data[0]['modules'][_modulekey].modulename;
                _html += '</a> [Presented by: ' + data[0]['modules'][_modulekey]['presenter'].presenterprefix + ' ' + data[0]['modules'][_modulekey]['presenter'].presenterfirstname + ' ' + data[0]['modules'][_modulekey]['presenter'].presenterlastname + ' ' + data[0]['modules'][_modulekey]['presenter'].presentercertification + ']</li>';
            });

            $('#modules').html(_html);
        });
    </script>
}