﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Forgot Password</h2>

<form action="/process/forgot/?redirect=/views/prototype/reset.cshtml" method="post">
    <input id="email" name="email" type="text" />: Email<br />
    <input id="lastname" name="lastname" type="text" />: Last Name<br />

    <input id="verify" type="submit" value="continue" /> <input id="cancel" type="reset" value="cancel" />
</form>