﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Home</h2>

<p>This section is to demonstrate a prototype functionalities and serve as a implementation guidelines to the API</p>