﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Login</h2>

<!-- form -->
<form action="/process/authenticate/?redirect=/prototype" method="post">
    <input name="email" value="@ViewBag.cookie" />: Email<br />
    <input name="password" type="password" />: Password<br />
    <input name="remember" type="checkbox" @ViewBag.remember />: Remember<br />
    <input type="submit" value="Login" />
</form>

<a href="/prototype/forgot">Reset your password</a>

<!-- auto login -->
<form id="autologin" action="/process/authenticate/?redirect=/prototype" method="post"><input name="email" value="leejae76@msn.com" style="display:none;" /><input name="password" type="password" value="jml110490" style="display:none;" /><input type="submit" value="Auto-Login" /></form>