﻿@model int
@{
    ViewBag.Title = "Module";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Module: <span id="modulename"></span></h2>
<p>
    Description: <span id="moduledescription"></span>
</p>

<u>Presenter: <span id="presenter"></span> [<span id="presentertitle"></span>]</u>
<p>
    Description: <span id="presenterdescription"></span>
</p>

<u>Video</u>
<p>
    Transcript: <span id="transcript"></span>
</p>

<ul>
    <li><span id="videoname"></span>: <span id="videopath"></span></li>
</ul>

<u>Survey: <span id="surveyname"></span></u>
<p>
    Description: <span id="surveydescription"></span>
</p>

<ul id="surveyquestions"></ul>

<u>Like-minded People:</u>
<ul id="likeminded"></ul>

<u>Recommendation</u>
<ul>
    <li><a onclick="TracktSimple('PrevModule','--','--');" id="previous">Previous Module</a></li>
    <li><a onclick="TracktSimple('NextModule','--','--');" id="next">Next Module</a></li>
</ul>

<u>Other modules in this Course</u>
<ul id="othermodules"></ul>

<u>Additional Resources</u>
<ul id="additionalresources"></ul>

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "/api/Module/@Model?userid=@Session["userid"]",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            // module
            $('#modulename').html(data[0]['module'].modulename);
            $('#moduledescription').html(data[0]['module'].moduledescription);

            // presenter
            if (data[0]['module']['presenter'] != null) { // check empty
                $('#presenter').html(data[0]['module']['presenter'].presenterprefix + ' ' + data[0]['module']['presenter'].presenterfirstname + ' ' + data[0]['module']['presenter'].presenterlastname + ', ' + data[0]['module']['presenter'].presentercertification);
                $('#presentertitle').html(data[0]['module']['presenter'].presentertitle);
                $('#presenterdescription').html(data[0]['module']['presenter'].presenterdescription);
            }

            // video
            if (data[0]['module']['videos'][0] != null) { // check empty
                // assign values
                $('#videoname').html(data[0]['module']['videos'][0].videoname);
                $('#videopath').html(data[0]['module']['videos'][0].videopath);
                $('#transcript').html(data[0]['module']['videos'][0].transcript);
            }

            // survey
            if (data[0]['module']['surveys'][0] != null) { // check empty
                // assign values
                $('#surveyname').html(data[0]['module']['surveys'][0].surveyname);
                $('#surveydescription').html(data[0]['module']['surveys'][0].surveydescription);

                // get survey questions
                var _question = '';
                $.each(data[0]['module']['surveys'][0].surveyquestions, function (_qkey) {
                    _question += '<li><span id="answer_' + data[0]['module']['surveys'][0]['surveyquestions'][_qkey].surveyquestionid + '"><span>';
                    _question += data[0]['module']['surveys'][0]['surveyquestions'][_qkey].surveyquestionname;
                    _question += ' [<a href="javascript:saveAnswer(\'' + data[0]['module']['surveys'][0]['surveyquestions'][_qkey].surveyid + '\',\'' + data[0]['module']['surveys'][0] ['surveyquestions'][_qkey].surveyquestionid + '\');">mark as answer</a>]';
                    _question += '</li>';
                });
                $('#surveyquestions').html(_question);
            }

            // get other modules in this course
            var _modules = '';
            $.ajax({
                url: "/api/Course/" + data[0]['module'].courseid,
                format: JSON
            }).done(function (course) {
                //console.log(course);

                $.each(course[0].modules, function (_mkey) {
                    _modules += '<li><a href="/prototype/module/' + course[0]['modules'][_mkey].moduleid + '">';
                    _modules += course[0]['modules'][_mkey].modulename;
                    _modules += '</a></li>';
                });
                $('#othermodules').html(_modules);
            });

            // additional resources
            if (data[0]['module']['resources'][0] != null) { // check empty
                // get resource list
                var _resource = '';
                $.each(data[0]['module']['resources'], function (_rkey) {
                    _resource += '<li>';
                    _resource += '<a href="' + data[0]['module']['resources'][_rkey].link + '" target="_blank">';
                    _resource += data[0]['module']['resources'][_rkey].title;
                    _resource += '</a>';
                    _resource += ': ' + data[0]['module']['resources'][_rkey].description;
                    _resource += '</li>';
                });
                $('#additionalresources').html(_resource);
            }

            // check answer
            checkAnswer(data[0]['module']['surveys'][0].surveyid);
        });

        // find previous module
        $.ajax({
            url: "/api/previousModule/@Model",
            format: JSON
        }).done(function (previous) {
            if (previous != 0) { $('#previous').attr('href', '/prototype/module/' + previous); }
        });

        // find next module
        $.ajax({
            url: "/api/nextModule/@Model",
            format: JSON
        }).done(function (next) {
            if (next != 0) { $('#next').attr('href', '/prototype/module/' + next); }
        });

        function saveAnswer(surveyid, surveyquestionid) {
            $.ajax({
                url: "/api/saveAnswer/@Session["userid"]?surveyid=" + surveyid + "&surveyquestionid=" + surveyquestionid,
                format: JSON
            }).done(function (data) {
                //console.log(data);
            });
        }

        function checkAnswer(surveyid) {
            $.ajax({
                url: "/api/SurveyResponse/@Session["userid"]?surveyid=" + surveyid,
                format: JSON
            }).done(function (data) {
                //console.log(data);

                $('#answer_' + data).html('(0) ' + $('#answer_' + data).html());

                // show like-minded
                likeMinded(data);
            });
        }

        function likeMinded(surveyquestionid) {
            $.ajax({
                url: "/api/getLikeMinded/@Session["userid"]?surveyquestionid=" + surveyquestionid,
                format: JSON
            }).done(function (data) {
                //console.log(data);

                var _html = '';
                $.each(data, function (_key) {
                    _html += '<li>';
                    _html += data[_key].firstname + ' ' + data[_key].lastname;
                    _html += ' <img src="/Contents/avatars/' + data[_key].avatar + '" height="50" />';
                    _html += '</li>';
                });

                $('#likeminded').html(_html);
            });
        }
    </script>
}

