﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Register</h2>

<form action="/Process/Register?redirect=/prototype/userprofile" method="post">
    <input id="email" name="email" />: Email<br />
    <input id="password" name="password" type="password" />: Password<br />
    <input id="firstname" name="firstname" />: First Name<br />
    <input id="lastname" name="lastname" />: Last Name<br />
    <select id="careertypeid" name="careertypeid"></select>: I am<br />
    <input id="vetschool" type="radio" name="schoolgroup" value="Vet" checked>AVMA-accredited School<br>
    <input id="otherschool" type="radio" name="schoolgroup" value="Other">All Other<br />
    <input id="school" name="school" />: Schools Name<br />
    <ul id="schoolnames"></ul> <!-- school search result -->
    <select id="graduation" name="graduation">
        @{
            // Range of Age is retirement age (-65 years from current year to next graduates (next 7 years)
            for (var i = (DateTime.Now.Year - 65); i <= (DateTime.Now.Year + 7); i++)
            {
                <option value="@i">@i</option>   
            }
        }
    </select>: Graduation<br />
    <select id="securityquestion" name="securityquestion"></select>: Security Question<br />
    <input id="securityanswer" name="securityanswer" />: Security Answer<br />

    <input id="optemail" name="optemail" type="checkbox" />: Opt Email<br />
    <input id="optterms" name="optterms" type="checkbox" />: Opt Terms<br />

    <input id="register" type="submit" value="Register" />
</form>

@section scripts{
    <script type="text/javascript">
        // claer result
        //console.log('this script si working here!');
        $('input[name=schoolgroup]', 'form').click(function () {
            $('#schoolnames').html('');
            $('#school').val('');
        });

        // select school
        function selectSchool(school) {
            $('#school').val(school);
        }

        //clear if no value is selected
        $('#school').blur(function () {
           //console.log('the form has been blurred!');
        }

        // search keyword
        $('#school').keyup(function () {
            // minimum 3 character && radio vet school
            if (($('#school').val().length > 1) && ($('input[name=schoolgroup]:checked', 'form').val() == 'Vet')) {
                // search for schools
                $.ajax({
                    url: "/api/searchSchool/" + $('#school').val(),
                    // data: { key: val },
                    format: JSON
                }).done(function (data) {
                    //console.log(data);

                    var _schoolhtml = '';
                    $.each(data, function (_schoolkey) {
                        _schoolhtml += '<li>';
                        _schoolhtml += '<a href="javascript:selectSchool(\'' + data[_schoolkey].schoolname + '\');">';
                        _schoolhtml += 'data[_schoolkey].schoolname';
                        _schoolhtml += '</a>';
                        _schoolhtml += '</li>';
                    });
                    $('#schoolnames').html(_schoolhtml);
                });
            }
        });

        // get career types
        $.ajax({
            url: "/api/careertypes",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            var _careerhtml = '';
            $.each(data, function (_careerkey) {
                _careerhtml += '<option value="' + data[_careerkey].careertypeid + '">';
                _careerhtml += data[_careerkey].careertypename;
                _careerhtml += '</option>';
            });
            //console.log(_careerhtml);
            //console.log( $('#careertypeid') );
            
            $('#careertypeid').html(_careerhtml);
        });

        // get security questions
        $.ajax({
            url: "/api/securityquestions",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            var _securityhtml = '';
            $.each(data, function (_securitykey) {
                _securityhtml += '<option value="' + data[_securitykey].securityquestionname + '">';
                _securityhtml += data[_securitykey].securityquestionname;
                _securityhtml += '</option>';
            });
            $('#securityquestion').html(_securityhtml);
        });

    </script>
}