﻿@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Reset Password</h2>

<form action="/process/reset/?guid=@ViewBag.guid&redirect=/prototype/" method="post">
    <span id="email">@ViewBag.email</span>: email<br />
    <span id="lastname">@ViewBag.lastname</span>: last name<br />
    <span id="securityquestion">@ViewBag.securityquestion</span>: security question<br />
    <input id="securityanswer" name="securityanswer" type="text" />: security answer<br />
    <input id="password" name="password" type="password" />: password<br />
    <input id="save" type="submit" value="save" /> <input id="cancel" type="reset" value="cancel" />
</form>