﻿@model string
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>Search Results</h2>

<form action="/prototype/search/" method="get">
    <input name="keyword" type="text" value="@Model" /> <input type="submit" value="Search" />
</form>

<p>There are <span id="modulecount"></span> modules in <span id="coursecount"></span> courses that match <b>@Model</b></p>

<!-- result -->
<div id="result"></div>

@section scripts{
    <script type="text/javascript">
        // get search result
        $.ajax({
            url: "/api/Search/@Model",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            // html
            _html = '';

            // courseid
            var _coursecount = 0;
            var _courseid = 0;
            $.each(data, function (_modulekey) {
                // if new course id - create header
                if (data[_modulekey]['module'].courseid != _courseid) {
                    _courseid = data[_modulekey]['module'].courseid; // remember last course id
                    _html += '<h2>Course: '
                    _html += data[_modulekey]['coursename']
                    _html += '</h2>';

                    _coursecount += 1;
                }

                // show module
                _html += '<p>';
                _html += '<div><u>Module</u>: ' + data[_modulekey]['module'].modulename + '</div>';
                _html += '<div><u>Scenario</u>: ' + data[_modulekey]['module'].moduledescription + '</div>';
                _html += '<div><u>Transcript</u>: ' + data[_modulekey]['module']['videos'][0].transcript + '</div>';
                _html += '</p>';
            });

            $('#result').html(_html);

            // stats
            $('#modulecount').html(data.length);
            $('#coursecount').html(_coursecount);
        });
    </script>
}