﻿@{
    ViewBag.Title = "UserPath";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>UserPath</h2>

I am:
<select id="student">
    <option value="true" selected>Student</option>
    <option value="false">Vet</option>
</select>

<select id="job">
    <option value="null" selected>Have a Job?</option>
    <option value="true">Student</option>
    <option value="false">Vet</option>
</select>

<select id="debt">
    <option value="null" selected>Is in Debt?</option>
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>

<a id="update" href="javascript:void(0);">update</a>

@section scripts{
    <script type="text/javascript">
        $('#update').click(function () {
            $.ajax({
                url: "/api/updateuserpath/@Session["userid"]",
                data: { student: $('#student').val(), job: $('#job').val(), debt: $('#debt').val() },
                format: JSON
            }).done(function (data) {
                //console.log(data[0].usertype['usertypeid']);
            });
        });
    </script>
}

