﻿@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_LayoutPrototype.cshtml";
}

<h2>User Profile</h2>

<form action="/Process/UpdateProfile/@Session["userid"]?redirect=/prototype/UserProfile" method="post" enctype="multipart/form-data">
    <input id="firstname" name="firstname" type="text" />: first name<br />
    <input id="lastname" name="lastname" type="text" />: last name<br />
    <input id="email" name="email" type="text" />: email<br />
    <img id="avatar" height="50" />: avatar<br />
    <input name="avatar" type="file" /><br />

    <h2><u>Basic Info:</u></h2>
    <input id="zip" name="zip" type="text" />: zip<br />
    <input id="profession" name="profession" type="text" />: profession<br />
    <input id="title" name="title" type="text" />: title<br />
    <input id="school" name="school" type="text" />: school<br />
    <select id="graduation" name="graduation">
        @{
            // Range of Age is retirement age (-65 years from current year to next graduates (next 7 years)
            for (var i = (DateTime.Now.Year - 65); i <= (DateTime.Now.Year + 7); i++)
            {
                <option value="@i">@i</option>
            }
        }
    </select>: graduation<br />

    <h2><u>Privacy & Security Settings</u></h2>
    <input id="password" name="password" type="password" />: password<br />
    <select id="securityquestion" name="securityquestion"></select>: Security Question<br />
    <input id="securityanswer" name="securityanswer" />: Security Answer<br />

    <input id="optpublic" name="optpublic" type="checkbox" />: Opt See Email<br />
    <input id="optemail" name="optemail" type="checkbox" />: Opt Email<br />
    

    <input type="submit" value="save" />
</form>

<h2><u>User Interests:</u></h2>
<p>
    Selected: <ul id="userinterests"></ul>
</p>

Check all that applies <input id="saveinterest" type="button" value="save interest" />
<ul>
    <li><input id="acquatic" type="checkbox" name="acquatic" />: aquatic animal health</li> 
    <li><input id="mixedcattle" type="checkbox" name="mixedcattle" />: mixed practice - mostly cattle</li>
    <li><input id="mixedswine" type="checkbox" name="mixedswine" />: mixed practice - mostly swine</li>
    <li><input id="mixedequine" type="checkbox" name="mixedequine" />: mixed practice - mostly equine</li>
    <li><input id="mixedcompanion" type="checkbox" name="mixedcompanion" />: mostly companion animals</li>
    <li><input id="smallcanine" type="checkbox" name="smallcanine" />: small animals - canine</li>
    <li><input id="smallfeline" type="checkbox" name="smallfeline" />: small animals - feline</li>
    <li><input id="smallexotics" type="checkbox" name="smallexotics" />: small animas - exotics</li>
    <li><input id="foodbeef" type="checkbox" name="foodbeef" />: food animal - beef cattle</li>
    <li><input id="fooddairy" type="checkbox" name="fooddairy" />: food animal - dairy cattle</li>
    <li><input id="foodcow" type="checkbox" name="foodcow" />: food animal - cow calf</li>
    <li><input id="foodpoultry" type="checkbox" name="foodpoultry" />: food animal - poultry</li>
    <li><input id="foodswine" type="checkbox" name="foodswine" />: food animal - swine</li>
    <li><input id="equine" type="checkbox" name="equine" />: equine</li>
    <li><input id="smallruminant" type="checkbox" name="smallruminant" />: small ruminant</li>
    <li><input id="labanimal" type="checkbox" name="labanimal" />: lab animal</li>
    <li><input id="government" type="checkbox" name="government" />: government</li>
    <li><input id="armedforces" type="checkbox" name="armedforces" />: armed forces</li>
    <li><input id="publichealth" type="checkbox" name="publichealth" />: public health</li>
    <li><input id="industry" type="checkbox" name="industry" />: industry</li>
    <li><input id="zoo" type="checkbox" name="zoo" />: zoo/exotic</li>
    <li><input id="other" type="checkbox" name="other" />: other</li>
</ul>


<h2><u>Expertise/Specialty:</u></h2>
<p>
    Selected: <ul id="userspecialty"></ul>
</p>

Check all that applies <input id="savespecialty" type="button" value="save speciality" />

<ul>
    <li><input id="anesthesiology" type="checkbox" name="anesthesiology" />: anesthesiology</li>
    <li><input id="animalwelfare" type="checkbox" name="animalwelfare" />: animal welfare</li>
    <li><input id="behavior" type="checkbox" name="behavior" />: behavior</li>
    <li><input id="clinicalpharmacology" type="checkbox" name="clinicalpharmacology" />: clinical pharmacology</li>
    <li><input id="dermatology" type="checkbox" name="dermatology" />: dermatology</li>
    <li><input id="emergencyandcriticalcare" type="checkbox" name="emergencyandcriticalcare" />: emergency and criticalcare</li>
    <li><input id="internalmedicine" type="checkbox" name="internalmedicine" />: internal medicine</li>
    <li><input id="laboratorymedicine" type="checkbox" name="laboratorymedicine" />: laboratory medicine</li>
    <li><input id="microbiology" type="checkbox" name="microbiology" />: microbiology</li>
    <li><input id="nutrition" type="checkbox" name="nutrition" />: nutrition</li>
    <li><input id="ophthalmology" type="checkbox" name="ophthalmology" />: ophthalmology</li>
    <li><input id="pathology" type="checkbox" name="pathology" />: pathology</li>
    <li><input id="preventivemedicine" type="checkbox" name="preventivemedicine" />: preventive medicine</li>
    <li><input id="radiology" type="checkbox" name="radiology" />: radiology</li>
    <li><input id="sportsmedicineandrehabilitation" type="checkbox" name="sportsmedicineandrehabilitation" />: sports medicine and rehabilitation</li>
    <li><input id="surgery" type="checkbox" name="surgery" />: surgery</li>
    <li><input id="theriogenology" type="checkbox" name="theriogenology" />: theriogenology</li>
    <li><input id="toxicology" type="checkbox" name="toxicology" />: toxicology</li>
    <li><input id="veterinarypractitioners" type="checkbox" name="veterinarypractitioners" />: veterinary practitioners</li>
    <li><input id="zoologicalmedicine" type="checkbox" name="zoologicalmedicine" />: zoological medicine</li>
</ul>

<h2><u>Affiliations:</u></h2>
<p>
    Selected: <ul id="affiliations"></ul>
</p>
<p>
    <select id="organizations" name="organizations"></select><input id="addorganization" type="button" value="add" />: look up
</p>

<h2><u>Jobs:</u></h2>
<p>
    Selected: <ul id="jobs"></ul>
</p>
<p>
    <input id="jobtitle" name="jobtitle" type="text" />: title<br />
    <input id="jobcompany" name="jobcompany" type="text" />: company<br />
    <select id="jobyear" name="jobyear">
        @{
            // Range of job year is  retirement age (-65 years from current year to now
            for (var i = (DateTime.Now.Year - 65); i <= (DateTime.Now.Year); i++)
            {
                <option value="@i">@i</option>
            }
        }
    </select>: start year<br />
    <input id="addjob" name="addjob" type="button" value="add" />: add job
</p>

@section scripts{
    <script type="text/javascript">
        // populate
        populateInterest();
        populateSpecialty();
        populateOrganization();
        populateAffiliation();
        populateJob();

        // get security questions
        $.ajax({
            url: "/api/securityquestions",
            // data: { key: val },
            format: JSON
        }).done(function (data) {
            //console.log(data);

            var _securityhtml = '';
            $.each(data, function (_securitykey) {
                _securityhtml += '<option value="' + data[_securitykey].securityquestionname + '">';
                _securityhtml += data[_securitykey].securityquestionname;
                _securityhtml += '</option>';
            });
            $('#securityquestion').html(_securityhtml);
        });

        // SSO
        $.ajax({
            url: "/api/SSO/@Session["guid"]",
            type: "POST",
            format: JSON
        }).done(function (data) {
            //console.log(data);

            $('#password').val(data[0].password);
            $('#securityquestion').val(data[0].securityquestion);
            $('#securityanswer').val(data[0].securityanswer);
        });

        // LOCAL
        $.ajax({
            url: "/api/Users/@Session["userid"]",
            format: JSON
        }).done(function (data) {
            //console.log(data);

            $('#firstname').val(data[0].firstname);
            $('#lastname').val(data[0].lastname);
            $('#email').val(data[0].email);
            $('#avatar').attr('src', '/Contents/avatars/' + data[0].avatar);

            $('#zip').val(data[0].zip);
            $('#profession').val(data[0].profession);
            $('#title').val(data[0].title);
            $('#school').val(data[0].school);
            $('#graduation').val(data[0].graduation);

            $('#optpublic').attr('checked', data[0].optpublic);
            $('#optemail').attr('checked', data[0].optemail);
            
        });

        $('#saveinterest').click(function () {
            // save interest
            saveInterest();
        });

        $('#addorganization').click(function () {
            // save affiliation
            
            saveAffiliation($('#organizations').val());
        });

        function saveInterest() {
            // save interest
            $.ajax({
                url: "/api/updateUserInterest/@Session["userid"]?acquatic=" + $('#acquatic').is(':checked') + "&mixedcattle=" + $('#mixedcattle').is(':checked') + "&mixedswine=" + $('#mixedswine').is(':checked') + "&mixedequine=" + $('#mixedequine').is(':checked') + "&mixedcompanion=" + $('#mixedcompanion').is(':checked') + "&smallcanine=" + $('#smallcanine').is(':checked') + "&smallfeline=" + $('#smallfeline').is(':checked') + "&smallexotics=" + $('#smallexotics').is(':checked') + "&foodbeef=" + $('#foodbeef').is(':checked') + "&fooddairy=" + $('#fooddairy').is(':checked') + "&foodcow=" + $('#foodcow').is(':checked') + "&foodpoultry=" + $('#foodpoultry').is(':checked') + "&foodswine=" + $('#foodswine').is(':checked') + "&equine=" + $('#equine').is(':checked') + "&smallruminant=" + $('#smallruminant').is(':checked') + "&labanimal=" + $('#labanimal').is(':checked') + "&government=" + $('#government').is(':checked') + "&armedforces=" + $('#armedforces').is(':checked') + "&publichealth=" + $('#publichealth').is(':checked') + "&industry=" + $('#industry').is(':checked') + "&zoo=" + $('#zoo').is(':checked') + "&other=" + $('#other').is(':checked'),
                format: JSON
            }).done(function (data) {
                //console.log(data);

                // repopulate interest
                populateInterest();
            });
        }

        function removeInterest(key) {
            $('#' + key).attr('checked', false);

            // save interest
            saveInterest();
        }

        $('#savespecialty').click(function () {
            // save specialty
            saveSpecialty();
        });

        function saveSpecialty() {
            // save interest
            $.ajax({
                url: "/api/updateUserSpecialty/@Session["userid"]?anesthesiology=" + $('#anesthesiology').is(':checked') + "&animalwelfare=" + $('#animalwelfare').is(':checked') + "&behavior=" + $('#behavior').is(':checked') + "&clinicalpharmacology=" + $('#clinicalpharmacology').is(':checked') + "&dermatology=" + $('#dermatology').is(':checked') + "&emergencyandcriticalcare=" + $('#emergencyandcriticalcare').is(':checked') + "&internalmedicine=" + $('#internalmedicine').is(':checked') + "&laboratorymedicine=" + $('#laboratorymedicine').is(':checked') + "&microbiology=" + $('#microbiology').is(':checked') + "&nutrition=" + $('#nutrition').is(':checked') + "&ophthalmology=" + $('#ophthalmology').is(':checked') + "&pathology=" + $('#pathology').is(':checked') + "&preventivemedicine=" + $('#preventivemedicine').is(':checked') + "&radiology=" + $('#radiology').is(':checked') + "&sportsmedicineandrehabilitation=" + $('#sportsmedicineandrehabilitation').is(':checked') + "&surgery=" + $('#surgery').is(':checked') + "&theriogenology=" + $('#theriogenology').is(':checked') + "&toxicology=" + $('#toxicology').is(':checked') + "&veterinarypractitioners=" + $('#veterinarypractitioners').is(':checked') + "&zoologicalmedicine=" + $('#zoologicalmedicine').is(':checked'),
                format: JSON
            }).done(function (data) {
                //console.log(data);

                // repopulate interest
                populateSpecialty();
            });
        }

        function removeSpecialty(key) {
            $('#' + key).attr('checked', false);

            // save interest
            saveSpecialty();
        }

        function populateInterest() {
            $.ajax({
                url: "/api/UserInterests/@Session["userid"]",
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                // do if not empty
                if (data != null) {
                    var _interesthtml = '';
                    $.each(data[0], function (_interestkey) {

                        if ((data[0][_interestkey] != false) && (_interestkey != 'userinterestid') && (_interestkey != 'userid')) {
                            // create item
                            _interesthtml += '<li>';
                            _interesthtml += _interestkey;
                            _interesthtml += ' [<a href="javascript:removeInterest(\'' + _interestkey + '\');">x</a>]';
                            _interesthtml += '</li>';

                            // check appropriate box
                            $('#' +_interestkey).attr('checked', true);
                        }
                    });

                    $('#userinterests').html(_interesthtml);
                }
            });
        }

        function populateSpecialty() {
            $.ajax({
                url: "/api/UserSpecialties/@Session["userid"]",
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);
                
                // do if not empty
                if (data != null) {
                    var _specialtyhtml = '';
                    $.each(data[0], function (_specialtykey) {
                        
                        if ((data[0][_specialtykey] != false) && (_specialtykey != 'userspecialtyid') && (_specialtykey != 'userid')) {
                            // create item
                            _specialtyhtml += '<li>';
                            _specialtyhtml += _specialtykey;
                            _specialtyhtml += ' [<a href="javascript:removeSpecialty(\'' + _specialtykey + '\');">x</a>]';
                            _specialtyhtml += '</li>';

                            // check appropriate box
                            $('#' + _specialtykey).attr('checked', true);
                        }
                    });

                    $('#userspecialty').html(_specialtyhtml);
                }
            });
        }

        function populateOrganization() {
            $.ajax({
                url: "/api/Organizations/",
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                var _organizationhtml = '';
                $.each(data, function(_key) {
                    _organizationhtml += '<option value="' + data[_key].organizationid + '">';
                    _organizationhtml += data[_key].organizationname;
                    _organizationhtml += '</option>';
                });

                $('#organizations').html(_organizationhtml);
            });
        }

        function populateAffiliation() {
            $.ajax({
                url: "/api/Affiliations/@Session["userid"]",
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                var _affiliationhtml = '';
                $.each(data, function (_key) {
                    _affiliationhtml += '<li>';
                    _affiliationhtml += data[_key]['organization'].organizationname;
                    _affiliationhtml += ' [<a href="javascript:removeAffiliation(\'' + data[_key].affiliationid + '\')">x</a>]';
                    _affiliationhtml += '</li>';
                });

                $('#affiliations').html(_affiliationhtml);
            });
        }

        function saveAffiliation(organizationid) {
            $.ajax({
                url: "/api/saveAffiliation/@Session["userid"]?organizationid=" + organizationid,
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                // populate organization
                populateAffiliation();
            });
        }

        function removeAffiliation(affiliationid) {
            $.ajax({
                url: "/api/removeAffiliation/" + affiliationid,
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                ///console.log(data);

                populateAffiliation();
            });
        }

        // save job
        $('#addjob').click(function () {
            // save job
            $.ajax({
                url: "/api/saveJob/@Session["userid"]?title=" + $('#jobtitle').val() + "&company=" + $('#jobcompany').val() + "&year=" + $('#jobyear').val(),
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                // populate job
                populateJob();
            });
        });

        function populateJob() {
            $.ajax({
                url: "/api/UserJobs/@Session["userid"]",
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                //console.log(data);

                var _jobhtml = '';
                $.each(data, function (_key) {
                    _jobhtml += '<li>';
                    _jobhtml += data[_key].title + ' at ' + data[_key].company + ' ' + data[_key].year;
                    _jobhtml += ' [<a href="javascript:removeJob(\'' + data[_key].userjobid + '\')">x</a>]';
                    _jobhtml += '</li>';
                });

                $('#jobs').html(_jobhtml);
            });
        }

        function removeJob(jobid) {
            $.ajax({
                url: "/api/removeUserJob/" + jobid,
                //data: { key: val },
                format: JSON
            }).done(function (data) {
                ///console.log(data);

                populateJob();
            });
        }
    </script>
}