﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ISILayout.cshtml";
}
<style>
#isi p.indication-title {
font-size: 22px;
}
</style>
<div id="isi">

    <header>
        Indication and Important<br />
        Safety Information for ELIQUIS
    </header>

    <div id="content">
        <p class="indication-title"><b class="background">INDICATION</b></p>
        <p >ELIQUIS (apixaban) is indicated to reduce the risk of stroke and systemic embolism in patients with nonvalvular atrial fibrillation.</p>

        <p class="indication-title"><b class="background">IMPORTANT SAFETY INFORMATION</b></p>
        <p class="border">
            <span>WARNING: DISCONTINUING ELIQUIS IN PATIENTS WITHOUT ADEQUATE CONTINUOUS ANTICOAGULATION INCREASES RISK OF STROKE.</span>
            <br />
            Discontinuing ELIQUIS places patients at an increased risk of thrombotic events. An increased rate of stroke was observed following discontinuation of ELIQUIS in clinical trials in patients with nonvalvular atrial fibrillation. If anticoagulation with ELIQUIS must be discontinued for a reason other than pathological bleeding, coverage with another anticoagulant should be strongly considered.
        </p>

        <p>
            <span><b>CONTRAINDICATIONS</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" />Active pathological bleeding</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" />Severe hypersensitivity reaction to ELIQUIS (apixaban) (i.e., anaphylactic reactions)</li>
            </ul>
        </p>

        <p>
            <span><b>WARNINGS AND PRECAUTIONS</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" /><span>Increased Risk of Stroke with Discontinuation of ELIQUIS:</span> Discontinuing ELIQUIS in the absence of adequate alternative anticoagulation increases the risk of thrombotic events. An increased rate of stroke was observed during the transition from ELIQUIS to warfarin in clinical trials in patients with nonvalvular atrial fibrillation. If ELIQUIS must be discontinued for a reason other than pathological bleeding, consider coverage with another anticoagulant.</li>
            </ul>
        </p>

        <p>
            <span><b>Bleeding Risk:</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" />ELIQUIS increases the risk of bleeding and can cause serious, potentially fatal bleeding. Concomitant use of drugs affecting hemostasis increases the risk of bleeding including aspirin and other anti-platelet agents, other anticoagulants, heparin, thrombolytic agents, SSRIs, SNRIs, and NSAIDs. Patients should be made aware of signs or symptoms of blood loss and instructed to immediately report to an emergency room. Discontinue ELIQUIS in patients with active pathological hemorrhage.</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" />There is no established way to reverse the anticoagulant effect of apixaban, which can be expected to persist for about 24 hours after the last dose (i.e., about two half-lives). A specific antidote for ELIQUIS is not available. Because of high plasma protein binding, apixaban is not expected to be dialyzable. Protamine sulfate and vitamin K would not be expected to affect the anticoagulant activity of apixaban. There is no experience with antifibrinolytic agents (tranexamic acid, aminocaproic acid) in individuals receiving apixaban. There is neither scientific rationale for reversal nor experience with systemic hemostatics (desmopressin and aprotinin) in individuals receiving apixaban.</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" />Use of procoagulant reversal agents such as prothrombin complex concentrate, activated prothrombin complex concentrate, or recombinant factor VIIa may be considered but has not been evaluated in clinical studies. Activated charcoal reduces absorption of apixaban thereby lowering apixaban plasma concentrations.</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" /><span>Prosthetic Heart Valves:</span> The safety and efficacy of ELIQUIS has not been studied in patients with prosthetic heart valves and is not recommended in these patients.</li>
            </ul>
        </p>

        <p>
            <span><b>ADVERSE REACTIONS</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" />The most common and most serious adverse reactions reported with ELIQUIS were related to bleeding.</li>
            </ul>
        </p>

        <p>
            <span><b>DISCONTINUATIONS FOR SURGERY AND OTHER INTERVENTIONS</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" />ELIQUIS should be discontinued at least 48 hours prior to elective surgery or invasive procedures with a moderate or high risk of unacceptable or clinically significant bleeding. ELIQUIS should be discontinued at least 24 hours prior to elective surgery or invasive procedures with a low risk of bleeding or where the bleeding would be noncritical in location and easily controlled.</li>
            </ul>
        </p>

        <p>
            <span><b>DRUG INTERACTIONS</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" /><span>Strong Dual Inhibitors of CYP3A4 and P-gp:</span> Inhibitors of CYP3A4 and P-gp increase exposure to apixaban and increase the risk of bleeding. Decrease the dose of ELIQUIS to 2.5 mg twice daily when coadministered with drugs that are strong dual inhibitors of CYP3A4 and P-gp (e.g., ketoconazole, itraconazole, ritonavir, or clarithromycin). In patients already taking ELIQUIS at a dose of 2.5 mg twice daily, avoid coadministration with strong dual inhibitors of CYP3A4 and P-gp.</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" /><span>Strong Dual Inducers of CYP3A4 and P-gp:</span> Inducers of CYP3A4 and P-gp decrease exposure to apixaban and increase the risk of stroke. Avoid concomitant use of ELIQUIS with strong dual inducers of CYP3A4 and P-gp (e.g., rifampin, carbamazepine, phenytoin, St. John’s wort) because such drugs will decrease exposure to apixaban.</li>
                <li><img src="~/Content/images/isi/bullet_purple.png" /><span>Anticoagulants and Antiplatelet Agents:</span> Coadministration of antiplatelet agents, fibrinolytics, heparin, aspirin, and chronic NSAID use increases the risk of bleeding. APPRAISE-2, a placebo-controlled clinical trial of apixaban in high-risk post-acute coronary syndrome patients treated with aspirin or the combination of aspirin and clopidogrel, was terminated early due to a higher rate of bleeding with apixaban compared to placebo.</li>
            </ul>
        </p>

        <p>
            <span><b>PREGNANCY CATEGORY B</b></span>
            <ul>
                <li><img src="~/Content/images/isi/bullet_purple.png" />There are no adequate and well-controlled studies of ELIQUIS in pregnant women. Treatment is likely to increase the risk of hemorrhage during pregnancy and delivery. ELIQUIS should be used during pregnancy only if the potential benefit outweighs the potential risk to the mother and fetus.</li>
            </ul>
        </p>

        <p><span>Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.</span></p>
    </div>

    <footer>
        <img src="~/Content/images/main/footer_logo_black.png" />
        ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-03-01&nbsp;&nbsp;&nbsp;10/13
    </footer>
</div>