﻿/* tags */
body {
    font-family:Arial;
    font-size:14px;

    margin:0px;
    padding:0px;
}

img { display:block; border: none; }

h1 { font-size:23px; color:#141d4a; font-style:italic; }

h2 { font-size:14px; color:#141d4a; }

h3 { font-size:12px; color:#141d4a; margin-left:10px; }

sup {
    font-size: 82%;
    padding: 0px 1px;
    top: -0.5em;
}

ol li { float:left; }

header {
    font-size:10px;
    font-weight:bold;
    color:#141d4a;
    text-align:right;
    height:136px;
    padding:0px 42px;

    position:relative;
    margin-bottom:-2px;
}

    header #header_logo {
        position:absolute;
        bottom:32px;
        left:42px;
    }

    header #header_nav {
        position:absolute;
        bottom:0px;
        right:32px;
    }

    header #header_nav img {
        display:inline-block;
    }

footer {
    background:url('/contents/hcp/images/footer_bg.png') no-repeat top;
    padding:10px 42px 50px 42px;

    font-size:10px;
    color:#141d4a;
    text-align:right;

    position:relative;
}

    footer #footer_logo {
        position:absolute;
        bottom:50px;
        left:42px;
    }

nav {
    margin:0 auto;
    width:957px;
    background-color:#141d4a;
    height:45px;
    position:relative;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

    nav ul {
        padding:0px;
        margin:0px;
        list-style-type:none;
        position:absolute;
        bottom:0px;
        height:40px;
        background-color:#00b1b0;
    }

    nav li {
        font-size:12px;
        color:#ffffff;
        width:190px;
        float:left;
        text-align:center;
        padding-top:13px;
        padding-bottom:12px;
    }

        nav li:first-child {
            border-left:1px solid #00b1b0;
        }

        nav li:first-child:hover {
            border-left:1px solid #141d4a;
        }

        nav li:not(:first-child) {
            border-left:1px solid #141d4a;
        }

    #last-kid {
            border-right:2px solid #00b1b0;
        }

    #last-kid:hover {
            border-right:2px solid #141d4a;
        }

    nav li:hover, nav li.on {
        background-color:#141d4a;
        border-left:1px solid #141d4a;
    }

        nav li a {
            color:#ffffff;
            text-decoration:none;
        }


/* id */
#page {
    width:1024px;
    margin:0 auto;
}

#content {
    padding:5px 42px 30px 42px;
}

    #content #hero {
        margin-left:-10px;
    }

    #content #content_body {
        float:left;
        width:594px;
        padding:0px 40px;
    }

    #content #callouts {
        float:left;
        width:266px;
        font-size:12px;
    }

        #content #callouts section {
            padding-bottom:20px;
        }

        #content #callouts a {
            color:#008789;
        }

        #content #callouts p {
            margin-left:10px;
        }

    #content #reference {
        font-size:10px;
        padding-top:30px;
    }

#isi {
    background:url('/contents/hcp/images/isi_bg.png') no-repeat top;
    padding:50px 42px 30px 42px;
    color:#636363;
}

/* class */
.indented {
    margin-left:25px;
}

.clear {
    clear:both;
}

.sub_indented {
    margin-left:-40px;
}


#isipage { width:800px; }
#isipage ul li{ 
    
    margin:0 0px 0px 0; 
    vertical-align:top

}


.sub_nav ul li {
    display: inline;
}

.sub_nav  ul li a {
    display: inline;
    padding-right: 6px;
    padding-left: 6px;
    color: rgb(0, 26, 46);
    font-size: 100%;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
    text-decoration: none

}
   
