<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Happy Fuel :)</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="HappyFuel APP">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="http://services.happyfuelapp.com/favicon.ico" type="image/x-icon">
		<link rel="icon" href="http://services.happyfuelapp.com/favicon.ico" type="image/x-icon">
		
    <!-- fonts -->
    <script type="text/javascript" src="http://fast.fonts.net/jsapi/4da90304-086b-49b7-8762-fb11b4a35296.js"></script>

    <!-- plug in -->
    <script src="javascripts/vendor/require.js" data-main="javascripts/main"></script>
	
	<!-- Yahoo Plugin -->
	<script type="text/javascript" src="javascripts/yahoo/jquery.js"></script>
    <script type="text/javascript" src="javascripts/yahoo/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="javascripts/yahoo/popupmanager.js"></script>
	<!-- the mousewheel plugin -->
    <!-- styles -->
	
       <!--  <script src="javascripts/yahoo/jquery.mousewheel.js" ></script>
        <script src="javascripts/yahoo/perfect-scrollbar.js" ></script> -->
        <!-- <script src="../src/angular-perfect-scrollbar.js" ></script> -->
        
    <link href="javascripts/vendor/mediaelement/mediaelementplayer.min.css" rel="stylesheet"/>
    <link href="css/fonts.css" rel="stylesheet"/>
    <link href="css/update.css" rel="stylesheet"/>
    <link href="css/app-update.css" rel="stylesheet"/>
    <link href="css/web-app.css" rel="stylesheet"/>
    
    <meta name="viewport" content="width=1280, user-scalable=no">
</head>
<body ng-controller="mainController" class="{{selectedFuelType}}" data-isloggedin="{{isLoggedIn}}">

<div class="main-container">

<div class="welcome" onclick="(function(){})">
</div>
<!-- <div class="lightbox-screen"></div> -->

<header>
    <a href="javascript:location.reload();"><img id="logo" src="css/images/happy-fuel-logo.png" /></a>
    
    <div class="mobile-menu">
        <div class="icon-ios-menu"></div>
        <ul>
            <li>:) wall</li>
            <li ng-show="currentUser != null" ng-click="logout();">logout</li>
            <li ng-show="currentUser == null" ng-click="setView('sign-in');">sign in</li>
            <li ng-show="currentUser != null" ng-click="setView('manage-account');">manage account</li>
            <li class="mbl-mission static-content-target" data-static-content-target="mission" onclick="(function(){})">mission</li>
        </ul>
        <ul>
            <li class="static-content-target" data-static-content-target="contact" onclick="(function(){})">contact us</li>
            <li class="static-content-target" data-static-content-target="terms" onclick="(function(){})">terms &amp; policies</li>
            <li>&copy; Happy Fuel LLC 2013</li>
        </ul>
    </div>
    <nav>
        <div  class="user" ng-show="currentUser == null" ng-click="setView('sign-in');">Guest,</div><div class="user" ng-bind="getCurrentUsername()"></div>
        <span class="header-prefix-non-mobile">you are </span>being filled up with
        <div class="menus">
            <div class="sort-menu"><span class="title">the happiest</span>
                <div class="menu">
                    <div class="down-arrow"></div>
                    <ul>
                        <li ng-click="selectPostType('H')">the happiest</li>
                        <li ng-click="selectPostType('-')">the newest</li>
                        <li ng-click="selectPostType('F')" ng-show="currentUser != null">your friend's</li>
                        <li ng-click="selectPostType('O')" ng-show="currentUser != null">your own</li>
                        <li class="menu-item-search">tags or people</li>
                    </ul>
                </div>
            </div>
            <div class="filter-menu"><span class="title">fuel</span>
                <div class="menu">
                    <div class="down-arrow"></div>
                    <ul>
                        <li class="photo" ng-click="selectFuelType('P')">photos</li>
                        <li class="music" ng-click="selectFuelType('M')">beats</li>
                        <li class="location" ng-click="selectFuelType('L')">spots</li>
                        <li class="video" ng-click="selectFuelType('V')">videos</li>
                        <li class="sound" ng-click="selectFuelType('A')">sounds</li>
                        <li class="thought" ng-click="selectFuelType('T')">thoughts</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search off">
            <input type="text" ng-model="searchText" ng-change="checkInputForUsernameAndHashtags();" />
            <div class="btn-close"></div>
            <div class="search-results-container" ng-show="matchingSearchHashtags.length > 0 || matchingSearchUsers.length > 0">
                <ul class="user-search-results">
                    <li>Tags:</li>
                    <li ng-repeat="tag in matchingSearchHashtags" ng-click="selectPostType('O');searchTag(tag);" onclick="hfapp.hideDashboard();">#{{tag}}</li>
                </ul>
                <ul class="user-search-results">
                    <li>Users:</li>
                    <li ng-repeat="user in matchingSearchUsers" ng-click="selectPostType('O');searchUser(user);" onclick="hfapp.hideDashboard();">@{{user.UserName}}</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mission static-content-target" data-static-content-target="mission">
        <a href="javascript:$('section.static section.mission').show();">about <div class="happy-face">: )</div></a>
    </div>
</header>
<section class="dashboard" ng-controller="dashboardController">
<div class="navigation">
    <div class="arrow-up"></div>
    <div class="nav-state on" data-view="fuels"><span>fuels</span></div>
    <div class="nav-state off" data-view="fuelers"><span>fuelers</span></div>
    <div class="nav-state off" data-view="friends"><span>friends</span></div>
    <div class="arrow-down"></div>
</div>
<section class="fuels">
    <div class="icons">
        <div class="photo"></div>
        <div class="location"></div>
        <div class="music"></div>
        <div class="sound"></div>
        <div class="video"></div>
        <div class="thought"></div>
    </div>
    <div class="content-box">
        <p class="_title"><strong>my posts by type</strong></p>
        <div class="value-bar photo" style="width:{{dashboardData.myPostsByType.P.PctValue}}%;">{{dashboardData.myPostsByType.P.FuelTypeRowCount}}</div>
        <div class="value-bar music" style="width:{{dashboardData.myPostsByType.M.PctValue}}%;">{{dashboardData.myPostsByType.M.FuelTypeRowCount}}</div>
        <div class="value-bar location" style="width:{{dashboardData.myPostsByType.L.PctValue}}%;">{{dashboardData.myPostsByType.L.FuelTypeRowCount}}</div>
        <div class="value-bar sound" style="width:{{dashboardData.myPostsByType.S.PctValue}}%;">{{dashboardData.myPostsByType.S.FuelTypeRowCount}}</div>
        <div class="value-bar video" style="width:{{dashboardData.myPostsByType.V.PctValue}}%;">{{dashboardData.myPostsByType.V.FuelTypeRowCount}}</div>
        <div class="value-bar thought" style="width:{{dashboardData.myPostsByType.T.PctValue}}%;">{{dashboardData.myPostsByType.T.FuelTypeRowCount}}</div>
        <p class="_title"><strong>top posts</strong></p>
        <p class="avatar-row">
            <span class="avatar"
                  style="background-image: url({{getImgPath(post.FuelThumbData)}});"
                  ng-repeat="post in dashboardData.myTopPosts"
                  ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}"
                  data-post-type="{{post.FuelType}}" data-bkgd-img="{{getBkgdImg(post, post.FuelType, post.FuelData)}}"></span>
        </p>
    </div>
    <div class="content-box">
        <p class="_title"><strong>posts I rated</strong></p>
        <div class="value-bar photo" style="width:{{dashboardData.postsIRated.P.PctValue}}%;">{{dashboardData.postsIRated.P.FuelTypeRowCount}}</div>
        <div class="value-bar music" style="width:{{dashboardData.postsIRated.M.PctValue}}%;">{{dashboardData.postsIRated.M.FuelTypeRowCount}}</div>
        <div class="value-bar location" style="width:{{dashboardData.postsIRated.L.PctValue}}%;">{{dashboardData.postsIRated.L.FuelTypeRowCount}}</div>
        <div class="value-bar sound" style="width:{{dashboardData.postsIRated.S.PctValue}}%;">{{dashboardData.postsIRated.S.FuelTypeRowCount}}</div>
        <div class="value-bar video" style="width:{{dashboardData.postsIRated.V.PctValue}}%;">{{dashboardData.postsIRated.V.FuelTypeRowCount}}</div>
        <div class="value-bar thought" style="width:{{dashboardData.postsIRated.T.PctValue}}%;">{{dashboardData.postsIRated.T.FuelTypeRowCount}}</div>
        <p class="_title"><strong>my favorite posts</strong></p>
        <p class="avatar-row">
            <span class="avatar"
                  style="background-image: url({{getImgPath(post.FuelThumbData)}});"
                  ng-repeat="post in dashboardData.myFavoritePosts"
                  ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}"
                  data-post-type="{{post.FuelType}}" data-bkgd-img="{{getBkgdImg(post, post.FuelType, post.FuelData)}}"></span>
        </p>
    </div>
</section>
<section class="fuelers">
    <div class="content-box">
        <p class="_title"><strong>my biggest fans</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.topFans.slice(0,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
    <div class="content-box">
        <p class="_title"><strong>my favorite fuelers</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelers.slice(0,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
</section>
<section class="friends">
    <div class="content-box">
        <p class="_title"><strong>my fuelers</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.userFuelersUI">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>

        <!-- arrows -->
        <div class="fueler arrow_left" ng-click="navigateMyFuelers('prev');"><img src="css/images/arrow_left_orange.png" /></div>
        <div class="fueler arrow_right" ng-click="navigateMyFuelers('next');"><img src="css/images/arrow_right_orange.png" /></div>
    </div>
    <div class="content-box">
        <p class="_title"><strong>friends I follow</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelersUI">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>

        <!-- arrows -->
        <div class="fueler arrow_left" ng-click="navigateMyFriends('prev');"><img src="css/images/arrow_left_green.png" /></div>
        <div class="fueler arrow_right" ng-click="navigateMyFriends('next');"><img src="css/images/arrow_right_green.png" /></div>
    </div>
</section>
</section>
<section class="post-detail {{commentsPaneState}}" ng-controller="detailController">
    <div class="lightbox-screen"></div>
    <div class="full-page-image"></div>
    <div class="thank-you-message">Thank you. Your vote has been added to our collective :) fuel.</div>
    <div class="dial-not-logged-in-message" ng-show="currentUser == null"><a href="#sign-in" ng-click="setView('sign-in');">Sign in</a> or <a href="#sign-up" ng-click="setView('sign-up');">sign up</a> to chime in</div>
    <div class="dial-tab" ng-click="">{{selectedRatingValue}}</div>
    <div class="btn-close"></div>
    <div class="btn-expand-collapse">&minus;</div>


    <div class="rating-container">
        <div class="screen-overlay"></div>
        <div class="rate-overlay"></div>
        <div class="rate-needle"></div>
        <div class="rate-listener">
            <div class="btn-close"></div>
            <input type="hidden" id="selectedRatingValue" ng-model="selectedRatingValue"/>
            <div class="post-info">{{selectedRatingValue}}</div>
        </div>
        <div class="rate-tools">
            <div class="already-rated" ng-show="currentUserHasRatedSelectedPost == true"><strong>You have already rated this post :)</strong></div>
            <div ng-show="currentUserHasRatedSelectedPost == false">
                <div class="rate-comment">
                    <div class="avatar" style="{{getAvatarBkgdImg(fullPostDetail.UserAvatar)}}"></div>
                    <input type="hidden" ng-model="ratingValue" class="ratingValue"/>
                    <div class="txtarea"><textarea placeholder="share your :)" ng-model="ratingComment"></textarea></div>
                </div>
                <div class="post-group">
                    <a class="btn-post" href="#" ng-show="currentUserHasRatedSelectedPost != true" ng-click="ratePost()">&#160;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-pane">
        <section class="group">
            <header>
                <div class="avatar" style="{{getAvatarBkgdImg(fullPostDetail.UserAvatar)}}"></div>
                <div class="info"><h4 style="color:#00a99d;"><span style="color:#ff5500;">:)</span> {{fullPostDetail.UserName}}</h4><p>{{fullPostDetail.UserLocation}}</p></div>
                <a href="#" class="follow" ng-show="isFollowingUser() == false" ng-click="followUser();"><div class="button blue">follow</div></a>
            </header>
            <section class="post-description" style="width:280px;">
                <h4>{{selectedPost.FuelTitle}}</h4>
                <p>{{selectedPost.FuelCaption}}</p>
            </section>
            <section class="post-tags">
                tags: <a href="#" class="tag-search" ng-repeat="tag in postHashTags" ng-click="selectPostType('O');searchTag(tag);" onclick="hfapp.hideDashboard();">{{tag}}</a>
            </section>
        </section>
        <section class="group">
            <section class="post-comment-header" ng-show="currentUserHasRatedSelectedPost != true">
                <div class="flag_a_container" >
				<p style="float:left;"><strong>comments</strong></p>
				<div class="flag_post" ng-show="fullPostDetail.IsFlagged==0">
                <p style="float:right;" ><a ng-click="ReportPost(fullPostDetail.FuelPostId);fullPostDetail.IsFlagged=1;" >flag  post for review</a></p>
				</div>
				<div class="flag_post" ng-show="fullPostDetail.IsFlagged==1">
                <p style="float:right;" ><a href="javascript:void(0);" >This post is marked as flagged</a></p>
				</div>
				<div class="clear" ></div>
				</div>
                <div class="comments-not-logged-in-message" ng-show="currentUser == null"><a href="#sign-in" ng-click="setView('sign-in');">Sign in</a> or <a href="#sign-up" ng-click="setView('sign-up');">sign up</a> to chime in</div>
            <span ng-show="currentUser != null">
                <div class="avatar"></div>
                <div class="txtarea">
                    <textarea placeholder="share your :)" ng-model="ratingComment" ng-change="checkInputForUsername();"></textarea>
                    <a class="btn-post" href="#" ng-click="ratePost()">&#160;</a>
                </div>
            </span>
                <ul class="user-search-results" ng-show="matchingUsers.length > 0">
                    <li ng-repeat="user in matchingUsers" ng-click="selectUser(user);">@{{user.UserName}}</li>
                </ul>
            </section>
            <section class="post-comments-list">
                <ul>
                    <li ng-show="postRatings.length == 0">
                        Be the first to comment on this post :)
                    </li>
                    <li ng-repeat="item in postRatings">
                        <div class="avatar" style="{{getAvatarBkgdImg(item.UserAvatar)}}"></div>
                        <div class="comment-text">
						<div class =  "comment_description">
						<span style="float:left"><strong >{{item.UserName}}</strong></span>
						<div style="display:none;" class="remove_comment" >
						<span style="float:right; "  ng-show="item.UserId==currentUser.UserId || selectedPost.UserId==currentUser.UserId" ><a style="color:orange;" ng-click="deleteRating(item.FuelRatingId);"   href="#" >remove comment</a> </span>
						</div>
						<div class="clear" ></div>
                        </div>
                            <p style="float:left" >{{item.Comments}}</p>
						</div>
                    </li>
                </ul>
            </section>
        </section>
    </div>

    <div class="share-links">
        <a href="#" class="facebook ir" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{deepLinkUrl}}','facebook-share-dialog','width=626,height=436');return false;">&#160;</a>
        <a href="#" onclick="window.open('http://twitter.com/share?hashtags=HappyFuel,HappyFuelApp&text={{fullPostDetail.FuelTitle}}&url={{deepLinkUrl}}','twitter-share-dialog','width=626,height=436');return false;" class="twitter ir" target="_blank">&#160;</a>
        <a href="mailto:someone@typeemailhere.com?subject=HappyFuel Post - fueled a photo: {{fullPostDetail.FuelTitle}}&body={{deepLinkUrl}}" class="email ir" target="_blank">&#160;</a>
    </div>

</section>
<section class="wall" ng-controller="wallController">
    <div class="lightbox-screen"></div>
    <div class="rating-container">
        <div class="screen-overlay"></div>
        <div class="rate-overlay"></div>
        <div class="rate-needle"></div>
        <div class="rate-listener">
            <input type="hidden" id="selectedRatingValue" ng-model="selectedRatingValue"/>
            <div class="post-info">{{selectedRatingValue}}</div>
        </div>
        <div class="rate-tools">
            <div class="rate-comment">
                <div class="avatar"></div>
                <input type="hidden" ng-model="ratingValue" class="ratingValue"/>
                <div class="txtarea"><textarea placeholder="share your :)" ng-model="ratingComment"></textarea></div>
            </div>
            <div class="post-group">
                <a class="btn-post" href="#" ng-click="ratePost()">&#160;</a>
            </div>
        </div>
    </div>

    <div ng-repeat="module in modules" class="module type-0{{module.moduleTypeNumber}}">
        <div class="item {{post.FuelType}}" ng-repeat="post in module.unitPosts" ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}" data-post-type="{{post.FuelType}}" data-bkgd-img="{{getImg(post, post.FuelType, post.FuelData)}}" style="background-image: url('{{getBkgdImg(post, post.FuelType, post.FuelThumbData)}}');">
            <div class="item-content icon-container {{post.FuelType}}">
                <span ng-show="post.FuelType == 'T'" ng-bind="post.FuelCaption"></span>
                <span ng-show="post.FuelType == 'M'" ng-bind="post.FuelTitle"></span>
                <span ng-show="post.FuelType == 'A'" ></span>
            </div>
            <div class="post-info" ng-click="setCurrentRating(post.FuelRatingCount);">{{post.FuelRatingCount}}</div>
        </div>
    </div>

    <div ng-show="sharePost != null" class="module type-01">
        <div data-post-id="{{sharePost.FuelPostId}}" class="item {{sharePost.FuelType}}" ng-click="selectPost(sharePost);" data-post-rating="{{sharePost.FuelRatingCount}}" data-post-type="{{sharePost.FuelType}}" data-bkgd-img="{{getImg(sharePost, sharePost.FuelType, sharePost.FuelData)}}" style="background-image: url('{{getBkgdImg(sharePost, sharePost.FuelType, sharePost.FuelThumbData)}}');">
            <div class="item-content icon-container {{sharePost.FuelType}}">
                <span ng-show="sharePost.FuelType == 'T'" ng-bind="sharePost.FuelCaption"></span>
                <span ng-show="sharePost.FuelType == 'M'" ng-bind="sharePost.FuelTitle"></span>
                <span ng-show="sharePost.FuelType == 'A'" ></span>
            </div>
            <div class="post-info" ng-click="setCurrentRating(sharePost.FuelRatingCount);" ng-bind="sharePost.FuelRatingCount"></div>
        </div>
    </div>


</section>
<div class="lightbox-screen profile" ng-click="setView('');"></div>
<section class="profile" ng-controller="profileController">
    <div class="login form-column">
        <form name="loginForm">
            <strong>sign in</strong>
            <p style="margin-top:25px;">Log in below. If you haven't registered, please <a href="#sign-up" ng-click="setView('sign-up');" style="color:#09a9b2;">sign up</a>.</p>
            <div class="form-errors">
                <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                <span ng-show="loginForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                <span ng-show="loginForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
            </div>
            <div class="form-row" style="margin-top:25px;">
                <label>username:</label>
                <input type="text" name="username" ng-pattern="validation.username" ng-model="username" required="" placeholder="username or email"/>
            </div>
            <div class="form-row">
                <label>password:</label>
                <input type="password" name="password" ng-model="password" ng-pattern="validation.password" required="" placeholder="8-12 characters"/>
                <br />
                <p style="margin-left:115px;margin-bottom:25px;"><a href="#reset-password" ng-click="setView('reset-password');">forgot username or password?</a></p>
            </div>
            <div class="align-content-to-form-elements" style="width:366px;">
                <div class="button pink {{isDisabled(loginForm.$valid)}}" ng-click="login();">connect</div>
                <div class="button pink cancel" >cancel</div>
            </div>
        </form>
    </div>
    <div class="reset-password form-column">
        <form name="resetpasswordForm">
            <strong>reset password request</strong>
            <p style="margin-top:25px;">Enter the email address associated with your account. <br/>Otherwise, <a href="#sign-in" ng-click="setView('sign-in');">click here to sign in</a>.</p>
            <div class="form-errors">
                <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                <span ng-show="resetpasswordForm.email.$dirty && !resetpasswordForm.email.$valid">email address is not valid</span>
            </div>
            <div class="form-row" style="margin-top:25px;">
                <label>email:</label>
                <input type="email" name="resetEmail" ng-model="resetEmail" required="" placeholder="account email"/>
                <br/>
            </div>
            <p class="align-content-to-form-elements" style="margin-top:25px; width:366px;">
                <div class="button pink {{isDisabled(resetpasswordForm.$valid)}}" ng-click="resetPassword(resetpasswordForm);">request reset</div>
                <div class="button pink cancel" >cancel</div>
            </p>
        </form>
    </div>
    <div class="register">
        <div class="form-column">
            <strong>sign up</strong>
            <p style="margin-top:25px;">Sign up below. If you're already registered,<br/>use your existing info to <a href="#sign-up" ng-click="setView('sign-in');" style="color:#09a9b2;">log in</a>.</p>
            <form name="registerForm" style="margin-top:25px;">
                <div class="form-errors">
                    <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                    <span ng-show="registerForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                    <span ng-show="registerForm.email.$dirty && !registerForm.email.$valid">email address is not valid</span>
                    <span ng-show="registerForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
                    <span ng-show="registerForm.passwordConfirm.$dirty && password != passwordConfirm">password confirmation must match</span>
                </div>
                <div class="form-row">
                    <label>username:</label>
                    <input type="text" name="username" ng-model="username" required="" ng-pattern="validation.username" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>email:</label>
                    <input type="email" name="email" ng-model="email" required="" placeholder="email"/>
                </div>
                <div class="form-row">
                    <label>password:</label>
                    <input type="password" name="password" ng-model="password" required="" ng-pattern="validation.password" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>confirm:</label>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required="" placeholder="type it again"/>
                </div>
                <div class="form-row">
                    <label>make profile public?</label>
                    <input type="radio" name="profile-visibility" value="public" style="width:50px;" /> yes
                    <input type="radio" name="profile-visibility" value="private" style="width:50px;" /> no
                </div>
                <p style="margin-top:25px;">
                    <small>By submitting this form you confirm that you are at least<br/>18 years of age and consent to our <a href="#">terms of use</a>.</small>
                </p>
                <div class="align-content-to-form-elements" style="width:366px; margin-top:25px;">
                    <div class="button pink {{isDisabled(registerForm.$valid)}}" ng-click="createProfile(registerForm);">connect</div>
                    <div class="button pink cancel" >cancel</div>
                </div>
            </form>
        </div>
        <div class="form-column profile-avatar">
            <strong>upload an avatar</strong>
            <p style="margin-top:25px;">Find the image you want on your computer.</p>
            <div class="button js-fileapi-wrapper" style="margin-top:20px;">
                <div id="img-preview-create" class="img-preview"></div>
                <input  id="user-files-create" data-preview-container="img-preview-create" type="file" accept=".jpg,.jpeg" data-url="HFWebServices.svc/UploadFileByPOST">
            </div>
        </div>
    </div>
    <div class="manage-account">
        <div class="form-column">
            <strong>manage account</strong>
            <form name="manageAccountForm">
                <div class="form-errors">
                    <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                    <span ng-show="manageAccountForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                    <span ng-show="manageAccountForm.email.$dirty && !manageAccountForm.email.$valid">email address is not valid</span>
                    <span ng-show="manageAccountForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
                    <span ng-show="manageAccountForm.passwordConfirm.$dirty && password != passwordConfirm">password confirmation must match</span>
                </div>
                <div class="form-row" style="margin-top:25px;">
                    <label>username:</label>
                    <input type="text" name="username" ng-model="username" required="" ng-pattern="validation.username" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>email:</label>
                    <input type="email" name="email" ng-model="email" required="" placeholder="email"/>
                </div>
                <div class="form-row">
                    <label>password:</label>
                    <input type="password" name="password" ng-model="password" required="" ng-pattern="validation.password" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>confirm:</label>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required="" placeholder="type it again"/>
                </div>
                <div class="form-row">
                    <label>make profile public?</label>
                    <input type="radio" name="profile-visibility" value="public" style="width:50px;" /> yes
                    <input type="radio" name="profile-visibility" value="private" style="width:50px;"/> no
                </div>
                <small style="margin-top:25px;">By submitting this form you confirm that you are at least<br/>18 years of age and consent to our <a href="#">terms of use</a>.</small>
                <div class="align-content-to-form-elements" style="margin-top:25px;">
                    <div class="button pink {{isDisabled(manageAccountForm.$valid)}}" ng-click="saveProfile(manageAccountForm);">connect</div>
                    <div class="button pink cancel" >cancel</div>
                </div>
            </form>
        </div>
        <div class="form-column profile-avatar">
            <strong>&#160;</strong>
            <p>&#160;</p>
            <div class="button js-fileapi-wrapper" style="{{avatar}}">
                <div id="img-preview-update" class="img-preview"></div>
                <input  id="user-files-update" data-preview-container="img-preview-update" type="file" accept=".jpg,.jpeg" data-url="HFWebServices.svc/UploadFileByPOST">
            </div>
            <span style="margin-left:86px; color:#ff00a0;">update avatar</span>
            <div style="padding-top:175px !important;" >
                <span style="margin-left:50px; color:#ff00a0;" ><a href="#" ng-click="deleteUser();">Delete account permanently</a></span>
                
            </div>
        </div>
    </div>
	<!-- style="color:#09a9b2;" -->
	<div class="find-friends form-column tab_container">
	<div class="tav_nav">
			<ul>
		<li><a href="#" id="gloginLink" ng-click="authenticate();" ></a></li>
    <li><a href="#" id="yloginLink" ng-click="yahooAuthenticate();" ></a>
			<a ng-hide="is_show == 0" id="ylogin" href="{{yahootoken.data}}"></a></li>
</ul>
</div>
<div class="tab_contents scroll-pane" >

<div class="tab_outter">
<div id="ajx_loader" ></div>
<div class ="tab_border" ng:show="selected == 1">
	<div  ng-repeat="friend in tofollowArr">
				<div class="contact-row " ng-show="friend.FriendUserId > 0">
					<div ng-show="friend.StatusId == 0">
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite" >
					<a href="#"  ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					<a style="display:none;" href="#"  ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
					</div>
					<div ng-show="friend.StatusId == 6" >
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite" >					
					<a  href="#"  ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					<a href="#"  style="display:none;" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
					</div>
					<div ng-show="friend.StatusId == 1" >
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite"  >
					<a href="#" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					<a href="#"  style="display:none;" ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
				</div>
				</div>
				
				</div>

				<div class="clear"></div>
				<h2 class="heading"  ng-show = "followedArr.length > 0">Following</h2>
				<div  ng-repeat="friend in followedArr">
				<div  class="contact-row " ng-show="friend.FriendUserId > 0">
				<div ng-show="friend.StatusId == 2">
                <div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite"  >
					<a href="#" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">unfollow</a>
					<a href="#"  style="display:none;" ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
				</div>	
				</div>
                </div>
	
				<div class="clear"></div>
				<h2 class="heading" ng-show = "inviteArr.length > 0" >Invite Friends</h2>
				<div  ng-repeat="friend in inviteArr">
				<div class=" contact-row" ng-show="friend.FriendUserId == 0">
                <div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
				 <div class="btn-invite">
					<a  href="#" ng-click="inviteUser(splitString(friend.FriendUserName,1))" class="button blue ">invite</a>
					<a href="#"  style="display:none;" ng-click="" class="button blue follow_button">invited</a>
				</div>
                <div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
                </div>
				</div>
</div>

<div class ="tab_border" ng:show="selected == 2">
   <div  ng-repeat="friend in tofollowArr">
				<div class="contact-row " ng-show="friend.FriendUserId > 0">
					<div ng-show="friend.StatusId == 0">
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite" >
					<a href="#"  ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					<a style="display:none;" href="#"  ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
					</div>
					<div ng-show="friend.StatusId == 6" >
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite" >					
					<a  href="#"  ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					<a href="#"  style="display:none;" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
					</div>
					<div ng-show="friend.StatusId == 1" >
					<div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite"  >
					<a href="#" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">requested</a>
					<a href="#"  style="display:none;" ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
				</div>
				</div>
				
				</div>

				<div class="clear"></div>
				<h2 class="heading"  ng-show = "followedArr.length > 0">Following</h2>
				<div  ng-repeat="friend in followedArr">
				<div  class="contact-row " ng-show="friend.FriendUserId > 0">
				<div ng-show="friend.StatusId == 2">
                <div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
					<div class="btn-invite"  >
					<a href="#" ng-click="unfollowUser(friend.FriendUserId)" class="button blue follow_button">unfollow</a>
					<a href="#"  style="display:none;" ng-click="followUser(friend.FriendUserId)" class="button blue follow_button">follow</a>
					</div>
					<div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
				</div>	
				</div>
                </div>
	
				<div class="clear"></div>
				<h2 class="heading" ng-show = "inviteArr.length > 0" >Invite Friends</h2>
				<div  ng-repeat="friend in inviteArr">
				<div class=" contact-row" ng-show="friend.FriendUserId == 0">
                <div class="avatar" style="{{getAvatarBkgdImg(friend.AvatarId)}}" ></div>
				 <div class="btn-invite">
					<a  href="#" ng-click="inviteUser(splitString(friend.FriendUserName,1))" class="button blue ">invite</a>
					<a href="#"  style="display:none;" ng-click="" class="button blue follow_button">invited</a>
				</div>
                <div class="info"><h4 style="color:#00a99d;">{{splitString(friend.FriendUserName,0)}}</h4><p>{{splitString(friend.FriendUserName,1)}}</p></div>
                </div>
				</div>
</div>

				   
			<!-- </header> -->
    </div>

        </div></div>

			
    </div>
</section>


<section class="static">
<section class="mission">
    <div class="hero">
        <img src="css/images/mission.png" />
    </div>
    <div class="text">
        happy fuel helps you <span>live in the happy<sup>&trade;</sup></span><br />
        by giving you a fun, simple way to store, share,<br />
        gauge, and fuel your happiness forward.
    </div>
</section>
<section class="contact">
    <div>
        <div class="hero">
            <img src="css/images/contact_us.png" />
        </div>
        
        <div class="text">
            <p>
                <span>Contact us.</span>
            </p>
            <p>
                We are always <span>: )</span> to hear from and<br />
                help out <span>: )</span> fuel customers.
            </p>

            <p>
                Happy Fuel LLC<br />
                162 Fifth Avenue, New York, NY 10010<br />
                Attention: Elizabeth Elfenbein<br />
                elizabeth@happyfuelapp.com
            </p>
        </div>
        
    </div>
</section>
<script>
var ScrollCtrl = function($scope) {
                    $scope.someArray = [1, 2, 3];

                    /*$scope.addItem = function() {
                        var arrayLength = $scope.someArray.length;
                        var nextValue = arrayLength > 0 ? $scope.someArray[arrayLength - 1] + 1 : 1;
                        $scope.someArray.push(nextValue);
                    };

                    $scope.removeItem = function() {
                        if ($scope.someArray.length) { $scope.someArray.pop(); }
                    }*/
                };
</script>

<section class="terms">
<div>
<p class="header">
    <!-- TERMS OF USE AND LICENSE AGREEMENT | HAPPY FUEL, LLC | EFFECTIVE AS OF NOVEMBER 12, 2013 -->
    TERMS OF USE
</p>
<p>
    TERMS OF USE AND LICENSE AGREEMENT (this "Agreement") is between Happy Fuel, LLC with offices at 162 Fifth Avenue, New York, NY 10010 ("Company") and each
    user that accesses or uses the Company's Happy Fuel website (the "Site") located at <a href="http://www.happyfuel.me/">www.happyfuel.me</a>
    ("Licensee").
</p>
<p>
    PLEASE CAREFULLY READ THIS AGREEMENT BEFORE ACCESSING OR USING THE SITE. IT IS A BINDING CONTRACT BETWEEN YOU AND THE COMPANY. BY ACCESSING OR USING THE
    SITE, YOU ACCEPT AND FULLY AGREE TO BE BOUND BY ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT AND THE PRIVACY POLICY. IF YOU DO NOT FULLY AGREE, YOU MUST
    NOT ACCESS OR USE THE SITE.
</p>
<p>
    YOU REPRESENT AND WARRANT THAT YOU ARE AT LEAST EIGHTEEN (18) YEARS OLD. IF YOU ARE NOT AT LEAST EIGHTEEN, YOU CANNOT USE OR ACCESS THE SITE.
</p>
<p>
    <b>1. DEFINITIONS.</b><br />
    The following definitions shall apply to this Agreement.
</p>
<p>
    <ol>
        <li>"<u>Licensee Content</u>" means all data and information entered into or submitted on the Site by Licensee.</li>
        <li>"<u>Party</u>" means Company or Licensee individually, and "Parties" means both Company and Licensee.</li>
    </ol>
</p>
<p>
    <b>2. USE OF SITE AND THE PARTIES' CONTENT</b>
</p>
<p>
    <ol>
        <li>
            <u>License Grant</u>. Subject to the terms and conditions of this Agreement, Company grants Licensee a non-exclusive, limited, non-transferable license
            to access and use the Site and submit the Licensee Content on the Site. Licensee only has the right to use the Site for Licensee's personal use and not for
            any commercial use or for providing any services to any third party. Licensee agrees that it shall not modify or make derivative works of the Site or any
            content posted by any other users of the Site or copy any ideas, features, functions or graphics of the Site or included in any content provided by any
            other users of the Site. Licensee shall not attempt to gain unauthorized access to the Site's systems code or networks or interfere with or disrupt the
            integrity or performance of the Site or the data contained therein. Except as expressly set forth herein, no other use, access, copying, display or
            distribution, in any form, of the Site or the content provided by other users of the Site, in whole or in part, by Licensee is permitted.
        </li>
        <li>
            <u>Withdrawal of Site</u>. Company has the right in its sole discretion to cease allowing use of the Site at any time, in which event upon receipt of
            email notice from Company, Licensee shall promptly cease using the Site.
        </li>
        <li>
            <u>Limitations and Restrictions</u>. Licensee shall not download, re-engineer, reverse engineer, reverse translate, decompile, reverse assemble,
            disassemble or in any manner decode or attempt to derive source code from the Site for any purpose whatsoever. Licensee agrees that it shall not (or
            attempt to) access, download, copy or use any remote or automatic device, code or method to access, download, copy or use any data or other information
            provided by any other user of the Site.
        </li>
        <li>
            <u>Ownership and Responsibility for Licensee Content</u>. Licensee acknowledges that Licensee is solely responsible for the Licensee Content
            (including, without limitation, its accuracy, quality, legality, and reliability) and Licensee's use of the Site. Licensee is the sole owner of the
            Licensee Content and Company has no ownership rights with respect to the Licensee Content. Licensee agrees that it shall not send or store in or through
            use of the Site (i) any infringing, obscene, threatening, libelous, violative of third party privacy right or otherwise unlawful data or information or
            (ii) any material, data or information containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or
            programs. Licensee agrees that Licensee is fully responsible for all activity occurring under Licensee's accounts and passwords. Licensee shall immediately
            notify Company of any unauthorized use of any of Licensee's passwords or accounts or any other unknown or suspected breach of security. Licensee agrees to
            comply with all applicable laws with respect to Licensee's use of the Site.
        </li>
        <li>
            <u>Posting Content on the Site and License to Use Licensee Content</u>. Licensee can only post on the Site, if Licensee has registered on the Site.
            <strong>
                At the time of registration, Licensee can elect to have the Licensee Content posted (i) as private and then only available to those people that
                Licensee has elected to allow access to Licensee's posts or (ii) as public meaning the Licensee Content posted by Licensee will be available to all
                users of the Site, including non-registered users.
            </strong>
            
            <strong>
                All Licensee Content posted on any forums or bulletin boards on the Site are public and available to all users of the Site, even if Licensee elects to
                have Licensee's posts be private. If Licensee elects to have Licensee's posts private,
            </strong>
            <strong>
                while Company shall use reasonable efforts to only allow access to the Licensee Content to those people that Licensee has elected to allow access to
                Licensee's post, Licensee acknowledges and agrees that given the nature of the Internet and the ability of third parties to gain unauthorized access to
                Internet sites and the data contained on sites, Company cannot guarantee that such access will be so limited.
            </strong>
            Licensee grants to Company, its affiliates and other users of the Site the worldwide, perpetual, royalty-free, irrevocable, non-exclusive right to use,
            communicate, reproduce, publish, display, perform, modify, alter, adapt, translate, sublicense, distribute, create derivative works from and exploit the
            Licensee Content that is made publicly available in any manner, including on the Site or in any other medium now known or later developed, without
            Licensee's consent. If Licensee elects to have Licensee's posts be private, Licensee grants to Company and its affiliates the worldwide, perpetual,
            royalty-free, irrevocable, non-exclusive right to communicate, reproduce, publish, display and distribute Licensee Content to other users of the Site that
            Licensee has agreed to provide access to the Licensee's private posts. Licensee may change at any time on its registration whether Licensee's posts are to
            be private or public, however, such change shall not make private posts made by Licensee at the time that Licensee registered as having all posts public.
            Licensee may elect to have a particular post be public, even if Licensee has elected to have its posts be only accessible to users that Licensee has
            selected to access Licensee's posts.
        </li>
        <li>
            <u>No Confidentiality in Licensee Content</u>. No Licensee Content, regardless of how they may be marked, will be received by Company in confidence,
            nor shall they be subject to any express or implied obligation of confidentially. Company, its affiliates and other users of the Site shall not be liable
            for any use or disclosure of any Licensee Content.
        </li>
        <li>
            <u>Licensee Representations and Warranties</u>. Licensee represents and warrants that it owns or otherwise controls all of the rights to the Licensee
            Content, that the Licensee Content are original works, and that the public posting and other public or private use of the Licensee Content will not
            infringe the intellectual property or other proprietary rights of any third party. Licensee acknowledges that it is not entitled now, or in the future, to
            any compensation for any Licensee Content, and Licensee, its heirs, designated recipients, successors and assigns hereby waive the benefits of any moral
            rights. Licensee and its heirs, designated recipients, successors and assigns hereby waive any and all rights and remedies Licensee may have against
            Company and its affiliates, officers, members, managers, directors, agents and employees now or in the future, and hereby release Company and its
            affiliates, officers, members, managers, directors, agents and employees from any and all claims, demands, actions, causes of action, damages, obligations,
            losses and expenses of whatever kind relating to the use of the Site or any component thereof or providing, transmitting, or entering the Licensee Content
            on or with respect to the Site, or Company, its affiliates or other users of the Site receiving, evaluating, and utilizing the Licensee Content.
        </li>
    </ol>
<p>
    <b>3. BREACH OF AGREEMENT</b>
</p>
<p>
    <ol>
        <li>In the event that either party breaches this Agreement, the other party has the immediate right to terminate this Agreement without notice to the other party.</li>
        <li>Upon breach of this Agreement by Licensee, Company has the right to withhold, remove and discard any and all of the Licensee Content without notice. Upon termination of this Agreement, Licensee's right to use and access the Site and the Licensee Content shall immediately cease.</li>
    </ol>
</p>
<p>
    <b>4. TAXES</b>
</p>
<p>
    <ol>
        <li><u>Taxes</u>. Licensee will pay to Company or to the relevant taxing authority, as appropriate, any applicable sales, use, goods and services, value added or other taxes payable with respect to Licensee's use of the Site.</li>
    </ol>
</p>
<p>
    <b>5. DISCLAIMERS; LIMITATION OF LIABILITY</b>
</p>
<p>
    <ol>
        <li>
            <u>Disclaimers; Limitation of Liability</u>. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL COMPANY, OR ANY OF ITS
            AFFILIATES, OFFICERS, DIRECTORS, OR EMPLOYEES BE LIABLE TO LICENSEE OR TO ANY THIRD PARTY FOR (I) ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR INDIRECT
            DAMAGES, (II) FOR ANY DAMAGES WITH RESPECT TO THE ACCURACY OR DELETION OF ANY LICENSEE CONTENT ENTERED, OR STORED ON THE SITE OR FOR THE SUFFICIENCY OR
            COMPLETENESS OF ANY LICENSEE CONTENT ENTERED OR STORED ON THE SITE, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY ARISING OUT OF THIS AGREEMENT OR THE
            SITE, WHETHER OR NOT ADVISED OF THE POSSIBLITY OF SUCH DAMAGES, AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. LICENSEE
            ACKNOWLEDGES AND AGREES THAT THERE ARE NO GUARANTEES WITH RESPECT TO THE SECURITY OF THE LICENSEE CONTENT ENTERED INTO OR STORED ON THE SITE WILL BE
            SECURE. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL COMPANY OR ITS AFFILIATES, OFFICERS, DIRECTORS OR EMPLOYEES HAVE ANY
            LIABILITY OF ANY KIND WITH RESPECT TO THE DELETION, DESTRUCTION, DAMAGE, LOSS OR FAILURE TO STORE OF ANY OR ALL OF LICENSEE CONTENT OR ACCESS TO THE
            LICENSEE CONTENT. LICENSEE AGREES THAT LICENSEE IS SOLELY RESPONSIBLE FOR MAINTAINING COPIES OF THE LICENSEE CONTENT, ENTERED OR STORED ON THE SITE. TO THE
            MAXIMUM EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL COMPANY'S AGGREGATE LIABILITY UNDER ANY AND ALL LEGAL THEORIES WITH RESPECT TO THIS AGREEMENT, THE
            SITE OR THE LICENSEE CONTENT BE IN EXCESS OF ONE DOLLAR ($1.00).
        </li>
        <li>
            <u>DISCLAIMERS</u>.<br />
            5.2.1 COMPANY DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE OR ACCURACY OR RELIABILITY OF
            THE SITE OR THE ABILITY TO ACCESS THE SITE. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW COMPANY SPECIFICALLY DISCLAIMS ANY WARRANTIES,
            CONDITIONS, GUARANTEES OR REPRESENTATIONS AS TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR OTHER WARRANTIES, WHETHER EXPRESS OR
            IMPLIED IN LAW OR IN FACT, ORAL OR IN WRITING. THE SITE AND THE RESULTS OBTAINED FROM USE OF THE SITE ARE PROVIDED ON AN "AS IS" BASIS.
            <br />
            <br />
            5.2.2 TO THE MAXIMUM EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL COMPANY OR ITS AFFILIATES, OFFICERS, DIRECTORS OR EMPLOYEES BE LIABLE FOR ANY DAMAGES
            SUFFERED OR INCURRED BY LICENSEE OR ANY THIRD PARTIES ARISING OUT OF ANY FAULTS, INTERRUPTIONS, DELAYS, INACCURACIES, ERRORS, DELETIONS OR OMISSIONS IN
            CONNECTION WITH THE LICENSEE CONTENT OR THE SITE.
        </li>
    </ol>
</p>
<p>
    <b>6. INDEMNIFICATION</b>
</p>
<p>
    <ol>
        <li>
            <u>Indemnification by Licensee</u>. Licensee shall indemnify and hold harmless Company, any third party that hosts the Site and each of their
            affiliates and each of their directors, officers and employees with respect to any claim, demand, cause of action, liabilities, damages, awards,
            settlements, costs, losses, and expenses (including, without limitation, reasonable attorneys' fees and costs of investigation) arising out of any claim
            relating to or arising out of the Licensee Content or Licensee's use of the Site, other than any third party claims that the Site (not including the
            Licensee Content) infringes a third party's patent, copyright, trademark, trade secret or other intellectual property rights. Licensee shall not settle any
            such claim without a full release of Company, its affiliates and each of their directors, officers and employees from all liability.
        </li>
    </ol>
</p>
<p>
    <b>7. OWNERSHIP</b>
</p>
<p>
    <ol>
        <li>
            <u>Ownership.</u> Company shall own all right, title and interest, including all related intellectual property rights, on the Site and any suggestions,
            ideas, enhancement requests, feedback, recommendations or other information provided by Licensee relating to the Site (the "Suggestions"). Licensee hereby
            assigns to Company all of its right, title and interest to any and all of the Suggestions made in whole or in part by Licensee. This Agreement does not
            convey to Licensee any rights of ownership in or related to the Site. Company's name, logo, and the product names associated with the Site are trademarks
            of Company or third parties. Company owns all proprietary rights, including, without limitation, patent, copyright, trade secret and trademark rights to
            the Site and any modifications, enhancements and derivatives to the Site. Licensee acknowledges that Licensee is granted only a limited right of use of the
            Site, which right of use is not coupled with an interest and is revocable in accordance with the terms of this Agreement. Licensee agrees not to assert any
            ownership interest in the Site or any software use in connection with producing or providing the Site. Licensee agrees that the Site embodies valuable,
            confidential and trade secret information of Company.
        </li>
    </ol>
</p>
<p>
    <b>8. GENERAL</b>
</p>
<p>
    <ol>
        <li>
            <u>Governing Law</u>. This Agreement and all claims arising out of or relating to this Agreement, the Privacy Policy, the Licensee Content or the Site,
            including without limitation tort claims, shall be interpreted, construed and enforced in all respects in accordance with the United States federal laws
            with respect to intellectual property rights and with respect to all other claims with the laws of the State of New York, except for its conflict of laws
            principles. The parties agree that any action or proceeding arising out of or in connection with this Agreement, the Privacy Policy, the Licensee Content
            or the Site shall be brought exclusively in the federal and state courts located in the Borough of Manhattan, in New York City in the State of New York and
            the Parties waive any right to claim inconvenient forum and the Licensee waives any and all rights to claim immunity. EACH OF THE PARTIES WAIVE ANY AND ALL
            RIGHTS TO A JURY TRIAL.
        </li>
        <li>
            <u>Notices</u>. Notices will be deemed effective hereunder if in writing, delivered in person, or by facsimile, certified or registered mail, or by
            FedEx or similar private mail service, and addressed to Company at its above address and to Licensee at the email address that Licensee uses when Licensee
            clicks acceptance (or to such successor addresses as the Parties may identify by providing notice in accordance with this Section). Licensee can also
            contact Company with respect to questions and complaints about the Site by emailing elizabeth@happyfuelapp.com.
        </li>
        <li>
            <u>Assignments</u>. This Agreement shall be binding upon and inure to the benefit of the Parties and their affiliates, successors and assigns. Neither
            Party may assign or transfer this Agreement or its rights and obligations under this Agreement, except in connection with a merger, acquisition or sale of
            substantially all of the assets of a Party. Any assignment or transfer in violation of this Section is null and void.
        </li>
        <li>
            <u>Independent Contractors</u>. The Parties to this Agreement are independent contractors. Neither Party is an agent, representative or partner of the
            other Party. Neither Party shall have any right, power or authority to enter into any agreement for, or on behalf of, or incur any obligation or liability
            of, or to otherwise bind, the other Party. This Agreement shall not be interpreted or construed to create an association, agency, joint venture or
            partnership between the Parties or to impose any liability attributable to such a relationship upon either Party.
        </li>
        <li>
            <u>Force Majeure</u>. If any Party shall be delayed, interrupted or prevented from the performance of any obligation hereunder by reason of an act of
            God, fire, flood, war, public disaster, strike or labor dispute, natural disasters or other event beyond a party's reasonable control, such party shall not
            be liable to the other for damages arising from such event and the time for performance of such obligation shall be extended for a period equal to the
            duration of the contingency that occasioned the delay, interruption or prevention.
        </li>
        <li>
            <u>Waivers, Entire Agreement</u>. Any waiver of this Agreement by Company must be in writing and executed by Company to be effective. The failure of
            Company at any time or times to require full performance of any provision hereof will in no manner affect the right of Company at a later time to enforce
            the same. This Agreement constitutes the entire agreement between the Parties with respect to this Agreement, the Site, the Licensee Content and the
            Suggestions and supersedes all prior understandings between the Parties, written or oral, with respect to the subject matter of this Agreement.
        </li>
        <li>
            <u>Construction; Headings</u>. In the event that any provision of this Agreement conflicts with the law under which this Agreement is to be construed
            or if any such provision is held invalid by a court with jurisdiction over the Parties to this Agreement, such provision shall be deemed to be restated to
            reflect as nearly as possible the original intentions of the Parties in accordance with applicable law, and the remainder of this Agreement shall remain in
            full force and effect. Headings of paragraphs and sections in this Agreement are for convenience only and should not be given any interpretative effect.
        </li>
        <li>
            <u>Survival</u>. The provisions of Sections 1, 2.3, 2.4, 2.5, 2.6, 2.7, 3.2, 4, 5, 6, 7 and 8 of this Agreement shall survive the termination and
            expiration of this Agreement.
        </li>
        <li>
            <u>Injunctive Relief</u>. In the event of a violation or threatened violation of Company's intellectual property or proprietary rights with respect to
            the use of the Site in violation of this Agreement, Company shall have the right, in addition to such other remedies as may be available pursuant to law or
            this Agreement, to injunctive or declaratory relief (including, temporary and preliminary relief) without the posting of any bond. Licensee acknowledges
            that legal remedies for such violation or threatened violation are inadequate.
        </li>
        <li>
            <u>Export Laws and Other Applicable Laws</u>. Licensee agrees to use the Site in accordance with all applicable export and other laws, including,
            without limitation, United States export controls. Licensee represents and warrants that (i) Licensee is not located in a country that is subject to a U.S.
            Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country and (ii) Licensee is not listed on any U.S.
            Government list of prohibited or restricted parties.
        </li>
        <li>
            <strong>
                <u>Modifications of this Agreement</u>
                . Company reserves the right to change, modify or amend this Agreement from time to time, effective three (3) days after the posting of an updated
                version of this Agreement. Licensee is responsible for reviewing this Agreement each time Licensee accesses or uses the Site. Use by Licensee of the
                Site three days after the initial posting of such changes, modifications or amendments shall constitute Licensee's acceptance of the revised Agreement.
            </strong>
        </li>
    </ol>
</p>
<p>
    9. <b><u>Notice of Alleged Copyright Infringement</u></b>. If you believe that any content or materials on or provided to the Site infringes upon any copyright
    that you own or control, you shall provide written notice to the Designated Agent set forth below:
</p>
<p>
    Elizabeth Elfenbein, Owner
</p>
<p>
    Happy Fuel, LLC
</p>
<p>
    Telephone: 917-677-9087
</p>
<p>
    Email: <a href="mailto:elizabeth@happyfuelapp.com">elizabeth@happyfuelapp.com</a>
</p>
<p>
    The Digital Millennium Copyright Act requires that such notification must be in writing and include all of the following information:
</p>
<p>
    (i) A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
</p>
<p>
    (ii) Identification of the material that is claimed to have been infringed or, if multiple copyrighted works are covered by a single notification, a
    representative list of such works.
</p>
<p>
    (iii) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to
    which is to be disabled and information reasonably sufficient to permit the Company to locate the material.
</p>
<p>
    (iv) Information reasonably sufficient to permit the Company to contact the complaining party, such as an address, telephone number and if, available, an
    electronic mail address at which the complaining party may be contacted.
</p>
<p>
    (v) A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright
    owner, its agent, or the law.
</p>
<p>
    (vi) A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner
    of an exclusive right that is allegedly being infringed.
</p>

</div>

</section>
<div class="btn-close"></div>
</section>

<footer class="P">
    <ul>
        <li ng-show="currentUser != null" ng-click="logout();">logout</li>
        <li ng-show="currentUser != null" ng-click="setView('find-friends')">find friends</li>
        <li ng-show="currentUser == null" ng-click="setView('sign-in');">sign in</li>
        <li ng-show="currentUser != null" ng-click="setView('manage-account');">manage account</li>
        <li class="static-content-target" data-static-content-target="contact">contact us</li>
        <li class="static-content-target" data-static-content-target="terms">terms &amp; policies</li>
        <li>&copy; Happy Fuel LLC 2013</li>
    </ul>
</footer>
</div>

</body>
</html>