
<div class="rating-container">
    <div class="screen-overlay"></div>
    <div class="rate-overlay"></div>
    <div class="rate-needle"></div>
    <div class="rate-listener">
        <input type="hidden" id="selectedRatingValue" ng-model="selectedRatingValue"/>
        <div class="post-info">{{selectedRatingValue}}</div>
    </div>
    <div class="rate-tools">
        <div class="rate-comment">
            <div class="avatar" style="background: url(https://lh4.googleusercontent.com/-XZe4TEYU5nk/AAAAAAAAAAI/AAAAAAAAAAA/3dBWJldvnp4/s48-c-k/photo.jpg);"></div>
            <input type="hidden" ng-model="ratingValue" class="ratingValue"/>
            <div class="txtarea"><textarea placeholder="share your :)" ng-model="ratingComment"></textarea></div>
        </div>
        <div class="post-group">
            <a class="btn-post" href="#" ng-click="ratePost()">&#160;</a>
        </div>
    </div>
</div>