
<!-- modal popup -->
<div id="modal_LightBox" class="modal contributors-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">      
         <div class="modal-body">
            <a data-id="1" class="close-modal" href="#"><img src="/contents/imgs/index/popup/btn-close-modal.png"></a>         
            <div class="modal_lightBoxHeader">
               <a class="vetvance_logo_link" href="/register">vetvance | launch your vetenary career</a>
               <a class="savezuku_logo_link" href="/registerzuku">save on zuku review</a>                                                
               <img src="/contents/imgs/index/popup//lightbox_header.jpg"/>
            </div><!--/. modal_lightBoxHeader -->

            <div class="modal_lightBoxContent">
               <div class="modal_lightBoxContent_video">
                
                <div id="promoviddy" class="flash_video">
                     <!-- <video id="home_video" preload="auto" class="video-js vjs-default-skin" width="939" height="528" poster="/Contents/imgs/promoposter.jpg">
                            <source src="http://brightcove.vo.llnwd.net/e1/uds/pd/2342494722001/2342494722001_2903424477001_PAH12097-VetVance-Promotional-Video-110613-NoWeb.mp4" type="video/mp4">
                            <source src="/Contents/videos/HOMEPAGEVIDEO.mp4" type="video/mp4">
                            <source src="/Contents/videos/HOMEPAGEVIDEO.webm" type="video/webm">
                        <track kind="captions" src="" srclang="en" label="English"></track>
                     </video> -->
                     <video id="home_video" class="video-js vjs-default-skin" controls preload="auto" width="939" height="528" poster="/Contents/imgs/promoposter.jpg" data-setup=''>
                        <source src="/Contents/videos/HOMEPAGEVIDEO.mp4" type='video/mp4'>
                        <source src="/Contents/videos/HOMEPAGEVIDEO.webm" type='video/webm'>
                        <track kind="captions" src="" srclang="en" label="English"></track>
                      </video>
                  </div>


                
                  <a class="register_toggle" href="#">                                              
                     <img src="/contents/imgs/index/popup/lightbox_footer.jpg"/>
                  </a>
               </div><!--/. modal_lightBoxContent_video -->
               
               <div class="modal_lightBoxContent_form">
                  <div class="members-container">
                     <div class="register-container">
                        <a class="promo_video_link" href="#">
                           <img src="/contents/imgs/index/popup/promo_video_link.jpg" />
                        </a>
                        <div class="header">
                           <h1>Register FOR VETVANCE</h1>
                           <p>
                              When you register for VETVANCE, you get complete access to a personalized course list of practical advice from industry insiders, the ability to connect with mentors and peers, and hundreds of job opportunities across the country. <br />Already have an account? <a href="signin">Sign in</a>.
                           </p>
                        </div>
                        <div class="form-container">
                           <i class="required-msg">All fields required.</i>
                           <hr class="top">                           
                           <form method="post" role="form" class="form-horizontal" id="register-form" autocomplete="off">
                              <!-- left column -->
                              <div class="column">
                                 <div class="form-group email-field-group">
                                    <label class="control-label" for="email">Email:</label>
                                    <div class="fields email-field">
                                       <input type="email" placeholder="Your email address" id="email" class="form-control" name="email">
                                       <p><b>Tip:</b><span> Use an email address you check often that is not your school email address.</span></p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label" for="email">Confirm Email:</label>
                                     <div class="fields">
                                     <input type="email" placeholder="Confirm email address" class="form-control" name="email_confirm">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label" name="password">Password:</label>
                                     <div class="fields">
                                     <input type="Password" placeholder="" id="password" class="form-control" name="password">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label">Confirm Password:</label>
                                     <div class="fields">
                                     <input type="Password" placeholder="" id="password_confirm" class="form-control" name="password_confirm">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label" for="firstname">First Name:</label>
                                     <div class="fields">
                                     <input placeholder="" id="firstname" class="form-control" name="firstname">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label">Last Name:</label>
                                     <div class="fields">
                                     <input placeholder="" id="lastname" class="form-control" name="lastname">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label">I am a:</label>
                                     <div class="fields">
                                       <select class="form-control" id="careertypeid" name="careertypeid"></select>
                                     </div>
                                 </div>
                              </div>
                              <!--/. left column -->
                              <!-- right column -->
                              <div class="column">
                                 <div class="form-group">
                                    <div class="radio-group">
                                       <label class="control-label">School:</label>
                                       <div class="fields radio-fields">
                                          <label><input type="radio" class="icheck radiobtn" id="vetschool" name="schoolgroup" value="Vet">AVMA-accredited School</label>
                                          <label><input type="radio" class="icheck radiobtn" id="otherschool" name="schoolgroup" value="Other" checked>All Other</label>
                                          <input name="school" id="school" class="form-control" placeholder="Type or choose a school">
                                       </div>
                                    </div>
                                 </div>
                                 
                                 <div class="form-group">
                                    <label class="control-label">Graduation Date:</label>
                                    <div class="fields">
                                       <select id="graduation" name="graduation" class="form-control">
                                          <option value="">--Select--</option>
                                            @for (var i = (DateTime.Now.Year + 7); i >= (DateTime.Now.Year - 65); i--)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label" for="securityquestion">Security Question:</label>
                                    <div class="fields">
                                       <select class="form-control" id="securityquestion" name="securityquestion"></select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label" for="securityanswer">Security Answer:</label>
                                    <div class="fields">
                                       <input type="name" name="securityanswer" id="securityanswer" class="form-control">
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="fields check-fields">
                                       <input type="checkbox" class="icheck" id="optemail" name="optemail"><span>Please send me email communication from VETVANCE and Zoetis.</span>
                                       <input type="checkbox" class="icheck" id="optterms" name="optterms"><span>I agree with the Zoetis <a href="tou">Terms of Use</a> and <a href="privacy">Privacy Policy</a>.</span>
                                       <input type="hidden" name="optterms" value="" />
                                       <span class="touerror">You must accept the Terms of Use and Privacy Policy to continue.</span>
                                    </div>
                                 </div>
                              </div><!--/ right column -->
                              <hr class="bottom">
                              <div class="buttons">
                                 <button class="btn btn-default btn-submit" type="submit">register</button>
                              </div>
                           </form>
                        </div><!--/. form-containe -->
                     </div><!--/. register-container -->
                  </div><!--/. members-container -->
               </div><!--/. modal_lightBoxContent_form -->
            </div><!--/. modal_lightBoxContent -->
         </div><!--/. modal-body -->
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->