<script id="popover-interest-template" type="text/x-handlebars-template">
<div class="type-popover">
	<div class="popover-header">
		<h4>Interest/Practice</h4>
		<span>
			<a href="#" class="btnSelectItems" data-popover="interest" data-type="all">All</a> | <a href="#" data-type="none" data-popover="interest" class="btnSelectItems none">None</a>
		</span>
	</div>
	<div class="popover-data">
		<form name="form-interest" id="form-interest">
		<ul class="column">
			<li><label><input type="checkbox" name="acquatic" class="icheck">Aquatic Animal Health</label></li>
			<li><label><input type="checkbox" name="mixedpractice" class="icheck" disabled>Mixed Practice
				<ul class="sublist four">
					<li><label><input type="checkbox" name="mixedcattle" class="icheck">Mostly cattle</label></li>
					<li><label><input type="checkbox" name="mixedswine" class="icheck">Mostly swine</label></li>
					<li><label><input type="checkbox" name="mixedequine" class="icheck">Mostly equine</label></li>
					<li><label><input type="checkbox" name="mixedcompanion" class="icheck">Mostly companion animals</label></li>
				</ul>
			</label></li>
			<li><label><input type="checkbox" name="smallanimals" class="icheck" disabled>Small Animals
				<ul class="sublist tres">
					<li><label><input type="checkbox" name="smallcanine" class="icheck">Canine</label></li>
					<li><label><input type="checkbox" name="smallfeline" class="icheck">Feline</label></li>
					<li><label><input type="checkbox" name="smallexotics" class="icheck">Exotics</label></li>					
				</ul>
			</label></li>
		</ul>
		<ul class="column">
			<li><label><input type="checkbox" name="foodanimals" class="icheck" disabled>Food Animals
				<ul class="sublist cinco">
					<li><label><input type="checkbox" name="foodbeef" class="icheck">Beef cattle</label></li>
					<li><label><input type="checkbox" name="fooddairy" class="icheck">Dairy cattle</label></li>
					<li><label><input type="checkbox" name="foodcow" class="icheck">Cow calf</label></li>
					<li><label><input type="checkbox" name="foodpoultry" class="icheck">Poultry</label></li>
					<li><label><input type="checkbox" name="foodswine" class="icheck">Swine</label></li>
				</ul>
			</label></li>

			<li><label><input type="checkbox" name="equine" class="icheck">Equine</label></li>
			<li><label><input type="checkbox" name="smallruminant" class="icheck">Small Ruminant</label></li>
			<li><label><input type="checkbox" name="labanimal" class="icheck">Lab Animal</label></li>
			<li><label><input type="checkbox" name="government" class="icheck">Government</label></li>
		</ul>		
		<ul class="column">
			<li><label><input type="checkbox" name="armedforces" class="icheck">Armed Forces</label></li>
			<li><label><input type="checkbox" name="publichealth" class="icheck">Public Health</label></li>
			<li><label><input type="checkbox" name="industry" class="icheck">Industry</label></li>
			<li><label><input type="checkbox" name="zoo" class="icheck">Zoo/Exotic</label></li>
			<li><label><input type="checkbox" name="other" class="icheck">Other</label></li>			
		</ul>
		</form>
	</div>
	<div class="popover-footer">
		<a class="btn btn-cancel btn-close-popover" id="btnInterestCancel">cancel</a>
		<a class="btn btn-save btn-save-popover" id="btnInterestSave">save</a>
	</div>
</div>
</script>