<script id="popover-specialty-template" type="text/x-handlebars-template">
<div class="type-popover">
	<div class="popover-header">
		<h4>Expertise/Specialty</h4>
		<span>
			<a href="#" class="btnSelectItems" data-popover="specialty" data-type="all">All</a> | <a href="#" class="btnSelectItems" data-popover="specialty" data-type="none">None</a>
		</span>
	</div>
	<div class="popover-data">
		<form name="form-specialty" id="form-specialty">
		<ul class="column">
			<li><label><input type="checkbox" name="anesthesiology" class="icheck">Anesthesiology</label></li>
			<li><label><input type="checkbox" name="animalwelfare" class="icheck">Animal Welfare</label></li>
			<li><label><input type="checkbox" name="behavior" class="icheck">Behavior</label></li>
			<li><label><input type="checkbox" name="clinicalpharmacology" class="icheck">Clinical Pharmacology</label></li>
			<li><label><input type="checkbox" name="dermatology" class="icheck">Dermatology</label></li>
			<li><label><input type="checkbox" name="emergencyandcriticalcare" class="icheck">Emergency and Critical Care</label></li>
			<li><label><input type="checkbox" name="internalmedicine" class="icheck">Internal Medicine</label></li>
		</ul>
		<ul class="column">
			<li><label><input type="checkbox" name="laboratorymedicine" class="icheck">Laboratory Medicine</label></li>
			<li><label><input type="checkbox" name="microbiology" class="icheck">Microbiology</label></li>
			<li><label><input type="checkbox" name="nutrition" class="icheck">Nutrition</label></li>
			<li><label><input type="checkbox" name="ophthalmology" class="icheck">Ophthalmology</label></li>
			<li><label><input type="checkbox" name="pathology" class="icheck">Pathology</label></li>
			<li><label><input type="checkbox" name="preventivemedicine" class="icheck">Preventive Medicine</label></li>
			<li><label><input type="checkbox" name="radiology" class="icheck">Radiology</label></li>
		</ul>		
		<ul class="column">
			<li><label><input type="checkbox" name="sportsmedicineandrehabilitation" class="icheck">Sports Medicine and Rehabilitation</label></li>
			<li><label><input type="checkbox" name="surgery" class="icheck">Surgery</label></li>
			<li><label><input type="checkbox" name="theriogenology" class="icheck">Theriogenology</label></li>
			<li><label><input type="checkbox" name="toxicology" class="icheck">Toxicology</label></li>
			<li><label><input type="checkbox" name="veterinarypractitioners" class="icheck">Veterinary Practitioners</label></li>
			<li><label><input type="checkbox" name="zoologicalmedicine" class="icheck">Zoological Medicine</label></li>			
		</ul>
		</form>
	</div>
	<div class="popover-footer">
		<a class="btn btn-cancel btn-close-popover" id="btnSpecialtyCancel">cancel</a>
		<a class="btn btn-save btn-save-popover" id="btnSpecialtySave">save</a>
	</div>
</div>
</script>