<script id="popover-affiliations-template" type="text/x-handlebars-template">
<div class="type-modal">
	<div class="popover-header">
		<span id="tab-national" class="tab active tab-nav">
			<h4>National Affiliations</h4>
		</span>
		<span id="tab-state" class="tab inactive tab-nav">
			<h4>State/Local Affiliations</h4>
		</span>
		<a href="#" class="close-modal btn-close-popover"><img src="contents/imgs/btn-close-modal.png" /></a>
	</div>

	<div class="popover-data">
		<form name="form-affiliations" id="form-specialty">
			<ul class="column navigation ">
				<li class="all active">All</li>
				<li class="general">General</li>
				<li class="specialists">Specialists</li>
				<li class="species-specific">Species-specific</li>
				<li class="specialinterest">Special Interest</li>
				<li class="student">Student</li>
			</ul>
			<span class="column fieldlists nationallist active">
				<ul class="fieldset active all" id="fieldlist1">
					{{#each all}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>

				<ul class="fieldset active general" id="fieldlist1">
					{{#each general}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>

				<ul class="fieldset specialists" id="fieldlist2">
					{{#each specialists}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>

				<ul class="fieldset active species-specific" id="fieldlist1">
					{{#each species}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>

				<ul class="fieldset active specialinterest" id="fieldlist1">
					{{#each specialinterest}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>
				<ul class="fieldset active student" id="fieldlist1">
					{{#each student}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>				
			</span>

			<span class="column fieldlists statelist inactive">
				<ul class="fieldset active general" id="fieldlist1">
					{{#each local}}
						<li class="btnOrganization" data-id="{{organizationid}}" data-str="{{organizationname}}">{{organizationname}}</li>
					{{/each}}
				</ul>
				<ul class="fieldset specialists" id="fieldlist2"></ul>				
			</span>			
		</form>
	</div>
</div>
</script>