﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="screensaver">
    <!-- saver 1 -->
    <section id="ss_1">
        <!--
        <h1>Image 1</h1>
        <p><a href="main/panels">main panel</a></p>
        -->
    </section>

    <!-- saver 2 -->
    <section id="ss_2">
        <!--
        <h1>Image 2</h1>
        <p><a href="main/panels">main panel</a></p>
        -->
    </section>

    <!-- footer -->
    <footer class="type_1">
        <h5>
             Please see Full Prescribing Information,<br />including <b>Boxed WARNING</b>, available at this booth. 
        </h5>

        <img src="~/Content/images/main/footer_logo_white.png" />
         ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
    </footer>
</div>

@section scripts {
    <script type="text/javascript">
        var t = setInterval(function () {
            // toggles 10 seconds
            $('#ss_2').fadeToggle(600);
        }, 10000);

        function clearToggle() {
            clearInterval(t);
        }
    </script>
}