﻿@{
    ViewBag.Title = "Panel-1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="link" class="timer">
    <!-- timeout -->
    <div class="timeout"><a id="cancel_timeout" href="javascript:void(0);"><img src="~/Content/images/main/timeout.png" /></a></div>

    <!-- polling -->
    <div class="polling">
        <img id="polling_bg" src="~/Content/images/main/polling_background.png" usemap="close" />

        <!-- chart -->
        <div id="donutchart"></div>

        <map name="close">
            <area class="close_polling" shape="rect" coords="765,1650,1040,1720" href="javascript:void(0);" />
            <area class="response_a" shape="rect" coords="80,462,430,611" href="javascript:void(0);" />
            <area class="response_b" shape="rect" coords="625,462,975,611" href="javascript:void(0);" />
            <area class="response_c" shape="rect" coords="80,850,430,1022," href="javascript:void(0);" />
            <area class="response_d" shape="rect" coords="625,850,975,1022" href="javascript:void(0);" />
        </map>

        <!-- question -->
        <div class="polling_question" data="3">What percentage of strokes are caused by nonvalvular atrial fibrillation?</div>

        <!-- response -->
        <div class="response_text response_a polling_response_a">1%</div>
        <div class="response_text response_b polling_response_b">5%</div>
        <div class="response_text response_c polling_response_c">8%</div>
        <div class="response_text response_d polling_response_d">15%</div>

        <!-- result -->
        <div class="result_text result_a">XX%</div>
        <div class="result_text result_b">XX%</div>
        <div class="result_text result_c">XX%</div>
        <div class="result_text result_d">XX%</div>

        <div class="message">
            The correct answer is <b>d: 15%</b><sup>1-3</sup>
        </div>

        <div class="reference">
            <b>References:</b>
            <ol>
                <li>Go AS. The epidemiology of atrial fibrillation in elderly persons: the tip of the iceberg. <i>Am J Geriatr Cardiol.</i> 2005;14(2):56-61.</li>
                <li>Hart RG, Halperin JL. Atrial fibrillation and thromboembolism: a decade of progress in stroke prevention. <i>Ann Intern Med.</i> 1999;131(9):688-695.</li>
                <li>Roger VL, Go AS, Lloyd-Jones DM, et al. Heart disease and stroke statistics–2012 update: a report from the American Heart Association. <i>Circulation.</i> 2012;125(1):e2-e220.</li>
            </ol>

        </div>
    </div>

    <!-- popup -->
    <div id="popup">
        <div class="content">
            <b>References:</b>
            <ol>
                <li>ELIQUIS&reg; (apixaban) Package Insert. Bristol-Myers Squibb Company, Princeton, NJ, and Pfizer Inc, New York, NY.</li>
                <li>Granger CB, Alexander JH, McMurray JJV, et al; for the ARISTOTLE Committees and Investigators. Apixaban versus warfarin in patients with atrial fibrillation. <i>N Engl J Med.</i> 2011;365(11):981-992.</li>
            </ol>
        </div>

        <div class="close"><a class="popup_close" href="javascript:void(0);"><img src="~/Content/images/main/popup_close.png" /></a></div>
    </div>

    <div id="popup_sidebar">
        <img class="popup_sidebar_content" src="~/Content/images/main/content_3_7.png" usemap="popup_sidebar" />
        <map name="popup_sidebar">
            <area class="popup_sidebar_link" data="3_7" shape="rect" coords="0,706,174,792" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="3_8" shape="rect" coords="0,793,174,878" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="3_9" shape="rect" coords="0,879,174,964" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="3_10" shape="rect" coords="0,965,174,1056" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="3_11" shape="rect" coords="0,1057,174,1136" href="javascript:void(0);" />
        </map>

        <img class="close" src="~/Content/images/main/popup_close.png" />
    </div>

    <!-- header -->
    <header>
        <img src="~/Content/images/main/header_3.png" />
    </header>

    <!-- sidebar -->
    <div id="sidebar">
        <img src="~/Content/images/main/sidebar_3.png" usemap="sidebar" />
        <map name="sidebar">
            <area class="sidebar_link" data="3_7" shape="rect" coords="0,50,188,135" href="javascript:void(0);" />
            <area class="sidebar_link" data="3_8" shape="rect" coords="0,136,188,222" href="javascript:void(0);" />
            <area class="sidebar_link" data="3_9" shape="rect" coords="0,223,188,307" href="javascript:void(0);" />
            <area class="sidebar_link" data="3_10" shape="rect" coords="0,308,188,392" href="javascript:void(0);" />
            <area class="sidebar_link" data="3_11" shape="rect" coords="0,393,188,477" href="javascript:void(0);" />
        </map>
    </div>
    <div id="sidebar_bg"><img src="~/Content/images/main/sidebar_bg.png" /></div>
    <div id="tap_here"><img src="~/Content/images/main/tap_here.png" /></div>

    <!-- content -->
    <div id="content_3">
        <div id="landing">
            <img class="subcontent" src="~/Content/images/main/content_3_1.png" usemap="landing" />
            <map name="landing">
                <area class="landing_link" data="3_2" shape="rect" coords="159,186,327,711" href="javascript:void(0);" />
                <area class="landing_link" data="3_3" shape="rect" coords="328,186,483,711" href="javascript:void(0);" />
                <area class="landing_link" data="3_4" shape="rect" coords="484,186,627,711" href="javascript:void(0);" />
                <area class="landing_link" data="3_5" shape="rect" coords="628,186,798,711" href="javascript:void(0);" />
                <area class="landing_link" data="3_6" shape="rect" coords="799,186,1060,711" href="javascript:void(0);" />
            </map>
        </div>
        
        <div id="sub">
            <img class="subcontent" src="~/Content/images/main/content_3_2.png" usemap="sub" />
            <map name="sub">
                <area class="sub_link" data="3_2" shape="rect" coords="97,699,276,783" href="javascript:void(0);" />
                <area class="sub_link" data="3_3" shape="rect" coords="277,699,468,783" href="javascript:void(0);" />
                <area class="sub_link" data="3_4" shape="rect" coords="469,699,654,783" href="javascript:void(0);" />
                <area class="sub_link" data="3_5" shape="rect" coords="655,699,849,783" href="javascript:void(0);" />
                <area class="sub_link" data="3_6" shape="rect" coords="850,699,1050,783" href="javascript:void(0);" />
            </map>
        </div>
    </div>

    <!-- footer -->
    <footer class="type_2">
        <div id="isi">
            <p><b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b></p>

            <p>
                <b>WARNINGS AND PRECAUTIONS</b><br />
                <span><b>Bleeding Risk:</b></span>
                <ul>
                    <li><img src="~/Content/images/main/bullet_purple.png" />ELIQUIS increases the risk of bleeding and can cause serious, potentially fatal bleeding. Concomitant use of drugs affecting hemostasis increases the risk of bleeding including aspirin and other anti-platelet agents, other anticoagulants, heparin, thrombolytic agents, SSRIs, SNRIs, and NSAIDs. Patients should be made aware of signs or symptoms of blood loss and instructed to immediately report to an emergency room. Discontinue ELIQUIS in patients with active pathological hemorrhage.</li>
                    <li><img src="~/Content/images/main/bullet_purple.png" />There is no established way to reverse the anticoagulant effect of apixaban, which can be expected to persist for about 24 hours after the last dose (i.e., about two half-lives). A specific antidote for ELIQUIS is not available. Because of high plasma protein binding, apixaban is not expected to be dialyzable. Protamine sulfate and vitamin K would not be expected to affect the anticoagulant activity of apixaban. There is no experience with antifibrinolytic agents (tranexamic acid, aminocaproic acid) in individuals receiving apixaban. There is neither scientific rationale for reversal nor experience with systemic hemostatics (desmopressin and aprotinin) in individuals receiving apixaban.</li>
                    <li><img src="~/Content/images/main/bullet_purple.png" />Use of procoagulant reversal agents such as prothrombin complex concentrate, activated prothrombin complex concentrate, or recombinant factor VIIa may be considered but has not been evaluated in clinical studies. Activated charcoal reduces absorption of apixaban thereby lowering apixaban plasma concentrations.</li>
                </ul>
            </p>

            <p>
                <span>
                    Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                    <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                </span>
            </p>
        </div>

        <div id="nav">
                <a href="panels-1"><img src="~/Content/images/main/nav_1.png" /></a>
                <a href="panels-2"><img src="~/Content/images/main/nav_2.png" /></a>
                <a href="panels-3"><img src="~/Content/images/main/nav_3_on.png" /></a>
                <a href="panels-4"><img src="~/Content/images/main/nav_4.png" /></a>
            </div>

            <div style="clear:both;"></div>

            <div id="legal">
                <img src="~/Content/images/main/footer_logo_black.png" />
                ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
            </div>
    </footer>
</div>

@section scripts {
    <script type="text/javascript">
        last = '/Content/images/main/content_3_1.png';
    </script>
}