﻿@{
    ViewBag.Title = "Panel-1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="link" class="timer">
    <!-- timeout -->
    <div class="timeout"><a id="cancel_timeout" href="javascript:void(0);"><img src="~/Content/images/main/timeout.png" /></a></div>

    <!-- polling -->
    <div class="polling">
        <img id="polling_bg" src="~/Content/images/main/polling_background.png" usemap="close" />

        <!-- chart -->
        <div id="donutchart"></div>

        <map name="close">
            <area class="close_polling" shape="rect" coords="765,1650,1040,1720" href="javascript:void(0);" />
            <area class="response_a" shape="rect" coords="80,462,430,611" href="javascript:void(0);" />
            <area class="response_b" shape="rect" coords="625,462,975,611" href="javascript:void(0);" />
            <area class="response_c" shape="rect" coords="80,850,430,1022," href="javascript:void(0);" />
            <area class="response_d" shape="rect" coords="625,850,975,1022" href="javascript:void(0);" />
        </map>

        <!-- question -->
        <div class="polling_question" data="2">Nonvalvular atrial fibrillation (NVAF) patients are <br>at a <u style="font-weight: bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> greater risk of stroke compared to those without NVAF.</div>

        <!-- response -->
        <div class="response_text response_a polling_response_a">2x</div>
        <div class="response_text response_b polling_response_b">10x</div>
        <div class="response_text response_c polling_response_c">5x</div>
        <div class="response_text response_d polling_response_d">8x</div>

        <!-- result -->
        <div class="result_text result_a">XX%</div>
        <div class="result_text result_b">XX%</div>
        <div class="result_text result_c">XX%</div>
        <div class="result_text result_d">XX%</div>

        <div class="message">
            The correct answer is <b>c: 5x</b><sup>1,2</sup>
        </div>

        <div class="reference">
            <b>References:</b>
            <ol>
                <li>Wolf PA, Abbott RD, Kannel WB. Atrial fibrillation as an independent risk factor for stroke: the Framingham Study. <i>Stroke.</i> 1991;22(8):983-988.</li>
                <li>Roger VL, Go AS, Lloyd-Jones DM, et al. Heart disease and stroke statistics–2012 update: a report from the American Heart Association. <i>Circulation.</i> 2012;125(1):e2-e220.</li>
            </ol>

        </div>
    </div>

    <!-- popup -->
    <div id="popup">
        <div class="content">
            <b>References:</b>
            <ol>
                <li>ELIQUIS&reg; (apixaban) Package Insert. Bristol-Myers Squibb Company, Princeton, NJ, and Pfizer Inc, New York, NY.</li>
                <li>Granger CB, Alexander JH, McMurray JJV, et al; for the ARISTOTLE Committees and Investigators. Apixaban versus warfarin in patients with atrial fibrillation. <i>N Engl J Med.</i> 2011;365(11):981-992.</li>
            </ol>
        </div>

        <div class="close"><a class="popup_close" href="javascript:void(0);"><img src="~/Content/images/main/popup_close.png" /></a></div>
    </div>

    <div id="popup_ref">
        <img class="popup_ref_content" src="~/Content/images/main/content_2_2_ref.png" />
        <img class="close" src="~/Content/images/main/popup_close.png" />
    </div>

    <div id="popup_sidebar">
        <img class="popup_sidebar_content" src="~/Content/images/main/content_2_2_ref.png" usemap="popup_sidebar" />
        <map name="popup_sidebar">
            <area class="popup_sidebar_link" data="2_5" shape="rect" coords="0,706,174,792" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="2_6" shape="rect" coords="0,793,174,878" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="2_7" shape="rect" coords="0,879,174,964" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="2_8" shape="rect" coords="0,965,174,1056" href="javascript:void(0);" />
            <area class="popup_sidebar_link" data="2_9" shape="rect" coords="0,1057,174,1136" href="javascript:void(0);" />
        </map>

        <img class="close" src="~/Content/images/main/popup_close.png" />
    </div>

    <!-- header -->
    <header>
        <img src="~/Content/images/main/header_2.png" />
    </header>

    <!-- sidebar -->
    <div id="sidebar">
        <img src="~/Content/images/main/sidebar_2.png" usemap="sidebar" />
        <map name="sidebar">
            <area class="sidebar_link" data="2_5" shape="rect" coords="0,50,188,135" href="javascript:void(0);" />
            <area class="sidebar_link" data="2_6" shape="rect" coords="0,136,188,222" href="javascript:void(0);" />
            <area class="sidebar_link" data="2_7" shape="rect" coords="0,223,188,307" href="javascript:void(0);" />
            <area class="sidebar_link" data="2_8" shape="rect" coords="0,308,188,392" href="javascript:void(0);" />
            <area class="sidebar_link" data="2_9" shape="rect" coords="0,393,188,477" href="javascript:void(0);" />
        </map>
    </div>
    <div id="sidebar_bg"><img src="~/Content/images/main/sidebar_bg.png" /></div>
    <div id="tap_here"><img src="~/Content/images/main/tap_here.png" /></div>

    <!-- content -->
    <div id="content_2">
        <div id="landing">
            <img class="subcontent" src="~/Content/images/main/content_2_1.png" usemap="landing" />
            <map name="landing">
                <area class="landing_link" data="2_2" shape="rect" coords="123,90,408,597" href="javascript:void(0);" />
                <area class="landing_link" data="2_3" shape="rect" coords="409,90,711,597" href="javascript:void(0);" />
                <area class="landing_link" data="2_4" shape="rect" coords="712,90,999,597" href="javascript:void(0);" />
            </map>
        </div>
        
        <div id="sub">
            <img class="subcontent" src="~/Content/images/main/content_2_2.png" usemap="sub" />
            <map name="sub">
                <area class="sub_link" data="2_2" shape="rect" coords="753,351,1080,450" href="javascript:void(0);" />
                <area class="sub_link" data="2_3" shape="rect" coords="753,451,1080,537" href="javascript:void(0);" />
                <area class="sub_link" data="2_4" shape="rect" coords="753,538,1080,624" href="javascript:void(0);" />
                <area class="ref_link" data="ref" shape="rect" coords="753,708,1080,789" href="javascript:void(0);" />
            </map>
        </div>
    </div>

    <!-- footer -->
    <footer class="type_2">
        <div id="isi">
            <div id="isi_1" class="hide">
                <p><b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b></p>
                <p>
                    <span><b>WARNINGS AND PRECAUTIONS</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" /><span>Prosthetic Heart Valves:</span> The safety and efficacy of ELIQUIS has not been studied in patients with prosthetic heart valves and is not recommended in these patients.</li>
                    </ul>
                </p>

                <p>
                    <span><b>ADVERSE REACTIONS</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" />The most common and most serious adverse reactions reported with ELIQUIS were related to bleeding.</li>
                    </ul>
                </p>

                <p>
                    <span><b>DISCONTINUATIONS FOR SURGERY AND OTHER INTERVENTIONS</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" />ELIQUIS should be discontinued at least 48 hours prior to elective surgery or invasive procedures with a moderate or high risk of unacceptable or clinically significant bleeding. ELIQUIS should be discontinued at least 24 hours prior to elective surgery or invasive procedures with a low risk of bleeding or where the bleeding would be noncritical in location and easily controlled.</li>
                    </ul>
                </p>

                <p>
                    <span>
                        Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                        <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                    </span>
                </p>
            </div>

            <div id="isi_2">
                <p><b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b></p>

                <p>
                    <b>WARNINGS AND PRECAUTIONS</b><br />
                    <span><b>Bleeding Risk:</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" />ELIQUIS increases the risk of bleeding and can cause serious, potentially fatal bleeding. Concomitant use of drugs affecting hemostasis increases the risk of bleeding including aspirin and other anti-platelet agents, other anticoagulants, heparin, thrombolytic agents, SSRIs, SNRIs, and NSAIDs. Patients should be made aware of signs or symptoms of blood loss and instructed to immediately report to an emergency room. Discontinue ELIQUIS in patients with active pathological hemorrhage.</li>
                        <li><img src="~/Content/images/main/bullet_purple.png" />There is no established way to reverse the anticoagulant effect of apixaban, which can be expected to persist for about 24 hours after the last dose (i.e., about two half-lives). A specific antidote for ELIQUIS is not available. Because of high plasma protein binding, apixaban is not expected to be dialyzable. Protamine sulfate and vitamin K would not be expected to affect the anticoagulant activity of apixaban. There is no experience with antifibrinolytic agents (tranexamic acid, aminocaproic acid) in individuals receiving apixaban. There is neither scientific rationale for reversal nor experience with systemic hemostatics (desmopressin and aprotinin) in individuals receiving apixaban.</li>
                        <li><img src="~/Content/images/main/bullet_purple.png" />Use of procoagulant reversal agents such as prothrombin complex concentrate, activated prothrombin complex concentrate, or recombinant factor VIIa may be considered but has not been evaluated in clinical studies. Activated charcoal reduces absorption of apixaban thereby lowering apixaban plasma concentrations.</li>
                    </ul>
                </p>

                <p>
                    <span>
                        Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                        <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                    </span>
                </p>
            </div>

            <div id="isi_3" class="hide">
                   <p><b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b></p>

                <p>
                    <span><b>DRUG INTERACTIONS</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" /><span>Strong Dual Inhibitors of CYP3A4 and P-gp:</span> Inhibitors of CYP3A4 and P-gp increase exposure to apixaban and increase the risk of bleeding. Decrease the dose of ELIQUIS to 2.5 mg twice daily when coadministered with drugs that are strong dual inhibitors of CYP3A4 and P-gp (e.g., ketoconazole, itraconazole, ritonavir, or clarithromycin). In patients already taking ELIQUIS at a dose of 2.5 mg twice daily, avoid coadministration with strong dual inhibitors of CYP3A4 and P-gp.</li>
                        <li><img src="~/Content/images/main/bullet_purple.png" /><span>Strong Dual Inducers of CYP3A4 and P-gp:</span> Inducers of CYP3A4 and P-gp decrease exposure to apixaban and increase the risk of stroke. Avoid concomitant use of ELIQUIS with strong dual inducers of CYP3A4 and P-gp (e.g., rifampin, carbamazepine, phenytoin, St. John’s wort) because such drugs will decrease exposure to apixaban.</li>
                        <li><img src="~/Content/images/main/bullet_purple.png" /><span>Anticoagulants and Antiplatelet Agents:</span> Coadministration of antiplatelet agents, fibrinolytics, heparin, aspirin, and chronic NSAID use increases the risk of bleeding. APPRAISE-2, a placebo-controlled clinical trial of apixaban in high-risk post-acute coronary syndrome patients treated with aspirin or the combination of aspirin and clopidogrel, was terminated early due to a higher rate of bleeding with apixaban compared to placebo.</li>
                    </ul>
                </p>

                <p>
                    <span><b>PREGNANCY CATEGORY B</b></span>
                    <ul>
                        <li><img src="~/Content/images/main/bullet_purple.png" />There are no adequate and well-controlled studies of ELIQUIS in pregnant women. Treatment is likely to increase the risk of hemorrhage during pregnancy and delivery. ELIQUIS should be used during pregnancy only if the potential benefit outweighs the potential risk to the mother and fetus.</li>
                    </ul>
                </p>

                <p>
                    <span>
                        Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                        <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                    </span>
                </p>
            </div>
        </div>

        <div id="nav">
            <a href="panels-1"><img src="~/Content/images/main/nav_1.png" /></a>
            <a href="panels-2"><img src="~/Content/images/main/nav_2_on.png" /></a>
            <a href="panels-3"><img src="~/Content/images/main/nav_3.png" /></a>
            <a href="panels-4"><img src="~/Content/images/main/nav_4.png" /></a>
        </div>

        <div style="clear:both;"></div>

        <div id="legal">
            <img src="~/Content/images/main/footer_logo_black.png" />
            ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
        </div>
    </footer>
</div>

@section scripts {
    <script type="text/javascript">
        last = '/Content/images/main/content_2_1.png';
    </script>
}