﻿@{
    ViewBag.Title = "Panel-1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="link" class="timer">
    <!-- timeout -->
    <div class="timeout"><a id="cancel_timeout" href="javascript:void(0);"><img src="~/Content/images/main/timeout.png" /></a></div>

    <!-- polling -->
    <div class="polling">
        <img id="polling_bg" src="~/Content/images/main/polling_background.png" usemap="close" />

        <!-- chart -->
        <div id="donutchart"></div>

        <map name="close">
            <area class="close_polling" shape="rect" coords="765,1650,1040,1720" href="javascript:void(0);" />
            <area class="response_a" shape="rect" coords="80,462,430,611" href="javascript:void(0);" />
            <area class="response_b" shape="rect" coords="625,462,975,611" href="javascript:void(0);" />
            <area class="response_c" shape="rect" coords="80,850,430,1022," href="javascript:void(0);" />
            <area class="response_d" shape="rect" coords="625,850,975,1022" href="javascript:void(0);" />
        </map>

        <!-- question -->
        <div class="polling_question" data="1">Approximately how many people in the US are affected by nonvalvular atrial fibrillation?</div>

        <!-- response -->
        <div class="response_text response_a polling_response_a">2.8 million</div>
        <div class="response_text response_b polling_response_b">5.8 million</div>
        <div class="response_text response_c polling_response_c">500,000</div>
        <div class="response_text response_d polling_response_d">1 million</div>

        <!-- result -->
        <div class="result_text result_a">XX%</div>
        <div class="result_text result_b">XX%</div>
        <div class="result_text result_c">XX%</div>
        <div class="result_text result_d">XX%</div>

        <div class="message">
            The correct answer is <b>b: 5.8 million</b><sup>1</sup>
        </div>

        <div class="reference">
            <b>Reference:</b>
            <ol>
                <li>Colilla S, Crow A, Petkun W, et al. Estimates of current and future incidence and prevalence of atrial fibrillation in the U.S. adult population. <i>Am J Cardiol</i>. 2013;112(8):1142-1147.</li>
            </ol>

        </div>
    </div>

    <!-- popup -->
    <div id="popup">
        <div class="content">
            <b>References:</b>
            <ol>
                <li>ELIQUIS<sup>&reg;</sup> (apixaban) Package Insert. Bristol-Myers Squibb Company, Princeton, NJ, and Pfizer Inc, New York, NY.</li>
                <li>Granger CB, Alexander JH, McMurray JJV, et al; for the ARISTOTLE Committees and Investigators. Apixaban versus warfarin in patients with atrial fibrillation. <i>N Engl J Med.</i> 2011;365(11):981-992.</li>
            </ol>
        </div>

        <div class="close"><a class="popup_close" href="javascript:void(0);"><img src="~/Content/images/main/popup_close.png" /></a></div>
    </div>

    <!-- header -->
    <header>
        <img src="~/Content/images/main/header_1.png" />
    </header>

    <!-- sidenav -->
    <div id="sidenav">
        <div><a class="sublink_swap" data="1_1" href="javascript:void(0);"><img class="sublink" data="link_1_1" src="~/Content/images/main/link_1_1_on.png" /></a></div>
        <div><a class="sublink_swap" data="1_2" href="javascript:void(0);"><img class="sublink" data="link_1_2" src="~/Content/images/main/link_1_2.png" /></a></div>
        <div><img src="~/Content/images/main/link_1_3.png" /></div>
        <div><a class="popup_open" href="javascript:void(0);"><img src="~/Content/images/main/link_1_4.png" /></a></div>
    </div>

    <!-- content -->
    <div id="content" class="page_1">
        <img id="content_1_1" class="subcontent" src="~/Content/images/main/content_1_1.png" />
        <img id="content_1_2" class="subcontent hide" src="~/Content/images/main/content_1_2.png" usemap="toggle" />
        <map name="toggle">
            <area id="1_2_toggle" shape="rect" coords="777,655,850,759" href="javascript:void(0);" />
        </map>
    </div>

    <!-- footer -->
    <footer class="type_2">
        <div id="isi">
            <p>
                <b class="background">INDICATION</b><br />
                ELIQUIS (apixaban) is indicated to reduce the risk of stroke and systemic embolism in patients with nonvalvular atrial fibrillation.
            </p>

            <p><b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b></p>

            <p class="border">
                <b>WARNING: DISCONTINUING ELIQUIS IN PATIENTS WITHOUT ADEQUATE CONTINUOUS ANTICOAGULATION INCREASES RISK OF STROKE.</b><br />
                Discontinuing ELIQUIS places patients at an increased risk of thrombotic events. An increased rate of stroke was observed following discontinuation of ELIQUIS in clinical trials in patients with nonvalvular atrial fibrillation. If anticoagulation with ELIQUIS must be discontinued for a reason other than pathological bleeding, coverage with another anticoagulant should be strongly considered.<br />
            </p>

            <p>
                <b>CONTRAINDICATIONS</b>
                <ul>
                    <li><img src="~/Content/images/main/bullet_purple.png" />Active pathological bleeding</li>
                    <li><img src="~/Content/images/main/bullet_purple.png" />Severe hypersensitivity reaction to ELIQUIS (apixaban) (i.e., anaphylactic reactions)</li>
                </ul>
            </p>

            <p>
                <b>WARNINGS AND PRECAUTIONS</b>
                <ul>
                    <li><img src="~/Content/images/main/bullet_purple.png" /><span>Increased Risk of Stroke with Discontinuation of ELIQUIS:</span> Discontinuing ELIQUIS in the absence of adequate alternative anticoagulation increases the risk of thrombotic events. An increased rate of stroke was observed during the transition from ELIQUIS to warfarin in clinical trials in patients with nonvalvular atrial fibrillation. If ELIQUIS must be discontinued for a reason other than pathological bleeding, consider coverage with another anticoagulant.</li>
                </ul>
            </p>

            <p>
                <span>
                    Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                    <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                </span>
            </p>
        </div>
            
        <div id="nav">
            <a href="panels-1"><img src="~/Content/images/main/nav_1_on.png" /></a>
            <a href="panels-2"><img src="~/Content/images/main/nav_2.png" /></a>
            <a href="panels-3"><img src="~/Content/images/main/nav_3.png" /></a>
            <a href="panels-4"><img src="~/Content/images/main/nav_4.png" /></a>
        </div>

        <div style="clear:both;"></div>

        <div id="legal">
            <img src="~/Content/images/main/footer_logo_black.png" />
            ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
        </div>
    </footer>
</div>

@section scripts {
    <script type="text/javascript">
        last = '/Content/images/main/content_1_1.png';
    </script>
}