﻿@{
    ViewBag.Title = "Panel-1";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="link" class="timer">
    <!-- timeout -->
    <div class="timeout"><a id="cancel_timeout" href="javascript:void(0);"><img src="~/Content/images/main/timeout.png" /></a></div>

    <!-- polling -->
    <div class="polling">
        <img id="polling_bg" src="~/Content/images/main/polling_background.png" usemap="close" />

        <!-- chart -->
        <div id="donutchart"></div>

        <map name="close">
            <area class="close_polling" shape="rect" coords="765,1650,1040,1720" href="javascript:void(0);" />
            <area class="response_a" shape="rect" coords="80,462,430,611" href="javascript:void(0);" />
            <area class="response_b" shape="rect" coords="625,462,975,611" href="javascript:void(0);" />
            <area class="response_c" shape="rect" coords="80,850,430,1022," href="javascript:void(0);" />
            <area class="response_d" shape="rect" coords="625,850,975,1022" href="javascript:void(0);" />
        </map>

        <!-- question -->
        <div class="polling_question" data="4">Which of these is not a component of the CHADS<sub>2</sub> Score, a scale from 0 to 6 used to estimate risk of stroke, with higher scores predicting greater risk?</div>

        <!-- response -->
        <div class="response_text response_a polling_response_a">Congestive<br />heart failure</div>
        <div class="response_text response_b polling_response_b">Hypertension</div>
        <div class="response_text response_c polling_response_c">Prior stroke</div>
        <div class="response_text response_d polling_response_d">Weight</div>

        <!-- result -->
        <div class="result_text result_a">XX%</div>
        <div class="result_text result_b">XX%</div>
        <div class="result_text result_c">XX%</div>
        <div class="result_text result_d">XX%</div>

        <div class="message">
            The correct answer is <b>d: Weight</b><sup>1</sup><br />The components of CHADS<sub>2</sub> are congestive heart failure, hypertension, age ≥75, diabetes mellitus, stroke or TIA.
        </div>

        <div class="reference">
            <b>Reference:</b>
            <ol>
                <li>Gage BF, Waterman AD, Shannon W, et al. Validation of clinical classification schemes for predicting stroke: results from the National Registry of Atrial Fibrillation. <i>JAMA</i>. 2001;285(22):2864-2870.</li>
            </ol>

        </div>
    </div>

    <!-- popup -->
    <div id="popup_top"></div>
    <div id="popup">
        <div class="content">
            <img class="popup_content" src="~/Content/images/main/content_4_4.png" />
        </div>

        <div class="close"><a class="popup_close" href="javascript:void(0);"><img src="~/Content/images/main/popup_close.png" /></a></div>
    </div>

    <!-- header -->
    <header>
        <img src="~/Content/images/main/header_4.png" />
    </header>

    <!-- sidenav -->
    <div id="sidenav">
        side nav
    </div>

    <!-- content -->
    <div id="content_4">
        <img class="subcontent" src="~/Content/images/main/content_4_1.png" usemap="subnav" />
        <img class="subcontent_popup_close" src="~/Content/images/main/popup_close.png" />

        <map name="subnav">
            <area class="subnav_4" data="4_1" shape="rect" coords="15,168,275,274" href="javascript:void(0);" />
            <area class="subnav_4" data="4_2"  shape="rect" coords="15,275,275,384" href="javascript:void(0);" />
            <area class="subnav_4" data="4_3"  shape="rect" coords="15,285,275,490" href="javascript:void(0);" />
            <area class="subnav_4_pop" data="4_4" shape="rect" coords="15,570,275,639" href="javascript:void(0);" />
            <area class="subnav_4_pop" data="4_5" shape="rect" coords="15,630,275,702" href="javascript:void(0);" />
            <area class="subnav_4_pop" data="4_6" shape="rect" coords="15,703,275,768" href="javascript:void(0);" />
            <area class="subnav_4_pop" data="4_7" shape="rect" coords="15,769,275,836" href="javascript:void(0);" />
            <area class="subnav_4_pop" data="4_8" shape="rect" coords="15,837,275,902" href="javascript:void(0);" />
        </map>
    </div>

    <!-- footer -->
    <footer class="type_2">
        <div id="isi" class="page_4">
            <p>
                <b class="background">SELECTED IMPORTANT SAFETY INFORMATION</b>
            </p>

            <p>
                <b>DRUG INTERACTIONS</b>
                <ul>
                    <li><img src="~/Content/images/main/bullet_purple.png" /><span>Strong Dual Inhibitors of CYP3A4 and P-gp:</span> Inhibitors of CYP3A4 and P-gp increase exposure to apixaban and increase the risk of bleeding. Decrease the dose of ELIQUIS to 2.5 mg twice daily when coadministered with drugs that are strong dual inhibitors of CYP3A4 and P-gp (e.g., ketoconazole, itraconazole, ritonavir, or clarithromycin). In patients already taking ELIQUIS at a dose of 2.5 mg twice daily, avoid coadministration with strong dual inhibitors of CYP3A4 and P-gp.</li>
                    <li><img src="~/Content/images/main/bullet_purple.png" /><span>Strong Dual Inducers of CYP3A4 and P-gp:</span> Inducers of CYP3A4 and P-gp decrease exposure to apixaban and increase the risk of stroke. Avoid concomitant use of ELIQUIS with strong dual inducers of CYP3A4 and P-gp (e.g., rifampin, carbamazepine, phenytoin, St. John’s wort) because such drugs will decrease exposure to apixaban.</li>
                    <li><img src="~/Content/images/main/bullet_purple.png" /><span>Anticoagulants and Antiplatelet Agents:</span> Coadministration of antiplatelet agents, fibrinolytics, heparin, aspirin, and chronic NSAID use increases the risk of bleeding. APPRAISE-2, a placebo-controlled clinical trial of apixaban in high-risk post-acute coronary syndrome patients treated with aspirin or the combination of aspirin and clopidogrel, was terminated early due to a higher rate of bleeding with apixaban compared to placebo.</li>
                </ul>
            </p>

            <p>
                <b>PREGNANCY CATEGORY B</b>
                <ul>
                    <li><img src="~/Content/images/main/bullet_purple.png" />There are no adequate and well-controlled studies of ELIQUIS in pregnant women. Treatment is likely to increase the risk of hemorrhage during pregnancy and delivery. ELIQUIS should be used during pregnancy only if the potential benefit outweighs the potential risk to the mother and fetus.</li>
                </ul>
            </p>

            <p>
                <span>
                    Please see additional Important Safety Information on the adjacent panel and throughout this presentation.
                    <br />Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.
                </span>
            </p>
        </div>

        <div id="nav">
                <a href="panels-1"><img src="~/Content/images/main/nav_1.png" /></a>
                <a href="panels-2"><img src="~/Content/images/main/nav_2.png" /></a>
                <a href="panels-3"><img src="~/Content/images/main/nav_3.png" /></a>
                <a href="panels-4"><img src="~/Content/images/main/nav_4_on.png" /></a>
            </div>

            <div style="clear:both;"></div>

            <div id="legal">
                <img src="~/Content/images/main/footer_logo_black.png" />
                ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
            </div>
    </footer>
</div>

@section scripts {
    <script type="text/javascript">
        last = '/Content/images/main/content_4_1.png';
    </script>
}