﻿@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="panel" class="timer">
    <!-- timeout -->
    <div class="timeout"><a id="cancel_timeout" href="javascript:void(0);"><img src="~/Content/images/main/timeout.png" /></a></div>

    <div id="choice">
        <h3>Tap to choose:</h3>

        <table>
            <tr>
                <td><a href="~/main/panels-1"><img src="~/Content/images/main/link_1.png" /></a></td>
                <td><a href="~/main/panels-2"><img src="~/Content/images/main/link_2.png" /></a></td>
            </tr>
            <tr>
                <td><a href="~/main/panels-3"><img src="~/Content/images/main/link_3.png" /></a></td>
                <td><a href="~/main/panels-4"><img src="~/Content/images/main/link_4.png" /></a></td>
            </tr>
        </table>

        <div id="isi">
            <h3>INDICATION</h3>

            <p>ELIQUIS (apixaban) is indicated to reduce the risk of stroke and systemic embolism in patients with nonvalvular atrial fibrillation.</p>

            <h3 style="padding-bottom: 11px;">SELECTED IMPORTANT SAFETY INFORMATION</h3>

            <p class="border">
                <b>WARNING: DISCONTINUING ELIQUIS IN PATIENTS WITHOUT ADEQUATE CONTINUOUS ANTICOAGULATION INCREASES RISK OF STROKE.</b><br />
                Discontinuing ELIQUIS places patients at an increased risk of thrombotic events. An increased rate of stroke was observed following discontinuation of ELIQUIS in clinical trials in patients with nonvalvular atrial fibrillation. If anticoagulation with ELIQUIS must be discontinued for a reason other than pathological bleeding, coverage with another anticoagulant should be strongly considered.
            </p>
            <p style="padding-bottom: 5px;">
            	<b>CONTRAINDICATIONS</b>
            </p>
            <p>
                <img src="~/Content/images/main/bullet_orange.png" /> Active pathological bleeding<br />
                <img src="~/Content/images/main/bullet_orange.png" /> Severe hypersensitivity reaction to ELIQUIS (apixaban) (i.e., anaphylactic reactions)
            </p>

            <p class="contraindications">
                <br />Please see additional Important Safety Information available on the adjacent panel and throughout this presentation.<br />
                Please see Full Prescribing Information, including <b>Boxed WARNING</b>, available at this booth.</p>
        </div>
    </div>

    <!-- footer -->
    <footer class="type_1">
        <img src="~/Content/images/main/footer_logo_white.png" />
         ELIQUIS<sup>&reg;</sup> and the ELIQUIS logo are trademarks of Bristol-Myers Squibb Company. &copy; 2013 Bristol-Myers Squibb Company. All rights reserved. 432US13BR02537-06-01&nbsp;&nbsp;&nbsp;10/13
    </footer>
</div>