/* line 4, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */

.ng-cloak, .x-ng-cloak, .ng-hide{
  display: none !important;
}
.advanced-container {
  background: url("/contents/imgs/bg.gif");
  background-repeat: repeat; position:relative; margin:-16px 0px 0px; min-height: 586px;}
  /* line 7, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
  .advanced-container h1, .advanced-container h2, .advanced-container h3, .advanced-container h4, .advanced-container h5, .advanced-container h6 {
    font-family: "proxima-nova-extra-condensed"; }
  /* line 10, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
  .advanced-container .advance-header {
    clear: right;
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 670px;
    z-index: 40;
	}
    /* line 15, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .advance-header h1 {
	color: #B2B2B2;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 11px;
    opacity: 0.95;
	  }
    /* line 23, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .advance-header .advance-header-text {
      }
    /* line 29, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .advance-header .course-list-text {
      width: 150px; }
    /* line 33, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .advance-header .view-courselist-link {
		color: #2A4692;
		font-family: "Arial";
		font-size: 11px;
		font-weight: normal;
		height: 50px;
		letter-spacing: 0;
		margin: 11px 21px 0 0;
		opacity: 0.95;
		text-decoration: none;
		text-transform: capitalize !important;
		vertical-align: baseline;
 
	  
	  }
  /* line 52, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
  .advanced-container .inner-container {
    padding: 0 26px 0 26px; }
    /* line 55, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .inner-container .advance-content {
      width: 100%;
      height: 586px;
      position: relative; }
    /* line 60, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
	.advanced-container .inner-container .advance-path {
    position: absolute;
    right: -5px !important;
    top: 51px;
	}
    /* line 64, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .inner-container .woman {
      float: left; margin:-21px 0 0; }
    /* line 68, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
    .advanced-container .inner-container .path-filter {
      height: 55px;
      width: 744px;
      border: 1px solid #3b549a;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding:10px 10px 10px 20px;
      margin: 0 0 20px 0;
      background:#fff;
      background-repeat: repeat;
      z-index: 300; }
      /* line 80, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-filter p {
        margin: 0; }
      /* line 84, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-filter .path-filter-header {
        float: left;
        font-family: "proxima-nova-extra-condensed";
        font-size: 18px;
        letter-spacing: -1px;
        font-weight: bold; 
        padding-top: 3px; width:215px;
        margin-left:-15px;
      }
      /* line 92, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-filter .dropdown-wrap {
        padding-left: 35px; }
        /* line 94, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-filter .dropdown-wrap select {
          width: 115px; }
    /* line 103, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
		.advanced-container .inner-container .path-wrap {
		height: 520px;
		left: 178px;
		position: absolute;
		top: 96px;
		width: 740px;
		}
      /* line 111, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-wrap .path-layer {
        opacity: 80%;
        position: inherit;
        z-index: 0; }
      /* line 117, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-wrap .text-layer {
        z-index: 30; }
        /* line 120, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .text-layer #business-issues-title {
          position: relative;
          top: -200px;
          left: 35px; }
        /* line 126, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .text-layer #professional-development-title {
          position: relative;
          top: -92px;
          left: 35px; }
        /* line 132, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .text-layer #financial-literacy-title {
          position: relative;
          top: 19px;
          left: 35px; }
      /* line 139, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
      .advanced-container .inner-container .path-wrap .icon-layer {
        z-index: 40 !important; }
        /* line 141, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer .on {
          opacity: 1 !important; }
        /* line 145, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer p {
          font-weight: bold;
          font-size: 12px;
          max-width: 111px;
        }
        /* line 150, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer .iconwrap {
          display: inline-block;
          max-width: 150px;
          /*padding: 15px;*/
          text-align: center;
          opacity: .4; }
        /* line 161, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i1-1 {
          position: relative;
          top: 60px;
          left: 26px; }
        /* line 167, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i1-2 {
          position: relative;
          top: 60px;
          left: 45px; }
        /* line 173, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i1-3 {
          position: relative;
          top: 60px;
          left: 67px; }
        /* line 179, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i1-4 {
          position: relative;
          top: 60px;
          left: 87px; }
        /* line 185, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i1-5 {
          position: relative;
          top: 60px;
          left: 108px; }
        /* line 193, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-1 {
          position: relative;
          top: 220px;
          left: -532px; }
        /* line 199, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-2 {
          position: relative;
          top: 106px;
          left: 157px; }
        /* line 205, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-3 {
          position: relative;
          top: 120px;
          left: 175px; }
        /* line 211, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-4 {
          position: relative;
          top: 107px;
          left: 200px; }
        /* line 217, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-5 {
          position: relative;
          top: 110px;
          left: 230px; }
        /* line 223, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i2-6 {
          position: relative;
          top: 110px;
          left: 246px; }
        /* line 229, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i3-1 {
          position: relative;
          top: 260px;
          left: -433px; }
        /* line 236, /Users/erose/Sites/vetvance/source/contents/css/advance.scss */
        .advanced-container .inner-container .path-wrap .icon-layer #i3-2 {
          position: relative;
          top: 276px;
          left: -410px; }
.stern-woman{
  position: absolute;
  left: 0px;
  top: 34px;
}

.advance-path{
  position: absolute;
}

.v-progress-bar {
    height: 6px;
    width: 70px;
    margin: auto;
    position: relative;
    background: white;
    border: 1px solid #ff6400;
    -webkit-border-top-right-radius: 20px;
        -webkit-border-bottom-right-radius: 20px;
               -moz-border-radius-topright: 20px;
            -moz-border-radius-bottomright: 20px;
                   border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            -webkit-border-top-left-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
             -moz-border-radius-bottomleft: 20px;
                    border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
    /*-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);*/
  
}

    .v-progress-bar > span {
         display: block;
         height: 100%;
         background-color: #ff6400;
           /*-webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
               -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
                   border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            -webkit-border-top-left-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
             -moz-border-radius-bottomleft: 20px;
                    border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
           
            /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2bc253), color-stop(1, #54f054));
            background-image: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
            background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
            background-image: -ms-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
            background-image: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
            -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);*/
            position: relative;
            overflow: hidden;
    }

x.orange > span {
    background-color: #ff6400;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6400), color-stop(1, #ff6400));
    background-image: -webkit-linear-gradient(top, #ff6400, #ff6400);
    background-image: -moz-linear-gradient(top, #ff6400, #ff6400);
    background-image: -ms-linear-gradient(top, #ff6400, #ff6400);
    background-image: -o-linear-gradient(top, #ff6400, #ff6400);
}

div.path-layer {z-index:0;}
div.icon-layer {z-index:1;}
.popover {
    border: 1px solid #161b8e;
    width:450px;
    height: auto;
    padding: 10px 0px 7px 10px;
    opacity: 1;
}

.popover.bi {
    border-color: #3f7dc8;
}

.popover.fb {
    border-color: #e03e52;
}

.popover.pd {
    border-color: #00b3d3;
}

.popover > 

/* line 65, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
.popover.right .arrow:after {
    border-right-color: #161b8e;    
}

.bi.popover.right .arrow:after {
    border-right-color: #3f7dc8;
}

.fb.popover.right .arrow:after {
    border-right-color: #e03e52;
}

.pd.popover.right .arrow:after {
    border-right-color: #00b3d3;
}

.bi.popover.left .arrow:after {
    border-left-color: #3f7dc8;
}

.fb.popover.left .arrow:after {
    border-left-color: #e03e52;
}

.pd.popover.left .arrow:after {
    border-left-color: #00b3d3;
}

.bi.popover.top .arrow:after {
    border-top-color: #3f7dc8;
}

.fb.popover.top .arrow:after {
    border-top-color: #e03e52;
}

.pd.popover.top .arrow:after {
    border-top-color: #00b3d3;
}

.bi.popover.bottom .arrow:after {
    border-bottom-color: #3f7dc8;
}

.fb.popover.bottom .arrow:after {
    border-right-color: #e03e52;
}

.pd.popover.bottom .arrow:after {
    border-right-color: #00b3d3;
}

.popover.left .arrow:after {
    border-left-color: #161b8e; 
}

.popover.top .arrow:after {
    border-top-color: #161b8e; 
}

.popover.bottom .arrow:after {
    border-bottom-color: #161b8e; 
}
/* line 75, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
 .popover-header {
    max-width: 310px;
 }
    /* line 79, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
 .popover-header .header-text {
    font-weight: bold;
    overflow: hidden; }

.header-text h4 {
    line-height: 1;
}
    /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
 .popover-header .header-text h4, .courselanding-container .modules-list .popover-header .header-text h5 {
        line-height: 1;
        margin: 0;
        padding: 0; }
/* line 92, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
 .popover-body {
    margin-top:0px;
    font-size:12px;
 }

.mod-completion {
    height: 24px;
    background: url("/contents/imgs/advancefilterbg.gif");
    background-repeat: repeat;
    padding-left: 10px;
    font-size:12px;
    margin-top: 5px;
    color: #5f5f5f !important;
}

.advancetocourse {
    margin-left: 0px;
    color: white;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    float: right;
}

.modcount {
 font-weight: bold;
}

    .advancetocourse.btnbi {
        background-color: #3f7dc8 !important;
    }

    .advancetocourse.btnpd {
        background-color: #00b3d3 !important;
    }

    .advancetocourse.btnfb {
        background-color: #e03e52 !important;
    }

.popover-content {
    padding: 9px 15px 9px 10px;
}

.clearfix-whiteBG {
background-color: #ffffff;
}

.loaderimg{
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}


/*-----override-----*/

.selectric .label {
    color: #939393 !important;
    display: block !important;
    font-size: 10px !important;
    height: 30px !important;
    line-height: 9px !important;
    margin: 0 !important;
    max-width: 135px !important;
    overflow: hidden !important;
    padding: 5px 0 0 6px !important;
    text-align: left !important;
    white-space: normal !important;
}

.advanced-container .inner-container .path-filter .dropdown-wrap {
    padding-left: 15px;
}

.on p.label {color:#3F7DC8!important;}