/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
.connect-browse-container {
  margin-top: 30px;
  padding: 0;
  float: left; }
  /* line 8, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
  .connect-browse-container .header {
    padding: 0 26px 0 26px; }
    /* line 10, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
    .connect-browse-container .header span {
      width: 65%;
      float: left; }
    /* line 14, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
    .connect-browse-container .header .btn-show-all {
      float: right;
      width: 140px;
      text-transform: uppercase;
      color: #161b8e;
      font-family: "proxima-nova-condensed";
      font-size: 14px;
      font-weight: bold;
      padding: 4px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #f9f9f9;
      -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
      -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
      box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; }
    /* line 36, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
    .connect-browse-container .header h2 {
      margin: 0 0 10px 0;
      color: #161b8e;
      font-family: "proxima-nova-condensed";
      font-size: 20px;
      font-weight: bold; }
    /* line 43, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
    .connect-browse-container .header p {
      color: #585858;
      font-family: "arial";
      font-size: 12px; }
  /* line 49, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
  .connect-browse-container .browse-members-container {
    float: left;
    width: 100%; }
    /* line 52, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
    .connect-browse-container .browse-members-container .member-row {
      float: left;
      width: 100%;
      margin-bottom: 10px; }
      /* line 56, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
      .connect-browse-container .browse-members-container .member-row h3 {
        padding: 0 26px 0 26px;
        text-transform: uppercase;
        color: #161b8e;
        font-family: "Arial";
        font-size: 13px;
        font-weight: bold; }
      /* line 65, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
      .connect-browse-container .browse-members-container .member-row .data-row {
        float: left;
        width: 100%;
        padding: 0 26px 0 26px;
        background: url("../imgs/bk-lines.png"); }
        /* line 71, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
        .connect-browse-container .browse-members-container .member-row .data-row .row-navigation {
          float: left;
          width: 24px;
          height: 100%;
          padding-top: 42px;
          cursor: pointer; }
          /* line 77, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
          .connect-browse-container .browse-members-container .member-row .data-row .row-navigation.prev {
            width: 24px;
            height: 30px; }
          /* line 81, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
          .connect-browse-container .browse-members-container .member-row .data-row .row-navigation.next {
            width: 24px;
            height: 30px; }
        /* line 86, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
        .connect-browse-container .browse-members-container .member-row .data-row .data-items {
          float: left;
          width: 865px;
          height: 120px;
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative; }
         
          /* line 94, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
          .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data {
            position: absolute;
            width: auto;
            margin-top: 25px;
            margin: 0;
            padding: 15px 0 10px 0;
            white-space: nowrap;
            max-width: 3000px;
          }

            /* line 102, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
            .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item {
              display: inline-block;
              width: 270px;
              height: 100px;
              margin: 0 15px 0 2px;
              float: left;
              display: inline-block;
              position: relative; }
              /* line 110, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
              .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item img.person {
                max-width: 88px;
                max-height: 88px;
                position: absolute;
                left: 0; }
              /* line 117, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
              .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item a.btnConnect img {
                width: 70px;
                height: 18px;
                position: absolute;
                right: 8px;
                bottom: 8px; }
              /* line 125, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
              .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item span {
                float: left;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 5px 5px 0px 46px;
                height: 80px;
                width: 230px;
                margin-top: 5px;
                margin-left: 50px;
                font-size: 12px;
                font-family: "arial"; }
                /* line 138, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
                .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item span strong {
                  margin: 0 0 0 0;
                  padding: 0 0 0 0;
                  font-weight: normal;
                  color: #161b8e; }
                /* line 144, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connectbrowse.scss */
                .connect-browse-container .browse-members-container .member-row .data-row .data-items .results-data .data-item span p {
                  margin: 0 0 0 0;
                  padding: 0 0 0 0;
                  color: #585858;
                  font-size: 11px; }
