/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
.connect-container {
  margin-top: 30px;
  padding: 0 26px 0 26px;
  float: left; }
  /* line 9, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
  .connect-container .header span {
    width: 65%;
    float: left; }
    /* line 12, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
    .connect-container .header span.showme {
      float: right;
      width: 260px;
      background: url("../imgs/connect/bk-showme.png") no-repeat;
      padding: 10px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
      /* line 21, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .header span.showme p {
        color: #161b8e;
        font-family: "proxima-nova-condensed";
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        width: 70%;
        float: left; }
      /* line 30, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .header span.showme button.btn {
        background: #ff6400;
        float: right;
        //width: 30%;
        color: #fff;
        font-family: "proxima-nova-condensed";
        font-size: 12px;
        font-weight: bold;
        padding: 4px; }
  
  /* line 42, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
  .connect-container .header .btn-show-all {
    float: right;
    width: 140px;
    text-transform: uppercase;
    color: #161b8e;
    font-family: "proxima-nova-condensed";
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #f9f9f9;
    -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
    -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
    box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; }
  
  /* line 64, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
  .connect-container .header h2 {
    margin: 0 0 10px 0;
    color: #161b8e;
    font-family: "proxima-nova-condensed";
    font-size: 20px;
    font-weight: bold; }
  /* line 71, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
  .connect-container .header p {
    color: #585858;
    font-family: "arial";
    font-size: 12px; }
  
  /* line 78, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
  .connect-container .filter-results-container {
    float: left;
    width: 100%;
    margin: 20px 0 40px 0; 
  }

    /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
    .connect-container .filter-results-container .filter-container {
      float: left;
      width: 30%;
      background: url("../imgs/connect/bk-filter.png");
      padding: 20px; }
      
      /* line 87, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container ul {
        width: 100%; 
      }

      .connect-container .filter-results-container .filter-container ul.typeahead {
        width: 200px !important;
        width: auto;
        text-transform:capitalize;
      }
      .connect-container .filter-results-container .filter-container ul.typeahead li {
        margin:1px;
      }

      .connect-container .filter-results-container .filter-container ul.typeahead li a {
        padding: 1px 8px;
      }


        /* line 89, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container ul li {
          color: #585858;
          font-size: 12px;
          font-family: "arial";
          float: left;
          clear: both;
          width: 100%;
          margin: 3px 0; }
          /* line 97, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .filter-container ul li .icheckbox_minimal-orange {
            float: left;
            margin-right: 5px; }
      /* line 104, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container ul.filtered-tags li {
        width: auto;
        float: none;
        margin-right: 10px;
        display: inline-block; }
        /* line 109, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container ul.filtered-tags li span {
          background: #fff;
          padding: 2px 4px;
          margin-right: 2px;
          border: 1px solid #ccc;
          font-size: 11px; }
        /* line 116, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container ul.filtered-tags li a {
          background: #fff;
          padding: 2px 3px;
          color: #585858;
          font-size: 11px;
          border: 1px solid #ccc; }
      /* line 125, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container label {
        color: #161b8e;
        font-size: 12px;
        font-family: "arial";
        float: left;
        clear: both;
        width: 100%;
        margin: 16px 0 0 0; }
        /* line 134, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container label .profilter {
          float: right; }
          /* line 136, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .filter-container label .profilter a {
            color: #161b8e;
            font-weight: normal; }
        /* line 141, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container label .btn-mini {
          float: right;
          color: #585858;
          font-family: "proxima-nova-condensed";
          font-size: 12px;
          font-weight: bold;
          padding: 1px 10px;
          border: 1px solid #b7b7b7;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          background-color: #f3f3f3; }
      /* line 158, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container ul {
        margin: 0;
        padding: 0;
        float: left;
        clear: both; }
        /* line 163, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .filter-container ul li {
          list-style: none; }
          /* line 165, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .filter-container ul li label {
            color: #585858;
            font-family: "arial";
            font-size: 12px;
            font-weight: normal;
            margin: 0 0 0 0; }
            /* line 171, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
            .connect-container .filter-results-container .filter-container ul li label input {
              margin-right: 3px; }
      

      /* line 177, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container select,
      .connect-container .filter-results-container .filter-container input.txt {
        font-size: 12px;
        padding: 6px;
        float: left;
        clear: both;
        margin: 5px 0 0 0;
        width: 100%;
        border: 1px solid #e5e5e5;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04); 
      }
      

      /* line 196, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container select {
        float: left;
        clear: both;
        height: 25px;
        width: 150px;
        margin: 5px 0 0 0;
        font-size: 12px; }
      /* line 205, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .filter-container .expertise-specialty,
      .connect-container .filter-results-container .filter-container .interest-practice {
        float: left;
        width: 100%;
        margin: 10px 0; }
    


    /* line 212, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
    .connect-container .filter-results-container .results-container {
      float: right;
      width: 600px; }
  

      /* line 216, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .results-container ul {
        margin: 0;
        padding: 0; }
        /* line 219, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .results-container ul li {
          list-style: none;
          margin: 0;
          padding: 0; }
        /* line 225, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .results-container ul.sort-filter {
          padding-top: 10px;
          width: 100%;
          float: left;
          border-top: 1px solid #ccc; }
          /* line 230, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .results-container ul.sort-filter li {
            float: left;
            margin-right: 20px;
            color: #585858;
            font-family: "arial";
            font-size: 12px; }
            /* line 237, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
            .connect-container .filter-results-container .results-container ul.sort-filter li a {
              color: #585858;
              text-decoration: none; }
              /* line 240, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
              .connect-container .filter-results-container .results-container ul.sort-filter li a.active {
                color: #ff6400;
                font-weight: bold; }
            /* line 245, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
            .connect-container .filter-results-container .results-container ul.sort-filter li:first-child {
              width: 50px;
              margin-right: 10px; }


      .connect-container .filter-results-container .results-container .loaderimg {
          display: none;
          float:left;          
          margin-top: 25px;           
      }

      .connect-container .filter-results-container .results-container .no-results {
          display: none;
          float:left;          
          margin-top: 25px;           
      }      
      

      /* line 253, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
      .connect-container .filter-results-container .results-container .results-data {
        float: left;
        width: 100%;
        margin-top: 25px; 
      }


        /* line 257, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
        .connect-container .filter-results-container .results-container .results-data .data-item {
          width: 290px;
          height: 100px;
          margin: 0 10px 10px 0;
          float: left;
          display: inline-block;
          position: relative; }
          /* line 258, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .results-container .results-data .data-item:nth-child(even) {
            margin: 0 0 10px 10px; }
          /* line 268, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .results-container .results-data .data-item img.person {
            max-width: 88px;
            height: 88px;
            position: absolute;
            left: 0; }
          

          /* line 275, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .results-container .results-data .data-item a.btnConnect.connect img {
            width: 70px;
            height: 18px;
            position: absolute;
            right: 8px;
            bottom: 8px; 
          }
          .connect-container .filter-results-container .results-container .results-data .data-item a.btnConnect.disconnect img {
            width: 52px;
            height: 7px;
            position: absolute;
            right: 8px;
            bottom: 22px;            
          }

          /* line 283, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
          .connect-container .filter-results-container .results-container .results-data .data-item span.info {
            float: left;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 5px 5px 0px 46px;
            height: 80px;
            width: 240px;
            margin-top: 5px;
            margin-left: 50px;
            font-size: 12px;
            font-family: "arial"; }
            /* line 296, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
            .connect-container .filter-results-container .results-container .results-data .data-item span strong {
              margin: 0 0 0 0;
              padding: 0 0 0 0;
              font-weight: normal;
              color: #161b8e; }
            /* line 302, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/connect.scss */
            .connect-container .filter-results-container .results-container .results-data .data-item span p {
              margin: 0 0 0 0;
              padding: 0 0 0 0;
              color: #585858;
              font-size: 11px; }

.popover-container .popover {width: auto;}
.popover-container .popover-header {max-width: auto;}

.combobox-container {
  margin-bottom: 5px;
  *zoom: 1;
}
.combobox-container:before,
.combobox-container:after {
  display: table;
  content: "";
}
.combobox-container:after {
  clear: both;
}
.combobox-container input,
.combobox-container .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.combobox-container input:focus,
.combobox-container .uneditable-input:focus {
  position: relative;
  z-index: 2;
}
.combobox-container .uneditable-input {
  border-left-color: #ccc;
}
.combobox-container .add-on {
  float: left;
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: inherit !important;
  margin-right: -1px;
  padding: 4px 5px;
  font-weight: normal;
  color: #999999;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  
}
.combobox-container .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.combobox-container input,
.combobox-container .uneditable-input {
  
  //-webkit-border-radius: 3px 0 0 3px;
  //-moz-border-radius: 3px 0 0 3px;
  //border-radius: 3px 0 0 3px;
  padding: 6px;
  width: 200px;  
  float: left;
  clear: both;
  font-size: 12px;
  padding: 6px;
  //margin: 5px 0 0 0;

  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.04);
}

.combobox-container .uneditable-input {

}

#school input{
  width: 100px !important;
}

.combobox-container .uneditable-input {
  border-left-color: #eee;
  border-right-color: #ccc;
}

.combobox-container .add-on {
  margin-right: 0;
  margin-left: 1px;

  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.combobox-container input:first-child {
  *margin-left: -160px;
}
.combobox-container input:first-child + .add-on {
  *margin-left: -21px;
}
.combobox-container select {
  display: inline-block;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  text-indent: -99999px;
  *text-indent: 0;
}
.form-search .combobox-container,
.form-inline .combobox-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
.form-search .combobox-container .add-on,
.form-inline .combobox-container .add-on {
  vertical-align: middle;
}
.combobox-selected .combobox-clear {
  display: inline-block;
}
.combobox-selected .caret {
  display: none;
}
.combobox-clear {
  display: none;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.dropdown:hover .combobox-clear,
.open.dropdown .combobox-clear {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn .combobox-clear {
  margin-top: 1px;
  margin-left: 1px;
}
.btn:hover .combobox-clear,
.open.btn-group .combobox-clear {
  opacity: 1;
  filter: alpha(opacity=100);
}
.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
}
.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}
.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}
.btn .combobox-clear [class^="icon-"] {
  line-height: 1.4em;
}              

.gray.popover {
    border: 1px solid #ababab;
    height: 56px;
	width: 235px;
    padding: 10px 0px 7px 10px;
    opacity: 1;
    line-height: 12px;
}

.gray.popover > .popover-inner > .popover-content{
	padding: 0;
	font-size: 12px;
}
.gray.popover.right .arrow:after {
    border-right-color: #333;    
}

.gray.popover.left .arrow:after {
    border-left-color: #333;    
}

.gray.popover.top .arrow:after {
    border-top-color: #333;    
}

.gray.popover.bottom .arrow:after {
    border-bottom-color: #333;    
}