/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
.contact-container {
  padding: 0 26px 0 26px; }
  /* line 7, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
  .contact-container h1, .contact-container h2, .contact-container h3, .contact-container h4, .contact-container h5, .contact-container h6 {
    font-family: "proxima-nova-condensed"; }
  /* line 11, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
  .contact-container .column {
    width: 432px;
    /*height: 475px;*/
    border: 1px solid #dcdcdc;
    /* stroke */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #fff;
    /* layer fill content */
    padding: 20px;
    font-family: "Arial"; 
    /*overflow-y: scroll;*/
  }
    /* line 25, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column label {
      font-size: 12px;
      font-weight: normal; }
    /* line 30, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column input, .contact-container .column textarea {
      border: 1px solid #e8e8e8;
      /* stroke */
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      /* border radius */
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      /* prevents bg color from leaking outside the border */
      background-color: #f9f9f9;
      /* layer fill content + color overlay */
      -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.16);
      /* inner shadow */
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.16);
      /* inner shadow */
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.16);
      /* inner shadow */ }
    /* line 45, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column button.orange-button {
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      /* border radius */
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      /* prevents bg color from leaking outside the border */
      background-color: #ff6300;
      /* layer fill content */
      -moz-box-shadow: 0 1px 2px #2f0b0f;
      /* drop shadow */
      -webkit-box-shadow: 0 1px 2px #2f0b0f;
      /* drop shadow */
      box-shadow: 0 1px 2px #2f0b0f;
      /* drop shadow */ }
    /* line 58, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column button.purple-button {
      -moz-border-radius: 2px 2px 3px / 2px;
      -webkit-border-radius: 2px 2px 3px / 2px;
      border-radius: 2px 2px 3px / 2px;
      /* border radius */
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      /* prevents bg color from leaking outside the border */
      background-color: #161b8e;
      /* layer fill content */
      -moz-box-shadow: 0 1px 1px #050005;
      /* drop shadow */
      -webkit-box-shadow: 0 1px 1px #050005;
      /* drop shadow */
      box-shadow: 0 1px 1px #050005;
      /* drop shadow */ }
    /* line 71, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column .feedback-text {
      font-size: 12px;
      font-weight: normal;
      height:80px;
    }
    /* line 76, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column .submit-feedback {
      color: white;
      font-family: "proxima-nova-condensed";
      font-weight: bold; }
    /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
    .contact-container .column .field-requirement {
      font-size: 10px;
      font-weight: normal;
      /*padding-left: 105px;*/ }
  /* line 89, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/contact.scss */
  .contact-container .column:nth-of-type(1) {
    margin-right: 20px; }

.has-error .form-control{
		border-color: #b94a48 !important;
	}

label.error{
	display:none;
	width: 100% !important;
    float: left;
    font-weight: bold !important;
    color: #b94a48;
}