/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
.courselanding-container {
  padding: 0 26px 0 26px;
  background: url("/contents/imgs/courselanding/bg.png");
  width: 100%;
  /*height: 720px;*/
  background-repeat: repeat; }
  /* line 10, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container h1, .courselanding-container h2, .courselanding-container h3, .courselanding-container h4, .courselanding-container h5, .courselanding-container h6 {
    font-family: "proxima-nova-condensed"; }
  /* line 14, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .courselanding-header-text {
    margin-bottom: 18px; font-family: arial; font-weight: bold; z-index:10; position: relative; background-image: url("../imgs/bg.gif"); background-repeat:repeat-x; background-size: 7px 36px
  }
  /*width: 382px;*/
  /* line 18, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .path-img {
    margin: 7px 0 0 10px; }
  /* line 22, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .header-text {
    width: 480px;
    font-size: 14px;
    float: left;
    margin-top: -35px; }
  /* line 29, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .course-finder-link {
    position: relative;
    top: 10px;
    font-size: 10px;
    right: 7px;
    color: #161b8e; }
  /* line 37, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .content-main {
    margin: 25px 0 0 0px; }
  /* line 40, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .column {
    float: left;
    width: 49.95%;
    margin: auto;
    text-align: center; }
    /* line 45, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .column ul {
      margin: 0; }
    /* line 49, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .column .main-icon {
      /*padding-left: 95px;*/
      margin-top: 40px;
    }
  /* line 55, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
  .courselanding-container .modules-list {
    list-style: none;
    padding: 0;
    margin-top:30px !important;
    /*Bootstrap Overrides*/
    /*.popover .arrow, .popover .arrow:after {
    	border-color: $color-purple;
    }*/ }
    /* line 60, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .modules-list .popover {
      border: 1px solid #161b8e;
      max-width: 360px; }
    /* line 65, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .modules-list .popover.right .arrow:after {
      border-right-color: #161b8e; }
    /* line 75, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .modules-list .popover-header {
      border-bottom: 1px solid #161b8e;
      padding: 0 0 10px 0;
      height:75px;
      max-width: 310px; }
      /* line 79, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
      .courselanding-container .modules-list .popover-header .header-text {
        padding-left: 60px;
        overflow: hidden; }
        /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
        .courselanding-container .modules-list .popover-header .header-text h4, .courselanding-container .modules-list .popover-header .header-text h5 {
          line-height: 1;
          margin: 0;
          padding: 0; }
    /* line 92, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .modules-list .popover-body {
      margin-top: 10px; }
    /* line 96, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
    .courselanding-container .modules-list .module {
      margin: 13px 0 13px 0; }
      /* line 99, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
      .courselanding-container .modules-list .module .done {
        margin-top: 1px; }
      /* line 103, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
      .courselanding-container .modules-list .module .modulenumber {
        color: #7c8cbc;
        padding-left: 15px; }
      /* line 108, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
      .courselanding-container .modules-list .module .module-details {
        text-align: left;
        padding-left: 10px; }
        /* line 112, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
        .courselanding-container .modules-list .module .module-details .module-name {
          line-height: 1.1;
          color: #3f7dc8;
          font-weight: bold;
          font-size: 14px;
          max-width: 300px;
          margin-top: 2px;
          margin-bottom: -3px;
          font-family: Arial;
        }
        /* line 120, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/courselanding.scss */
        .courselanding-container .modules-list .module .module-details .module-presenter a {
          color: #161b8e; }
.notdone{
  padding-left:33px !important;
}
div.header {position:relative; display:table; width:100%; overflow:auto;}
.main-container {
    position: relative;
}
img.path-img.pull-left {position:absolute; right:0px; z-index:0;}
h3.pd.courselanding-header-text.pull-left.ng-binding {background-color:#fff; position:relative; z-index:20; float:left; padding:0px 5px 0px 0px;}
.course-finder-link {
    z-index: 5;
}
