/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
body {
  background: #eaeaea url("../imgs/background.png");
  font-family: arial; }

/* line 8, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
h1, h2, h3, h4, h5 {
  font-family: arial; }

/* line 11, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.container {
  background: #fff;
  /* override bootstrap */
  min-width: 966px;
  max-width: 966px;
  padding: 0; }

  @media only screen and (max-width: 768px) {
    .container{
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    .column{
      width: 100% !important;
      height: auto !important;
      padding: 0;
    }

    .members-container .form-container .buttons .btn-cancel {
      width: 115px !important;
    }

    .feedback-text{
      height: auto !important;
    }

    .form-group label {
        width: auto !important;
    }

    .nostyle{
      color: black;
    }

    .nostyle:hover{
      text-decoration: none;
    }

    .list-group li a{
      display: block;   
    }

    li.mobactive{
      background-color: #FF6400 !important;
      color: white !important;
    }

    .mobactive a{
      color: white !important;
    }

    .mobactive a span{
      color: white !important;
    }

    li{
      cursor: pointer;
    }

    .logged-in{
      margin-right: 10px;
      margin-top: 10px;
    }

    .slide.out{
      -webkit-transform: translate3d(-105%,0,0) !important;
      -webkit-animation-name: slideouttoleft;
      -moz-transform: translateX(-105%) !important;
      -moz-animation-name: slideouttoleft;
      transform: translateX(-105%) !important;
      animation-name: slideouttoleft;
    }

    .slide.in{
      -webkit-transform: translate3d(0,0,0);
      -webkit-animation-name: slideinfromright;
      -moz-transform: translateX(0);
      -moz-animation-name: slideinfromright;
      transform: translateX(0);
      animation-name: slideinfromright;
    }

    body{
      background: none;
      background-color: white !important;
    }

    .mobile-nav-back{
        font-family: "proxima-nova-condensed";
    }

    .arrow-r{
      height: 15px;
      width: 11px;
    }

    .mobile-signin-btn {
        width: 238px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */
        -moz-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        -webkit-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */

    }

    .mobile-register-btn {
        width: 186px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */
        -moz-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        -webkit-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */

    }

    .mobile-register-btn-cancel {
        width: 93px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #f9f9f9; /* layer fill content + color overlay */
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */

    }

    .profile-update-btn {
        width: 54px;
        height: 18px;
        border: 1px solid #e95210; /* stroke */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */

    }

    .profile-savechanges-btn {
        width: 186px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */
        -moz-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        -webkit-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */

    }

    .profile-cancelchanges-btn {
        width: 93px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #f9f9f9; /* layer fill content + color overlay */
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */

    }

    .advance-longorange-btn {
        background: #ff6400;
        width: 238px;
        height: 32px;
        font-family: "proxima-nova-condensed";
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        padding: 4px;
        border-color: #ff6400;
        -moz-box-shadow: 0 1px 2px #2f0b0f;
        -webkit-box-shadow: 0 1px 2px #2f0b0f;
        box-shadow: 0 1px 2px #2f0b0f;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }

    .advance-longplain-btn {
        width: 238px;
        height: 32px;
       text-transform: uppercase;
        color:  #161b8e;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f9f9f9;
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
    }

    button.long {
        width: 238px;
    }

    a.long{
       width: 238px;
    }

    button.short {
        width: 114px;
    }

    a.short{
      width:114px;
    }

    .orange-btn{
       background: #ff6400;
       color: white;
       font-family: "proxima-nova-condensed";
        font-size: 14px;
        border-color: #ff6400;
    }

    .advance-longorange-btn-pressed {
        width: 238px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.5); /* inner shadow */
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.5); /* inner shadow */
        box-shadow: inset 0 1px 2px rgba(0,0,0,.5); /* inner shadow */
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDIzOCAzMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9Ii0xLjQyMTA4NTQ3MTUyMDJlLTE0JSIgeDI9IjUwJSIgeTI9IjEwMCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDgiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDgiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyMzgiIGhlaWdodD0iMzIiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
        background-image: -moz-linear-gradient(top, rgba(0,0,0,.08) 0%, rgba(255,255,255,.08) 100%); /* gradient overlay */
        background-image: -o-linear-gradient(top, rgba(0,0,0,.08) 0%, rgba(255,255,255,.08) 100%); /* gradient overlay */
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,.08) 0%, rgba(255,255,255,.08) 100%); /* gradient overlay */
        background-image: linear-gradient(top, rgba(0,0,0,.08) 0%, rgba(255,255,255,.08) 100%); /* gradient overlay */

    }

    .btn-plain {
       text-transform: uppercase;
        color: #757575;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f9f9f9;
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        border: 0;

    }

    .btn-orange {
        background: #ff6400;
        height: 32px;
        font-family: "proxima-nova-condensed";
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        padding: 4px;
        border-color: #ff6400;
        -moz-box-shadow: 0 1px 2px #2f0b0f;
        -webkit-box-shadow: 0 1px 2px #2f0b0f;
        box-shadow: 0 1px 2px #2f0b0f;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }

    .advance-longplain-btn {
        width: 238px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #f9f9f9; /* layer fill content + color overlay */
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; /* drop shadow and inner shadow */

    }

    .advance-list-wrapper {
        width: 298px;
        height: 87px;
        border: 1px solid #c6c6c6; /* stroke */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #fcfcfc; /* layer fill content */

    }

    .modal-btn-orange {
        width: 238px;
        height: 32px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #ff6300; /* layer fill content */
        -moz-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        -webkit-box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
        box-shadow: 0 1px 2px rgba(48,12,15,.9); /* drop shadow */
    }

    .module-mobile {
        background-color: #f6f6f6;
        border-bottom: 1px solid #e2e2e2;
        padding: 5px;
        margin-bottom: 3px;
    }

  }

/* line 19, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.main-container {
  float: left;
  width: 100%; }

/* line 24, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
header.pageheader {
  float: left;
  width: 100%;
  clear: both;
  padding: 0 26px; }
  /* line 30, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  header.pageheader .toprow .logo {
    margin-top: 16px;
    float: left; }
  /* line 34, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  header.pageheader .toprow .course-finder {
    background-color: #ff6400;
    width: 205px;
    height: 86px;
    float: right;
    padding: 20px 10px 0 10px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
    /* line 51, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header.pageheader .toprow .course-finder label {
      background: url("../imgs/img_coursefinder.png") no-repeat 1px 5px;
      color: #fff;
      font-family: "proxima-nova-alt-ext-cond";
      font-size: 18px;
      font-weight: normal;
      padding-left: 25px; }
    /* line 59, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header.pageheader .toprow .course-finder .search-field {
      float: left;
      width: 185px; 
      position: relative;
    }
    /* line 63, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header.pageheader .toprow .course-finder .ico-search {
      background: url("../imgs/coursefinder.png") no-repeat white left 2px;
      float: right;
      cursor: pointer;
      white-space: nowrap;
      text-indent: 150%;
      overflow: hidden;
      width: 26px;
      height: 24px;
      display: block;
      color: #fff;
      border-radius: 0 1px 1px 0;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-left: none; }
    /* line 80, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header.pageheader .toprow .course-finder .input-search {
      float: left;
      color: #959595;
      font-family: "arial";
      font-size: 12px;
      height: 24px;
      width: 159px;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-right: none;
      border-bottom: 1px solid #ccc;
      border-radius: 1px 0 0 1px;
      padding-left: 4px; }
  /* line 96, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  header.pageheader nav {
    float: left;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0px; }
    /* line 101, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header.pageheader nav ul {
      float: left;
      width: 100%;
      margin-bottom: 5px;
      padding-left: 0; }
      /* line 106, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header.pageheader nav ul li {
        list-style: none;
        float: left;
        width: 140px;
        text-align: center;
        border-right: 1px #ccc solid;
        margin-top: 5px; }
        /* line 114, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li:nth-child(5), header.pageheader nav ul li:last-child {
          border: none; }
        /* line 117, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li a {
          color: #a2a2a2;
          font-family: "proxima-nova-alt-ext-cond";
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 2px; }
        /* line 125, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li .active,
        header.pageheader nav ul li a:hover:not(.homelink) {
          color: #161b8e;
          text-decoration: none;
          border-bottom: 3px solid #161b8e; }
        /* line 130, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li.home {
          width: 70px;
          margin-left: 5px; }
          /* line 134, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.home img {
            margin-top: -6px; }
        /* line 139, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li.home.active, header.pageheader nav ul li.home:hover {
          padding-bottom: 2px;
          border-bottom: 3px solid #161b8e; }
        /* line 143, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li .advanced {
          background: url("../imgs/learn.png") no-repeat 1px 3px;
          padding-left: 26px; }
          /* line 147, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li .advanced.active, header.pageheader nav ul li .advanced:hover {
            background: url("../imgs/learn-active.png") no-repeat 1px 3px; }
        /* line 151, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li .connect {
          background: url("../imgs/connect.png") no-repeat 1px 1px;
          padding-left: 24px; }
          /* line 155, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li .connect.active, header.pageheader nav ul li .connect:hover {
            background: url("../imgs/connect-active.png") no-repeat 1px 1px; }
        /* line 159, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li .search {
          background: url("../imgs/search.png") no-repeat 1px 3px;
          padding-left: 22px; }
          /* line 163, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li .search.active, header.pageheader nav ul li .search:hover {
            background: url("../imgs/search-active.png") no-repeat 1px 3px; }
        /* line 167, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li .whoweare {
          background: url("../imgs/whoweare.png") no-repeat 1px 1px;
          padding-left: 24px; }
          /* line 171, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li .whoweare.active, header.pageheader nav ul li .whoweare:hover {
            background: url("../imgs/whoweare-active.png") no-repeat 1px 1px; }
        /* line 175, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li.user-dd {
          //display: none;
          float: right;
          width: 208px;
          margin-top: -5px;
          border: 0; }
          /* line 181, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.user-dd .user-head {
            max-width: 34px;
            max-height: 34px;
            margin-right: 10px; }
          /* line 186, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.user-dd .user-name {
            font-family: arial;
            font-size: 12px;
            margin-right: 10px;
            margin-top: 10px;
            color: #161b8e;
            font-weight: bold; }
          /* line 194, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.user-dd .controls {
            cursor: pointer;
            margin-top: 5px; }
          /* line 199, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.user-dd .dropdown ul {
            width: 190px;
            margin-left: 10px;
            margin-top: 5px;
            background: url("../imgs/connect/bk-filter.png");
            border: 1px solid #ababab;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #fff;
            -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
            -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.15); }
            /* line 216, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
            header.pageheader nav ul li.user-dd .dropdown ul li {
              border: 0;
              width: 100%;
              font-size: 12px;
              text-align: left;
              padding: 4px 10px;
              margin: 0; }
              /* line 223, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li.divider {
                background: url("../imgs/dd-divider.png");
                height: 1px;
                width: 185px;
                padding: 0;
                margin: 4px 0; }
              /* line 230, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li img {
                padding-right: 5px; }
              /* line 233, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li a {
                margin: 0;
                padding: 0;
                font-size: 12px;
                font-family: arial;
                font-weight: normal; }
                /* line 239, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
                header.pageheader nav ul li.user-dd .dropdown ul li a.userlink {
                  color: #161b8e; }
              /* line 243, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li a:hover {
                border-bottom: 0px; }
              /* line 247, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li.menuitem {
                padding-left: 15px; }
                /* line 249, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
                header.pageheader nav ul li.user-dd .dropdown ul li.menuitem a {
                  color: #585858;
                  font-weight: bold; }
              /* line 255, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.user-dd .dropdown ul li.menuitem.more a {
                color: #161b8e;
                font-weight: normal; }
        /* line 264, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header.pageheader nav ul li.login {
          float: right;
          width: 170px; }
          /* line 267, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.login ul {
            padding-left: 0;
            float: right; }
            /* line 270, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
            header.pageheader nav ul li.login ul li {
              float: left;
              width: 80px; }
              /* line 273, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
              header.pageheader nav ul li.login ul li:first-child a {
                float: left; }
          /* line 278, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.login a {
            float: right;
            padding-bottom: 0px;
            color: #161b8e;
            font-family: "arial";
            font-size: 12px; }
          /* line 285, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
          header.pageheader nav ul li.login a:hover {
            border-bottom: none; }

/* line 293, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
footer {
  float: left;
  width: 100%;
  clear: both;
  margin: 10px 0 10px 0;
  padding: 0 26px; }
  /* line 299, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .aaha-logo {
    width: 66px;
    float: left; }
	
	footer .zuku-logo {
    width: 57px;
    float: left; }
  /* line 304, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .footer-nav {
    float: left;
    padding-left: 95px;
	padding-bottom: 10px; }
  /* line 309, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer nav {
    margin-top: 5px; }
    /* line 312, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    footer nav ul {
      float: left;
      width: 100%;
      margin-bottom: 5px; }
      /* line 316, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      footer nav ul li {
        list-style: none;
        float: left;
        color: #909090;
        font-family: "arial";
        font-size: 11px;
        padding: 0 20px 0 20px; height: 12px;
        border-right: 1px solid #909090; }
        /* line 324, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        footer nav ul li a {
          color: #a2a2a2; margin: -1px 0 0;}
      /* line 329, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      footer nav ul li:last-child {
        border: none; }
  /* line 334, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .social-wrap {
    float: left; 
	padding-right: 10px;}
  /* line 337, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .social-icon:nth-of-type(2) {
    padding: 0 4px 0 4px; }
  /* line 340, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .footer-spacer {
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
    margin: 5px 0 10px 0; }
  /* line 347, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .fineprint {
    color: #909090;
    font-family: "arial";
    font-size: 10px;
    line-height: 11px;
    width: 750px;
    float: left; }
  /* line 355, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
  footer .zoetis-logo {
    width: 76px;
    float: right; }
	
	footer .small-text-block {
		float:left;
		padding-right:10px;
		font-size: 8px;
		font-family: Arial, Helvetica;
		color: #585858;
		width: 85px;
		margin-top: 4px;
	}

/* Style override to make bootstrap popovers work with purple color scheme
/*Bootstrap Overrides*/
/* line 363, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.popover {
  border: 1px solid #161b8e;
  max-width: 360px; }

/* line 368, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.popover.right .arrow:after {
  border-right-color: #161b8e; }

/* line 372, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.popover.left .arrow:after {
  border-left-color: #161b8e; }

/* line 376, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.popover.top .arrow:after {
  border-top-color: #161b8e; }

/* line 380, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.popover.bottom .arrow:after {
  border-bottom-color: #161b8e; }

/* Global color declarations can be used in <span> to create multi color text */
/* line 386, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.orange {
  color: #ff6400 !important; }

/* line 390, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.fb {
  color: #e03e52 !important; }

/* line 394, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.mmm {
  color: #407ec9 !important; }

/* line 398, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.pd {
  color: #00b3d3 !important; }

/* line 402, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.bi {
  color: #3f7dc8 !important; }

/* line 406, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.gray {
  color: #b2b2b2 !important; }

/* line 410, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.purple {
  color: #161b8e !important; }
  
  .home-page-btn {
	padding: 4px 12px !important;
	height: 28px !important;  
  }
 




/*--------global // override------*/
.members-container { margin:23px 25px 20px;}

.mobile-container{
  padding-top: 90px !important;
  width: 100% !important;
}
label.left_align{text-align: left !important;}