/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
.members-container {
  margin-top: 30px;
  padding: 0 26px 0 26px;
  float: left;
  width: 100%;
  /* Login Page */
  /* Registration Page */
  /* Forgot Password Page */
  /* override bootstrap */ }
  /* line 11, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .signin-container {
    width: 450px;
    float: left; }
    /* line 15, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .signin-container .form-container {
      float: left;
      margin-top: 20px;
      width: 100%;
      padding: 15px 25px;
      border: 1px solid #dcdcdc;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff; }
      /* line 29, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .signin-container .form-container input {
        width: 300px; }
      /* line 32, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .signin-container .form-container .checkbox-remember {
        float: left;
        width: 100%; }
        /* line 35, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .signin-container .form-container .checkbox-remember label {
          float: left;
          width: 100%; }
        /* line 39, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .signin-container .form-container .checkbox-remember div {
          margin-right: 10px;
          float: left; }
        /* line 43, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .signin-container .form-container .checkbox-remember #rememberme {
          margin-left: 0;
          width: auto; }
    /* line 49, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .signin-container .buttons {
      float: left;
      width: 100%; }
  /* line 56, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .register-container {
    float: left;
    width: 100%;
    /* override bootstrap */ }
    /* line 59, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .header {
      width: 600px; }
    /* line 63, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container.zuku .header {
      width: 100%; }
      /* line 65, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container.zuku .header sup {
        font-size: 12px;
        top: -0.9em; }
      /* line 69, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container.zuku .header span:first-child {
        width: 730px;
        float: left;
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 20px; }
      /* line 76, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container.zuku .header span {
        float: left;
        margin-top: 20px; }
        /* line 79, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container.zuku .header span img:first-child {
          padding-right: 20px; }
        /* line 82, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container.zuku .header span img.zuku {
          opacity: 0.7; }
    /* line 88, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .buttons {
      float: right; }
    /* line 91, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .column:first-child {
      width: 460px;
      float: left; }
      /* line 94, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .column:first-child label {
        width: 33% !important;
        float: left; }
      /* line 98, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .column:first-child .fields {
        width: 58% !important;
        float: left; }
        /* line 102, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container .column:first-child .fields select,
        .members-container .register-container .column:first-child .fields input {
          width: 270px; }
        /* line 105, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container .column:first-child .fields label.error {
          width: 100% !important;
          float: left; }
    /* line 111, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .column {
      width: 450px;
      float: left; }
      /* line 114, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .column label {
        width: 33%;
        float: left; }
      /* line 118, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .column .fields {
        width: 66%;
        float: left; }
        /* line 121, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container .column .fields label.error {
          width: 100% !important;
          float: left; }
    /* line 128, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .form-control {
      height: 30px; }
    /* line 131, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .form-group {
      /* override bootstrap */
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 10px; }
      /* line 136, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group label {
        padding-left: 2px; }
      /* line 140, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .radio-group div {
        float: left; position: relative; }
      /* line 143, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .radio-group label {
        padding-top: 0; }
      /* line 147, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .radio-group .radio-fields div {
        margin-right: 6px; }
      /* line 150, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .radio-group .radio-fields label {
        width: 100%; }
      /* line 153, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .radio-group .radio-fields input {
        margin-top: 5px;
        float: left; }
      /* line 160, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group.email-field-group {
        margin-bottom: 5px; }
      /* line 164, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .check-fields a {
        color: #161b8e; }
      /* line 167, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .check-fields div {
        height: 30px;
        margin-right: 8px;
        margin-bottom: 5px;
        float: left;
        clear: both; }
      /* line 174, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .form-group .check-fields span {
        font-size: 11px;
        margin-right: 6px;
        float: left;
        width: 85%; }
    /* line 182, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container hr {
      float: left;
      clear: both;
      width: 100%; }
    /* line 187, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container label {
      padding-right: 2px; }
    /* line 190, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .register-container .fields {
      /* override bootstrap */
      padding-left: 10px;
      padding-right: 0px; }
      /* line 195, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .register-container .fields.email-field p {
        color: #ff6400;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 0;
        margin-top: 4px; }
        /* line 201, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container .fields.email-field p b {
          float: left; }
        /* line 204, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .register-container .fields.email-field p span {
          text-align: center;
          float: left;
          width: 84%; }

        .members-container .register_container_temp{
          background: url(/Contents/imgs/register_success_bg.png);
          width: 391px;
          height: 350px;
          display: block;
          margin-top: -70px;
          margin-bottom: 40px;
          position: relative;
        }

        .members-container .subscribe_tdy{
          position: absolute;
          top: 240px;
          right: 90px;
        }
        .members-container .promocode_entry{
          position: absolute;
          top: 166px;
          left: 135px;
          font-size: 10px; 
        }
        .members-container .promocode_entry span{
          text-transform: uppercase;
        }

  /* line 215, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .password-container {
    width: 560px;
    float: left;
    margin-bottom: 100px; }
    /* line 219, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container .buttons {
      float: right; }
      /* line 221, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .password-container .buttons .btn:first-child {
        margin-right: 10px; }
    /* line 226, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container hr.top {
      margin: 3px 0 20px 0; }
    /* line 230, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container hr.bottom {
      margin: 20px 0; }
    /* line 234, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container label {
      width: 180px;
      float: left;
      text-align: right;
      margin-right: 10px; }
    /* line 240, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container input {
      width: 300px;
      float: left; }
  /* line 251, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .password-container .header,
  .members-container .password-container .footer,
  .members-container .register-container .header,
  .members-container .register-container .footer,
  .members-container .signin-container .header,
  .members-container .signin-container .footer {
    float: left; }
    /* line 253, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container .header h1,
    .members-container .password-container .footer h1,
    .members-container .register-container .header h1,
    .members-container .register-container .footer h1,
    .members-container .signin-container .header h1,
    .members-container .signin-container .footer h1 {
      color: #161b8e;
      font-family: "proxima-nova-condensed";
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 10px 0;
      text-transform: uppercase; }
    /* line 261, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container .header p,
    .members-container .password-container .footer p,
    .members-container .register-container .header p,
    .members-container .register-container .footer p,
    .members-container .signin-container .header p,
    .members-container .signin-container .footer p {
      font-family: arial;
      font-size: 12px;
      line-height: 21px;
      color: #585858;
      margin-bottom: 5px; }
    /* line 268, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .password-container .header a,
    .members-container .password-container .footer a,
    .members-container .register-container .header a,
    .members-container .register-container .footer a,
    .members-container .signin-container .header a,
    .members-container .signin-container .footer a {
      color: #161b8e;
      font-size: 12px; }
  /* line 274, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .form-container {
    float: left;
    margin-top: 20px;
   }
    /* line 279, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container i {
      font-size: 13px;
      color: #585858; }
    /* line 283, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container label {
      font-size: 14px;
      color: #585858;
      font-weight: normal;
      margin-bottom: 2px; }
    /* line 289, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container input {
      height: 30px;
      padding-left: 6px;
      font-size: 14px; }
    /* line 294, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container .checkbox {
      padding-left: 0; }
      /* line 296, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .form-container .checkbox label {
        font-size: 12px; }
      /* line 299, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .form-container .checkbox div {
        float: left;
        margin-right: 5px; }
    /* line 304, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container .buttons {
      margin-top: 10px;
      margin-bottom:25px;
      width: 100%;
    }
    .members-container .form-container .buttons:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
      /* line 306, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .form-container .buttons .btn-submit {
        background: #ff6400;
        width: 140px;
        text-transform: uppercase;
        color: #fff;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        border-color: #ff6400;
        -moz-box-shadow: 0 1px 2px #2f0b0f;
        -webkit-box-shadow: 0 1px 2px #2f0b0f;
        box-shadow: 0 1px 2px #2f0b0f; 
        float: left;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
      }
      /* line 321, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .form-container .buttons .btn-cancel {
        margin-left:15px;
        width: 140px;
        text-transform: uppercase;
        color: #757575;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f9f9f9;
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; 
        float: right;
      }
    /* line 343, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
    .members-container .form-container.success {
      margin-bottom: 300px;
      float: left; }
      /* line 346, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
      .members-container .form-container.success a {
        background: #fff;
        border-bottom: 1px solid #999;
        color: #161b8e;
        text-transform: uppercase;
        font-family: "proxima-nova-condensed";
        font-size: 18px;
        font-weight: bold; }
        /* line 354, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .form-container.success a span {
          float: left; }
        /* line 357, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
        .members-container .form-container.success a .carrot {
          margin-top: -4px;
          margin-left: 5px; }
  /* line 366, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .touerror {
    float: left;
    color: #BF0D3E;
    margin-top: 5px;
    font-weight: bold;
    display: none;
    font-size: 10px; }
  /* line 375, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error .error {
    font-weight: bold;
    font-size: 11px; }
  /* line 379, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error label {
    color: #BF0D3E; }
  /* line 382, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error input::-webkit-input-placeholder {
    /* WebKit browsers */ }
  /* line 385, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */ }
  /* line 388, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error input::-moz-placeholder {
    /* Mozilla Firefox 19+ */ }
  /* line 391, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .has-error input:-ms-input-placeholder {
    /* Internet Explorer 10+ */ }
  /* line 395, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/members.scss */
  .members-container .required-msg.has-error {
    color: #BF0D3E;
    font-weight: bold; }



  #school-selectize{position: absolute; left: 0; top: 50px;}
  #register-form .combobox-container{position: absolute; top: 44px; left: 10px; width: 100%;}
  #register-form .combobox-container .form-control{width: 96%; background: transparent; border-radius: 0; box-shadow: 0;}
  #register-form .combobox-container .add-on{position: absolute; top: 5px; right: 10px; z-index: 99999;}
  #register-form .combobox-container .typeahead-long {top: 33px !important;}


