﻿/* override files - to be incorporated later */

.ui-autocomplete {
    z-index: 9999;
}

.muted {
    width:250px;
}

.interest, .specialty, .filtered-tags {
    text-transform:capitalize;
}

a.purple.ng-binding {
    text-decoration:none;
    cursor:default;
}

/* connect hover */
.connect_blurb {
    position:absolute;
    bottom:2px;
    right:-85px; 

    background:url('/contents/imgs/tooltip_footer.png') no-repeat;
    height:110px;
    width:254px;

    z-index:999;
    
    padding:15px;

    font-size:12px;
    color:#333 !important;

    display:none;
    text-decoration: none;

}

    .connect_blurb:hover {
        text-decoration: none !important;
    }



    /* connect hover */
.connect_blurb_showme {
    position:absolute; 

    right:83px;
    top:85px;

    background:url('/contents/imgs/tooltip_footer.png') no-repeat;
    height:110px;
    width:254px;

    z-index:999;
    
    padding:15px;

    font-size:12px;
    color:#333 !important;

    display:none;
    text-decoration: none;

}

    .connect_blurb_showme:hover {
        text-decoration: none !important;
    }


    


/* override for nav hover */
.nav li a:hover {
    background-color:#fff;
}

/* course list font */
h3.courselanding-header-text.pull-left.bi { 
    font-size:23px;
    font-weight:bold;
}

h4.module-name a {
    font-size:15px;
    font-weight:bold;
}

small.module-presenter {
    font-size:14px;
}

/* override for selectric drop down */
.selectric {
    width:160px;
}

.module-title {
    margin-top:15px;
}

h5.module-name {
    position:absolute;
    top:55px;
    left:0px;
}

/* global connect warning */
#warning {
    display:none;

    position:fixed;
    top:30%;
    left:30%;
    width:40%;
    padding:25px;

    z-index:999;
}

#modalbg {
    display:none;

    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:url('/contents/imgs/modalbg.png');
    z-index:99;
}

/* backdrop for modal */
.modal-backdrop {
    background: rgba(255,255,255,1);
}

.has-error .icheckbox_minimal-orange {
    /* background-position: -20px 0; */
}

.sitenav .dropdown {
    float:right;
}

.subnav a {
    color:#000;
}

.popover-link {
    color:#fff;
}

.tooltip_footer {
    position:absolute;
    bottom:5px;
    left:-45px;

    display:none;

    padding:17px 0 0 20px;

    font-size:12px;
    color:#333;

    background:url('/contents/imgs/tooltip_footer.png') no-repeat;
    height:110px;
    width:254px;
}

.tooltip_top {
    position:absolute;
    top:-10px;
    left:-50px;

    z-index:999;

    text-align:left;
    font-size:12px;
    color:#333;

    background:url('/contents/imgs/tooltip_top.png') no-repeat;
    height:110px;
    width:250px;

    padding:58px 13px 0 20px;
    font-size:12px;
    line-height:12px;

    display:none;
}

.register-link, .signin-link {
    cursor:pointer;
    color: #171c8f;
}

.sitenav li {
    position:relative;
}

.bucket {
    position:relative;
}

/* video promo - v3 */
#modal_LightBox.modal .modal-dialog {width:961px !important;}
		#modal_LightBox.modal .modal-body {padding: 0 !important; position:relative;}
		#modal_LightBox.modal .modal-body .close-modal  {z-index:10; position:absolute; right:-10px; top:-14px;}
		#modal_LightBox.modal .modal-body .buttons button { margin:0px 20px 0px 0px !important;}
		.register_toggle img {display:block; margin:0px !important;}
.modal_lightBoxHeader { position:relative; clear:both; height:70px; width:939px;}
.modal_lightBoxHeader a { position:absolute; text-indent:-9999px;}
#modal_LightBox.modal {}	
a.vetvance_logo_link { left:0px; width:226px; height:60px; position:absolute;}
a.savezuku_logo_link { right:0px; width:710px; height:60px; position:absolute;}
			
.modal_lightBoxContent {
    clear:both; 
    position:relative; 
    overflow:hidden; 
    width:939px; 
    height:560px; /*originally 629*/
    overflow-y: hidden;
}
.modal_lightBoxContent_video { 
    position:absolute; 
    z-index:20; 
    top:0px; /*orig -566*/ 
    left:0px;
}
.modal_lightBoxContent_form {
    position:absolute; z-index:1; 
    top:0px; 
    left:0px; 
    background:#fff;
    padding-bottom: 20px;
}
						

#modal_LightBox.modal .column {width:443px !important;}
#modal_LightBox.modal .members-container {margin:0px!important; padding: 0 !important;}
#modal_LightBox.modal .header {padding:12px 20px 0px !important;}
#modal_LightBox.modal .required-msg {display:block; padding:0px 20px !important; margin:0px !important; font-weight:bold;}

#modal_LightBox.modal  hr {
    clear: both;
    float: none;
    margin: 5px auto;
    width: 900px;
}











/*------------------------------------------------------------------------------
	added : Sat. Nov 23, 2013 | to override and fix design issues (see below)
--------------------------------------------------------------------------------*/
/*--issue : #0001069--*/
header.pageheader nav {margin-top:15px !important;}

/*--issue : #0001073--*/
header.pageheader .toprow .course-finder .ico-search {background: url("../imgs/coursefinder.png") no-repeat 5px 2px; border-color: #CCC; border-radius: 0 0px 0px 0; border-right: 0px solid; border-style: solid solid solid none; border-width: 0px 0px 0px medium; color:#fff; cursor: pointer; display: block; float: right; height: 24px; overflow: hidden; text-indent: -9999px; white-space: nowrap; width: 26px; position: absolute; right: 0;}
header.pageheader .toprow .course-finder .input-search {border-color: #CCC; border-left: 1px solid #CCCCCC; border-radius: 1px 0 0 1px; border-style: solid none solid solid; border-width: 1px medium 1px 1px; color: #959595; float: left; font-family: "arial"; font-size: 12px; height: 24px; padding-left: 4px; width: 185px; padding-right: 28px;}

/*--issue : #0001072--*/
header.pageheader nav ul li {float: left; height: 14px; list-style: none outside none; margin:0px 0 0; padding: 0 !important; text-align: center; width: 140px;}
header.pageheader nav ul li a {display: block; float: left; font-size: 15px; font-weight: bold; margin: -2px 0 0 28px;}
header.pageheader nav ul li .active, header.pageheader nav ul li a:hover:not(.homelink) {border-bottom: 4px solid #161B8E;}
header.pageheader nav {margin-bottom:15px;}

header.pageheader nav ul li.login {margin-top:0px !important; width:155px;}
header.pageheader nav ul li.login a {display: block; font-weight: normal !important; margin: 0 18px;}
header.pageheader nav ul li.login a:hover {text-decoration:none !important; border-bottom:none !important;}
header.pageheader nav ul li.login ul {float:right; padding-left: 0; width:175px;}
header.pageheader nav ul li.login ul li {float: left; width: auto;}

li.home {border-bottom:none !important; margin:0px 0px 0px 0px!important; float:left;}
li.home a.homelink {display:block; width:70px; height:26px; margin:0px 0px 0px 0px;}
li.home.active a.homelink, li.home a.homelink:hover {border-bottom:4px solid #161B8E!important;}
li.home a.homelink img {display:block; margin:0px auto !important;}
.advanced-container .inner-container .path-filter .path-filter-header {font-size:20px; letter-spacing:0;}

/*--issue : #0001097--*/
.whoweare-container .columns.contributors .data-container .data-person .info strong {display: block; font-size: 10px; line-height: 12px; margin: 8px 0 0;}

/*--issue : #0001071--*/
.index-container .bucket-container .buckets .bucket a.btn {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 3px 3px 3px 3px !important;
    box-shadow: 0 1px 2px #6C6C6C, 0 1px 0 #F9F9F9 inset;
    color: #161B8E;
    font-family: "proxima-nova-condensed";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 160px;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#c9c9c9);
}
.index-container .bucket-container .buckets {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    padding: 20px 24px;
    position: absolute;
    width: 912px;
}

/*--issue : #0001078--*/
.advanced-container .inner-container .path-filter .path-filter-header {
    float: left;
    font-family: "proxima-nova-extra-condensed";
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: 0 !important;
    padding-top: 3px;
    width:263px;
}
.selectric.dropdownLabel_0 {width:108px;}
.selectric.dropdownLabel_0 .label { width:106px;}
.selectric.dropdownLabel_1 {min-width:145px;}
.selectric.dropdownLabel_1 .label {width:120px;}
.selectric.dropdownLabel_2 {width:165px;}
.selectric.dropdownLabel_2 .label {min-width:140px!important;}

/*--issue : #0001079--*/
.on p.label {color:#3F7DC8!important;}


/*---issue :# -----*/
.courselist-container {background:url("../imgs/bg.gif") repeat; display:table; *height:99%;}
.courselist-container h5 {font-size:17px;}
.course-body ul {margin-top:25px;}
.courselist-container ul.module-list li .module-content .module-content-text {line-height:15px;}
.course-body ul.module-list li {margin-bottom:30px;}

.courselist-container h4 {margin-top:19px !important;}



/*---issue :# -----*/
.advanced-container .inner-container .path-wrap .icon-layer p {
    display: block;
    font-size:11px;
    font-weight: bold;
    line-height: 13px;
    margin: 7px 0 0;
    max-width: 111px;
}

/*.advanced-container .inner-container .path-wrap .icon-layer #i2-1 {
    left: -526px;
    position: relative;
    top: 215px !important;
}
.advanced-container .inner-container .path-wrap .icon-layer #i2-2 {
    left: 151px;
    position: relative;
    top: 108px !important;
}
.advanced-container .inner-container .path-wrap .icon-layer #i2-3 {
    left: 167px;
    position: relative;
    top: 121px !important;
}
.advanced-container .inner-container .path-wrap .icon-layer #i2-4 {
    left: 189px;
    position: relative;
    top: 108px !important;
}
.advanced-container .inner-container .path-wrap .icon-layer #i2-5 {
    left: 214px;
    position: relative;
    top: 121px !important;
}
.advanced-container .inner-container .path-wrap .icon-layer #i2-6 {
    left: 223px;
    position: relative;
    top: 108px !important;
}

.advanced-container .inner-container .path-wrap .icon-layer #i3-1 {
    left: -459px;
    position: relative;
    top: 263px !important;
}*/






/*---issue :# 0001096---*/
#register-form input, #register-form .form-control{
    background-clip: padding-box;
    background-color: #F9F9F9!important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 3px 3px 3px 3px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16) inset !important;
}
.register-form .header p { line-height:17px;}



/*--- ----*/
.form-container .required-msg {font-weight:bold;}

.register-form .members-container .form-container {
    float: left;
    margin-left: 0;
    margin-right: 50px !important;
    margin-top: 20px;
    width: 890px;
}

.register-form #register-form .column:first-child {
    float: left;
    width: 439px;
}
@media only screen and (min-width: 769px) {
#pageId.members-container.register-form {padding:0!important; width:914px;}
}




/*--------------------------------MISC-------------------------------*/
.connect-container .header span.showme {
    float: right;
    margin: 0 !important;
    padding: 10px;
    width: 260px;
}
.connect-container .header span.showme p {
    /*color: #161B8E;
    display: block;
    float: left;
    font-family: "proxima-nova-condensed";
    font-size: 12px;
    font-weight: bold;*/
    line-height: 12px;
    margin: 2px 0 0 2px;
    /*text-transform: uppercase;
    width: 153px;*/
}
.connect-container .header span.showme button.btn {
    background: none repeat scroll 0 0 #FF6400;
    color: #FFFFFF;
    float: right;
    font-family: "proxima-nova-condensed";
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    padding: 5px 4px 3px;
    width: 67px;
}
.selectricItems ul, .selectricItems li {
    font-size: 10px;
    line-height: 12px;
}

header.pageheader nav ul li.user-dd .dropdown ul {padding:8px; margin-left:-35px !important;}
header.pageheader nav ul li.user-dd .dropdown ul li {height: auto !important;}
.members-container {padding:0;}

.advanced-container .inner-container .path-filter .path-filter-header {margin-left:0 !important; width:233px !important;}
.selectricWrapper {width: auto !important;}
.selectric p.label {display:table-cell!important; height:30px!important; vertical-align:middle !important; padding-top: 0px!important; color:#939393 !important;}

.whoweare-container .columns.contributors .data-container .data-person {height:143px;}


/*---Course list page : Titles : fix---*/
.module-container {background: url("/contents/imgs/courselanding/bg.png") repeat;}
img.path-img.pull-left {right:-25px !important;}
h3.courselanding-header-text.pull-left {background:url("/contents/imgs/courselanding/bg.png") repeat; margin-left:-2px; z-index:5 !important; display:block; float:left; padding:0px 8px 0px 0px; position:relative !important;}
div.dropdown.pull-left {margin-left:-17px; background: url("/contents/imgs/courselanding/bg.png") repeat; padding-left:0px !important; padding-left: 0 !important; position: relative; z-index:2;}
img.module-dropdown-arrow.pull-left { display:block; margin-left:0px !important;}
.dropdown-menu {z-index: 99999 !important;}



/*--KLUDGEY FIX FOR OBLONG IMAGE CIRCLES--*/


.user-avatar{
	max-width: 128px;
	max-height: 128px;
}

.vjs-big-play-button {
    display: none !important;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}