/* line 5, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
.profile-container,
.update-profile-container {
  margin-top: 30px;
  padding: 0 26px 0 26px;
  float: left;
  width: 100%;
  /* override bootstrap */ }
  /* line 11, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .header,
  .update-profile-container .header {
    width: 100%;
    float: left; }
    /* line 15, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .header .profile-user,
    .update-profile-container .header .profile-user {
      float: left;
      width: 100%;
      position: relative; }
      /* line 19, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .header .profile-user .user-photo,
      .update-profile-container .header .profile-user .user-photo {
        float: left;
        width: 135px;
        position: relative; }
        /* line 23, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-photo .user-avatar,
        .update-profile-container .header .profile-user .user-photo .user-avatar {
          position: relative;
          max-height: 128px;
          max-width:128px;
        }
        /* line 27, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-photo .upload-photo,
        .update-profile-container .header .profile-user .user-photo .upload-photo {
          position: absolute;
          z-index: 99;
          right: 10px;
          bottom: 10px;
          cursor: pointer; }
        /* line 34, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-photo #fileupload,
        .update-profile-container .header .profile-user .user-photo #fileupload {
          display: none; }
      /* line 38, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .header .profile-user a.btn-popover,
      .update-profile-container .header .profile-user a.btn-popover {
        cursor: pointer; }
      /* line 41, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .header .profile-user .user-data,
      .update-profile-container .header .profile-user .user-data {
        float: left;
        margin-left: 10px; }
        /* line 44, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-data h1,
        .update-profile-container .header .profile-user .user-data h1 {
          color: #161b8e;
          font-size: 20px;
          text-transform: none;
          margin: 0;
          padding: 0; }
        /* line 51, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-data h2,
        .update-profile-container .header .profile-user .user-data h2 {
          font-size: 14px;
          color: #585858;
          margin: 0;
          padding: 3px 0; }
        /* line 57, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-data h3,
        .update-profile-container .header .profile-user .user-data h3 {
          font-size: 14px;
          font-weight: normal;
          color: #585858;
          margin: 0;
          padding: 0; }
        /* line 64, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-data .display,
        .update-profile-container .header .profile-user .user-data .display {
          margin-left: 10px;
          margin-top: 25px;
          float: left;
          width: 600px; }
        /* line 70, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .header .profile-user .user-data .form-fields,
        .update-profile-container .header .profile-user .user-data .form-fields {
          float: left;
          padding-top: 15px; }
          /* line 76, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .header .profile-user .user-data .form-fields .form-group label,
          .update-profile-container .header .profile-user .user-data .form-fields .form-group label {
            width: 80px;
            text-align: left; }
          /* line 80, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .header .profile-user .user-data .form-fields .form-group .fields,
          .update-profile-container .header .profile-user .user-data .form-fields .form-group .fields {
            margin-left: 5px;
            width: 280px; }
    /* line 89, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .header .buttons,
    .update-profile-container .header .buttons {
      position: absolute;
      right: 0;
      bottom: 5px; }
      /* line 94, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .header .buttons .btn-update-profile,
      .profile-container .header .buttons .btn-save-profile,
      .update-profile-container .header .buttons .btn-update-profile,
      .update-profile-container .header .buttons .btn-save-profile {
        margin-right: 5px;
        background: #ff6400;
        width: 140px;
        text-transform: uppercase;
        color: #fff;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        border-color: #ff6400;
        -moz-box-shadow: 0 1px 2px #2f0b0f;
        -webkit-box-shadow: 0 1px 2px #2f0b0f;
        box-shadow: 0 1px 2px #2f0b0f; }
      /* line 109, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .header .buttons .btn-cancel-update-profile,
      .update-profile-container .header .buttons .btn-cancel-update-profile {
        width: 140px;
        text-transform: uppercase;
        color: #757575;
        font-family: "proxima-nova-condensed";
        font-size: 14px;
        font-weight: bold;
        padding: 4px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f9f9f9;
        -moz-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        -webkit-box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9;
        box-shadow: 0 1px 2px #6c6c6c, inset 0 1px 0 #f9f9f9; }
  /* line 133, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .form-group,
  .update-profile-container .form-group {
    margin: 0 0 8px 0; }
    /* line 136, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group input,
    .update-profile-container .form-group input {
      padding: 3px 10px;
      height: 26px; }
    /* line 140, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group span,
    .update-profile-container .form-group span {
      display: block;
      color: #585858; }
    /* line 144, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group label,
    .update-profile-container .form-group label {
      color: #969696;
      font-weight: normal;
      padding-top: 3px;
      /* override bootstap */
      padding-left: 0;
      padding-right: 0;
      float: left;
      width: 120px; }
      /* line 153, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .form-group label.checkfield,
      .update-profile-container .form-group label.checkfield {
        padding-left: 100px; }
    /* line 157, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group select,
    .update-profile-container .form-group select {
      height: 30px; }
      /* line 160, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .form-group select#graduation,
      .update-profile-container .form-group select#graduation {
        width: 100px; }
    /* line 165, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .fields,
    .update-profile-container .form-group .fields {
      width: 310px;
      float: left;
      margin-left: 20px;
      font-size: 14px;
      color: #969696; }
    /* line 173, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .radio-group div,
    .update-profile-container .form-group .radio-group div {
      float: left; }
    /* line 176, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .radio-group label,
    .update-profile-container .form-group .radio-group label {
      padding-top: 0; }
    /* line 183, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .radio-group .radio-fields label,
    .update-profile-container .form-group .radio-group .radio-fields label {
      width: 100%; }
    /* line 186, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .radio-group .radio-fields div,
    .update-profile-container .form-group .radio-group .radio-fields div {
      margin-right: 6px; }
    /* line 190, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    
    .profile-container .form-group .radio-group #school,
    .update-profile-container .form-group .radio-group #school {
      //display: none; 
    }


    /* line 194, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group.email-field-group,
    .update-profile-container .form-group.email-field-group {
      margin-bottom: 5px; }
    /* line 198, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .check-fields a,
    .update-profile-container .form-group .check-fields a {
      color: #161b8e; }
    /* line 201, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .check-fields div,
    .update-profile-container .form-group .check-fields div {
      height: 30px;
      margin-right: 8px;
      margin-bottom: 5px;
      float: left;
      clear: both; }
    /* line 208, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .form-group .check-fields span,
    .update-profile-container .form-group .check-fields span {
      font-size: 11px;
      margin-right: 6px;
      float: left;
      width: 80%; }
  /* line 219, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .display-container,
  .profile-container .form-container,
  .update-profile-container .display-container,
  .update-profile-container .form-container {
    float: left;
    width: 100%;
    margin: 10px 0 20px 0; }
    /* line 224, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container hr,
    .profile-container .form-container hr,
    .update-profile-container .display-container hr,
    .update-profile-container .form-container hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #161b8e;
      margin: 1em 0 0.5em 0;
      padding: 0; }
    /* line 233, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container h2,
    .profile-container .form-container h2,
    .update-profile-container .display-container h2,
    .update-profile-container .form-container h2 {
      text-transform: uppercase;
      font-family: "proxima-nova-condensed";
      font-size: 18px;
      font-weight: bold;
      color: #585858;
      margin: 2px 0 25px 0; }
    /* line 242, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container ul.filtered-tags,
    .profile-container .form-container ul.filtered-tags,
    .update-profile-container .display-container ul.filtered-tags,
    .update-profile-container .form-container ul.filtered-tags {
      float: left;
      width: 100%;
      margin: 0 0 4px 0;
      padding: 0; }
      /* line 247, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container ul.filtered-tags li,
      .profile-container .form-container ul.filtered-tags li,
      .update-profile-container .display-container ul.filtered-tags li,
      .update-profile-container .form-container ul.filtered-tags li {
        width: auto !important;
        float: left;
        margin-right: 10px;
        padding: 3px 0;
        display: inline-block; }
        /* line 253, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container ul.filtered-tags li span,
        .profile-container .form-container ul.filtered-tags li span,
        .update-profile-container .display-container ul.filtered-tags li span,
        .update-profile-container .form-container ul.filtered-tags li span {
          float: left;
          background: #fff;
          padding: 2px 4px !important;
          margin-right: 2px !important;
          border: 1px solid #ccc;
          font-size: 11px !important;
          font-family: arial !important; }
        /* line 262, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container ul.filtered-tags li a,
        .profile-container .form-container ul.filtered-tags li a,
        .update-profile-container .display-container ul.filtered-tags li a,
        .update-profile-container .form-container ul.filtered-tags li a {
          float: left;
          background: #fff;
          padding: 2px 3px !important;
          color: #585858;
          font-size: 11px !important;
          font-family: arial !important;
          border: 1px solid #ccc; }
    /* line 274, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container .column,
    .profile-container .form-container .column,
    .update-profile-container .display-container .column,
    .update-profile-container .form-container .column {
      float: left;
      width: 480px;
      padding-right: 20px; }
      /* line 278, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .column .form-group,
      .profile-container .form-container .column .form-group,
      .update-profile-container .display-container .column .form-group,
      .update-profile-container .form-container .column .form-group {
        margin-bottom: 16px; }
        /* line 280, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .column .form-group.tight,
        .profile-container .form-container .column .form-group.tight,
        .update-profile-container .display-container .column .form-group.tight,
        .update-profile-container .form-container .column .form-group.tight {
          margin-bottom: 8px; }
    /* line 285, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container .column.right,
    .profile-container .form-container .column.right,
    .update-profile-container .display-container .column.right,
    .update-profile-container .form-container .column.right {
      width: 400px;
      float: right;
      padding-right: 0; }
      /* line 290, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .column.right .form-group,
      .profile-container .form-container .column.right .form-group,
      .update-profile-container .display-container .column.right .form-group,
      .update-profile-container .form-container .column.right .form-group {
        margin-bottom: 20px; }
        /* line 292, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .column.right .form-group .fields,
        .profile-container .form-container .column.right .form-group .fields,
        .update-profile-container .display-container .column.right .form-group .fields,
        .update-profile-container .form-container .column.right .form-group .fields {
          width: 250px; }
        /* line 296, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .column.right .form-group .list-affiliations,
        .profile-container .display-container .column.right .form-group .list-jobs,
        .profile-container .form-container .column.right .form-group .list-affiliations,
        .profile-container .form-container .column.right .form-group .list-jobs,
        .update-profile-container .display-container .column.right .form-group .list-affiliations,
        .update-profile-container .display-container .column.right .form-group .list-jobs,
        .update-profile-container .form-container .column.right .form-group .list-affiliations,
        .update-profile-container .form-container .column.right .form-group .list-jobs {
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          font-size: 14px;
          float: left; }
          /* line 304, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .column.right .form-group .list-affiliations li,
          .profile-container .display-container .column.right .form-group .list-jobs li,
          .profile-container .form-container .column.right .form-group .list-affiliations li,
          .profile-container .form-container .column.right .form-group .list-jobs li,
          .update-profile-container .display-container .column.right .form-group .list-affiliations li,
          .update-profile-container .display-container .column.right .form-group .list-jobs li,
          .update-profile-container .form-container .column.right .form-group .list-affiliations li,
          .update-profile-container .form-container .column.right .form-group .list-jobs li {
            position: relative;
            margin: 5px 0;
            padding: 6px 10px;
            background: url("../imgs/connect/bk-showme.png");
            float: left;
            width: 100%; }
            /* line 312, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
            .profile-container .display-container .column.right .form-group .list-affiliations li span,
            .profile-container .display-container .column.right .form-group .list-jobs li span,
            .profile-container .form-container .column.right .form-group .list-affiliations li span,
            .profile-container .form-container .column.right .form-group .list-jobs li span,
            .update-profile-container .display-container .column.right .form-group .list-affiliations li span,
            .update-profile-container .display-container .column.right .form-group .list-jobs li span,
            .update-profile-container .form-container .column.right .form-group .list-affiliations li span,
            .update-profile-container .form-container .column.right .form-group .list-jobs li span {
              float: left;
              width: 98%; }
            /* line 316, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
            .profile-container .display-container .column.right .form-group .list-affiliations li a,
            .profile-container .display-container .column.right .form-group .list-jobs li a,
            .profile-container .form-container .column.right .form-group .list-affiliations li a,
            .profile-container .form-container .column.right .form-group .list-jobs li a,
            .update-profile-container .display-container .column.right .form-group .list-affiliations li a,
            .update-profile-container .display-container .column.right .form-group .list-jobs li a,
            .update-profile-container .form-container .column.right .form-group .list-affiliations li a,
            .update-profile-container .form-container .column.right .form-group .list-jobs li a {
              right: -8px;
              top: 30%;
              position: absolute;
              width: 20px;
              height: 20px; }
        /* line 325, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .column.right .form-group .lookup-organization,
        .profile-container .form-container .column.right .form-group .lookup-organization,
        .update-profile-container .display-container .column.right .form-group .lookup-organization,
        .update-profile-container .form-container .column.right .form-group .lookup-organization {
          width: 100%;
          float: left;
          clear: both; }
          /* line 329, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .column.right .form-group .lookup-organization input,
          .profile-container .form-container .column.right .form-group .lookup-organization input,
          .update-profile-container .display-container .column.right .form-group .lookup-organization input,
          .update-profile-container .form-container .column.right .form-group .lookup-organization input {
            width: 190px;
            margin-bottom: 5px;
            float: left; }
          /* line 334, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .column.right .form-group .lookup-organization a,
          .profile-container .form-container .column.right .form-group .lookup-organization a,
          .update-profile-container .display-container .column.right .form-group .lookup-organization a,
          .update-profile-container .form-container .column.right .form-group .lookup-organization a {
            font-size: 12px;
            color: #161b8e;
            float: right; }
        /* line 340, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .column.right .form-group .add-job-container,
        .profile-container .form-container .column.right .form-group .add-job-container,
        .update-profile-container .display-container .column.right .form-group .add-job-container,
        .update-profile-container .form-container .column.right .form-group .add-job-container {
          float: left;
          width: 100%;
          margin-top: 5px; }
          /* line 345, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .column.right .form-group .add-job-container .formfields,
          .profile-container .form-container .column.right .form-group .add-job-container .formfields,
          .update-profile-container .display-container .column.right .form-group .add-job-container .formfields,
          .update-profile-container .form-container .column.right .form-group .add-job-container .formfields {
            float: left;
            clear: both;
            margin: 3px 0; }
          /* line 350, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .column.right .form-group .add-job-container select,
          .profile-container .form-container .column.right .form-group .add-job-container select,
          .update-profile-container .display-container .column.right .form-group .add-job-container select,
          .update-profile-container .form-container .column.right .form-group .add-job-container select {
            width: 120px; }
    /* line 357, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
    .profile-container .display-container .data-container,
    .profile-container .form-container .data-container,
    .update-profile-container .display-container .data-container,
    .update-profile-container .form-container .data-container {
      float: left;
      width: 100%;
      padding-top: 5px; }
      /* line 362, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container h4,
      .profile-container .form-container .data-container h4,
      .update-profile-container .display-container .data-container h4,
      .update-profile-container .form-container .data-container h4 {
        font-family: "proxima-nova-condensed";
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #161b8e;
        text-transform: uppercase;
        margin: 3px 0 0 0;
        padding: 0; }
      /* line 372, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container i,
      .profile-container .form-container .data-container i,
      .update-profile-container .display-container .data-container i,
      .update-profile-container .form-container .data-container i {
        margin-left: 10px;
        font-size: 12px;
        color: #585858; }
      /* line 377, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container hr,
      .profile-container .form-container .data-container hr,
      .update-profile-container .display-container .data-container hr,
      .update-profile-container .form-container .data-container hr {
        float: left;
        width: 100%;
        font-family: "proxima-nova-condensed";
        margin: 0.5em 0;
        border-top: 1px solid #ccc; }
      /* line 385, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container .btn-mini,
      .profile-container .form-container .data-container .btn-mini,
      .update-profile-container .display-container .data-container .btn-mini,
      .update-profile-container .form-container .data-container .btn-mini {
        float: left;
        color: #585858;
        font-family: "proxima-nova-condensed";
        font-size: 12px;
        font-weight: bold;
        padding: 1px 10px;
        border: 1px solid #b7b7b7;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #f3f3f3; }
      /* line 402, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container .data-items,
      .profile-container .form-container .data-container .data-items,
      .update-profile-container .display-container .data-container .data-items,
      .update-profile-container .form-container .data-container .data-items {
        float: left;
        width: 100%;
        padding-top: 5px;
        padding-left: 0;
        margin-left: 0; }
        /* line 408, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .data-container .data-items li,
        .profile-container .form-container .data-container .data-items li,
        .update-profile-container .display-container .data-container .data-items li,
        .update-profile-container .form-container .data-container .data-items li {
          list-style: none;
          float: left;
          width: 100%;
          padding: 5px 0; }
          /* line 413, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .data-container .data-items li label,
          .profile-container .form-container .data-container .data-items li label,
          .update-profile-container .display-container .data-container .data-items li label,
          .update-profile-container .form-container .data-container .data-items li label {
            color: #969696;
            font-weight: normal;
            padding-top: 5px;
            /* override bootstap */
            padding-left: 0;
            padding-right: 0;
            float: left;
            width: 33.3%; }
          /* line 422, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .data-container .data-items li span,
          .profile-container .form-container .data-container .data-items li span,
          .update-profile-container .display-container .data-container .data-items li span,
          .update-profile-container .form-container .data-container .data-items li span {
            float: left;
            color: #585858;
            padding: 5px 0 0 22px; }
          /* line 428, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .data-container .data-items li .sublist,
          .profile-container .form-container .data-container .data-items li .sublist,
          .update-profile-container .display-container .data-container .data-items li .sublist,
          .update-profile-container .form-container .data-container .data-items li .sublist {
            color: #585858; }
            /* line 430, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
            .profile-container .display-container .data-container .data-items li .sublist li,
            .profile-container .form-container .data-container .data-items li .sublist li,
            .update-profile-container .display-container .data-container .data-items li .sublist li,
            .update-profile-container .form-container .data-container .data-items li .sublist li {
              float: right;
              width: 70%;
              padding: 7px 0 0 10px;
              font-size: 14px;
              line-height: 16px; }
      /* line 441, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container .privacy-container,
      .profile-container .form-container .data-container .privacy-container,
      .update-profile-container .display-container .data-container .privacy-container,
      .update-profile-container .form-container .data-container .privacy-container {
        float: left;
        clear: both;
        width: 100%;
        margin-top: 40px; }
        /* line 446, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .data-container .privacy-container strong,
        .profile-container .form-container .data-container .privacy-container strong,
        .update-profile-container .display-container .data-container .privacy-container strong,
        .update-profile-container .form-container .data-container .privacy-container strong {
          font-family: "proxima-nova-condensed";
          color: #969696;
          font-size: 14px; }
        /* line 452, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .data-container .privacy-container ul,
        .profile-container .form-container .data-container .privacy-container ul,
        .update-profile-container .display-container .data-container .privacy-container ul,
        .update-profile-container .form-container .data-container .privacy-container ul {
          padding-left: 18px; }
          /* line 454, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
          .profile-container .display-container .data-container .privacy-container ul li,
          .profile-container .form-container .data-container .privacy-container ul li,
          .update-profile-container .display-container .data-container .privacy-container ul li,
          .update-profile-container .form-container .data-container .privacy-container ul li {
            font-size: 14px;
            color: #969696; }
      /* line 460, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container.vetvance-connections,
      .profile-container .form-container .data-container.vetvance-connections,
      .update-profile-container .display-container .data-container.vetvance-connections,
      .update-profile-container .form-container .data-container.vetvance-connections {
        margin-top: 40px; }
      /* line 463, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container .friends-container,
      .profile-container .form-container .data-container .friends-container,
      .update-profile-container .display-container .data-container .friends-container,
      .update-profile-container .form-container .data-container .friends-container {
        float: left;
        width: 100%;
        margin-top: 10px; }
        /* line 468, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
        .profile-container .display-container .data-container .friends-container img,
        .profile-container .form-container .data-container .friends-container img,
        .update-profile-container .display-container .data-container .friends-container img,
        .update-profile-container .form-container .data-container .friends-container img {
          padding: 4px 2px; }
      /* line 473, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
      .profile-container .display-container .data-container.privacy-container-form,
      .profile-container .form-container .data-container.privacy-container-form,
      .update-profile-container .display-container .data-container.privacy-container-form,
      .update-profile-container .form-container .data-container.privacy-container-form {
        float: left;
        margin-top: 30px; }
  /* line 482, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .error,
  .update-profile-container .error {
    display: none !important; }
  /* line 486, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .has-error label,
  .update-profile-container .has-error label {
    color: #b94a48; }
  /* line 489, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .has-error input::-webkit-input-placeholder,
  .update-profile-container .has-error input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b94a48; }
  /* line 492, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .has-error input:-moz-placeholder,
  .update-profile-container .has-error input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b94a48; }
  /* line 495, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .has-error input::-moz-placeholder,
  .update-profile-container .has-error input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b94a48; }
  /* line 498, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .has-error input:-ms-input-placeholder,
  .update-profile-container .has-error input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #b94a48; }
  /* line 502, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/profiles.scss */
  .profile-container .required-msg.has-error,
  .update-profile-container .required-msg.has-error {
    color: #b94a48;
    font-weight: bold; }

  .selectize-dropdown-content .option{
    width: 100%;
  }
