@media only screen and (max-width: 768px) {
	.register-container{
		padding: 100px 10px 10px 10px;
	}

	.form-group{
      margin: 0 !important;
    }

    .mobile-register-text{
    	font-size: 10px;
    }
}