﻿.transcript-container {
    padding: 50px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova-extra-condensed";
}

.uppercase {
    text-transform: uppercase;
}

/* Global color declarations can be used in <span> to create multi color text */
/* line 386, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.orange {
  color: #ff6400 !important; }

/* line 390, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.fb {
  color: #e03e52 !important; }

/* line 394, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.mmm {
  color: #407ec9 !important; }

/* line 398, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.pd {
  color: #00b3d3 !important; }

/* line 402, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.bi {
  color: #3f7dc8 !important; }

/* line 406, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.gray {
  color: #b2b2b2 !important; }

/* line 410, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
.purple {
  color: #161b8e !important; }