/* line 4, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
.whoweare-container {
  margin: 30px 0;
  padding: 0 26px 0 26px;
  float: left;
  width: 100%; }
  /* line 10, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
  .whoweare-container h2, .whoweare-container h3 {
    margin: 0 0 10px 0;
    color: #161b8e;
    font-family: "proxima-nova-condensed";
    font-size: 20px;
    font-weight: bold;
    /*text-transform: uppercase;*/
     }
  /* line 18, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
  .whoweare-container h3 {
    font-size: 16px;
    margin-top: 30px; }
  /* line 22, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
  .whoweare-container p {
    font-size: 14px;
    color: #585858;
    width: 95%; }
  /* line 27, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
  .whoweare-container .columns {
    float: left; }
    /* line 30, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
    .whoweare-container .columns.left-column {
      width: 420px;
      float: left;
      padding: 0 10px; }
      /* line 34, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
      .whoweare-container .columns.left-column .video-container {
        width: 384px;
        height: 258px;
        display: inline-block; }
    /* line 41, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
    .whoweare-container .columns.contributors {
      float: right;
      border: 1px solid #e2e2e2;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      width: 470px;
      height: auto;
      margin-bottom: 30px; }
      /* line 54, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
      .whoweare-container .columns.contributors .header {
        padding: 20px 20px 0 20px; }
        /* line 56, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
        .whoweare-container .columns.contributors .header h3 {
          margin-top: 0px; }
        /* line 59, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
        .whoweare-container .columns.contributors .header hr {
          display: block;
          height: 1px;
          border: 0;
          border-top: 1px solid #161b8e;
          margin: 1em 0 0.5em 0;
          padding: 0; }
        /* line 67, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
        .whoweare-container .columns.contributors .header p.helper {
          font-size: 12px;
          color: #585858; }
      /* line 72, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
      .whoweare-container .columns.contributors .data-container {
        float: left;
        width: 100%;
        margin-top: 10px;
        padding: 0 10px; }
        /* line 77, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
        .whoweare-container .columns.contributors .data-container .data-person {
          list-style: none;
          float: left;
          width: 108px;
          margin-right: 4px;
          margin-bottom: 10px; }
          /* line 83, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
          .whoweare-container .columns.contributors .data-container .data-person img {
            display: block;
            margin: 0 auto;
            width:96px;
            height:96px;
          }
          /* line 87, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
          .whoweare-container .columns.contributors .data-container .data-person .info {
            float: left;
            width: 100%; }
            /* line 90, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
            .whoweare-container .columns.contributors .data-container .data-person .info strong {
              font-size: 10px;
              color: #585858;
              text-align: center;
              width: 100px;
              display: inline-block; }
            /* line 97, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
            .whoweare-container .columns.contributors .data-container .data-person .info p {
              font-size: 9px;
              color: #585858;
              text-align: center;
              width: 100%; }
          /* line 104, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/whoweare.scss */
          .whoweare-container .columns.contributors .data-container .data-person:last-child {
            margin-right: 0px; }




.video-js .vjs-control-bar   {
  display: none;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0.1em;
  /* Transparent black background, or fallback to all black (oldIE) */
  background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.50);
}