<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Happy Fuel :)</title>
    <link href="./css/app.css" rel="stylesheet"/>
    <link href="./css/update.css" rel="stylesheet"/>
    <link href="./javascripts/vendor/mediaelement/mediaelementplayer.min.css" rel="stylesheet"/>
    <script src="./javascripts/vendor/require.js" data-main="./javascripts/main"></script>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1, user-scalable = no">
</head>
<body ng-controller="mainController" class="{{selectedFuelType}}" data-isloggedin="{{isLoggedIn}}">

<div class="main-container">

<div class="welcome" onclick="(function(){})">
</div>
<!-- <div class="lightbox-screen"></div> -->

<header>
    <img id="logo" src="css/images/happy-fuel-logo.png" />
    
    <div class="mobile-menu">
        <div class="icon-ios-menu"></div>
        <ul>
            <li>:) wall</li>
            <li ng-show="currentUser != null" ng-click="logout();">logout</li>
            <li ng-show="currentUser == null" ng-click="setView('sign-in');">sign in</li>
            <li ng-show="currentUser != null" ng-click="setView('manage-account');">manage account</li>
            <li class="mbl-mission static-content-target" data-static-content-target="mission" onclick="(function(){})">mission</li>
        </ul>
        <ul>
            <li class="static-content-target" data-static-content-target="contact" onclick="(function(){})">contact us</li>
            <li class="static-content-target" data-static-content-target="terms" onclick="(function(){})">terms &amp; policies</li>
            <li>&copy; Happy Fuel LLC 2013</li>
        </ul>
    </div>
    <nav>
        <div class="unknown" ng-click="setView('sign-in');"></div><div class="user" ng-bind="getCurrentUsername()"></div>
        <span class="header-prefix-non-mobile">you are </span>being filled up with
        <div class="menus">
            <div class="sort-menu"><span class="title">the happiest</span>
                <div class="menu">
                    <div class="down-arrow"></div>
                    <ul>
                        <li ng-click="selectPostType('H')">the happiest</li>
                        <li ng-click="selectPostType('-')">the newest</li>
                        <li ng-click="selectPostType('F')" ng-show="currentUser != null">your friend's</li>
                        <li ng-click="selectPostType('O')" ng-show="currentUser != null">your own</li>
                        <li class="menu-item-search">tags or people</li>
                    </ul>
                </div>
            </div>
            <div class="filter-menu"><span class="title">fuel</span>
                <div class="menu">
                    <div class="down-arrow"></div>
                    <ul>
                        <li class="photo" ng-click="selectFuelType('P')">photos</li>
                        <li class="location" ng-click="selectFuelType('L')">locations</li>
                        <li class="music" ng-click="selectFuelType('M')">music</li>
                        <li class="sound" ng-click="selectFuelType('S')">sounds</li>
                        <li class="video" ng-click="selectFuelType('V')">videos</li>
                        <li class="thought" ng-click="selectFuelType('T')">thoughts</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="search off">
            <input type="text" ng-model="searchText" ng-change="checkInputForUsernameAndHashtags();" />
            <div class="btn-close"></div>
            <div class="search-results-container" ng-show="matchingSearchHashtags.length > 0 || matchingSearchUsers.length > 0">
                <ul class="user-search-results">
                    <li>Tags:</li>
                    <li ng-repeat="tag in matchingSearchHashtags" ng-click="searchTag(tag);" onclick="hfapp.hideDashboard();">#{{tag}}</li>
                </ul>
                <ul class="user-search-results">
                    <li>Users:</li>
                    <li ng-repeat="user in matchingSearchUsers" ng-click="searchUser(user);" onclick="hfapp.hideDashboard();">@{{user.UserName}}</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mission static-content-target" data-static-content-target="mission">
        <div class="happy-face">about</div>
    </div>
</header>
<section class="dashboard" ng-controller="dashboardController">
<div class="navigation">
    <div class="arrow-up"></div>
    <div class="nav-state on" data-view="fuels"><span>fuels</span></div>
    <div class="nav-state off" data-view="fuelers"><span>fuelers</span></div>
    <div class="nav-state off" data-view="friends"><span>friends</span></div>
    <div class="arrow-down"></div>
</div>
<section class="fuels">
    <div class="icons">
        <div class="photo"></div>
        <div class="location"></div>
        <div class="music"></div>
        <div class="sound"></div>
        <div class="video"></div>
        <div class="thought"></div>
    </div>
    <div class="content-box">
        <p><strong>my posts by type</strong></p>
        <div class="value-bar photo" style="width:{{dashboardData.myPostsByType.P.PctValue}}%;">{{dashboardData.myPostsByType.P.FuelTypeRowCount}}</div>
        <div class="value-bar music" style="width:{{dashboardData.myPostsByType.M.PctValue}}%;">{{dashboardData.myPostsByType.M.FuelTypeRowCount}}</div>
        <div class="value-bar location" style="width:{{dashboardData.myPostsByType.L.PctValue}}%;">{{dashboardData.myPostsByType.L.FuelTypeRowCount}}</div>
        <div class="value-bar sound" style="width:{{dashboardData.myPostsByType.S.PctValue}}%;">{{dashboardData.myPostsByType.S.FuelTypeRowCount}}</div>
        <div class="value-bar video" style="width:{{dashboardData.myPostsByType.V.PctValue}}%;">{{dashboardData.myPostsByType.V.FuelTypeRowCount}}</div>
        <div class="value-bar thought" style="width:{{dashboardData.myPostsByType.T.PctValue}}%;">{{dashboardData.myPostsByType.T.FuelTypeRowCount}}</div>
        <p><strong>top posts</strong></p>
        <p class="avatar-row">
            <span class="avatar"
                  style="background-image: url({{getImgPath(post.FuelThumbData)}});"
                  ng-repeat="post in dashboardData.myTopPosts"
                  ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}"
                  data-post-type="{{post.FuelType}}" data-bkgd-img="{{getBkgdImg(post, post.FuelType, post.FuelData)}}"></span>
        </p>
    </div>
    <div class="content-box">
        <p><strong>posts I rated</strong></p>
        <div class="value-bar photo" style="width:{{dashboardData.postsIRated.P.PctValue}}%;">{{dashboardData.postsIRated.P.FuelTypeRowCount}}</div>
        <div class="value-bar music" style="width:{{dashboardData.postsIRated.M.PctValue}}%;">{{dashboardData.postsIRated.M.FuelTypeRowCount}}</div>
        <div class="value-bar location" style="width:{{dashboardData.postsIRated.L.PctValue}}%;">{{dashboardData.postsIRated.L.FuelTypeRowCount}}</div>
        <div class="value-bar sound" style="width:{{dashboardData.postsIRated.S.PctValue}}%;">{{dashboardData.postsIRated.S.FuelTypeRowCount}}</div>
        <div class="value-bar video" style="width:{{dashboardData.postsIRated.V.PctValue}}%;">{{dashboardData.postsIRated.V.FuelTypeRowCount}}</div>
        <div class="value-bar thought" style="width:{{dashboardData.postsIRated.T.PctValue}}%;">{{dashboardData.postsIRated.T.FuelTypeRowCount}}</div>
        <p><strong>my favorite posts</strong></p>
        <p class="avatar-row">
            <span class="avatar"
                  style="background-image: url({{getImgPath(post.FuelThumbData)}});"
                  ng-repeat="post in dashboardData.myFavoritePosts"
                  ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}"
                  data-post-type="{{post.FuelType}}" data-bkgd-img="{{getBkgdImg(post, post.FuelType, post.FuelData)}}"></span>
        </p>
    </div>
</section>
<section class="fuelers">
    <div class="content-box">
        <p><strong>my biggest fans</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.topFans.slice(0,4)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.topFans.slice(4,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
    <div class="content-box">
        <p><strong>my favorite fuelers</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelers.slice(0,4)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelers.slice(4,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
</section>
<section class="friends">
    <div class="content-box">
        <p><strong>my fuelers</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.userFuelers.slice(0,4)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.userFuelers.slice(4,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
    <div class="content-box">
        <p><strong>friends I follow</strong></p>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelers.slice(0,4)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
        <div class="col">
            <div class="user-box" ng-click="searchUser(item);" ng-repeat="item in dashboardData.favoriteFuelers.slice(4,8)">
                <div class="avatar" style="{{getAvatarBkgdImg(item.AvatarId)}}"></div>
                <div class="user-info">
                    <span>:)</span> <strong>{{item.UserName}}</strong><br/>{{item.Location}}
                </div>
                <div class="rating-info"><strong>{{item.RatingsCount}}</strong><br/>ratings</div>
            </div>
        </div>
    </div>
</section>
</section>
<section class="post-detail {{commentsPaneState}}" ng-controller="detailController">
    <div class="lightbox-screen"></div>
    <div class="full-page-image"></div>
    <div class="thank-you-message">Thank you. Your vote has been added to our collective :) fuel.</div>
    <div class="dial-not-logged-in-message" ng-show="currentUser == null"><a href="#sign-in" ng-click="setView('sign-in');">Sign in</a> or <a href="#sign-up" ng-click="setView('sign-up');">sign up</a> to chime in</div>
    <div class="dial-tab" ng-click="">{{selectedRatingValue}}</div>
    <div class="btn-close"></div>
    <div class="btn-expand-collapse">&minus;</div>


    <div class="rating-container">
        <div class="screen-overlay"></div>
        <div class="rate-overlay"></div>
        <div class="rate-needle"></div>
        <div class="rate-listener">
            <div class="btn-close"></div>
            <input type="hidden" id="selectedRatingValue" ng-model="selectedRatingValue"/>
            <div class="post-info">{{selectedRatingValue}}</div>
        </div>
        <div class="rate-tools">
            <div class="already-rated" ng-show="currentUserHasRatedSelectedPost == true"><strong>You have already rated this post :)</strong></div>
            <div ng-show="currentUserHasRatedSelectedPost == false">
                <div class="rate-comment">
                    <div class="avatar"></div>
                    <input type="hidden" ng-model="ratingValue" class="ratingValue"/>
                    <div class="txtarea"><textarea placeholder="share your :)" ng-model="ratingComment"></textarea></div>
                </div>
                <div class="post-group">
                    <a class="btn-post" href="#" ng-show="currentUserHasRatedSelectedPost != true" ng-click="ratePost()">&#160;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-pane">
        <section class="group">
            <header>
                <div class="avatar"></div>
                <div class="info"><h4>:) {{fullPostDetail.UserName}}</h4><p>{{fullPostDetail.UserLocation}}</p></div>
                <a href="#" class="follow" ng-show="currentUser != null && selectedPostIsFollowingUser == false" ng-click="followUser();"><div class="button blue">follow</div></a>
            </header>
            <section class="post-description">
                <h4>{{selectedPost.FuelTitle}}</h4>
                <p>{{selectedPost.FuelCaption}}</p>
            </section>
            <section class="post-tags">
                <strong>tags:</strong> <a href="#" ng-repeat="tag in postHashTags" ng-click="searchTag(tag)">{{tag}}</a>
            </section>
        </section>
        <section class="group">
            <section class="post-comment-header" ng-show="currentUserHasRatedSelectedPost != true">
                <p><strong>comments</strong></p>
                <div class="comments-not-logged-in-message" ng-show="currentUser == null"><a href="#sign-in" ng-click="setView('sign-in');">Sign in</a> or <a href="#sign-up" ng-click="setView('sign-up');">sign up</a> to chime in</div>
            <span ng-show="currentUser != null">
                <div class="avatar"></div>
                <div class="txtarea">
                    <textarea placeholder="share your :)" ng-model="ratingComment" ng-change="checkInputForUsername();"></textarea>
                    <a class="btn-post" href="#" ng-click="ratePost()">&#160;</a>
                </div>
            </span>
                <ul class="user-search-results" ng-show="matchingUsers.length > 0">
                    <li ng-repeat="user in matchingUsers" ng-click="selectUser(user);">@{{user.UserName}}</li>
                </ul>
            </section>
            <section class="post-comments-list">
                <ul>
                    <li ng-show="postRatings.length == 0">
                        Be the first to comment on this post :)
                    </li>
                    <li ng-repeat="item in postRatings">
                        <div class="avatar"></div>
                        <div class="comment-text">
                            <strong>{{item.UserName}}</strong>
                            <p>{{item.Comments}}</p>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </div>

    <div class="share-links">
        <a href="#" class="facebook ir" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{deepLinkUrl}}','facebook-share-dialog','width=626,height=436');return false;">&#160;</a>
        <a href="#" onclick="window.open('http://twitter.com/share?hashtags=HappyFuel,HappyFuelApp&text={{fullPostDetail.FuelTitle}}&url={{deepLinkUrl}}','twitter-share-dialog','width=626,height=436');return false;" class="twitter ir" target="_blank">&#160;</a>
        <a href="mailto:someone@typeemailhere.com?subject=HappyFuel Post - fueled a photo: {{fullPostDetail.FuelTitle}}&body={{deepLinkUrl}}" class="email ir" target="_blank">&#160;</a>
    </div>

</section>
<section class="wall" ng-controller="wallController">
    <div class="lightbox-screen"></div>
    <div class="rating-container">
        <div class="screen-overlay"></div>
        <div class="rate-overlay"></div>
        <div class="rate-needle"></div>
        <div class="rate-listener">
            <input type="hidden" id="selectedRatingValue" ng-model="selectedRatingValue"/>
            <div class="post-info">{{selectedRatingValue}}</div>
        </div>
        <div class="rate-tools">
            <div class="rate-comment">
                <div class="avatar"></div>
                <input type="hidden" ng-model="ratingValue" class="ratingValue"/>
                <div class="txtarea"><textarea placeholder="share your :)" ng-model="ratingComment"></textarea></div>
            </div>
            <div class="post-group">
                <a class="btn-post" href="#" ng-click="ratePost()">&#160;</a>
            </div>
        </div>
    </div>

    <div ng-repeat="module in modules" class="module type-0{{module.moduleTypeNumber}}">
        <div class="item {{post.FuelType}}" ng-repeat="post in module.unitPosts" ng-click="selectPost(post);" data-post-rating="{{post.FuelRatingCount}}" data-post-type="{{post.FuelType}}" data-bkgd-img="{{getBkgdImg(post, post.FuelType, post.FuelData)}}" style="background-image: url('{{getBkgdImg(post, post.FuelType, post.FuelThumbData)}}');">
            <div class="item-content icon-container {{post.FuelType}}">
                <span ng-show="post.FuelType == 'T'" ng-bind="post.FuelCaption"></span>
                <span ng-show="post.FuelType == 'M'" ng-bind="post.FuelTitle"></span>
            </div>
            <div class="post-info" ng-click="setCurrentRating(post.FuelRatingCount);">{{post.FuelRatingCount}}</div>
        </div>
    </div>


</section>
<div class="lightbox-screen profile" ng-click="setView('');"></div>
<section class="profile" ng-controller="profileController">
    <div class="login form-column">
        <form name="loginForm">
            <strong>sign in</strong>
            <p>Log in below. If you haven't registered, please <a href="#sign-up" ng-click="setView('sign-up');">sign up</a>.</p>
            <div class="form-errors">
                <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                <span ng-show="loginForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                <span ng-show="loginForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
            </div>
            <div class="form-row">
                <label>username:</label>
                <input type="text" name="username" ng-pattern="validation.username" ng-model="username" required="" placeholder="username or email"/>
            </div>
            <div class="form-row">
                <label>password:</label>
                <input type="password" name="password" ng-model="password" ng-pattern="validation.password" required="" placeholder="8-12 characters"/>
            </div>
            <div class="align-content-to-form-elements">
                <p><a href="#reset-password" ng-click="setView('reset-password');">forgot username or password?</a></p>
                <div class="button pink {{isDisabled(loginForm.$valid)}}" ng-click="login();">connect</div>
                <div class="button pink cancel" >cancel</div>
            </div>
        </form>
    </div>
    <div class="reset-password form-column">
        <form name="resetpasswordForm">
            <strong>reset password request</strong>
            <p>Enter the email address associated with your account. <br/>Otherwise, <a href="#sign-in" ng-click="setView('sign-in');">click here to sign in</a>.</p>
            <div class="form-errors">
                <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                <span ng-show="resetpasswordForm.email.$dirty && !resetpasswordForm.email.$valid">email address is not valid</span>
            </div>
            <div class="form-row">
                <label>email:</label>
                <input type="email" name="resetEmail" ng-model="resetEmail" required="" placeholder="account email"/>
                <br/>
            </div>
            <p class="align-content-to-form-elements">
                <div class="button pink {{isDisabled(resetpasswordForm.$valid)}}" ng-click="resetPassword(resetpasswordForm);">request reset</div>
                <div class="button pink cancel" >cancel</div>
            </p>
        </form>
    </div>
    <div class="register">
        <div class="form-column">
            <strong>sign up</strong>
            <p>Sign up below. If you're already registered,<br/>use your existing info to <a href="#sign-up" ng-click="setView('sign-in');">log in</a>.</p>
            <form name="registerForm">
                <div class="form-errors">
                    <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                    <span ng-show="registerForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                    <span ng-show="registerForm.email.$dirty && !registerForm.email.$valid">email address is not valid</span>
                    <span ng-show="registerForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
                    <span ng-show="registerForm.passwordConfirm.$dirty && password != passwordConfirm">password confirmation must match</span>
                </div>
                <div class="form-row">
                    <label>username:</label>
                    <input type="text" name="username" ng-model="username" required="" ng-pattern="validation.username" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>email:</label>
                    <input type="email" name="email" ng-model="email" required="" placeholder="email"/>
                </div>
                <div class="form-row">
                    <label>password:</label>
                    <input type="password" name="password" ng-model="password" required="" ng-pattern="validation.password" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>confirm:</label>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required="" placeholder="type it again"/>
                </div>
                <div class="form-row">
                    <label>make profile public?</label>
                    <input type="radio" name="profile-visibility" value="public"/> yes
                    <input type="radio" name="profile-visibility" value="private"/> no
                </div>
                <p>
                    <small>By submitting this form you confirm that you are at least<br/>18 years of age and consent to our <a href="#">terms of use</a>.</small>
                </p>
                <div class="align-content-to-form-elements">
                    <div class="button pink {{isDisabled(registerForm.$valid)}}" ng-click="createProfile(registerForm);">connect</div>
                    <div class="button pink cancel" >cancel</div>
                </div>
            </form>
        </div>
        <div class="form-column profile-avatar">
            <strong>upload an avatar</strong>
            <p>Find the image you want<br/>on your computer.</p>
            <div class="button js-fileapi-wrapper">
                <div id="img-preview-create" class="img-preview"></div>
                <input  id="user-files-create" data-preview-container="img-preview-create" type="file" accept=".jpg,.jpeg" data-url="HFWebServices.svc/UploadFileByPOST">
            </div>
        </div>
    </div>
    <div class="manage-account">
        <div class="form-column">
            <strong>manage account</strong>
            <form name="manageAccountForm">
                <div class="form-errors">
                    <span ng-show="serverResponseError != ''" ng-bind="serverResponseError"></span>
                    <span ng-show="manageAccountForm.username.$error.pattern">username must be 8-12 alphanumeric characters</span>
                    <span ng-show="manageAccountForm.email.$dirty && !manageAccountForm.email.$valid">email address is not valid</span>
                    <span ng-show="manageAccountForm.password.$error.pattern">password must be 8-12 alphanumeric characters</span>
                    <span ng-show="manageAccountForm.passwordConfirm.$dirty && password != passwordConfirm">password confirmation must match</span>
                </div>
                <div class="form-row">
                    <label>username:</label>
                    <input type="text" name="username" ng-model="username" required="" ng-pattern="validation.username" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>email:</label>
                    <input type="email" name="email" ng-model="email" required="" placeholder="email"/>
                </div>
                <div class="form-row">
                    <label>password:</label>
                    <input type="password" name="password" ng-model="password" required="" ng-pattern="validation.password" placeholder="8-12 characters"/>
                </div>
                <div class="form-row">
                    <label>confirm:</label>
                    <input type="password" name="passwordConfirm" ng-model="passwordConfirm" required="" placeholder="type it again"/>
                </div>
                <div class="form-row">
                    <label>make profile public?</label>
                    <input type="radio" name="profile-visibility" value="public"/> yes
                    <input type="radio" name="profile-visibility" value="private"/> no
                </div>
                <small>By submitting this form you confirm that you are at least<br/>18 years of age and consent to our <a href="#">terms of use</a>.</small>
                <div class="align-content-to-form-elements">
                    <div class="button pink {{isDisabled(manageAccountForm.$valid)}}" ng-click="saveProfile(manageAccountForm);">connect</div>
                    <div class="button pink cancel" >cancel</div>
                </div>
            </form>
        </div>
        <div class="form-column profile-avatar">
            <strong>&#160;</strong>
            <p>&#160;</p>
            <div class="button js-fileapi-wrapper">
                <div id="img-preview-update" class="img-preview"></div>
                <input  id="user-files-update" data-preview-container="img-preview-update" type="file" accept=".jpg,.jpeg" data-url="HFWebServices.svc/UploadFileByPOST">
            </div>
        </div>
    </div>
</section>


<section class="static">
<section class="mission">
    <div class="content">
        <h1>our : ) mission:</h1>
        <p>We live in a time where seemingly every thought is shared, regardless of quality. There are no filters, and we all suffer as a result. Happy Fuel endeavors to own a new space, where thoughts and feelings are filtered through a happier, more positive lens.</p>
        <p>: ) fuel brings together the functional benefits of social media (sharing) and the aspirational (positivity) to create a new, healthier form of media: happy media.</p>
        <p>The : ) fuel app gives users a mobile place to store and share the things that fuel their happy, whether it's a song, photo, video, place, sound, or thought. : ) fuel even lets users gauge their own happiness while they share it with others.</p>
        <p>It’s easy to forget that happiness is a conscious choice. Choosing to be happy and spreading happiness via : ) fuel will lead to an increase in one’s own happiness and raise the Gross National Happiness Quotient, which has been operating at a deficit for far too long.</p>
        <p>join us in spreading the happy with : ) fuel.</p>

    </div>
</section>
<section class="contact">
    <h1>Contact Us</h1>
    <p>need copy &amp; layout comp</p>
</section>
<section class="terms">
<h1>Terms of Use and License Agreement</h1>
<div>
<p>
    Terms of use and license agreement
    <br/>
    Happy fuel, llc
    <br/>
    Effective as of October ___, 2013
</p>
<p>
    TERMS OF USE AND LICENSE AGREEMENT (this "Agreement") is between Happy Fuel, LLC with offices at 162 Fifth Avenue, New York, NY 10010 ("Company") and each
    user that accesses or uses the Company's Happy Fuel website (the "Site") located at [<a href="http://www.happyfuel.com/">www.happyfuel.com</a>]
    ("Licensee").
</p>
<p>
    PLEASE CAREFULLY READ THIS AGREEMENT BEFORE ACCESSING OR USING THE SITE. IT IS A BINDING CONTRACT BETWEEN YOU AND THE COMPANY. BY ACCESSING OR USING THE
    SITE, YOU ACCEPT AND FULLY AGREE TO BE BOUND BY ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT AND THE PRIVACY POLICY. IF YOU DO NOT FULLY AGREE, YOU MUST
    NOT ACCESS OR USE THE SITE.
</p>
<p>
    YOU REPRESENT AND WARRANT THAT YOU ARE AT LEAST EIGHTEEN (18) YEARS OLD. IF YOU ARE NOT AT LEAST EIGHTEEN, YOU CANNOT USE OR ACCESS THE SITE.
</p>
<p>
    1. DEFINITIONS. The following definitions shall apply to this Agreement.
</p>
<p>
    1.1 "<u>Licensee Content</u>" means all data and information entered into or submitted on the Site by Licensee.
</p>
<p>
    1.2 "<u>Party</u>" means Company or Licensee individually, and "Parties" means both Company and Licensee.
</p>
<p>
    2. USE OF SITE AND THE PARTIES' CONTENT
</p>
<p>
    2.1 <u>License Grant</u>. Subject to the terms and conditions of this Agreement, Company grants Licensee a non-exclusive, limited, non-transferable license
    to access and use the Site and submit the Licensee Content on the Site. Licensee only has the right to use the Site for Licensee's personal use and not for
    any commercial use or for providing any services to any third party. Licensee agrees that it shall not modify or make derivative works of the Site or any
    content posted by any other users of the Site or copy any ideas, features, functions or graphics of the Site or included in any content provided by any
    other users of the Site. Licensee shall not attempt to gain unauthorized access to the Site's systems code or networks or interfere with or disrupt the
    integrity or performance of the Site or the data contained therein. Except as expressly set forth herein, no other use, access, copying, display or
    distribution, in any form, of the Site or the content provided by other users of the Site, in whole or in part, by Licensee is permitted.
</p>
<p>
    2.2 <u>Withdrawal of Site</u>. Company has the right in its sole discretion to cease allowing use of the Site at any time, in which event upon receipt of
    email notice from Company, Licensee shall promptly cease using the Site.
</p>
<p>
    2.3 <u>Limitations and Restrictions</u>. Licensee shall not download, re-engineer, reverse engineer, reverse translate, decompile, reverse assemble,
    disassemble or in any manner decode or attempt to derive source code from the Site for any purpose whatsoever. Licensee agrees that it shall not (or
    attempt to) access, download, copy or use any remote or automatic device, code or method to access, download, copy or use any data or other information
    provided by any other user of the Site.
</p>
<p>
    2.4 <u>Ownership and Responsibility for Licensee Content</u>. Licensee acknowledges that Licensee is solely responsible for the Licensee Content
    (including, without limitation, its accuracy, quality, legality, and reliability) and Licensee's use of the Site. Licensee is the sole owner of the
    Licensee Content and Company has no ownership rights with respect to the Licensee Content. Licensee agrees that it shall not send or store in or through
    use of the Site (i) any infringing, obscene, threatening, libelous, violative of third party privacy right or otherwise unlawful data or information or
    (ii) any material, data or information containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or
    programs. Licensee agrees that Licensee is fully responsible for all activity occurring under Licensee's accounts and passwords. Licensee shall immediately
    notify Company of any unauthorized use of any of Licensee's passwords or accounts or any other unknown or suspected breach of security. Licensee agrees to
    comply with all applicable laws with respect to Licensee's use of the Site.
</p>
<p>
    2.5 <u>Posting Content on the Site and License to Use Licensee Content</u>. Licensee can only post on the Site, if Licensee has registered on the Site.
    <strong>
        At the time of registration, Licensee can elect to have the Licensee Content posted (i) as private and then only available to those people that
        Licensee has elected to allow access to Licensee's posts or (ii) as public meaning the Licensee Content posted by Licensee will be available to all
        users of the Site, including non-registered users
    </strong>
    .
    <strong>
        All Licensee Content posted on any forums or bulletin boards on the Site are public and available to all users of the Site, even if Licensee elects to
        have Licensee's posts be privatee4``. If Licensee elects to have Licensee's posts private,
    </strong>
    <strong>
        while Company shall use reasonable efforts to only allow access to the Licensee Content to those people that Licensee has elected to allow access to
        Licensee's post, Licensee acknowledges and agrees that given the nature of the Internet and the ability of third parties to gain unauthorized access to
        Internet sites and the data contained on sites, Company cannot guarantee that such access will be so limited.
    </strong>
    Licensee grants to Company, its affiliates and other users of the Site the worldwide, perpetual, royalty-free, irrevocable, non-exclusive right to use,
    communicate, reproduce, publish, display, perform, modify, alter, adapt, translate, sublicense, distribute, create derivative works from and exploit the
    Licensee Content that is made publicly available in any manner, including on the Site or in any other medium now known or later developed, without
    Licensee's consent. If Licensee elects to have Licensee's posts be private, Licensee grants to Company and its affiliates the worldwide, perpetual,
    royalty-free, irrevocable, non-exclusive right to communicate, reproduce, publish, display and distribute Licensee Content to other users of the Site that
    Licensee has agreed to provide access to the Licensee's private posts. Licensee may change at any time on its registration whether Licensee's posts are to
    be private or public, however, such change shall not make private posts made by Licensee at the time that Licensee registered as having all posts public.
    Licensee may elect to have a particular post be public, even if Licensee has elected to have its posts be only accessible to users that Licensee has
    selected to access Licensee's posts.
</p>
<p>
    2.6 <u>No Confidentiality in Licensee Content</u>. No Licensee Content, regardless of how they may be marked, will be received by Company in confidence,
    nor shall they be subject to any express or implied obligation of confidentially. Company, its affiliates and other users of the Site shall not be liable
    for any use or disclosure of any Licensee Content.
</p>
<p>
    2.7 <u>Licensee Representations and Warranties</u>. Licensee represents and warrants that it owns or otherwise controls all of the rights to the Licensee
    Content, that the Licensee Content are original works, and that the public posting and other public or private use of the Licensee Content will not
    infringe the intellectual property or other proprietary rights of any third party. Licensee acknowledges that it is not entitled now, or in the future, to
    any compensation for any Licensee Content, and Licensee, its heirs, designated recipients, successors and assigns hereby waive the benefits of any moral
    rights. Licensee and its heirs, designated recipients, successors and assigns hereby waive any and all rights and remedies Licensee may have against
    Company and its affiliates, officers, members, managers, directors, agents and employees now or in the future, and hereby release Company and its
    affiliates, officers, members, managers, directors, agents and employees from any and all claims, demands, actions, causes of action, damages, obligations,
    losses and expenses of whatever kind relating to the use of the Site or any component thereof or providing, transmitting, or entering the Licensee Content
    on or with respect to the Site, or Company, its affiliates or other users of the Site receiving, evaluating, and utilizing the Licensee Content.
</p>
<p>
    3. BREACH OF AGREEMENT
</p>
<p>
    3.1 In the event that either party breaches this Agreement, the other party has the immediate right to terminate this Agreement without notice to the other
    party.
</p>
<p>
    3.2 Upon breach of this Agreement by Licensee, Company has the right to withhold, remove and discard any and all of the Licensee Content without notice.
    Upon termination of this Agreement, Licensee's right to use and access the Site and the Licensee Content shall immediately cease.
</p>
<p>
    4. TAXES
</p>
<p>
    4.1 <u>Taxes</u>. Licensee will pay to Company or to the relevant taxing authority, as appropriate, any applicable sales, use, goods and services, value
    added or other taxes payable with respect to Licensee's use of the Site.
</p>
<p>
    5. DISCLAIMERS; LIMITATION OF LIABILITY
</p>
<p>
    5.1 <u>Disclaimers; Limitation of Liability</u>. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL COMPANY, OR ANY OF ITS
    AFFILIATES, OFFICERS, DIRECTORS, OR EMPLOYEES BE LIABLE TO LICENSEE OR TO ANY THIRD PARTY FOR (I) ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR INDIRECT
    DAMAGES, (II) FOR ANY DAMAGES WITH RESPECT TO THE ACCURACY OR DELETION OF ANY LICENSEE CONTENT ENTERED, OR STORED ON THE SITE OR FOR THE SUFFICIENCY OR
    COMPLETENESS OF ANY LICENSEE CONTENT ENTERED OR STORED ON THE SITE, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY ARISING OUT OF THIS AGREEMENT OR THE
    SITE, WHETHER OR NOT ADVISED OF THE POSSIBLITY OF SUCH DAMAGES, AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. LICENSEE
    ACKNOWLEDGES AND AGREES THAT THERE ARE NO GUARANTEES WITH RESPECT TO THE SECURITY OF THE LICENSEE CONTENT ENTERED INTO OR STORED ON THE SITE WILL BE
    SECURE. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW, IN NO EVENT SHALL COMPANY OR ITS AFFILIATES, OFFICERS, DIRECTORS OR EMPLOYEES HAVE ANY
    LIABILITY OF ANY KIND WITH RESPECT TO THE DELETION, DESTRUCTION, DAMAGE, LOSS OR FAILURE TO STORE OF ANY OR ALL OF LICENSEE CONTENT OR ACCESS TO THE
    LICENSEE CONTENT. LICENSEE AGREES THAT LICENSEE IS SOLELY RESPONSIBLE FOR MAINTAINING COPIES OF THE LICENSEE CONTENT, ENTERED OR STORED ON THE SITE. TO THE
    MAXIMUM EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL COMPANY'S AGGREGATE LIABILITY UNDER ANY AND ALL LEGAL THEORIES WITH RESPECT TO THIS AGREEMENT, THE
    SITE OR THE LICENSEE CONTENT BE IN EXCESS OF ONE DOLLAR ($1.00).
</p>
<p>
    5.2 <u>DISCLAIMERS</u>.
</p>
<p>
    5.2.1 COMPANY DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SITE OR ACCURACY OR RELIABILITY OF
    THE SITE OR THE ABILITY TO ACCESS THE SITE. TO THE MAXIMUM EXTENT NOT PROHIBITED BY APPLICABLE LAW COMPANY SPECIFICALLY DISCLAIMS ANY WARRANTIES,
    CONDITIONS, GUARANTEES OR REPRESENTATIONS AS TO MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR OTHER WARRANTIES, WHETHER EXPRESS OR
    IMPLIED IN LAW OR IN FACT, ORAL OR IN WRITING. THE SITE AND THE RESULTS OBTAINED FROM USE OF THE SITE ARE PROVIDED ON AN "AS IS" BASIS.
</p>
<p>
    5.2.2 TO THE MAXIMUM EXTENT NOT PROHIBITED BY LAW, IN NO EVENT SHALL COMPANY OR ITS AFFILIATES, OFFICERS, DIRECTORS OR EMPLOYEES BE LIABLE FOR ANY DAMAGES
    SUFFERED OR INCURRED BY LICENSEE OR ANY THIRD PARTIES ARISING OUT OF ANY FAULTS, INTERRUPTIONS, DELAYS, INACCURACIES, ERRORS, DELETIONS OR OMISSIONS IN
    CONNECTION WITH THE LICENSEE CONTENT OR THE SITE.
</p>
<p>
    6. INDEMNIFICATION
</p>
<p>
    6.1 <u>Indemnification by Licensee</u>. Licensee shall indemnify and hold harmless Company, any third party that hosts the Site and each of their
    affiliates and each of their directors, officers and employees with respect to any claim, demand, cause of action, liabilities, damages, awards,
    settlements, costs, losses, and expenses (including, without limitation, reasonable attorneys' fees and costs of investigation) arising out of any claim
    relating to or arising out of the Licensee Content or Licensee's use of the Site, other than any third party claims that the Site (not including the
    Licensee Content) infringes a third party's patent, copyright, trademark, trade secret or other intellectual property rights. Licensee shall not settle any
    such claim without a full release of Company, its affiliates and each of their directors, officers and employees from all liability.
</p>
<p>
    7. OWNERSHIP
</p>
<p>
    7.1 <u>Ownership.</u> Company shall own all right, title and interest, including all related intellectual property rights, on the Site and any suggestions,
    ideas, enhancement requests, feedback, recommendations or other information provided by Licensee relating to the Site (the "Suggestions"). Licensee hereby
    assigns to Company all of its right, title and interest to any and all of the Suggestions made in whole or in part by Licensee. This Agreement does not
    convey to Licensee any rights of ownership in or related to the Site. Company's name, logo, and the product names associated with the Site are trademarks
    of Company or third parties. Company owns all proprietary rights, including, without limitation, patent, copyright, trade secret and trademark rights to
    the Site and any modifications, enhancements and derivatives to the Site. Licensee acknowledges that Licensee is granted only a limited right of use of the
    Site, which right of use is not coupled with an interest and is revocable in accordance with the terms of this Agreement. Licensee agrees not to assert any
    ownership interest in the Site or any software use in connection with producing or providing the Site. Licensee agrees that the Site embodies valuable,
    confidential and trade secret information of Company.
</p>
<p>
    8. GENERAL
</p>
<p>
    8.1 <u>Governing Law</u>. This Agreement and all claims arising out of or relating to this Agreement, the Privacy Policy, the Licensee Content or the Site,
    including without limitation tort claims, shall be interpreted, construed and enforced in all respects in accordance with the United States federal laws
    with respect to intellectual property rights and with respect to all other claims with the laws of the State of New York, except for its conflict of laws
    principles. The parties agree that any action or proceeding arising out of or in connection with this Agreement, the Privacy Policy, the Licensee Content
    or the Site shall be brought exclusively in the federal and state courts located in the Borough of Manhattan, in New York City in the State of New York and
    the Parties waive any right to claim inconvenient forum and the Licensee waives any and all rights to claim immunity. EACH OF THE PARTIES WAIVE ANY AND ALL
    RIGHTS TO A JURY TRIAL.
</p>
<p>
    8.2 <u>Notices</u>. Notices will be deemed effective hereunder if in writing, delivered in person, or by facsimile, certified or registered mail, or by
    FedEx or similar private mail service, and addressed to Company at its above address and to Licensee at the email address that Licensee uses when Licensee
    clicks acceptance (or to such successor addresses as the Parties may identify by providing notice in accordance with this Section). Licensee can also
    contact Company with respect to questions and complaints about the Site by emailing elizabeth@happyfuelapp.com.
</p>
<p>
    8.3 <u>Assignments</u>. This Agreement shall be binding upon and inure to the benefit of the Parties and their affiliates, successors and assigns. Neither
    Party may assign or transfer this Agreement or its rights and obligations under this Agreement, except in connection with a merger, acquisition or sale of
    substantially all of the assets of a Party. Any assignment or transfer in violation of this Section is null and void.
</p>
<p>
    8.4 <u>Independent Contractors</u>. The Parties to this Agreement are independent contractors. Neither Party is an agent, representative or partner of the
    other Party. Neither Party shall have any right, power or authority to enter into any agreement for, or on behalf of, or incur any obligation or liability
    of, or to otherwise bind, the other Party. This Agreement shall not be interpreted or construed to create an association, agency, joint venture or
    partnership between the Parties or to impose any liability attributable to such a relationship upon either Party.
</p>
<p>
    8.5 <u>Force Majeure</u>. If any Party shall be delayed, interrupted or prevented from the performance of any obligation hereunder by reason of an act of
    God, fire, flood, war, public disaster, strike or labor dispute, natural disasters or other event beyond a party's reasonable control, such party shall not
    be liable to the other for damages arising from such event and the time for performance of such obligation shall be extended for a period equal to the
    duration of the contingency that occasioned the delay, interruption or prevention.
</p>
<p>
    8.6 <u>Waivers, Entire Agreement</u>. Any waiver of this Agreement by Company must be in writing and executed by Company to be effective. The failure of
    Company at any time or times to require full performance of any provision hereof will in no manner affect the right of Company at a later time to enforce
    the same. This Agreement constitutes the entire agreement between the Parties with respect to this Agreement, the Site, the Licensee Content and the
    Suggestions and supersedes all prior understandings between the Parties, written or oral, with respect to the subject matter of this Agreement.
</p>
<p>
    8.7 <u>Construction; Headings</u>. In the event that any provision of this Agreement conflicts with the law under which this Agreement is to be construed
    or if any such provision is held invalid by a court with jurisdiction over the Parties to this Agreement, such provision shall be deemed to be restated to
    reflect as nearly as possible the original intentions of the Parties in accordance with applicable law, and the remainder of this Agreement shall remain in
    full force and effect. Headings of paragraphs and sections in this Agreement are for convenience only and should not be given any interpretative effect.
</p>
<p>
    8.8 <u>Survival</u>. The provisions of Sections 1, 2.3, 2.4, 2.5, 2.6, 2.7, 3.2, 4, 5, 6, 7 and 8 of this Agreement shall survive the termination and
    expiration of this Agreement.
</p>
<p>
    8.9 <u>Injunctive Relief</u>. In the event of a violation or threatened violation of Company's intellectual property or proprietary rights with respect to
    the use of the Site in violation of this Agreement, Company shall have the right, in addition to such other remedies as may be available pursuant to law or
    this Agreement, to injunctive or declaratory relief (including, temporary and preliminary relief) without the posting of any bond. Licensee acknowledges
    that legal remedies for such violation or threatened violation are inadequate.
</p>
<p>
    8.10 <u>Export Laws and Other Applicable Laws</u>. Licensee agrees to use the Site in accordance with all applicable export and other laws, including,
    without limitation, United States export controls. Licensee represents and warrants that (i) Licensee is not located in a country that is subject to a U.S.
    Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country and (ii) Licensee is not listed on any U.S.
    Government list of prohibited or restricted parties.
</p>
<p>
    8.11
    <strong>
        <u>Modifications of this Agreement</u>
        . Company reserves the right to change, modify or amend this Agreement from time to time, effective three (3) days after the posting of an updated
        version of this Agreement. Licensee is responsible for reviewing this Agreement each time Licensee accesses or uses the Site. Use by Licensee of the
        Site three days after the initial posting of such changes, modifications or amendments shall constitute Licensee's acceptance of the revised Agreement.
    </strong>
</p>
<p>
    9. <u>Notice of Alleged Copyright Infringement</u>. If you believe that any content or materials on or provided to the Site infringes upon any copyright
    that you own or control, you shall provide written notice to the Designated Agent set forth below:
</p>
<p>
    [_________________________]
</p>
<p>
    Happy Fuel, LLC
</p>
<p>
    Telephone: [___________]
</p>
<p>
    Fax: [___________]
</p>
<p>
    Email: <a href="mailto:aposner@thebloc.com">[________________]</a>
</p>
<p>
    The Digital Millennium Copyright Act requires that such notification must be in writing and include all of the following information:
</p>
<p>
    (i) A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
</p>
<p>
    (ii) Identification of the material that is claimed to have been infringed or, if multiple copyrighted works are covered by a single notification, a
    representative list of such works.
</p>
<p>
    (iii) Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to
    which is to be disabled and information reasonably sufficient to permit the Company to locate the material.
</p>
<p>
    (iv) Information reasonably sufficient to permit the Company to contact the complaining party, such as an address, telephone number and if, available, an
    electronic mail address at which the complaining party may be contacted.
</p>
<p>
    (v) A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright
    owner, its agent, or the law.
</p>
<p>
    (vi) A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner
    of an exclusive right that is allegedly being infringed.
</p>

</div>

<h1>Privacy Policy</h1>
<div>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong>PRIVACY POLICY</strong>
</p>
<p align="center">
    <strong>Happy Fuel, LLC</strong>
</p>
<p align="center">
    This Privacy Policy is effective as of October __, 2013
</p>
<p align="center">
    <strong></strong>
</p>
<p>
    <strong><u>About Happy Fuel, LLC</u></strong>
</p>
<p>
    <a name="_DV_M1"></a>
    Happy Fuel, LLC ("Happy Fuel", "we," "us" or "our") is the owner of the Happy Fuel website located at www.happyfuel.me (the "Site").
</p>
<p>
    <strong><u>1. Your Privacy </u></strong>
</p>
<p>
    We understand that your privacy is important to you. Happy Fuel is committed to using procedures to protect our users' information and to making sure our
    users are aware of our practices regarding the privacy and security of their information. We want you to understand what information we collect from users
    of our Site, how we handle that information and how you can contact us to correct any information that we may have collected.
</p>
<p>
    When you register as a user of the Site, you have the option of making your posts (i) private so that they are intended to only be accessible to other
    users of the Site that you allow access to your posts or (ii) public so that they are available to any user who accesses the Site, including users who are
    not registered users of the Site. You acknowledge and agree that all of your posts to forums and bulletin boards on the Site are public and accessible to
    all users of the Site, including, without limitation, non-registered users of the Site.
</p>
<p>
    <strong><u>2. What This Privacy Policy Entails</u></strong>
</p>
<p>
    This Privacy Policy guides our collection, storage and use of information, including personally-identifiable and non-personally identifiable information,
    collected when you access or use our Site. By accessing or using our Site, you expressly consent and agree to the terms and conditions of this Privacy
    Policy, including our use and disclosure of any personally-identifiable information and non-personally-identifiable information in accordance with this
    Privacy Policy. <strong>If you do not agree, then please do not use or access our Site. </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>
        You also agree that any user that accesses or uses our Site agrees that such user is at least eighteen years old and has agreed to this Privacy Policy.
    </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>3. Changes to This Privacy Policy</u></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    Any or all of this Privacy Policy may be changed at any time without sending notice to you and your use of our Site three days after our posting such
    change will mean you accept such changes. Therefore, each time you access or use our Site, you should review this Privacy Policy.
</p>
<p>
    <strong><u>4. Contact Us About Our Privacy Policy</u></strong>
</p>
<p>
    Should you have any questions about our Privacy Policy please contact us by writing to Ms. __________ at Happy Fuel, LLC, 162 Fifth Avenue, New York, New
    York 10010, by email at: <a href="mailto:____________@happyfuelapp.com">____________@happyfuelapp.com</a>.
</p>
<p>
    <br/>
    <strong><u>5. Information We Collect From You</u></strong>
</p>
<p>
    <br/>
    Happy Fuel only collects personally-identifiable and non-personally identifiable information to the extent reasonably necessary for legitimate business
    purposes, and in connection with our users' use of our Site in accordance with this Privacy Policy.
</p>
<p>
    <strong><u>Happy Fuel Collects:</u></strong>
    <strong> </strong>
    <br/>
    <br/>
</p>
<ul type="disc">
    <li>
        <strong><u>Personally-identifiable information</u></strong>
        voluntarily provided by you such as your e-mail address when you register on our Site, or your e-mail address and other content you decide to submit
        when you sign up for and use our forums, status, photos, post messages about yourself or to other Site users, use location feature, compose emails to
        other Site users on our Site or recruit or invite friends to use our Site. <a name="_DV_M2"></a>In addition, we may monitor records and copies of your
        correspondence (including e-mail addresses and phone numbers), if you contact us.<strong></strong>
    </li>
</ul>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>SPECIAL NOTICE:</u></strong>
    <strong>
        Any information you reveal or post in our public forums or blackboards is not protected by this Privacy Policy and may be shared with third parties -
        whether by us or other users of the Site. Accordingly you should not post any information that you do not want shared with others. Also, when you make
        posts available to other users of the Site, whether publicly or privately, we do not control or have any responsibility for such users' use of your
        posts and the content contained therein, including, without limitation, all photographs and other materials.
    </strong>
</p>
<p>
    <strong><u>Information Collected at Registration</u></strong>
    - Should you register on our Site, at the time of registration we will collect your email address. We also request that you choose a "display name" by
    which other Site users can see you as and create a password. However, because Happy Fuel offers a social networking experience, we will disclose your
    "display name" to other Site users.
</p>
<p>
    <strong><u>Emails From You to Recruit Other Site Users</u></strong>
    - Should you wish to send an email to a friend to "recruit" or invite them to use our Site, we will collect and store your friend's email address on our
    servers. Happy Fuel does not use such email addresses for marketing or for any other purpose, nor are they shared with third-parties.
</p>
<ul type="disc">
    <li>
        <strong><u>Non-personally identifiable information</u></strong>
        that we track and store about Site users, such as their use of the Site, their sharing of songs, photos, videos or thoughts via the Site, interactions
        with other Site users, and geo-location information when you access or use our Site. <strong> </strong>We collect such non-personally information
        through the use of our own and third party metrics and analytics tools. You acknowledge and agree that we may use such non-personally identifiable
        aggregated information for our own uses and also provide it to third parties <strong></strong>
    </li>
</ul>
<p>
    <strong><u>How the Information We Collect From Users of our Site is Used:</u></strong>
    <u>
        <br/>
        <br/>
    </u>
</p>
<ul type="disc">
    <li>
        Happy Fuel may use the information you give it to provide services to you and to other users in connection with use of our Site.
    </li>
</ul>
<ul type="disc">
    <li>
        The personally-identifiable information we collect from you during the registration process is used for authentication purposes and to personalize your
        use of the Site.
    </li>
</ul>
<ul type="disc">
    <li>
        We may use your email address to assist you when you need to reset and create a new password.
    </li>
</ul>
<ul type="disc">
    <li>
        We may use any content, status updates, photos or communications that are public posts without providing any compensation to you, including in our
        forums or to other Site users, in a variety of ways for legitimate business purposes and/or to enhance our Site and services to you, including, without
        limitation marketing materials and the Site's wall page..
    </li>
</ul>
<ul type="disc">
    <li>
        We may use the information we collect from your browser to improve our Site, to personalize your experience or offer additional features or
        information. We may also use this information to analyze our Site and its usage.
    </li>
</ul>
<ul type="disc">
    <li>
        We may use aggregated non-personally identifiable information for our own marketing and other purposes and provide it to third parties for marketing
        and other purposes.
    </li>
</ul>
<p>
    <strong><u>6. Use of Twitter or Facebook to Gain Access to Us</u></strong>
</p>
<p>
    You may subscribe to our Twitter feed or become a fan of our Facebook page for up to date information on our Site and other exciting announcements from us.
    Twitter or Facebook may collect personally-identifiable information from you in accordance with their own Terms of Use and Privacy Polices.    <strong>You</strong>
    <strong>
        should review, read and accept their Terms of Use and Privacy Policies as it relates to the collection of your personally-identifiable information
        associated with these activities.
    </strong>
</p>
<p>
    <strong><u>7. How Long We Keep Your Personally-Identifiable Information</u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    Happy Fuel only retains the personally-identifiable information you provide as is reasonably necessary for you to use our Site or for us to provide
    customer support or other services described herein in connection with our Site.
</p>
<p>
    Only authorized users are permitted by us to see this information. Such users are advised by us of the need for keeping your personally-identifiable
    information confidential.
</p>
<p>
    <strong>
        <u>
            8. Opt-Out
            <br/>
            <br/>
        </u>
    </strong>
</p>
<p>
    At any time, should you wish for us to no longer communicate with you, or wish to have us delete or destroy any of your personally identifiable
    information, please write to us at Happy Fuel, LLC, 162 Fifth Avenue, New York, New York 10010, ATTN: _________ or send an email to:
    _____________@happyfuelapp.com.
</p>
<p>
    <strong><u>9. Push Notifications</u></strong>
</p>
<p>
    If you permit us to, we may send you push notifications to your mobile phone and wireless devices to provide you with Site alerts, sounds and icon badges
    which may enhance the use of the Site. You may manage and configure your push notifications from the settings option on your mobile or wireless device.
</p>
<p>
    <a name="_DV_M8"></a>
    <a name="_DV_M9"></a>
    <strong><u>10. External Distribution of Personally-Identifiable </u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    Happy Fuel does not externally distribute personally-identifiable information that is provided by users of our Site, except (a) as set forth below under
    Onward Transfers, (b) if a Site user specifically opts-in that certain of its personally-identifiable information may be distributed to a third party, (c)
    if necessary to protect the rights of Happy Fuel or other Site users or (d) as required by applicable laws, regulations or court orders.
</p>
<p>
    Further, external distribution does not include certain limited distributions such as sharing personally-identifiable information with a third party
    working on behalf of Happy Fuel, the transfer of personally-identifiable information in connection with the sale of Happy Fuel's assets or the merger or
    acquisition of Happy Fuel or the disclosure of personally-identifiable information in connection with legal proceedings, investigations of crimes, or other
    governmental investigations.
</p>
<p>
    <br/>
    <strong><u>11. Happy Fuel Does Not Share Your Personally-Identifiable Information. </u></strong>
</p>
<p>
    We do not share any personally-identifiable information that we collect from you in connection with your use of our Site with any third-parties, including
    marketing firms for marketing purposes.
</p>
<p>
    However, as noted in Sections 10 and 11 above, we may disclose your information to third-party service providers when employing other companies and
    individuals to perform functions on our behalf. Examples include sending postal mail and e-mail, analyzing data and providing customer service. These
    service providers have access to personally-identifiable information needed to perform their functions, but such service providers are not authorized to
    use personally-identifiable information for other purposes.
</p>
<p>
    <strong><u>12. Happy Fuel May Share Your Non-Personally Identifiable Information</u></strong>
</p>
<p>
    Happy Fuel may share or disclose non-personally identifiable information, whether aggregated or otherwise, with third parties for purposes of analyzing the
    usage of our Site, or for managing, providing and further developing our Site, or as otherwise deemed necessary by Happy Fuel.
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u>13. Use of Cookies</u></strong>
    <strong> </strong>
</p>
<p>
    Some of our third party advertisers using or posting on the Site may utilize cookies. We may use cookies to assist you with accessing and navigating the
    Site.
</p>
<p>
    <br/>
    <strong><u>14. Security </u></strong>
    <br/>
    <br/>
</p>
<p>
    Happy Fuel uses reasonable safeguards to protect the security, integrity and privacy of personally-identifiable information provided to Happy Fuel by users
    of the Site.
</p>
<p>
    <strong>
        ALTHOUGH HAPPY FUEL USES (AND WILL REQUIRE OUR THIRD-PARTY PROVIDERS TO USE) REASONABLE SECURITY PRECAUTIONS WITH RESPECT TO YOUR
        PERSONALLY-IDENTIFIABLE INFORMATION COLLECTED FROM AND STORED ON OUR SERVERS OR OUR SITE, HAPPY FUEL CANNOT GUARANTEE THAT ANY OF YOUR
        PERSONALLY-IDENTIFIABLE INFORMATION STORED ON OUR SERVERS OR OUR SITE, OR TRANSMITTED TO OR FROM OUR SITE, YOUR MOBILE PHONE OR WIRELESS DEVICE, WILL
        BE FREE FROM UNAUTHORIZED ACCESS. TO THE FULLEST EXTENT PERMITTED BY LAW, HAPPY FUEL DISCLAIMS AND SHALL HAVE NO LIABILITY FOR ANY LOSS OF,
        UNAUTHORIZED ACCESS OR DAMAGE TO, OR INTERCEPTION OF ANY OF YOUR PERSONALLY-IDENTIFIABLE INFORMATION BEING TRANSMITTED TO OR FROM OUR SITE, OR STORED
        ON OUR SITE OR OUR SERVERS WHEN YOU ACCESS OR USE OUR SITE ON A MOBILE PHONE OR WIRELESS DEVICE
    </strong>
    .
</p>
<p>
    <br/>
    <strong><u>15. How to Access, Review and Change Your Personally-Identifiable Information</u></strong>
</p>
<p>
    <strong> </strong>
    <br/>
    Users of our Site can, by e-mailing Happy Fuel, LLC at __________@happyfuelapp.com, access, review and correct the personally-identifiable information that
    has been collected from them by Happy Fuel.
</p>
<p>
    Users should also report to us via such e-mail address any improper collection or misuse of information provided on our Site.
</p>
<p>
    Users may, where applicable, correct such personally-identifiable information that is collected on our    <a name="_DV_C7">Site by making changes to their profile</a>s themselves using the passwords created by them.
</p>
<p>
    <strong><u>16. Third Party Advertisers</u></strong>
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    Third parties may display ads on our Site. These ads and notices may contain cookies. Additionally, once you click on a third-party ad, you will be
    directed away from our Site. The display ads are not under the control of Happy Fuel and Happy Fuel is not responsible for the content of any such display
    ad or for the terms of use and privacy policies of such third parties. The third-party advertisements are not under the control of Happy Fuel and Happy
    Fuel is not responsible for the content of any such third-party advertisements, their payment processes or methods or the handling of your billing and
    payment information. <strong>If you decide to access any of the third party advertisements, you do this entirely at your own risk.</strong>
</p>
<p>
    <strong><u>17. Governing Law; Jurisdiction and Waiver of Jury Trial</u></strong>
</p>
<p>
    By accessing or using our Site, you agree that the laws of the State of New York, without regard to principles of conflict of laws, will govern this
    Privacy Policy and any dispute of any sort that might arise between you and us, including, without limitation, any tort claims. Any such dispute shall be
    adjudicated in federal and state courts located in the Borough of Manhattan, in New York City in the State of New York, U.S.A., and you consent to
    exclusive jurisdiction and venue in such courts and waive any rights to claim inconvenient forum or immunity.
    <strong>
        YOU AND WE EXPRESSLY AGREE HEREBY, TO THE FULLEST EXTENT PERMITTED BY LAW, TO WAIVE THE RIGHT TO A TRIAL BY JURY WITH RESPECT TO ANY DISPUTE OR CLAIM
        BETWEEN US OR WITH RESPECT TO, ARISING OUT OF OR RELATING TO THIS PRIVACY POLICY OR THE USE OF INFORMATION BY US.
    </strong>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>18. Binding Agreement; Changes</u></strong>
    <strong> </strong>
    <br/>
    <br/>
    By accessing or using our Site, you agree that any dispute with respect to privacy is subject to this Privacy Policy and the Terms of Use and License
    Agreement for our Site, including without limitation the provisions therein regarding the governing law and jurisdiction designation with respect to any
    dispute regarding our Site, your use of our Site, any content you submit to us, any content on our Site, our collection and use of personally-identifiable
    information as stated herein, and the limitation on damages stated therein as to any and all claims that may be asserted by you as a user of our Site for
    any and all causes of action that you may seek to assert, including, without limitation, any claims arising out of or relating to this Privacy Policy.
</p>
<p>
    <u></u>
</p>
</div>
</section>
<div class="btn-close"></div>
</section>

<footer class="{{selectedFuelType}}">
    <ul>
        <li ng-show="currentUser != null" ng-click="logout();">logout</li>
        <li ng-show="currentUser == null" ng-click="setView('sign-in');">sign in</li>
        <li ng-show="currentUser != null" ng-click="setView('manage-account');">manage account</li>
        <li class="static-content-target" data-static-content-target="contact">contact us</li>
        <li class="static-content-target" data-static-content-target="terms">terms &amp; policies</li>
        <li>&copy; Happy Fuel LLC 2013</li>
    </ul>
</footer>
</div>

</body>
</html>