﻿/* tags */
body {
	font-family: Arial;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	color: #414042;
}
img {
	display: block;
	border: none;
}
h1 {
	font-size: 23px;
	color: #141d4a;
	font-style: italic;
}
h2 {
	font-size: 14px;
	color: #141d4a;
}
h3 {
	font-size: 12px;
	color: #141d4a;
	margin-left: 10px;
}
sup {
	font-size: 82%;
	padding: 0px 1px;
	top: 0.3em;
	position: relative;
}
ol li {
	float: left;
}
header {
	font-size: 10px;
	font-weight: bold;
	color: #141d4a;
	text-align: right;
	height: 136px;
	padding: 0px 42px;
	position: relative;
}
header #header_logo {
	position: absolute;
	bottom: 32px;
	left: 42px;
}
header #header_nav {
	position: absolute;
	bottom: 0px;
	right: 32px;
}
header #header_nav img {
	display: inline-block;
}
footer {
	background: url('/contents/hcp/images/footer_bg.png') no-repeat top;
	padding: 10px 42px 50px 42px;
	font-size: 10px;
	color: #141d4a;
	text-align: right;
	position: relative;
}
footer #footer_logo {
	position: absolute;
	bottom: 50px;
	left: 42px;
}
/* id */
#page {
	width: 1024px;
	margin: 0 auto;
}
#content {
	padding: 5px 40px 10px 40px;
	background: url('/contents/home/images/gradient_bg.png') no-repeat top;
	height: 660px;
}
#content #content_body {
	float: left;
	width: 730px;
}
#content #content_body section {
	padding-top: 8px;
}
#content #callouts {
	float: left;
	width: 211px;
	margin-left: 3px;
}
#content #callouts section {
	padding-top: 9px;
}
#isi {
	padding: 10px 42px 30px 42px;
	color: #636363;
}
#isi ul {
	list-style-image: url('/contents/home/images/isi-bullet.png');
	margin-bottom: 0px;

}
#isi h4 {
	font-size: 13px;
	color: #171c49;
	font-weight: bold;
}
#isi ul li {
	margin-bottom: 3px;
}
/* class */
.indented {
	margin-left: 25px;
}
.clear {
	clear: both;
}
.sub_indented {
	margin-left: -40px;
}
.sub_nav ul li {
	display: inline;
}
.sub_nav ul li a {
	display: inline;
	padding-right: 6px;
	padding-left: 6px;
	color: rgb(0, 26, 46);
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0% 0% transparent;
	text-decoration: none
}
