/*--GENERAL STYLES--*/

@font-face {
    font-family: 'Interstate Condensed';
    src: url('fonts/Interstate-BoldCond.eot?') format('eot'), url('fonts/Interstate-BoldCond.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Interstate Condensed';
    src: url('fonts/Interstate-BoldCondItalic.eot?') format('eot'), url('fonts/Interstate-BoldCondItalic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Interstate Regular';
    src: url('fonts/Interstate-Regular.eot?') format('eot'), url('fonts/Interstate-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Interstate Regular';
    src: url('fonts/Interstate-Bold.eot?') format('eot'), url('fonts/Interstate-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'KG Second Chances';
    src: url('fonts/KGSecondChancesSolid.eot?') format('eot'), url('fonts/KGSecondChancesSolid.ttf') format('truetype');
}

body {font-family: Arial;font-size: 13px;margin: 0px;padding: 0px;color: #414042; padding:0; margin:0;}

img {display: block;border: none;}

h2 {font-size: 14px;color: #141d4a;}

h3 {font-family: 'Interstate Regular';  font-style: normal; font-weight: bold;font-size: 16px; color: #141d4a; margin: 0;}

#content_body h3{font-weight:normal; text-transform:uppercase; font-size:18px;}

h4 {font-size: 14px;color: #171c49;font-weight: bold; } /*FONT FOR ISI TITLES*/

h5{font-family: 'KG Second Chances'; font-size: 18px; color: #14213d; font-weight: normal; margin: 0 0 5px 0; padding:0;}

a {color: #3ac2a7;}

sup {font-size: 82%; padding: 0px 1px; top: 0.3em; position: relative;}

ol li {float: left;}

.clear {clear: both;}

.clearfix {
    zoom: 1; 
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

table { border-collapse:collapse;
 border:0;
 border:none; }

td, th {
   border:none;
      border:0;

}

header {
.clearfix;
width:950px;
margin: 0 auto;
position: relative; 
    img{vertical-align:middle;}
    .sub_nav ul{ float:right;
        li { display: inline;
            a {
            display: inline-block;
            padding-right: 6px;
            padding-left: 6px;
            color: rgb(0, 26, 46);
            font-size: 10px;
            vertical-align: baseline;
            text-decoration: none;
            font-weight: bold;
            color: #141d4a;
            text-align: right;
            }    
        }   
    }
    #header_logo {
    clear:both;
    margin:0px 0 25px 0;
    float:left;
    display: block;
    img{float:left;}
    }
    #header_nav {
        position: absolute; bottom:0; right:0;padding:0; margin-bottom:-10px;
        ul{float:right;
            li{
            font-family: 'Interstate Condensed';
            font-style: italic;
            font-size: 16px;
            font-weight: normal;
            color: #A7A7A7;
            border-right: 1px solid #A7A7A7;
            display: inline;
            list-style-type: none;
            padding: 3px 12px 3px 6px;
                &:last-child{border-right: none; padding:3px 5px 3px 6px}
                a{color: #A7A7A7; font:weight: normal; font-weight:normal; text-decoration:none;
                &.active{color:#0eb3b0;}
                }
            }
        }
    }    
}

.search{float:right; vertical-align:middle;} 


#content {
padding: 5px 5px 5px 0;
    #subnav {
    float: left;
    width: 125px;
    max-height:600px;
    background-color: #e6c414;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 4px 2px -2px gray;
        ul{
        padding:0;
        margin:0;
            li{
            list-style-type:none;
                a{
                border-bottom: 1px solid  #ffd915;
                box-shadow: inset 0 -1px 0 #c2a50e;
                text-indent: -9999px;
                width: 125px;
                height: 121px;
                display: block;}
            }
            li.one a{background-position: 0px 0px;
                &.active{background-color:#ffffff; background-position: 100% 0px;}
                }
            li.two a{background-position: 0px -121px;
                &.active{background-color:#ffffff; background-position: 100% -121px;}
                }
            li.three a{background-position: 0px  -242px;
                &.active{background-color:#ffffff; background-position: 100%  -242px;}
                }
            li.four a{background-position: 0px  -363px;
                &.active{background-color:#ffffff; background-position: 100%  -363px;}
                }
            li.five a{background-position: 0px  -484px;
                &.active{background-color:#ffffff; background-position: 100%  -484px;}
                }
            li:last-child a{border-bottom: none; box-shadow: none;}
        }
    }
    #hero {margin-left: -10px;}
    #reference { font-size: 10px; padding-top: 30px; margin: 0px;}
    #content_body {float: left; }
    #callouts {float: right; width: 230px; margin-left: 3px;
        a {
        padding: 10px;
        background-color: #d14414;
        color: #ffffff;
        font-family: 'Interstate Regular';
        font-size: 16px;
        font-weight: normal;
        text-decoration: none;
        display: block;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        text-align: center;
        }
        p{font-size: 14px;}
    }
}

#subnav.about ul{
    li a{background-image: url('../images/subnav_about.png');
    }
}

#subnav.support ul{
    li a{background-image: url('../images/subnav_support.png');
    }
}

#subnav.inflammatory ul{
    li a{background-image: url('../images/subnav_inflammatory.png');
    }
}

#subnav.taking ul{
    li a{background-image: url('../images/subnav_taking.png');
    }
}

nav { 
margin: 0 auto;
padding-top: 4px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
clear:both;
    ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
        li {display: inline-block; list-style-type: none; vertical-align:middle;
            a{
            font-size: 12px;
            font-weight: bold;
            height: 42px;
            vertical-align: middle;
            text-align: center;
            display: table-cell;
            }
        }
    }
}

#isi {.clearfix; color: #636363; margin-top:30px; padding: 20px 0;
    ul { list-style-image: url('../images/isi-bullet.png'); margin-bottom: 0px;
        li {margin-bottom: 3px;}
        }
}

.indented {
    margin-left: 25px;
}

#subheader{margin:0 auto; width: 940px; margin-bottom:40px; position:relative;
    img{border-radius: 5px;}
    }

footer {
background: url('../images/footer_bg.png') no-repeat top;
padding: 10px 42px 50px 42px;
font-size: 10px;
color: #141d4a;
text-align: right;
position: relative;
    #footer_logo {position: absolute; bottom: 50px; left: 42px;
    }
}


/*--Page Specific Styles--*/

body.main {
    #page {width: 980px; margin: 0 auto;}
    #content {background: url('../images/gradient_bg.png') no-repeat top; 
    height: 660px;
        #content_body {float: left; width: 730px;
            section {padding-top: 8px;}
        }
    }
}  

body.patient {
    #page {width: 950px; margin: 0 auto;}
    #content_body {float: left; width: 500px; padding: 0px 40px; }    
    h1 {font-size: 23px; color: #141d4a; font-family: 'Interstate Regular'; font-weight: normal; margin:0;}
    nav{background-color: #e6c414;
        ul{
            li{
                a{color: #ffffff;text-decoration: none; background-color: #d14414; width: 186px;
                &.active{background-color: #e6c414; color:#008789}
                }
                &:last-child a{width:190px;}

            }
        }
    }
    #subheader{}

    .middle-callouts { 
        margin: 30px auto 10px auto;
        .clearfix;
        .pig {
        background: url('../images/pig.png') no-repeat; 
        background-position: left center;
        float:left;
        padding-left: 130px;
        }
        .syringe {
        background: url('../images/syringe.png') no-repeat;
        background-position: left center;
        float:right;
        padding-left: 110px;
        }
        .box{width: 210px; float:left; margin: 0 10px;
            p{font-size: 16px; letter-spacing:-0.03em; color:#4d4d4f;}
            sup{position: relative; top:0; line-height:0px;}
    }
    }
    .teal-button a{
    font-family: 'KG Second Chances';
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    background-color: #008788;
    display: block;
    border-radius:5px;
    text-align:center;
    padding: 5px 0;
    font-weight: normal;
    height: 36px;
    line-height: 34px;
    }  
}

.arrow-box{
    .clearfix;
    background: url('../images/sketch-arrow.png') no-repeat 0% 50%;
    padding: 10px 0px 10px 60px;
        h5{font-family: 'Interstate Regular'; font-style: normal; font-weight: normal; color:#14213d; font-size:20px;}
        .third{
            float:left;
            padding:15px;
            font-family: 'Interstate Regular';
            font-style: normal;
            font-weight: normal;
            color:#14213d;
            font-size:16px;
            line-height:30px;}

}


/*--HCP STYLES--*/

body.hcp{
    #page {width: 950px; margin: 0 auto;}
    #content_body {float: left; width: 595px; padding: 0px 39px; }
    h1 {font-size: 23px; color: #141d4a; font-style: italic;}
    nav{background-color: #141d4a;
        ul{
            li{
                a {color: #ffffff;text-decoration: none; background-color:#00b1b0; width:186px;
                &.active{background-color: #141d4a; color:#ffffff;}
                &:last-child a{width:186px;}
                }
            }
        }
    }
    #subheader{
    ul {
    position:absolute;
    bottom: 0;
    margin: 0 0 0 8px;
    padding: 0px;
    list-style-type: none;
        li {display: inline-block; list-style-type: none; vertical-align:middle;
            a{
            font-size: 12px;
            font-weight:200;
            text-decoration:none;
            text-transform:uppercase;
            height: 42px;
            vertical-align: middle;
            text-align: center;
            display: table-cell;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #ffffff;
            border: 1px solid #c5cfd2;
            border-bottom:0px;
            width:100px;
            padding:0px 10px;
            box-shadow: inset 0px 1px 1px #c5cfd2;
            color:#2d1b43;
            &.active{background-color:#bbf1ed;}
            &.active:before{background: url('../images/hcp-images/arrow_down.png'); width:37px; height:26px;
            position:absolute; top:0; z-index:100;}
            }
            }
        }
    }
}

.gray-callout{
background: url('../images/hcp-images/gray-arrow.png') #f0f0f0 0 50% no-repeat;
border-radius:10px;
color: #008789;
font-size: 15px;
font-weight:bold;
box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5) inset 0 1px 1px rgba(255,255,255,0.8);
padding-left: 90px;
margin: 0 auto;
}

/*SLIDER STYLE*/
#slides {
display: none;
position: relative;
    a{
    &:link, &:visited { color: #333}
    &:hover, &active {color: #9e2020}
    }
}

.container{
.clearfix;
position: relative;
overflow: hidden;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
width: 945px;
margin: 0 auto;

}

.left-bar{
    width: 48px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99; /*one less than the pagination*/
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

body.patient .container {
    height: 365px;
    .left-bar{ background-color: #E6C414;}
}

body.hcp .container {
    height: 320px;
    .left-bar{ background-color: #141D4A;}
}


#slides .slidesjs-navigation {
margin-top:3px;
display: none;
}

ul.slidesjs-pagination { 
position: absolute;
list-style: none;
top: 36%;
-webkit-padding-start: 12px;
z-index: 100;
padding-left: 15px;
margin:0;
}

.slidesjs-pagination li {
margin: 0 1px;
    a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url('../images/pagination.png');
    background-position: 0 0;
    float: left;
    overflow: hidden;
        &.active, &:hover.active {background-position: 0 -13px}
        &:hover{background-position: 0 -26px};
    }
}

.navbar {
overflow: hidden
}