﻿@{
    ViewBag.Title = "Welcome to Vetvance";
    Layout = "";

    // page variable
    System.Collections.Specialized.NameValueCollection appSettings = System.Configuration.ConfigurationManager.AppSettings;
    string _domain = appSettings["email_domain"];
    string _guid = Request.QueryString["guid"];
    string _code = Request.QueryString["code"];
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Vetvance</title>
</head>
<body>
    <!-- page container -->
    <table cellpadding="0" cellspacing="0" border="0" width="640px" align="center">
        <!-- email -->
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" width="640px">
                    <tr>
                        <!-- padding left -->
                        <td width="18px">&nbsp;</td>
                        
                        <!-- email content -->
                        <td width="588px">
                            <table cellpadding="0" cellspacing="0" border="0" width="588px">
                                <!-- body -->
                                <tr>
                                    <td>
                                        <!-- two column design -->
                                        <table cellpadding="0" cellspacing="0" border="0" width="588px" style="padding-top:5px;">
                                            <tr>
                                                <!-- left column -->
                                                <td width="375px">
                                                    <img src="@_domain/contents/emails/images/vetvance.png" alt="Vetvance - Launch your veterinary career" style="display:block; border:0px;" />
                                                    <p style="font-family:Arial;font-size:18px;color:#171cf8;">Welcome to VETVANCE!</p>
                                                    <p style="font-family:Arial;font-size:14px;">Thank you for sigining up for VETVANCE.</p>
                                                    <p style="font-family:Arial;font-size:14px;">Here's your promo code for 15% off a subscription to the ZUKU Review<sup style="font-size:8px;">&trade;</sup> to help you prepare for the NAVLE<sup style="font-size:8px;">&reg;</sup>.</p>
                                                    <div style="font-family:Arial;font-size:12px;font-weight:bold;color:#000;background-color:#f1f1f1;padding:10px;width:160px;border-radius:5px;" >PROMO CODE: @_code</div>
                                                    <p style="font-family:Arial;font-size:14px;">To start launching your veterinary career, <span style="color:#171cf8;">build a personalized course list or grow your professional network.</span></p>
                                                    <a href="@_domain"><img src="@_domain/contents/emails/images/startnow.png" alt="Start Now >" style="display:block;border:0px;" /></a>
                                                </td>

                                                <!-- divider -->
                                                <td width="25px">&nbsp;</td>

                                                <!-- right column -->
                                                <td width="188px">
                                                    <a href="#"><img src="@_domain/contents/emails/images/zuku.png" alt="Sign up for the Zuku Review - Be prepared for the NAVLE and the start of your veterinary career." style="display:block;border:0px;" /></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- spacer -->
                                <tr>
                                    <td height="50px" style="border-bottom:1px solid #f1f1f1;">&nbsp;</td>
                                </tr>
                                <!-- legal footer -->
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="588px" style="padding-top:5px;">
                                            <tr valign="top">
                                                <td width="428px">
                                                    <p style="font-family:Arial;font-size:10px;color:#585858;margin-top:5px;">If you would like to unsubscribe, <a href="@_domain/unsubscribe?guid=@_guid" style="color:#171cf8;text-decoration:none;">click here</a>. To view our privacy policy, <a href="@_domain/privacy" style="color:#171cf8;text-decoration:none;">click here</a>.</p>
                                                    <p style="font-family:Arial;font-size:10px;color:#585858;margin-top:-5px;">&copy;2014 Zoetis Inc. All rights reserved. All trademarks are the property of Zoetis Inc., its affiliates and/or its licensors. All other trademarks are the property of their respective owners.</p>
                                                    <p style="font-family:Arial;font-size:10px;color:#585858;margin-top:-5px;">100 Campus Drive, Florham Park, NJ 07932</p>
                                                </td>
                                                <td width="160px" align="right"><img src="@_domain/contents/emails/images/zoetis.png" alt="Zoetis" style="display:block;border:0px;" /></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- padding right -->
                        <td width="34px">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
