﻿/* fonts */

@font-face {
	font-family: 'Whitney-Black';
	src: url('../fonts/whitney/Whitney-Black.eot');
	src: url('../fonts/whitney/Whitney-Black.woff') format('woff'), url('../fonts/whitney/Whitney-Black.ttf') format('truetype'), url('../fonts/whitney/Whitney-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-BlackItalic';
	src: url('../fonts/whitney/Whitney-BlackItalic.eot');
	src: url('../fonts/whitney/Whitney-BlackItalic.woff') format('woff'), url('../fonts/whitney/Whitney-BlackItalic.ttf') format('truetype'), url('../fonts/whitney/Whitney-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-Bold';
	src: url('../fonts/whitney/Whitney-Bold.eot');
	src: url('../fonts/whitney/Whitney-Bold.woff') format('woff'), url('../fonts/whitney/Whitney-Bold.ttf') format('truetype'), url('../fonts/whitney/Whitney-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-BoldItalic';
	src: url('../fonts/whitney/Whitney-BoldItalic.eot');
	src: url('../fonts/whitney/Whitney-BoldItalic.woff') format('woff'), url('../fonts/whitney/Whitney-BoldItalic.ttf') format('truetype'), url('../fonts/whitney/Whitney-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-Book';
	src: url('../fonts/whitney/Whitney-Book.eot');
	src: url('../fonts/whitney/Whitney-Book.woff') format('woff'), url('../fonts/whitney/Whitney-Book.ttf') format('truetype'), url('../fonts/whitney/Whitney-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-Light';
	src: url('../fonts/whitney/Whitney-Light.eot');
	src: url('../fonts/whitney/Whitney-Light.woff') format('woff'), url('../fonts/whitney/Whitney-Light.ttf') format('truetype'), url('../fonts/whitney/Whitney-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-LightItalic';
	src: url('../fonts/whitney/Whitney-LightItalic.eot');
	src: url('../fonts/whitney/Whitney-LightItalic.woff') format('woff'), url('../fonts/whitney/Whitney-LightItalic.ttf') format('truetype'), url('../fonts/whitney/Whitney-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-Medium';
	src: url('../fonts/whitney/Whitney-Medium.eot');
	src: url('../fonts/whitney/Whitney-Medium.woff') format('woff'), url('../fonts/whitney/Whitney-Medium.ttf') format('truetype'), url('../fonts/whitney/Whitney-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-MediumItalic';
	src: url('../fonts/whitney/Whitney-MediumItalic.eot');
	src: url('../fonts/whitney/Whitney-MediumItalic.woff') format('woff'), url('../fonts/whitney/Whitney-MediumItalic.ttf') format('truetype'), url('../fonts/whitney/Whitney-MediumItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-Semibold';
	src: url('../fonts/whitney/Whitney-Semibold.eot');
	src: url('../fonts/whitney/Whitney-Semibold.woff') format('woff'), url('../fonts/whitney/Whitney-Semibold.ttf') format('truetype'), url('../fonts/whitney/Whitney-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Whitney-SemiboldItalic';
	src: url('../fonts/whitney/Whitney-SemiboldItalic.eot');
	src: url('../fonts/whitney/Whitney-SemiboldItalic.woff') format('woff'), url('../fonts/whitney/Whitney-SemiboldItalic.ttf') format('truetype'), url('../fonts/whitney/Whitney-SemiboldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}