/* -----------------------------------------
   Media Query Variables
-----------------------------------------

$mobile: 		"screen and (min-width: 0px) and (max-width: 499px)";
$tablets: 	"screen and (min-width: 500px) and (max-width: 959px)";
$desktops: 	"screen and (min-width: 960px)";
$max-width:	"screen and (min-width: 499px) and (max-width: 1300px)";
*/
/* -----------------------------------------
   Element Bootstrap
----------------------------------------- */
/* line 6, ../sass/app/_global.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 10, ../sass/app/_global.scss */
ul li {
  margin: 0;
}

/* line 14, ../sass/app/_global.scss */
input, textarea {
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 4px;
  resize: none;
}

/* line 20, ../sass/app/_global.scss */
input:focus, select:focus, textarea:focus {
  outline: none;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus:-moz-placeholder, select:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
  color: transparent !important;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus::-moz-placeholder, select:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent !important;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent !important;
}

/* -----------------------------------------
   Forms
----------------------------------------- */
/* line 31, ../sass/app/_global.scss */
.form-errors {
  color: red;
  font-size: .8em;
}
/* line 34, ../sass/app/_global.scss */
.form-errors span {
  display: block;
}

/* -----------------------------------------
   Alignment & Floats
----------------------------------------- */
/* line 50, ../sass/app/_global.scss */
.txt-l {
  text-align: left;
}

/* line 51, ../sass/app/_global.scss */
.txt-r {
  text-align: right;
}

/* line 52, ../sass/app/_global.scss */
.txt-c {
  text-align: center;
}

/* line 53, ../sass/app/_global.scss */
.fl-r {
  float: right;
}

/* line 54, ../sass/app/_global.scss */
.fl-l {
  float: left;
}

/* line 55, ../sass/app/_global.scss */
.cl-r {
  clear: right;
}

/* line 56, ../sass/app/_global.scss */
.cl-l {
  clear: left;
}

/* line 57, ../sass/app/_global.scss */
.cl-b {
  clear: both;
}

/* -----------------------------------------
   Alignment & Floats
----------------------------------------- */
/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/app/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/app/_normalize.scss */
audio,
canvas,
video {
  
display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/app/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/app/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/app/_normalize.scss */
html {
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 80, ../sass/app/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 92, ../sass/app/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 101, ../sass/app/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 114, ../sass/app/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 123, ../sass/app/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 132, ../sass/app/_normalize.scss */
b, strong {
    font-family:'HelveticaW01-RoundedBd';
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 140, ../sass/app/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 148, ../sass/app/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../sass/app/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 170, ../sass/app/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 179, ../sass/app/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 187, ../sass/app/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 195, ../sass/app/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 204, ../sass/app/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 211, ../sass/app/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 215, ../sass/app/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 227, ../sass/app/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 235, ../sass/app/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 247, ../sass/app/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 259, ../sass/app/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 270, ../sass/app/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 284, ../sass/app/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 296, ../sass/app/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 308, ../sass/app/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 323, ../sass/app/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 333, ../sass/app/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 343, ../sass/app/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 354, ../sass/app/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 367, ../sass/app/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 376, ../sass/app/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 386, ../sass/app/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 399, ../sass/app/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------------------
   Sizing
----------------------------------------- */
/* -----------------------------------------
   Positioning
----------------------------------------- */
/* -----------------------------------------
   Color Variables
----------------------------------------- */
/* Primary Palette */
/* Greyscale Palette */
/* -----------------------------------------
   Filepath/Imagepath Variables
----------------------------------------- */
/* -----------------------------------------
   Shapes
----------------------------------------- */
/* line 1, ../sass/app/_typography.scss */
body {
  font-family:'Helvetica W01 Roman';
  font-size: 14px;
  font-weight: normal;
  color: #555555;
}

/* line 3, ../sass/app/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.15;
  color: #333333;
}

/* line 6, ../sass/app/_typography.scss */
h2 {
  font-size: 50px;
  color: black;
}

/* line 7, ../sass/app/_typography.scss */
h3 {
  font-size: 35px;
}

/* line 8, ../sass/app/_typography.scss */
h4 {
  font-size: 14px;
  font-family:'HelveticaW01-RoundedBd';
}

/* line 9, ../sass/app/_typography.scss */
h5 {
  font-size: 18px;
}

/* line 10, ../sass/app/_typography.scss */
h6 {
  font-size: 15px;
}

/* line 12, ../sass/app/_typography.scss */
p {
  margin: 0.5em 0;
  padding: 0;
}

/* line 14, ../sass/app/_typography.scss */
a {
  color: #ee0093;
  text-decoration: none;
  cursor: pointer;
}

/* line 16, ../sass/app/_typography.scss */
.error, .red {
  color: #fc0000;
}

/* line 17, ../sass/app/_typography.scss */
ul.error {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
/* line 21, ../sass/app/_typography.scss */
ul.error > .warning {
  color: #fff;
  background: url(../css/images/icons/error.png) no-repeat 10px center;
  padding: 10px 10px 10px 47px;
  border-radius: 4px;
}

/* line 1, ../sass/app/_ui-structure.scss */
body {
    /*
  overflow: visible;
  background: #fbd917 url("images/bkgd-dots.png") fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

/* line 8, ../sass/app/_ui-structure.scss */
body.P {
  background-color: #FFDB00;
}
/* line 9, ../sass/app/_ui-structure.scss */
body.L {
  background-color: #FF00A0;
}
/* line 10, ../sass/app/_ui-structure.scss */
body.V{
  background-color: #B21277;
}
/* line 11, ../sass/app/_ui-structure.scss */
body.M {
  background-color: #FBA440;
}
/* line 12, ../sass/app/_ui-structure.scss */
body.S{
  background-color: #09A9B2;
}
/* line 12, ../sass/app/_ui-structure.scss */
body.A {
  background-color: #09A9B2;
}
/* line 13, ../sass/app/_ui-structure.scss */
body.T {
  background-color: #55C5CC;
}



/* line 16, ../sass/app/_ui-structure.scss */
.button.disabled {
  background-color: #dddddd !important;
  color: #bbbbbb !important;
}

/* line 24, ../sass/app/_ui-structure.scss */
.main-container > header {
  box-sizing: border-box;
  width: 100%;
  /* background: white url("images/happy-fuel-logo.png") no-repeat; */
  background-color:#fff;
  position: fixed;
  top: 0px;
  height: 98px;
  border: solid 1px #e6e6e6;
  border-top: none;
  font-family:'HelveticaW01-RoundedBd';
  font-size:16px;
  z-index: 10000;
  cursor: default;
}
/* line 36, ../sass/app/_ui-structure.scss */
.main-container > header div {
  display: inline-block;
}
/* line 37, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu {
  display: none;
  width: 200px;
  position: fixed;
  height: 50px;
  margin-left: -140px;
  background: white;
  z-index: 1;
}
/* line 46, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu.active {
  margin-left: -1px;
  border: solid 1px #e6e6e6;
  height: 100%;
}
/* line 50, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu.active ul {
  display: block;
}
/* line 52, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul {
  display: none;
  width: 100%;
  margin-top: 100px;
  border-top: solid 2px #e1e1e1;
  border-right: solid 1px #e1e1e1;
}
/* line 58, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul li {
  background: url("images/bkgd-dots.jpg");
  border-bottom: solid 2px #e1e1e1;
  text-align: right;
  line-height: 50px;
  padding: 4px;
}
/* line 66, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul:last-child {
  position: absolute;
  bottom: 0px;
  border: none;
}
/* line 70, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu ul:last-child li {
  border: none;
  background: none;
  line-height: 1.5em;
}
/* line 77, ../sass/app/_ui-structure.scss */
.main-container > header .mobile-menu .icon-ios-menu {
  cursor: pointer;
  background: url("images/ios-menu-icon.png") no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 88, ../sass/app/_ui-structure.scss */
.main-container > header nav {
  margin-left: 390px;
  margin-top: 56px;
  background: url("images/happy-logo-nav.jpg") no-repeat;
  padding-left: 22px;
}
/* line 93, ../sass/app/_ui-structure.scss */
.main-container > header nav .user {
  color: #4dbcc2;
  cursor: pointer;
}
/* line 98, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul {
  border: solid 1px #e1e1e1;
  background: url("images/bkgd-dots.jpg");
  display: none;
}
/* line 99, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul:hover {
  display: '';
}
/* line 103, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul li {
  padding: 1em;
  color: black;
}
/* line 106, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus ul li:hover {
  background: #f164c2;
  /* The Fallback */
  background: rgba(241, 100, 194, 0.5);
}
/* line 109, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu {
  color: #ee0093;
  cursor: pointer;
}
/* line 112, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu .menu {
  position: absolute;
}
/* line 113, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu .down-arrow {
  margin-left: 46px;
}
/* line 114, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul {
  margin-left: -20px;
}
/* line 116, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul li {
  padding-left: 26px;
}
/* line 118, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu ul li:last-child {
  background-image: url("images/icon-magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 4px center;
}
/* line 125, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .sort-menu:hover ul {
  display: '';
}
/* line 127, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu {
  color: #f69639;
  cursor: pointer;
}
/* line 130, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu .menu {
  position: absolute;
}
/* line 131, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu .down-arrow {
  margin-left: 10px;
}
/* line 132, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul {
  margin-left: -50px;
}
/* line 133, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li {
  background-repeat: no-repeat;
  background-position: 4px 12px;
  padding-left: 40px;
  background-size: 20%;
}
/* line 138, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.photo {
  background-image: url("images/icon-photo.png");
}
/* line 139, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.location {
  background-image: url("images/icon-location.png");
}
/* line 140, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.music {
  background-image: url("images/icon-music.png");
}
/* line 141, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.sound {
  background-image: url("images/icon-sound.png");
}
/* line 142, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.video {
  background-image: url("images/icon-video.png");
}
/* line 143, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu ul li.thought {
  background-image: url("images/icon-thought.png");
}
/* line 146, ../sass/app/_ui-structure.scss */
.main-container > header nav .menus .filter-menu:hover ul {
  display: '';
}
/* line 149, ../sass/app/_ui-structure.scss */
.main-container > header nav .search {
  display: inline-block;
  background: url("images/bkgd-dots.jpg");
  position: absolute;
  padding: 6px;
  border: solid 2px #e6e6e6;
  margin-top: -10px;
  color: #ee0093;
}
/* line 157, ../sass/app/_ui-structure.scss */
.main-container > header nav .search.off {
  display: none;
}
/* line 158, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .btn-close {
  position: absolute;
  margin-top: -23px;
  right: 4px;
}
/* line 163, ../sass/app/_ui-structure.scss */
.main-container > header nav .search input {
  border: none;
  background: transparent url("images/icon-magnifying-glass.png") left center no-repeat;
  color: #ee0093;
  font-weight: bold;
  padding-left: 28px;
  width: 220px;
}
/* line 171, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .search-results-container {
  position: absolute;
  min-width: 300px;
  background: white;
  padding: 10px;
  border: solid 2px #e6e6e6;
  margin-left: -8px;
  margin-top: 6px;
}
/* line 172, ../sass/app/_ui-structure.scss */
.main-container > header nav .search .search-results-container ul {
  display: inline-block;
  min-width: 140px;
  float: left;
}
/* line 184, ../sass/app/_ui-structure.scss */
.main-container > header .mission {
  position: absolute;
  right: 50px;
  top: 56px;
  color:#555555;
}
/* line 188, ../sass/app/_ui-structure.scss */
.main-container > header .mission .happy-face {
  color: #ee0093;
}

/* line 194, ../sass/app/_ui-structure.scss */

footer.P, footer.L, footer.V , footer.M, footer.S , footer.A, footer.T
{
  color:#555555 !important;
  font-weight:bold !important;
  background-color:#fff  !important;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  z-index: 10000;
  font-family: 'Helvetica';
  color:#555555 !important;
  font-weight:bold !important;
  background-color:#fff  !important;
  background: url("images/bkgd-dots.png") !important;

}
/* line 203, ../sass/app/_ui-structure.scss */
footer ul {
  display: inline-block;
  margin-top: 6px;
}
/* line 206, ../sass/app/_ui-structure.scss */
footer ul li {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  border-right: solid 1px;
  font-size: 12px;
}
/* line 212, ../sass/app/_ui-structure.scss */
footer ul li:last-child {
  border: none;
}

/* line 219, ../sass/app/_ui-structure.scss */
.btn-close {
  background: url("images/btn-circle-x.png") no-repeat;
  width: 22px;
  height: 24px;
  cursor: pointer;
}

/* line 226, ../sass/app/_ui-structure.scss */
.down-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 11px solid #e6e6e6;
}

/* line 231, ../sass/app/_ui-structure.scss */
.avatar {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/avatar-default.jpg");
}

/* line 241, ../sass/app/_ui-structure.scss */
.post-info {
  position: absolute;
  bottom: 0px;
  margin-left: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4px;
  opacity: .8;
  height: 18px;
  padding-left: 29px;
  background: white url("images/globe-black.png") 4px 3px no-repeat;
  color: #000;
  cursor: pointer;
}

/* line 256, ../sass/app/_ui-structure.scss */
.rating-container {
  position: absolute;
  display: none;
  z-index: 9000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 265, ../sass/app/_ui-structure.scss */
.rating-container .post-info {
  margin-top: 433.46651px;
  background: white url("images/globe-color.png") 4px 3px no-repeat;
}
/* line 269, ../sass/app/_ui-structure.scss */
.rating-container .screen-overlay {
  background: white;
  opacity: .7;
}
/* line 273, ../sass/app/_ui-structure.scss */
.rating-container .rate-overlay, .rating-container .rate-needle, .rating-container .rate-listener, .rating-container .screen-overlay {
  position: absolute;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 278, ../sass/app/_ui-structure.scss */
.rating-container .rate-listener .btn-close {
  right: 10px;
  top: 5px;
  position: absolute;
  z-index: 11001;
}
/* line 285, ../sass/app/_ui-structure.scss */
.rating-container .rate-overlay {
  background: url("images/dial-bkgd.png") 50% 10% no-repeat;
  background-size: 80%;
}
/* line 289, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle {
  background: url("images/dial-needle.png") 50% 26% no-repeat;
  background-size: 80%;
  -webkit-transition: -webkit-transform .7s ease;
  -moz-transition: -moz-transform .7s ease;
  -o-transition: -o-transform .7s ease;
  -webkit-transform-origin: 50% 54.275% 0;
  -moz-transform-origin: 50% 54.275% 0;
  -ms-transform-origin: 50% 54.275% 0;
  -o-transform-origin: 50% 54.275% 0;
  transform-origin: 50% 54.275% 0;
}
/* line 296, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 297, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot1 {
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  transform: rotate(32deg);
}
/* line 298, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot2 {
  -webkit-transform: rotate(64deg);
  -moz-transform: rotate(64deg);
  -ms-transform: rotate(64deg);
  -o-transform: rotate(64deg);
  transform: rotate(64deg);
}
/* line 299, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot3 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}
/* line 300, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot4 {
  -webkit-transform: rotate(128deg);
  -moz-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  -o-transform: rotate(128deg);
  transform: rotate(128deg);
}
/* line 301, ../sass/app/_ui-structure.scss */
.rating-container .rate-needle.rot5 {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}
/* line 303, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools {
  margin-top: 60%;
  position: absolute;
  width: 100%;
}
/* line 307, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .post-group {
  height: 32px;
  padding-top: 10px;
  clear: both;
}
/* line 308, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .counter {
  float: left;
  margin-left: 10%;
  margin-top: 7px;
  min-height: 20px;
  padding-left: 25px;
  background: url("images/globe-color.png") no-repeat;
}
/* line 309, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .btn-post {
  float: right;
  margin-right: 10%;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 310, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .already-rated {
  text-align: center;
  margin-top: 10px;
}
/* line 311, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment {
  margin-top: 10px;
}
/* line 313, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment strong {
  color: #ee0093;
}
/* line 316, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
  margin-left: 10%;
  float: left;
}
/* line 323, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .txtarea {
  float: left;
}
/* line 325, ../sass/app/_ui-structure.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 48px;
  color: #329fa4;
  width: 308px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
.rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}

/* line 343, ../sass/app/_ui-structure.scss */
section.static {
  box-sizing: border-box;
  display: none;
  width: 100%;
  clear: both;
  height: 100%;
  position: fixed;
  z-index: 9000;
  background: url("images/bkgd-dots.jpg");
  cursor: pointer;
}
/* line 353, ../sass/app/_ui-structure.scss */
section.static section {
  height: 100%;
  overflow: auto;
}
/* line 357, ../sass/app/_ui-structure.scss */
section.static .mission {
  display: none;
  /* background: url("images/bkgd-dial-vertical.png") left 40px no-repeat; */
  height: 100%;
}
/* line 361, ../sass/app/_ui-structure.scss */
section.static .mission .content {
  margin-left: 320px;
  padding-top: 100px;
  width: 600px;
}
/* line 367, ../sass/app/_ui-structure.scss */
section.static .terms, section.static .contact {
  padding: 30px;
}
/* line 370, ../sass/app/_ui-structure.scss */
section.static .btn-close {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
}

/* line 378, ../sass/app/_ui-structure.scss */
section.dashboard {
  box-sizing: border-box;
  background: white url("images/bkgd-dots.jpg");
  position: fixed;
  top: 0px;
  height: 330px;
  z-index: 9000;
  top: 98px;
  padding-top: 14px;
  padding-left: 100px;
  width: 100%;
  display: none;
}
/* line 391, ../sass/app/_ui-structure.scss */
section.dashboard .content-box {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid 1px #e6e6e6;
  background: #fbfbfb;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 12px;
  font-size:12px;
  overflow: hidden;
}
/* line 403, ../sass/app/_ui-structure.scss */
section.dashboard .navigation {
  position: absolute;
  margin-left: 1092px;
  margin-top:-2px;
}
/* line 406, ../sass/app/_ui-structure.scss */
section.dashboard .navigation div {
  width: 135px;
  height: 26px;
  margin-bottom: 42px;
}
/* line 407, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .nav-state {
    cursor: pointer;
}
/* line 407, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .arrow-up {
    background: url("images/nav-dashboard-arrow-up.png") no-repeat;
    cursor: pointer;
}
/* line 411, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .arrow-down {
  background: url("images/nav-dashboard-arrow-down.png") no-repeat;
  cursor: pointer;
}
/* line 415, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .on {
  background: url("images/nav-dashboard-on.png") no-repeat;
}
/* line 417, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .on span {
    font-family:'Whitney-Bold';
    color: #ee0093;
    margin-left: 64px;
    font-size: 1em;
    line-height: 26px;
}
/* line 419, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .off {
  background: url("images/nav-dashboard-off.png") no-repeat;
}
/* line 421, ../sass/app/_ui-structure.scss */
section.dashboard .navigation .off span {
  display: none;
}
/* line 426, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons {
  float: left;
  margin-right: 12px;
}
/* line 429, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons div {
  width: 34px;
  height: 34px;
  margin-bottom: 16px;
}
/* line 430, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .photo {
  background: url("images/icon-photo.png") center top no-repeat;
}
/* line 431, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .location {
  background: url("images/icon-location.png") center top no-repeat;
}
/* line 432, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .music {
  background: url("images/icon-music.png") center top no-repeat;
}
/* line 433, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .sound {
  background: url("images/icon-sound.png") center top no-repeat;
}
/* line 434, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .video {
  background: url("images/icon-video.png") center top no-repeat;
}
/* line 435, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .icons .thought {
  background: url("images/icon-thought.png") center top no-repeat;
}
/* line 437, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .content-box {
  width: 492px;
  height: 270px;
}
/* line 440, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar {
  height: 20px;
  min-width: 20px;
  margin-bottom: 3px;
  text-align: right;
  line-height: 20px;
  font-size: .8em;
  font-weight: bold;
  padding-right: 6px;
  color: #333333;
}
/* line 450, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.photo {
  background: #fbd917;
}
/* line 451, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.location {
  background: #ee0093;
}
/* line 452, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.music {
  background: #f69639;
}
/* line 453, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.sound {
  background: #329fa4;
}
/* line 454, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.video {
  background: #a40069;
}
/* line 455, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar.thought {
  background: #4dbcc2;
}
/* line 457, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .value-bar:last-of-type {
  margin-bottom: 30px;
}
/* line 458, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .avatar-row {
  display: block;
  overflow-x: auto;
}
/* line 461, ../sass/app/_ui-structure.scss */
section.dashboard section.fuels .avatar-row .avatar {
  display: inline-block;
  margin-right: 14px;
  width: 41px;
  height: 41px;
  background-color: #e1e1e1;
  cursor: pointer;
}
/* line 470, ../sass/app/_ui-structure.scss */
section.dashboard .user-box {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 242px;
  height: 48px;
  padding: 4px;
  margin-bottom: 4px;
  font-family:'HelveticaW01-RoundedBd';
  font-size:10px;
    float: left;
    margin-right: 6px;
}
/* line 479, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .avatar {
  float: left;
  border-top-left-radius: 4px;
}
/* line 483, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .user-info {
  float: left;
  height: inherit;
  width: 130px;
  margin-left: 4px;
  text-align: left;
  padding-top: 10px;
  color: white;
}
/* line 491, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .user-info span {
  color: #ee0093;
  font-weight: bold;
}
/* line 493, ../sass/app/_ui-structure.scss */
section.dashboard .user-box .rating-info {
  float: right;
  text-align: center;
  border-left: solid 2px white;
  width: 55px;
  height: inherit;
  margin-top: -4px;
  padding-top: 9px;
}
/* line 504, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers {
  display: none;
}
/* line 506, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box {
  width: 515px;
  height: 270px;
}
/* line 508, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .col {
  float: left;
}
/* line 510, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .col:last-child {
  /*margin-left: 15px;*/
}
/* line 514, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box .user-box {
  background-color: #fbd917;
}
/* line 518, ../sass/app/_ui-structure.scss */
section.dashboard section.fuelers .content-box:last-child .user-box {
  background-color: #4dbcc2;
}
/* line 524, ../sass/app/_ui-structure.scss */
section.dashboard section.friends {
  display: none;
}
/* line 526, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box {
  width: 515px;
  height: 270px;
  position:relative;
}
/* line 528, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .col {
  float: left;
  margin-left:35px;
}
/* line 530, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .col:last-child {
  margin-left: 15px;
}
/* line 534, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .user-box {
  background-color: #f69639;
}
/* line 536, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box .user-box .rating-info {
  display: none;
}
/* line 539, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box:last-child .user-box {
  background-color: #4dbcc2;
}
/* line 541, ../sass/app/_ui-structure.scss */
section.dashboard section.friends .content-box:last-child .user-box .rating-info {
  display: none;
}

/* line 548, ../sass/app/_ui-structure.scss */
section.post-detail {
  box-sizing: border-box;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("images/bkgd-dots.jpg");
  z-index: 11000;
  top: 0;
}
/* line 558, ../sass/app/_ui-structure.scss */
section.post-detail .rating-container {
  bottom: 0px;
  z-index: 12000;
  background-image: url("images/bkgd-dots.jpg");
  left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px #e6e6e6;
  background-size: auto !important;
  background-position: auto !important;
  background-repeat: repeat;
}
/* line 568, ../sass/app/_ui-structure.scss */
section.post-detail .rating-container .screen-overlay {
  display: none;
}
/* line 571, ../sass/app/_ui-structure.scss */
section.post-detail .lightbox-screen {
  z-index: 8900;
  display: none;
}
/* line 575, ../sass/app/_ui-structure.scss */
section.post-detail video {
  position: fixed;
  width: 100%;
  height: 100%;
}
/* line 580, ../sass/app/_ui-structure.scss */
section.post-detail audio {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  margin-left: -200px;
}
/* line 587, ../sass/app/_ui-structure.scss */
section.post-detail .mejs-audio {
  left: 50%;
  margin-left: -200px;
  top: 49%;
}
/* line 592, ../sass/app/_ui-structure.scss */
section.post-detail .btn-close {
  right: 10px;
  top: 5px;
  position: fixed;
  z-index: 11001;
}
/* line 598, ../sass/app/_ui-structure.scss */
section.post-detail.expanded .comments-pane {
  display: '';
}
/* line 601, ../sass/app/_ui-structure.scss */
section.post-detail.collapsed .comments-pane {
  display: none;
}
/* line 604, ../sass/app/_ui-structure.scss */
section.post-detail .full-page-image {
  height: 100%;
  position: absolute;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}
/* line 613, ../sass/app/_ui-structure.scss */
section.post-detail .comments-not-logged-in-message {
  padding: 4px;
  border-radius: 4px;
  border: solid 1px #329fa4;
}
/* line 617, ../sass/app/_ui-structure.scss */
section.post-detail .comments-not-logged-in-message a {
  color: #329fa4;
}
/* line 619, ../sass/app/_ui-structure.scss */
section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
  position: fixed;
  bottom: 24px;
  width: 250px;
  padding: 4px 4px 4px 40px;
  border-radius: 4px;
  left: 60px;
  background: url("images/bkgd-dots.jpg");
  border: solid 1px #e6e6e6;
  font-size: .8em;
  line-height: 16px;
  z-index: 10004;
}
/* line 630, ../sass/app/_ui-structure.scss */
section.post-detail .dial-not-logged-in-message a, section.post-detail .thank-you-message a {
  color: #329fa4;
}
/* line 633, ../sass/app/_ui-structure.scss */
section.post-detail .thank-you-message {
  display: none;
}
/* line 634, ../sass/app/_ui-structure.scss */
section.post-detail .dial-tab {
  position: fixed;
  bottom: 0px;
  left: 20px;
  width: 70px;
  height: 21px;
  background: url("images/dial-tab.png") no-repeat;
  padding-top: 40px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
  z-index: 10005;
}
/* line 647, ../sass/app/_ui-structure.scss */
section.post-detail .btn-expand-collapse {
  position: fixed;
  background: white;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  border: solid 1px #e6e6e6;
  right: 10px;
  top: 45px;
  z-index: 8500;
  cursor: pointer;
  opacity: .8;
}
/* line 661, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane {
  position: absolute;
  width: 290px;
  min-height: 400px;
  background: white;
  right: 0px;
  top: 35px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: solid 1px #e6e6e6;
  opacity: .85;
  padding: 30px 10px 10px;
  z-index: 8000;
  /*
  <header></header>
  <section class="post-description"></section>
  <section class="post-tags"></section>
  <section class="post-comment-header"></section>
  <section class="post-comments-list">
  */
}
/* line 674, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header, section.post-detail .comments-pane section.post-description, section.post-detail .comments-pane section.post-tags, section.post-detail .comments-pane section.post-comment-header {
  border-bottom: solid 1px #e1e1e1;
  min-height: 20px;
  padding:5px 0px;
  margin-bottom: 10px;
  /* color:#00a99d; */
  font-size:12px;
  color:#000;
  font-family:'Helvetica W01 Roman';
}
/* line 681, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .avatar {
  border: solid 1px #fbd917;
  border-top-left-radius: 5px;
}
/* line 685, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .info {
  position: absolute;
  margin: -48px 0px 0px 58px;
  color:#00a99d;
  font-size:10px;
  font-family:'HelveticaW01-RoundedBd';
}
/* line 689, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane header .follow {
  position: absolute;
  right: 10px;
  margin-top: -26px;
}
/* line 699, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header {
  border-bottom: dashed 1px #e6e6e6;
  padding-bottom: 50px;
}
/* line 702, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header strong {
  color: #ee0093;
}
/* line 705, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
}
/* line 710, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea {
  margin: -48px 0px 0px 58px;
}
/* line 712, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 38px;
  color: #329fa4;
  width: 210px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}
/* line 725, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header .btn-post {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 733, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results {
  position: absolute;
  background: white;
  z-index: 1;
  border: solid 2px #e1e1e1;
  padding: 4px;
  margin-top: -2px;
  left: 80px;
  border-top: none;
}
/* line 742, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li {
  font-size: .9em;
  color: #329fa4;
  cursor: pointer;
  padding: 4px;
}
/* line 747, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li:hover {
  background-color: #e6e6e6;
}
/* line 753, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list {
  max-height: 300px;
  overflow-y: auto;
  clear: both;
}
/* line 757, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 5px;
  margin-right: 10px;
}
/* line 763, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list > ul li {
  border-bottom: dashed 1px #e6e6e6;
  margin-bottom: 10px;
}
/* line 766, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list > ul li:last-child {
  border: none;
}
/* line 768, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list strong {
  color: #ee0093;
  display: block;
}
/* line 772, ../sass/app/_ui-structure.scss */
section.post-detail .comments-pane section.post-comments-list div.comment-text {
  margin: -48px 0px 0px 58px;
  padding:3px 0px;
  min-height:50px;
}
/* line 785, ../sass/app/_ui-structure.scss */
section.post-detail .share-links {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
  padding: 10px;
  border-left: solid 1px #e1e1e1;
  border-top: solid 1px #e1e1e1;
  border-radius: 4px 0px;
  z-index: 8000;
}
/* line 796, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  display: inline-block;
}
/* line 801, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.facebook {
  background-image: url("images/icon-social-fb.png");
}
/* line 802, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.twitter {
  background-image: url("images/icon-social-twitter.png");
}
/* line 803, ../sass/app/_ui-structure.scss */
section.post-detail .share-links a.email {
  background-image: url("images/icon-social-email.png");
}

/* line 808, ../sass/app/_ui-structure.scss */
.lightbox-screen {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 11000;
}
/* line 816, ../sass/app/_ui-structure.scss */
.lightbox-screen.profile {
  top: 0px;
  left: 0px;
  z-index: 11900;
  display: none;
}

/* line 824, ../sass/app/_ui-structure.scss */
.xwelcome {
  box-sizing: border-box;
  background: url("images/welcome-overlay.png") center bottom no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 75%;
  z-index: 11001;
  top: 0px;
}

/* line 835, ../sass/app/_ui-structure.scss */
section.wall {
  box-sizing: border-box;
  width: 100%;
  clear: both;
  display: block;
  margin-top: 98px;
}
/* line 841, ../sass/app/_ui-structure.scss */
section.wall .lightbox-screen {
  display: none;
  z-index: 8500;
}
/* line 845, ../sass/app/_ui-structure.scss */
section.wall .rating-container {
  position: absolute;
  display: none;
  z-index: 9000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 853, ../sass/app/_ui-structure.scss */
section.wall .rating-container .post-info {
  margin-top: 433.46651px;
  background: white url("images/globe-color.png") 4px 3px no-repeat;
}
/* line 857, ../sass/app/_ui-structure.scss */
section.wall .rating-container .screen-overlay {
  background: white;
  opacity: .7;
}
/* line 861, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-overlay, section.wall .rating-container .rate-needle, section.wall .rating-container .rate-listener, section.wall .rating-container .screen-overlay {
  position: absolute;
  width: 457.46651px;
  height: 457.46651px;
}
/* line 865, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-overlay {
  background: url("images/dial-bkgd.png") 50% 10% no-repeat;
  background-size: 80%;
}
/* line 869, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle {
  background: url("images/dial-needle.png") 50% 26% no-repeat;
  background-size: 80%;
  -webkit-transform-origin: 50% 54.275% 0;
  -moz-transform-origin: 50% 54.275% 0;
  -ms-transform-origin: 50% 54.275% 0;
  -o-transform-origin: 50% 54.275% 0;
  transform-origin: 50% 54.275% 0;
}
/* line 873, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 874, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot1 {
  -webkit-transform: rotate(32deg);
  -moz-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  -o-transform: rotate(32deg);
  transform: rotate(32deg);
}
/* line 875, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot2 {
  -webkit-transform: rotate(64deg);
  -moz-transform: rotate(64deg);
  -ms-transform: rotate(64deg);
  -o-transform: rotate(64deg);
  transform: rotate(64deg);
}
/* line 876, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot3 {
  -webkit-transform: rotate(96deg);
  -moz-transform: rotate(96deg);
  -ms-transform: rotate(96deg);
  -o-transform: rotate(96deg);
  transform: rotate(96deg);
}
/* line 877, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot4 {
  -webkit-transform: rotate(128deg);
  -moz-transform: rotate(128deg);
  -ms-transform: rotate(128deg);
  -o-transform: rotate(128deg);
  transform: rotate(128deg);
}
/* line 878, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-needle.rot5 {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}
/* line 880, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools {
  margin-top: 60%;
  position: absolute;
  width: 100%;
}
/* line 884, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .post-group {
  height: 32px;
  padding-top: 10px;
  clear: both;
}
/* line 885, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .counter {
  float: left;
  margin-left: 10%;
  margin-top: 7px;
  min-height: 20px;
  padding-left: 25px;
  background: url("images/globe-color.png") no-repeat;
}
/* line 886, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .btn-post {
  float: right;
  margin-right: 10%;
  width: 89px;
  height: 32px;
  background: url("images/btn-post.png");
}
/* line 888, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment {
  margin-top: 10px;
}
/* line 890, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment strong {
  color: #ee0093;
}
/* line 893, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .avatar {
  border: solid 1px #e6e6e6;
  border-top-left-radius: 10px;
  margin-right: 10px;
  margin-left: 10%;
  float: left;
}
/* line 900, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea {
  float: left;
}
/* line 902, ../sass/app/_ui-structure.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea {
  border: solid 2px #e6e6e6;
  border-radius: 10px;
  min-height: 48px;
  color: #329fa4;
  width: 292px;
  font-size: .9em;
  padding: 4px;
}
/* line 8, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder {
  color: #329fa4;
}
/* line 14, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder {
  color: #329fa4;
}
/* line 19, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder {
  color: #329fa4;
}
/* line 24, ../sass/vendor/bourbon/css3/_placeholder.scss */
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder {
  color: #329fa4;
}
/* line 918, ../sass/app/_ui-structure.scss */
section.wall .module {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}
/* line 927, ../sass/app/_ui-structure.scss */
section.wall .module .item {
  background-size: cover;
  overflow: hidden;
  background-position: center center;
}
/* line 931, ../sass/app/_ui-structure.scss */
section.wall .module .item.P {
  background-color: #fbd917;
}
/* line 932, ../sass/app/_ui-structure.scss */
section.wall .module .item.L {
  background-color: #ee0093;
}
/* line 933, ../sass/app/_ui-structure.scss */
section.wall .module .item.V {
  background-color: #a40069;
}
/* line 934, ../sass/app/_ui-structure.scss */
section.wall .module .item.M {
  background-color: #f69639;
}
/* line 935, ../sass/app/_ui-structure.scss */
section.wall .module .item.S {
  background-color: #329fa4;
}
/* line 935, ../sass/app/_ui-structure.scss */
section.wall .module .item.A {
  /* background-color: #329fa4;*/
  background-color:#fff;
}

/* line 936, ../sass/app/_ui-structure.scss */
section.wall .module .item.T {
  background-color: #4dbcc2;
  color: white;
}
/* line 937, ../sass/app/_ui-structure.scss */
section.wall .module .item .post-info {
  position: absolute !important;
  margin-left: 10px !important;
  height: 16px !important;
  width: auto !important;
}
/* line 943, ../sass/app/_ui-structure.scss */
section.wall .module .item .item-content {
  padding: 10px;
}
/* line 946, ../sass/app/_ui-structure.scss */
section.wall .module .item .item-content:first-line {
  font-weight: bold;
}
/* line 948, ../sass/app/_ui-structure.scss */
section.wall .module div {
  position: absolute;
  display: inline-block;
}
/* line 953, ../sass/app/_ui-structure.scss */
section.wall .module.type-01 > div:nth-child(1) {
  width: 99.5%;
  height: 59.5%;
}
/* line 956, ../sass/app/_ui-structure.scss */
section.wall .module.type-01 > div:nth-child(2) {
  width: 39.5%;
  height: 39.5%;
  margin-top: 60%;
  margin-left: 60%;
}
/* line 963, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(1) {
  width: 39.5%;
  height: 39.5%;
  margin-top: 20%;
}
/* line 967, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(2) {
  width: 39.5%;
  height: 59.5%;
  margin-left: 60%;
}
/* line 971, ../sass/app/_ui-structure.scss */
section.wall .module.type-02 > div:nth-child(3) {
  width: 59.5%;
  height: 39.5%;
  margin-left: 20%;
  margin-top: 60%;
}
/* line 978, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div {
  width: 19.5%;
  height: 19.5%;
}
/* line 981, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(6) {
  width: 59.5%;
  height: 59.5%;
  margin-top: 40%;
}
/* line 985, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(2) {
  margin-top: 20%;
  margin-left: 20%;
}
/* line 989, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(3) {
  margin-left: 40%;
}
/* line 992, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(4) {
  margin-top: 20%;
  margin-left: 60%;
}
/* line 996, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(5) {
  margin-left: 80%;
}
/* line 999, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(7) {
  margin-left: 80%;
  margin-top: 40%;
}
/* line 1003, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(8) {
  margin-top: 60%;
  margin-left: 60%;
}
/* line 1007, ../sass/app/_ui-structure.scss */
section.wall .module.type-03 > div:nth-child(9) {
  margin-top: 80%;
  margin-left: 80%;
}
/* line 1013, ../sass/app/_ui-structure.scss */
section.wall .module.type-04 > div:nth-child(1) {
  width: 39.5%;
  height: 39.5%;
  margin-left: 60%;
}
/* line 1017, ../sass/app/_ui-structure.scss */
section.wall .module.type-04 > div:nth-child(2) {
  width: 59.5%;
  height: 59.5%;
  margin-top: 40%;
}
/* line 1023, ../sass/app/_ui-structure.scss */
section.wall .module.type-05 > div:nth-child(1) {
  width: 59.5%;
  height: 59.5%;
  margin-left: 40%;
}
/* line 1027, ../sass/app/_ui-structure.scss */
section.wall .module.type-05 > div:nth-child(2) {
  width: 59.5%;
  height: 39.5%;
  margin-top: 60%;
}
/* line 1033, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(1) {
  width: 59.5%;
  height: 39.5%;
}
/* line 1036, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(2) {
  width: 19.5%;
  height: 19.5%;
  margin-left: 80%;
}
/* line 1040, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(3) {
  width: 39.5%;
  height: 39.5%;
  margin-left: 40%;
  margin-top: 40%;
}
/* line 1045, ../sass/app/_ui-structure.scss */
section.wall .module.type-06 > div:nth-child(4) {
  width: 19.5%;
  height: 19.5%;
  margin-top: 80%;
}

/* line 1053, ../sass/app/_ui-structure.scss */
section.profile {
  display: none;
  position: fixed;
  width: 800px;
  min-height: 270px;
  z-index: 12000;
  padding: 40px;
  left: 43%;
  top: 5%;
  background: url("images/bkgd-dots.jpg");
  border-radius: 4px;
  border: solid 2px #e6e6e6;
  margin-left: -350px;
}
/* line 1066, ../sass/app/_ui-structure.scss */
section.profile strong {
  color: #ee0093;
  margin-bottom: 10px;
  display: block;
  font-size:14px;
}
/* line 1071, ../sass/app/_ui-structure.scss */
section.profile a {
  color: #ee0093;
}
/* line 1074, ../sass/app/_ui-structure.scss */
section.profile .login, section.profile .register, section.profile .manage-account, section.profile .reset-password {
  display: none;
}
/* line 1075, ../sass/app/_ui-structure.scss */
section.profile.sign-in {
  display: '';
}
/* line 1077, ../sass/app/_ui-structure.scss */
section.profile.sign-in .login {
  display: '';
}
/* line 1081, ../sass/app/_ui-structure.scss */
section.profile input {
  line-height: 40px;
  width:245px;
}
/* line 1084, ../sass/app/_ui-structure.scss */
section.profile input[type='file'] {
  position: absolute;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  opacity: 0;
  cursor: pointer;
}
/* line 1092, ../sass/app/_ui-structure.scss */
section.profile label {
  min-width: 100px;
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  line-height: 40px;
  font-weight: bold;
}
/* line 1100, ../sass/app/_ui-structure.scss */
section.profile .form-row {
  margin-top: 10px;
  width:370px;
}
/* line 1103, ../sass/app/_ui-structure.scss */
section.profile .form-column {
  float: left;
  margin-right: 20px;
}
/* line 1107, ../sass/app/_ui-structure.scss */
section.profile .button {
  width: 120px;
  float: right;
  margin-left: 10px;
  padding: 10px 0;
}
/* line 1115, ../sass/app/_ui-structure.scss */
section.profile .profile-avatar .button {
  width: 156px;
  height: 151px;
  background: white url("images/bkgd-upload-avatar.png") center no-repeat;
  background-size: contain;
  /* border: solid 1px #e6e6e6; */
  border-radius: 4px;
  color: #333333;
  font-weight: bold;
  line-height: 1em;
  margin-left:90px;
  margin-top:-21px;
}
/* line 1125, ../sass/app/_ui-structure.scss */
section.profile .profile-avatar .img-preview {
  position: absolute;
}

/* -----------------------------------------
   Buttons
----------------------------------------- */
/* line 5, ../sass/app/_ui-elements.scss */
.button {
  padding: 0px 4px;
  color: white;
  min-width: 64px;
  height: 26px;
  border-radius: 4px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

/* line 15, ../sass/app/_ui-elements.scss */
.button, .button.blue {
  background-color: #4dbcc2;
}

/* line 18, ../sass/app/_ui-elements.scss */
.button.pink {
  background-color: #ee0093;
}

@media screen and (max-width: 1024px) {
  /* line 4, ../sass/app/_device-tablet.scss */
  section.wall {
    width: 100%;
  }

  /* line 7, ../sass/app/_device-tablet.scss */
  .main-container > header nav {
    margin-left: 220px;
  }

  /* line 12, ../sass/app/_device-tablet.scss */
  section.static .mission .content {
    max-width: 500px;
    padding-right: 10px;
  }

  /* line 19, ../sass/app/_device-tablet.scss */
  section.post-detail .full-page-image {
    height: 450px;
    border: solid 1px #e6e6e6;
  }
  /* line 23, ../sass/app/_device-tablet.scss */
  section.post-detail .dial-tab {
    /*
    bottom: auto;
    top: 550px;
    margin-top: -61px;
    */
  }
  /* line 30, ../sass/app/_device-tablet.scss */
  section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
    /*
    bottom: auto;
    top:506px;
    */
  }
  /* line 36, ../sass/app/_device-tablet.scss */
  section.post-detail .btn-expand-collapse {
    top: 580px;
    right: 2%;
  }
  /* line 40, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane {
    right: auto;
    top: 460px;
    width: 98%;
    margin: 1%;
    border-radius: 0px;
  }
  /* line 46, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane a.follow {
    position: relative;
    right: auto;
    float: right;
  }
  /* line 51, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane section.group {
    width: 48%;
    margin-right: 1%;
    float: left;
  }
  /* line 55, ../sass/app/_device-tablet.scss */
  section.post-detail .comments-pane section.group:last-child {
    float: right;
  }

  /* line 59, ../sass/app/_device-tablet.scss */
  section.dashboard {
    height: 650px;
  }
  /* line 62, ../sass/app/_device-tablet.scss */
  section.dashboard section.fuels .icons {
    float: none;
    position: absolute;
    margin-left: -50px;
  }
  /* line 68, ../sass/app/_device-tablet.scss */
  section.dashboard .navigation {
    margin-left: 510px;
  }
}
@media screen and (max-width: 480px) {
  /* line 4, ../sass/app/_device-mobile.scss */
  .welcome {
    /*background-position: center center;*/
    background-size: 95%;
  }

  /* line 10, ../sass/app/_device-mobile.scss */
  .rating-container {
    width: 100% !important;
    left: 0px !important;
    top: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    z-index: 12000;
    bottom: 0px !important;
  }
  /* line 18, ../sass/app/_device-mobile.scss */
  .rating-container .rate-overlay, .rating-container .rate-needle, .rating-container .rate-listener, .rating-container .screen-overlay {
    width: 100% !important;
  }
  /* line 24, ../sass/app/_device-mobile.scss */
  .rating-container .rate-tools .rate-comment .txtarea textarea {
    width: 240px;
  }

  /* line 32, ../sass/app/_device-mobile.scss */
  section.static {
    display: none;
    top: 148px;
  }
  /* line 35, ../sass/app/_device-mobile.scss */
  section.static .mission {
    display: none;
    background: url("images/bkgd-dial-horizontal.png") center bottom no-repeat;
    background-size: contain;
  }
  /* line 39, ../sass/app/_device-mobile.scss */
  section.static .mission .content {
    width: 100%;
  }

  /* line 45, ../sass/app/_device-mobile.scss */
  section.wall {
    width: 100%;
    margin-top: 148px;
  }

  /* line 49, ../sass/app/_device-mobile.scss */
  .main-container > header {
    background-position: center top;
    height: 148px;
    z-index: 12000;
  }
  /* line 53, ../sass/app/_device-mobile.scss */
  .main-container > header nav {
    margin-top: 100px;
    margin-left: -175px;
    margin-top: 100px;
    position: absolute;
    left: 50%;
  }
  /* line 59, ../sass/app/_device-mobile.scss */
  .main-container > header nav .user {
    display: none;
  }
  /* line 60, ../sass/app/_device-mobile.scss */
  .main-container > header nav .header-prefix-non-mobile {
    display: none;
  }
  /* line 61, ../sass/app/_device-mobile.scss */
  .main-container > header nav .search {
    width: 180px;
    margin-top: 0px;
  }
  /* line 64, ../sass/app/_device-mobile.scss */
  .main-container > header nav .search .search-results-container {
    min-width: auto;
  }
  /* line 69, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu {
    position: fixed !important;
    width: 100%;
    left: 0px;
  }
  /* line 74, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu .down-arrow {
    position: absolute;
    left: 200px;
    top: 5px;
    margin-left: 0px;
  }
  /* line 80, ../sass/app/_device-mobile.scss */
  .main-container > header nav .sort-menu .menu ul {
    margin-top: 20px;
  }
  /* line 86, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu {
    position: fixed !important;
    width: 100%;
    left: 0px;
  }
  /* line 91, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu .down-arrow {
    position: absolute;
    left: 254px;
    top: 5px;
  }
  /* line 96, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu ul {
    margin-left: 0;
    margin-top: 20px;
  }
  /* line 99, ../sass/app/_device-mobile.scss */
  .main-container > header nav .filter-menu .menu ul li {
    background-size: auto !important;
    padding-left: 60px;
  }
  /* line 107, ../sass/app/_device-mobile.scss */
  .main-container > header .mission {
    display: none;
  }
  /* line 108, ../sass/app/_device-mobile.scss */
  .main-container > header .mobile-menu {
    display: block;
  }
  /* line 110, ../sass/app/_device-mobile.scss */
  .main-container > header .mobile-menu .icon-ios-menu {
    display: block;
  }

  /* line 113, ../sass/app/_device-mobile.scss */
  section.wall.mobile-menu-on {
    margin-left: 199px;
  }

  /* line 116, ../sass/app/_device-mobile.scss */
  section.profile {
    width: 100%;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    position: absolute;
    height: 800px;
    z-index: 14000;
  }
  /* line 125, ../sass/app/_device-mobile.scss */
  section.profile .register .form-column:first-child, section.profile .manage-account .form-column:first-child {
    margin-bottom: 30px;
  }
  /* line 127, ../sass/app/_device-mobile.scss */
  section.profile .register .form-column:first-child > p, section.profile .manage-account .form-column:first-child > p {
    width: 300px;
  }
  /* line 130, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar {
    margin-top: 20px;
  }
  /* line 132, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar > strong, section.profile .profile-avatar > p {
    display: none;
  }
  /* line 133, ../sass/app/_device-mobile.scss */
  section.profile .profile-avatar .button {
    position: absolute;
    top: 20px;
    zoom: .5;
    left: 440px;
  }
  /* line 140, ../sass/app/_device-mobile.scss */
  section.profile .button.pink {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 10px;
  }

  /* line 147, ../sass/app/_device-mobile.scss */
  section.post-detail {
    z-index: 13000;
  }
  /* line 149, ../sass/app/_device-mobile.scss */
  section.post-detail .full-page-image {
    height: 100%;
    border: solid 1px #e6e6e6;
  }
  /* line 153, ../sass/app/_device-mobile.scss */
  section.post-detail .dial-tab {
    bottom: 0px;
    top: auto;
    margin-top: -61px;
  }
  /* line 158, ../sass/app/_device-mobile.scss */
  section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message {
    width: 100px;
  }
  /* line 161, ../sass/app/_device-mobile.scss */
  section.post-detail .btn-expand-collapse {
    top: auto;
    right: 2%;
    z-index: 13000;
    bottom: 50px;
    border: none;
    color: transparent;
    background: url("images/icon-info.png") no-repeat;
    background-size: contain;
  }
  /* line 171, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane {
    right: auto;
    top: 0px;
    width: 100%;
    margin: 0;
    border-radius: 0px;
    z-index: 12990;
  }
  /* line 178, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane a.follow {
    display: inline-block;
    margin-right: 20px;
    float: right;
  }
  /* line 183, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane section.group {
    width: auto;
    margin: 0;
    float: none;
  }
  /* line 187, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane section.group:last-child {
    float: none;
  }
  /* line 190, ../sass/app/_device-mobile.scss */
  section.post-detail .comments-pane section.post-comment-header .btn-post {
    margin-right: 20px;
  }

  /* line 196, ../sass/app/_device-mobile.scss */
  section.dashboard {
    height: 630px;
  }
  /* line 199, ../sass/app/_device-mobile.scss */
  section.dashboard section.fuels .icons {
    float: none;
    position: absolute;
    margin-left: -50px;
  }
  /* line 205, ../sass/app/_device-mobile.scss */
  section.dashboard .navigation {
    margin-left: 510px;
  }

  /* line 209, ../sass/app/_device-mobile.scss */
  footer {
    display: none;
  }
}
@-moz-document url-prefix() {
  /* line 2, ../sass/app/_browser-ff.scss */
  .main-container > header nav .search .btn-close {
    margin-top: 0px;
  }

  /* line 6, ../sass/app/_browser-ff.scss */
  .sort-menu .menu {
    position: absolute;
    margin-top: 20px;
    margin-left: -90px;
  }

  /* line 13, ../sass/app/_browser-ff.scss */
  .filter-menu .menu {
    position: absolute;
    margin-top: 20px;
    margin-left: -30px;
  }

/* line 19, ../sass/app/_browser-ff.scss */
section.profile input[type="file"] {
    margin-left: -275px;
}

