@font-face { font-family: proximaCnBold; src: url('../fonts/ProximaNovaCond-Bold.otf'); }
@font-face { font-family: proximaCnBoldSEx; src: url('../fonts/ProximaNovaSExCn-Bold.otf'); }
@font-face { font-family: proximaCnBoldEx; src: url('../fonts/proximanovaexcn-bold.otf'); }
@font-face { font-family: proximaCnBoldS; src: url('../fonts/proximanovascond-bold.otf'); }
@font-face { font-family: proximaCnSemibold; src: url('../fonts/ProximaNovaCondensed-Semibold.otf'); }
@font-face { font-family: proximaCnRegular; src: url('../fonts/ProximaNovaCondensed-Regular.otf'); }
@font-face { font-family: proximaCnABold; src: url('../fonts/ProximaNovaACond-Bold.otf'); }

body {
    margin: 0px;
}
div:not(.email-button, .columnBox) {
    border-right:1px solid blue;
    border-bottom:1px solid blue;
    position: relative;
}
.container {
    width: 1024px;
    height: 768px;
    position: absolute;
    margin:0; padding:0;
    top:0; left:0;
    display: none;
}
.container.on {
    display: block;
}
#quickNav {
    width: 524px;
    height: 58px;
    position: absolute;
    margin:0; padding:0;
    top:780px; left:30px;
}
#quickNav a {
    text-decoration: none;
}
#quickNav a div {
    width: 21px; height: 19px; padding: 0px 4px;
    color: white;
    background: blue;
    display: inline-block;
}
#quickNav a div:hover {
    background: green;
}
h1,h2 { margin:0; padding:0px;
text-align: center;
text-transform: uppercase;
}
.off {
    display:none !important;
}
/* TOP ORANGE BAR */
#topBar {
    width: 1024px;
    height: 66px;
    background-image: url('../../images/home-header-bar.png');
}
#logo_zoetis {
    float:right;
    height: 61px;
    width: 121px;
    border: 1px solid purple;
}
#logo_left {
    width: 300px;
    height: 61px;
    border: 1px solid purple;
}

/* 2ND  HOME BAR */
#homeBar {
    width: 1024px;
    height: 52px;
    display: block;
    overflow: hidden;
}

    #homeBar > div {
        float: left;
        font-family: proximaCnBoldS;
        font-size: 16px;
        line-height: 52px;
        text-decoration: none;
    }

    #homeBar > div.save-button {
        float: right;
        margin: 0px 20px 0px 0px;
        width: 25px;
        background: transparent url('../../images/planner-topnav-save-icon.png') no-repeat 0px 15px;
    }

    #homeBar > div.edit-button {
        background: url(../../images/planner-topnav-edit-icon.png) no-repeat 0px 15px;
        width: 25px;
        height: 52px;
        float:right;
        margin: 0px 24px;
    }

    #homeBar > div.divider {
        border-left: 2px solid #272d87;
        margin: 15px 8px 0px 24px;
        height: 22px;
    }

    #homeBar > div.back-arrow {
        background: url(../../images/planner-back-arrow.png) no-repeat 0px 17px;
        width: 23px;
        margin: 0px 10px;
    }

        #homeBar > div a {
            line-height: 52px;
            text-decoration: none;
            color: #272d87;
            display: block;
            width: 100%;
            height: 100%;
        }

        #homeBar > div.back-arrow a {
            line-height: 52px;
            width: 23px;
            text-decoration: none;
            display: block;
        }

    #homeBar > div.label {
        color: #ff6400;
        margin: 0px 5px 0px 80px;
    }

    #homeBar > div.info {
        color: #272d87;
}

    #homeBtn a {
/*         width: 300px; */
        float: left;
        /* height: 50px; */
        /* border: 1px solid purple; */
        padding-left: 20px;
        color: #272d87;
        font-family: proximaCnBoldS;
        font-size: 16px;
        line-height: 52px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }
    #homeBar div.add-button {
        width: 23px;
        height: 23px;
        float: right;
        margin: 15px 25px 0 0;
        background: transparent url('../../images/planner-topnav-add-icon.png') no-repeat;
        cursor: pointer;
    }

/* BLUE  BAR */
#BlueBar {
    width: 1024px;
    height: 83px;
}
    .statusLine {
        height: 66px;
        padding-left: 20px;
        background: #272d87;
        border-bottom: 1px solid #d4d5e7;
        color: #ffffff;
        font-family: proximaCnBoldS;
        font-size: 20px;
        line-height: 70px;
        text-transform: uppercase;
    }
    .statusLine div {
        font-family: proximaCnBoldS;
    }

    .statusLine div > a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .statusLine div.presentation-name {
        float: left;
    }
    #BlueBar div.edit-meeting-notes {
        /* float: right;
        background: url(../../images/planner-tabnav-meeting-icon.png) no-repeat 0px 18px;
        width: 30px;
        height: 60px;
        margin-right: 15px; */
        float: right;
    }
    #BlueBar div.edit-meeting-notes a {
        width: 75px;
        height: 66px;
        display: block;
        background: transparent url('../../images/planner-tabnav-meeting-icon.png') no-repeat;
        background-position: 25px 19px;
    }
    #BlueBar div.edit-presentation-name {
        float: left;
        background: url(../../images/planner-edit-icon-white.png) no-repeat 0px 24px;
        width: 20px;
        height: 60px;
        margin-left: 5px;
    }

.phaseSelect {
    display: block;
    color: #fff;
    width: 350px;
    float: left;
}
.phaseSelect > div {
    float: left;
}
#phaseTwo {
    width: 450px;
}
.circleNumber {
    color: #272d87;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-align: center;
    line-height: 32px;
    font-size: 22px;
    font-weight: normal;
    margin-right: 14px;
    margin-top: 16px;
}
.phaseSelectOff {
    color:#272d87;
}
.phaseSelectOff div.circleNumber {
    background: #686cab;
    color: #b4b6d5;
}
#phasePanel {
    border: 2px solid blue;
    font-family: 'Comic Sans MS';
    position:absolute;
    top: 200px;
left: 1036px;
width: 200px;
height: 200px;
    padding: 10px;
}
#activePhases {
    border: 1px solid blue;

}
    .arrowLine {
        width: 420px;
        height: 20px;
        margin-top: -1px;
    }
    .arrowLine.position1 {
        margin-left: 0;
        background: transparent url('../../images/planner-tabnav-down-arrow1.png') no-repeat;
    }
    .arrowLine.position1.greybg {
        background: transparent url('../../images/planner-tabnav-down-arrow.png') no-repeat;
    }
    .arrowLine.position2 {
        background: transparent url('../../images/planner-tabnav-down-arrow2.png') no-repeat !important;
    }

/* BODY SECTION */
#vpBody {
    height: 551px;
    width: 1024px;
    position: relative;
}
.columnBox {
    position: absolute;
    height: 490px;
    width: 311px;
    /* border: 1px solid GREEN; */
    top: 59px;
}
.columnBox h1 {
    font-family: proximaCnBoldEx;
    color: #272d87;
    padding: 2px 0px 1px 0px;
}
.columnBox h2 {
    font-family: proximaCnBoldS;
    color: #fff;
    background: #272d87;
    font-size: 20px;
    padding: 7px 0px;
}
.columnBox h2.editIcon {
    background: #272d87 url('../../images/planner-edit-icon-white.png') no-repeat;
    background-position: 270px 10px;
}
#customerDivContainer {
    left: 168px;
}
#customerDivContainer .deleteCustomer {
    width: 20px;    height: 20px;
    border: 1px solid red;
    float:right;
}
#planDivContainer {
    left: 544px;
}
#planEditButton {
width: 46px;
height: 33px;
float: right;
top: 50px;
position: absolute;
left: 256px;
}
#planEditButton > a {
    display: block;
    width: 100%;
    height: 100%;
}
.planRemove {
    display:none;
width: 30px;
height: 33px;
float: left;
margin: -3px 6px 0 -6px;
background:
transparent url('../../images/planner-products-remove-icon.png');
background-position: 0px 0px;
cursor: pointer;
}
#planList.edit .planRemove {
    display:block;
}
.planRemove a {
    display: block;
    width: 100%;
    height: 100%;
}
.columnBoxInput {
    width: 270px;
    margin: 7px 0px 4px 0px;
    padding: 3px 5px;
    /* border: 1px solid #999; */
    border-top: 1px solid #cccccc;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #f6f6f6;
    border-left: 1px solid #e5e5e5;
    -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
    color: #6e6e6e;
    font-size: 16px;
}
.columnBoxDiv {
    padding: 6px 14px;
    border: 1px solid #f0f0f0;
    border-top: 0;
}
#customerDivScroll {
    height: 265px;
    overflow: auto;
    /* display: block;
    position: relative;
    overflow: hidden; */
}
.columnBoxDiv a {
    font-family: proximaCnSemibold;
    font-size: 20px;
    color: #959595;
    text-decoration: none;
}
.columnBoxDiv:not(input) {
    line-height: 30px;
}

.columnBoxDiv .emailButton {
    float: right;
    display: block;
    overflow: hidden;
}
.emailButton a {
     width: 24px;
     height: 18px;
     margin: 7px 0px 5px 0;
        background-image: url('../../images/planner-email-icon.png');
        background-position: 0px -18px;
        display: block;
    }
    .emailButton a:hover {
        background-position: 0px 0px;
    }



/* a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;
    display:none;
    margin-left: -268px;
    margin-top: 16px;
    line-height:16px;
}
a.tooltip:hover span{
    width: 315px;
    height: 113px;
    display:inline;
    position:absolute;
    background: transparent url('../../images/planner_sendmail_tooltip.png');
}
a.tooltip span > ul {
    padding-left: 20px;
}
a.tooltip span > ul > li {
    height: 44px;
    color: #959595;
    font-size: 18px;
    font-family: proximaCnBold;
    line-height: 46px;
    display: block;
}
a.tooltip span > ul > li:hover {
    color: #272d87;
}
 */

.popup {
    display: none;
}

.popup.on {
    display: block;
    position: relative;
}


#popup-VPP_01.popup {
    /*
    background: #272d87;
    width: 300px;
    height: 200px;
    top: 200px;
    left: 300px;
    color: white;
    */
}

#popup-VPP_01.popup a {
    /* color: white; */
}
#popup-VPP_01.popup a:visited {
    /* color: white; */
}

#popup-VPP_01-client-sendmail.popup {
    /*
    background: #272d87;
    width: 300px;
    top: 100px;
    left: 300px;
    color: white;
    */
}

#popup-VPP_01-client-sendmail.popup a {
    /* color: white; */
}
#popup-VPP_01-client-sendmail.popup a:visited {
    /* color: white; */
}

/* PopUp Send Email */
#popup-VPP_01.customDetailSendOptions {

}
    .popup.customDetailSendOptions.on {
        width: 310px;
        height: 100px;
        padding: 13px 15px;
        background: transparent url('../../images/planner-popup-customdetail-selectbg.png');
        position: relative;
        top: 308px;
        left: 475px;
        display: block;
        overflow: hidden;
    }
    .popup.customDetailSendOptions ul {
        margin: 0;
        padding: 0;
    }
    .popup.customDetailSendOptions ul > li {
        margin: 3px 0;
        padding: 0;
        list-style: none;
    }
    .popup.customDetailSendOptions ul > li a {
        width: 282px;
        height: 44px;
        padding-left: 14px;
        background: #ffffff;
        color: #272d87;
        font-size: 18px;
        font-family: proximaCnBold;
        line-height: 46px;
        text-decoration: none;
        display: block;
    }

#popup-VPP_01-client-sendmail.customDetailSendDocuments {

}
    .popup.customDetailSendDocuments.on {
        width: 310px;
        height: 415px;
        padding: 13px 15px;
        background: transparent url('../../images/planner-popup-customdetail-client-sendmailtbg.png');
        position: relative;
        top: 40px;
        left: 475px;
        display: block;
        overflow: hidden;
    }
    .popup.customDetailSendDocuments .titleLine {
        width: 246px;
        height: 40px;
        padding-left: 50px;
        color: #ffffff;
        font-size: 20px;
        font-family: proximaCnBold;
        line-height: 42px;
        text-align: center;
        display: block;
        overflow: hidden;
    }
    .popup.customDetailSendDocuments .titleLine a {
        width: 56px;
        height: 28px;
        margin-top: 4px;
        float: right;
        border-radius: 5px;
        background: #ffffff;
        color: #272d87 !important;
        font-size: 12px;
        font-family: proximaCnBold;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
    }
    .popup.customDetailSendDocuments .contentBlock {
        height: 370px;
        display: block;
        overflow: hidden;
    }
    .popup.customDetailSendDocuments .contentBlock p {
        height: 22px;
        margin: 0;
        padding: 0 0 0 10px;
        color: #ffffff;
        font-size: 16px;
        font-family: proximaCnSemibold;
        line-height: 24px;
    }
    .popup.customDetailSendDocuments .contentBlock ul {
        margin: 0;
        padding: 0;
    }
    .popup.customDetailSendDocuments .contentBlock ul > li {
        margin: 1px 0;
        padding: 0;
        list-style: none;
    }
    .popup.customDetailSendDocuments .contentBlock ul > li a {
        width: 282px;
        height: 40px;
        padding-left: 14px;
        background: #ffffff;
        color: #959595;
        font-size: 16px;
        font-family: proximaCnBold;
        line-height: 46px;
        text-decoration: none;
        display: block;
    }
    .popup.customDetailSendDocuments .contentBlock ul > li.selected a {
        background: #ffffff url('../../images/planner-popup-addproduct-check.png') center right no-repeat;
    }

#popup-VPP_09-newdetail.newDetailName {

}
    .popup.newDetailName.on {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: transparent url('../../images/planner-popup-senmail-darkbg.png');
        display: block;
        overflow: hidden;
    }
    .popup.newDetailName input {
        width: 410px;
        height: 33px;
        padding: 0 10px;
        position: absolute;
        top: 133px;
        left: 20px;
        border: 0;
        color: #272d87;
        font-size: 20px;
        font-family: proximaCnBold;
        text-transform: uppercase;
    }
    .popup.newDetailName input::-webkit-input-placeholder {
        font-family: proximaCnSemibold;
        text-transform: none;
    }
    .popup.newDetailName input::-moz-placeholder {
        font-family: proximaCnSemibold;
        text-transform: none;
    }


    .popup.sendEmail {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
/*         background: transparent url('../../images/planner-popup-senmail-darkbg.png'); */
        overflow: hidden;
    }
    .sendmailBox {
        width: 820px;
        margin: 115px 0 0 100px;
        -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
    .sendmailBox .navLine {
        height: 50px;
        background: #272d87;
        display: block;
        overflow: hidden;
    }
        .sendmailBox .navLine .elemTitle {
            width: 100%;
            height: 50px;
            float: left;
            color: #ffffff;
            font-size: 20px;
            font-family: proximaCnBold;
            line-height: 52px;
            text-align: center;
            text-transform: uppercase;
        }
        .sendmailBox .navLine a.button {
            width: 90px;
            height: 38px;
            margin-top: -44px;
            font-size: 14px;
            font-family: proximaCnBold;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 5px;
            display: block;
        }
        .sendmailBox .navLine a.button.cancel {
            float: left;
            margin-left: 10px;
            background: #494faa;
            color: #ffffff;
        }
        .sendmailBox .navLine a.button.send {
            float: right;
            margin-right: 10px;
            background: #ffffff;
            color: #272d87;
        }
    .sendmailBox .fieldLine {
        height: 40px;
        background: #ffffff;
        border-bottom: 1px solid #e9e9e9;
        display: block;
        overflow: hidden;
    }
        .sendmailBox .fieldLine label {
            padding-left: 18px;
            font-size: 14px;
            font-family: Arial, sans-serif;
            font-weight: bold;
            line-height: 40px;
        }
        .sendmailBox .fieldLine input {
            padding: 5px;
            font-size: 14px;
            border: 0;
            /* display: none; */
        }
        .sendmailBox .fieldLine input[name="to"] {
            width: 740px;
        }
        .sendmailBox .fieldLine input[name="cc"] {
            width: 710px;
        }
        .sendmailBox .fieldLine input[name="subject"] {
            width: 705px;
        }
    .sendmailBox .fieldMsg {
        height: 350px;
        padding: 18px;
        background: #ffffff;
        font-size: 16px;
        font-family: Arial, sans-serif;
        width: 784px;
    }

#popup-VPP_61-obj-entry.meetingObjectives {

}
    .popup.meetingObjectives.on {
        width: 1024px;
        height: 400px;
        background: #666666 url('../../images/planner-tabnav-down-arrow.png') no-repeat;
        position: absolute;
        top: 184px;
        left: 0;
        display: block;
    }
    .meetingObjectives.on.arrowPos1 {
        background-position: 17px 0;
    }
    .meetingObjectives.on.arrowPos2 {
        background-position: 370px 0;
    }
    .popup.meetingObjectives p {
        color: #ffffff;
        font-family: proximaCnSemibold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .popup.meetingObjectives textarea {
        width: 880px;
        margin: 0 0 0 60px;
        padding: 10px;
        border: 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        resize: none;
    }
    .popup.meetingObjectives textarea::-webkit-input-placeholder {
        font-style: italic;
    }
    .popup.meetingObjectives textarea::-moz-placeholder {
        font-style: italic;
    }

.confirm_popup {
    width: 366px;
    height: 115px;
    text-align: center;
    top: 118px;
    left: 362px;
    background-color: #666666;
    color: #FFFFFF;
    font-family: proximaCnRegular;
    padding: 10px;
}

.save.button>div {
    background: transparent url('../../images/save.png');
    width: 82px;
}

.dont-save.button>div {
    background: transparent url('../../images/dont_save.png');
    width: 121px;
}

.cancel>div {
    background: transparent url('../../images/cancel.png');
    width: 102px;
}

.confirm_popup div {
    background-repeat:no-repeat;
    background-position:center center;
    height: 39px;
    float: left;
    margin: 10px;
}

.confirm_popup div.text {
    float: none;
}

/* #VP-7, #VP-6 */
#phaseLeft {
    width: 220px;
    height: 100%;
    float: left;
    /* margin: 0 0 0 25px; */
    padding: 0 35px 0 25px;
    background: #e4e4e4;
}
#phaseMiddle {
    width: 250px;
    float: left;
    margin: 0 0 0 75px;
}
#phaseMiddle div.phaseList {
    display: none;
}
#phaseMiddle div.phaseList.on {
    display: block;
}
#phaseRight {
    width: 250px;
    float: left;
    margin: 0 0 0 70px;
}
#phasehidden {
    position: absolute;
    left:-1200px;
}
#phasehidden div {
    font-size:8px;
    line-height:8px;
}
.phaseList {
    height: 30px;
    margin-top: 5px;
    color: #363636;
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    display: block;
}
    .phaseList .phaseListCheck {
        width: 28px;
        height: 100%;
        float: left;
        border-bottom: 1px solid #cecece;
    }
    .phaseList.active .phaseListCheck {
        background: transparent url('../../images/planner-phases-check-icon.png');
    }
    .phaseList a.phaseListName {
        width: 173px;
        height: 100%;
        float: left;
        margin-left: 12px;
        padding-left: 12px;
        border-bottom: 1px solid #cecece;
        color: #363636;
        text-decoration: none;
        display: block;
    }
    .phaseList a.phaseListName:hover {
        color: #494faa;
    }
    .phaseList .phaseListRelated {
        width: 25px;
        height: 100%;
        float: left;
        border-bottom: 1px solid #cecece;
    }
    .phaseList .phaseListRelated.active {
        background: transparent url('../../images/planner-phases-related-icon.png');
    }
    .phaseList.active .phaseListRelated.active {
        background: none;
    }


.phaseLeftList {
    height: 30px;
    margin-top: 5px;
    color: #6e6e6e;
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    display: block;
}
    .phaseLeftList .phaseLeftListCheck {
        width: 28px;
        height: 100%;
        float: left;
        border-bottom: 1px solid #cecece;
    }
    .phaseLeftList.active .phaseLeftListCheck {
        background: transparent url('../../images/planner-phases-check-icon.png');
    }
    .phaseLeftList div.phaseLeftListName {
        width: 175px;
        height: 100%;
        float: left;
        margin-left: 10px;
        padding-left: 5px;
        border-bottom: 1px solid #cecece;
        text-decoration: none;
        display: block;
    }
    .phaseLeftList a.phaseLeftListName {
        width: 175px;
        height: 100%;
        float: left;
        margin-left: 10px;
        padding-left: 5px;
        border-bottom: 1px solid #cecece;
        color: #666666;
        text-decoration: none;
        display: block;
    }
    .phaseLeftList:last-child .phaseLeftListCheck,
    .phaseLeftList:last-child a.phaseLeftListName,
    .phaseLeftList:last-child div.phaseLeftListName,
    .phaseLeftList:last-child .phaseLeftListRelated {
        border: 0;
    }

.planActionButtons {
    position: absolute;
    top: 470px;
    left: 600px;
    display: block;
    /* overflow: hidden; */
}
    .planActionButtons > ul > li {
        margin: 5px;
        list-style: none;
        display: inline-block;
    }
    .planActionButtons > ul > li .previewBlock {
        width: 209px;
        height: 208px;
        padding: 5px 5px 10px;
        background: transparent url('../../images/planner-previewplan-bg.png');
        position: absolute;
        z-index: 100;
        display: none;
        margin-top: -223px;
        margin-left: -95px;
    }
    .planActionButtons > ul > li .previewBlock.on {
        display: block;
    }
    .planActionButtons > ul > li .previewBlock .title {
        height: 50px;
        color: #ffffff;
        font-family: proximaCnBold;
        font-size: 20px;
        line-height: 52px;
        text-align: center;
        text-transform: uppercase;
    }
    .planActionButtons > ul > li .previewBlock .items {
        height: 135px;
        padding: 0 5px;
        display: block;
        /* overflow-x: hidden;
        overflow-y: auto; */
        position: relative;
        overflow: hidden;
    }
    .planActionButtons > ul > li .previewBlock .items .item {
        margin-bottom: 5px;
        font-family: proximaCnBold;
        font-size: 16px;
        line-height: 42px;
        display: block;
        overflow: hidden;
    }
    .planActionButtons > ul > li .previewBlock .items .item .number {
        width: 27px;
        height: 40px;
        float: left;
        margin-left: 5px;
        background: #ffffff;
        color: #494faa;
        text-align: center;
    }
    .planActionButtons > ul > li .previewBlock .items .item .name {
        height: 40px;
        float: left;
        margin-left: 10px;
        color: #ffffff;
        width: 140px;
    }
    .planActionButtons > ul > li .previewBlock .items .ps-scrollbar-y .item .number {
      display: none;
    }
    .planActionButtons > ul > li .previewBlock .items .ps-scrollbar-y .item .name {
      display: none;
    }
    .planActionButtons > ul > li > a {
        width: 160px;
        height: 38px;
        font-family: proximaCnBold;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 5px;
        display: block;
    }
    .planActionButtons > ul > li > a.previewPlan {
        background: #e4e4e4;
        color: #828282;
    }
    .planActionButtons > ul > li > a.generatePlan {
        background: #272d87;
        color: #ffffff;
    }

#popup-VPP_name_edit {
/*  opacity: .9; */
}
#popup-VPP_name_edit input {
    font-size: 24px;
    font-weight:bold;
    margin-top: 133px;
    margin-left: 21px;
    width: 375px;
}

/* #VP_9 */
#productList {
    padding-top: 10px;
    height: 535px;
    overflow-y: auto;
}
    .productListItem {
        width: 840px;
        height: 58px;
        margin: 0px auto 17px;
        background: #ffffff;
        border: 1px solid #f7f7f7;
        list-style: none;
        /* -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05); */
        display: block;
        overflow: hidden;
    }
    .productListItem .productListItemSelect {
        width: 31px;
        height: 32px;
        float: left;
        margin: 14px 0 0 22px;
        background: transparent url('../../images/planner-products-remove-icon.png');
        background-position: 0px 0px;
        cursor: pointer;
    }
    .productListItem .productListItemName {
        margin-left: 25px;
        float: left;
        color: #959595;
        font-family: proximaCnSemibold;
        font-size: 20px;
        line-height: 58px;
    }
    .productListItem .productListItemMoved {
        width: 27px;
        height: 28px;
        float: right;
        margin: 15px 25px 0 0;
        background: transparent url('../../images/planner-products-list-icon.png');
        cursor: pointer;
    }
    .productListItem .productListItemRemove {
        width: 92px;
        height: 39px;
        float: right;
        margin: 10px 25px 0 0;
        background: transparent url('../../images/planner-products-remove-button.png');
        cursor: pointer;
        display: none;
    }
    .productListItem.selected .productListItemSelect {
        background-position: 0px -32px;
    }
    .productListItem.selected .productListItemMoved {
        display: none;
    }
    .productListItem.selected .productListItemRemove {
        display: block;
    }
    .productListItem.selected .productListItemRemove > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    #popup-VPP_09-customerselector {
        position: absolute;
        top: 99px;
        left: 230px;
    }
    #popup-VPP_09-selectcategory {
        position: absolute;
        top: 55px;
        left: 585px;
    }
    #popup-VPP_09-selectproduct {
        position: absolute;
        top: 55px;
        left: 585px;
    }
    #popup-VPP_09-save {
        position: absolute;
        top: 55px;
        left: 630px;
    }

    #popup-VPP_09-customerselector ul.selectCustomer {
        max-height: 558px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 210px;
    }


    .popup.homebarNav {
        width: 340px;
    }
        .popup.homebarNav.small {
            width: 220px;
        }
        .popup.homebarNav ul {
            margin: 0;
            padding: 0;
        }
        .popup.homebarNav ul > li {
            list-style: none;
        }
        .popup.homebarNav .popupTop {
            width: 340px;
            height: 55px;
            background: transparent url('../../images/planner-popup-addproduct-topbg.png');
            display: block;
            overflow: hidden;
        }
        .popup.homebarNav.small .popupTop {
            width: 220px;
            height: 70px;
            background: transparent url('../../images/planner-popup-selectcustomer-topbg.png');
        }
        .popup.homebarNav .popupTop ul.saveStatus > li {
            width: 251px;
            height: 40px;
            margin: 12px 30px 0 15px;
            padding-left: 15px;
            padding-right: 30px;
            background: #ffffff;
            display: block;
        }
        .popup.homebarNav .popupTop ul.saveStatus > li a{
            width: 251px;
            height: 42px;
            color: #272d87;
            font-family: proximaCnBold;
            font-size: 16px;
            line-height: 18px;
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
        }
        .popup.homebarNav .popupTop ul.saveStatus > li.selected {
            background: #ffffff url('../../images/planner-popup-addproduct-check.png') center right no-repeat;
        }
        .popup.homebarNav .popupTopTitle {
            margin: 15px 30px 0 15px;
            padding-left: 12px;
            color: #ffffff;
            font-family: proximaCnBold;
            font-size: 20px;
            line-height: 40px;
            /* text-align: center; */
            text-transform: uppercase;
        }
        .popup.homebarNav.small .popupTopTitle {
            margin: 28px 0 20px;
            padding-right: 12px;
            text-align: center;
        }
        .popup.homebarNav .popupBody .popupTopTitle {
            margin: 10px 30px 0 15px;
        }
        .popup.homebarNav .popupBody {
            width: 340px;
            background: transparent url('../../images/planner-popup-addproduct-bodybg.png');
            display: block;
            overflow: hidden;
        }
        .popup.homebarNav.small .popupBody {
            width: 220px;
            background: transparent url('../../images/planner-popup-selectcustomer-bodybg.png');
        }

        .popup.homebarNav .popupBody ul.selectCustomer > li {
            width: 175px;
            height: 40px;
            margin: 3px 30px 0 15px;
            padding-left: 15px;
            background: #ffffff;
            display: block;
        }
        .popup.homebarNav .popupBody ul.selectCustomer > li a {
            width: 175px;
            height: 42px;
            color: #959595;
            font-family: proximaCnBold;
            font-size: 16px;
            line-height: 18px;
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
        }
        .popup.homebarNav .popupBody ul.selectCategory > li {

        }
        .popup.homebarNav .popupBody ul.selectCategory > li a {
            width: 281px;
            height: 40px;
            margin: 3px 30px 0 15px;
            padding-left: 15px;
            background: #ffffff url('../../images/planner-popup-addproduct-arrow.png') center right no-repeat;
            color: #959595;
            font-family: proximaCnBold;
            font-size: 16px;
            line-height: 44px;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            display: block;
        }
        .popup.homebarNav .popupBody ul.selectProductService > li {
            width: 251px;
            height: 40px;
            margin: 3px 30px 0 15px;
            padding-left: 15px;
            padding-right: 30px;
            background: #ffffff;
            display: block;
        }
        .popup.homebarNav .popupBody ul.selectProductService > li a{
            width: 251px;
            height: 40px;
            color: #959595;
            font-family: proximaCnSemibold;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
        }
        .popup.homebarNav .popupBody ul.selectProductService > li.selected {
            background: #ffffff url('../../images/planner-popup-addproduct-check.png') center right no-repeat;
        }
        .popup.homebarNav .popupBody ul.selectPresentation > li {
            width: 251px;
            height: 40px;
            margin: 3px 30px 0 15px;
            padding-left: 15px;
            padding-right: 30px;
            background: #ffffff;
            display: block;
        }
        .popup.homebarNav .popupBody ul.selectPresentation > li.selected{
            background: #ffffff url('../../images/planner-popup-addproduct-check.png') center right no-repeat;
        }
        .popup.homebarNav .popupBody ul.selectPresentation > li a{
            width: 251px;
            height: 42px;
            color: #959595;
            font-family: proximaCnBold;
            font-size: 16px;
            line-height: 18px;
            text-decoration: none;
            vertical-align: middle;
            display: table-cell;
        }
        .popup.homebarNav .popupBody .saveChanges {
            margin: 20px 30px 10px 15px;
            display: block;
            overflow: hidden;
        }
        .popup.homebarNav .popupBody .saveChanges a {
            width: 128px;
            height: 40px;
            margin: 0 auto;
            background: #ffffff;
            border-radius: 5px;
            color: #272d87;
            font-family: proximaCnBold;
            font-size: 16px;
            line-height: 42px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            display: block;
        }
        .popup.homebarNav .disabled {
            background: #BBBBBB !important;
        }
        .popup.homebarNav .popupBottom {
            width: 340px;
            height: 18px;
            background: transparent url('../../images/planner-popup-addproduct-bottombg.png');
        }
        .popup.homebarNav.small .popupBottom {
            width: 220px;
            background: transparent url('../../images/planner-popup-selectcustomer-bottombg.png');
        }


/* VP_8 */
#product-list {
    height: 545px;
    overflow-y: auto;
}
    .sortable {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /*
    .handle {
        cursor: move;
    }
    .sortable li {
        width: 842px;
        height: 22px;
        list-style: none;
        border: 1px solid #CCC;
        background: #F6F6F6;
        color: #1C94C4;
        margin: 5px;
        padding: 5px;
    }
    li.sortable-placeholder {
        border: 1px dashed #CCC;
        background: none;
    }
    */

    ul.listProductCard {
        margin: 5px 0 0 20px;
        padding: 0;
        color: #666666;
        font-family: proximaCnSemibold;
        font-size: 14px;
        line-height: 16px;
    }
    ul.listProductCard > li {
        width: 270px;
        height: 150px;
        margin: 7px 8px 8px 7px;
        padding: 5px 20px 10px;
        background: #efefef;
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        list-style: none;
        display: inline-table;
    }
    ul.listProductCard > li img {
        margin-bottom: 5px;
    }
    ul.listProductCard > li p {
        margin: 7px 0;
    }




#popup-close {
    display: none;
    z-index: 20;
    width: 1024px;
    height: 700px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#popup-lightbox {
    display: none;
    position: absolute;
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
    z-index: 19;
    background: rgba(0,0,0,0.6);
}
#popup-close.on {
    display: block;
}
#popup-lightbox.on {
    display: block;
}
.popup {
    z-index: 21;
}



#popup-VPP_meeting-notes-edit {
    top: 118px;
    width: 1024px;
}

#popup-VPP_meeting-notes-edit div.icon {
    height: 66px;
}

#popup-VPP_meeting-notes-edit div.icon > div {
    width: 75px;
    height: 66px;
    background: #666666;
    background-position: 25px 19px;
    position: absolute;
    right: 0px;
}

#popup-VPP_meeting-notes-edit div.icon > div > img {
    margin: 19px 0 0 25px;
}

#popup-VPP_meeting-notes-edit div.title {
    text-align: center;
    font-family: proximaCnSemibold;
    font-size: 16px;
    color: white;
    padding: 7px 5px 5px;
    background: #666666;
}

#popup-VPP_meeting-notes-edit div.edit-area {
    position: relative;
    height: 100px;
    background: #666666;
}

#popup-VPP_meeting-notes-edit div.edit-area textarea {
    width: 80%;
    height: 60%;
    position: relative;
    margin: 0 auto;
    display: block;
    font-family: proximaCnSemibold;
    font-size: 16px;
    padding: 10px;
    line-height: 18px;
    border: 0;
    resize: none;
}
    #popup-VPP_meeting-notes-edit div.edit-area textarea::-webkit-input-placeholder {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
    }
    #popup-VPP_meeting-notes-edit div.edit-area textarea::-moz-placeholder {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
    }







#popframe {
    position: relative;
    height: 768px;
    width: 1024px;
}


.modal-body {
    max-height: none;
    padding: 0px;
    overflow: hidden;
}


.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 1024px;
    height: 768px;
    background-color: transparent;
    overflow: hidden;
    opacity: 0;
    z-index: 1050;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#popframe iframe {
    height: 768px;
    width: 1024px;
    border: 0px;
}
.modal-body iframe {
    overflow: hidden;
}

* {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hide {
    display: none;
}

#related_diseases {
    position: absolute;
    left: -203px;
    bottom: 8px;
    width: 142px;
    height: 42px;
    background: transparent url('../../images/related_diseases.png') no-repeat 0px 0px;
}

.pah-close {
    position: absolute;
    right: 5px;
    bottom: 55px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 2;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

#emailProductList {
    width: 296px;
    overflow: auto;
}

