/*jdelatorre overlay sow care section */

#overlay-section, #overlay-section1, #overlay-section2 {
	float: left;
	margin-left: 55px;
	padding-right: 0px;
	width: 170px;
}

#overlay-section li, #overlay-section1 li, #overlay-section2 li {
    padding-bottom: 30px;
    font-family: 'FSAlbert';
    font-weight: bold;
}

#overlay-section li.section, #overlay-section1 li.section, #overlay-section2 li.section {
	font-family: 'FSAlbert';
    font-weight: normal;
}
