/***** chrome.module.css *****/

/***** WOFF FONTS *****/
@font-face {
	font-family: "ProximaNovaCond-Bold";
	src: url('fonts/ProximaNovaCond-Bold.otf');
}

@font-face {
	font-family: "ProximaNovaExCn-Bold";
	src: url('fonts/ProximaNovaExCn-Bold.otf');
}

@font-face {
	font-family: "ProximaNovaAExCn-Bold";
	src: url('fonts/ProximaNovaAExCn-Bold.otf');
}

/***** SITE-WIDE SELECTORS *****/
body {
	-webkit-user-select: none;
	font-family: "Arial";
	margin: 0;
	visibility: hidden;
}

#header,
#pages,
#footer {
	position: relative;
}

.small {
	font-size: 12pt;
}

.x-small {
	font-size: 10pt;
}

.xx-small {
	font-size: 8pt;
}

.table {
	border-collapse: collapse;
	display: table;
}
.table > .row {
	display: table-row;
}
.table > .row > .cell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.mt-20 {
	margin-top: 20px !important;
}

.clear {
	clear:both;
}

/***** SITE-WRAPPER *****/

#site-wrapper {
	color: white;
	height: 768px;
	overflow: hidden;
	position: relative;
	width: 1024px;
	background: rgb(37,88,21);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,88,21,1)), color-stop(100%,rgba(33,80,19,1)));
	background: -webkit-linear-gradient(top,  rgba(37,88,21,1) 0%,rgba(33,80,19,1) 100%);
	background: linear-gradient(to bottom,  rgba(37,88,21,1) 0%,rgba(33,80,19,1) 100%);
}

/* backgrounds for page1-1 */
#site-wrapper.page1-1 {
    background-position: 0px 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
	background-image: url("images/home-bg.jpg");
}

/* #site-wrapper.page1-1.pig-image-1 { */
.pig-image-1 {
	background-image: url("images/pig-backgrounds/pigs1.jpg");
}

/* #site-wrapper.page1-1.pig-image-2 { */
.pig-image-2 {
	background-image: url("images/pig-backgrounds/pigs2.jpg");
}

/* #site-wrapper.page1-1.pig-image-3 { */
.pig-image-3 {
	background-image: url("images/pig-backgrounds/pigs3.jpg");
}

/***** HEADER SECTION *****/

#header {
	height: 89px;
	line-height: 89px;
	vertical-align: middle;
	overflow: hidden;
}

/* page1-1 has no header */
#site-wrapper.page1-1 #header {
	height: 0px;
    background: none;
}

#header > div {
	width: 100%;
	height: 100%;
}

#header > .background {
	left: 0;
	opacity: 0.27;
	position: absolute;
	top: 0;
}

#header > .foreground > .text {
	bottom: 2.7ex;
	display: none;
	left: 2.7ex;
}

#site-wrapper.page1-1 #header > .foreground > .text.page1-1,
#site-wrapper.page2-1 #header > .foreground > .text.page2-1,
#site-wrapper.page3-1 #header > .foreground > .text.page3-1 {
	display: block;
}

#header > .foreground > .blue-bar {
	background-color: #1376DB;
	bottom: 0;
	height: 7px;
	width: 100%;
	z-index: 2;
}
#site-wrapper.page1-1 #header > .foreground > .blue-bar {
	bottom: -7px;
}

#header > .shadow {
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.5);
	height: 10px;
	margin-bottom: -10px;
	position: relative;
}

#header-text-large {
	font-family: "ProximaNovaCond-Bold";
	font-size: 28px;
	color:#ffffff;
	text-align:center;
	height:89px;
	line-height: 89px;
	vertical-align: middle;
	margin:0 auto;
}

#header-text-large strong {
	font-size: 28px;
	color:#81bc54;
}

#header-text-large > sup {

	position: relative;
}

#header-text-small {
	font-size: 11pt;
}

#header-text-small > ul {
	margin: 0.8ex 0 0 0;
}

#header-text-small > ul > li:nth-child(n+2) {
	margin-top: 0.2ex;
}


/***** FOR THE PAGES SECTION CSS, SEE THE PAGES MODULE *****/

/** FIXME? move to page1-1.css??? **/
#site-wrapper.page1-1 #pages {
    background: none;
    height:723px;
}


/***** FOOTER SECTION *****/

#footer {
	background-color:#ffffff;
	bottom: 0;
	height: 45px;
	position: absolute;
	width: 100%;
}
/* 
#footer > .shadow {
	height: 10px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

#footer > .shadow > div {
	-webkit-box-shadow: 0 0 1em rgba(0,0,0,0.8);
	height: 100%;
	margin-top: -10px;
	position: relative;
}
 */
#footer > .table {
	border-collapse: separate;
	width: 100%;
}

#footer > .table > .row > .cell.button {
	background:url(images/footer-button-bg.png) 0 0 no-repeat;
	color: #ffff;
	width: 131px;
	height: 45px;
	text-align: center;
	line-height:45px;
	vertical-align: middle;
	text-shadow: 0px 1px 1px #000000;
}

#footer > .table > .row > .cell.button:hover {
	text-shadow: 0px 0px 15px #ffffff;
}


#footer > .table > .row > .cell.button.enabled {
	cursor: pointer;
}

#footer #zoetis-logo {
	background: url(images/footer-logo-bg.png) 28px 10px no-repeat transparent;
	height:26px;
}

#back-button,
#next-button {
	font-size: 18pt;
}

#back-button > div,
#next-button > div {
	display: inline-block;
}

#back-button > .text,
#next-button > .text {
	font-family: "ProximaNovaExCn-Bold";
	font-size: 23px;
}

#footer-text {
	position:absolute;
	top: 16px;
	left: 520px;
	font-size: 12px;
	font-family: Arial;
	color:#2e2e2e;
}

#back-button > .symbol {
	-webkit-transform: rotateY(180deg);
}

#footer-content {
	border-left: 1px solid #074C9A;
	border-right: 1px solid #0F5CAA;
	font-size: 11pt;
/*	letter-spacing: -0.1ex; *//* ticket #79 */
}

#footer-content > div {
	display: none;
}
#site-wrapper.page1-1 #footer-content > .page1-1,
#site-wrapper.page4-1 #footer-content > .page4-1,
#site-wrapper.page4-2 #footer-content > .page4-2 {
	display: block;
}


/***** navigation.module.css *****/
/***** navigation.module.css *****/

#back-button > .text:before {
	content: "BACK";
}
#site-wrapper.page1-1 #back-button {
	visibility: hidden;
}
#site-wrapper.page1-1 #footer-content {
	border-left: 1px solid transparent;
}

#back-button {
	opacity: 0.3;
}
#back-button.enabled {
	opacity: 1;
}

#next-button {
/*	opacity: 0.3; *//* disabled blur per customer request, ticket #92 */
}
#next-button.enabled {
	opacity: 1;
}

/*
#next-button > .text:before {
	content: "NEXT";
}
*/

/*** page specific labels ***/
/* FIXME? belongs in pageX-Y.css? */

#site-wrapper.page1-1 #next-button > .text:before {
	content: "START";
}
#site-wrapper.page2-1 #next-button > .text:before {
	content: "CALCULATE";
	
	background: url("images/arrow.png") no-repeat left center;
	display: inline-block;
	left: 8px;
	position: relative;
	width: 110px;
	
	/* instead of arrow.png, we could use the the unicode character below which would scale with "Calculate" text better */
	/* content: "\25B8  CALCULATE"; unicode character for Black right-pointing small triangle */
}
#site-wrapper.page3-1 #next-button > .text:before {
	content: "RECALCULATE";
}




/***** page1-1.submodule.css *****/
/***** page1-1.submodule.css *****/

#page1-1 {
	background: none; /* url("images/diagonal-lines-grey.png") 0 0 repeat #EAE8E8; */
	padding: 11px 0;
	height: 452px; /* FIXME? */
}


/***** PAGE CONTENT *****/
#page1-1 > .content > div {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,140,48,0.9)), color-stop(100%,rgba(40,97,23,0.9)));
	background: -webkit-linear-gradient(top,  rgba(69,140,48,0.9) 0%,rgba(40,97,23,0.9) 100%);
	background: linear-gradient(to bottom,  rgba(69,140,48,0.9) 0%,rgba(40,97,23,0.9) 100%);
	color: #ffffff;
	top:0px;
	left:0px;
	height: 611px;
	width:304px;
	position: absolute;
	font-size:14px;
	padding:56px 96px;
}

#page1-1 > .content > div .image {
	background: url(images/home-logo.png) 0 0 no-repeat transparent;
	width:302px;
	height:295px;
	margin-top:103px;
	margin-bottom:18px;
}

#page1-1 > .content > div > ul {
	margin:5px 0;
	padding-left:45px;
}

#page1-1 > .content > div .text2 {
	margin-top:10px;
}

#page1-1 > .content > div .text3 {
	margin-top:13px;
}

#page1-1 > .content > div .text4 {
	line-height:20px;
}

/*
#page1-1 > .content > .volume {
	border-radius: 0 5px 5px 0;
	border-right: 1px solid #E2E2E2;
	left: 0;
	width: 508px;
}
#page1-1 > .content > .customer-commitment {
	border-radius: 4px 0 0 4px;
	right: 0;
	width: 504px;
}

#page1-1 > .content > div > .title {
	font-size: 25pt;
	letter-spacing: -0.1ex;
}

#page1-1 > .content > div > .image {
	height: 165px;
	
}
#page1-1 > .content > .volume > .image {
	background: url("images/vials.png") top center no-repeat;
	margin: 2.7ex 0 0 0;
}
#page1-1 > .content > .customer-commitment > .image {
	background: url("images/handshake.png") top center no-repeat;
	margin: 4ex 0 0 0;
}

#page1-1 > .content > .volume > .description {
	padding: 1.8ex 0 0 0;
}
#page1-1 > .content > .customer-commitment > .description {
	padding: 0.5ex 0 0 0;
}

#page1-1 > .content > div > .description > div {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

#page1-1 > .content > div > .description > .text > .blue {
	font-size: 15pt;
}

#page1-1 > .content > div > .description > .text > .grey {
	color: #444242;
	font-size: 11pt;
	line-height: 140%;
	padding: 1ex 0 0 0;
}

*/


/***** page2-1.submodule.css *****/
/***** page2-1.submodule.css *****/

#page2-1 {
	height:612px !important;
}

#page2-1 .content {
	width:964px;
	margin:0 auto;
}

#page2-1 .wrapper {
	background: rgb(247,247,247);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(239,239,239,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%);
}

#page2-1 .col {
    float: left;
}

#page2-1 .spacer {
	background-color: #569028;
	color: #ffffff;
	font-family: "ProximaNovaExCn-Bold";
	font-size: 18px;
	height:34px;
	line-height: 34px;
	padding-left:23px;	
	width:941px;
    clear: both;
}

#page2-1 .spacer.partial {
    width: 617px;
    clear: left; /* ??? */
	border-right:2px solid #e2e2e2;
}

#page2-1 .col .top {
	margin-top:10px;
	height:52px;
}

#page2-1 .col .bottom {
	margin-bottom:10px;
	height:52px;
}

#page2-1 .row1 {
	height:130px;
}

#page2-1 .row1 .col1 {
	border-right:2px solid #e2e2e2;
	width:306px;
	height: 130px;
}

#page2-1 .row1 .col2 {
	border-right:2px solid #e2e2e2;
	width:332px;
	height: 130px;
}

#page2-1 .row1 .col3 {
	width:322px;
	height: 130px;
}

#page2-1 .row2 {
	height:137px;
	width:642px;
}

#page2-1 .row2 .col1 {
	border-right:2px solid #e2e2e2;
	width:343px;
	height: 137px;
}

#page2-1 .row2 .col2 {
	border-right:2px solid #e2e2e2;
	width:295px;
}

#page2-1 .row3.wrapper {
	width:640px;
	height:243px;
	border-right:2px solid #e2e2e2;
}

#page2-1 .row3.spacer .col1 {
	width:155px;
}

#page2-1 .row3.spacer .col2 {
	border-right:2px solid #e2e2e2;
	width:85px;
}

#page2-1 .row3.spacer .col3 {
	border-right:2px solid #e2e2e2;
	width:78px;
}

#page2-1 .row3.spacer .col4 {
	width:85px;
}

#page2-1 .row3.wrapper .col1 {
	height:243px;
}

#page2-1 .row3.wrapper .col2 {
	height:243px;
}

#page2-1 .row3.wrapper .col3 {
	height:243px;
}

#page2-1 .row3.wrapper .col4 {
	height:243px;
}

#page2-1 .row3 .col1, #page2-1 .row3 .col1 .p-field {
	width:165px;
}

#page2-1 .row3 .col2, #page2-1 .row3 .col2 .p-field {
	border-right:2px solid #e2e2e2;
	width:178px;
}

#page2-1 .row3 .col3, #page2-1 .row3 .col3 .p-field {
	border-right:2px solid #e2e2e2;
	width:118px;
}

#page2-1 .row3 .col4, #page2-1 .row3 .col4 .p-field {
	width:175px;
}

/** number pad layout **/

#page2-1 #calc {
	position:absolute;
	top: 164px;
	left: 671px;
}

#page2-1 #calc .spacer {
	width:300px;
}

#page2-1 #calc .wrapper {
	width:323px;
	height:414px;
}

#page2-1 .numpad-col {
	background: url(images/calc-bg.png) 0 0 no-repeat transparent;
	width:306px;
	height:323px;
	border: none;
	position:absolute;
	top:50px;
	left:10px;
}

#page2-1 #calc .p-num {
	position:absolute;
}

#page2-1 #calc .p-num span {
	opacity:0;
}

#page2-1 #calc .ps-num {
	width: 78px;
	height: 75px;
}

#page2-1 #calc .p-num:hover {
	background:url(images/calc-bg-active.png) 0 0 no-repeat transparent;
}

#page2-1 #calc .ps-1 {
	top: 158px;
	left: 6px;
}

#page2-1 #calc .ps-1:hover {
	background-position:-6px -158px;
}

#page2-1 #calc .ps-2 {
	top: 158px;
	left: 86px;
}

#page2-1 #calc .ps-2:hover {
	background-position:-86px -158px;
}

#page2-1 #calc .ps-3 {
	top: 158px;
	left: 166px;
}

#page2-1 #calc .ps-3:hover {
	background-position:-166px -158px;
}

#page2-1 #calc .ps-4 {
	top: 82px;
	left: 6px;
}

#page2-1 #calc .ps-4:hover {
	background-position:-6px -82px;
}

#page2-1 #calc .ps-5 {
	top: 82px;
	left: 86px;
}

#page2-1 #calc .ps-5:hover {
	background-position:-86px -82px;
}

#page2-1 #calc .ps-6 {
	top: 82px;
	left: 166px;
}

#page2-1 #calc .ps-6:hover {
	background-position:-166px -82px;
}

#page2-1 #calc .ps-7 {
	top: 6px;
	left: 6px;
}

#page2-1 #calc .ps-7:hover {
	background-position:-6px -6px;
}

#page2-1 #calc .ps-8 {
	top: 6px;
	left: 86px;
}

#page2-1 #calc .ps-8:hover {
	background-position:-86px -6px;
}

#page2-1 #calc .ps-9 {
	top: 6px;
	left: 166px;
}

#page2-1 #calc .ps-9:hover {
	background-position:-166px -6px;
}

#page2-1 #calc .ps-delete {
	top: 6px;
	left: 246px;
	height: 152px;
	width: 53px;
}

#page2-1 #calc .ps-delete:hover {
	background-position:-246px -6px;
}

#page2-1 #calc .ps-enter {
	top: 158px;
	left: 246px;
	height: 152px;
	width: 53px;
}

#page2-1 #calc .ps-enter:hover {
	background-position:-246px -158px;
}

#page2-1 #calc .ps-0 {
	top: 234px;
	left: 6px;
	height: 77px;
	width: 160px;
}

#page2-1 #calc .ps-0:hover {
	background-position:-6px -234px;
}


#page2-1 #calc .ps-point {
	top: 234px;
	left: 167px;
}

#page2-1 #calc .ps-point:hover {
	background-position:-167px -234px;
}

/** field text box layout **/

#page2-1 .p-ftitle {
	width: 116px; /* 225px; */
	float: left;
	margin:8px 0px 8px 35px;
	height:38px;
	line-height: 40px;
	vertical-align: middle;
	font-family: "ProximaNovaCond-Bold";
	font-size: 14px;
	color:#585858;
}

#page2-1 .p-ftitle-grayout {
	color: #888;
}

#page2-1 .p-field {
	width: 150px; /* 225px; */
	float: left;
	margin:8px 0;
	height:38px;
}

#page2-1 .p-editor {
	background: rgb(223,224,224);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,224,224,1)), color-stop(9%,rgba(241,242,242,1)), color-stop(89%,rgba(241,242,242,1)), color-stop(100%,rgba(223,224,224,1)));
	background: -webkit-linear-gradient(top,  rgba(223,224,224,1) 0%,rgba(241,242,242,1) 9%,rgba(241,242,242,1) 89%,rgba(223,224,224,1) 100%);
	background: linear-gradient(to bottom,  rgba(223,224,224,1) 0%,rgba(241,242,242,1) 9%,rgba(241,242,242,1) 89%,rgba(223,224,224,1) 100%);
	border: 1px solid #dfe0e0;
}

#page2-1 .p-editor,
#page2-1 .p-noeditor {
	width:112px;
	height:38px;
	line-height: 38px;
	vertical-align: middle;
	text-align:right;
	float: left;
	clear: both;
}

#page2-1 .p-editor div,
#page2-1 .p-noeditor div {
	float: left;
}

#page2-1 .p-ed-prefix-mutable {
	position: relative;
	text-align: center;
	margin: 0 auto;
	color: #b8b8b8;
	width:113px;
}

#page2-1 .row3 .p-ed-prefix-mutable {
	width:80px;
}

#page2-1 .p-ed-value {
	font-family: "Arial";
	font-size:16px;
	color:#585858;
	padding:0 22px;
	text-align:right;
	width: 68px;
}

#page2-1 .p-ed-prefix {
	float:left;
	font-family: "ProximaNovaCond-Bold";
	font-size:14px;
	color:#286017;
	height:38px;
	line-height: 38px;
	vertical-align: middle;
	margin-right: 7px;
}

#page2-1 .p-ed-suffix {
	float:left;
	font-family: "ProximaNovaCond-Bold";
	font-size:14px;
	color:#585858;
	height:38px;
	line-height: 38px;
	vertical-align: middle;
	margin-left: 12px;
}

#page2-1 .p-ed-suffix.cwt {
	float:right;
	margin-left:0;
}

#page2-1  .p-ed-value-no-prefix {
	margin-left: 7px;
}

#page2-1 .p-selected {
	border-color: rgb(172,200,228);
}

#page2-1 .p-viewer {
	position: relative;
	top: 50%;
	margin-top: -24px;
	margin-left: 14px;
	width: 314px;
	height: 54px;
	font-size: 26pt;
	float: left;
	clear: both;
	text-align: center;
}

#page2-1 .row1 .col3 .p-editor,
#page2-1 .row1 .col3 .p-noeditor {
	clear:none;
}

#page2-1 .row1 .col3 .p-field {
	width:170px;
}

#page2-1 .row1 .col3 .p-ftitle {
	margin-left:30px;
}

#page2-1 .row2 .col1 .p-ftitle {
	width:102px;
}

#page2-1 .row2 .p-field {
	width:205px;
}

#page2-1 .row2 .p-editor,
#page2-1 .row2 .p-noeditor {
	clear:none;
}

#page2-1 .row2 .col2 .p-ftitle {
	width:58px;
	margin-left:30px;
}

#page2-1 .row3.spacer .col2 {
	margin-left:80px;
}

#page2-1 .row3.spacer .col3 {
	margin-left:40px;
}

#page2-1 .row3.spacer .col4 {
	margin-left:40px;
}

#page2-1 .row3 .p-ftitle {
	width:155px;
}

#page2-1 .row3 .p-editor,
#page2-1 .row3 .p-noeditor {
	clear:none;
	width:80px;
}

#page2-1 .row3 .p-editor .p-ed-value,
#page2-1 .row3 .p-noeditor .p-ed-value {
	width:56px;
	padding: 0 12px;	
}

#page2-1 .row3 .col2 .p-editor,
#page2-1 .row3 .col2 .p-noeditor {
	margin-left:77px;
}

#page2-1 .row3 .col2 {
	position:relative;
}

#page2-1 .row3 .col2 .p-ed-prefix {
	position:absolute;
	left:62px;
}

#page2-1 .row3 .col3 .p-editor,
#page2-1 .row3 .col3 .p-noeditor {
	margin-left:19px;
}

#page2-1 .row3 .col4 .p-editor,
#page2-1 .row3 .col4 .p-noeditor {
	margin-left:17px;
}

/*** pop-ups ***/
/* for example, #page2-1 > .popups > .warning-start-weight > .content > blah */
/* for example, #page2-1 > .popups > .warning-end-weight > .content > blah */
#page2-1 > .popups .content .description {
  color: black;
}

#page2-1 .alert-red{
	background-color: red;
	color: white;
}



/***** page3-1.submodule.css *****/
/***** page3-1.submodule.css *****/

/***** TABLE CELL LAYOUT *****/

#pages #page3-1 {
    overflow: visible;
}

#page3-1 > .table {
    border-collapse: separate;
    font-family: "ProximaNovaExCn-Bold";
    color:#585858;
    font-size: 21px;
    height: 90%; /* 100%; */
    width: 833px;
    margin:0 auto;
}

#page3-1 > .table > .row {
    position: relative;
	height:36px;
}

#page3-1 > .table #row-feed-pounds, #page3-1 > .table #row-feed-value, #page3-1 > .table #row-pork-pounds, #page3-1 > .table #row-pork-value, #page3-1 > .table #row-cost, #page3-1 > .table #row-roi  {
	height:56px;
}

#page3-1 > .table #row-roi {
	font-size:30px;
}

#page3-1 > .table > .row > .cell {
    border-left: 1px solid #DBDBDD;
	border-bottom: 1px solid #e4e4e4;
    /* height: 16.667% !important; */
    position: relative;
}
#page3-1 > .table > .row > .cell:first-child {
	border-left:1px solid #8ea281;
    width: 197px;
	background: rgb(244,244,244);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(88%,rgba(244,244,244,1)), color-stop(100%,rgba(223,223,223,1)));
	background: -webkit-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 88%,rgba(223,223,223,1) 100%);
	background: linear-gradient(to right,  rgba(244,244,244,1) 0%,rgba(244,244,244,1) 88%,rgba(223,223,223,1) 100%);
    font-size:16px;
}

#page3-1 > .table > .row > .cell:nth-child(2) {
    width: 156px;
    background:#fff;
    color:#7b7b7b;
}
#page3-1 > .table > .row > .cell:nth-child(3) {
    width: 156px;
	color:#265b16;    
}
#page3-1 > .table > .row > .cell:nth-child(4) {
    width: 156px;
    background:#fff;
    color:#7b7b7b;
}
#page3-1 > .table > .row > .cell:nth-child(5) {
    width: 156px;
    background:#fff;
    color:#7b7b7b;
}

#page3-1 > .table > .row .cell:first-child span {
	float:right;
	margin-right:30px;
	display:block;
}

#page3-1 > .table > .row.header {
	height:48px;
}

#page3-1 > .table > .row.header .cell {
	background: url(images/totals-header-bg.jpg) 0 0 repeat;
	line-height: 48px;
	vertical-align: middle;
	border-right:1px solid #9daf98;
	border-top:1px solid #9daf98;
	border-bottom:1px solid #9daf98;
	border-left:none;
}

#page3-1 > .table > .row.header .cell:first-child {
	background:none;
	border:none;
	border-right:1px solid #9daf98;
}

#page3-1 > .table > .row.header .cell:nth-child(2) {
	border-bottom:1px solid #46643d;
}

#page3-1 > .table > .row.header .cell:nth-child(3) .albac-header {
	background: url(images/totals-header-bg.jpg) 0 0 repeat;
	position:absolute;
	height:56px;
	line-height:56px;
	vertical-align: middle;
	top:-7px;
	width:160px;
	left:-2px;
	border:1px solid #aeb7ac;
	color:#265b16;
	font-size:30px;
}

#page3-1 > .table > .row.header .cell:nth-child(4) {
	border-bottom:1px solid #46643d;
}

#page3-1 > .table > .row.header .cell:nth-child(5) {
	border-bottom:1px solid #46643d;
}


#page3-1 > .table > .row > .cell.label.green {
	font-size:21px;
    background-color: #508625;
    color: white;
    border-bottom:1px solid #3a611b;
}

#page3-1 > .table > .row > .cell:first-child.label.green {
	background: rgb(86,144,40);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(86,144,40,1)), color-stop(88%,rgba(86,144,40,1)), color-stop(100%,rgba(75,127,35,1)));
	background: -webkit-linear-gradient(left,  rgba(86,144,40,1) 0%,rgba(86,144,40,1) 88%,rgba(75,127,35,1) 100%);
	background: linear-gradient(to right,  rgba(86,144,40,1) 0%,rgba(86,144,40,1) 88%,rgba(75,127,35,1) 100%);
	font-size:21px;
}

#page3-1 > .table > .row > .cell.empty {
    background-color: #528926;
    border-left: 1px solid #4b7d23;
}
#page3-1 > .table > .row > .cell.albac-value {
    background-color: #c6dcb5;
	border-bottom:1px solid #f0f0f0;
}

#page3-1 > .table > .row > .cell.hashed {
    background-image: url("images/diagonal-lines-grey.png");
    background-repeat: repeat;
    background-position: 0 0;
}

/** FIXME? cruft?
#page3-1 > .table > .row.quarter > .cell:first-child {
    font-size: 9pt;
}
#page3-1 > .table > .row.quarter > .cell:nth-child(2),
#page3-1 > .table > .row.totes > .cell:nth-child(2) {
    color: #006FDD;
    font-family: "News Gothic Bold";
    font-size: 24pt;
}

#page3-1 > .table > .row.totes > .cell:first-child {
    font-size: 14pt;
}

#page3-1 > .table > .row.quarter > .cell > * {
    visibility: hidden;
}
#page3-1 > .table > .row.quarter > .cell:first-child > *,
#page3-1 > .table > .row.quarter.enabled > .cell > * {
    visibility: visible;
}
**/

#page3-1 > .table > .row > .cell .text {
    position: relative;
    z-index: 2;
}


/*** PER PIG/BARN/SYSTEM TABS ***/

#page3-1 > .nav-tabs {
	position:absolute;
	top: 566px;
	left: 96px;
	height:46px;
	width:774px;
	background-color : #508625;
	padding:7px 0px 0px 59px;
}

#page3-1 > .nav-tabs > .tab.tabA {
	background: url(images/nav-bg.jpg) 0 0 repeat-x;
	color: #FFFf;
	height: 39px;
	text-align: center;
	line-height: 39px;
	vertical-align: middle;
	text-shadow: 0px -1px 1px #000;	
	font-family: "ProximaNovaExCn-Bold";
	font-size: 19px;
	width:164px;
	float:left;
	margin-left:1px;
}

#page3-1 > .nav-tabs > .tab.tabA:hover {
	text-shadow: 0px 0px 15px #ffffff;
}

#page3-1 > .nav-tabs > .tab.tabA.active {
	background-position:0 -38px;
	text-shadow: none;	
}

#page3-1 > .nav-tabs > .tab.tabB {
	background: url(images/nav2-bg.png) 0 0 repeat-x;
	color: #FFFf;
	width:188px;
	height:39px;
	text-align: center;
	line-height: 39px;
	vertical-align: middle;
	text-shadow: 0px -1px 1px #000;	
	font-family: "ProximaNovaCond-Bold";
	font-size: 21px;
	float:left;
	margin-left: 25px;
	margin-top: -8px;
	padding-top: 7px;
}

#page3-1 > .nav-tabs > .tab.tabB:hover {
	text-shadow: 0px 0px 15px #ffffff;
}

#page3-1 > .nav-tabs > .tab.tabB.active {
	background-position:0 -38px;
	text-shadow: none;	
}


/***** pages.module.css *****/
/***** pages.module.css *****/

/*** Layout of page containers ***/
#pages {
	height: 493px;
	width: 100%;
}

#pages > div {
	display: none;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
#pages > .next {
	left: 100%;
}
#pages > .current {
	display: block;
	left: 0;
}
#pages > .previous {
	left: -100%;
}


/*** Make the default page height equal to the viewport height ***/
#pages > div {
	height: 100%;
}


/*** CSS SHARED ACROSS PAGES ***/
/* FIXME? cruft?
#page2-1 .table-column > .header-background,
#page2-2 .table-column > .header-background,
#page2-3 .table-column > .header-background,
#page2-4 .table-column > .header-background {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#6A9FD5),
		to(#125DA9)
	);
	height: 81px;
	position: absolute;
	top: 0;
	width: 590px;
	z-index: 1;
}

#page2-1 .table-column > .diagonal-lines,
#page2-2 .table-column > .diagonal-lines,
#page2-3 .table-column > .diagonal-lines,
#page2-4 .table-column > .diagonal-lines {
	-webkit-mask-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(0,0,0,1)),
		to(rgba(0,0,0,0))
	);
	background: url("images/diagonal-lines-grey.png") 0 0 repeat;
	height: 81px;
	position: absolute;
	top: 0;
	width: 590px;
	z-index: 1;
}

#page2-1 > div > .table-column  th > p,
#page2-2 > div > .table-column  th > p,
#page2-3 > div > .table-column  th > p,
#page2-4 > div > .table-column  th > p {
	height: 81px;
	position: relative;
	z-index: 2;
}

#page2-1 > div > .table-column > .table > .row.selected > .cell,
#page2-2 > div > .table-column > .table > .row.selected > .cell,
#page2-3 > div > .table-column > .table > .row.selected > .cell,
#page2-4 > div > .table-column > .table > .row.selected > .cell {
	color: white;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#009BCE),
		to(#02C1FF)
	);
}
*/




/***** popups.module.css *****/
/***** popups.module.css *****/

/* there are no .help containers visible for this project
.help {
	cursor: help;
}
*/

#popup-background {
	position:absolute;
	top:0px;
	height:0px;
	width:1024px;
	height:768px;
	z-index:10;
	background: #000;
	opacity: 0.6;
	display:none;
}

#popup-background.visible {
	display:block;
}

#pages > div > .popups {
	font-size: 14pt;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 20;
}

#pages > div > .popups > div {
	-webkit-box-shadow: 0 0 1.5em rgba(0,0,0,0.3);
	background-color: white;
	border: 1px solid #A9A9A9;
	display: none;
	height: 451px;
	left: 21px;
	position: absolute;
	top: 21px;
	width: 982px;
}

#pages > div > .popups > .visible {
	display: block;
}

#pages > div > .popups > div > .close {
	color: #02C1FF;
	cursor: pointer;
	font-family: Arial;
	font-size: 26pt;
	position: absolute;
	right: 17px;
	top: 18px;
}

/* styling for pop-up content */

.popups > div > .content .title {
	color: #006FDD;
	font-size: 23pt;
	margin-bottom: 1ex;
}

.popups > div > .content .description {
	line-height: 140%;
}

.popups > div > .content .footnote {
	font-size: 90%;
	line-height: 160%;
	margin-top: 2ex;
}

.popup {
	background-color: #538a26 !important;
}

.popup .close {
	background: url(images/nav-bg.jpg) 0 0 repeat-x;
	color: #FFF !important;
	height: 39px;
	text-align: center;
	line-height: 39px;
	vertical-align: middle;
	text-shadow: 0px -1px 1px #000 !important;	
	font-family: "ProximaNovaExCn-Bold" !important;
	font-size: 19px !important;
	width:80px;
	float:left;
	margin-left:1px;
	right: 12px !important;
	top: 12px !important;	
}

.popup .close:hover {
	text-shadow: 0px 0px 15px #ffffff !important;
}


/* FIXME? unused? */
#pages > div > .popups > div > .content .blue {
	color: #1B7BDA;
}

/* for pop-ups that use tables */

.popups > div > .table.content {
	font-size: 14pt;
	height: 100%;
	margin: 0 auto;
}

.popups > div > .table.content > .row > .cell {
	text-align: left;
}

/* page specific pop-up styling; FIXME? should be in pageX-Y.css? */
/* FIXME: this is unused
#site-wrapper.page1-1 #pages > div > .popups > div {
	height: 411px;
}
*/

.popup.match-albacroi {
	-webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.6) !important;
	font-family: "ProximaNovaExCn-Bold";
	font-size:30px;
	text-transform: uppercase;
	border:none !important;
	top:150px !important;
	left:224px !important;
	width:625px !important;	
	height:320px !important;
	border:none;
}

.popup.match-albacroi .title {
	position:absolute;
	top:43px;
	left:38px;
}

.popup.match-albacroi > .table {
	height:auto !important;
	margin:0 !important;
	position: absolute !important;
	top: 120px;
	left: 38px;
	width: 540px;
	text-transform: none;
}

.popup.match-albacroi > .table > .row.header .cell:first-child {
	background: none;
	border: none;
	border-right: 1px solid #9DAF98;
}

.popup.match-albacroi > .table > .row.header {
	height:40px;
}

.popup.match-albacroi > .table > .row.header .cell {
	background: url(images/totals-header-bg.jpg) 0 0 repeat;
	line-height: 40px;
	vertical-align: middle;
	border-right:1px solid #9daf98;
	border-top:1px solid #9daf98;
	border-bottom:1px solid #9daf98;
	border-left:none;
	font-size:21px;
	color:#585858;
	text-align: center;
}

.popup.match-albacroi > .table > .row.header .cell:first-child {
	background:none;
	border:none;
	border-right:1px solid #9daf98;
}

.popup.match-albacroi > .table > .row.header .cell:nth-child(2),
.popup.match-albacroi > .table > .row.header .cell:nth-child(3) {
	border-bottom:2px solid #46643d;
	width:155px;
	font-family: "ProximaNovaAExCn-Bold";
}

.popup.match-albacroi > .table > .row .cell:first-child {
	background: #f3f3f3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #f3f3f3 0%,#ebebeb 100%); /* W3C */
	border:1px solid #d6d6d6;
	border-right:2px solid #d6d6d6;
	color:#265b16;
	font-size:16px;
	text-align: right !important;
	padding-right: 22px;
}

.popup.match-albacroi > .table > .row {
	height:56px;
}

.popup.match-albacroi > .table > .row .cell {
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#f2f2f2 100%); /* W3C */
	border:1px solid #d6d6d6;
	color:#7b7b7b;
	font-size:25px;
	text-align: center !important;
}

.popup.match-albacroi > .table > .row .cell.hashed {
	background-image: url("images/diagonal-lines-grey.png");
	background-color: #fafafa;
	background-repeat: repeat;
	background-position: 0 0;
}
