/*--GENERAL STYLES--*/
@font-face {
  font-family: 'Interstate Condensed';
  src: url('fonts/Interstate-BoldCond.eot?') format('eot'), url('fonts/Interstate-BoldCond.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Interstate Condensed';
  src: url('fonts/Interstate-BoldCondItalic.eot?') format('eot'), url('fonts/Interstate-BoldCondItalic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Interstate Regular';
  src: url('fonts/Interstate-Regular.eot?') format('eot'), url('fonts/Interstate-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Interstate Regular';
  src: url('fonts/Interstate-Bold.eot?') format('eot'), url('fonts/Interstate-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KG Second Chances';
  src: url('fonts/KGSecondChancesSolid.eot?') format('eot'), url('fonts/KGSecondChancesSolid.ttf') format('truetype');
}
body {
  font-family: Arial;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  color: #414042;
}
img {
  display: block;
  border: none;
}
h1 {
  font-size: 23px;
  color: #141d4a;
  font-style: italic;
}
h2 {
  font-size: 14px;
  color: #141d4a;
}
h3 {
  font-family: 'Interstate Regular';
  font-style: normal;
  font-weight: bolg;
  font-size: 16px;
  color: #141d4a;
  margin: 0;
}
h5 {
  font-family: 'KG Second Chances';
  font-size: 18px;
  color: #14213d;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 0;
}
a {
  color: #3ac2a7;
}
sup {
  font-size: 82%;
  padding: 0px 1px;
  top: 0.3em;
  position: relative;
}
ol li {
  float: left;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
header {
  font-size: 10px;
  font-weight: bold;
  color: #141d4a;
  text-align: right;
}
header #header_logo {
  margin: 10px 0;
}
header #header_nav {
  zoom: 1;
}
header #header_nav:before,
header #header_nav:after {
  content: "";
  display: table;
}
header #header_nav:after {
  clear: both;
}
header #header_nav ul {
  float: right;
}
header #header_nav ul li {
  font-family: 'Interstate Condensed';
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  color: #A7A7A7;
  border-right: 1px solid #A7A7A7;
  display: inline;
  list-style-type: none;
  padding: 3px 12px 3px 6px;
}
header #header_nav ul li:last-child {
  border-right: none;
  padding: 3px 0px 3px 6px;
}
header #header_nav ul li.active {
  color: #01B1B0;
  font-style: bold;
}
header #header_nav ul li a {
  color: #A7A7A7;
  text-decoration: none;
}
.search {
  float: right;
}
#page {
  width: 957px;
  margin: 0 auto;
}
#content {
  padding: 5px 0px;
}
#content #subnav {
  float: left;
  width: 125px;
  max-height: 600px;
  background-color: #e6c414;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 2px -2px #808080;
}
#content #subnav ul {
  padding: 0;
  margin: 0;
}
#content #subnav ul li {
  list-style-type: none;
}
#content #subnav ul li a {
  border-bottom: 1px solid  #ffd915;
  box-shadow: inset 0 -1px 0 #c2a50e;
  text-indent: -9999px;
  width: 125px;
  height: 121px;
  display: block;
}
#content #subnav ul li.one a {
  background-position: 0px 0px;
}
#content #subnav ul li.one a.active {
  background-color: #ffffff;
  background-position: 100% 0px;
}
#content #subnav ul li.two a {
  background-position: 0px -121px;
}
#content #subnav ul li.two a.active {
  background-color: #ffffff;
  background-position: 100% -121px;
}
#content #subnav ul li.three a {
  background-position: 0px -242px;
}
#content #subnav ul li.three a.active {
  background-color: #ffffff;
  background-position: 100% -242px;
}
#content #subnav ul li.four a {
  background-position: 0px -363px;
}
#content #subnav ul li.four a.active {
  background-color: #ffffff;
  background-position: 100% -363px;
}
#content #subnav ul li.five a {
  background-position: 0px -484px;
}
#content #subnav ul li.five a.active {
  background-color: #ffffff;
  background-position: 100% -484px;
}
#content #subnav ul li:last-child a {
  border-bottom: none;
  box-shadow: none;
}
#content #hero {
  margin-left: -10px;
}
#content #reference {
  font-size: 10px;
  padding-top: 30px;
  margin: 0px;
}
#content #content_body {
  float: left;
}
#content #callouts {
  float: right;
  width: 230px;
  margin-left: 3px;
}
#content #callouts a {
  padding: 10px;
  background-color: #d14414;
  color: #ffffff;
  font-family: 'Interstate Regular';
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-align: center;
}
#content #callouts p {
  font-size: 14px;
}
#subnav.about ul li a {
  background-image: url('images/subnav_about.png');
}
#subnav.support ul li a {
  background-image: url('images/subnav_support.png');
}
#subnav.inflammatory ul li a {
  background-image: url('images/subnav_inflammatory.png');
}
#subnav.taking ul li a {
  background-image: url('images/subnav_taking.png');
}
nav {
  margin: 0 auto;
  padding-top: 4px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  clear: both;
}
nav ul {
  margin: 0;
  padding: 0px;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}
nav ul li a {
  font-size: 12px;
  font-weight: bold;
  width: 180px;
  height: 42px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
#isi {
  padding: 10px 0px;
  color: #636363;
}
#isi h4 {
  font-size: 13px;
  color: #171c49;
  font-weight: bold;
}
#isi ul {
  list-style-image: url('/contents/home/images/isi-bullet.png');
  margin-bottom: 0px;
}
#isi ul li {
  margin-bottom: 3px;
}
.indented {
  margin-left: 25px;
}
.sub_nav ul li {
  display: inline;
}
.sub_nav ul li a {
  display: inline;
  padding-right: 6px;
  padding-left: 6px;
  color: #001a2e;
  font-size: 100%;
  vertical-align: baseline;
  background: none repeat scroll 0% 0% transparent;
  text-decoration: none;
}
footer {
  background: url('/contents/hcp/images/footer_bg.png') no-repeat top;
  padding: 10px 42px 50px 42px;
  font-size: 10px;
  color: #141d4a;
  text-align: right;
  position: relative;
}
footer #footer_logo {
  position: absolute;
  bottom: 50px;
  left: 42px;
}
/*--Page Specific Styles--*/
body.main #content {
  background: url('/contents/home/images/gradient_bg.png') no-repeat top;
  height: 660px;
}
body.main #content #content_body {
  float: left;
  width: 730px;
}
body.main #content #content_body section {
  padding-top: 8px;
}
body.patient #content_body {
  float: left;
  width: 505px;
  padding: 0px 39px;
}
body.patient nav {
  background-color: #e6c414;
}
body.patient nav ul li a {
  color: #ffffff;
  text-decoration: none;
  background-color: #d14414;
  /*&:first-child:hover {border-left: 1px solid #e6c414;}
                &:not(:first-child) {border-left: 1px solid #e6c414;}
                &:hover, &.on {background-color: #e6c414; border-left: 1px solid #e6c414;}*/

}
body.patient .middle-callouts {
  margin: 30px auto;
  zoom: 1;
}
body.patient .middle-callouts:before,
body.patient .middle-callouts:after {
  content: "";
  display: table;
}
body.patient .middle-callouts:after {
  clear: both;
}
body.patient .middle-callouts .pig {
  background: url('images/pig.png') no-repeat;
  background-position: left center;
  float: left;
  padding-left: 130px;
}
body.patient .middle-callouts .syringe {
  background: url('images/syringe.png') no-repeat;
  background-position: left center;
  float: right;
  padding-left: 110px;
}
body.patient .middle-callouts .box {
  width: 210px;
  float: left;
  margin: 0 10px;
}
body.patient .middle-callouts .box p {
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #4d4d4f;
}
body.patient .middle-callouts .box sup {
  position: relative;
  top: 0;
  line-height: 0px;
}
body.patient .teal-button {
  font-family: 'KG Second Chances';
  color: #ffffff;
  font-size: 14px;
  background-color: #008788;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
  font-weight: normal;
  height: 36px;
  line-height: 34px;
}
.arrow-box {
  background: url('images/sketch-arrow.png') no-repeat 0% 50%;
  padding: 10px 0px 10px 60px;
}
.arrow-box h5 {
  font-family: 'Interstate Regular';
  font-style: normal;
  font-weight: normal;
  color: #14213d;
  font-size: 20px;
}
/*--HCP STYLES--*/
body.hcp nav {
  background-color: #141d4a;
}
body.hcp nav ul {
  background-color: #00b1b0;
}
body.hcp nav ul li {
  /*  &:first-child { border-left: 1px solid #00b1b0;}
                &:first-child:hover {border-left: 1px solid #141d4a;}
                &:not(:first-child) {border-left: 1px solid #141d4a;}*/

}
body.hcp nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
#last-kid {
  border-right: 2px solid #00b1b0;
}
#last-kid:hover {
  border-right: 2px solid #141d4a;
}
/*--END HCP STYLES*/
/*SLIDER STYLE*/
#slides {
  display: none;
  position: relative;
}
.container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 940px;
  margin: 0 auto;
  height: 365px;
}
.left-bar {
  background-color: #E6C414;
  width: 48px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 99;
  /*one less than the pagination*/

}
#slides .slidesjs-navigation {
  margin-top: 3px;
  display: none;
}
.slidesjs-pagination {
  position: absolute;
  list-style: none;
  top: 36%;
  -webkit-padding-start: 12px;
  z-index: 100;
}
.slidesjs-pagination li {
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url('images/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}
#slides a:link,
#slides a:visited {
  color: #333333;
}
#slides a:hover,
#slides a:active {
  color: #9e2020;
}
.navbar {
  overflow: hidden;
}
