﻿@{
    ViewBag.Title = "About Kineret";
    Layout = "/views/shared/_layoutpatient.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/aboutkineret")

<div id="subnav" class="about">
<ul>
<li class="one"><a class="active" href="#">Quinn's Journey</a></li>
<li class="two"><a href="#">How Kineret Works</a></li>
<li class="three"><a href="#">How Kineret Helps</a></li>
<li class="four"><a href="#">Side Effects</a></li>

</div>

<!-- body -->
<div id="content_body">
    <h1>Symptom relief for NOMID, a Severe Autoinflammatory Disease</h1>
    <p>Kineret<sup>&reg;</sup> (anakinra) is the first and only therapy approved by the FDA to treat newborns, children and adults with NOMID.</p>
    <ul>
        <li>Kineret is a type of medication known as a selective <a href="#">interleukin-1</a> (IL-1) blocker. It reduces symptoms by lowering the levels of IL-1, a substance that triggers <a href="#">inflammation</a> in the body</li>
        <li>In studies, patients taking Kineret reported dramatic improvement in symptoms in the first three months. The time for improvement varies from patient to patient</li>
    </ul>

    <div id="reference">
        <p>NOMID=neonatal-onset multisystem inflammatory disease;</p>
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/allages")
    @Html.Partial("callouts/cause")
    @Html.Partial("callouts/support")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .about').addClass('on'); // nav selector
    </script>
}