﻿@{
    ViewBag.Title = "About Autoinflammatory Disease";
    Layout = "/views/shared/_layoutpatient.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/aboutautoinflammatorydisease")

<div id="subnav" class="inflammatory">
<ul>
<li class="one"><a class="active" href="#">What Causes NOMID?</a></li>
<li class="two"><a href="#">A Difficult Diagnosis</a></li>
<li class="three"><a href="#">Living with NOMID</a></li>

</div>

<!-- body -->
<div id="content_body">
    <h1>About NOMID</h1>
    <p>Neonatal-Onset Multisystem Inflammatory Disease (NOMID), also known as Chronic Infantile Neurological Cutaneous Articular Syndrome (CINCA), is a type of autoinflammatory disease. NOMID affects newborn children of both sexes and all races. It is so rare that there are only about 100 cases around the world.</p>

    <h1>1 of 3 Autoinflammatory Diseases Called CAPS</h1>
    <p>NOMID is the most severe form of the Cryopyrin-Associated Periodic Syndromes (CAPS). These conditions are grouped together because they share common symptoms that can flare up frequently and vary from person to person/ The conditions also differ in how severe the inflammation can become and the parts of the body affected:</p> 

    <div><img src="/Contents/patient/images/chart.png" /></div>

    <p>Patients with NOMID experience symptoms more severely. Som are constant, especially the rash and fever most babies get at birth or in the weeks after. Infections and physical and mental stress can also trigger inflammation flares.</p>
    <p>NOMID is more severe than other forms of CAPS because inflammation causes additional symptoms and damage that progress over time. These may slow the baby’s growth and lead to physcal and mental disability. The organs and areas of the body that can be affected include the brain and the central nervous system, bones, joints and muscles, eyes, and ears, among others.</p>
    <p>Unfortunately, NOMID is a lifelong condition. Those who are not treated or cannot control their symptoms while on treatment are at risk for the most harmful complications.</p>

    <div id="reference">
        <p></p>
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/symptom")
    @Html.Partial("callouts/quinn")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .disease').addClass('on'); // nav selector
    </script>
}