﻿@{
    ViewBag.Title = "Home";
    Layout = "/views/shared/_layoutpatient.cshtml";
}

<!-- hero -->



<div class="container">
	<span class="left-bar"></span>

    <div id="slides">
<img src="/Contents/patient/images/patient_slide1.jpg" />
<img src="/Contents/patient/images/patient_slide2.jpg" />
<img src="/Contents/patient/images/patient_slide3.jpg" />
<img src="/Contents/patient/images/patient_slide4.jpg" />  
    </div>
  </div>


<div class="middle-callouts">
  <div class="pig">
    <div class="box">
      <h5>Need Co-pay Help?</h5>
      <p>Save up to $300/month or $3600/year on Kineret<sup>&reg;</sup></p>
      <span class="teal-button">Enroll in KineretKate<sup>&trade;</sup></span>
    </div>
  </div>
  <div class="syringe">
    <div class="box">
      <h5>New to Kineret?</h5>
      <p>Learn the right way to use our graduated syringe</p>
      <span class="teal-button">Watch Video</span>
    </div>
    <div class="box">
      <h5>On Kineret Already?</h5>
      <p>Learn to manage injection site reactions</p>
      <span class="teal-button">Get Tips</span>
    </div>
</div>


</p>

  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 365,
        play: {
          active: true,
          auto: true,
          interval: 4000,
          swap: true
        }
      });
    });
  </script>



<!--@section scripts{
    <script type="text/javascript">
        $('nav .home').addClass('on'); // nav selector
    </script>
}-->