﻿@{
    ViewBag.Title = "";
    Layout = "/views/shared/_layoutpatient_blank.cshtml";
}

<p style="height: 50px;"></p>
		
		        <div id="isi">

<h4>INDICATIONS</h4>
<p>Kineret<sup>&reg;</sup> (anakinra) for injection, for subcutaneous use, is an interleukin-1 receptor antagonist (IL-1ra) used to:</p>
<ul>
  <li> Reduce the signs and symptoms, and slow the damage of moderate to severe active rheumatoid arthritis (RA) in people age 18 years and older when 1 or more other drugs for RA have not worked. Kineret is not for children with Juvenile Rheumatoid Arthritis</li>
  <li> Treat people with a severe form of Cryopyrin-Associated Periodic Syndromes (CAPS) called Neonatal-Onset Multisystem Inflammatory Disease (NOMID).
  </li>
</ul>
<h4>IMPORTANT SAFETY INFORMATION</h4> 
<p><b>Do not take Kineret if you are allergic to: </b> </p> 
<ul>
  <li> proteins made from bacteria called <i>E. coli</i>. Ask your healthcare provider if you are not sure. </li>
  <li>Anakinra or any of the ingredients in Kineret. See the end of the patient leaflet for a complete list of ingredients in Kineret. </li>
</ul>
<p><b>Before taking Kineret, tell your healthcare provider if you:</b></p>
<ul>
  <li> have an infection, a history of infections that keep coming back or other problems that can increase your risk of infections. </li>
  <li> have an allergy to rubber or latex. The needle cover on the prefilled syringe contains latex. Do not handle the needle cover if you are allergic to latex. </li>
  <li> have kidney problems. </li>
  <li> are scheduled to receive any vaccines. People using Kineret should not receive live vaccines. </li>
  <li> are pregnant or plan to become pregnant. It is not known if Kineret will harm your unborn baby. </li>
  <li> are breastfeeding or plan to breastfeed. It is not known if Kineret passes into your breast milk. You and your healthcare provider should decide if you will take Kineret or breastfeed. </li>
</ul>
<p><b>Tell your healthcare provider about all the medicines you take</b>, including prescription and non-prescription medicines, vitamins and herbal supplements. Tell your healthcare provider if you take other medicines that affect your immune system. Especially tell your healthcare provider if you use: ENBREL<sup>&reg;</sup> (etanercept), HUMIRA<sup>&reg;</sup> (adalimumab), or REMICADE<sup>&reg;</sup> (infliximab).
<p><b>Kineret may cause serious side effects, including:</b></p>
<ul>
<li><b> serious infections</b>. Kineret may lower your ability to fight infections. During treatment with Kineret, call your healthcare provider right away if you get an infection, have any sign of an infection including a fever, chills, or have any open sores on your body.</li>
<li><b>low white blood cell count</b> (neutropenia). Kineret may cause you to have a lower number of certain white cells (neutrophils). Neutrophils are important in fighting infections. You should have blood tests before starting treatment with Kineret, then monthly for 3 months. After the first 3 months you should have your blood tested every 3 months for up to 1 year.</li>
<li> <b>allergic reactions</b>. Stop using Kineret and call your healthcare provider or get emergency help right away if you have any of these symptoms of an allergic reaction: swelling of your face, lips, mouth or tongue; trouble breathing; wheezing; severe itching; skin rash, redness, or swelling outside of the injection site area; dizziness or fainting; fast heartbeat or pounding in your chest (tachycardia); or sweating.</li></ul>
<p><b>The most common side effects of Kineret include: </b></p>
<ul>
  <li> injection site skin reactions, including redness, swelling, bruising, itching, and stinging. Most injection site reactions are mild, occur early during treatment, and last about 2-4 weeks. Injection site reactions have been observed less frequently in people with NOMID. </li>
  <li> headache</li>
  <li> nausea and vomiting</li> 
  <li> joint pain</li>
  <li> fever</li>
  <li> feeling like you have the flu</li>
  <li>sore throat or runny nose</li>
  <li> sinus infection</li>
  <li> pain in your stomach area</li>
</ul>
<p>These are not all of the possible side effects of Kineret. Tell your healthcare provider if you have any side effect that bothers you or does not go away. For more information ask your healthcare provider or pharmacist.</p>
<p>Enbrel<sup>&reg;</sup> is a registered trademark of Immunex Corporation, Thousand Oaks, Ca.
  Remicade<sup>&reg;</sup> is a registered trademark of Centocor, Inc., Malvern, Pa.
  Humira<sup>&reg;</sup> is a registered trademark of Abbott Laboratories, Abbot Park, Il. </p>
	
		
		</div><!--end ISI-->
		
		

@section scripts{
    <script type="text/javascript">
//        $('nav .about').addClass('on'); // nav selector
    </script>
}