﻿@{
    ViewBag.Title = "KineretKare Patient Support";
    Layout = "/views/shared/_layoutpatient.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/kineretkarepatientsupport")

<div id="subnav" class="support">
<ul>
<li class="one"><a class="active" href="#">Save on Kineret</a></li>
<li class="two"><a href="#">Am I Eligible?</a></li>
<li class="three"><a href="#">How to Enroll</a></li>
<li class="four"><a href="#">FAQ</a></li>
<li class="five"><a href="#">Online Resources</a></li>

</div>


<!-- body -->
<div id="content_body">
    <p>Living with NOMID can be challenging in all sorts of ways. Our KineretKare<sup>&trade;</sup> Patient Program is designed to help you obtain Kineret<sup>&reg;</sup> as quickly as possible. Our services are personalized, confidential, and free of charge.</p>

<div class="arrow-box">
<h5>Insurance Assistance</h5>
<ul>
<li>Insurance coverage and benefit verifications</li>
<li>Prior authorizations</li>
<li>Coordination Specialty Pharmacy for medication delivery</li>
<li>Assistance with denied claims and appeals, if needed</li>
</ul>
</div>
 

<div class="arrow-box">
<h5>Ways to Save</h5>
<ul>
<li>Financial support to help pay for co-pays or out-of-pocket expenses, whenever possible</li>
<li>Up to $3600 per year if eligible</li>
</ul>
</div>

<div class="arrow-box">
<h5>Other Assistance</h5>
<ul>
<li>Patient Assistance Program for those without insurance coverage</li>
<li>Alternate funding options</li>
<li>Free medicine for those who qualify</li>
</ul>
</div>


    <div id="reference">
        <p></p>
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/medicine")
    @Html.Partial("callouts/kineretkare")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .support').addClass('on'); // nav selector
    </script>
}