﻿@{
    ViewBag.Title = "Taking Kineret";
    Layout = "/views/shared/_layoutpatient.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/takingkineret")

<div id="subnav" class="taking">
<ul>
<li class="one"><a class="active" href="#">Understanding Your Dose</a></li>
<li class="two"><a href="#">Learning to Inject/a></li>
<li class="three"><a href="#">Managing Injection Site Reactions</a></li>
</div>

<!-- body -->
<div id="content_body">
    <p>Kineret is given as a daily <a href="#">subcutaneous injection</a> (an injection under the skin) with a <a href="#">graduated syringe</a>. It can be injected by a caregiver or self-injected by patients that are physically and emotionally capable. It is important to receive appropriate instructions from your healthcare provider on how to inject, the correct dose of Kineret to give and the proper way to dispose of used syringes.</p>
    <h1>Kineret Packs</h1>
    <ul>
        <li>Available in 7- or 28-day packs with prefilled graduated syringes</li>
        <li>Keep pack refrigerated at 36°to 46°F (2° to 8°C) and keep cold when you travel</li>
        <li>Never freeze or shake Kineret and keep away from light</li>
        <li>Safely dispose of Kineret that is out of date or no longer needed. Keep it out of the reach of children</li>
    </ul>

    <h1>Graduated Syringe</h1>
    <ul>
        <li>Each contains 100 mg of Kineret. The range of doses you can give with this syringe is 20 to 100 mg</li>
        <li>For doses less than 100 mg, adjust the syringe to the needed amount of medicine</li>
        <li>For doses above 100 mg, use 2 syringes and adjust 2nd syringe as needed</li>
    </ul>

    <div id="reference">
        <p>An attachable syringe grip is also available to help keep the syringe stable during injection. Ask your pharmacist for product recommendations.</p>
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/phone")
    @Html.Partial("callouts/drug")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .taking').addClass('on'); // nav selector
    </script>
}