﻿/* layout */
#screensaver {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;

    cursor:pointer;
}

#screensaver section {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;
}

#screensaver #ss_1 {
    /* background-color:#ff6666; */
    background:url('../images/main/screensaver_1.png') no-repeat;

}

#screensaver #ss_2 {
    /* background-color:#7ec5fa; */
    background:url('../images/main/screensaver_2.png') no-repeat;
    display:none;
    z-index:10;
}

#panel {
    /* background-color:#808080; */
    background:url('../images/main/background_1.png') no-repeat;

    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;

    font-family:'fs_joeymedium';
    font-size:24px;
    color:#fff;
}
    #panel #choice {
        position:absolute;
        top:350px;
        text-align:center;
        width:100%;
        height:50px;
    }

        #panel #choice table {
            margin:100px auto 100px auto;
        }

        #panel #choice #isi {
            width:970px;
            margin:0 auto;
            text-align:left;
        }

        #panel #choice #isi p {
            margin:0px;
        }

        #panel #choice #isi p.border {
            border:solid 1px #fff;
            padding:5px;
        }

#link {
    background:url('../images/main/background_2.png') no-repeat;

    font-family:'fs_joeymedium';

    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;
}

    #link header {
        position:absolute;
        top:40px;
        left:60px;
        color:#fff;
    }

#popup {
    position:absolute;
    top:0px;
    left:0px;

    width:1079px;
    height:1142px;

    background:url('../images/main/popup_bg.png') no-repeat;

    font-size:20px;
    font-weight:normal;

    color:#414042;

    z-index:900;

    display:none;
}

#popup_top {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:252px;

    background:url('../images/main/popup_top.png') no-repeat;

    z-index:10;

    display:none;
}


    #popup .content {
        position:absolute;
        top:500px;
        left:150px;
        width:750px;
    }

        #popup .content ol {
            margin-left:-15px;
        }

    #popup .close {
        position:absolute;
        top:1053px;
        right:30px;
    }

#content {
    position:absolute;

    top:253px;
    left:240px;
}

#sidebar {
    position:absolute;
    top:658px;
    left:-190px;

    z-index:10;
}

#sidebar_bg {
    position:absolute;
    top:200px;
    left:0px;

    z-index:9;

    display:none;
}

#sidenav {
    position:absolute;
    top:700px;
    left:17px;
    text-align:right;
}

    #sidenav div {
        margin:-5px 0px;
    }

.timeout {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;

    z-index:1000;

    display:none;
}

.polling {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1733px;

    z-index:900;

    font-family:'fs_joeymedium';
    font-size:42px;
    color:#fff;
}

    .polling .reference {
        position:absolute;
        bottom:100px;
        left:100px;
        width:900px;

        font-size:20px;
        font-weight:normal;

        display:none;
    }

        .polling .reference ol {
            margin:0 0 0 -15px;
        }

    .polling .message {
        position:absolute;
        top:1100px;
        left:100px;

        width:900px;

        display:none;
    }

    .polling .polling_question {
        position:absolute;
        top:250px;
        left:100px;

        width:900px;
    }

    .polling .polling_response_a {
        position:absolute;
        top:460px;
        left:170px;
    }

    .polling .polling_response_b {
        position:absolute;
        top:460px;
        left:712px;
    }

    .polling .polling_response_c {
        position:absolute;
        top:870px;
        left:170px;
    }

    .polling .polling_response_d {
        position:absolute;
        top:870px;
        left:712px;
    }

    .polling .result_a {
        position:absolute;
        top:502px;
        left:118px;
        color:#f26522;
    }

    .polling .result_b {
        position:absolute;
        top:502px;
        left:682px;
        color:#f20553;
    }

    .polling .result_c {
        position:absolute;
        top:912px;
        left:118px;
        color:#f16eaa;
    }

    .polling .result_d {
        position:absolute;
        top:912px;
        left:682px;
        color:#ed008c;
    }

    .polling .result_text {
        font-size:120px;
        display:none;
    }

footer {
    position:absolute;
    width:100%;
    text-align:center;
    z-index:100;
}

    footer h3 {
        font-size:24px;
        color:#76004b;
    }

    footer b {
        font-weight:bold;
        color:#76004b;
    }

    footer span {
        color:#76004b;
    }

    footer .isi {
        font-size:20px;
        width:960px;
        margin:0 auto 10px auto;
        text-align:left;
        padding-bottom:120px;
    }

        footer .isi ul {
            margin:0px;
        }

        footer .isi li {
            position:relative;
            list-style:none;
            margin-left:-20px;
        }

        footer .isi li img {
            position:absolute;
            top:9px;
            left:-20px;
        }

    footer #isi_2 {
        margin-bottom:-35px;
    }

    footer #isi_3 {
        /*margin-bottom:-100px;*/
       padding-bottom: 0!important;
    }

        footer .isi p {
            margin:10px 0 0 0;
        }

            footer .isi p.border {
                border:solid 1px #101010;
                padding:5px;
                font-weight:bold;   
            }

    footer #nav img {
        float:left;
    }

    footer #legal {
        padding-top:20px;
    }    

    footer.type_1 {
        bottom:25px;
        font-size:10px;
        font-family:'fs_joeymedium';
        color:#fff;
    }

    footer.type_1 img {
        margin-bottom:-5px;
    }

        footer.type_1 h5 {
            color:#fff;
            font-weight:normal;
            font-size:28px;
        }

        footer.type_1 b {
            color:#fff;
        }

    footer.type_2 {
        bottom:15px;
        color:#414042;
    }

    footer.type_2 {
        font-size:10px;
        font-family:'fs_joeymedium';
    }

    footer.type_2 img {
        margin-bottom:-5px;
    }

        footer.type_2 b.background {
            color:#fff;
            background-color:#76004b;
            border-radius: 10px;
            border: 1px solid #76004b;
            padding:0 20px;
            font-size:23px;
        }


/* page 4 */
#content_4 {
    position:absolute;

    top:200px;
    left:0px;
}

.subcontent {
    z-index:950;
}

.subcontent_popup_close {
    position:absolute;
    top:845px;
    right:30px;

    display:none;
}

/* page 3 */
#content_3 {
    position:absolute;

    top:200px;
    left:0px;
}

    #content_3 #landing {
    }

    #content_3 #sub {
        display:none;
    }

/* page 2 */
#content_2 {
    position:absolute;

    top:200px;
    left:0px;
}

    #content_2 #landing {
    }

    #content_2 #sub {
        display:none;
    }

#popup_ref, #popup_sidebar {
    position:absolute;
    top:0px;
    left:0px;

    z-index:900;

    display:none;
}

    #popup_ref .close, #popup_sidebar .close {
        position:absolute;
        bottom:30px;
        right:25px;
    }