﻿body {
    width:1080px;
    height:1920px;
    background:url('../images/isi/background_2.png') no-repeat;
}

#isi {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;

    font-family:'fs_joeybold';
    font-size:19px;
    color:#414042;
    line-height: 1.4;
}

p {
    margin-top:10px;
}

b.background {
            color:#fff;
            background-color:#76004b;
            border-radius: 10px;
            border: 1px solid #76004b;
            padding:0 10px;
        }

    #isi header {
        font-family:'fs_joeybold';
        font-size:39px;
        color:#fff;
        line-height:35px;
        
        position:absolute;
        top:75px;
        left:50px;
    }

    #isi #content {
        width:975px;
        margin:230px auto 0 auto;
    }

    #isi h3 {
        font-size:24px;
        color:#76004b;
        margin:0px;
    }

    #isi span {
        color:#76004b;
    }

    #isi p {
        margin:5px 0 0 0;
    }

        #isi p.border {
            border:solid 1px #000;
            padding:5px;
            font-weight:bold;
        }

    #isi ul {
        margin:0px;
    }

    #isi li {
        position:relative;
        list-style:none;
        margin-left:-20px;
    }

    #isi li img {
        position:absolute;
        top:9px;
        left:-20px;
    }

    #isi footer {
        position:absolute;
        bottom:5px;
        width:100%;
        text-align:center;

        font-size:10px;
    }

        #isi footer img {
            margin-bottom:-5px;
        }