﻿body {
    width:1080px;
    height:1920px;
    background:url('../images/polling/background_3.png') no-repeat;
}

#polling {
    position:absolute;
    top:0px;
    left:0px;

    width:1080px;
    height:1920px;

    font-family:'fs_joeymedium';
    font-size:19px;
    color:#414042;
}

    #polling #carousel {
        position:absolute;
        top:0px;
        left:0px;
        overflow: hidden;

        width:100%;
        height:780px;

        /*border:solid 1px red;*/
    }

    #polling #content {
        width:100%;
        text-align:center;
        margin:300px auto 0 auto;
        font-size:32px;
    }

    #polling footer {
        position:absolute;
        bottom:5px;
        width:100%;
        text-align:center;

        font-size:10px;
    }

        #polling footer img {
            margin-bottom:-5px;
        }

        #polling footer #isi {
            width:975px;
            margin:0 auto;
            text-align:left;
            
            font-size:25px;
        }

            #polling footer #isi h3 {
                font-family:'fs_joeybold';
                font-size:36px;
                color:#76004b;
                margin:0 0 0 10px;
            }

            #polling footer #isi b {
                font-family:'fs_joeybold';
                color:#76004b;
            }

            #polling footer #isi ul {
                margin:0px;
            }

            #polling footer #isi li {
                position:relative;
                list-style:none;
                margin-left:-10px;
            }

            #polling footer #isi li img {
                position:absolute;
                top:14px;
                left:-20px;
            }

            #polling footer #isi p {
                margin:10px;
            }

                #polling footer #isi p.border {
                    border:solid 1px #101010;
                    padding:5px;
                }

                #polling footer #isi p.warning {
                    color:#76004b;
                    font-size:22px;
                }
                

/* Polling Rotator Styles */
.interact {
	border-top: 1px solid #ccc;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-top: 1.5em;
	text-align: center;
}

.interact a {
	background-color: #2179b6;
	border-bottom: 1px solid #084d7d;
	color: #eee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	padding: 8px 14px;
	margin: 0 1em;
}

.return {
	font-size: 1.5em;
	text-align: center;
}
	.return a {
		color: #2179b6;
		text-decoration: none;
	}
	.return a:hover {
		text-decoration: underline;
	}
	
ul.roundabout-holder {
	list-style: none;
}

li.roundabout-moveable-item {
	list-style-type: none;
}
