﻿/* tags */
body {
    margin:0px;
    padding:0px;
    font-family:'fs_joeyregular';
}

h3 {
    font-family:'fs_joeybold';
    font-size:35px;
    color:#fff;
    
    margin:0px;
}

b {
    font-family:'fs_joeybold';
}

img {
    border:none;
}

sup, sub { vertical-align: 0;
           position: relative;
           font-size:50%;
}
sup { bottom: 1.5ex; }
sub { top: 0.8ex; }

/* class */
.hide {
    display:none;
}

/* layout */
#page {
    width:1080px;
    height:1920px;
}

/* fonts */
@font-face {
    font-family: 'fs_joeybold';
    src: url('../fonts/fsjoey/fsjoey-bold-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-bold-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-bold-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-bold-webfont.svg#fs_joeybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeybold_italic';
    src: url('../fonts/fsjoey/fsjoey-bolditalic-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-bolditalic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-bolditalic-webfont.svg#fs_joeybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyheavy';
    src: url('../fonts/fsjoey/fsjoey-heavy-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-heavy-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-heavy-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-heavy-webfont.svg#fs_joeyheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeymedium';
    src: url('../fonts/fsjoey/fsjoey-medium-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-medium-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-medium-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-medium-webfont.svg#fs_joeymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeymedium_italic';
    src: url('../fonts/fsjoey/fsjoey-mediumitalic-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-mediumitalic-webfont.svg#fs_joeymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyregular';
    src: url('../fonts/fsjoey/fsjoey-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-webfont.svg#fs_joeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyitalic';
    src: url('../fonts/fsjoey/fsjoey-italic-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-italic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-italic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-italic-webfont.svg#fs_joeyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeylight';
    src: url('../fonts/fsjoey/fsjoey-light-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-light-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-light-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-light-webfont.svg#fs_joeylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeylight_italic';
    src: url('../fonts/fsjoey/fsjoey-lightitalic-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-lightitalic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-lightitalic-webfont.svg#fs_joeylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fs_joeyheavy_italic';
    src: url('../fonts/fsjoey/fsjoey-heavyitalic-webfont.eot');
    src: url('../fonts/fsjoey/fsjoey-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fsjoey/fsjoey-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/fsjoey/fsjoey-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/fsjoey/fsjoey-heavyitalic-webfont.svg#fs_joeyheavy_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}