.promo.box{width:90%;padding:36px 10px 36px 10px;margin:0 0 30px 0}.col-md-4{width:28%}.sticky-footer{position:relative}.modal{left:50%;margin-left:-25%}.tabswitcher .firsttab,.tabswitcher .secondtab{height:25px}
