.blogPost h1 {
	margin-bottom: 1%;
	font-size: 1.9em;
}
.blogPost time {
	margin-bottom: 2%;
	display: block;
}
.blogPost p {
	padding: 0;
	margin-bottom: 4%;
}
.blogPost h2 {
	font-size: 1.4em;
	margin-bottom: 2%;
}
.blogPost h3 {
	font-size: 1em;
	margin-bottom: 2%;
}

.sideBarGray {
	background: -moz-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -ms-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -o-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -webkit-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: linear-gradient(-40deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;

	float: left;
	padding: 5%;
}
.sideBar > div {
   	background: #EDEDED;
	background: -moz-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -ms-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -o-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: -webkit-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
	background: linear-gradient(-40deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;

	float: left;
	padding: 5%;
}
.sideBarDarkGray {
	background: -moz-linear-gradient(140deg, transparent 13px, #c1c1c1 0pt) no-repeat scroll right bottom transparent;
	background: -ms-linear-gradient(140deg, transparent 13px, #c1c1c1 0pt) no-repeat scroll right bottom transparent;
	background: -o-linear-gradient(140deg, transparent 13px, #c1c1c1 0pt) no-repeat scroll right bottom transparent;
	background: -webkit-linear-gradient(140deg, transparent 13px, #c1c1c1 0pt) no-repeat scroll right bottom transparent;
	background: linear-gradient(-40deg, transparent 13px, #c1c1c1 0pt) no-repeat scroll right bottom transparent;

	padding: 5%;
}

#subscribeEmail {
	float: left;
	margin-bottom: 8%;
}
#subscribeEmail h1 {
	font-size: 1em;
	color: #515151;
	margin-bottom: 0;
}
#subscribeEmail label {
	float: left;
	margin-bottom: 2%;
}
#subscribeEmail input {
	float: left;
	margin-bottom: 5%;
	width: 96%;
}
#subscribeEmail button {
	float: left;
	background: url('../../assets/new/csc-button.png') 0 0 no-repeat;
	border: none;
	color: #fff;
	width: 125px;
	height: 30px;
	margin: 0 0 5% 10%;
	text-transform: uppercase;
}
#mainContent.rightSideBar .sideBar {
        clear: right;
}
.sideBarCopy {
	float: left;
}
.sideBarCopy section {
	float: left;
	padding: 3% 0;
}
.sideBarCopy h2 {
	font-size: 1em;
	color: #005172;
}
.sideBarCopy p {
	line-height: 1.1em;
}
.sideBarCopy a {
	color: #005172;
}
.sideBarCopy ul {
}
.sideBarCopy li {
	list-style: disc outside none;
	float: left;
	margin: 0 0 0 8%;
}
.sideBarCopy li a {
	font-size: 1em;
}
.followTwitter {
	display: block;
	background: url('../../assets/new/follow-twitter.png') 0 0 no-repeat;
	width: 160px;
	height: 27px;
	text-indent: -9999px;
	margin: 5% 0;
	cursor: pointer;
}
div.gig-followbar {
        float:right;
}
#gigyaButtons {
	padding: 2% 0 4% 5%;
}
.regular td {
	float: left !important;
	clear: both !important;
	padding: 2% 0;
}

.blogComment {

}
.blogComment .login {
	float: left;
}
.blogComment .avatar {
	height: 48px;
	width: 48px;
	background: #c0c0c0;
	float: left;
	margin: 0 2% 2% 0;
}
.blogCommentTop {
	margin-bottom: 2%;
}
.blogComment textarea {
	width: 468px;
	height: 90px;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	float: left;
	clear: both
}
.blogComment button {
	float: left;
	clear: both;
	background: #5a8fa8;
	border: none;
	color: #fff;
	padding: 0.8% 5% 0.8% 1%;
	margin: 2% 0 0 0;
}
/****Mobile Functionality****/
/*Small Screen devices, like phones*/
@media screen and (min-width:450px) {

}

/****Tablet Functionality*******/
/*Ten-inch Tablets like the I-pad (768x1024) */
@media screen and (min-width:768px){

}

/*****Desktop Functionality*******/
@media screen and (min-width:1000px){

}