/*!
* Bootstrap Responsive v2.3.2
*
* Copyright 2012 Twitter, Inc
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
* Designed and built with all the love in the world @twitter by @mdo and @fat.
*/
.videoWrapper {
width: 70%;
}
.videoWrapper div {
width: 530px !important;;
height:300px !important;;
}

.videoWrapper object {
width: 530px !important;;
height:300px !important;;
}

@media (max-width: 979px) {
.videoWrapper {
width: 65%;
}
.videoWrapper div {
width: 400px !important;
height:290px !important;
}

.videoWrapper object {
width: 100% !important;
height:290px !important;
}
.container {
width: auto;
}
.container, .navbar-inner-inner{
width: auto;
}body {
padding-top: 0;
}
#gigyaButtons {
display:none;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: static;
}

.navbar-fixed-top {
margin-bottom: 20px;
}

.navbar-fixed-bottom {
margin-top: 20px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding: 5px 20px;
}

.navbar .container {
width: auto;
padding: 0;
}

.navbar .brand {
padding-right: 10px;
padding-left: 10px;
margin: 0 0 0 -5px;
}

.nav-collapse .nav {
float: none;
width: 100%;
}

.nav-collapse .nav > li > a {
margin-bottom: 2px;
text-indent: -999px;
overflow: hidden;
background-position: 14px 8px;
}

.nav-collapse .nav > .divider-vertical {
display: none;
}
.nav-collapse .nav .nav-header {
color: #777777;
text-shadow: none;
}

.nav-collapse .dropdown-menu li + li a {
margin-bottom: 2px;
}
.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
color: #999999;
}

.navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
background-color: #111111;
}

.nav-collapse.in .btn-group {
padding: 0;
margin-top: 5px;
}

.nav-collapse .dropdown-menu {
position: static;
top: auto;
left: auto;
display: none;
float: none;
max-width: none;
padding: 0;
margin: 0;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.nav-collapse .open > .dropdown-menu {
display: block;
position: absolute;
}

.nav-collapse .dropdown-menu:before, .nav-collapse .dropdown-menu:after {
display: none;
}

.nav-collapse .dropdown-menu .divider {
display: none;
}

.nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
display: none;
}

.nav-collapse .navbar-form, .nav-collapse .navbar-search {
float: none;
padding: 10px 15px;
margin: 10px 0;
border-top: 1px solid #f2f2f2;
border-bottom: 1px solid #f2f2f2;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
border-top-color: #111111;
border-bottom-color: #111111;
}

.navbar .nav-collapse .nav.pull-right {
float: none;
margin-left: 0;
}

.navbar .btn-navbar {
display: block;
}

.navbar-static .navbar-inner {
padding-right: 10px;
padding-left: 10px;
}

a.dropdown-toggle {
text-align: left;
text-indent: 169px;
overflow: hidden;
width: 22px;
background-position: -1px 8px;
}

.clearfix {
*zoom: 1;
}

.clearfix:before, .clearfix:after {
display: table;
line-height: 0;
content: "";
}

.clearfix:after {
clear: both;
}

.download-report {
margin-right: 0px;
}

.hide-text {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}

.input-block-level {
display: block;
width: 100%;
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
@-ms-viewport {
width: device-width;
}

.hidden {
display: none;
visibility: hidden;
}

.visible-phone {
display: none !important;
}

.visible-tablet {
display: none !important;
}

.hidden-desktop {
display: none !important;
}

.visible-desktop {
display: inherit !important;
}
}
@media (max-width: 767px) {
.videoWrapper {
width: 52%;
}
.videoWrapper div {
width: 230px !important;
height:220px  !important;
}

.videoWrapper div video {
position: absolute;
top: 0px;
left: 0;
width: 250px;
height: 220PX;
}

.videoWrapper object {
width: 250px  !important;
height:220px  !important;
}
#gigyaFollowFooter {
float:none;
Margin-top:0;
display:block;
text-align:center;
}
 
 
body {
padding-right: 20px;
padding-left: 20px;
}

.navbar .nav > li > a.download-report {
display: none;
}

li.download-link {
display: block;
background: #8fc019;
}

li.download-link a {
color: #FFF;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
margin-right: -20px;
margin-left: -20px;
}

.container-fluid {
padding: 0;
}

.dl-horizontal dt {
float: none;
width: auto;
clear: none;
text-align: left;
}

.dl-horizontal dd {
margin-left: 0;
}

.container, .navbar-inner-inner {
width: auto;
}

.container .inner-page {
margin-top: 36px
}

.row-fluid {
width: 100%;
}

.row, .thumbnails {
margin-left: 0;
}

.thumbnails > li {
float: none;
margin-left: 0;
}
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
display: block;
float: none;
width: 100%;
margin-left: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.span12, .row-fluid .span12 {
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.row-fluid [class*="offset"]:first-child {
margin-left: 0;
}

.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
display: block;
width: 100%;
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
display: inline-block;
width: auto;
}
.controls-row [class*="span"] + [class*="span"] {
margin-left: 0;
}

.modal {
position: fixed;
top: 20px;
right: 20px;
left: 20px;
width: auto;
margin: 0;
}

.modal.fade {
top: -100px;
}

.modal.fade.in {
top: 20px;
}

}
@media (min-width: 768px) and (max-width: 979px) {

.row {
margin-left: -20px;
*zoom: 1;
}

a.dropdown-toggle {
text-align: left;
text-indent: 169px;
overflow: hidden;
width: 22px;
background-position: -1px 8px;
}

.download-report {
margin-right: 0px;
}

.row:before, .row:after {
display: table;
line-height: 0;
content: "";
}

.row:after {
clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}

.container .inner-page {
margin-top: 36px
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar-inner-inner {
width: 724px;
}

input, textarea, .uneditable-input {
margin-left: 0;

}
}

@media (max-width: 575px) {
.videoWrapper {
width: 98%;
}
.videoWrapper object {
width: 100% !important;
height:140px  !important;
}
.videoWrapper div{
width: 345px  !important;
height:175px  !important;
}

.videoWrapper div video {
position: absolute;
top: 0px;
left: 0;
width: 400px;
height: 140PX;
}

.navbar .brand {
width: 73%;
}
#gigyaFollowFooter {
float:none;
Margin-top:0;
display:block;
text-align:center;
}

a.dropdown-toggle {
background-position: 5px 4px !important;
height: 12px;
width: 5px !important;
}
.page-block h3 {
clear: both;
}
}

@media (max-width: 420px) {
.videoWrapper {
height: 143px;
margin-bottom: 10px;
position: relative;
width: 180px !important;
}
    
.videoWrapper div{
width: 175px !important;
height:120px  !important;
}

.videoWrapper div video {
position: absolute;
top: 0px;
left: 0;
width: 175px;
height: 122PX;
padding-bottom: 20px;
}

.videoWrapper object{
width: 140px !important;
height:120px  !important;
}
#socialBucket {
display: block;
height: 40px;
width: 168px;
margin: 32px auto 0 auto;
}
.navbar .brand {
width: 71%;
}
#gigyaFollowFooter {
float:none;
Margin-top:0;
display:block;
text-align:center;
}
.page-block h3 {
clear: both;
}
 
a.dropdown-toggle {
background-position: 5px 4px !important;
height: 12px;
width: 5px;
}
}
@media (min-width: 768px) and (max-width: 979px) {

.hidden-desktop {
display: inherit !important;
}

.visible-desktop {
display: none !important;
}

.visible-tablet {
display: inherit !important;
.hidden-desktop {
display: inherit !impo
}

.hidden-tablet {
display: none !important;
}
}

@media print {

.visible-print {
display: inherit !important;
}

.hidden-print {
display: none !important;
}
}
@media (min-width: 1200px) {

.row {
margin-left: -30px;
*zoom: 1;
}

.row:before, .row:after {
display: table;
line-height: 0;
content: "";
}

.row:after {
clear: both;
}
[class*="span"] {
float: left;
min-height: 1px;
margin-left: 30px;
}

.row-fluid {
width: 100%;
*zoom: 1;
}

.row-fluid:before, .row-fluid:after {
display: table;
line-height: 0;
content: "";
}

.row-fluid:after {
clear: both;
}

.row-fluid [class*="span"] {
display: block;
float: left;
width: 100%;
min-height: 30px;
margin-left: 2.564102564102564%;
*margin-left: 2.5109110747408616%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

input, textarea, .uneditable-input {
margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
margin-left: 30px;
}

input.span12, textarea.span12, .uneditable-input.span12 {
width: 1156px;
}

input.span11, textarea.span11, .uneditable-input.span11 {
width: 1056px;
}

input.span10, textarea.span10, .uneditable-input.span10 {
width: 956px;
}

input.span9, textarea.span9, .uneditable-input.span9 {
width: 856px;
}

input.span8, textarea.span8, .uneditable-input.span8 {
width: 756px;
}

input.span7, textarea.span7, .uneditable-input.span7 {
width: 656px;
}

input.span6, textarea.span6, .uneditable-input.span6 {
width: 556px;
}

input.span5, textarea.span5, .uneditable-input.span5 {
width: 456px;
}

input.span4, textarea.span4, .uneditable-input.span4 {
width: 356px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
width: 256px;
}

input.span2, textarea.span2, .uneditable-input.span2 {
width: 156px;
}

input.span1, textarea.span1, .uneditable-input.span1 {
width: 56px;
}

.thumbnails {
margin-left: -30px;
}

.thumbnails > li {
margin-left: 30px;
}

.row-fluid .thumbnails {
margin-left: 0;
}
}
@media (max-width: 480px) {


.nav-collapse {
-webkit-transform: translate3d(0, 0, 0);
}

.page-header h1 small {
display: block;
line-height: 20px;
}

input[type="checkbox"], input[type="radio"] {
border: 1px solid #ccc;
}

.form-horizontal .control-label {
float: none;
width: auto;
padding-top: 0;
text-align: left;
}

.form-horizontal .controls {
margin-left: 0;
}

.form-horizontal .control-list {
padding-top: 0;
}

.form-horizontal .form-actions {
padding-right: 10px;
padding-left: 10px;
}

.media .pull-left, .media .pull-right {
display: block;
float: none;
margin-bottom: 10px;
}

.media-object {
margin-right: 0;
margin-left: 0;
}

.modal {
top: 10px;
right: 10px;
left: 10px;
}

.modal-header .close {
padding: 10px;
margin: -10px;
}

.carousel-caption {
position: static;
}
}
