#cloud_forms{margin:0px 5px;padding:0px 5px}#footer_text{margin-top:15px}#intro_text{margin-bottom:5px}.dropdown{width:20em}.hdr-h1{xheight:30px;color:#386edc;background:none repeat scroll 0 0 transparent;xoverflow:hidden;margin:0px 0px 0px 10px;padding:0px 0px 10px 0px;width:auto;font-size:127.7%}.invalid{border-style:solid;border-color:red}ul{list-style-position:inside;list-style-type:disc;padding-left:5px}textarea{width:20em;height:10em}
