/*** Engage Communities ***//* Start Tab Links and triggers */

#mainContent #tabs > .tabsMenu {
width: auto;
}
#mainContent #tabs .ui-tabs-nav li {
width: 16.6%;
}
#mainContent #tabs .ui-tabs-nav li > a {
width: auto;
background-repeat: no-repeat;
background-color: transparent;
background-position: 20% 15px;
padding-left: 36%;
text-align: left;
}
#mainContent #tabs .accordion li.ui-tabs-panel > a.accordionTrigger span {
display: block;
width: 22px;
height: 22px;
float: left;
margin: 0 6px 0 -1px;
background-repeat: no-repeat;
}
#mainContent #tabs .ui-tabs-nav li > a[href="#tabs-1"] {
padding-left: 0;
text-align: center;
}
#mainContent #tabs a[href="#tabs-2"],#mainContent #tabs #tabs-2 > a span {
background-image: url("http://assets1.csc.com/engage_communities/images/social_media_icons_googleplus.png");
}
#mainContent #tabs a[href="#tabs-3"],#mainContent #tabs #tabs-3 > a span {
background-image: url("http://assets1.csc.com/engage_communities/images/social_media_icons_twitter.png");
}
#mainContent #tabs a[href="#tabs-4"],#mainContent #tabs #tabs-4 > a span {
background-image: url("http://assets1.csc.com/engage_communities/images/social_media_icons_facebook.png");
}
#mainContent #tabs a[href="#tabs-5"],#mainContent #tabs #tabs-5 > a span {
background-image: url("http://assets1.csc.com/engage_communities/images/social_media_icons_linkedin.png");
}
#mainContent #tabs a[href="#tabs-6"],#mainContent #tabs #tabs-6 > a span {
background-image: url("http://assets1.csc.com/engage_communities/images/social_media_icons_youtube.png");
}
/* End Tab Links and triggers *//* Start Content styling *//*Start common content styling {*/.mobileOnly {
display: block;
}
.tabletUp {
display: none;
}
.tab-content-left, .tab-content-right {
display: block;
width: auto;
float: none;
clear: both;
padding: 0;
margin: 0;
}
#tabs .accordion {
font-size: 12px;
}
#tabs .tab-content-left,#tabs .tab-content-right {
font-size: 12px;
}
.tab-content-right .colLeft,.tab-content-right .colRight {
background: transparent;
float: none;
clear: both;
overflow: hidden;
padding: 12px 0 0 0;
margin: 0;
}
.pad {
padding: 12px;
float: none;
clear: both;
overflow: hidden;
}
.mobileOnly.pad {
padding-top: 0;
}
/*
}
End common content styling *//*Start Overview content styling {*/#tabs-1 .tab-content-left article {
text-align: center;
}
#tabs-1 .tab-content-left article object {
margin: 0 auto;
padding-top: 24px;
}
/* remove padding displayed before the locks */.tab-content-right section h3 a {
background: transparent;
padding: 0;
}
.lock, .unlock {
background-image: url("http://assets1.csc.com/engage_communities/images/lock_unlock.png");
background-position: -17px bottom;
background-repeat: no-repeat;
display: block;
float: left;
width: 17px;
height: 20px;
text-transform: none;
position: relative;
top: -3px;
}
.lock {
background-position: -17px top;
top: -2px;
}
.tab-content-right .contentNode p {
padding: 0;
}
/*
}
End Overview content styling *//*Start Social content styling {*/.socialNode {
padding: 12px 0 0 64px;
position: relative;
min-height: 64px;
border-bottom: 1px solid #dfdfdf;
font-size: 1em;
}
.socialNode h3 {
padding: 0;
}
.socialNode .thumbnail {
position: absolute;
left: 0;
top: 8px;
text-align: center;
}
.socialNode .thumbnail a {
display: block;
width: 56px;
}
.socialNode .thumbnail a img {
display: block;
border: 1px solid #ccc;
width: 54px;
}
.socialNode .thumbnail a.socialMediaIconLarge {
display: inline-block;
width: 40px;
height: 40px;
background-image: url('../../assets/new/social/mobi-social-media-icons.jpg');
background-repeat: no-repeat;
border-radius: 8px;
margin-left: 6px;
}
.ie7 .socialMediaIconLarge {
display: block;
}
/*
}
End Social content styling *//* Start Google+ Content*/#gpluswidget > img {
display: none;
}
/* End Google+ Content*//* Start Twitter Content*/#tabs-3 .mobileOnly.pad {
padding-bottom: 0;
}
#tabs-3 .mobileOnly .socialNode,#tabs-6 .mobileOnly .socialNode {
border-bottom: none;
}
#tabs-3 .socialMediaIconLarge {
background-position: -40px 0;
}
.twitterBox {
border: 1px solid #747678;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 1em;
}
#mainContent .accordion .twitterBox h3 {
color: #747678;
padding: 8px 5px 0px 5px;
}
#twitterTweets {
float: left;
width: 71%;
padding-right: 3%;/* using only 74% width instead of 75% because sometimes it's rounded to whole pixels and these two wrap wrong*/
}
#twitterHashTags {
float: left;
width: 25%;
}
#mainContent .ui-tabs .twitterBox h2 {
display: block;
padding: 3px;
color: #fff;
font-weight: normal;
background-color: #747678;
font-size: 12px;
}
.twitterBox a {
display: block;
padding: 2px 5px;
}
/* BAM! Makes Twitter Widget responsive! */.twtr-doc {
width: 100% !important;
}
/* End Making Twitter Widget responsive! *//* End Twitter Content*//* Start Facebook Content*/.socialNode.facebook {
background-color: #ecf1f5;
min-height: 56px;
overflow: hidden;
border-bottom: none;
margin-bottom: 8px;
padding-top: 0;
font-size: 14px;
text-transform: uppercase;
}
.socialNode.facebook h3 {
line-height: 56px;
color: #005172;
}
#mainContent .socialNode.facebook h3 a {
color: #747678;
}
#facebookHeader {
background-color: #3b5998;
}
#facebookHeader img {
display: block;
}
/* BAM! Make FaceBook widget RESPONSIVE! */#mainContent .fb_iframe_widget,.fb-like-box > span,.fb-like-box > span > iframe {
width: 100% !important;
display: block !important;
}
/* End Make FaceBook widget RESPONSIVE! *//* End Facebook Content*//* Start LinkedIn Content*/#tabs-5 .tab-content-left section {
padding-bottom: 12px;
}
#tabs-5 .tab-content-right {
text-align: center;
}
#linkedIn {
text-align: center;
}
#linkedInFollow {
}
#linkedInProfile {
display: none;
}
#linkedInEmployees {
display: none;
}
/* End LinkedIn Content*//* Start YouTube Content*/#tabs-6 .socialMediaIconLarge {
background-position: -200px 0;
}
#tabs-6 .tab-content-left h3 {
padding-bottom: 8px;
font-weight: 400;
}
#tabs-6 .tab-content-left h3.first {
font-size: 1.2em;
}
#tabs-6 .tab-content-right {
text-align: center;
}
#tabs-6 .tab-content-right .pad {
display: inline-block;
}
.ie7 #tabs-6 .tab-content-right .pad {
display: inline;
}
#tabs-6 .tab-content-right iframe {
max-width: 100%;
}
#tabs-6 .tab-content-right a {
display: block;
text-align: left;
}
/* End YouTube Content*/.ie7 #tabs .tab-content-right {
padding-bottom: 20px;
}
.tab-content-left h2 {
padding: 0.4em 0;
}
.tab-content-left h3 {
color: #999;
line-height: 1.2em;
font-size: 12px;
font-weight: bold;
}
.tab-content-left .contentNode {
padding: 10% 0 0 0;
}
strong {
color: #999;
}
.tab-content-left .contentNode p {
color: #000;
font-weight: bold;
padding: 0;
}
.contentNode h3 a, .tab-content-right section h3 a {
color: #4f4f4f;
}
.contentNode p {
color: #4F4F4F;
}
.sideBar #example1 li {
margin-left: 0;
margin-bottom: 0;
}
/****Mobile Functionality****//*Small Screen devices, like phones*/@media screen and (min-width:450px) {
}
/****Tablet Functionality*******//*Ten-inch Tablets like the I-pad (768x1024) */@media screen and (min-width: 750px) {/* Start Content Common*/.mobileOnly {
display: none;
}
.tabletUp {
display: block;
}
.tab-content-left, .tab-content-right {
float: left;
clear: none;
width: 28%;
padding: 0;
margin: 0;
}
.tab-content-right {
width: 72%;
}
.pad {
padding: 16px;
}
/* End Content Common*//* Start Overview Content*/.tab-content-right .colLeft,.tab-content-right .colRight {
width: 45%;
float: left;
clear: none;
padding: 0;
}
.tab-content-right .colLeft {
padding-right: 5%;
}
.tab-content-right .colRight {
padding-left: 5%;
background: url("../../assets/new/vertical-line-gradient.png") no-repeat scroll left 10px transparent;
}
/* End Overview Content*//* Start Google+ Content*/#gpluswidget > img {
display: block;
}
/* End Google+ Content*//* Start Twitter Content*//* End Twitter Content*//* Start Facebook Content*/.socialNode.facebook h3 {
padding-top: 12px;
line-height: 16px;
}
/* End Facebook Content*//* Start LinkedIn Content*/#linkedIn {
text-align: center;
}
#linkedInFollow,#linkedInProfile,#linkedInEmployees {
display: inline-block;
vertical-align: top;
}
.ie7 #linkedInFollow,.ie7 #linkedInProfile,.ie7 #linkedInEmployees {
display: inline;
zoom: 1;
}
#linkedInFollow {
height: 120px;
margin-top: 42px;
width: 256px;
padding-left: 10px;
text-align: left;
}
/* End LinkedIn Content*/
}
@media screen and (min-width:750px) and (max-width:939px) {/* Start LinkedIn Content*/#tabs-5 .tab-content-left, #tabs-5 .tab-content-right {
float: none;
width: auto;
clear: both;
background-image: none;
}
#tabs-5 .tab-content-left section {
width: 30%;
padding: 0 1.5%;
float: left;
height: 160px;
border-right: 1px solid #ccc;
}
/* End LinkedIn Content*/
}
/*****Desktop Functionality*******//*@media screen and (min-width:1000px) {*//*
}
*/
.oldie .mobileOnly {
display: none;
}
.oldie .tabletUp {
display: block;
}
.oldie .tab-content-left, .oldie .tab-content-right {
float: left;
clear: none;
width: 28%;
padding: 0;
margin: 0;
}
.oldie .tab-content-right {
width: 72%;
}
.oldie .pad {
padding: 16px;
}
/* End Content Common*//* Start Overview Content*/.oldie .tab-content-right .colLeft,.oldie .tab-content-right .colRight {
width: 45%;
float: left;
clear: none;
padding: 0;
}
.oldie .tab-content-right .colLeft {
padding-right: 5%;
}
.oldie .tab-content-right .colRight {
padding-left: 5%;
background: url("../../assets/new/vertical-line-gradient.png") no-repeat scroll left 10px transparent;
}
/* End Overview Content*//* Start Google+ Content*/.oldie #gpluswidget > img {
display: block;
}
/* End Google+ Content*//* Start Twitter Content*//* End Twitter Content*//* Start Facebook Content*/.oldie .socialNode.facebook h3 {
padding-top: 12px;
line-height: 16px;
}
/* End Facebook Content*//* Start LinkedIn Content*/.oldie #linkedIn {
text-align: center;
}
.oldie #linkedInFollow,.oldie #linkedInProfile,.oldie #linkedInEmployees {
display: inline-block;
vertical-align: top;
}
.ie7 #linkedInFollow,.ie7 #linkedInProfile,.ie7 #linkedInEmployees {
display: inline;
zoom: 1;
}
.oldie #linkedInFollow {
height: 120px;
margin-top: 42px;
width: 256px;
padding-left: 10px;
text-align: left;
}
.oldie #tabs-5 .tab-content-left, .oldie #tabs-5 .tab-content-right {
float: none;
width: auto;
clear: both;
background-image: none;
}
.oldie #tabs-5 .tab-content-left section {
width: 30%;
padding: 0 1.5%;
float: left;
height: 160px;
border-right: 1px solid #ccc;
}