/* Details Page */
#iscrollWrapper {
background: #fff;
}
.detailpageSection {
float: left;
width: 100%;
padding: 0;
}
.oldie .detailpageSection {
padding-right: 40px;
}
.detailpageSection .sectionBlock {
padding: 0 8% 1.5% 0;
}
img#shortTrip {
padding-bottom: 1.5%;
}
img#cloudDiagram {
padding-top: 1.5%;
}
img#insights {
float: right;
padding: 5px 10px 15px 15px;
}
.detailpageSection .sectionBlock li {
list-style: disc inside none;
padding: 0 0 0 4%;
}
h2 {
font-size: 1.1em;
}
footer {
clear: both;
}
/* Gigyga Buttons */.gigyaButtons {
float: right;
display: none;
}
.gigyaButtons li {
float: left;
padding: 0 0 0 5px;
}
.gigyaButtons li a {
display: block;
height: 20px;
background-image: url('../../assets/new/gigya-placeholder.jpg');
}
.shareGigya {
width: 55px;
background-position: 0 0;
}
.stumbleUponGigya {
width: 91px;
background-position: 279px 0;
}
.emailGigya {
width: 52px;
background-position: 188px 0;
}
.twitterGigya {
width: 56px;
background-position: 136px 0;
}
.googleGigya {
width: 32px;
background-position: 80px 0;
}
.facebookGigya {
width: 48px;
background-position: 48px 0;
}
/* Insights Content Box */.detailpageSection .insightsContentBox {
display: block;
float: left;/*width: 100%;*/background: -moz-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
padding: 10px 10px 10px 20px;
margin: 10px 0;
}
.detailpageSection .insightsContentBox h2 {
color: #005172;
text-transform: uppercase;
}
.detailpageSection .insightsContentBox h3 {
color: #005172;
}
.oldie .detailpageSection .insightsContentBox {
background: #EDEDED;
}
/*Info Content Box */.infoContent h3 {
float: left;
clear: both;
color: #fff;
background: #5ea0c2;
width: 96%;
text-transform: none;
padding: 4px 0 4px 8px;
font-size: 1em;
}
.detailpageSection .infoContent ul {
float: left;
padding: 0% 7%;
background: -moz-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
}
.oldie .detailpageSection .infoContent ul {
float: left;
padding: 0% 7%;
background-color: #EDEDED;
}
.detailpageSection .infoContent li {
border-bottom: 1px solid #999;
list-style: none;
padding: 4% 0;
}
.detailpageSection .infoContent li:last-child {
border-bottom: none;
}
.oldie .detailpageSection .infoContent li.last {
border-bottom: none;
}
.detailpageSection .infoContent a {
color: #5ea0c2;
text-decoration: none;
}
.downloadIcon {
background: url('../../assets/new/icon-download.png') 0 4px no-repeat;
}
.downloadIcon a {
padding: 0 0 0 30px;
}
.infoContent {
float: right;
display: block;
width: 223px;
margin: -15px 0 15px 15px;
}
.grayBoxContainer {
clear: both;
display: block;
padding: 3% 3%;
background: url("https://assets1.csc.com/application_services/images/back.png") #ededed no-repeat scroll right bottom;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -moz-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
margin-bottom: 3%;
overflow: hidden;
}
.grayBoxContainer .leftChannel {
float: left;
}
.grayBoxContainer .leftChannel h4 {
color: #005172;
}
.grayBoxContainer .leftChannel h4.author {
font-weight: bold;
font-weight: normal;
}
.grayBoxContainer .rightChannel {
float: right;
display: none;
}
.rightChannel a {
display: block;
}
.grayBoxContainer .rightChannel img {
width: 190px;
}
/****Mobile Functionality****//*Small Screen devices, like phones*/@media screen and (min-width:450px) {.detailpageSection {
width: 100%;
padding: 0 1%
}
#mainContent {
}
.oldie .detailpageSection {
padding-right: 0px;
}
.gigyaButtons {
display: none;
}

}
/****Tablet Functionality*******//*Ten-inch Tablets like the I-pad (768x1024) */@media screen and (min-width:768px) {.detailpageSection {
width: 100%;
padding: 0 1%;
}
.detailpageSection .sectionBlock {
padding: 0 0 1.5% 0;
}
.oldie .detailpageSection {
padding-right: 0px;
}
.gigyaButtons {
display: block;
}
.grayBoxContainer .leftChannel {
width: 65%;
}
.grayBoxContainer .rightChannel {
display: block;
width: 30%;
}

}
/*****Desktop Functionality*******/@media screen and (min-width:1000px) {.detailpageSection {
padding: 0;
}
.oldie .detailpageSection {
padding-right: 40px;
}
.gigyaButtons {
display: block;
}

}

/*****Support for non-responsive *******/

.oldie .detailpageSection {
padding: 0;
padding-right: 40px;
}
.oldie .gigyaButtons {
display: block;
}

.oldie .detailpageSection .sectionBlock {
padding: 0 0 1.5% 0;
}

.oldie .grayBoxContainer .leftChannel {
width: 65%;
}

.oldie .grayBoxContainer .rightChannel {
display: block;
width: 30%;
}