.twitterFeed {
float: left;
}
.twitterFeed .twtr-doc {
border-radius: 0;
}
.twitterFeed .twtr-timeline {
border-radius: 0;
}
.twitterFeed .twtr-bd {
padding: 0 5px;
}
.twtr-hd {
height: 55px;
background: url('http://assets1.csc.com/alumni/images/twitter_triangle.gif') 0 0 no-repeat #fff;
}
h2 {
font-size: 1.1em;
}
.pageContent section {
float: left;
clear: both;
}
.leftSideBar .sideBar .pageContent ol li, .leftSideBar .sideBar .pageContent ul li {
background: none;
}
.pageContent a {
color: #005172;
}
.pageContent p strong {
color: #000;
}
.pageContent .relatedContent a {
color: #005172;
}
h2, p {
margin-bottom: 1%;
}
.relatedContent img {
float: left;
}
.relatedContent h3 {
clear: both;
color: #fff;
background: #003366;
width: 96%;
text-transform: none;
padding: 4px 0 4px 8px;
font-size: 1em;
}
.relatedContent ul {
display: block;
padding: 0% 7%;
background: -moz-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 13px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
}
.relatedContent li {/*border-bottom: 1px solid #999;*/padding: 4% 0;
}
.relatedContent li:last-child {
border-bottom: none;
}
.relatedContent a {
color: #5ea0c2;
text-decoration: none;
}
.downloadIcon {
background: url('../../assets/new/icon-download.png') 0 4px no-repeat;
}
.downloadIcon a {
padding: 0 0 0 30px;
}
#gigyaButtons {
float: right;
clear: both;
padding: 0 0 2.5%;
width: 100%;
}
.relatedContent {
float: right;
display: block;
height: 525px;
width: 223px;
margin: -15px 0 15px 15px;
}
.leaveComment {
}
.leaveComment label {
float: left;
clear: both;
}
.leaveComment textarea {
float: left;
clear: both;
margin: 7px 0;
width: 255px;
}
.leaveComment input {
float: left;
clear: both;
margin: 7px 0;
width: 250px;
}
.leaveComment button {
float: left;
clear: both;
}
.grayBoxContainer {
clear: both;
display: block;
padding: 3% 3%;
background: url("http://assets1.csc.com/application_services/images/back.png") #ededed no-repeat scroll right bottom;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -moz-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
margin-bottom: 3%;
overflow: hidden;
}
.grayBoxContainer .leftChannel {
float: left;
margin-right: 15px;
}
.grayBoxContainer .rightChannel {
float: right;
display: none;
}
.rightChannel a {
display: block;
}
.rightChannel img {
width: 190px;
}
.pageContent .relatedContent h3 {
width: 100% !important;
}
.pageContent .relatedContent ul li {
background: none !important;
margin-left: 0 !important;
padding-left: 0 !important;
}
/****Mobile Functionality****//*Small Screen devices, like phones*/@media screen and (min-width:450px) {
}
/****Tablet Functionality*******//*Ten-inch Tablets like the I-pad (768x1024) */@media screen and (min-width:768px) {.grayBoxContainer .leftChannel {
width: 65%;
}
.grayBoxContainer .rightChannel {
display: block;
width: 30%;
}

}
/*****Desktop Functionality*******/@media screen and (min-width:1000px) {
}
.oldie .grayBoxContainer .leftChannel {
width: 65%;
}
.oldie .grayBoxContainer .rightChannel {
display: block;
width: 30%;
}
