h2.sectionName {
font-size: 18px;
color: #005172;
padding: 0px;
}
.grayBoxContainer {
clear: both;
display: block;
padding: 3% 3%;
background: #ededed url("https://assets1.csc.com/application_services/images/back.png") no-repeat scroll right bottom;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -moz-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 20px, #EDEDED 0pt) no-repeat scroll right bottom transparent;
margin-bottom: 3%;
overflow: hidden;
}
.grayBoxContainer .leftChannel {
float: left;
width: 100%;
background: #757779;
}
.grayBoxContainer .leftChannel div.inner {
margin: 3% 6%;
}
.grayBoxContainer .leftChannel div h3 {
color: #e6e6e6;
margin-bottom: 5px;
}
.grayBoxContainer .rightChannel {
float: left;
}
.grayBoxContainer .bottomChannel {
float: left;
clear: left;
width: 100%;
}
.grayBoxContainer .bottomChannel ul {
padding: 2% 0%;
margin: 0;
}
.grayBoxContainer .bottomChannel ul li {
margin: 0;
padding: 0px;
margin-right: 1em;
margin-bottom: 2em;
background: none;
float: none;
}
.grayBoxContainer .bottomChannel ul li img {
vertical-align: bottom;
}
.grayBoxContainer .bottomChannel ul li div.videoIcon {
display: inline-block;
width: 32px;
height: 24px;
text-indent: -3000px;
background: transparent url("../../assets/new/icons/success_stories_sprites.png") no-repeat -4px 0px;
}
.grayBoxContainer .bottomChannel ul li div.contact_us {
width: 20px;
background-position: -4px -6px;
}
.grayBoxContainer .bottomChannel ul li div.download_brochure {
width: 22px;
background-position: -4px -38px;
}
.grayBoxContainer .bottomChannel ul li div.other_solutions {
width: 24px;
background-position: -4px -70px;
}
.grayBoxContainer .bottomChannel ul li a {
color: #005172;
font-weight: bold;
padding: 0;
font-size: 1em;
margin-left: 3px;
vertical-align: bottom;
line-height: 25px;
}
.clientChannel {
width: 100%;
font-size: 1em;
line-height: 1.2em;
margin-top: 2%;
}
.clientChannel h3.client {
display: inline;
margin: 0;
}
.clientChannel ul {
padding: 0;
}
.clientChannel ul li {/*background: url('http://beta.csc.com/assets/new/triangle-green.png') no-repeat 0 1px;*/line-height:1.2em;
padding: 0;
padding-left: 10px;
border: none;
}
.clientChannel h3 {
color: #005172;
font-size: 1em;
margin-bottom: 2px;
background: transparent;
padding: 0px;
}
.clientChannel h3 span {
font-weight: normal;
color: #747678;
}
.clientChannel .clientSection {
background: transparent;
margin-bottom: 5px;
}
.clientChannel .clientSection li {
margin-bottom: 5px;
}
.clientChannel .clientSection .relatedClientImage a {
display: block;
}
.clientChannel .clientSection .relatedClientImage {
width: 100%;
}
.clientChannel .clientSection img {
float: none;
margin-top: 10px;
min-width: 100px;
}
.channel ul li.nonbulleted {
background: none !important;
margin-left: 0 !important;
}
#relatedSuccessStories {
padding: 0% 3%;
}
.successStories #relatedSuccessStories .relatedContent {
width: 100%;
margin: 0 !important;
}
#relatedSuccessStories .relatedContent ul {
padding: 0%;
margin: 0;
}
#relatedSuccessStories .relatedContent li {/*background: transparent url("http://beta.csc.com/assets/new/triangle-green.png") no-repeat 0 10px;*/padding: .5em 1.5em;
margin: 0px 1em;
}
#relatedSuccessStories li.clientChannel {
background: none;
padding: .5em 0;
}
#relatedSuccessStories li.clientChannel h3 {
font-size: 1.2em;
}
#relatedSuccessStories li.clientChannel li {/*background: transparent url("http://beta.csc.com/assets/new/triangle-green.png") no-repeat 0 8px;*/background: url("../../assets/new/triangles.png") no-repeat 0 -189px;
}
.oldie .grayBoxContainer {
width: 93%;
}
.oldie .grayBoxContainer div.bottomChannel ul li div,.oldie .grayBoxContainer div.bottomChannel ul li a {
float: left;
}
.oldie .grayBoxContainer div.bottomChannel li {
height: 22px;
}
.oldie .grayBoxContainer div.bottomChannel ul li a {
padding-top: 0;
}
/****Mobile Functionality****//*Small Screen devices, like phones*/@media screen and (min-width:300px) {
}
@media screen and (min-width:450px) {.grayBoxContainer .leftChannel {
background: #757779 url("https://assets1.csc.com/cloud/images/modal_corner.jpg") scroll no-repeat right bottom;
background: -moz-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
}
.grayBoxContainer .leftChannel .playbutton {
max-width: 90%;
}

}
/****Tablet Functionality*******//*Ten-inch Tablets like the I-pad (768x1024) */@media screen and (min-width:768px) {.grayBoxContainer .leftChannel {
width: 70%;
float: left;
padding-bottom: 40px;
}
.grayBoxContainer .rightChannel {
float: right;
width: 27%;
margin-top: 0%;
}
.grayBoxContainer .bottomChannel {
float: left;
width: 72%;
}
.grayBoxContainer .bottomChannel ul {
padding: 2em 0px;
}
.grayBoxContainer .bottomChannel ul li {
float: left;
display: inline-block;
margin-bottom: 0px;
}
.oldie .grayBoxContainer {
position: relative;
}
.oldie .grayBoxContainer div.leftChannel {
display: inline-block;
width: 70%;
margin-right: 4%;
}
.oldie .grayBoxContainer div.rightChannel {
width: 25%;
}
.oldie .grayBoxContainer div.bottomChannel {
width: 70%;/*position: absolute;
top: 300px;*/
}

}
/*****Desktop Functionality*******/@media screen and (min-width:1000px) {#relatedSuccessStories {
font-size: 1em;
width: 20%;
padding: 0 0 0 5%;
display: block;
float: left;
margin-top: 5%;
}
.successStories #relatedSuccessStories .relatedContent {
width: 100% !important;
}
.successStories #relatedSuccessStories .relatedContent li {/*background-position: 0 8px;*/
}
.successStories #relatedSuccessStories .relatedContent li li {/*background-position: 0 5px;*/font-size: 1em;
padding: 2px 1em;
}
.successStories #relatedSuccessStories .relatedContent li h3 {
font-size: 1em;
}
/*.oldie .grayBoxContainer .leftChannel {
width: 441px;
}
.oldie .grayBoxContainer .rightChannel {
width: 170px;
}
.oldie .grayBoxContainer .bottomChannel {
width: 453px;
}
*/
}


.oldie .grayBoxContainer .leftChannel {
width: 70%;
float: left;
padding-bottom: 40px;
}
.oldie .grayBoxContainer .rightChannel {
float: right;
width: 27%;
margin-top: 0%;
}
.oldie .grayBoxContainer .bottomChannel {
float: left;
width: 72%;
}
.oldie .grayBoxContainer .bottomChannel ul {
padding: 2em 0px;
}
.grayBoxContainer .bottomChannel ul li {
float: left;
display: inline-block;
margin-bottom: 0px;
}
.oldie .grayBoxContainer {
position: relative;
}
.oldie .grayBoxContainer div.leftChannel {
display: inline-block;
width: 70%;
margin-right: 4%;
}
.oldie .grayBoxContainer div.rightChannel {
width: 25%;
}
.oldie .grayBoxContainer div.bottomChannel {
width: 70%;/*position: absolute;
top: 300px;*/
}

.oldie .grayBoxContainer .leftChannel {
background: #757779 url("https://assets1.csc.com/cloud/images/modal_corner.jpg") scroll no-repeat right bottom;
background: -moz-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -ms-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -o-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: -webkit-linear-gradient(140deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
background: linear-gradient(-40deg, transparent 50px, #757779 0pt) no-repeat scroll right bottom transparent;
}
.oldie .grayBoxContainer .leftChannel .playbutton {
max-width: 90%;
}

.oldie #relatedSuccessStories {
font-size: 1em;
width: 20%;
padding: 0 0 0 5%;
display: block;
float: left;
margin-top: 5%;
}
.oldie .successStories #relatedSuccessStories .relatedContent {
width: 100% !important;
}
.oldie .successStories #relatedSuccessStories .relatedContent li {/*background-position: 0 8px;*/
}
.oldie .successStories #relatedSuccessStories .relatedContent li li {/*background-position: 0 5px;*/font-size: 1em;
padding: 2px 1em;
}
.oldie .successStories #relatedSuccessStories .relatedContent li h3 {
font-size: 1em;
}