/*---------------------------------------

Incivek Style Sheet

Table of contents
0.0  Clear Styles
0.1  Variables 
0.2  Less Mixins

--------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
sup,
sub {
  font-size: 60%;
  display: inline-block;
  vertical-align: text-top;
  margin-top: -2px;
}
#mti_wfs_colophon {
  display: none !important;
}
#overlay_modal {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: none;
  position: fixed;
}
#overlay_modal .modal_container {
  width: 500px;
  height: 281px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 166px;
  margin-left: -250px;
  display: block;
  padding: 35px 26px;
}
#overlay_modal .modal_container:after {
  width: 45px;
  height: 352px;
  display: inline-block;
  content: '';
  background: url("../images/modal_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  right: -45px;
  top: 0;
}
#overlay_modal .modal_container h2 {
  font-size: 1.714em;
  text-align: left;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
  margin-top: 60px;
  color: #015696;
}
#overlay_modal .modal_container p {
  text-align: left;
  margin: 13px 0 37px 0;
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
  font-weight: 100;
  font-size: 1.286em;
}
#overlay_modal .modal_container span {
  font-size: 1.3em;
}
#overlay_modal .modal_container .modal_links {
  border-top: 6px solid #c3d021;
  padding-top: 4px;
}
#overlay_modal .modal_container .modal_links span {
  cursor: pointer;
  color: #015696;
  font-size: 1.143em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
  height: 35px;
  position: relative;
  margin-top: 5px;
}
#overlay_modal .modal_container .back_link {
  float: left;
  margin-left: 25px;
}
#overlay_modal .modal_container .back_link:before {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  position: absolute;
  left: -22px;
}
#overlay_modal .modal_container .cont_link {
  float: right;
  margin-right: 25px;
}
#overlay_modal .modal_container .cont_link:after {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -52px;
  position: absolute;
  right: -22px;
  top: 0;
}
#homepage_container {
  margin: 0 auto;
  width: 976px;
}
#homepage_container .homepage_warning {
  position: relative;
  margin: 8px 0;
  color: #676767;
  font-size: 1.071em;
  line-height: 1.143em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#homepage_container #homepage_banner {
  position: relative;
}
#homepage_container #homepage_banner .banner_overlay {
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  width: 964px;
  left: 50%;
  margin-left: -482px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 293px;
  text-align: left;
  color: #ffffff;
}
#homepage_container #homepage_banner .banner_overlay h2 {
  font-size: 2.286em;
  font-weight: 100;
  margin: 20px 18px 12px;
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
}
#homepage_container #homepage_banner .banner_overlay h2 span {
  color: #c3d021;
  font-weight: 100;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#homepage_container #homepage_banner .banner_overlay .banner_copy {
  font-size: 1.143em;
  margin: 0 0 12px 20px;
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
  font-weight: 100;
}
#homepage_container #homepage_banner .banner_overlay .banner_copy span {
  font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
}
#homepage_container #homepage_banner .banner_overlay .banner_fineprint {
  font-size: 0.857em;
  margin: 0 0 10px 20px;
  font-family: Arial, sans-serif;
}
#homepage_container #homepage_banner ul {
  list-style: none;
  z-index: 0;
}
#homepage_container #homepage_banner ul li {
  float: left;
  width: 326px;
  margin: 3px 3px 0 0;
}
#homepage_container #homepage_banner ul li:nth-child(2) {
  width: 318px;
}
#homepage_container #homepage_banner ul li:last-child {
  margin: 3px 0 3px 0;
}
#homepage_container #homepage_banner ul li div {
  background-color: #015696;
  height: 101px;
  padding: 17px 19px 3px 27px;
  color: #ffffff;
  font-size: 0.929em;
  position: relative;
}
#homepage_container #homepage_banner ul li div h3 {
  color: #c3d021;
  font-size: 1.214em;
  text-transform: uppercase;
  margin-bottom: 9px;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
}
#homepage_container #homepage_banner ul li div p {
  font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.3em;
}
#homepage_container #homepage_banner ul li div a {
  font-size: 0.857em;
  float: right;
  line-height: 16px;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  bottom: 8px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}
#homepage_container #homepage_banner ul li div a:after {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -52px;
  position: absolute;
  right: -22px;
}
#homepage_container #homepage_banner ul li .first_banner_info {
  background: #015696 url(../images/hp_banner_info_left.png);
  background-repeat: repeat-y;
  background-position: -5px 0;
}
#homepage_container #homepage_banner ul li .last_banner_info {
  background: #015696 url(../images/hp_banner_info_right.png);
  background-repeat: repeat-y;
  background-position: 100% 0;
}
#homepage_container .homepage_footnote,
#homepage_container .homepage_footnote_small {
  font-size: 1em;
  font-family: Arial, sans-serif;
  position: relative;
  margin-left: 10px;
  line-height: 1.214em;
}
#homepage_container .homepage_footnote span,
#homepage_container .homepage_footnote_small span {
  position: absolute;
  margin: 0 0 0 -6px;
}
#homepage_container .homepage_footnote {
  font-size: 1em;
  margin-bottom: 9px;
  margin-top: 10px;
}
#homepage_container .homepage_footnote_small {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.857em;
  margin-bottom: 24px;
}
#subpage_wrapper {
  width: 1024px;
  margin: 0 auto;
  padding-left: 15px;
}
#subpage_wrapper h1 {
  margin-bottom: 15px;
  font-size: 1.786em;
  color: #015696;
  font-weight: normal;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#subpage_wrapper h2 {
  margin-bottom: 13px;
  font-size: 1.643em;
  font-weight: normal;
  color: #009faf;
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
}
#subpage_wrapper h3 {
  margin-bottom: 10px;
  font-size: 1.071em;
  color: #065c6e;
}
#subpage_wrapper h4 {
  margin: 0;
  font-size: 1.071em;
  color: #c3d021;
}
#subpage_wrapper .main_label {
  position: relative;
  margin: 8px 0 17px 20px;
  font-size: 1.071em;
  line-height: 1.143em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #333333;
}
#subpage_wrapper #subpage_content {
  margin-left: 22px;
  float: left;
  margin-top: 7px;
}
#subpage_wrapper #subpage_content #main_content {
  width: 476px;
  float: left;
  color: #181818;
  margin-bottom: 44px;
}
#subpage_wrapper #subpage_content #main_content p {
  line-height: 1.3em;
  margin-bottom: 15px;
  letter-spacing: -0.01em;
}
#subpage_wrapper #subpage_content #main_content p.no_bottom_space {
  margin-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content p.onefive {
  margin-bottom: 15px;
}
#subpage_wrapper #subpage_content #main_content p,
#subpage_wrapper #subpage_content #main_content ul,
#subpage_wrapper #subpage_content #main_content ol {
  font-size: 13px;
  font-family: Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content img.progress_hep_c_img {
  margin-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content img.copy_top {
  margin: 0 0 17px -10px;
}
#subpage_wrapper #subpage_content #main_content .blue_bold {
  font-weight: bold;
  color: #015696;
  text-decoration: none;
}
#subpage_wrapper #subpage_content #main_content .blue {
  color: #015696;
  text-decoration: none;
}
#subpage_wrapper #subpage_content #main_content ul {
  margin: 9px 0 24px 15px;
  font-family: Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content ul.about_incivek_list li {
  margin-bottom: 20px;
}
#subpage_wrapper #subpage_content #main_content ul.about_incivek_list li:last-child {
  margin-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content ul li {
  list-style-type: none;
  padding-left: 21px;
  margin-bottom: 5px;
  position: relative;
  line-height: 1.286em;
}
#subpage_wrapper #subpage_content #main_content ul li:before {
  width: 18px;
  height: 10px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -69px;
  position: absolute;
  left: 0px;
  top: 3px;
}
#subpage_wrapper #subpage_content #main_content ul li ul {
  margin: 9px 0 10px 15px;
  font-size: 13px;
}
#subpage_wrapper #subpage_content #main_content ul li ul li {
  padding-left: 10px;
}
#subpage_wrapper #subpage_content #main_content ul li ul li:before {
  display: inline-block;
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
  color: #009faf;
  background-image: none;
}
#subpage_wrapper #subpage_content #main_content ul li p {
  margin-bottom: 9px;
}
#subpage_wrapper #subpage_content #main_content ul.progress_hep_c {
  margin-top: 24px;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list {
  margin-left: 18px;
  font-size: 13px;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list li {
  margin-bottom: 24px;
  font-family: Arial, sans-serif;
  line-height: 1.3em;
  font-weight: bold;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list li:last-child {
  margin-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list ul {
  margin-left: 0;
  margin-top: 0;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list ul li {
  margin-bottom: 5px;
  font-weight: normal;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list ul li ul {
  margin: 9px 0 10px 15px;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list ul li ul li {
  padding-left: 10px;
}
#subpage_wrapper #subpage_content #main_content ol.numbered_list ul li ul li:before {
  display: inline-block;
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
  color: #009faf;
  background-image: none;
}
#subpage_wrapper #subpage_content #main_content .callout {
  background-color: #d3f1f4;
  display: block;
  position: relative;
}
#subpage_wrapper #subpage_content #main_content .callout.did_you_know {
  padding-left: 77px;
  margin: 23px 0 19px 0;
}
#subpage_wrapper #subpage_content #main_content .callout.did_you_know p {
  margin: 0;
  padding-bottom: 16px;
}
#subpage_wrapper #subpage_content #main_content .callout.did_you_know p b {
  font-weight: bold;
  color: #015696;
}
#subpage_wrapper #subpage_content #main_content .callout.did_you_know span.callout_img {
  background-position: 0 0;
  top: 13px;
  left: 10px;
}
#subpage_wrapper #subpage_content #main_content .callout.test_schedule {
  padding: 15px;
  margin-bottom: 32px;
}
#subpage_wrapper #subpage_content #main_content .callout.test_schedule p {
  margin: 0;
  padding-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content .callout.test_schedule p b {
  font-weight: bold;
  color: #015696;
}
#subpage_wrapper #subpage_content #main_content .callout.side_effects {
  padding: 15px 6px 7px 77px;
  margin-bottom: 23px;
}
#subpage_wrapper #subpage_content #main_content .callout.side_effects p {
  font-size: 1.143em;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  color: #015696;
  font-weight: 100;
  margin-bottom: 8px;
}
#subpage_wrapper #subpage_content #main_content .callout.side_effects p .callout_number {
  font-size: 1.286em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content .callout.side_effects .callout_fineprint {
  font-size: 0.77em;
  font-family: Arial, sans-serif;
  font-weight: 100;
}
#subpage_wrapper #subpage_content #main_content .callout.side_effects span.callout_img {
  background-position: 0 -49px;
  top: 12px;
  left: 10px;
}
#subpage_wrapper #subpage_content #main_content .callout.tips_for_taking {
  padding: 10px 6px 9px 77px;
  margin: 27px 0 16px 0;
}
#subpage_wrapper #subpage_content #main_content .callout.tips_for_taking span.callout_img {
  background-position: 0 -97px;
  top: 10px;
  left: 10px;
}
#subpage_wrapper #subpage_content #main_content .callout.tips_for_taking ul {
  margin-bottom: 0;
}
#subpage_wrapper #subpage_content #main_content .callout span.callout_img {
  background: url(../images/subpage_images/subpage_icon_sprite.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 48px;
  display: block;
  position: absolute;
}
#subpage_wrapper #subpage_content #main_content .callout h2 {
  padding-top: 17px;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  color: #015696;
  font-size: 1.643em;
  margin-bottom: 7px;
}
#subpage_wrapper #subpage_content #main_content table {
  border: 3px solid #ebf2f4;
}
#subpage_wrapper #subpage_content #main_content table.how_hep_c_spread {
  margin: 16px 0 30px 0;
}
#subpage_wrapper #subpage_content #main_content table th {
  background-color: #2abac8;
  color: #ffffff;
  font-size: 1.345em;
  font-weight: 100;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  padding: 15px 0 10px;
  border: 1px solid #ebf2f4;
}
#subpage_wrapper #subpage_content #main_content table th span.table_header_big {
  font-size: 1.794em;
  font-weight: 100;
  text-align: center;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content table td {
  width: 235px;
  padding: 9px 11px;
  line-height: 1.071em;
  font-size: 0.929em;
  font-family: Arial, sans-serif;
  color: #181818;
}
#subpage_wrapper #subpage_content #main_content table td.subpage_table_divider {
  border-right: 1px solid #bcd3e1;
}
#subpage_wrapper #subpage_content #main_content table tr.table_title td {
  font-size: 0.964em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
  color: #ffffff;
}
#subpage_wrapper #subpage_content #main_content table tr:nth-child(odd) {
  background-color: #ebf2f4;
}
#subpage_wrapper #subpage_content #main_content table tr:first-child {
  background-color: #015696;
  color: #ffffff;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  height: 32px;
  text-transform: uppercase;
}
#subpage_wrapper #subpage_content #main_content table tr:first-child td {
  padding-top: 12px;
}
#subpage_wrapper #subpage_content #main_content .tiny_fine_print {
  font-family: Arial, sans-serif;
  font-size: 0.786em;
  color: #676767;
  margin-bottom: 15px;
  display: block;
}
#subpage_wrapper #subpage_content #main_content .about_incivek_content_split div {
  float: left;
  width: 290px;
}
#subpage_wrapper #subpage_content #main_content .about_incivek_content_split img {
  float: right;
  width: 185px;
  margin-top: 26px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container {
  background-color: #ebf2f4;
  padding: 3px;
  margin-bottom: 18px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs {
  margin: 0;
  background: #015696;
  border-bottom: 8px solid #2abac8;
  width: 100%;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  float: left;
  display: table;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li:first-child {
  overflow: hidden;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li:first-child a.active:before {
  background: none;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li:before {
  background: none;
  display: none;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li a {
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
  font-size: 0.929em;
  font-weight: 100;
  height: 58px;
  display: block;
  vertical-align: middle;
  z-index: 999;
  padding: 0 7px 0 0;
  display: table-cell;
  text-decoration: none;
  line-height: 1.2em;
  background: url(../images/subpage_images/tab_arrow_selected_bg.png) 100% 0 no-repeat;
  position: relative;
  z-index: 1;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li a span.after_arrow {
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
  font-size: 1.4em;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li a.active {
  background: #2abac8 url(../images/subpage_images/tab_arrow_bg.png) 100% 0 no-repeat;
  z-index: 0;
  position: relative;
  display: table-cell;
  height: 58px;
  margin-left: -10px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li a.active:before {
  width: 20px;
  height: 58px;
  display: block;
  content: '';
  background: #2abac8;
  position: absolute;
  left: -14px;
  top: 0;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li:last-child a {
  background: #015696;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs li:last-child a.active {
  background: #2abac8;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs.how_work_tab li {
  width: 33.3%;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container ul.tabs.chance_cure_tab li {
  width: 25%;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container > div {
  padding: 20px 20px 10px 20px;
  position: relative;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div {
  position: relative;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .helvetica_neue_reg {
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .helvetica_neue_bold {
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div img {
  width: auto;
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div img.timeline_img {
  margin: 9px 0 20px 0;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div.triple_closeup {
  background: url(../images/subpage_images/triple_closeup.png) 256px 100px no-repeat;
  height: 430px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .how_work_tab_spacing {
  margin-top: 140px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div h4 {
  margin-bottom: 25px;
  color: #015696;
  font-size: 1.286em;
  font-weight: 100;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .cure_tab_container {
  position: relative;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .cure_tab_scale {
  margin-right: 30px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .cure_tab_bar_content {
  width: 330px;
  position: absolute;
  bottom: 0;
  left: 85px;
}
#subpage_wrapper #subpage_content #main_content .subpage_tabs_container div .cure_tab_bar_content .tab_p_absolute {
  position: absolute;
  bottom: 300px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container {
  margin-bottom: 45px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container {
  padding-left: 70px;
  position: relative;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container:before {
  width: 61px;
  height: 61px;
  display: inline-block;
  content: '';
  background: url(../images/subpage_images/viral_load_text_schedule.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 4px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container.test_0:before {
  background-position: 0 0;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container.test_1:before {
  background-position: 0 -62px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container.test_2:before {
  background-position: 0 -124px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container.test_3:before {
  background-position: 0 -186px;
}
#subpage_wrapper #subpage_content #main_content #lab_test_schedule_container .viral_load_test_container.test_4:before {
  background-position: 0 -248px;
}
#subpage_wrapper #subpage_content #main_content .tab_cta {
  border-top: 6px solid #015696;
  width: 100%;
  position: relative;
}
#subpage_wrapper #subpage_content #main_content .tab_cta a {
  background: url(../images/subpage_images/link_banner_bg.png) 0 0 no-repeat;
  background-color: #015696;
  height: 29px;
  line-height: 24px;
  float: right;
  color: #ffffff;
  font-size: 1.143em;
  padding: 0 30px;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-weight: 100;
  text-decoration: none;
}
#subpage_wrapper #subpage_content #main_content .tab_cta a span {
  text-transform: uppercase;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  color: #c3d021;
  font-weight: 100;
}
#subpage_wrapper #subpage_content #main_content .tab_cta a:after {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -52px;
  position: absolute;
  right: 7px;
  top: 4px;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider {
  margin: 0 0 21px 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask {
  width: 100%;
  height: 440px;
  overflow: hidden;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask ul.images {
  position: relative;
  height: 440px;
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask ul.images li {
  float: left;
  position: relative;
  padding: 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask ul.images li:after,
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask ul.images li:before {
  background: none;
  display: none;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider .mask ul.images li img {
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers {
  width: 100%;
  margin: 2px 0 0 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li {
  float: left;
  margin: 0 3px 0 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  line-height: 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li:last-child {
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  width: 100%;
  height: 100%;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li.selected:before {
  background: none;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li:after {
  background: none;
  display: none;
}
#subpage_wrapper #subpage_content #main_content #patient_exp_slider ul.triggers li img {
  width: 100%;
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content #accordian {
  margin-bottom: 20px;
}
#subpage_wrapper #subpage_content #main_content #accordian dl {
  border-bottom: 1px solid #a8c5db;
}
#subpage_wrapper #subpage_content #main_content #accordian dt {
  padding: 17px 19px 17px 0;
  cursor: pointer;
  border-top: 1px solid #a8c5db;
  font-size: 1.214em;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-weight: 100;
  color: #009faf;
  position: relative;
}
#subpage_wrapper #subpage_content #main_content #accordian dt:after {
  width: 27px;
  height: 24px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -80px;
  position: absolute;
  right: 5px;
  top: 14px;
}
#subpage_wrapper #subpage_content #main_content #accordian dt:last-child {
  border-top: 1px solid #a8c5db;
  border-bottom: 1px solid #a8c5db;
}
#subpage_wrapper #subpage_content #main_content #accordian dt.active:after {
  background-position: 0 -105px;
}
#subpage_wrapper #subpage_content #main_content #accordian dd {
  margin: -4px 10px 0 0;
  font-family: Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content #accordian dd p {
  margin-bottom: 15px;
}
#subpage_wrapper #subpage_content #main_content #accordian dd p.no_bottom_space {
  margin: 0;
}
#subpage_wrapper #subpage_content #main_content #accordian dd ul {
  margin-bottom: 9px;
}
#subpage_wrapper #subpage_content #main_content #accordian .hide {
  display: none;
}
#subpage_wrapper #subpage_content #main_content #accordian .accordian_control {
  text-align: right;
}
#subpage_wrapper #subpage_content #main_content #accordian .accordian_control span {
  cursor: pointer;
}
#subpage_wrapper #subpage_content #main_content #accordian h3 {
  color: #015696;
  font-size: 1em;
}
#subpage_wrapper #subpage_content #main_content .support_title_p p {
  width: 270px;
}
#subpage_wrapper #subpage_content #main_content .support_title_p img {
  margin: 0 20px 17px 0;
}
#subpage_wrapper #subpage_content #main_content .footnote {
  font-family: Arial, sans-serif;
  font-size: 0.786em;
  margin: 20px 0 26px 0;
  display: block;
}
#subpage_wrapper #subpage_content #main_content .footnote sub {
  margin-right: -2px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dl {
  margin-left: 46px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt {
  padding: 15px 0 15px 15px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt.financial:before {
  background-position: 0 -148px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt.nurse sub {
  margin-left: -3px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt.nurse:before {
  background-position: 0 -51px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt.emergency_supply:before {
  background-position: 0 -198px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dt:before {
  width: 56px;
  height: 48px;
  display: inline-block;
  content: '';
  background: url(../images/subpage_images/subpage_icon_sprite.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -50px;
  top: 3px;
}
#subpage_wrapper #subpage_content #main_content #accordian.gps_accordian dd {
  padding-left: 15px;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance {
  position: relative;
  border-bottom: 1px solid #a8c5db;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance h2 {
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance img {
  width: auto;
  margin: 10px 0 0 0;
  max-width: 95px;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance div {
  width: 360px;
  margin: 15px 0 0 20px;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download {
  float: right;
  margin: 0 6px 17px 0;
  font-family: Arial, sans-serif;
  font-size: 0.929em;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance ul {
  margin: 9px 0 16px 15px;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download_lang {
  margin: 0 0 10px 0;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download_lang ul {
  text-align: left;
  float: left;
  margin: 0 60px 0 0;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download_lang ul li {
  padding: 0;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download_lang ul li:before {
  display: none;
}
#subpage_wrapper #subpage_content #main_content .ed_material_instance .material_download_lang ul li a {
  float: none;
}
#subpage_wrapper #subpage_content #main_content .online_resource_instance .online_title,
#subpage_wrapper #subpage_content #main_content .online_resource_instance a {
  font-family: Arial, sans-serif;
  display: block;
}
#subpage_wrapper #subpage_content #main_content .online_resource_instance .online_title {
  font-weight: bold;
}
#subpage_wrapper #subpage_content #main_content .online_resource_instance a {
  line-height: 1.3em;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_header {
  background: #015696;
  color: #ffffff;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_header .head_dose_1 {
  display: inline-block;
  width: 161px;
  text-align: center;
  margin: 12px 0;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_header .head_dose_2 {
  display: inline-block;
  width: 310px;
  text-align: center;
  margin: 12px 0;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker {
  background: #2abac8;
  padding: 6px;
  float: left;
  border-right: 2px solid #ffffff;
  border-top: 1px solid #ffffff;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .divider {
  color: #ffffff;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-size: 2.143em;
  margin: 10px 5px 0;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .digit {
  background: #ffffff;
  display: block;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-size: 2.143em;
  color: #909090;
  width: 42px;
  height: 37px;
  text-align: center;
  line-height: 42px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .min {
  margin-right: 4px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker > div {
  float: left;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .arrowUp {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #c3d021;
  cursor: pointer;
  display: block;
  margin: 0 auto 3px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .arrowDown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c3d021;
  cursor: pointer;
  display: block;
  margin: 3px auto 0;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .am,
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .pm {
  display: none;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .format.format-am .am {
  display: block;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_picker .format.format-pm .pm {
  display: block;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_range {
  float: right;
  background: #2abac8;
  width: 314px;
  height: 65px;
  color: #ffffff;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-size: 2.143em;
  text-align: center;
  border-top: 1px solid #ffffff;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_range div {
  float: left;
  padding-top: 20px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_range .from {
  padding: 20px 0 0 40px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc #time_range .divider {
  margin: 0 8px;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_print {
  margin: 13px 25px 28px 0;
  text-align: right;
  font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
  font-weight: 100;
  font-size: 1.071em;
  color: #015696;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  float: right;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_print:after {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -52px;
  position: absolute;
  right: -25px;
  top: 0;
}
#subpage_wrapper #subpage_content #main_content #dosage_calc .calc_print:before {
  width: 20px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -19px;
  position: absolute;
  left: -25px;
  top: 0;
}
/*-------------------------------------
        0.6 Utility Page
---------------------------------------*/
#utility_wrapper {
  width: 1024px;
  margin: 0 auto;
}
#utility_wrapper .blue_bold {
  font-weight: bold;
  color: #015696;
}
#utility_wrapper .main_label {
  position: relative;
  margin: 8px 0 17px 20px;
  font-size: 1.071em;
  line-height: 1.143em;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  letter-spacing: 0.03em;
  color: #333333;
}
#utility_wrapper h2 {
  color: #015696;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
  font-size: 1.786em;
  margin-bottom: 14px;
}
#utility_wrapper #contact_utility {
  width: 660px;
  margin: 0 auto;
  float: left;
  padding-left: 20px;
}
#utility_wrapper #contact_utility h2 {
  font-size: 1.786em;
  color: #015696;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  margin-bottom: 14px;
  font-weight: 100;
}
#utility_wrapper #contact_utility h3 {
  font-size: 1.643em;
  color: #009faf;
  font-weight: 100;
  margin-bottom: 12px;
  font-family: 'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
}
#utility_wrapper #contact_utility p {
  font-size: 1em;
  line-height: 1.286em;
  font-family: Arial, sans-serif;
}
#utility_wrapper #contact_utility a {
  color: #015696;
  text-decoration: none;
}
#utility_wrapper #contact_utility .contact_phone {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.286em;
  color: #015696;
  display: block;
  margin: 10px 0;
}
#utility_wrapper #contact_utility #isi_wide_body section {
  margin-bottom: 25px;
}
#utility_wrapper #contact_utility #isi_wide_body section ul {
  margin-left: 32px;
  margin-top: 9px;
}
#utility_wrapper #contact_utility #isi_wide_body section ul li {
  margin-bottom: 13px;
}
#utility_wrapper #contact_utility #isi_wide_body section ul ul {
  list-style: disc;
}
#utility_wrapper #contact_utility #isi_wide_body section .first_link {
  margin-top: 25px;
}
#utility_wrapper #contact_utility #isi_wide_body section .isi_bottom_link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  float: left;
}
#utility_wrapper #contact_utility #isi_wide_body section .isi_bottom_link a {
  color: #015696;
  text-decoration: underline;
}
#utility_wrapper #contact_utility .callout {
  background-color: #d3f1f4;
  display: block;
  position: relative;
  padding: 15px 0 15px 90px;
  margin: 25px 0 18px 0;
  height: 58px;
  width: 387px;
}
#utility_wrapper #contact_utility .callout span.callout_img {
  background: url(../images/subpage_images/subpage_icon_sprite.png);
  background-repeat: no-repeat;
  width: 55px;
  height: 48px;
  background-position: 0px -147px;
  display: block;
  position: absolute;
  left: 15px;
  top: 15px;
}
#utility_wrapper #contact_utility .callout h2 {
  padding-top: 17px;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  color: #015696;
  font-size: 1.643em;
  margin-bottom: 7px;
}
#utility_wrapper #contact_utility .callout h4 {
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-size: 1.500em;
  color: #015696;
  margin-bottom: 6px;
  font-weight: 100;
}
#utility_wrapper #contact_utility .callout span.blue_bold {
  font-weight: bold;
  color: #015696;
}
#utility_wrapper #contact_utility .links {
  margin-bottom: 20px;
}
#utility_wrapper #contact_utility .links ul {
  margin-left: 15px;
  margin-top: 10px;
}
#utility_wrapper #contact_utility .links ul li {
  margin-bottom: 5px;
}
#utility_wrapper #contact_utility .links ul li:last-child {
  margin-bottom: 0;
}
#utility_wrapper #contact_utility .links a {
  font-family: Arial, sans-serif;
  font-size: 1em;
}
#utility_wrapper #contact_utility .links a:hover {
  text-decoration: underline;
}
#utility_wrapper #contact_utility form {
  margin: 10px 0;
  font-family: Arial, sans-serif;
}
#utility_wrapper #contact_utility form input[type=text] {
  padding: 10px;
  width: 200px;
  border: 1 px solid #e8ebec;
  margin: 0;
}
#utility_wrapper #contact_utility form input[type=submit] {
  width: 50px;
  height: auto;
  background-color: #e8ebec;
  border: 0;
  height: 33px;
  cursor: pointer;
}
#utility_wrapper #contact_utility .search_return {
  margin: 30px 0;
}
#utility_wrapper #contact_utility .search_return a {
  font-family: Arial, sans-serif;
  font-weight: 100;
  color: #015696;
  text-decoration: underline;
  margin-bottom: 5px;
}
#utility_wrapper #isi_wide {
  width: 976px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.286em;
  margin-top: 82px;
}
#utility_wrapper #isi_wide hr {
  border: 0;
  height: 0;
  margin: 0;
}
#utility_wrapper #isi_wide hr.one7 {
  height: 17px;
}
#utility_wrapper #isi_wide hr.eight {
  height: 8px;
}
#utility_wrapper #isi_wide h2 {
  font-size: 1.286em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 14px;
  font-family: Arial, sans-serif;
}
#utility_wrapper #isi_wide h3 {
  font-size: 1.143em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
}
#utility_wrapper #isi_wide #isi_wide_header {
  margin-bottom: 25px;
}
#utility_wrapper #isi_wide #isi_wide_body section {
  margin-bottom: 25px;
}
#utility_wrapper #isi_wide #isi_wide_body section ul {
  margin-left: 32px;
  margin-top: 9px;
}
#utility_wrapper #isi_wide #isi_wide_body section ul li {
  margin-bottom: 13px;
}
#utility_wrapper #isi_wide #isi_wide_body section ul ul {
  list-style: disc;
}
#utility_wrapper #isi_wide #isi_wide_body section .first_link {
  margin-top: 25px;
}
#utility_wrapper #isi_wide #isi_wide_body section .isi_bottom_link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  float: left;
}
#utility_wrapper #isi_wide #isi_wide_body section .isi_bottom_link a {
  color: #015696;
  text-decoration: underline;
}
/*-------------------------------------
        0.6 Includes
---------------------------------------*/
header #sub_nav {
  width: 1023px;
  margin: 0 auto;
}
header #sub_nav .providers {
  width: 215px;
  background: #e0e2e3 url(../images/sub_nav_grey.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  height: 28px;
  padding-left: 22px;
  float: left;
}
header #sub_nav .providers span {
  width: auto;
  display: inline-block;
  padding: 10px 0;
  font-size: 0.929em;
  text-transform: uppercase;
  position: relative;
}
header #sub_nav .providers span:before {
  width: 18px;
  height: 18px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  left: 0;
  top: 5px;
  position: absolute;
}
header #sub_nav .providers span a {
  color: #001a2e;
  display: inline-block;
  margin-left: 25px;
}
header #sub_nav .sub_nav {
  display: inline;
  float: right;
}
header #sub_nav .sub_nav ul {
  font-size: 0.929em;
  float: left;
  margin-top: 10px;
}
header #sub_nav .sub_nav ul li {
  display: inline;
  border-right: 1px solid;
  padding: 0 8px 0 6px;
}
header #sub_nav .sub_nav ul li:first-child {
  padding: 0 8px 0 0;
}
header #sub_nav .sub_nav ul li:last-child {
  border: 0;
  padding: 0 0 0 8px;
}
header #sub_nav .sub_nav ul li a {
  color: #001a2e;
}
header #sub_nav .sub_nav .nav_printer {
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url(../images/icon_sprite.png) no-repeat;
  background-position: 0px -19px;
  margin: 9px 9px 0 9px;
  float: left;
}
header #sub_nav .sub_nav .search_container {
  float: right;
  position: relative;
  background: #e8ebec;
  margin-top: 4px;
}
header #sub_nav .sub_nav .search_container input.search_field {
  background: transparent;
  border: 0;
  line-height: 27px;
  height: 27px;
  margin-left: 32px;
  padding: 0;
}
header #sub_nav .sub_nav .search_container input[type="submit"] {
  background: none;
  border: 0;
  background: url(../images/icon_sprite.png) no-repeat;
  background-position: 0px -36px;
  width: 18px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px 0 0 7px;
  cursor: pointer;
}
header #sub_nav:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .header_info {
  width: 1023px;
  margin: 0 auto;
  padding-top: 15px;
}
header .header_info .logo {
  float: left;
}
header .header_info .copy {
  float: right;
  width: 705px;
}
header .header_info .copy p {
  line-height: 1em;
  font-size: 0.94em;
  text-align: justify;
  font-weight: 100;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  color: #333333;
}
header .header_info .copy p span {
  color: #015696;
}
header .header_info .copy a {
  color: #015696;
  text-align: right;
  float: right;
  margin-top: 0.214em;
  text-decoration: none;
}
header .header_info .copy a:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
header #main_nav {
  width: 1024px;
  margin: 10px auto 0;
  height: 26px;
  border-bottom: 5px solid #c3d021;
  font-size: 0.96em;
}
header #main_nav span {
  margin-left: 27px;
  line-height: 27px;
}
header #main_nav ul {
  float: right;
  text-transform: uppercase;
  background: #c3d021 url(../images/nav_grey_green.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 19px;
  padding-top: 7px;
}
header #main_nav ul li {
  float: left;
  border-right: 1px solid;
  padding: 2px 19px;
  font-size: 0.95em;
  position: relative;
  text-align: center;
  /* A class of current will be added via jQuery */

}
header #main_nav ul li a {
  text-decoration: none;
  color: #001a2e;
  padding-bottom: 8px;
}
header #main_nav ul li a.active {
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
}
header #main_nav ul li:first-child {
  padding-left: 30px;
  width: 100px;
}
header #main_nav ul li:nth-child(2) {
  width: 80px;
}
header #main_nav ul li:nth-child(2) ul {
  width: 185px;
}
header #main_nav ul li:nth-child(3) {
  width: 116px;
}
header #main_nav ul li:last-child {
  width: 208px;
  padding: 2px 20px 2px 19px;
  border-right: 0;
}
header #main_nav ul li:last-child ul {
  min-width: 250px;
}
header #main_nav ul li ul {
  background: #c3d021;
  color: #001a2e;
  display: none;
  margin: 9px 0 0 0;
  min-width: 174px;
  position: absolute;
  border: 4px solid #c3d021;
  right: 0;
  height: auto;
  z-index: 9999;
  padding: 0;
}
header #main_nav ul li ul li {
  width: 100% !important;
  border: none;
  padding: 0px;
  /* Third level menu */

}
header #main_nav ul li ul li:first-child {
  padding: 0px;
}
header #main_nav ul li ul li:last-child {
  padding: 0px;
}
header #main_nav ul li ul li a {
  background: none;
  border: none;
  line-height: 33px;
  margin: 0;
  padding: 0 14px 0 0;
  display: block;
  text-align: right;
  font-size: 0.983em;
}
header #main_nav ul li ul li a:hover {
  background: #ffffff;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-weight: 100;
  padding: 0 14px 0 0;
}
header #main_nav ul li ul li a.active {
  background: #ffffff;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  font-weight: 100;
  padding: 0 14px 0 0;
}
header #main_nav ul li ul li ul {
  right: -200px;
  top: 0;
}
header #main_nav ul li.current > a {
  font-weight: 100;
}
header #main_nav ul li:hover > ul.child {
  display: block;
}
header #main_nav ul li:hover > a {
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
}
header #main_nav ul li:hover > ul.grandchild {
  display: block;
}
#isi_wide {
  width: 976px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1.286em;
}
#isi_wide hr {
  border: 0;
  height: 0;
  margin: 0;
}
#isi_wide hr.one7 {
  height: 17px;
}
#isi_wide hr.eight {
  height: 8px;
}
#isi_wide h2 {
  font-size: 1.286em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 14px;
}
#isi_wide h3 {
  font-size: 1.143em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 12px;
}
#isi_wide #isi_wide_header {
  margin-bottom: 25px;
}
#isi_wide #isi_wide_body section {
  margin-bottom: 25px;
}
#isi_wide #isi_wide_body section ul {
  margin-left: 32px;
  margin-top: 9px;
}
#isi_wide #isi_wide_body section ul li {
  margin-bottom: 13px;
}
#isi_wide #isi_wide_body section ul ul {
  list-style: disc;
}
#isi_wide #isi_wide_body section .first_link {
  margin-top: 25px;
}
#isi_wide #isi_wide_body section .isi_bottom_link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  float: left;
}
#isi_wide #isi_wide_body section .isi_bottom_link a {
  color: #015696;
  text-decoration: underline;
}
#isi_subpage {
  width: 805px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.286em;
  font-family: Arial, sans-serif;
}
#isi_subpage hr {
  border: 0;
  height: 0;
  margin: 0;
}
#isi_subpage hr.one7 {
  height: 17px;
}
#isi_subpage hr.eight {
  height: 8px;
}
#isi_subpage h2 {
  font-size: 1.286em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 14px;
  font-family: Arial, sans-serif;
}
#isi_subpage h3 {
  font-size: 1.143em;
  color: #065c6e;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
}
#isi_subpage #isi_wide_header {
  margin-bottom: 25px;
}
#isi_subpage #isi_wide_body section {
  margin-bottom: 25px;
}
#isi_subpage #isi_wide_body section ul {
  margin-left: 32px;
  margin-top: 9px;
}
#isi_subpage #isi_wide_body section ul li {
  margin-bottom: 13px;
}
#isi_subpage #isi_wide_body section ul ul {
  list-style: disc;
}
#isi_subpage #isi_wide_body section .first_link {
  margin-top: 25px;
}
#isi_subpage #isi_wide_body section .isi_bottom_link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  float: left;
}
#isi_subpage #isi_wide_body section .isi_bottom_link a {
  color: #015696;
  text-decoration: underline;
}
#isi_utility {
  width: 660px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.286em;
  font-family: Arial, sans-serif;
  float: left;
  padding-left: 20px;
}
#isi_utility hr {
  border: 0;
  height: 0;
  margin: 0;
}
#isi_utility hr.one7 {
  height: 17px;
}
#isi_utility hr.eight {
  height: 8px;
}
#isi_utility h2 {
  font-size: 1.786em;
  color: #015696;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  margin-bottom: 14px;
  font-weight: 100;
}
#isi_utility h3 {
  font-size: 1.143em;
  color: #181818;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: Arial, sans-serif;
}
#isi_utility #isi_wide_header {
  margin-bottom: 25px;
}
#isi_utility #isi_wide_body section {
  margin-bottom: 25px;
}
#isi_utility #isi_wide_body section ul {
  margin-left: 32px;
  margin-top: 9px;
}
#isi_utility #isi_wide_body section ul li {
  margin-bottom: 13px;
}
#isi_utility #isi_wide_body section ul ul {
  list-style: disc;
}
#isi_utility #isi_wide_body section .first_link {
  margin-top: 25px;
}
#isi_utility #isi_wide_body section .isi_bottom_link {
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  float: left;
}
#isi_utility #isi_wide_body section .isi_bottom_link a {
  color: #015696;
  text-decoration: underline;
}
#left_sidebar {
  width: 184px;
  float: left;
}
#left_sidebar ul {
  list-style: none;
  margin-left: 3px;
}
#left_sidebar ul li a {
  background-color: #d3f1f4;
  display: block;
  padding: 10px 12px;
  margin-bottom: 1px;
  font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
  text-decoration: none;
  color: #065c6e;
  font-size: 1.071em;
  line-height: 1.143em;
}
#left_sidebar ul li a.active {
  background-color: #2abac8;
  color: #ffffff;
  font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
  font-weight: 100;
}
#left_sidebar #isi_sidebar {
  margin-top: 13px;
  border: 1px solid #cccccc;
  padding: 11px 9px 11px 11px;
  font-family: Arial, sans-serif;
  font-size: 0.857em;
}
#left_sidebar #isi_sidebar h3 {
  font-family: Arial, sans-serif;
}
#left_sidebar #isi_sidebar p {
  line-height: 1.3em;
  margin-bottom: 17px;
}
#left_sidebar #isi_sidebar p a {
  color: #015696;
  font-weight: bold;
}
#left_sidebar #isi_sidebar p.no_bottom_space {
  margin-bottom: 0;
}
#left_sidebar #isi_sidebar hr {
  border: 0;
  height: 0;
  margin: 0;
}
#left_sidebar #isi_sidebar hr.one7 {
  height: 17px;
}
#left_sidebar #isi_sidebar hr.eight {
  height: 8px;
}
#left_sidebar #isi_sidebar a {
  text-decoration: underline;
}
#left_sidebar #isi_sidebar ul {
  margin: 0 0 13px 14px;
  font-family: Arial, sans-serif;
}
#left_sidebar #isi_sidebar ul.about_incivek_list li {
  margin-bottom: 20px;
}
#left_sidebar #isi_sidebar ul.about_incivek_list li:last-child {
  margin-bottom: 0;
}
#left_sidebar #isi_sidebar ul li {
  list-style-type: disc;
  margin-bottom: 5px;
  position: relative;
  line-height: 1.3em;
}
#left_sidebar #isi_sidebar ul li p {
  margin-bottom: 9px;
}
#left_sidebar #isi_sidebar ul.progress_hep_c {
  margin-top: 24px;
}
#subpage_right_sidebar {
  float: left;
  width: 308px;
  margin: 38px 0 0 22px;
}
#subpage_right_sidebar sup {
  font-size: 0.929em;
  margin-left: -5px;
  margin-top: 0;
}
#subpage_right_sidebar .subpage_right_sidebar_box {
  min-height: 103px;
  margin-bottom: 2px;
  padding: 16px 0 0 15px;
  color: #ffffff;
  position: relative;
}
#subpage_right_sidebar .subpage_right_sidebar_box h3 {
  color: #c3d021;
  font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0 30px 8px 0;
}
#subpage_right_sidebar .subpage_right_sidebar_box p {
  font-size: 0.929em;
  margin-right: 30px;
  line-height: 1.1em;
}
#subpage_right_sidebar .subpage_right_sidebar_box a {
  font-size: 0.857em;
  position: absolute;
  bottom: 10px;
  right: 50px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
#subpage_right_sidebar .subpage_right_sidebar_box a:after {
  width: 18px;
  height: 16px;
  display: inline-block;
  content: '';
  background: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -52px;
  position: absolute;
  right: -22px;
  top: -1px;
}
#subpage_right_sidebar .subpage_right_sidebar_box.box_0 {
  background: #015696 url(../images/subpage_images/right_sidebar_bg.png) 100% 0 no-repeat;
}
#subpage_right_sidebar .subpage_right_sidebar_box.box_1 {
  background: #015696 url(../images/subpage_images/right_sidebar_bg.png) 100% -120px no-repeat;
}
#subpage_right_sidebar .subpage_right_sidebar_box.box_2 {
  background: #015696 url(../images/subpage_images/right_sidebar_bg.png) 100% -240px no-repeat;
}
#subpage_right_sidebar .rightbar_fineprint {
  margin-left: 6px;
  margin-top: 12px;
  position: relative;
  font-size: 0.929em;
  color: #676767;
}
#subpage_right_sidebar .rightbar_fineprint span {
  position: absolute;
  left: -6px;
}
footer {
  padding: 10px 0;
  border-top: 30px solid #c3d021;
  width: 1024px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
footer .copy {
  background: url(../images/vertex.jpg) no-repeat 0% 0%;
  height: 100px;
  padding-left: 140px;
  margin: 40px 0 0 30px;
}
footer ul {
  list-style-type: none;
  text-align: center;
  margin: 10px;
}
footer ul li {
  display: inline;
}
footer ul li a {
  text-decoration: none;
  color: #065c6e;
  padding: 19px 17px;
  font-weight: bold;
}
footer ul li:after {
  content: "|";
  font-weight: bold;
}
footer ul li:last-child:after {
  content: none;
  content: "";
}
footer p {
  line-height: 1.2em;
}
