/*---------------------------------------

Incivek Style Sheet

Table of contents
0.0  Clear Styles
0.1  Variables 
0.2  Less Mixins

--------------------------------------*/


//    0.0   Clear Styles       //
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}


//    0.1   Variables & Colors       //
@white: #ffffff;
@black: #000000;
@green_0: #c3d021;
@green_1: #8f9e00;
@blue_0: #80d0d8;
@blue_1: #00a1b1;
@blue_2: #015696;
@blue_3: #001a2e;
@blue_headers: #065c6e;
@grey_0: #e0e2e3;
@grey_1: #909090;
@search_grey: #e8ebec;
@copy_grey: #676767;
@grey_border: #cccccc;
@subpage_copy: #181818;
@teal_0: #d3f1f4;
@teal_1: #2abac8;
@teal_2: #065c6e; 
@teal_3: #ebf2f4;
@teal_4: #009faf;
@subpage_table_divider_color: #bcd3e1;
@main_label_copy: #333333;
@accoridan_divider: #a8c5db;


//    0.2   Fonts       //
.neue_light() {
    font-family:'HelveticaNeueW01-47LtCn 692686', Arial, sans-serif;
}
.neue() {
    font-family: 'HelveticaNeueW01-57Cn', Arial, sans-serif;
}
.neue_med() {
    font-family: 'HelveticaNeueW01-67MdCn 692710', Arial, sans-serif;
}
.neue_bold() {
    font-family: 'HelveticaNeueW01-77BdCn 692722', Arial, sans-serif;
}
.arial(){
    font-family: Arial, sans-serif;
} 

//    0.3   Global Styles       //
body{.neue(); font-size: 14px; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;}
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.left{float: left;}
.right{float: right;}
sup,sub{font-size: 60%; display: inline-block; vertical-align: text-top; margin-top: -2px;}
//Hack
#mti_wfs_colophon{display: none !important;}

// 0.3.5 Modal Popup //
#overlay_modal{background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; z-index: 999999; display: none; position: fixed;
    .modal_container{width: 500px; height: 281px; background: @white; position: absolute; left: 50%; top: 166px; margin-left: -250px; display: block; padding: 35px 26px;
        &:after{
            width: 45px;
            height: 352px;
            display: inline-block;
            content: '';
            background: url("../images/modal_bg.png");
            background-repeat: no-repeat;
            background-position: 0 0;
            position: absolute;
            right: -45px;
            top: 0;
        }
        h2{font-size: 1.714em; text-align: left; .neue_bold(); font-weight: 100; margin-top: 60px; color: @blue_2;}
        p{text-align: left; margin: 13px 0 37px 0; .neue_light(); font-weight: 100; font-size: 1.286em;}
        span{font-size: 1.3em;}
        .modal_links{border-top: 6px solid @green_0; padding-top: 4px;
            span{cursor: pointer; color: @blue_2; font-size: 1.143em; .neue_bold(); font-weight: 100; height: 35px; position: relative; margin-top: 5px;}
        }
        .back_link{float: left; margin-left: 25px;
            &:before{
                width: 18px;
                height: 16px;
                display: inline-block;
                content: '';
                background: url(../images/icon_sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -130px;
                position: absolute;
                left: -22px;
            }
        }
        .cont_link{float: right; margin-right: 25px;
            &:after{
                width: 18px;
                height: 16px;
                display: inline-block;
                content: '';
                background: url(../images/icon_sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -52px;
                position: absolute;
                right: -22px;
                top: 0;
            }
        }
    }
}

// 0.4 Homepage  //
#homepage_container{ margin: 0 auto; width: 976px;
    .homepage_warning{position: relative; margin: 8px 0; color: @copy_grey; font-size: 1.071em; line-height: 1.143em; .neue_bold();}
    #homepage_banner{position: relative;
        .banner_overlay{background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.6); width: 964px; left: 50%; margin-left: -482px; display: block; position: absolute; z-index: 1; top: 293px; text-align: left; color: @white;
            h2{font-size: 2.286em; font-weight: 100; margin: 20px 18px 12px; .neue_light();
                span{color: @green_0; font-weight: 100; .neue_bold();}
            }
            .banner_copy{font-size: 1.143em; margin: 0 0 12px 20px; .neue_light(); font-weight: 100;
                span{.neue_med();}
            }
            .banner_fineprint{font-size: 0.857em; margin: 0 0 10px 20px; .arial();}
        }
        ul{list-style: none; z-index: 0;
            li{float: left; width: 326px; margin: 3px 3px 0 0;
                &:nth-child(2){width: 318px;}
                &:last-child{margin: 3px 0 3px 0;}
                div{background-color: @blue_2; height: 101px; padding: 17px 19px 3px 27px; color: @white; font-size: 0.929em; position: relative;
                    h3{color: @green_0; font-size: 1.214em; text-transform: uppercase; margin-bottom: 9px; .neue_bold(); font-weight: 100;}
                    p{.neue_med(); font-size: 1em; font-weight: 100; line-height: 1.3em;}
                    a{font-size: 0.857em; float: right; line-height: 16px; text-transform: uppercase; position: absolute; right: 35px; bottom: 8px; cursor: pointer; color: @white; text-decoration: none;
                        &:after{
                            width: 18px;
                            height: 16px;
                            display: inline-block;
                            content: '';
                            background: url(../images/icon_sprite.png);
                            background-repeat: no-repeat;
                            background-position: 0 -52px;
                            position: absolute;
                            right: -22px;
                        }
                    }
                }
                .first_banner_info{ background: @blue_2 url(../images/hp_banner_info_left.png); background-repeat: repeat-y; background-position: -5px 0;}
                .last_banner_info{ background: @blue_2 url(../images/hp_banner_info_right.png); background-repeat: repeat-y; background-position: 100% 0;}
            }
        }
    }
    .homepage_footnote,.homepage_footnote_small{font-size: 1em; .arial(); position: relative; margin-left: 10px; line-height: 1.214em;
        span{position: absolute; margin: 0 0 0 -6px;}
    }
    .homepage_footnote{font-size: 1em; margin-bottom: 9px; margin-top: 10px;}
    .homepage_footnote_small{color: fade(@black, 60%); font-size: 0.857em; margin-bottom: 24px;}
}

// 0.5 Subpage //
#subpage_wrapper{width: 1024px; margin: 0 auto; padding-left: 15px;
    h1{margin-bottom: 15px; font-size: 1.786em; color: @blue_2; font-weight: normal; .neue_bold();}
    h2{margin-bottom: 13px; font-size: 1.643em; font-weight: normal; color: @teal_4; .neue_light();}
    h3{margin-bottom: 10px; font-size: 1.071em; color: @teal_2;}
    h4{margin: 0; font-size: 1.071em; color: @green_0;}

    .main_label{position: relative; margin: 8px 0 17px 20px; font-size: 1.071em; line-height: 1.143em; .neue_bold(); letter-spacing: 0.03em; color: @main_label_copy;}

    #subpage_content{margin-left: 22px; float: left; margin-top: 7px;
        #main_content{width: 476px; float: left; color: @subpage_copy; margin-bottom: 44px;
            p{line-height: 1.3em; margin-bottom: 15px; letter-spacing: -0.01em;
                &.no_bottom_space{margin-bottom: 0;}
                &.onefive{margin-bottom: 15px;}
            }
            p,ul,ol{font-size: 13px; .arial();}
            img.progress_hep_c_img{margin-bottom: 0;}
            img.copy_top {margin: 0 0 17px -10px;}
            .blue_bold{font-weight: bold; color: @blue_2; text-decoration: none;}
            .blue{color: @blue_2; text-decoration: none;}
            ul{margin: 9px 0 24px 15px; .arial();
                &.about_incivek_list{
                    li{margin-bottom: 20px;
                        &:last-child{margin-bottom: 0;}
                    }
                }
                li{list-style-type: none; padding-left: 21px; margin-bottom: 5px; position: relative; line-height: 1.286em;
                    &:before{
                        width: 18px;
                        height: 10px;
                        display: inline-block;
                        content: '';
                        background: url(../images/icon_sprite.png);
                        background-repeat: no-repeat;
                        background-position: 0 -69px;
                        position: absolute;
                        left: 0px;
                        top: 3px;
                    }
                    ul{margin: 9px 0 10px 15px; font-size: 13px;
                        li{padding-left: 10px;
                            &:before{
                                display: inline-block;
                                content: '-';
                                position: absolute;
                                left: 0;
                                top: 0;
                                color: @teal_4;
                                background-image: none;
                            }
                        }
                    }
                    p{margin-bottom: 9px;}
                }
                &.progress_hep_c{margin-top: 24px;}
            }
            ol.numbered_list{margin-left: 18px; font-size: 13px;
                li{margin-bottom: 24px; .arial(); line-height: 1.3em; font-weight: bold;
                    &:last-child{margin-bottom: 0;}
                }
                ul{margin-left: 0; margin-top: 0;
                    li{margin-bottom: 5px; font-weight: normal;
                        ul{margin: 9px 0 10px 15px;
                            li{padding-left: 10px;
                                &:before{
                                    display: inline-block;
                                    content: '-';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    color: @teal_4;
                                    background-image: none;
                                }
                            }
                        }
                    }
                }
            }
            .callout{background-color: @teal_0; display: block; position: relative;
                &.did_you_know{padding-left: 77px; margin: 23px 0 19px 0;
                    p{margin: 0; padding-bottom: 16px;
                        b{font-weight: bold; color: @blue_2;}
                    }
                    span.callout_img{background-position: 0 0; top: 13px; left: 10px;}
                }
                &.test_schedule{padding: 15px; margin-bottom: 32px;
                    p{margin: 0; padding-bottom: 0;
                        b{font-weight: bold; color: @blue_2;}
                    }
                }
                &.side_effects{padding: 15px 6px 7px 77px; margin-bottom: 23px;
                    p{font-size: 1.143em; .neue(); color: @blue_2; font-weight: 100; margin-bottom: 8px;
                        .callout_number{font-size: 1.286em; .neue_bold();}
                    }
                    .callout_fineprint{font-size: 0.77em; .arial(); font-weight: 100;}
                    span.callout_img{background-position: 0 -49px; top: 12px; left: 10px;}
                }
                &.tips_for_taking{padding: 10px 6px 9px 77px; margin: 27px 0 16px 0; 
                    span.callout_img{background-position: 0 -97px; top: 10px; left: 10px;}
                    ul{margin-bottom: 0;}
                }
                span.callout_img{background: url(../images/subpage_images/subpage_icon_sprite.png); background-repeat: no-repeat; width: 55px; height: 48px; 
                    display: block; position: absolute;}
                h2{padding-top: 17px; .neue(); color: @blue_2; font-size: 1.643em; margin-bottom: 7px;}
            }
            table{ border: 3px solid @teal_3;
                &.how_hep_c_spread{margin: 16px 0 30px 0;}
                th{background-color: @teal_1; color: @white; font-size: 1.345em; font-weight: 100; .neue(); padding: 15px 0 10px; border: 1px solid @teal_3;  
                    span.table_header_big{font-size: 1.794em; font-weight: 100; text-align: center; .neue_bold();}
                }
                td{width: 235px;padding: 9px 11px; line-height: 1.071em; font-size: 0.929em; .arial(); color: @subpage_copy;
                    &.subpage_table_divider{border-right: 1px solid @subpage_table_divider_color;}
                }
                tr.table_title{
                    td{font-size: 0.964em; .neue_bold(); font-weight: 100; color: @white;}
                }
                tr:nth-child(odd) {background-color: @teal_3;}
                tr:first-child{
                    background-color: @blue_2; 
                    color: @white;
                    .neue();
                    font-weight: bold;
                    text-align: center;
                    height: 32px;
                    text-transform: uppercase;
                    td{padding-top: 12px;}
                }
            }
            .tiny_fine_print{.arial(); font-size: 0.786em; color: @copy_grey; margin-bottom: 15px; display: block;}
            .about_incivek_content_split{
                div{float: left; width: 290px;}
                img{float: right; width: 185px; margin-top: 26px;}
            }
            .subpage_tabs_container{background-color: @teal_3; padding: 3px; margin-bottom: 18px;
                ul.tabs{margin: 0; background: @blue_2; border-bottom: 8px solid @teal_1; width: 100%;
                    li{display: inline-block; padding: 0; margin: 0; text-align: center; float: left; display: table;
                        &:first-child{overflow: hidden;
                            a.active{
                                &:before{background: none;}
                            }
                        }
                        &:before{background: none; display: none;}
                        a{text-transform: uppercase; color: @white; .neue_med(); font-size: 0.929em; font-weight: 100; height: 58px; display: block; vertical-align: middle; position: 
                            relative; z-index: 999; padding: 0 7px 0 0; display: table-cell; text-decoration: none; line-height: 1.2em;
                            background: url(../images/subpage_images/tab_arrow_selected_bg.png) 100% 0 no-repeat; position: relative; z-index: 1;
                            span.after_arrow{.neue_light(); font-size: 1.4em;}
                            &.active{background: @teal_1 url(../images/subpage_images/tab_arrow_bg.png) 100% 0 no-repeat; z-index: 0; position: relative; display: table-cell; height: 58px; 
                                margin-left: -10px; 
                                &:before{
                                    width: 20px;
                                    height: 58px;
                                    display: block;
                                    content: '';
                                    background: @teal_1;
                                    position: absolute;
                                    left: -14px;
                                    top: 0;
                                }
                            }
                        }
                        &:last-child{ 
                            a{background: @blue_2;
                                &.active{background: @teal_1;}
                            }
                        }
                    }
                    &.how_work_tab{
                        li{width: 33.3%;}
                    }
                    &.chance_cure_tab{
                        li{width: 25%;}
                    }
                }
                &>div{padding: 20px 20px 10px 20px; position: relative;}
                div{position: relative;
                    .helvetica_neue_reg{.neue();}
                    .helvetica_neue_bold{.neue_bold();}
                    img{width: auto; margin: 0;
                        &.timeline_img{margin: 9px 0 20px 0;}
                    }
                    &.triple_closeup{background: url(../images/subpage_images/triple_closeup.png) 256px 100px no-repeat; height: 430px;}
                    .how_work_tab_spacing{margin-top: 140px;}
                    h4{margin-bottom: 25px; color: @blue_2; font-size: 1.286em; font-weight: 100; .neue();}
                    .cure_tab_container{position: relative;}
                    .cure_tab_scale{margin-right: 30px;}
                    .cure_tab_bar_content{width: 330px; position: absolute; bottom: 0; left: 85px;
                        .tab_p_absolute{position: absolute; bottom: 300px;}
                    }
                }
            }
            #lab_test_schedule_container{margin-bottom: 45px;
                .viral_load_test_container{padding-left: 70px; position: relative;
                    &:before{
                        width: 61px;
                        height: 61px;
                        display: inline-block;
                        content: '';
                        background: url(../images/subpage_images/viral_load_text_schedule.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 0;
                        top: 4px;
                    }
                    &.test_0{
                        &:before{background-position: 0 0;}
                    }
                    &.test_1{
                        &:before{background-position: 0 -62px;}
                    }
                    &.test_2{
                        &:before{background-position: 0 -124px;}
                    }
                    &.test_3{
                        &:before{background-position: 0 -186px;}
                    }
                    &.test_4{
                        &:before{background-position: 0 -248px;}
                    }
                }
            }
            .tab_cta{border-top: 6px solid @blue_2; width: 100%; position: relative;
                a{background: url(../images/subpage_images/link_banner_bg.png) 0 0 no-repeat; background-color: @blue_2; height: 29px; line-height: 24px; float: right; 
                    color: @white; font-size: 1.143em; padding: 0 30px; .neue(); font-weight: 100; text-decoration: none;
                    span{text-transform: uppercase; .neue_bold(); color: @green_0; font-weight: 100;}
                    &:after{
                        width: 18px;
                        height: 16px;
                        display: inline-block;
                        content: '';
                        background: url(../images/icon_sprite.png);
                        background-repeat: no-repeat;
                        background-position: 0 -52px;
                        position: absolute;
                        right: 7px;
                        top: 4px;
                    }
                }
            }
            #patient_exp_slider{margin: 0 0 21px 0;
                .mask{width:100%; height:440px; overflow:hidden;
                    ul.images {position:relative; height:440px; margin: 0;  
                        li{float:left; position:relative; padding: 0;
                            &:after,&:before{background: none; display: none;}
                            img{margin: 0;}
                        }
                    }
                }
                ul.triggers{width: 100%; margin: 2px 0 0 0;
                    li{float:left; margin:0 3px 0 0; cursor: pointer; padding: 0; position: relative; line-height: 0; 
                        &:last-child{margin: 0;}
                        &:before {  
                            content: "";  
                            display: block;  
                            position: absolute;  
                            top: 0;  
                            bottom: 0;  
                            left: 0;  
                            right: 0;  
                            background: rgba(0,0,0, 0.5);  
                            -moz-transition: background .3s linear;  
                            -webkit-transition: background .3s linear;  
                            -o-transition: background .3s linear;  
                            transition: background .3s linear;
                            width: 100%;
                            height: 100%;  
                        } 
                        &.selected{ 
                            &:before {  
                                background: none;  
                            }  
                        }
                        &:after{background: none; display: none;}
                        img{width: 100%; margin: 0;}
                    }
                }
            }
            //Accordian
            #accordian{ margin-bottom: 20px;
                dl{border-bottom:1px solid @accoridan_divider;}
                dt{padding:17px 19px 17px 0; cursor:pointer; border-top:1px solid @accoridan_divider; font-size: 1.214em; .neue(); font-weight: 100; color: @teal_4; position: relative;
                    &:after{
                        width: 27px;
                        height: 24px;
                        display: inline-block;
                        content: '';
                        background: url(../images/icon_sprite.png);
                        background-repeat: no-repeat;
                        background-position: 0 -80px;
                        position: absolute;
                        right: 5px;
                        top: 14px;
                    }
                    &:last-child{border-top:1px solid @accoridan_divider; border-bottom: 1px solid @accoridan_divider; }
                    &.active{
                        &:after{
                            background-position: 0 -105px;
                        }
                    }
                }
                dd{margin: -4px 10px 0 0; .arial();
                    p{margin-bottom: 15px;
                        &.no_bottom_space{margin: 0;}
                    }
                    ul{margin-bottom: 9px;}
                }
                .hide{display:none;}
                .accordian_control{text-align: right; 
                    span{cursor: pointer;}
                }
                h3{color: @blue_2; font-size: 1em;}
            }

            //GPS Page
            .support_title_p{
                p{width: 270px}
                img{margin: 0 20px 17px 0}
            }
            .footnote{.arial(); font-size: 0.786em; margin: 20px 0 26px 0; display: block;
                sub{margin-right: -2px;}
            }
            #accordian{
                &.gps_accordian{
                    dl{margin-left: 46px;}
                    dt{padding:15px 0 15px 15px;
                        &.financial{
                            &:before{background-position: 0 -148px;}
                        }
                        &.nurse{
                            sub{margin-left: -3px;}
                            &:before{background-position: 0 -51px;}
                        }
                        &.emergency_supply{
                            &:before{background-position: 0 -198px;}
                        }
                        &:before{
                            width: 56px;
                            height: 48px;
                            display: inline-block;
                            content: '';
                            background: url(../images/subpage_images/subpage_icon_sprite.png);
                            background-repeat: no-repeat;
                            position: absolute;
                            left: -50px;
                            top: 3px;
                        }
                    }
                    dd{padding-left: 15px;}
                }
            }
            //Materials Page
            .ed_material_instance{position: relative; border-bottom: 1px solid @accoridan_divider;
                h2{.neue_light;}
                img{width: auto; margin: 10px 0 0 0; max-width: 95px;}
                div{width: 360px; margin: 15px 0 0 20px;}
                .material_download{float: right; margin: 0 6px 17px 0; .arial(); font-size: 0.929em;}
                ul{margin: 9px 0 16px 15px;}
                .material_download_lang{margin: 0 0 10px 0;
                    ul{text-align: left; float: left; margin: 0 60px 0 0;
                        li{padding: 0;
                            &:before{display: none;}
                            a{float: none;}
                        }
                    }
                }
            }
            //Online Resources Page
            .online_resource_instance{
                .online_title,a{.arial(); display: block;}
                .online_title{font-weight: bold;}
                a{line-height: 1.3em;}
            }
            //Dosage Calculator
            #dosage_calc{
                .calc_header{background: @blue_2; color: @white;
                    .head_dose_1{display: inline-block; width: 161px; text-align: center; margin: 12px 0;}
                    .head_dose_2{display: inline-block; width: 310px; text-align: center; margin: 12px 0;}
                }
                #time_picker{background: @teal_1; padding: 6px; float: left; border-right: 2px solid @white; border-top: 1px solid @white;
                    .divider{color: @white; .neue_bold; font-size: 2.143em; margin: 10px 5px 0;}
                    .digit{background: @white; display: block; .neue(); font-size: 2.143em; color: @grey_1; width: 42px; height: 37px; text-align: center; line-height: 42px; }
                    .min{margin-right: 4px;}
                    &>div{
                        float: left;
                    }
                    .arrowUp {
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid @green_0;
                        cursor: pointer;
                        display: block;
                        margin: 0 auto 3px;
                    }
                    .arrowDown {
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid @green_0;
                        cursor: pointer;
                        display: block;
                        margin: 3px auto 0;
                    }
                    .am, .pm {display: none;}
                    .format.format-am .am {display: block;}
                    .format.format-pm .pm {display: block;}
                }
                #time_range{float: right; background: @teal_1; width: 314px; height: 65px; color: @white; .neue(); font-size: 2.143em; text-align: center; border-top: 1px solid @white;
                    div{float: left; padding-top: 20px;}
                    .from{padding: 20px 0 0 40px;}
                    .divider{margin: 0 8px;}
                }
                .calc_print{margin: 13px 25px 28px 0; text-align: right; .neue_med(); font-weight: 100; font-size: 1.071em; color: @blue_2; position: relative; text-transform: uppercase; display: inline-block; float: right; 
                    &:after{
                        width: 18px;
                        height: 16px;
                        display: inline-block;
                        content: '';
                        background: url(../images/icon_sprite.png);
                        background-repeat: no-repeat;
                        background-position: 0 -52px;
                        position: absolute;
                        right: -25px;
                        top: 0;
                    }
                    &:before{
                        width: 20px;
                        height: 16px;
                        display: inline-block;
                        content: '';
                        background: url(../images/icon_sprite.png);
                        background-repeat: no-repeat;
                        background-position: 0 -19px;
                        position: absolute;
                        left: -25px;
                        top: 0;
                    }
                }
            }
        }
    } 
}

/*-------------------------------------
        0.6 Utility Page
---------------------------------------*/
#utility_wrapper{width: 1024px; margin: 0 auto;
    .blue_bold{font-weight: bold; color: @blue_2;}
    .main_label{position: relative; margin: 8px 0 17px 20px; font-size: 1.071em; line-height: 1.143em; .neue_bold(); letter-spacing: 0.03em; color: @main_label_copy;}
    h2{color: @blue_2; .neue_bold(); font-weight: 100; font-size: 1.786em; margin-bottom: 14px;}
    #contact_utility{width: 660px; margin: 0 auto; float: left; padding-left: 20px;
        h2{font-size: 1.786em; color: @blue_2; .neue_bold(); margin-bottom: 14px; font-weight: 100;}
        h3{font-size: 1.643em; color: @teal_4; font-weight: 100; margin-bottom: 12px; .neue_light();}
        p{font-size: 1em; line-height: 1.286em; .arial();}
        a{color: @blue_2; text-decoration: none;}
        .contact_phone{.arial(); font-weight: bold; font-size: 1.286em; color: @blue_2; display: block; margin: 10px 0;}
        #isi_wide_body{
            section{margin-bottom: 25px;
                ul{margin-left: 32px; margin-top: 9px;
                    li{margin-bottom: 13px;}
                    ul{list-style: disc;}
                }
                .first_link{margin-top: 25px;}
                .isi_bottom_link{.arial(); font-weight: bold; margin-bottom: 14px; float: left;
                    a{color: @blue_2; text-decoration: underline;}
                }
            }
        }
        .callout{background-color: @teal_0; display: block; position: relative; padding: 15px 0 15px 90px; margin: 25px 0 18px 0; height: 58px; width: 387px;
            span.callout_img{background: url(../images/subpage_images/subpage_icon_sprite.png); background-repeat: no-repeat; width: 55px; height: 48px; background-position: 0px -147px;
                display: block; position: absolute; left: 15px; top: 15px;}
            h2{padding-top: 17px; .neue(); color: @blue_2; font-size: 1.643em; margin-bottom: 7px;}
            h4{.neue(); font-size: 1.500em; color: @blue_2; margin-bottom: 6px; font-weight: 100;}
            span.blue_bold{font-weight: bold; color: @blue_2;}
        }
        //sitemap styles
        .links{margin-bottom: 20px;
            ul{margin-left: 15px; margin-top: 10px;
                li{margin-bottom: 5px;
                    &:last-child{margin-bottom: 0;}
                }
            }
            a{.arial(); font-size: 1em;
                &:hover{text-decoration: underline;}
            }
        }
        form{margin: 10px 0; .arial();
            input[type=text]{padding: 10px; width: 200px; border: 1 px solid @search_grey; margin: 0;}
            input[type=submit]{width: 50px; height: auto; background-color: @search_grey; border: 0; height: 33px; cursor: pointer;}
        }
        .search_return{margin: 30px 0;
            a{.arial(); font-weight: 100; color: @blue_2; text-decoration: underline; margin-bottom: 5px;}
        }
    }
    #isi_wide{width: 976px; margin: 0 auto; .arial(); font-size: 1em; line-height: 1.286em; margin-top: 82px;
        hr{border:0; height: 0; margin: 0;
            &.one7{height: 17px;}
            &.eight{height: 8px;}
        }
        h2{font-size: 1.286em; color: @blue_headers; font-weight: bold; margin-bottom: 14px; .arial();}
        h3{font-size: 1.143em; color: @blue_headers; font-weight: bold; margin-bottom: 12px; .arial();}
        #isi_wide_header{
            margin-bottom: 25px;}
        #isi_wide_body{
            section{margin-bottom: 25px;
                ul{margin-left: 32px; margin-top: 9px;
                    li{margin-bottom: 13px;}
                    ul{list-style: disc;}
                }
                .first_link{margin-top: 25px;}
                .isi_bottom_link{.arial(); font-weight: bold; margin-bottom: 14px; float: left;
                    a{color: @blue_2; text-decoration: underline;}
                }
            }
        }
    }
}

/*-------------------------------------
        0.6 Includes
---------------------------------------*/
//    Header      //
header{
    #sub_nav{width: 1023px; margin: 0 auto;
        .providers{width: 215px; background: @grey_0 url(../images/sub_nav_grey.png); background-repeat: no-repeat; background-position: 100% 0; height: 28px; padding-left: 22px; float: left;
            span{width: auto; display: inline-block; padding: 10px 0; font-size: 0.929em; text-transform: uppercase; position: relative;
                &:before{
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    content: '';
                    background: url(../images/icon_sprite.png);
                    background-repeat: no-repeat;
                    left:0;
                    top:5px;
                    position: absolute;
                }
                a{color: @blue_3; display: inline-block; margin-left: 25px;}
            }
        }
        .sub_nav{display: inline; float: right;
            ul{font-size: 0.929em; float: left; margin-top: 10px;
                li{display: inline; border-right: 1px solid; padding: 0 8px 0 6px;
                    &:first-child{padding: 0 8px 0 0;}
                    &:last-child{border:0; padding: 0 0 0 8px;}
                    a{color: @blue_3;}
                }
            }
            .nav_printer{display: inline-block; width: 20px; height: 16px; background: url(../images/icon_sprite.png) no-repeat; background-position: 0px -19px; margin: 9px 9px 0 9px; float: left;}
            .search_container{float: right; position: relative; background: @search_grey; margin-top: 4px;
                input.search_field{background: transparent; border: 0; line-height: 27px; height: 27px; margin-left: 32px; padding: 0;}
                input[type="submit"]{background: none; border: 0; background: url(../images/icon_sprite.png) no-repeat; background-position: 0px -36px; width: 18px; height: 15px; position: absolute; top: 0; 
                    left: 0; margin: 7px 0 0 7px; cursor: pointer;} 
            }
        }
        &:after{content: ''; display: block; height: 0; clear: both; visibility: hidden;}
    }
    .header_info{width: 1023px; margin: 0 auto; padding-top: 15px;
        .logo{float: left;}
        .copy{float: right; width: 705px;
            p{line-height: 1em; font-size: 0.94em; text-align: justify; font-weight: 100; .neue_bold(); color: @main_label_copy;
                span{color: @blue_2;}
            }
            a{color: @blue_2; text-align: right; float: right; margin-top: 0.214em; text-decoration: none;
                &:after{content: ''; display: block; height: 0; clear: both; visibility: hidden;}
            }
        }
    }
    #main_nav{width: 1024px; margin: 10px auto 0; height: 26px; border-bottom: 5px solid @green_0; font-size: 0.96em;
        span{margin-left: 27px; line-height: 27px;}
        ul{float: right; text-transform: uppercase; background: @green_0 url(../images/nav_grey_green.png); background-repeat: no-repeat; background-position: 0 0; height: 19px; padding-top: 7px; 
            li{float: left; border-right: 1px solid; padding: 2px 19px; font-size: 0.95em; position: relative; text-align: center;
                a{text-decoration: none; color: @blue_3; padding-bottom: 8px;
                    &.active{.neue_bold(); font-weight: 100;}
                }
                &:first-child{padding-left: 30px; width: 100px;}
                &:nth-child(2){width: 80px;
                    ul{width: 185px;}
                }
                &:nth-child(3){width: 116px;}
                &:last-child{width: 208px; padding: 2px 20px 2px 19px; border-right: 0;
                    ul{min-width: 250px;}
                }
                ul{
                    background: @green_0;
                    color: @blue_3;
                    display: none;
                    margin: 9px 0 0 0;
                    min-width: 174px;
                    position: absolute;
                    border: 4px solid @green_0;
                    right: 0;
                    height: auto;
                    z-index: 9999;
                    padding: 0;
                    li{width: 100% !important; border:none; padding: 0px;
                        &:first-child{padding: 0px;}
                        &:last-child{padding: 0px;}
                        a{
                            background: none;
                            border: none;
                            line-height: 33px;
                            margin: 0;
                            padding: 0 14px 0 0;
                            display: block;
                            &:hover{ background: @white; .neue(); font-weight: 100; padding: 0 14px 0 0;}
                            text-align: right;
                            font-size: 0.983em;
                            &.active{background: @white; .neue(); font-weight: 100; padding: 0 14px 0 0;}
                        }
                        /* Third level menu */
                        ul{
                            right: -200px; top: 0;
                        }

                    }
                }
                /* A class of current will be added via jQuery */
                &.current > a {font-weight: 100;}
                &:hover > ul.child {display: block;}
                &:hover > a{.neue_bold(); font-weight: 100;}
                &:hover > ul.grandchild  {display: block;}
            }
        }
    }
}

//    ISI Wide    //
#isi_wide{width: 976px; margin: 0 auto; .arial(); font-size: 1em; line-height: 1.286em;
    hr{border:0; height: 0; margin: 0;
        &.one7{height: 17px;}
        &.eight{height: 8px;}
    }
    h2{font-size: 1.286em; color: @blue_headers; font-weight: bold; margin-bottom: 14px;}
    h3{font-size: 1.143em; color: @blue_headers; font-weight: bold; margin-bottom: 12px;}
    #isi_wide_header{
        margin-bottom: 25px;}
    #isi_wide_body{
        section{margin-bottom: 25px;
            ul{margin-left: 32px; margin-top: 9px;
                li{margin-bottom: 13px;}
                ul{list-style: disc;}
            }
            .first_link{margin-top: 25px;}
            .isi_bottom_link{.arial(); font-weight: bold; margin-bottom: 14px; float: left;
                a{color: @blue_2; text-decoration: underline;}
            }
        }
    }
}

//    ISI Subpage Wide    //
#isi_subpage{width: 805px; margin: 0 auto; .arial(); font-size: 1em; line-height: 1.286em; .arial();
    hr{border:0; height: 0; margin: 0;
        &.one7{height: 17px;}
        &.eight{height: 8px;}
    }
    h2{font-size: 1.286em; color: @blue_headers; font-weight: bold; margin-bottom: 14px; .arial();}
    h3{font-size: 1.143em; color: @blue_headers; font-weight: bold; margin-bottom: 12px; .arial();}
    #isi_wide_header{
        margin-bottom: 25px;}
    #isi_wide_body{
        section{margin-bottom: 25px;
            ul{margin-left: 32px; margin-top: 9px;
                li{margin-bottom: 13px;}
                ul{list-style: disc;}
            }
            .first_link{margin-top: 25px;}
            .isi_bottom_link{.arial(); font-weight: bold; margin-bottom: 14px; float: left;
                a{color: @blue_2; text-decoration: underline;}
            }
        }
    }
}

//    ISI Utility Page    //
#isi_utility{width: 660px; margin: 0 auto; .arial(); font-size: 1em; line-height: 1.286em; .arial(); float: left; padding-left: 20px;
    hr{border:0; height: 0; margin: 0;
        &.one7{height: 17px;}
        &.eight{height: 8px;}
    }
    h2{font-size: 1.786em; color: @blue_2; .neue_bold(); margin-bottom: 14px; font-weight: 100;}
    h3{font-size: 1.143em; color: @subpage_copy; font-weight: bold; margin-bottom: 12px; .arial();}
    #isi_wide_header{
        margin-bottom: 25px;}
    #isi_wide_body{
        section{margin-bottom: 25px;
            ul{margin-left: 32px; margin-top: 9px;
                li{margin-bottom: 13px;}
                ul{list-style: disc;}
            }
            .first_link{margin-top: 25px;}
            .isi_bottom_link{.arial(); font-weight: bold; margin-bottom: 14px; float: left;
                a{color: @blue_2; text-decoration: underline;}
            }
        }
    }
}

//    Left Sidebar    //
#left_sidebar{width: 184px; float: left; 
    ul {list-style: none; margin-left: 3px;
        li a{background-color: @teal_0; display: block; padding: 10px 12px; margin-bottom: 1px; .neue(); text-decoration: none; color: @teal_2; font-size: 1.071em; line-height: 1.143em;
            &.active{background-color: @teal_1; color: @white; .neue_bold(); font-weight: 100;}
        }
    }
    #isi_sidebar{margin-top: 13px; border: 1px solid @grey_border; padding: 11px 9px 11px 11px; .arial(); font-size: 0.857em;
        h3{.arial();}
        p{line-height: 1.3em; margin-bottom: 17px;
            a{color: @blue_2; font-weight: bold;}
            &.no_bottom_space{margin-bottom: 0;}
        }
        hr{border:0; height: 0; margin: 0;
            &.one7{height: 17px;}
            &.eight{height: 8px;}
        }
        a{text-decoration: underline;}
        ul{margin: 0 0 13px 14px; .arial();
            &.about_incivek_list{
                li{margin-bottom: 20px;
                    &:last-child{margin-bottom: 0;}
                }
            }
            li{list-style-type: disc; margin-bottom: 5px; position: relative; line-height: 1.3em;
                p{margin-bottom: 9px;}
            }
            &.progress_hep_c{margin-top: 24px;}
        }
    }
}

//    Right Sidebar    //
#subpage_right_sidebar{
    float: left;
    width: 308px;
    margin: 38px 0 0 22px;
    sup{font-size: 0.929em; margin-left: -5px; margin-top: 0;}
    .subpage_right_sidebar_box{
        min-height: 103px;
        margin-bottom: 2px;
        padding: 16px 0 0 15px;
        color: @white;
        position: relative;
        h3{color: @green_0; .neue_med(); font-size: 1.1em; font-weight: 100; text-transform: uppercase; margin: 0 30px 8px 0;}
        p{font-size: 0.929em; margin-right: 30px; line-height: 1.1em;}
        a{font-size: 0.857em; position: absolute; bottom: 10px; right: 50px; text-transform: uppercase; color: @white; text-decoration: none;
            &:after{
                width: 18px;
                height: 16px;
                display: inline-block;
                content: '';
                background: url(../images/icon_sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -52px;
                position: absolute;
                right: -22px;
                top: -1px;
            }
        }
        &.box_0{background: @blue_2 url(../images/subpage_images/right_sidebar_bg.png) 100% 0 no-repeat;}
        &.box_1{background: @blue_2 url(../images/subpage_images/right_sidebar_bg.png) 100% -120px no-repeat;}
        &.box_2{background: @blue_2 url(../images/subpage_images/right_sidebar_bg.png) 100% -240px no-repeat;}
    }
    .rightbar_fineprint{margin-left: 6px; margin-top: 12px; position: relative; font-size: 0.929em; color: @copy_grey;
        span{position: absolute; left: -6px;}
    }
}

// 0.7 FOOTER //
footer {padding: 10px 0; border-top: 30px solid @green_0; width: 1024px; margin: 0 auto; .arial(); 
    .copy{
        background: url(../images/vertex.jpg) no-repeat 0% 0%;
        height: 100px;
        padding-left: 140px;
        margin: 40px 0 0 30px;
    }
    ul{list-style-type: none; text-align: center; margin: 10px;
        li{display: inline;
            a{text-decoration: none; color: @teal_2; padding: 19px 17px; font-weight: bold;}
            &:after{content: "|"; font-weight: bold;}
            &:last-child:after{content: none; content: "";}
        }
    }
    p{line-height: 1.2em;}
}