/**
 * @author crossroad_vn@yahoo.com.vn
 */

/*
* jQuery Mobile Framework
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*/

body{
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
}
img{
	-webkit-user-select: none;
	-moz-user-select: none;
}

.Text{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
	
.Absolute{
	position: absolute;
}

.ClarendonRegular{
	font-family: 'ClarendonRegular';
}
.TradeGothicLTStdCnNo18{
	font-family: 'TradeGothicLTStdCnNo.18';
}
#saveTimeRight{
float:left;
left: 332px;
/*width: 400px;
overflow: visible;*/
}

#saveTimeRight p:nth-child(1){
	font-size: 44px;
	color: #E3810F;
	margin: 37px 0 0 0px;
}

#saveTimeRight p:nth-child(2){
	font-size: 16px;
	color: #004990;
	margin: 9px 0 0 0px;
	line-height:20px;
}

#saveTimeRight p:nth-child(4){
	font-size: 18px;
	color: #000000;
	margin: 42px 0 0 0px;
	line-height:17px;
}

#saveTimeRight li{
	font-size: 14px;
	color: #696A6D;
	margin: 0px -1px 0 -15px;
}

	
.DosingGuide{
top: 324px;
}
.DosingGuideInside{
	width: 322px;
	height: 90px;
	overflow: hidden;
}

.DosingGuideInside, .DosingGuideOver{
	left: 27px;
}

#dosingGuideLeft{
	cursor: pointer;
}
#dosingGuideRight{
	left: 347px;
	cursor: pointer;
}
#dosingGuideOver{
	left: 26px;
	top: -23px;
}
