﻿<section>
    <img src="/Contents/hcp/images/callout_blocker.png" />
    <h3>Kineret<sup>&reg;</sup> - A selective IL-1<br />blocker</h3>
    <p>
        Kineret is the only IL-1 blocker<br />
        approved for use in NOMID and<br />
        adult RA
    </p>

    <p><a href="#">Learn more ></a></p>
</section>