﻿<section>
    <img src="/Contents/hcp/images/callout_nomid.png" />
    <h3>When the diagnosis is NOMID,<br />every case is a case study.</h3>
    
    <p><a href="#">Learn more ></a></p>
</section>