<header class="pageheader hidden-xs">
	<form id="form-course-search" method="get" action="/search">
	<div class="toprow">
		<div class="logo">
			<a class="track-click" trkname="Homepage|Logo|---" href="/"><img src="/Contents/imgs/logo.png" alt="Vetvance" /></a>
		</div>
		<div class="course-finder">
			<label>COURSE FINDER</label>
			<div class="search-field">
				<input type="submit" class="ico-search" />
				<!-- <div class="input-padding"> -->
					<input class="input-search input-black filter-item placeholder" placeholder="Keyword" name="keyword" type="text" value="@Request.QueryString["keyword"]">
				<!-- </div> -->
			</div>
		</div>
	</div>

	<nav>
		<ul class="sitenav">
			<li class="home"><a class="homelink" href="/"><img src="/Contents/imgs/home.png" alt="home" /></a></li>
			<li><a href="/advance" class="advanced">ADVANCE</a></li>
			<li><a href="/connect" class="connect">CONNECT</a></li>
			<li><a href="/findjob" class="search">FIND A JOB</a> 
                @{ if (@Session["userid"] == null)
                   {
                       <span class="tooltip_top">In order to use this feature, you must be a registered user. <span class="register-link">Register</span> or <span class="signin-link">sign in</span> now.</span>
                   }
                }
			</li>
			<li><a href="/whoweare" class="whoweare">WHO WE ARE</a></li>
			@{
            if (@Session["guid"] != null){
                <!-- logged in -->
					<li class="user-dd ">
						<div class="dropdown">
							<img class="user-head img-circle" data-toggle="dropdown" src="/Contents/avatars/@Session["avatar"]" alt="" />
							<span class="user-name" data-toggle="dropdown">@Session["name"]</span>
							<span class="controls" id="dropdownUserMenu" data-toggle="dropdown">
								<img src="/Contents/imgs/down-arw.png" alt='' />
							</span> 
                            <!-- new connections are auto generated here -->
							<ul class="dropdown-menu user desktop" role="menu" aria-labelledby="dropdownUserMenu">
                                <li class="menuitem"><a role="menuitem" tabindex="-1" href="/UserProfile">My Profile</a></li>
								<li class="divider"></li>
								<li class="menuitem"><a role="menuitem" tabindex="-1" href="/process/authenticate/?redirect=/">Sign out</a></li>
							</ul>
						</div>
					</li>        
            } else {
                <!-- logged out -->
					<li class="login">
						<ul>
							<li><a href="/signin">Sign in</a></li>
							<li><a href="/register">Register</a></li>
						</ul>
					</li>               
            }
     		}
		</ul>
	</nav>
	</form>
</header>

<!--BEGIN MOBILE HEADER -->
<header class="visible-xs mobile-header">
	<div class="logo-mobile pull-left">
		<a href="/"><img src="/Contents/imgs/mobile/logo.png" alt="Vetvance" /></a>
	</div>
	
	<div class="login-mobile pull-right">
		<p><a href="/signin" class="purple">Sign in</a> or <a href="/register" class="purple">Register</a></p>
	</div>
	<nav>
		<ul class="dropdown-menu user mobile-profile-container mob-pro-dd" role="menu" aria-labelledby="dropdownUserMenu">
			
			
			<li class=" hidden menuitem more"><a class="userlink" href="/UserProfile">See New Connections <img class="pull-right arrow-r" src="/Contents/imgs/mobile/arrow-r.png"></a></li>
		</ul>
	</nav>
	<div style="display: none" class="logged-in pull-right">
		<p>
			<span class="mobile-name purple"></span>
			<span class="mobile-pic"></span>
		</p>
	</div>
	
	<div class="clearfix"></div>
	<div class="title-bar">
	
		<h4 class="purple proxima">
			<span style="display: none;" class="mobile-nav-back">
				<img src="/Contents/imgs/mobile/arrow-l.png" />
				<span class="purple">Back</span>
			</span>
			<span class="page-title uppercase">
				<img src="/Contents/imgs/mobile/home.png" />
				Home
			</span>
			<span class="nav-icon"><img src="/Contents/imgs/mobile/menu.png" /></span>
			<nav class="nav-mobile">
				<ul class="closed proxima">
					<li>
						<img src="/Contents/imgs/mobile/nav_learn.png" />
						<a href="/advance" class="uppercase">Advance</a>
					</li>
					<li>
						<img src="/Contents/imgs/mobile/nav_connect.gif" />
						<a href="/connect" class="uppercase">Connect</a>
					</li>
					<li>
						<img src="/Contents/imgs/mobile/nav_search.gif" />
						<a href="/findjob" class="uppercase">Find a Job</a>
					</li>
					<li>
						<img src="/Contents/imgs/mobile/nav_whoweare.gif" />
						<a href="/whoweare" class="uppercase">Who we Are</a>
					</li>
					<li class="orange-bg">
						<img src="/Contents/imgs/mobile/nav_learn.png" />
						<a href="/search" class="uppercase">Search</a>
					</li>
				</ul>
			</nav>
		</h4>
	</div>

</header>
<div class="mobile-nav-bg"></div>
<div class="mobile-profile-bg"></div>
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <a href="#" class="close-modal" data-id="1050"><img src="contents/imgs/btn-close-modal.png"></a> 
              <p>In order to use this feature, you must be a registered user. <a href="/Register" class="purple">Register</a> or <a href="/signin" class="purple">Sign In</a> now</p>
       
        </div><!--/. display-container -->
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div>
<!-- END MOBILE HEADER -->