﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="myApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="myApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="myApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head >
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vetvance - @ViewBag.Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- script library -->
        <script type="text/javascript" src="/Contents/js/libs/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/woj0cag.js"></script>
        <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

        <!-- styles -->
        <link rel="stylesheet" href="/Contents/css/bootstrap.min.css">
        <link rel="stylesheet" href="/Contents/css/global-boilerplate.css">
        <link rel="stylesheet" href="/Contents/css/global.css">
        <link rel="stylesheet" href="/contents/css/modules/modal-connect.css">
        <link rel="stylesheet" href="contents/css/modules/modal-whoweare.css">
        <link rel="stylesheet" href="/Contents/css/module.css">
        <link rel="stylesheet" href="/Contents/css/members.css">
        <link rel="stylesheet" href="/Contents/css/advance.css">
        <link rel="stylesheet" href="/Contents/css/courselanding.css">
        <link rel="stylesheet" href="contents/css/connect.css">
        <link rel="stylesheet" href="contents/css/modules/popover-profiles.css">
        <link rel="stylesheet" href="contents/css/connectbrowse.css">
        <link rel="stylesheet" href="/Contents/css/profiles.css">
        
        <link rel="stylesheet" href="/Contents/css/index.css">        
        <link rel="stylesheet" href="/Contents/css/whoweare.css">
        <link rel="stylesheet" href="/Contents/css/searchresults.css">
        <link rel="stylesheet" href="/Contents/css/courselist.css">
        <link rel="stylesheet" href="/Contents/css/contact.css">
        <link rel="stylesheet" href="/Contents/css/privacy.css">
        <link rel="stylesheet" href="/Contents/css/tou.css">
        <link rel="stylesheet" href="/Contents/css/sitemap.css">
        <link rel="stylesheet" href="/Contents/css/job.css">
        <link rel="stylesheet" href="/Contents/css/vendors/selectize.bootstrap3.css">
        <link rel="stylesheet" href="/Contents/css/vendors/selectric.css">
        <link rel="stylesheet" href="/Contents/css/vendors/iCheck/minimal/orange.css">
        <link rel="stylesheet" href="/Contents/css/vendors/ui-lightness/jquery-ui-1.10.3.custom.css">
        <link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">

        <!-- override styles -->
        <link rel="stylesheet" href="/Contents/css/override.css">

        <!--JQM FOR SLIDE TRANSITION -->
        <link rel="stylesheet" href="/Contents/css/vendors/jquery.mobile.custom.structure.min.css">
        <link rel="stylesheet" href="/Contents/css/vendors/jquery.mobile.custom.theme.min.css">
        
        <!--Mobile Stylesheets-->
        <link rel="stylesheet" href="/Contents/css/mobile/header_mobile.css">    
        <link rel="stylesheet" href="/Contents/css/mobile/index_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/footer_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/search_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/register_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/advance_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/course_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/module_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/connect_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/whoweare_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/signin_mobile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/update_profile.css">
        <link rel="stylesheet" href="/Contents/css/mobile/userprofile_mobile.css">
        <!--End Mobile Stylesheets -->

        <!-- extended styles -->
        @RenderSection("styles", required: false)

        <!-- angular variables -->
        <script type="text/javascript">
            var guid = '@Session["guid"]';
            var userid = '@Session["userid"]';
            var email = '@Session["email"]';
            var usertypeid = '@Session["usertypeid"]';
            var name = '@Session["firstname"]' + ' ' + '@Session["lastname"]';
        </script>
    
    
      <!-- google analytics: TEMPORARY -->
        <script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-45677433-2', 'thebloc.com');
            ga('send', 'pageview');
            ga('send', {
                'hitType': 'event',
                'eventCategory': 'button',
                'eventAction': 'click',
                'eventLabel': 'quickcheck',
                'hitCallback': function () {
                    ///console.log("quickcheck: testfire event received");
                }
            });

        </script>
    
    </head>
    <body>
      

        <!-- page container -->
        <div class="container">   
            <!-- header -->
            @RenderPage("_header.cshtml")
            <!--/. header -->
            <div class="main-container">
                <!-- page -->
                @RenderBody()
            </div>
            <!-- footer -->
             @RenderPage("_footer.cshtml")
            <!--/. footer -->
        </div>

        <!-- global messaging for connect feature -->
        <div id="modalbg"></div>
        <div id="warning">
            <a href="/updateprofile"><img src="/contents/imgs/connect_warning.png" /></a>
        </div>


        @RenderPage("templates/_modal-connect.cshtml")
        <!-- scripts -->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="/Contents/js/libs/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/Contents/js/libs/handlebars-v1.1.2.js"></script>
        <script src="/Contents/js/libs/bootstrap.js"></script>
        <script src="/Contents/js/libs/underscore-min.js"></script>
        <script src="/Contents/js/libs/jquery.validate.min.js"></script>
        <script src="/Contents/js/angular/angular.js"></script>
        <script src="/Contents/js/angular/angular-route.js"></script>
        <script src="/Contents/js/plugins/jquery.easing.1.3.js"></script>
        <script src="/Contents/js/plugins/jquery.icheck.min.js"></script>
        <script src="/contents/js/plugins/jquery.jcarousel.min.js"></script>
        <script src="/contents/js/plugins/bootstrap-combobox.js"></script>
        <script src="/contents/js/plugins/selectivizr-min.js"></script>
        <script src="/Contents/js/libs/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="/Contents/js/utils/class.js"></script>
        <script src="/Contents/js/utils/namespace.js"></script>
        <script src="/Contents/js/utils/tracker.js"></script>
        <script src="/Contents/js/classes/VET.Sitenav.js"></script>
        <script src="/contents/js/classes/VET.Connect.js"></script>
        <script src="/contents/js/classes/VET.Popover.js"></script>
        <script src="/contents/js/classes/VET.Mobilenav.js"></script>        
        <script src="/Contents/js/global.js"></script>
        <script src="/Contents/js/pages/connect.js"></script>
        <script src="/contents/js/pages/connect-browse.js"></script>
        <script src="/Contents/js/pages/members.js"></script>
        <script src="/Contents/js/pages/profiles.js"></script>
        <script src="/Contents/js/pages/whoweare.js"></script>
        <script src="/Contents/js/pages/contact.js"></script>
        <script src="/Contents/js/plugins/jquery.selectric.js"></script>
        <script src="/Contents/js/plugins/selectize.min.js"></script>
        <script src="//vjs.zencdn.net/4.2/video.js"></script>
        <script src="/Contents/js/plugins/jquery.mobile.custom.min.js"></script>

        <!-- override scripts -->
        <script type="text/javascript">
        //
        // TO-DO: MOVE TO global.js !
        //
            // populate
            //populateNewConnections();
            //populateDictionary();

            // sub functions
            function populateNewConnections() {
                $.ajax({
                    url: "/api/newconnections/@Session["userid"]",
                    // data: { key: val },
                    contentType: JSON
                }).done(function (data) {
                    ///console.log(data);
                    if (data != null) {
                        // new connections
                        _html = '<li>You have ' + (data.length) + ' new connections</li>';
                        for (var i = 0; i < 2; i++) { // show 2 only
                            //_html += '<li><img src="/contents/avatars/' + data[i]['user'].avatar + '" alt="" height="32" class="img-circle" />' + data[i]['user'].firstname + ' ' + data[i]['user'].lastname + '</li>'; // profile is not linked
                            _html += '<li><a class="userlink" href="#"><img src="/contents/avatars/' + data[i]['user'].avatar + '" alt="" height="32" class="img-circle" />' + data[i]['user'].firstname + ' ' + data[i]['user'].lastname + '</a></li>';
                            _html += '<li class="divider"></li>';
                        }

                        if (data.length > 2) { // if there are more than 2
                            _html += '<li class="menuitem more"><a class="userlink" href="/UserProfile">' + (data.length - 2) + ' more...</a></li>';
                            _html += '<li class="divider"></li>';
                        }

                        $('ul.dropdown-menu.user.desktop').html(_html + $('ul.dropdown-menu.user.desktop').html());
                    }
                });
            }
        </script>

        <!-- extended scripts -->
        @RenderSection("scripts", required: false)
    </body>
</html>