﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>VetVance API Reference</title>
    
    <!-- styles -->
    <link href="~/Contents/css/reference.css" rel="stylesheet" />
</head>
<body>
    <!-- page -->
    @RenderBody()

    <!-- extended scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
