﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>VetVance Prototype - @ViewBag.Title</title>
    
    <!-- library -->
    <script src="~/Contents/js/lib/jquery-1.10.2.min.js"></script>
</head>
<body>
    <!-- login state -->
    <header>
        <form action="/prototype/search" method="get"><input name="keyword" type="text" value="@Request.QueryString["keyword"]" /> <input type="submit" value=">" /></form>
        @{
            if (@Session["guid"] != null){
                <!-- logged in -->
                <div>Logged in as name: @Session["name"], email: @Session["email"] (userid: @Session["userid"], guid: @Session["guid"]) [<a href="/process/authenticate/?redirect=/prototype">Logout</a>]</div>
                <div>
                    New Connections: (You have <span id="totalconnections"></span> new connections)
                    <ul id="newconnections"></ul>
                </div>  
            
            } else {
                <!-- logged out -->
                <div>[<a href="/prototype/login">Login</a>] [<a href="/prototype/register">Register</a>]</div>
            }
        }
    </header>

    <!-- navigation -->
    <div id="navigation">
        <ul>
            <li><a href="/prototype">Home</a></li>
            <li><a href="/prototype/userprofile">User Profile</a></li>
            <li><a href="/prototype/userpath">User Path</a></li>
            <li><a href="/prototype/courselist">Course List</a></li>
        </ul>
    </div>

    <!-- page -->
    @RenderBody()

    <!-- extended scripts -->
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $.ajax({
            url: "/api/NewConnections/@Session["userid"]",
            // data: { key: val },
            dataType: JSON
        }).done(function (data) {
            //console.log(data);

            _html = '';
            for (var i = 0; i < 2; i++) { // show 2 only
                _html += '<li>';
                _html += '<img src="/Contents/avatars/' + data[i]['user'].avatar + '" height="50" /> ' + data[i]['user'].firstname + ' ' + data[i]['user'].lastname;
                _html += '</li>';
            }
            if (data.length > 2) { _html += '<li>' + (data.length - 2) + ' more...</li>'; }

            $('#newconnections').html(_html);
            $('#totalconnections').html(data.length);
        });
    </script>
</body>
</html>
