

@media screen and (max-width: 480px) {
    .welcome {
        /*background-position: center center;*/
        background-size: 95%;
    }


    .rating-container {
        width:100%!important;
        left:0px!important;
        top:0px!important;
        margin-left: 0px!important;
        margin-top: 0px!important;
        z-index: 12000;
        bottom:0px!important;
        .rate-overlay, .rate-needle, .rate-listener, .screen-overlay {
            width:100%!important;
        }
        .rate-tools {
            .rate-comment {
                .txtarea {
                    textarea {
                        width:240px;
                    }
                }
            }
        }
    }

    section.static {
        display: none;
        top: 148px;
        .mission {
            display: none;
            background: url($bkgd-dial-horizontal) center bottom no-repeat;
            background-size: contain;
            .content {
                width: 100%;
            }
        }
    }

    section.wall {
        width: 100%;
        margin-top: 148px;
    }
    .main-container > header {
        background-position: center top;
        height:148px;
        z-index: 12000;
        nav {
            margin-top:100px;
            margin-left: -175px;
            margin-top: 100px;
            position: absolute;
            left: 50%;
            .user {display: none;}
            .header-prefix-non-mobile { display: none; }
            .search {
                width: 180px;
                margin-top:0px;
                .search-results-container {
                    min-width:auto;
                }
            }
            .sort-menu {
                .menu {
                    position: fixed!important;
                    width: 100%;
                    left: 0px;

                    .down-arrow {
                        position: absolute;
                        left: 200px;
                        top:5px;
                        margin-left: 0px;
                    }
                    ul {
                        margin-top: 20px;
                    }
                }
            }
            .filter-menu {
                .menu {
                    position: fixed!important;
                    width: 100%;
                    left: 0px;

                    .down-arrow {
                        position: absolute;
                        left: 254px;
                        top:5px;
                    }
                    ul {
                        margin-left:0;
                        margin-top: 20px;
                        li {
                            background-size: auto!important;
                            padding-left:60px;
                        }
                    }
                }
            }
        }
        .mission {display: none;}
        .mobile-menu {
            display: block;
            .icon-ios-menu { display: block; }
        }
    }
    section.wall.mobile-menu-on {
        margin-left:199px;
    }
    section.profile {
        width:100%;
        left:0px;
        top:0px;
        margin-left:0px;
        position:absolute;
        height:800px;
        z-index: 14000;
        .register, .manage-account {
            .form-column:first-child {
                margin-bottom: 30px;
                &> p {width:300px;}
            }
        }
        .profile-avatar {
            margin-top: 20px;
            &>strong, &>p {display: none;}
            .button {
                position: absolute;
                top: 20px;
                zoom: .5;
                left: 440px;
            }
        }
        .button.pink {
            position: absolute;
            right: auto;
            bottom: auto;
            margin-top: 10px;
        }
    }
    section.post-detail {
        z-index: 13000;
        .full-page-image {
            height:100%;
            border:solid 1px $color-grey-light;
        }
        .dial-tab {
            bottom: 0px;
            top: auto;
            margin-top: -61px;
        }
        .dial-not-logged-in-message, .thank-you-message {
            width:100px;
        }
        .btn-expand-collapse {
            top: auto;
            right: 2%;
            z-index: 13000;
            bottom: 50px;
            border:none;
            color:transparent;
            background: url($icon-info) no-repeat;
            background-size: contain;
        }
        .comments-pane {
            right: auto;
            top:0px;
            width:100%;
            margin:0;
            border-radius: 0px;
            z-index: 12990;
            a.follow {
                display: inline-block;
                margin-right: 20px;
                float: right;
            }
            section.group {
                width:auto;
                margin:0;
                float: none;
                &:last-child {float:none;}
            }
            section.post-comment-header {
                .btn-post {
                    margin-right: 20px;
                }
            }
        }
    }
    section.dashboard {
        height:630px;
        section.fuels {
            .icons {
                float: none;
                position: absolute;
                margin-left: -50px;
            }
        }
        .navigation {
            margin-left: 510px;
        }
    }
    footer {
        display: none;
    }
}
