
// Define your breakpoints
$tablet: new-breakpoint(max-width 1024px 8);
$mobile: new-breakpoint(max-width 480px 4);

/* -----------------------------------------
   Media Query Variables
-----------------------------------------

$mobile: 		"screen and (min-width: 0px) and (max-width: 499px)";
$tablets: 	"screen and (min-width: 500px) and (max-width: 959px)";
$desktops: 	"screen and (min-width: 960px)";
$max-width:	"screen and (min-width: 499px) and (max-width: 1300px)";
*/