body { font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: normal; color: $color-grey-bodycopy; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-weight: 600; line-height: 1.15; color: $color-grey-dark; }


h2 { font-size: 50px; color: $color-black; }
h3 { font-size: 35px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }

p { margin: 0.5em 0; padding: 0; }

a { color: $color-location; text-decoration: none; cursor:pointer; }

.error, .red { color: $color-red; }
ul.error {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  > .warning {
    color: #fff;
    background: url(../css/images/icons/error.png) no-repeat 10px center;
    padding: 10px 10px 10px 47px;
    border-radius: 4px;
  }
}