body {
    overflow: visible;
    background: $color-photo url($trans-dots-bkgd) fixed;
    @include user-select (none);
}

body, footer {
    &.P {background-color: $color-photo;}
    &.L {background-color: $color-location;}
    &.V {background-color: $color-video;}
    &.M {background-color: $color-music;}
    &.S {background-color: $color-sound;}
    &.T {background-color: $color-thought;}
}

.button.disabled {
    background-color: #ddd!important;
    color: #bbb!important;
}

.main-container {
}

.main-container > header {
    box-sizing: border-box;
    width:100%;
    background: #ffffff url('images/happy-fuel-logo.png') no-repeat;
    position: fixed;
    top:0px;
    height: $header-height;
    border: solid 1px $color-grey-light;
    border-top:none;
    font-weight: bold;
    z-index: $z-idx-header;
    cursor: default;
    div { display: inline-block; }
    .mobile-menu {
        display: none;
        width:200px;
        position: fixed;
        height:50px;
        margin-left:-140px;
        background: white;
        z-index: 1;

        &.active {
            margin-left:-1px;
            border:solid 1px $color-grey-light;
            height:100%;
            ul {display: block;}
        }
        ul {
            display: none;
            width:100%;
            margin-top: 100px;
            border-top: solid 2px $color-grey-medium-light;
            border-right: solid 1px $color-grey-medium-light;
            li {
                background: url($bkgd-dots);
                border-bottom:solid 2px $color-grey-medium-light;
                text-align: right;
                line-height: 50px;
                padding: 4px;
            }
        }
        ul:last-child {
            position: absolute;
            bottom: 0px;
            border:none;
            li {
                border:none;
                background:none;
                line-height: 1.5em;
            }
        }

        .icon-ios-menu {
            cursor:pointer;
            background: url($icon-ios-menu) no-repeat;
            background-size: contain;
            width:48px;
            height:48px;
            position:absolute;
            top:10px;
            right:10px;
        }
    }
    nav {
        margin-left: 390px;
        margin-top: 56px;
        background: url('images/happy-logo-nav.jpg') no-repeat;
        padding-left: 22px;
        .user {
            color: $color-thought;
            cursor: pointer;
        }
        .menus {
            ul {
                &:hover {display: '';}
                border: solid 1px $color-grey-medium-light;
                background: url($bkgd-dots);
                display: none;
                li {
                    padding: 1em;
                    color:$color-black;
                    &:hover {@include background-opacity($color-pink, .5);}
                }
            }
            .sort-menu {
                color: $color-location;
                cursor: pointer;
                .menu {position:absolute;}
                .down-arrow {margin-left:46px;}
                ul {
                    margin-left: -20px;
                    li {
                        padding-left: 26px;
                        &:last-child {
                            background-image: url($icon-magnify);
                            background-repeat: no-repeat;
                            background-position: 4px center;
                        }
                    }
                }
                &:hover ul {display: '';}
            }
            .filter-menu {
                color: $color-music;
                cursor: pointer;
                .menu {position:absolute;}
                .down-arrow {margin-left:10px;}
                ul { margin-left: -50px;
                    li {
                        background-repeat: no-repeat;
                        background-position: 4px 12px;
                        padding-left: 40px;
                        background-size: 20%;
                        &.photo {background-image: url($icon-photo);}
                        &.location {background-image: url($icon-location);}
                        &.music {background-image: url($icon-music);}
                        &.sound {background-image: url($icon-sound);}
                        &.video {background-image: url($icon-video);}
                        &.thought {background-image: url($icon-thought);}
                    }
                }
                &:hover ul {display: '';}
            }
        }
        .search {
            display: inline-block;
            background: url($bkgd-dots);
            position: absolute;
            padding: 6px;
            border: solid 2px $color-grey-light;
            margin-top: -10px;
            color: $color-location;
            &.off {display: none;}
            .btn-close {
                position: absolute;
                margin-top: -23px;
                right:4px;
            }
            input {
                border: none;
                background: transparent url($icon-magnify) left center no-repeat;
                color: $color-location;
                font-weight: bold;
                padding-left: 28px;
                width:220px;
            }
            .search-results-container {
                ul {display: inline-block; min-width: 140px; float:left;}
                position: absolute;
                min-width: 300px;
                background: white;
                padding: 10px;
                border: solid 2px $color-grey-light;
                margin-left: -8px;
                margin-top: 6px;
            }
        }
    }

    .mission {
        position: absolute;
        right: 50px;
        top: 56px;
        .happy-face {
            color:$color-location;
        }
    }
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    background-color: $color-photo;
    z-index: 10000;
    ul {
        display: inline-block;
        margin-top: 6px;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 0px 10px;
            border-right: solid 1px;
            font-size: .8em;
            &:last-child {
                border:none;
            }
        }
    }
}

.btn-close {
    background: url($btn-close-detail) no-repeat;
    width: 22px;
    height: 24px;
    cursor: pointer;
}

.down-arrow {
    @include arrow('down', $color-grey-light, 5px, 11px);

}

.avatar {
    width:48px;
    height:48px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url($avatar-default-image);
}


.post-info {
    position: absolute;
    bottom:0px;
    margin-left: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 4px;
    opacity: .8;
    height: 18px;
    padding-left: 29px;
    background: white url($globe-black) 4px 3px no-repeat;
    color:#000;
    cursor:pointer;
}

.rating-container {
    position: absolute;
    display: none;
    z-index: 9000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include wall-post-size-a;
    .post-info {
        margin-top: ($size-a-square - 24px);
        background: white url($globe-color) 4px 3px no-repeat;
    }
    .screen-overlay {
        background: white; //rgba(255,255,255,.5);
        opacity: .7;
    }
    .rate-overlay, .rate-needle, .rate-listener, .screen-overlay {
        position: absolute;
        @include wall-post-size-a;
    }
    .rate-listener {
        .btn-close {
            right: 10px;
            top: 5px;
            position: absolute;
            z-index: 11001;
        }
    }
    .rate-overlay {
        background: url($bkgd-dial) 50% 10% no-repeat;
        background-size: 80%;
    }
    .rate-needle {
        background: url($bkgd-dial-needle) 50% 26% no-repeat;
        background-size: 80%;
        -webkit-transition: -webkit-transform .7s ease;
        -moz-transition: -moz-transform .7s ease;
        -o-transition: -o-transform .7s ease;
        @include transform-origin(50% 54.275% 0);
        &.rot0 {@include transform(rotate(0deg));}
        &.rot1 {@include transform(rotate(32deg));}
        &.rot2 {@include transform(rotate(64deg));}
        &.rot3 {@include transform(rotate(96deg));}
        &.rot4 {@include transform(rotate(128deg));}
        &.rot5 {@include transform(rotate(160deg));}
    }
    .rate-tools {
        margin-top:60%;
        position: absolute;
        width:100%;
        .post-group {height:32px; padding-top: 10px; clear: both;}
        .counter {float: left; margin-left: 10%; margin-top:7px; min-height: 20px; padding-left: 25px; background: url($globe-color) no-repeat;}
        .btn-post {float:right; margin-right: 10%; width:89px; height:32px; background: url($btn-post)}
        .already-rated {text-align: center;margin-top:10px;}
        .rate-comment {
            margin-top:10px;
            strong {
                color: $color-location;
            }
            .avatar {
                border: solid 1px $color-grey-light;
                border-top-left-radius: 10px;
                margin-right: 10px;
                margin-left: 10%;
                float:left;
            }
            .txtarea {
                float:left;
                textarea {
                    border: solid 2px $color-grey-light;
                    border-radius: 10px;
                    min-height: 48px;
                    color:$color-sound;
                    width:308px;
                    font-size: .9em;
                    padding: 4px;
                    @include placeholder {
                        color: $color-sound;
                    }
                }
            }
        }
    }
}


section.static {
    box-sizing: border-box;
    display: none;
    width: 100%;
    clear: both;
    height: 100%;
    position: fixed;
    z-index: 9000;
    background: url($bkgd-dots);
    cursor: pointer;
    section {
      height:100%;
      overflow: auto;
    }
    .mission {
        display: none;
        background: url($bkgd-dial-vertical) left 40px no-repeat;
        height:100%;
        .content {
            margin-left: 320px;
            padding-top: 100px;
            width: 600px;
        }
    }
    .terms, .contact {
        padding:30px;
    }
    .btn-close {
        position: absolute;
        z-index: 100;
        top: 10px;
        right: 10px;
    }
}

section.dashboard {
    box-sizing: border-box;
    background: #ffffff url($bkgd-dots);
    position: fixed;
    top:0px;
    height: $dashboard-height;
    z-index: $z-idx-dashboard;
    top: $header-height;
    padding-top: 14px;
    padding-left: 100px;
    width:100%;
    display: none;

    .content-box {
        float: left;
        margin-right: 12px;
        margin-bottom: 10px;
        border: solid 1px $color-grey-light;
        background: $color-grey-super-light;
        @include border-top-radius(8px);
        @include border-bottom-radius(8px);
        padding: 12px;
        font-size: .9em;
        overflow:hidden;
    }
    .navigation {
        position: absolute;
        margin-left:1024px;
        div {@include size-me(135px,26px); margin-bottom: 20px;}
        .arrow-up, .arrow-down, .nav-state {
          cursor: pointer;
        }
        .arrow-up {
            background: url($nav-dashboard-arrow-up) no-repeat;
        }
        .arrow-down {
            background: url($nav-dashboard-arrow-down) no-repeat;
        }
        .on {
            background: url($nav-dashboard-on) no-repeat;
            span {color:$color-location; margin-left: 64px;font-size: .9em;font-weight: bold;line-height: 26px;}
        }
        .off {
            background: url($nav-dashboard-off) no-repeat;
            span {display: none;}
        }
    }

    section.fuels {
        .icons {
            float: left;
            margin-right: 12px;
            div {@include size-me(34px,34px); margin-bottom: 16px;}
            .photo {background: url($icon-photo) center top no-repeat;}
            .location {background: url($icon-location) center top no-repeat;}
            .music {background: url($icon-music) center top no-repeat;}
            .sound {background: url($icon-sound) center top no-repeat;}
            .video {background: url($icon-video) center top no-repeat;}
            .thought {background: url($icon-thought) center top no-repeat;}
        }
        .content-box {
            @include dashboard-contentbox-size-a;
        }
        .value-bar {
            height: 20px;
            min-width: 20px;
            margin-bottom: 2px;
            text-align: right;
            line-height: 20px;
            font-size: .8em;
            font-weight: bold;
            padding-right: 6px;
            color:$color-grey-dark;
            &.photo {background: $color-photo;}
            &.location {background: $color-location;}
            &.music {background: $color-music;}
            &.sound {background: $color-sound;}
            &.video {background: $color-video;}
            &.thought {background: $color-thought;}
        }
        .value-bar:last-of-type {margin-bottom: 40px;}
        .avatar-row {
            display: block;
            overflow-x: auto;
            .avatar {
                display: inline-block;
                margin-right: 10px;
                @include size-me(41px,41px);
                background-color: $color-grey-medium-light;
                cursor: pointer;}
        }
    }

    .user-box {
        @include border-radius(4px);
        width: 220px;
        height: 55px;
        padding: 4px;
        margin-bottom: 4px;
        font-size: .9em;
        cursor:pointer;

        .avatar {
            float:left;
            border-top-left-radius: 4px;
        }
        .user-info {
            float: left;
            height: inherit;
            width: 102px;
            margin-left: 4px;
            text-align: center;
            padding-top: 5px;
            color: white;
            span {color:$color-location; font-weight: bold}
        }
        .rating-info {
            float: right;
            text-align: center;
            border-left: solid 2px white;
            width: 55px;
            height: inherit;
            margin-top: -4px;
            padding-top: 9px;
        }
    }

    section.fuelers {
        display: none;
        .content-box {
            @include dashboard-contentbox-size-b;
            .col {
                float: left;
                &:last-child {
                    margin-left: 4px;
                }
            }
            .user-box {
                background-color: $color-photo;
            }
            &:last-child {
                .user-box {
                    background-color: $color-thought;
                }
            }
        }
    }
    section.friends {
        display: none;
        .content-box {
            @include dashboard-contentbox-size-b;
            .col {
                float: left;
                &:last-child {
                    margin-left: 4px;
                }
            }
            .user-box {
                background-color: $color-music;
                .rating-info {display: none;}
            }
            &:last-child {
                .user-box {
                    background-color: $color-thought;
                    .rating-info {display: none;}
                }
            }
        }
    }
}

section.post-detail {
    box-sizing: border-box;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url($bkgd-dots);
    z-index: $z-idx-post-detail;
    top: 0;

    .rating-container {
        bottom: 0px;
        z-index: 12000;
        background-image: url($bkgd-dots);
        left: 10px;
        @include border-top-radius(10px);
        border:solid 1px $color-grey-light;
        background-size: auto!important;
        background-position: auto!important;
        background-repeat: repeat;
        .screen-overlay {display: none;}
    }

    .lightbox-screen {
        z-index: 8900;
        display: none;
    }
    video {
        position: fixed;
        width:100%;
        height:100%;
    }
    audio {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 400px;
        margin-left: -200px;
    }
    .mejs-audio {
        left: 50%;
        margin-left: -200px;
        top: 49%;
    }
    .btn-close {
        right: 10px;
        top: 5px;
        position: fixed;
        z-index: 11001;
    }
    &.expanded .comments-pane {
        display: '';
    }
    &.collapsed .comments-pane {
        display: none;
    }
    .full-page-image {
        height: 100%;
        position: absolute;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }
    .comments-not-logged-in-message {
        padding: 4px;
        border-radius: 4px;
        border: solid 1px $color-sound;
        a {color:$color-sound;}
    }
    .dial-not-logged-in-message, .thank-you-message {
        position: fixed;
        bottom: 24px;
        width: 250px;
        padding: 4px 4px 4px 40px;
        border-radius: 4px;
        left: 60px;
        background: url($bkgd-dots);
        border: solid 1px $color-grey-light;
        font-size: .8em;
        line-height: 16px;
        a {color:$color-sound;}
        z-index: 10004;
    }
    .thank-you-message { display: none; }
    .dial-tab {
        position: fixed;
        bottom: 0px;
        left: 20px;
        width: 70px;
        height: 21px;
        background: url($bkgd-dial-tab) no-repeat;
        padding-top: 40px;
        text-align: right;
        padding-right: 10px;
        cursor: pointer;
        z-index: 10005;
    }
    .btn-expand-collapse {
        position: fixed;
        background: white;
        width: 22px;
        height: 22px;
        line-height: 20px;
        text-align: center;
        border: solid 1px $color-grey-light;
        right: 10px;
        top: 45px;
        z-index: 8500;
        cursor: pointer;
        opacity: .8;
    }
    .comments-pane {
        position: absolute;
        width: 290px;
        min-height: 400px;
        background: white;
        right: 0px;
        top: 35px;
        @include border-left-radius(10px);
        border: solid 1px $color-grey-light;
        opacity: .85;
        padding: 30px 10px 10px;
        z-index: 8000;

        header, section.post-description, section.post-tags, section.post-comment-header {
            border-bottom: solid 1px $color-grey-medium-light;
            min-height: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        header {
            .avatar {
                border: solid 1px $color-photo;
                border-top-left-radius: 10px;
            }
            .info {
                position: absolute;
                @include position-right-of-avatar;
            }
            .follow {
                position: absolute;
                right: 10px;
                margin-top: -26px;
            }
        }
        section.post-description {
        }
        section.post-tags {
        }
        section.post-comment-header {
            border-bottom: dashed 1px $color-grey-light;
            padding-bottom: 50px;
            strong {
                color: $color-location;
            }
            .avatar {
                border: solid 1px $color-grey-light;
                border-top-left-radius: 10px;
                margin-right: 10px;
            }
            .txtarea {
                @include position-right-of-avatar;
                textarea {
                    border: solid 2px $color-grey-light;
                    border-radius: 10px;
                    min-height: 100px;
                    color:$color-sound;
                    width:210px;
                    font-size: .9em;
                    padding: 4px;
                    @include placeholder {
                        color: $color-sound;
                    }
                }
            }
            .btn-post {
                float:right;
                margin-right: 10px;
                margin-top: 10px;
                width:89px;
                height:32px;
                background: url($btn-post);
            }
            ul.user-search-results {
                position: absolute;
                background: white;
                z-index: 1;
                border: solid 2px $color-grey-medium-light;
                padding: 4px;
                margin-top: -2px;
                left: 80px;
                border-top: none;
                li {
                    font-size: .9em;
                    color:$color-sound;
                    cursor: pointer;
                    padding:4px;
                    &:hover {
                        background-color: $color-grey-light;
                    }
                }
            }
        }
        section.post-comments-list {
            max-height: 300px;
            overflow-y: auto;
            clear: both;
            .avatar {
                border: solid 1px $color-grey-light;
                border-top-left-radius: 10px;
                margin-right: 10px;
            }

            &> ul li {
                border-bottom: dashed 1px $color-grey-light;
                margin-bottom: 10px;
                &:last-child {border: none;}
            }
            strong {
                color: $color-location;
                display: block;
            }
            div.comment-text {
                @include position-right-of-avatar;
            }
        }
        /*
        <header></header>
        <section class="post-description"></section>
        <section class="post-tags"></section>
        <section class="post-comment-header"></section>
        <section class="post-comments-list">
        */
    }

    .share-links {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background: white;
        padding: 10px;
        border-left: solid 1px $color-grey-medium-light;
        border-top: solid 1px $color-grey-medium-light;
        border-radius: 4px 0px;
        z-index: 8000;

        a {
            width:23px;
            height:23px;
            margin-right: 4px;
            display: inline-block;
            &.facebook { background-image: url($icon-social-fb); }
            &.twitter { background-image: url($icon-social-twitter); }
            &.email { background-image: url($icon-social-email); }
        }
    }
}

.lightbox-screen {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 11000;
    &.profile {
        top:0px;
        left:0px;
        z-index: 11900;
        display: none;
    }
}

.welcome {
    box-sizing: border-box;
    background: url($bkgd-welcome) center bottom no-repeat;
    position: fixed;
    width:100%;
    height:100%;
    background-size: 75%;
    z-index: 11001;
    top: 0px;
}

section.wall {
    box-sizing: border-box;
    width:100%;
    clear:both;
    display: block;
    margin-top: $header-height;
    .lightbox-screen {
        display: none;
        z-index: 8500;
    }
    .rating-container {
        position: absolute;
        display: none;
        z-index: 9000;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include wall-post-size-a;
        .post-info {
            margin-top: ($size-a-square - 24px);
            background: white url($globe-color) 4px 3px no-repeat;
        }
        .screen-overlay {
            background: white; //rgba(255,255,255,.5);
            opacity: .7;
        }
        .rate-overlay, .rate-needle, .rate-listener, .screen-overlay {
            position: absolute;
            @include wall-post-size-a;
        }
        .rate-overlay {
            background: url($bkgd-dial) 50% 10% no-repeat;
            background-size: 80%;
        }
        .rate-needle {
            background: url($bkgd-dial-needle) 50% 26% no-repeat;
            background-size: 80%;
            @include transform-origin(50% 54.275% 0);
            &.rot0 {@include transform(rotate(0deg));}
            &.rot1 {@include transform(rotate(32deg));}
            &.rot2 {@include transform(rotate(64deg));}
            &.rot3 {@include transform(rotate(96deg));}
            &.rot4 {@include transform(rotate(128deg));}
            &.rot5 {@include transform(rotate(160deg));}
        }
        .rate-tools {
            margin-top:60%;
            position: absolute;
            width:100%;
            .post-group {height:32px; padding-top: 10px; clear: both;}
            .counter {float: left; margin-left: 10%; margin-top:7px; min-height: 20px; padding-left: 25px; background: url($globe-color) no-repeat;}
            .btn-post {float:right; margin-right: 10%; width:89px; height:32px; background: url($btn-post)}

            .rate-comment {
                margin-top:10px;
                strong {
                    color: $color-location;
                }
                .avatar {
                    border: solid 1px $color-grey-light;
                    border-top-left-radius: 10px;
                    margin-right: 10px;
                    margin-left: 10%;
                    float:left;
                }
                .txtarea {
                    float:left;
                    textarea {
                        border: solid 2px $color-grey-light;
                        border-radius: 10px;
                        min-height: 48px;
                        color:$color-sound;
                        width:292px;
                        font-size: .9em;
                        padding: 4px;
                        @include placeholder {
                            color: $color-sound;
                        }
                    }
                }
            }
        }
    }
    .module {
        position: relative;
        display: inline-block;
        width:500px;
        height:500px;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        cursor:pointer;
        .item {
            background-size: cover;
            overflow:hidden;
            background-position: center center;
            &.P { background-color: $color-photo; }
            &.L { background-color: $color-location; }
            &.V { background-color: $color-video; }
            &.M { background-color: $color-music; }
            &.S { background-color: $color-sound; }
            &.T { background-color: $color-thought; color:white; }
            .post-info {
                position: absolute!important;
                margin-left: 10px!important;
                height: 16px!important;
                width: auto!important;
            }
            .item-content {
                padding: 10px;
            }
            .item-content:first-line { font-weight: bold; }
        }
        div {
            position: absolute;
            display: inline-block;
        }
        &.type-01 {
            &>div:nth-child(1) {
                @include module-unit-size-5x3;
            }
            &>div:nth-child(2) {
                @include module-unit-size-2x2;
                margin-top:60%;
                margin-left:60%;
            }
        }
        &.type-02 {
            &>div:nth-child(1) {
                @include module-unit-size-2x2;
                margin-top:20%;
            }
            &>div:nth-child(2) {
                @include module-unit-size-2x3;
                margin-left:60%;
            }
            &>div:nth-child(3) {
                @include module-unit-size-3x2;
                margin-left:20%;
                margin-top:60%
            }
        }
        &.type-03 {
            &>div {
                @include module-unit-size-1x1;
            }
            &>div:nth-child(6) {
                @include module-unit-size-3x3;
                margin-top:40%;
            }
            &>div:nth-child(2) {
                margin-top: 20%;
                margin-left: 20%;
            }
            &>div:nth-child(3) {
                margin-left: 40%;
            }
            &>div:nth-child(4) {
                margin-top: 20%;
                margin-left: 60%;
            }
            &>div:nth-child(5) {
                margin-left: 80%;
            }
            &>div:nth-child(7) {
                margin-left: 80%;
                margin-top: 40%;
            }
            &>div:nth-child(8) {
                margin-top: 60%;
                margin-left: 60%;
            }
            &>div:nth-child(9) {
                margin-top: 80%;
                margin-left: 80%;
            }
        }
        &.type-04 {
            &>div:nth-child(1) {
                @include module-unit-size-2x2;
                margin-left:60%;
            }
            &>div:nth-child(2) {
                @include module-unit-size-3x3;
                margin-top:40%;
            }
        }
        &.type-05 {
            &>div:nth-child(1) {
                @include module-unit-size-3x3;
                margin-left:40%;
            }
            &>div:nth-child(2) {
                @include module-unit-size-3x2;
                margin-top:60%;
            }
        }
        &.type-06 {
            &>div:nth-child(1) {
                @include module-unit-size-3x2;
            }
            &>div:nth-child(2) {
                @include module-unit-size-1x1;
                margin-left:80%;
            }
            &>div:nth-child(3) {
                @include module-unit-size-2x2;
                margin-left:40%;
                margin-top:40%
            }
            &>div:nth-child(4) {
                @include module-unit-size-1x1;
                margin-top:80%
            }
        }
    }
}

section.profile {
    display: none;
    position: fixed;
    width: 700px;
    min-height: 300px;
    z-index: 12000;
    padding: 20px;
    left: 50%;
    top: 150px;
    background: url($bkgd-dots);
    border-radius: 4px;
    border: solid 2px $color-grey-light;
    margin-left: -350px;
    strong {
        color: $color-location;
        margin-bottom: 10px;
        display: block;
    }
    a {
        color: $color-sound;
    }
    .login, .register, .manage-account, .reset-password {display: none;}
    &.sign-in {
        display: '';
        .login {
            display: '';
        }
    }
    input {
        line-height: 40px;
    }
    input[type='file'] {
        position: absolute;
        margin-left: -75px;
        width: 150px;
        height: 150px;
        opacity: 0;
        cursor:pointer;
    }
    label {
        min-width: 100px;
        display: inline-block;
        padding-right: 10px;
        text-align: right;
        line-height: 40px;
        font-weight: bold;
    }
    .form-row {
        margin-top: 10px;
    }
    .form-column {
        float: left;
        margin-right: 20px;
    }
    .button {
        width:120px;
        float: right;
        margin-left: 10px;
    }
    .align-content-to-form-elements {
    }
    .profile-avatar {
        .button {
            @include size-me(150px,150px);
            background: white url($bkgd-upload-avatar) center center;
            background-size: contain;
            border: solid 1px $color-grey-light;
            border-radius: 4px;
            color:$color-grey-dark;
            font-weight: bold;
            line-height: 1em;
        }
        .img-preview {position: absolute;}
    }
}