$legacy-support-for-ie: true;


/* -----------------------------------------
   Sizing
----------------------------------------- */
$header-height: 98px;
$dashboard-height: 330px;
$size-d-square: 108px;
$size-c-square: golden-ratio($size-d-square, 1);
$size-b-square: golden-ratio($size-d-square, 2);
$size-a-square: golden-ratio($size-d-square, 3);
$wall-column: golden-ratio($size-d-square, 3);

$wall-module-size-01: 100%;
$wall-module-size-02: 50%;
$wall-module-size-03: 33.33333%;
$wall-module-size-04: 20%;

@mixin module-unit-size-1x1 {
    @include size-me(19.5%,19.5%);
}
@mixin module-unit-size-2x2 {
    @include size-me(39.5%,39.5%);
}
@mixin module-unit-size-2x3 {
    @include size-me(39.5%,59.5%);
}
@mixin module-unit-size-3x2 {
    @include size-me(59.5%,39.5%);
}
@mixin module-unit-size-3x3 {
    @include size-me(59.5%,59.5%);
}
@mixin module-unit-size-5x3 {
    @include size-me(99.5%,59.5%);
}
@mixin module-unit-size-3x5 {
    @include size-me(59.5%,99.5%);
}


@mixin size-me ($w,$h) {
    width: $w;
    height: $h;
}
@mixin wall-post-size-a {
    @include size-me($size-a-square, $size-a-square);
}
@mixin wall-post-size-b {
    @include size-me($size-b-square, $size-b-square);
}
@mixin wall-post-size-c {
    @include size-me($size-c-square, $size-c-square);
}
@mixin wall-post-size-d {
    @include size-me($size-d-square, $size-d-square);
}
@mixin dashboard-contentbox-size-a {
    @include size-me(446px, 292px);
}
@mixin dashboard-contentbox-size-b {
    @include size-me(472px, 292px);
}



/* -----------------------------------------
   Positioning
----------------------------------------- */
$z-idx-header: 10000;
$z-idx-dashboard: 9000;
$z-idx-post-detail: 11000;

@mixin position-right-of-avatar {
    margin: -48px 0px 0px 58px;
}


/* -----------------------------------------
   Color Variables
----------------------------------------- */

/* Primary Palette */
$color-photo: #fbd917;
$color-location: #ee0093;
$color-music: #f69639;
$color-video: #a40069;
$color-sound: #329fa4;
$color-thought: #4dbcc2;
$color-red: #fc0000;
$color-pink: #f164c2;

/* Greyscale Palette */
$color-black: #000;
$color-grey-dark: #333;
$color-grey-bodycopy: #555;
$color-grey-light: #e6e6e6;
$color-grey-super-light: #fbfbfb;
$color-grey-medium-light: #e1e1e1;



/* -----------------------------------------
   Filepath/Imagepath Variables
----------------------------------------- */
$icon-photo: 'images/icon-photo.png';
$icon-location: 'images/icon-location.png';
$icon-music: 'images/icon-music.png';
$icon-video: 'images/icon-video.png';
$icon-sound: 'images/icon-sound.png';
$icon-thought: 'images/icon-thought.png';
$bkgd-icon-photo: 'images/bkgd-icon-photo.png';
$bkgd-icon-location: 'images/bkgd-icon-location.png';
$bkgd-icon-music: 'images/bkgd-icon-music.png';
$bkgd-icon-video: 'images/bkgd-icon-video.png';
$bkgd-icon-sound: 'images/bkgd-icon-sound.png';
$bkgd-icon-thought: 'images/bkgd-icon-thought.png';
$icon-magnify: 'images/icon-magnifying-glass.png';
$icon-ios-menu: 'images/ios-menu-icon.png';
$bkgd-dial: 'images/dial-bkgd.png';
$bkgd-dial-tab: 'images/dial-tab.png';
$bkgd-sound: 'images/bkgd-sound.png';
$bkgd-dial-needle: 'images/dial-needle.png';
$bkgd-welcome: 'images/welcome-overlay.png';
$bkgd-dots: 'images/bkgd-dots.jpg';
$btn-post: 'images/btn-post.png';
$globe-color: 'images/globe-color.png';
$globe-black: 'images/globe-black.png';
$btn-close-detail: 'images/btn-circle-x.png';
$nav-dashboard-arrow-up: 'images/nav-dashboard-arrow-up.png';
$nav-dashboard-arrow-down: 'images/nav-dashboard-arrow-down.png';
$nav-dashboard-on: 'images/nav-dashboard-on.png';
$nav-dashboard-off: 'images/nav-dashboard-off.png';
$avatar-default-image: 'images/avatar-default.jpg';
$trans-dots-bkgd: 'images/bkgd-dots.png';
$icon-social-fb: 'images/icon-social-fb.png';
$icon-social-twitter: 'images/icon-social-twitter.png';
$icon-social-email: 'images/icon-social-email.png';
$bkgd-dial-vertical: 'images/bkgd-dial-vertical.png';
$bkgd-dial-horizontal: 'images/bkgd-dial-horizontal.png';
$icon-info: 'images/icon-info.png';
$bkgd-upload-avatar: 'images/bkgd-upload-avatar.png';



/* -----------------------------------------
   Shapes
----------------------------------------- */
@mixin arrow($direction:'right', $color:#000, $width:5px, $length:7px) {
    width: 0;
    height: 0;
    @if $direction == 'down' {
        border-left: $width solid transparent;
        border-right: $width solid transparent;

        border-top: $length solid $color;
    }
    @else if $direction == 'up' {
        border-left: $width solid transparent;
        border-right: $width solid transparent;

        border-bottom: $length solid $color;
    }
    @else if $direction == 'left' {
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;

        border-right:$length solid $color;
    }
    @else {
        border-top: $width solid transparent;
        border-bottom: $width solid transparent;

        border-left: $length solid $color;
    }
}


@mixin border-radius ($value: 4px) {
    @include border-top-radius($value);
    @include border-bottom-radius($value);
}