@charset "UTF-8";
/* CSS Document */
div#shiny-object 
{
	margin-top:6px;
	padding:0;
	/*font-family:Arial, Helvetica, sans-serif;*/
	/*background-image: url(../img/template.jpg);*/
	/*background-position: 47px 29px;*/
}
div#shiny-object h2
{
	margin-top:0;
	margin-bottom:5px;
}

.product-respisure div#shiny-object h2 {
	color:#d31145;
}

.product-fostera div#shiny-object h2 {
	color:#1B3D6F;
}

div#shiny-object sup
{
	font-size:.5em;
}
div#shiny-object div
{
	position:absolute;
/*	left: 3px;
	width: 378px;*/
}
div#shiny-object #header
{
	top:20px;
	left:0;
	height:65px;
	width:1024px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(11,63,119,1)), color-stop(100%,rgba(11,63,119,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(11,63,119,1) 0%,rgba(11,63,119,0) 100%); /* Chrome10+,Safari5.1+ */
	color:#fff;
	font-size:32px;
	font-family: Arial, Helvetica, sans-serif;
	
}
div#shiny-object #headerText
{
	top:15px;
	left:150px;
	width:500px;
}
div#shiny-object #headerText2
{
	top:10px;
	left:800px;
	width:200px;
	color:#0b3f77;
	font-size:18px;
	text-align:center;
}
div#shiny-object #chart
{
	left:80px;
	top:144px;
	background-image: url(../img/mainBG.png);
	background-repeat: no-repeat;
	width:902px;
	height:505px;
	background-position: 50px 0px;
}
div#shiny-object #syringe1
{
	left:435px;
	top:132px;
	width:315px;
	height:70px;
}
div#shiny-object #syringe1 img:first-child
{
	margin-right:180px;
}
div#shiny-object #syringe2
{
	left:435px;
	top:249px;
}
div#shiny-object #syringe3
{
	left:275px;
	top:359px;
	width:315px;
	height:70px;
}
div#shiny-object #syringe3 img:first-child
{
	margin-right:100px;
}
div#shiny-object #popUp, div#shiny-object #animations, div#shiny-object #hotspots
{
	left:104px;
	top:255px;
	z-index:100;
}
div#shiny-object #hotspots
{
	z-index:101;
}
div#shiny-object .ani
{
	display:none;
	width:830px;
	height:107px;
	background-color:#fff;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	overflow:hidden;
}
div#shiny-object .hot
{
	width:830px;
	height:107px;
}
div#shiny-object .b1
{
	z-index:5;
	left: 635px;
	top: 139px;
	opacity:0;
}
div#shiny-object .b2
{
	z-index:6;
	left:565px;
	top:136px;
	opacity:0;
}
div#shiny-object .b3
{
	z-index:7;
	left:495px;
	top:136px;
	opacity:0;
}
div#shiny-object .b4
{
	z-index:8;
	left:425px;
	top:136px;
	opacity:0;
}
div#shiny-object .b5
{
	z-index:9;
	left:355px;
	top:136px;
	opacity:0;
}
div#shiny-object .b6
{
	z-index: 10;
	left: 302px;
	top: 141px;
	width: 66px;
	height: 65px;
	background-color: #0E783C;
	opacity:0;
}
div#shiny-object #h1, div#shiny-object #h2, div#shiny-object #h3, div#shiny-object #h4
{
	top: 15px;
	left: 165px;
	display:none;
}
div#shiny-object .arrow1
{
	z-index:5;
	left: 445px;
	top: 45px;
	opacity:0;
}
div#shiny-object .arrow2
{
	z-index:5;
	left: 425px;
	top: 45px;
	opacity:0;
}
div#shiny-object .scene
{
	left:160px;
	top:15px;
}
div#shiny-object .txt
{
	opacity:0;
	left:425px;
	top:10px;
}
div#shiny-object #ani2 .txt
{
	left:327px;
}
div#shiny-object .head1
{
	top:22px;
	left:25px;
}
div#shiny-object .head2
{
	top:35px;
	left:45px;
}
div#shiny-object .head3
{
	top: 35px;
	left: 55px;
}
div#shiny-object .popUp
{
	display:none;
	width:830px;
	height:107px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid #CCC;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,0)), color-stop(10%,rgba(216,216,216,0.1)), color-stop(25%,rgba(216,216,216,0)), color-stop(37%,rgba(216,216,216,0.09)), color-stop(38%,rgba(218,218,218,0.1)), color-stop(50%,rgba(239,239,239,0.19)), color-stop(51%,rgba(201,201,201,0.2)), color-stop(54%,rgba(202,202,202,0)), color-stop(100%,rgba(224,224,224,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(191,191,191,0) 0%,rgba(216,216,216,0.1) 10%,rgba(216,216,216,0) 25%,rgba(216,216,216,0.09) 37%,rgba(218,218,218,0.1) 38%,rgba(239,239,239,0.19) 50%,rgba(201,201,201,0.2) 51%,rgba(202,202,202,0) 54%,rgba(224,224,224,0.5) 100%); /* Chrome10+,Safari5.1+ */
}
div#shiny-object #pop1inner
{
	left:338px;
	top:15px;
	width:600px;
}
div#shiny-object #pop1inner img:first-child
{
	margin-right:20px;
}
div#shiny-object #pop2 img
{
	margin-top:15px;
	margin-left:338px;
}
div#shiny-object #pop3inner
{
	top:10px;
	left:165px;
}
div#shiny-object #pop3inner img:first-child
{
	margin-right:20px;
}
div#shiny-object #pop1
{
	
}
div#shiny-object #pop2, div#shiny-object #ani2, div#shiny-object #hotspot2
{
	top:110px;
}
div#shiny-object #pop3, div#shiny-object #ani3, div#shiny-object #hotspot3
{
	top:220px;
}
div#shiny-object #hotspot4
{
	left: 42px;
	top: 639px;
	height: 50px;
	width: 150px;
}
div#shiny-object #dropdown
{
	left: 266px;
	top: 116px;
	width:237px;
	z-index:5;
}
/*.rotateArrow*/
div#shiny-object .arrowAni
{
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
div#shiny-object #dropArrow
{
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition:transform 0.5s ease-in-out;
	top: 10px;
	left: 32px;
	height:10px;
	width:10px;
	padding-left:3px;
}
div#shiny-object #dropArrow > img {
	display: block;
}
div#shiny-object #dropText
{
	padding:20px;
	width:195px;
	line-height:1.4em;
	display:none;
	height:400px;
	background-color:#fff;
	z-index:100;
}

div#shiny-object #lightboxMask
{
	display:none;
	width:1024px;
	height:768px;
	background-color: rgba(0, 0, 0, .3);
	z-index:99;
}
div#shiny-object #subText
{
	top:20px;
	left:30px;
	width:934px;
	font-size:14px;
}
div#shiny-object #reference
{
	top: 50px;
	left: 120px;
	width: 660px;
	height: 580px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color:#fff;
	z-index:100;
	border: 5px solid #333;
	padding:20px;
	font-size:12px;
	display:none;
}
div#shiny-object .shadow
{
	-webkit-box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .3);
    box-shadow:  0px 5px 5px 5px rgba(0, 0, 0, .3);
}
div#shiny-object .above
{
	z-index:102 !important;
}
div#shiny-object .below
{
	z-index:1 !important;
}
div#shiny-object div.close
{
	position:absolute;
	width: 50px;
	height: 50px;
	left: 970px;
	top: 660px;
}
