﻿
   <%@ Page Language="c#" AutoEventWireup="false"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />
<title>Contact Us</title>
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="top" title="Main" href="/" />

<link rel="Shortcut Icon" type="image/x-icon" href="/media/img/favicon.ico" />
<meta name="keywords" content="" />
<meta name="description" content="" />

<link  rel="stylesheet" type="text/css" media="screen" href="/media/css/gsearch.css?r28" />
<link  rel="stylesheet" type="text/css" media="screen" href="/media/css/screen.css?r28" />
<link  rel="stylesheet" type="text/css" media="screen" href="/media/css/jqtransform.css?r28" />
<link  rel="stylesheet" type="text/css" media="print" href="/media/css/print.css?r28" />
	
<!--[if gt IE 5.0002]> <!-->
<script type="text/javascript">
ROOT_URL = '/media/';
</script>
<script src="/media/js/jquery-1.4.2.min.js?r28" type="text/javascript"></script>
<script src="/media/js/jquery.simplemodal-1.3.4.min.js?r28" type="text/javascript"></script>
<script src="/media/js/flowplayer-3.1.4.min.js?r28" type="text/javascript"></script>
<script src="/media/js/jquery.jqtransform.js" type="text/javascript"></script>
<script src="/media/js/functions.js?r28" type="text/javascript"></script>
<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=ABQIAAAAnrK3142N6sbfmbEEG4bhrBTh745x_UIqv7PwisRaQKmWyQiHiBQGeufiC8RgOBt_aEJbcOk4NNMpqg" type="text/javascript"></script>

	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-15216892-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>    


<!--<![endif]-->

</head>
<body class="contact ">
<script type="text/javascript">
jQuery('body').addClass('jsEnabled'); // A hook to hide/show things based on JS availability.
</script>

<div id="container">

	<div id="header" class=" noChildPages ">
		<div class="logo"><a href="/"><img src="/media/img/header_logo.gif" width="265" height="46" alt="Menveo.com" /></a></div>
		<div class="menu">
			<p class="hiddenContent">Navigation (<a href="#content">Skip</a>)</p>
			<ul>
				<li class="first "><a href="/">Home</a></li>
				
					
				
					<li class=""
					><a href="/about-meningitis/">About meningitis</a>
										
					</li>
				
                    <li class=""
					><a href="/about/">About Menveo<sup>&reg;</sup></a>
										
					</li>

					<li class=""
					><a href="/risks/">Know the Risks</a>
										
					</li>
				
					<li class=""
					><a href="/resources/">Resources</a>
										
					</li>
				
				<li class="last"><a href="https://www.novartisvaccinesdirect.com/Menveo/About">Healthcare providers</a></li>				
			</ul>
		</div>
		<form id="searchForm" action="#">
			<label for="search">Search</label>
			<input type="text" id="search" name="search" />
			<a href="#search" id="searchSubmit">&nbsp;</a>
		</form>

		<div id="toolsMenu">
			<ul>
				<li class="first"><a href="https://www.novartisvaccinesdirect.com/PDF/Menveo_Full_Promotional_PI.pdf">Prescribing information</a></li>
				<li><a href="#extraText">Safety information</a></li>								
				<li><a href="#" id="print">Print</a></li>
				<li><a href="mailto:friend@example.com?subject=Meningococcal%20meningitis%20information%20I%20thought%20you%20would%20be%20interested%20in%20...&amp;body=I%20was%20reading%20about%20meningococcal%20meningitis%20on%20http%3A//www.menveo.com/contact/%20and%20I%20came%20across%20information%20that%20I%20thought%20you%20might%20find%20helpful.%0D%0A%0D%0APlease%20have%20a%20look.%0D%0A%0D%0AThis%20service%20was%20provided%20by%20Novartis%20Vaccines%20and%20Diagnostics%3B%20however%2C%20your%20email%20address%20was%20not%20retained%20by%20Novartis%20Vaccines%20and%20Diagnostics.%0D%0AYou%20will%20not%20receive%20emails%20from%20us%20that%20you%20have%20not%20agreed%20to%20receive.%20Click%20here%20to%20view%20our%20Privacy%20Policy%20http%3A//www.novartisvaccines.com/util/privacy.shtml%0D%0A%0D%0A%28C%29%202010%20Novartis%20Vaccines%20and%20Diagnostics%2C%20Inc.%20All%20rights%20reserved.">Email</a></li>
				<li class="last"><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=meningitiscom" class="addthis_button">Share</a></li>				
			</ul>
		</div>
	</div>
	
	
	
	
	
	<div id="wrapper" class="clearfix">
		<div id="content">
			<div id="contentInner">
				

			<h1><strong>Contact Us</strong></h1>
			
			
			<!--<p class="summary">Patients, caregivers, friends, family and healthcare professionals can count on Novartis Vaccines to answer questions regarding our products and services.</p>
                -->
            <p class="summary">Patients, caregivers, friends, family, and healthcare professionals with questions regarding our products and services can count on Novartis Vaccines.</p>			
			
			
			<div class="intro">
				
				
				
				<div class="text">
					<p><strong>If our search function doesn't find the information that you're looking for, contact us and we'll start finding your answers right away.</strong></p>
<p>Phone</p>
<p>877-NV-DIRECT&nbsp; (1-877-683-4732)<br /> Customer Service Representative: Monday - Friday, 8:00am - 8:00pm EDT/EST<br /> Medical Communications: Monday - Friday, 9:00am - 5:30pm EDT/EST</p>
<p>In case of medical emergency, please contact your physician immediately. Hours of operation may vary during U.S. holidays. For medically related questions, please email <a href="mailto:vaccinesinfo.us@novartis.com">vaccinesinfo.us@novartis.com</a></p>
<p>Mail</p>
<!--
<p>Novartis Vaccines<br /> Medical Communications-US<br /> 350 Massachusetts Avenue<br /> Cambridge, MA 02139<br /> United States of America</p>
<p>Upon receipt of your letter, we will mail a reply to you within 2 business days. Please allow for US postal service turnaround time. Response times may vary during U.S. holiday periods.</p>
-->
<p>Novartis Vaccines<br /> One Health Plaza<br />East Hanover, New Jersey 07936-1080<br /> United States of America</p>
<p>Upon receipt of your letter, we will mail a reply to you within 2 business days. Please allow for US postal service turnaround time. Response times may vary during U.S. holiday periods.</p>
				</div>
				
			</div>
			
			
			<div class="contentText">
				
			</div>	
			
			
			
						
			
			

			</div>
		</div><!-- /content -->
		
		<div id="sidebar">
			
			
			
		

				
			
			
			<div class="box_button">
				<a href="#extraText"><b><i>Important Safety Information</i></b></a>
			</div>	
							

			
		</div><!-- /sidebar -->
		
		
		
		
	</div><!-- /wrapper -->
	
	
	<div id="extraText">
<%		   
      Response.WriteFile("../includes/isi.html");
%>

<!--
		<div class="inner">
            	<b>Indication</b>

<p>Menveo is a vaccine indicated for active immunization to prevent invasive meningococcal disease caused by <em>Neisseria meningitidis</em> serogroups A, C, Y, and W-135. Menveo is approved for use in persons 2 months to 55 years of age. Menveo does not prevent <em>N. meningitidis</em> serogroup B infections.</p>

<b>Important Safety Information</b>

<p>You should not receive Menveo if you have had a severe allergic reaction to any ingredient of the vaccine, or if you have had a severe allergic reaction to a vaccine containing similar components as Menveo.</p>

<p>Common side effects from Menveo include pain and redness at the injection site, headache, muscle pain, fatigue, nausea, and fainting. In infants under 2 years old, persistent crying, sleepiness, and diarrhea were also observed. Sometimes fainting is accompanied by falling with injury. Other side effects can also occur.</p>

<p>Following vaccination with a US-licensed meningococcal conjugate vaccine, an evaluation of postmarketing adverse events suggested a potential for increased risk of Guillain-Barré Syndrome (GBS). There is not enough information to evaluate if a risk of <span class="caps">GBS</span> exists following administration of Menveo.</p>

<p>Tell your doctor if you are pregnant or planning to get pregnant.</p>

<p>Vaccination with Menveo may not protect all individuals.</p>

<p>For more information about Menveo, talk to your health-care professional.</p>

<p>Menveo.com has been developed by Novartis Vaccines as part of the company&#8217;s commitment to individual and public health.</p>

			

				
		</div>
        -->
	</div>	
	

	<div id="footer">
		<a href="http://www.novartisvaccines.com/" class="logo"><img src="/media/img/footer_logo.gif" alt="Novartis Vaccines" width="97" height="27" /></a>
		<ul class="menu">
			
				<li class=" first 
				"
				><a href="/sitemap/">Site Map</a></li>								
			
				<li class="
				 selected "
				><a href="/contact/">Contact Us</a></li>								
			
			<li><a href="http://www.novartisvaccines.com/util/privacy.shtml">Privacy Policy</a></li>
			<li><a href="http://www.novartisvaccines.com/util/terms.shtml">Terms of Use</a></li>
			<li class="last"><a href="http://www.novartisvaccines.com">Novartis Vaccines</a></li>
		</ul>
	</div>

	<div id="copyright">
		<p>
            This site is sponsored by Novartis Vaccines.<br />
            Use of this website is governed by the Terms of Use and Privacy Statement.<br />
            &copy; 2013 Novartis Vaccines. All rights reserved.<br />
            <br />
            Menveo is a registered trademark of Novartis Vaccines.
        </p>
	</div>
	
</div><!-- /#container -->

<script type="text/javascript">
var addthis_config = {
	ui_language: 'en'
	// data_ga_tracker: Google Analytics tracking object, or the name of a global variable that references it.
   }
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=meningitiscom"></script>


<div id="simplemodal">
	<div class="inner">
	</div>
</div>
<div id="confirm">
	<p class="header"><strong>Menveo.com</strong> Exit Notice</p>
	<p class="message">You are now leaving the Menveo.com site and moving to an external website independently operated and not managed by Novartis Vaccines. Novartis assumes no responsibility for the site. If you do not wish to leave this site, click Cancel. Or, click OK to continue.</p>
	<p class="buttons">
		<a class="yes"><span>OK</span></a><a class="no simplemodal-close"><span>Cancel</span></a>
	</p>
</div>

</body>
</html>