﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kineret HCP - @ViewBag.Title</title>

    <!-- library -->
    <script src="/Contents/patient/scripts/library/jquery-1.8.2.js"></script>
    
    <!-- styles -->
    <!--<link href="/Contents/patient/styles/patient.css" rel="stylesheet" />-->
    <link href="/Contents/global/styles/styles.css" rel="stylesheet" />

    <!-- script -->
    <script src="/Contents/patient/scripts/global.js"></script>
</head>
<body class="patient">
    <!-- page -->
    <div id="page">
        <!-- header -->
        <header>
            <!--<p>IMPORTANT SAFETY INFORMATION | FULL PRESCRIBING INFORMATION / PATIENT INFORMATION LEAFLET</p>-->

        <div class="sub_nav">
          <ul>
              <li><a href="/HCP/isi" style="border-right: 1px solid;" >IMPORTANT SAFETY INFORMATION</a></li>
              <li><a href="http://pi.vrtx.com/files/uspi_telaprevir.pdf" target="_blank">FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</a></li>
          </ul>
          </div>

            <div id="header_logo"><img onclick="window.location='/'" src="/Contents/patient/images/kineret.png" /></div>

            <div id="header_logo"><a href="/"><img src="/Contents/patient/images/kineret.png" /></a></div>
<div id="header_nav">
<ul>
                <li><a href="/hcp">For Healthcare Professionals</a></li>
                <li><a class="active" href="#">For RA Patients</a></li>
                <li class="nomid">For NOMID Patients</a></li>
</ul>
<span class="search" > <a href="#"><img src="/Contents/patient/images/header_search.png" /></a></span>
</div>
        </header>

        <!-- nav -->
        <nav>
            <ul>
                <li class="home"><a href="/Patient">NOMID Home</a></li>
                <li class="about"><a href="/Patient/AboutKineret">About Kineret<sup>&reg;</sup></a></li>
                <li class="taking"><a href="/Patient/TakingKineret">Taking Kineret</a></li>
                <li class="disease"><a href="/Patient/AboutAutoinflammatoryDisease">About Autoinflammatory<br />Disease</a></li>
                <li class="support"><a href="/Patient/KineretKarePatientSupport">KineretKare<br />Patient Support</a></li>
            </ul>
        </nav>

        <!-- content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- footer -->
        <footer>
            <div id="footer_logo"><img src="/Contents/patient/images/sobi.png" /></div>
            
            <p>Full Prescribing Information   |   Contact Us   |   Privacy Policy   |   Terms of Use   |   Site Map</p>
            <p>
                Kineret is a registered trademark, licensed by Swedish Orphan Biovitrum AB (publ) and is marketed by Sobi, Inc.<br />
                KIN_11313, February 2014. © 2014 Swedish Orphan Biovitrum. All rights reserved.
            </p>



        </footer>
    </div>

    <!-- script rendering -->
    @RenderSection("scripts", false)
</body>
</html>
