﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kineret HCP - @ViewBag.Title</title>

    <!-- library -->
    <script src="/Contents/hcp/scripts/library/jquery-1.8.2.js"></script>
    
    <!-- styles -->
    <!--<link href="/Contents/hcp/styles/hcp.css" rel="stylesheet" />-->
    <link href="/Contents/global/styles/styles.css" rel="stylesheet" />
	
    <!-- script -->
    <script src="/Contents/hcp/scripts/global.js"></script>
</head>
<body class="hcp">
    <!-- page -->
    <div id="page">
        <!-- header -->
        <header>
        <!--            <p>IMPORTANT SAFETY INFORMATION | FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</p>-->

          <div class="sub_nav">
          <ul>
              <li><a href="/HCP/isi" style="border-right: 1px solid;" >IMPORTANT SAFETY INFORMATION</a></li>
              <li><a href="http://pi.vrtx.com/files/uspi_telaprevir.pdf" target="_blank">FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</a></li>
          </ul>
          </div>

            <div id="header_logo"><img onclick="window.location='/'" src="/Contents/hcp/images/kineret.png" /></div>

            <div id="header_nav">
                <img src="/Contents/hcp/images/header_hcp.png" />
                <a href="#"><img src="/Contents/hcp/images/header_ra.png" /></a>
                <a href="/patient"><img src="/Contents/hcp/images/header_nomid.png" /></a>
                <a href="#"><img src="/Contents/hcp/images/header_search.png" /></a>&nbsp;
            </div>
        </header>

        <!-- nav -->
        <nav>
            <ul>
                <li class="home"><a href="/HCP">HCP Home</a></li>
                <li class="about"><a href="/HCP/AboutKineret">About Kineret</a></li>
                <li class="ra"><a href="/HCP/TreatingRAPatients">Treating RA Patients</a></li>
                <li class="nomid"><a href="/HCP/TreatingNOMIDPatients">Treating NOMID Patients</a></li>
                <li id="last-kid" class="support"><a href="/HCP/ReimbursementSupport">Reimbursement Support</a></li>
            </ul>
        </nav>

        <!-- content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- footer -->
        <footer>
            <div id="footer_logo"><img src="/Contents/hcp/images/sobi.png" /></div>
            
            <p>Full Prescribing Information   |   Contact Us   |   Privacy Policy   |   Terms of Use   |   Site Map</p>
            <p>
                Kineret is a registered trademark, licensed by Swedish Orphan Biovitrum AB (publ) and is marketed by Sobi, Inc.<br />
                KIN_11313, February 2014. © 2014 Swedish Orphan Biovitrum. All rights reserved.
            </p>

        </footer>
    </div>

    <!-- script rendering -->
    @RenderSection("scripts", false)
</body>
</html>
