﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kineret HCP - @ViewBag.Title</title>

    <!-- library -->
    <script src="/Contents/patient/scripts/library/jquery-1.8.2.js"></script>
    
    <!-- styles -->
    <!--<link href="/Contents/patient/styles/patient.css" rel="stylesheet" />-->
    <link href="/Contents/global/styles/styles.css" rel="stylesheet" />
	
    <!-- script -->
   <!-- <script src="/Contents/patient/scripts/global.js"></script>-->
</head>
<body class="patient">
    <!-- page -->
    <div id="page">
        <!-- header -->
        <header>
            <!--<p>IMPORTANT SAFETY INFORMATION | FULL PRESCRIBING INFORMATION / PATIENT INFORMATION LEAFLET</p>-->

        <div class="sub_nav">
          <ul>
              <li><a href="/patient/isi" style="border-right: 1px solid;" >IMPORTANT SAFETY INFORMATION</a></li>
              <li><a href="http://pi.vrtx.com/files/uspi_telaprevir.pdf" target="_blank">FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</a></li>
          </ul>
          </div>

            <div id="header_logo"><a href="/"><img src="/Contents/patient/images/kineret.png" /></a></div>
<div id="header_nav">
<span class="search" > <a href="#"><img src="/Contents/patient/images/header_search.png" /></a></span>
<ul>
                <li><a href="/hcp">For Healthcare Professionals</a></li>
                <li><a class="active" href="#">For RA Patients</a></li>
                <li class="nomid">For NOMID Patients</a></li>
</ul>
</div>


         <!--   <div id="header_nav">
                <a href="/hcp"><img src="/Contents/patient/images/header_hcp.png" /></a>
                <a href="#"><img src="/Contents/patient/images/header_ra.png" /></a>
                <a href="#"><img src="/Contents/patient/images/header_nomid.png" /></a>
                <a href="#"><img src="/Contents/patient/images/header_search.png" /></a>&nbsp;&nbsp;
            </div>-->
        </header>

        <!-- nav -->
        <nav>
            <ul>
                <li class="home"><a href="/Patient">NOMID Home</a></li>
                <li class="about"><a href="/Patient/AboutKineret">About Kineret</a></li>
                <li class="taking"><a href="/Patient/TakingKineret">Taking Kineret</a></li>
                <li class="disease"><a href="/Patient/AboutAutoinflammatoryDisease">About Autoinflammatory<br />Disease</a></li>
                <li class="support"><a href="/Patient/KineretKarePatientSupport">KineretKare<br />Patient Support</a></li>
            </ul>
        </nav>

        <!-- content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- isi -->
        <div id="isi">
            <p><strong>INDICATIONS</strong></p>
            <p>Kineret<sup>&reg;</sup> is a prescription medicine called an interleukin-1 receptor antagonist (IL-1ra) used to:</p>
            <ul>
                <li>Reduce the signs and symptoms, and slow the damage of moderate to severe active rheumatoid arthritis (RA) in people age 18 years and older when 1 or more other drugs for RA have not worked</li>
                <li>Treat people with a form of Cryopyrin-Associated Periodic Syndromes (CAPS) called Neonatal-Onset Multisystem Inflammatory Disease (NOMID)</li>
            </ul>

            <p>Kineret is not for children with Juvenile Rheumatoid Arthritis.</p>
            <p><strong>IMPORTANT SAFETY INFORMATION</strong></p>
            <p><strong>Do not take Kineret if you are allergic to:</strong> </p>
            <ul>
                <li>Proteins made from bacteria called E. coli. Ask your healthcare provider if you are not sure</li>
                <li>Anakinra or any of the ingredients in Kineret. See the end of the patient leaflet for a complete list of ingredients in Kineret</li>
            </ul>
            <p><strong>Before you use Kineret, tell your healthcare provider if you:</strong></p>
            <ul>
                <li>Have an infection, a history of infections that keep coming back, or other problems that can increase your risk of infections</li>
                <li>Have an allergy to rubber or latex. The inner needle cover on the prefilled syringe contains latex. Do not handle the needle cover if you are allergic to latex</li>
                <li>Have kidney problems</li>
                <li>Are scheduled to receive any vaccines. People using Kineret should not receive live vaccines</li>
                <li>Are pregnant or plan to become pregnant. It is not known if Kineret will harm your unborn baby</li>
                <li>Are breastfeeding or plan to breastfeed. It is not known if Kineret passes into your breast milk. You and your healthcare provider should decide if you will use Kineret or breastfeed</li>
            </ul>             <p><strong>Tell your healthcare provider about all the medicines you take</strong>, including prescription and over-the-counter medicines, vitamins, and herbal supplements.Kineret and other medicines may affect each other and cause serious side effects. Especially tell your healthcare provider if you take certain other medicines that affect your immune system called Tumor Necrosis Factor (TNF) Blockers. Ask your healthcare provider for a list of these medicines if you are not sure. </p>
            <p><strong>Kineret may cause serious side effects, including:</strong></p>
            <ul>
                <li><strong>Serious infections.</strong> Kineret may lower your ability to fight infections. During treatment with Kineret, call your healthcare provider right away if you get an infection, have any sign of an infection including a fever or chills, or have any open sores on your body. You may get an infection if you receive live vaccines while you use Kineret. You should not receive live vaccines while you use Kineret. </li>
                <li><strong>Allergic reactions.</strong> Stop using Kineret and call your healthcare provider or get emergency help right away if you have any of these symptoms of an allergic reaction: swelling of your face, lips, mouth, or tongue; trouble breathing; wheezing; severe itching; skin rash, redness, or swelling outside of the injection site area; dizziness or fainting; fast heartbeat or pounding in your chest (tachycardia); or sweating.</li>
                <li><strong>Decreased ability of your body to fight infections (immunosuppression)</strong>. It is not known if treatment with medicines that cause immunosuppression, like Kineret, affect your risk of getting cancer.</li>
                <li><strong>Low white blood cell count (neutropenia)</strong>. Kineret may cause you to have a lower number of certain white cells (neutrophils). Neutrophils are important in fighting infections. You should have blood tests before starting treatment with Kineret, then monthly for 3 months. After the first 3 months you should have your blood tested every 3 months for up to 1 year.</li>
            </ul>

            <p>The most common side effects of Kineret include:</p>
            <ul>
                <li>Injection site skin reactions, including redness, swelling, bruising, itching, and stinging. Most injection site reactions are mild, happen early during treatment, and last about 14 to 28 days. Injection site reactions have been observed less frequently in people with NOMID</li>
                <li>Rheumatoid arthritis (RA) gets worse with treatment, if you already have RA</li>
                <li>Headache</li>
                <li>Nausea and vomiting</li>
                <li>Diarrhea</li>
                <li>Joint pain</li>
                <li>Fever</li>
                <li>Feeling like you have the flu</li>
                <li>Sore throat or runny nose</li>
                <li>Sinus infection</li>
                <li>Pain in your stomach area</li>
            </ul>
<p>Tell your healthcare provider if you have any side effect that bothers you or does not go away. These are not all of the possible side effects of Kineret. For more information ask your healthcare provider or pharmacist.</p>
        </div>

        <!-- footer -->
        <footer>
            <div id="footer_logo"><img src="/Contents/patient/images/sobi.png" /></div>
            
            <p>Full Prescribing Information   |   Contact Us   |   Privacy Policy   |   Terms of Use   |   Site Map</p>
            <p>
                Kineret is a registered trademark, licensed by Swedish Orphan Biovitrum AB (publ) and is marketed by Sobi, Inc.<br />
                KIN_11313, February 2014. © 2014 Swedish Orphan Biovitrum. All rights reserved.
            </p>



        </footer>
    </div>

    <!-- script rendering -->
	
	 <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
    <script src="/Contents/global/scripts/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->


	
    @RenderSection("scripts", false)
</body>
</html>
