﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kineret HCP - @ViewBag.Title</title>

    <!-- library -->
    <script src="/Contents/hcp/scripts/library/jquery-1.8.2.js"></script>
    
    <!-- styles -->
    <!--<link href="/Contents/hcp/styles/hcp.css" rel="stylesheet" />-->
    <link href="/Contents/global/styles/styles.css" rel="stylesheet" />
    <link href="/Contents/global/styles/example.css" rel="stylesheet" />
    <link href="/Contents/global/styles/font-awesome.min.css" rel="stylesheet" />
	
    <!-- script -->
    <script src="/Contents/hcp/scripts/global.js"></script>
</head>
<body class="hcp">
    <!-- page -->
    <div id="page">
        <!-- header -->
        <header>
        <!--<p>IMPORTANT SAFETY INFORMATION | FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</p>-->

          <div class="sub_nav">
          <ul>
              <li><a href="/HCP/isi" style="border-right: 1px solid;" >IMPORTANT SAFETY INFORMATION</a></li>
              <li><a href="http://pi.vrtx.com/files/uspi_telaprevir.pdf" target="_blank">FULL PRESCRIBING INFORMATION / PATIENT INSTRUCTION FOR USE</a></li>
          </ul>
          </div>

            <div id="header_logo"><a href="/"><img  src="/Contents/hcp/images/kineret.png" /></a></div>

            <div id="header_nav">
                <img src="/Contents/hcp/images/header_hcp.png" />
                <a href="#"><img src="/Contents/hcp/images/header_ra.png" /></a>
                <a href="/patient"><img src="/Contents/hcp/images/header_nomid.png" /></a>
                <a href="#"><img src="/Contents/hcp/images/header_search.png" /></a>&nbsp;
            </div>
        </header>

        <!-- nav -->
        <nav>
            <ul>
                <li class="home"><a href="/HCP">HCP Home</a></li>
                <li class="about"><a href="/HCP/AboutKineret">About Kineret</a></li>
                <li class="ra"><a href="/HCP/TreatingRAPatients">Treating RA Patients</a></li>
                <li class="nomid"><a href="/HCP/TreatingNOMIDPatients">Treating NOMID Patients</a></li>
                <li id="last-kid"><a href="/HCP/ReimbursementSupport">Reimbursement Support</a></li>
            </ul>
        </nav>

        <!-- content -->
        <div id="content">
            @RenderBody()
        </div>

        <!-- isi -->
        <div id="isi">

<p><strong>INDICATIONS</strong></p>
<p>Kineret<sup>&reg;</sup> is a prescription medicine called an interleukin-1 receptor antagonist (IL-1ra) used to:</p>
<p><strong>Rheumatoid Arthritis (RA)</strong></p>
<ul>
    <li>Reduction in signs and symptoms and slowing the progression of structural damage in moderately to severely active rheumatoid arthritis, in patients 18 years of age or older who have failed 1 or more disease-modifying antirheumatic drugs (DMARDs).</li>
</ul>
<p><strong>Cryopyrin-Associated Periodic Syndromes (CAPS) </strong></p>
<ul>
    <li>Treatment of Neonatal-Onset Multisystem Inflammatory Disease (NOMID)</li>
</ul>

<p><strong>IMPORTANT SAFETY INFORMATION</strong></p>
<ul>
    <li>Kineret is contraindicated in patients with known hypersensitivity to E. coli-derived proteins, Kineret, or to any components of the product</li>
    <li>In RA, discontinue use if serious infection develops. In Kineret-treated NOMID patients, the risk of a NOMID flare when discontinuing Kineret treatment should be weighed against the potential risk of continued treatment. Do not initiate Kineret in patients with active infections</li>
    <li>Use in combination with Tumor Necrosis Factor (TNF) blocking agents is not recommended</li>
    <li>Hypersensitivity reactions, including anaphylactic reactions and angioedema, have been reported</li>
    <li>The impact of treatment with Kineret on active and/or chronic infections and the development of malignancies is not known</li>
    <li>Live vaccines should not be given concurrently with Kineret</li>
    <li>Neutrophil counts should be assessed prior to initiating Kineret treatment, and while receiving Kineret, monthly for 3 months, and thereafter quarterly for a period up to 1 year</li>
    <li><strong>RA:</strong> Most common adverse reactions (incidence ≥ 5%) are injection site reaction, worsening of rheumatoid arthritis, upper respiratory tract infection, headache, nausea, diarrhea, sinusitis, arthralgia, flu-like symptoms, and abdominal pain</li>
    <li><strong>NOMID:</strong> The most common AEs during the first 6 months of treatment (incidence > 10%) are injection site reaction, headache, vomiting, arthralgia, pyrexia, and nasopharyngitis</li>
    <li>A higher rate of serious infections has been observed in RA patients treated with concurrent Kineret and etanercept therapy than in patients treated with etanercept alone. Use of Kineret in combination with TNF blocking agents is not recommended</li>
    <li>Because there is a higher rate of infections in the elderly population in general, caution should be used in treating the elderly</li>
    <li>Kineret is substantially excreted by the kidney, and the risk of toxic reactions to Kineret may be greater in patients with impaired renal function</li>
</ul>
        </div>

        <!-- footer -->
        <footer>
            <div id="footer_logo"><img src="/Contents/hcp/images/sobi.png" /></div>
            
            <p>Full Prescribing Information   |   Contact Us   |   Privacy Policy   |   Terms of Use   |   Site Map</p>
            <p>
                Kineret is a registered trademark, licensed by Swedish Orphan Biovitrum AB (publ) and is marketed by Sobi, Inc.<br />
                KIN_11313, February 2014. © 2014 Swedish Orphan Biovitrum. All rights reserved.
            </p>



        </footer>
    </div>

    <!-- script rendering -->
    @RenderSection("scripts", false)
</body>
</html>
