﻿@{
    ViewBag.Title = "";
    Layout = "/views/shared/_layouthcp.cshtml";
}


<!-- body -->
<div id="content_body">
    <p style="height: 50px;"></p>
    <h1>Important Safety Information</h1>


<div id="isipage">
    <p>INDICATIONS</p>
    <p>Kineret® is an interleukin-1 receptor antagonist indicated for:</p>
    <p>Rheumatoid Arthritis (RA)</p>
    <ul>
        <li>Reduction in signs and symptoms and slowing the progression of structural damage in moderately to severely active rheumatoid arthritis, in patients 18 years of age or older who have failed 1 or more disease-modifying antirheumatic drugs (DMARDs). Cryopyrin-Associated Periodic Syndromes (CAPS) </li>
        <li>Treatment of Neonatal-Onset Multisystem Inflammatory Disease (NOMID)</li>
    </ul>
    <p>IMPORTANT SAFETY INFORMATION</p>
    <ul>
        <li>Kineret is contraindicated in patients with known hypersensitivity to E. coli-derived proteins, Kineret, or to any components of the product</li>
        <li>In RA, discontinue use if serious infection develops. In Kineret-treated NOMID patients, the risk of a NOMID flare when discontinuing Kineret treatment should be weighed against the potential risk of continued treatment. Do not initiate Kineret in patients with active infections</li>
        <li>Use in combination with Tumor Necrosis Factor (TNF) blocking agents is not recommended</li>
        <li>Hypersensitivity reactions, including anaphylactic reactions and angioedema, have been reported</li>
        <li>The impact of treatment with Kineret on active and/or chronic infections and the development of malignancies is not known</li>
        <li>Live vaccines should not be given concurrently with Kineret</li>
        <li>Neutrophil counts should be assessed prior to initiating Kineret treatment, and while receiving Kineret, monthly for 3 months, and thereafter quarterly for a period up to 1 year</li>
        <li>RA: Most common adverse reactions (incidence = 5%) are injection site reaction, worsening of rheumatoid arthritis, upper respiratory tract infection, headache, nausea, diarrhea, sinusitis, arthralgia, flu-like symptoms, and abdominal pain</li>
        <li>NOMID: The most common AEs during the first 6 months of treatment (incidence > 10%) are injection site reaction, headache, vomiting, arthralgia, pyrexia, and nasopharyngitis</li>
        <li>A higher rate of serious infections has been observed in RA patients treated with concurrent Kineret and etanercept therapy than in patients treated with etanercept alone. Use of Kineret in combination with TNF blocking agents is not recommended</li>
        <li>Because there is a higher rate of infections in the elderly population in general, caution should be used in treating the elderly</li>
        <li>Kineret is substantially excreted by the kidney, and the risk of toxic reactions to Kineret may be greater in patients with impaired renal function</li>
    </ul>

</div>




</div>
<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
//        $('nav .about').addClass('on'); // nav selector
    </script>
}