/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

body {
    font-size: 1em;
    line-height: 1.4;
    color: #000;
	font-family:Arial, Helvetica, sans-serif;
}

img {
    vertical-align: middle;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* HEADER CONTENT */

header {
	width:100%;
	border-top:14px solid #ff00a0;
	height: 145px;
	background-color:#ffe64d;
}
#header-content {
	width:1024px;
	margin:31px auto 0;
}
#logo {
	width:341px;
	height:92px;
	background: url(../images/logo_happyFuel.png) no-repeat 55px 0px;
	float:left;
}
#intro-copy {
	width:635px;
	float:left;
}
#intro-copy p {
	width:635px;
	color:#3e3e3e;
	line-height:1.25em;
	margin-top:0;
	margin-left:18px;
	text-indent:-18px;
}

/* MAIN PAGE CONTENT */

#content {
	width:792px;
	margin:15px auto 0;
}
.button-appstore {
	width:172px;
	height:58px;
	background: url(../images/b_appstore.png) no-repeat 0 0;
	display:inline-block;
	float:right;
}
.user {
	width:552px;
	margin-bottom:8px;
}
.user .avatar {
	width:63px;
	height:63px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-clip: padding-box;
	float:left;
	margin-right:8px;
}
.user p {
	margin:0;
	font-family:Helvetica, Arial, sans-serif
}
.user .name {
	font-size:1.125em;
	font-weight:bold;
	padding-top:7px;
}
.user .locaation {
	font-size:.875em;
}
.test {
	width:552px;
	border:2px solid #eee;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	/*background-clip: padding-box;*/
}
.post {
	width:552px;
	border:2px solid #eee;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	background-clip: padding-box;
	margin-bottom:25px;
}
.post img.picture {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-clip: padding-box;
	display:none;
}
#map-canvas {
	width:552px;
	height:300px;
	margin:0;
	padding:0;
	display:none;
}
.caption {
	width:492px;
	margin:17px auto 20px;
	padding:0;
}
.caption p {
	margin:0;
	padding:0;
}
.caption p span.caption-title {
	font-size:1.063em;
	font-weight:bold;
}
.caption p.caption-text {
	font-size:.875em;
}
.sharelinks {
	width:552px;
}
.facebook {
	width:39px;
	height:37px;
	background: url(../images/sprite-share.png) no-repeat 0 0;
	display:inline-block;
	margin-right:6px;
	float:left;
}
.twitter {
	width:39px;
	height:37px;
	background: url(../images/sprite-share.png) no-repeat 0 -40px;
	display:inline-block;
	margin-right:6px;
	float:left;
}
.email {
	width:39px;
	height:37px;
	background: url(../images/sprite-share.png) no-repeat 0 -80px;
	display:inline-block;
	float:left;
}

.video-post {
	width:552px;
	height:300px;
	margin:0;
	padding:0;
	display:none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-clip: padding-box;
}
.video-js {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-clip: padding-box;
}

video {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-clip: padding-box;
}
.audio-post {
	width:552px;
	margin:0;
	padding:0;
	display:none;
}

/* FOOTER CONTENT */

footer {
	width:792px;
	margin:15px auto 0;
	color:#221f1f;
	font-size:.750em;
}

/* RESET PASSWORD CONTENT */
div#content.resetPass {
	width:395px;
	padding-left:90px;
}
h2.update {
	width:395px;
	height:48px;
	background: url(../images/h2-updateFuel.png) no-repeat;
	margin:35px auto 40px;
}
fieldset {
	width:395px;
	margin:0 auto;
	padding:5px 0 0 0;
	border:none;
	color:#3a3a3a;
}
legend {
	font-weight:bold;
	font-size:1.250em;
}
label {
	width:100px;
	height:44px;
	background: url(../images/bkgrnd-formFields.gif);
	margin:0;
	padding:18px 0 0 13px;
	display:block;
	float:left;
	font-size:1.125em;
	font-weight:bold;
}
label.placeholder {
	background: none;
}
label.label-top {
	-moz-border-radius: 5px 0px 0px;
	-webkit-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px;
}
label.label-bottom {
	-moz-border-radius: 0px 0px 0px 5px;
	-webkit-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}
input[type=password] {
	width:282px;
	height:62px;
	background: url(../images/bkgrnd-formFields.gif);
	margin:0;
	padding:0;
	border:none;
	font-size:1.125em;
	float:left;
	text-align:center;
}
	.lt-ie9 input[type=password] {
		height:44px;
		padding:18px 0 0 0;
	}
.input-top {
	-moz-border-radius: 0px 5px 0px 0px;
	-webkit-border-radius: 0px 5px 0px 0px;
	border-radius: 0px 5px 0px 0px;
}
input.input-bottom {
	-moz-border-radius: 0px 0px 5px;
	-webkit-border-radius: 0px 0px 5px 0px;
	border-radius: 0px 0px 5px;
}
.hr {
	margin:0;
	padding:0;
	float:left;
}
.brder {
	display:none;
	float:left;
}
.no-borderradius .brder {
	display:block;
}
.no-borderradius input.input-top,.no-borderradius label.label-top {
	display:block;
	padding-top:11px;
}
.no-borderradius input.input-bottom,.no-borderradius label.label-bottom {
	display:block;
	height:37px;
}
.no-borderradius label.placeholder {
	margin-top:-8px !important;
}

/* OTHER STYLES */

.happy {
	color:#e00085;
	font-weight:bold;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}