﻿<section>
    <img src="/Contents/patient/images/callout_cause.png" />

    <h3>What causes NOMID?</h3>
    <p>Autoinflammatory diseases are<br />genetic. Does NOMID run in families?</p>

    <p><a href="#">Find out here</a></p>
</section>