﻿<section>
    <img src="/Contents/patient/images/callout_medicine.png" />

    <h3>Need Help Getting Your Medicine?</h3>
    <p>KineretKare™ assists you and your doctor</p>

    <p><a href="#">Get Started</a></p>
</section>