﻿<section>
    <img src="/Contents/patient/images/callout_quinn.png" />

    <h3>A NOMID Journey: Quinn</h3>
    <p>Learn about one child's diagnosisand how the family manages life</p>

    <p><a href="#">Watch Quinn's Story</a></p>
</section>