﻿<section>
    <img src="/Contents/patient/images/callout_symptom.png" />

    <h3>Kineret Helps Reduce<br />NOMID Symptoms</h3>
    <p>Patients in studies reported significant relief with Kineret</p>

    <p><a href="#">More About Kineret Results</a></p>
</section>