﻿@{
    ViewBag.Title = "Gateway";
}

<div id="content_body">
    <section><img src="/Contents/home/images/header_1_off.png" data="1" /></section>
    <section><a href="/patient"><img src="/Contents/home/images/header_2_off.png" data="2" /></a></section>
    <!--<section><img onclick="window.location='/hcp'" src="/Contents/home/images/header_3_off.png" data="3" /></section>-->
    <section><a href="/hcp"><img src="/Contents/home/images/header_3_off.png" data="3" /></a></section>
</div>

<div id="callouts">
    <section><img src="/Contents/home/images/callout_support.png" /></section>
    <section><img src="/Contents/home/images/callout_kineret.png" /></section>
</div>

