/*********** Necessary Drupal 7 Styles ************/

.element-invisible { display: none; }

body.front div.messages {
  margin: 30px 0 0 0px;
}

div.messages {
  background-color: #FFFFFF;
  margin: 30px 0 -45px 218px;
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
}

div.messages ul { margin: 0; }

div.status, .ok {
  color: #00A1B1;
}

div.error {
  background: none repeat scroll 0 0 #FFFFFF;
  border: medium none;
  color: #ED1C24;
  padding: 15px;
}

#content.noleft div.error {
  width: 675px !important;
}

div.error li {
  color: #ED1C24;
}

input.error, select.error {
    color: #3A3A3A !important;
}

div.warning, .warning {
  color: #884400;
  width: 455px;
}

.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

body.not-front ul.primary {
  left: 268px;
  position: absolute;
  top: 51px;
}

ul.primary {
  border-top: 1px solid #BBBBBB;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 1em;
  white-space: nowrap;
  width: 450px;
}

ul.primary li {
  display: inline;
}

ul.primary li.active a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: #BBBBBB #BBBBBB #FFFFFF;
  border-style: solid;
  border-width: 1px;
}

ul.primary li a {
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-style: solid solid solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
}

form {
  margin: 0;
  padding: 0;
}

.form-item, .form-actions {
  margin-bottom: 1em;
  margin-top: 1em;
}

.marker, .form-required {
  color: #FF0000;
}

.form-item .description {
  font-size: 0.85em;
}


/**
 * Markup generated by theme_pager().
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
.pager-current {
  font-weight: bold;
}
