body
{
    font-size: 14px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #000000;
}

body.not-front
{
    background: url("/sites/incivek.com/files/images/body-bg-sub.jpg") no-repeat scroll center top #CADBE9;
}

body.node-type-magazine
{
    background: none !important;
}

body.front
{
    background: #ffffff url(/sites/incivek.com/files/images/body-bg-home.jpg) repeat-x left top;
}

input { outline: none; }

div.divider
{
  border-top: 1px solid #b7b7b7;
  height: 1px;
}

div.divider.bold
{
  border-top: 2px solid #000000;
  height: 2px;
}

div.divider.aqua {
  border-top: 1px solid #00a2b1;
}

p { margin: 10px 0; }

ul, ol 
{
    margin: 5px 0 0 0;
    padding-left: 15px;
}

ol li 
{
    padding-top: 5px;
}

ul li
{
    color: #00a2b1;
    padding-top: 5px;
}

ul li span { color: #000000; }

ul.dash { padding: 0; margin: 0; }

ul li.dash {
  background: url("/sites/incivek.com/files/images/dash.gif") no-repeat scroll left 14px transparent;
  list-style: none outside none;
  padding: 7px 0 0 14px;
}

ul ul { 
  margin: 0 0 10px 20px;
}

h1 {
  font-size: 23px;
}

h3 sub, h3 sup {
  font-size: 65%;
}

sup {
  font-size: 85%;
  padding: 0 1px;
  top: -0.2em;
}

h3+p { margin-top: 0; }

a, a:visited { color: #00a1b1; }

a.nounderline { text-decoration: none; }

a:hover { color: #015696; }
a.dkgreen:visited { color: #7f8815 !important; }
a.dkgreen:hover { color: #00a2b1 !important;}
a.blue:visited { color: #015696 !important; }
a.blue:hover { color: #00a2b1 !important; }


.nomargin { margin: 0; }
.notopmargin { margin-top: 0; }

.clear
{
    clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.rollover img {
  left: 0;
  position: absolute;
  top: 0;
}

.rollover:hover img {
  top: auto;
  bottom: 0;
}

.rollover {
  display: block;
  overflow: hidden;
  position: relative;
}

.black { color: #000000 !important; }
.aqua { color: #00a2b1 !important; }
.dkgreen { color: #7f8815 !important; }
.purple { color: #764c8f !important; }
.blue { color: #015696 !important;}
.white { color: #ffffff !important;}

.centered { margin: 0 auto; }

.footnote {
  font-size: 12px;
  font-weight: bold;
}

a.pdf-download {
    background: url("/sites/incivek.com/files/images/pdf-icon-small.png") no-repeat scroll left top transparent;
    display: block;
    padding: 0px 0 0 30px;
    font-weight: bold;
    height: 18px;
    margin: 20px 0;
    color: #015696;
}

a.pdf-download:hover {
	color: #00a1b1;
}


/*--------------- Structure -------------*/
body.front #container
{
    width: 1060px;
    padding: 0;
}

#container 
{
    width: 961px;
    margin: 0 auto;
    position: relative;
    padding: 0 49px 0 50px;
}

#header
{
    height: 50px;
}

body.not-front #content
{
    float: left;
    margin: 18px 0 0 0;
    width: 744px;
    position: relative;
    line-height: 18px;
    color: #000000;
}

#left
{
    width: 217px;
    float: left;
}


/*-------------- Content -----------------*/

#content .top {
  background: url("/sites/incivek.com/files/images/sub-content-top.png") no-repeat scroll 0 0 transparent;
  height: 5px;
}

#content .middle {
  background: url("/sites/incivek.com/files/images/sub-content-mid.png") no-repeat scroll 0 0 #ffffff;
  /*min-height: 381px;*/
  padding: 0 11px;
  position: relative;
}

#content .bottom {
  background: url("/sites/incivek.com/files/images/sub-content-bot.png") no-repeat scroll 0 0 transparent;
  height: 5px;
  margin-bottom: 20px;
}

#content .contentBody {
  padding: 0 11px 0 11px;
  position: relative;
  z-index: 1;
}

#content h2 {
  color: #000000;
  font-size: 17px;
  margin: 0 0 13px 0;
  padding: 0;
}

#content .nextWrapper {
  /*border-top: 1px solid #b7b7b7;*/
  padding: 10px 10px 0 0;
  height: 35px;
}

.next {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  float: right;
  height: 25px;
  text-indent: -9999px;
}

.next.glove { height: 27px; }
.next.people { height: 46px; }
.next.hands { height: 26px; }

.next:hover {
  background-position: left bottom;
}

/*--------------- LeftNav ----------------*/
#left { padding-top: 80px; }

#left-nav
{
    width: 201px;
    margin: 0;  
}

#left-nav ul, #left-nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#left-nav ul li ul {
  margin: 0 0 0 9px;    
}

#left-nav a {
  display: block;
  text-indent: -9999em;
  width: 201px;
}

#left-nav ul li ul a {
  display: block;
  text-indent: -9999em;
  width: 182px;
}

#left-nav a.active
{
    background-position: left bottom !important;
}

#nav-considering-incivek
{
  background: url("/sites/incivek.com/files/images/nav-considering-incivek.png") no-repeat scroll left top transparent;
  height: 52px;
}

#nav-considering-incivek:hover
{
  background: url("/sites/incivek.com/files/images/nav-considering-incivek.png") no-repeat scroll left -52px transparent !important;
}

#nav-considering-incivek.active-trail,
#nav-considering-incivek.active-trail:hover
{
  background: url("/sites/incivek.com/files/images/nav-considering-incivek.png") no-repeat scroll left bottom transparent !important;
  height:53px;
}

#nav-already-taking-incivek
{
  background: url("/sites/incivek.com/files/images/nav-already-taking-incivek.png") no-repeat scroll left top transparent;
  height: 52px;
}

#nav-already-taking-incivek:hover
{
  background: url("/sites/incivek.com/files/images/nav-already-taking-incivek.png") no-repeat scroll left -52px transparent !important;
}

#nav-already-taking-incivek.active-trail,
#nav-already-taking-incivek.active-trail:hover
{
  background: url("/sites/incivek.com/files/images/nav-already-taking-incivek.png") no-repeat scroll left bottom transparent !important;
  height: 53px;
}

#nav-patient-support
{
  background: url("/sites/incivek.com/files/images/nav-patient-support.png") no-repeat scroll left top transparent;
  height: 53px;
}

#nav-patient-support:hover
{
  background: url("/sites/incivek.com/files/images/nav-patient-support.png") no-repeat scroll left -53px transparent !important;
}

#nav-patient-support.active-trail,
#nav-patient-support.active-trail:hover
{
  background: url("/sites/incivek.com/files/images/nav-patient-support.png") no-repeat scroll left bottom transparent !important;
  height: 52px;
}

/*-- Channel 200 --*/
#subnav-chance-for-cure {
  background: url("/sites/incivek.com/files/images/subnav-chance-for-cure.png") no-repeat scroll left top transparent;
  height: 34px; 
}
#subnav-chance-for-cure:hover { background-position: left -34px; }

#subnav-about-incivek
{
  background: url("/sites/incivek.com/files/images/subnav-about-incivek.png") no-repeat scroll left top transparent;
  height: 35px;
}
#subnav-about-incivek:hover { background-position: left -35px; }

#subnav-side-effects
{
  background: url("/sites/incivek.com/files/images/subnav-side-effects.png") no-repeat scroll left top transparent;
  height: 35px;
}
#subnav-side-effects:hover { background-position: left -35px; }

#subnav-getting-ready
{
  background: url("/sites/incivek.com/files/images/subnav-getting-ready.png") no-repeat scroll left top transparent;
  height: 35px;
}
#subnav-getting-ready:hover { background-position: left -35px; }

#subnav-faq1
{
  background: url("/sites/incivek.com/files/images/subnav-faq1.png") no-repeat scroll left top transparent;
  height: 35px;
}
#subnav-faq1:hover { background-position: left -35px; }

#subnav-register1
{
  background: url("/sites/incivek.com/files/images/subnav-register1.png") no-repeat scroll left top transparent;
  height: 35px;
}
#subnav-register1:hover { background-position: left -35px; }

/*-- Channel 300 --*/
#subnav-managing-side-effects {
  background: url("/sites/incivek.com/files/images/subnav-managing-side-effects.png") no-repeat scroll left top transparent;
  height: 34px; 
}
#subnav-managing-side-effects:hover { background-position: left -34px; }

#subnav-chance-for-cure2 {
  background: url("/sites/incivek.com/files/images/subnav-chance-for-cure2.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-chance-for-cure2:hover { background-position: left -36px; }

#subnav-steps-to-completing {
  background: url("/sites/incivek.com/files/images/subnav-steps-to-completing.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-steps-to-completing:hover { background-position: left -36px; }

#subnav-take-with-food {
  background: url("/sites/incivek.com/files/images/subnav-take-with-food.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-take-with-food:hover { background-position: left -36px; }

#subnav-how-incivek-works {
  background: url("/sites/incivek.com/files/images/subnav-how-incivek-works.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-how-incivek-works:hover { background-position: left -36px; }

#subnav-prev-pregnancy {
  background: url("/sites/incivek.com/files/images/subnav-prev-pregnancy.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-prev-pregnancy:hover { background-position: left -36px; }

#subnav-faq2 {
  background: url("/sites/incivek.com/files/images/subnav-faq2.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-faq2:hover { background-position: left -36px; }

#subnav-register2 {
  background: url("/sites/incivek.com/files/images/subnav-register2.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-register2:hover { background-position: left -36px; }

/*-- Channel 400 --*/
#subnav-gps-overview {
  background: url("/sites/incivek.com/files/images/subnav-gps-overview.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-gps-overview:hover { background-position: left -35px; }

#subnav-help-paying {
  background: url("/sites/incivek.com/files/images/subnav-help-paying.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-help-paying:hover { background-position: left -35px; }

#subnav-nurse-support {
  background: url("/sites/incivek.com/files/images/subnav-nurse-support.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-nurse-support:hover { background-position: left -35px; }

#subnav-register3 {
  background: url("/sites/incivek.com/files/images/subnav-register3.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-register3:hover { background-position: left -35px; }

#subnav-text-msg-reminder {
  background: url("/sites/incivek.com/files/images/subnav-text-msg-reminder.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-text-msg-reminder:hover { background-position: left -35px; }

#subnav-educational-materials {
  background: url("/sites/incivek.com/files/images/subnav-educational-materials.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-educational-materials:hover { background-position: left -35px; }

#subnav-faq3 {
  background: url("/sites/incivek.com/files/images/subnav-faq3.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-faq3:hover { background-position: left -35px; }

#subnav-online-resources {
  background: url("/sites/incivek.com/files/images/subnav-online-resources.png") no-repeat scroll left top transparent;
  height: 35px; 
}
#subnav-online-resources:hover { background-position: left -35px; }

#subnav-about-vertex {
  background: url("/sites/incivek.com/files/images/subnav-about-vertex.png") no-repeat scroll left top transparent;
  height: 36px; 
}
#subnav-about-vertex:hover { background-position: left -36px; }



/*--------------- ISI Tout / SSI ----------------*/
.isi-tout
{
    width: 201px;
    margin: 18px 0 0 0;  
}

.isi-tout .tout-top {
  background: url("/sites/incivek.com/files/images/ssi-top.png") no-repeat scroll 0 0 transparent;
  height: 54px;
}

.isi-tout .tout-body {
  background: url("/sites/incivek.com/files/images/ssi-mid.png") no-repeat scroll 0 0 #ffffff;
  padding: 8px 12px 15px;
}

.isi-tout .tout-bottom {
  background: url("/sites/incivek.com/files/images/ssi-bot.png") no-repeat scroll 0 0 transparent;
  height: 5px;
}

.isi-tout ul li {
  color: #000000;
}

/*--------------- ISI ----------------*/
#isi
{
    /*width: 744px;*/
    margin: 0;
    padding-bottom: 25px;
}

body.front #isi
{
	width: 955px;
    margin: 0 0 0 20px;
    position: relative;
    z-index: 1;
}

#isi ul li  
{
    color: #000000;
    margin: 0 0 0 17px
}

#isi h2 {
  color: #01355d;
  font-size: 18px;
  padding: 0;
  margin: 12px 0 12px 0;
}

#isi h3 {
  color: #01355d;
  font-size: 16px;
  margin: 18px 0 0;
}

#isi h3+p { margin-top: 0; }

#isi h2+h3 { margin-top: 12px; }


/*--------------- Header -------------*/
#header-disclaimer { margin-left: 0; }
body.front #header-disclaimer { margin-left: 30px; }

#header-links 
{
    margin: 0 0 0 0px;
    padding: 0;
    position: relative;
    z-index: 1;
}

body.front #header-links
{
    margin-left: 30px;
}

#header-links li 
{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}

#header-links li a:hover
{
    background-position: left bottom;
}

#header-links li a
{ 
    display: block;
    float: left;
    text-indent: -9999em; 
    margin: 0;
    height: 32px;
}

#header-links li.first a
{
    margin: 0;
}

#header-links a.header-isi
{
    background: url(/sites/incivek.com/files/images/header-isi.gif);
    width: 177px;
}

#header-links a.header-pi
{
    background: url(/sites/incivek.com/files/images/header-pi.gif);
    width: 272px;
}

#header-links a.header-med-guide 
{
    background: url(/sites/incivek.com/files/images/header-med-guide.gif);
    width: 115px;
}

#header a.header-hcp
{
    background: url(/sites/incivek.com/files/images/header-hcp.png);
    width: 208px;
    float: left;
    text-indent: -9999px;
    height: 50px;
    margin: -18px 0 0 5px;
}

body.front #header a.header-hcp
{
	margin-left: 20px;
}

#header a.header-hcp:hover
{
    background-position: left bottom;
}

body.front #incivek-logo {
  left: 27px;
  top: 69px;
}

#incivek-logo {
  left: 42px;
  position: absolute;
  top: 67px;
  z-index: 1;
}



/*------------------ Footer ---------------*/

body.front #footer
{
  width: 1060px;
}

#footer
{
  padding-top: 25px;
  width: 1060px;
  margin: 0 auto;
  position: relative;
  border-top: 8px solid #c3d021;
}

#footer-links {
  margin: 0;
  padding: 0;   
}

#footer-links a
{
    color: #00a1b1;
    font-weight: bold;
    text-decoration: none;
}

#footer-links a:hover { color: #073B59; }

#footer-links li {
  border-left: 1px solid #073B59;
  display: inline;
  list-style-type: none;
  padding: 0 12px;
}

#footer-links li.first {
  border-left: medium none;
  padding-left: 128px;
}

#footer-legal { 
    margin: 35px 0;
    padding-left: 50px;
    font-size: 12px;
}

body.front #footer-legal { 
    padding-left: 55px;
}

/*-------------- Tabs --------------------*/
#tabContent .content
{
  display: none;
}

#tabContent .content.active
{
  display: block;
}

a.NextTab {
  background: url("/sites/incivek.com/files/images/arrow.gif") no-repeat scroll right center transparent;
  font-weight: bold;
  text-decoration: underline;
  font-size: 12px;
  line-height: 12px;
  padding-right: 15px;
}

a.NextTab.dkgreen {
  background: url("/sites/incivek.com/files/images/arrow-green.gif") no-repeat scroll right center transparent;
}

.tab { float: left; }

/*-------------- Chart Zoom ----------------*/
.enlarge.aqua {
  background: url("/sites/incivek.com/files/images/enlarge_aqua.png") no-repeat scroll 0 0 transparent;
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  z-index: 1;
  float: right;
}

.enlarge.aqua:hover {
  background-position: left bottom;
  cursor: pointer;
}

.jqm:hover {
    cursor: pointer;
}

/*----------- Interstitials ------------*/
#leavesiteInterstitial, #hcpInterstitial, #compatibilityInterstitial {
  background: none repeat scroll 0 0 white;
  box-shadow: 0 0 20px #000000;
  left: 50%;
  margin-left: -210px;
  width: 634px;
}

#supportCorner {
  background: none repeat scroll 0 0 white;
  box-shadow: 0 0 20px #000000;
  left: 50%;
  margin-left: -465px;
  width: 980px;
  height: 760px;
  top: 50px !important;
}

#supportCorner .innerContainer {
  height: 100%; 
}

.innerContainer {
  background: none repeat scroll 0 0 white;
  border: 5px solid #015696;
  padding: 0 30px 20px;
}

.innerContainer a:hover {
  background-position: left bottom !important;
}

.innerContainer a.close {
  background: url("/sites/incivek.com/files/images/interstitial-close.png") no-repeat scroll left top transparent;
  height: 30px;
  position: absolute;
  right: -9px;
  top: -9px;
  width: 30px;
}

#leavesiteInterstitial a.buttonOk {
  background: url("/sites/incivek.com/files/images/btn-leavesite-continue.png") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 145px;
}

#leavesiteInterstitial a.buttonCancel {
  background: url("/sites/incivek.com/files/images/btn-leavesite-return.png") no-repeat scroll left top transparent;
  display: block;
  height: 30px;
  width: 193px;
}

#hcpInterstitial a.buttonOk {
  background: url("/sites/incivek.com/files/images/btn-hcp-yes.png") no-repeat scroll left top transparent;
  display: block;
  height: 32px;
  width: 457px;
}

#hcpInterstitial a.buttonCancel {
  background: url("/sites/incivek.com/files/images/btn-hcp-cancel.png") no-repeat scroll left top transparent;
  display: block;
  height: 32px;
  width: 73px;
}

/*-------- Search -----------*/
div.searchWrapper {
  background: url("/sites/incivek.com/files/images/search-bg.png") no-repeat scroll left top transparent;
  display: block;
  height: 24px;
  position: relative;
  width: 179px;
  float: left;
  margin: 0 0 0 5px;
}

body.front div.searchWrapper {
  margin-left: 23px;
}
    
#search-block-form .form-submit {
  background: url("/sites/incivek.com/files/images/search-btn.png") no-repeat scroll left bottom transparent;
  border: medium none;
  cursor: pointer;
  display: block;
  height: 17px;
  left: 3px;
  position: absolute;
  text-indent: -9999px;
  text-transform: capitalize;
  top: 3px;
  width: 17px;
}

#search-block-form .form-submit.active {
  background-position: left bottom !important;
}

#search-block-form .form-item { margin: 0 !important; }

#search-block-form .form-text {
  border: none !important;
  height: 16px;
  margin: 3px 0 0 23px;
  width: 150px;
  background: none;
  position: relative;
  outline: none;
}

#search-form {
  margin: 0 0 0 7px;
}

#search-result-set {
  margin: 0 0 0 7px;
}

.search-results li {
  padding: 0;
}

#search-result-set {
  clear: both;
  padding: 25px 0 20px;
}

ol.search-results {
  list-style: none outside none;
  margin: 0 40px 0 0;
  padding-left: 0;
}

.search-results p {
  margin-top: 0;
}

.search-form #edit-keys, .search-form #edit-submit {
  float: left;
}

#search-form .form-submit {
  background: url("/sites/incivek.com/files/images/button-search.png") no-repeat scroll left top transparent;
  border: medium none;
  clear: right;
  cursor: pointer;
  display: block;
  float: left;
  height: 31px;
  margin: -6px 20px 0;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 64px;
}

#search-form .form-submit:hover {
  background-position: left bottom !important;
}

.search-form .form-item, .search-form label {
  margin: 0;
  padding: 0;
}

#search-result-set ul.pager {
  margin: 30px 0 0 0;
  padding: 0;
}

#search-result-set ul.pager li {
  color: #000000;
}

#search-result-set a {
  color: #015696;
}

#search-result-set a:hover {
  color: #00a2b1;
}

.refcomment {
    font-size: 9px;
    font-weight: bold;
    text-indent: -5px;
    line-height: 10px;
    margin-left: 6px;
}