﻿/* tags */
body {
	font-family: Arial;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
img {
	display: block;
	border: none;
}
h1 {
	font-size: 23px;
}
h2 {
	font-size: 14px;
	color: #141d4a;
}
h3 {
	font-size: 12px;
	color: #141d4a;
}
sup {
	font-size: 85%;
	padding: 0px 1px;
	top: 0.3em;
	position: relative;
}
ol li {
	float: left;
}
a {
	color: #3ac2a7;
}
header {
	font-size: 10px;
	font-weight: bold;
	color: #141d4a;
	text-align: right;
	height: 136px;
	padding: 0px 42px;
	position: relative;
	margin-bottom: -2px;
}
header #header_logo {
	position: absolute;
	bottom: 32px;
	left: 42px;
}
header #header_nav {
	position: absolute;
	bottom: 0px;
	right: 32px;
}
header #header_nav img {
	display: inline-block;
}
footer {
	background: url('/contents/hcp/images/footer_bg.png') no-repeat top;
	padding: 10px 42px 50px 42px;
	font-size: 10px;
	color: #141d4a;
	text-align: right;
	position: relative;
}
footer #footer_logo {
	position: absolute;
	bottom: 50px;
	left: 42px;
}
nav {
	margin: 0 auto;
	width: 956px;
	background-color: #e6c414;
	height: 45px;
	position: relative;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	position: absolute;
	bottom: 0px;
	height: 40px;
	background-color: #d14414;
}
nav li {
	font-size: 12px;
	color: #ffffff;
	width: 190px;
	float: left;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 12px;
}
nav li:first-child {
	border-left: 1px solid #d14414;
}
nav li:first-child:hover {
	border-left: 1px solid #e6c414;
}
nav li:not(:first-child) {
	border-left: 1px solid #e6c414;
}
nav li:hover, nav li.on {
	background-color: #e6c414;
	border-left: 1px solid #e6c414;
}
nav li a {
	color: #ffffff;
	text-decoration: none;
}
/* nav hack */
nav li.disease, nav li.support {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* id */
#page {
	width: 1024px;
	margin: 0 auto;
}
#content {
	padding: 5px 40px 30px 40px;
}
#content #hero {
	margin-left: -0px;
}
#content #subnav {
	float: left;
	width: 127px;
}
#content #content_body {
	float: left;
	width: 505px;
	padding: 0px 39px;
}
#content #content_body ul {
	margin: 0px;
}
#content #callouts {
	float: left;
	width: 230px;
	font-size: 12px;
}
#content #callouts section {
	padding-bottom: 20px;
}
#content #callouts a {
	padding: 10px;
	background-color: #d14414;
	width: 230px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
}
#content #callouts p {
	padding-bottom: 15px;
}
#content #reference {
	font-size: 10px;
	padding-top: 30px;
}
#isi {
	background: url('/contents/hcp/images/isi_bg.png') no-repeat top;
	padding: 50px 42px 30px 42px;
	color: #636363;
}
#isi h4 {
	font-weight: bold;
	font-size: 14px;
	color: #636363;
}
#isi ul{
	margin-bottom: 0px;
}

#isi ul li {
	margin-bottom: 3px;
}
/* class */
.indented {
	margin-left: 25px;
}
.clear {
	clear: both;
}
.sub_indented {
	margin-left: -40px;
}
.sub_nav ul li {
	display: inline;
}
.sub_nav ul li a {
	display: inline;
	padding-right: 6px;
	padding-left: 6px;
	color: rgb(0, 26, 46);
	font-size: 100%;
	vertical-align: baseline;
	background: none repeat scroll 0% 0% transparent;
	text-decoration: none
}
