﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <b>AHA Interactive Panel</b>
        <ul>
            <li><a href="~/Polling">Polling</a></li>
            <li><a href="~/Main">Main</a></li>
            <li><a href="~/Dosing">Dosing</a></li>
            <li><a href="~/ISI">ISI</a></li>
        </ul>

        <b>Administration</b>
        <ul>
            <li><a href="~/Polling/Clear">Clear Polling Result</a></li>
        </ul>
    </div>
</body>
</html>
