﻿ul{list-style:none;margin:0;padding:0;}
ul li{margin:0;}
input, textarea{border:solid 1px #ddd;border-radius:4px;padding:4px;resize:none;}
input:focus, select:focus, textarea:focus{outline:none;}
input:focus::-webkit-input-placeholder, select:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{color:transparent !important;}
input:focus:-moz-placeholder, select:focus:-moz-placeholder, textarea:focus:-moz-placeholder{color:transparent !important;}
input:focus::-moz-placeholder, select:focus::-moz-placeholder, textarea:focus::-moz-placeholder{color:transparent !important;}
input:focus:-ms-input-placeholder, select:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder{color:transparent !important;}
.form-errors{color:red;font-size:.8em;}
.form-errors span{display:block;}
.txt-l{text-align:left;}
.txt-r{text-align:right;}
.txt-c{text-align:center;}
.fl-r{float:right;}
.fl-l{float:left;}
.cl-r{clear:right;}
.cl-l{clear:left;}
.cl-b{clear:both;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{display:block;}
audio,
canvas,
video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,
a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b, strong{font-family:'HelveticaW01-RoundedBd';}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,
kbd,
pre,
samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,
input,
select,
textarea{font-family:inherit;font-size:100%;margin:0;}
button,
input{line-height:normal;}
button,
select{text-transform:none;}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],
html input[disabled]{cursor:default;}
input[type="checkbox"],
input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,
input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body{font-family:'Helvetica W01 Roman';font-size:14px;font-weight:normal;color:#555555;}
h1, h2, h3, h4, h5, h6{margin:0;padding:0;font-weight:600;line-height:1.15;color:#333333;}
h2{font-size:50px;color:black;}
h3{font-size:35px;}
h4{font-size:14px;font-family:'HelveticaW01-RoundedBd';}
h5{font-size:18px;}
h6{font-size:15px;}
p{margin:0.5em 0;padding:0;}
a{color:#ee0093;text-decoration:none;cursor:pointer;}
.error, .red{color:#fc0000;}
ul.error{list-style:none;margin:0 0 10px;padding:0;}
ul.error > .warning{color:#fff;background:url(../css/images/icons/error.png) no-repeat 10px center;padding:10px 10px 10px 47px;border-radius:4px;}
body{overflow:visible;background:#fbd917 url("images/bkgd-dots.png") fixed;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
body.P{background-color:#FFDB00;}
body.L{background-color:#FF00A0;}
body.V{background-color:#B21277;}
body.M{background-color:#FBA440;}
body.S{background-color:#09A9B2;}
body.A{background-color:#09A9B2;}
body.T{background-color:#55C5CC;}
.button.disabled{background-color:#dddddd !important;color:#bbbbbb !important;}
.main-container > header{box-sizing:border-box;width:100%;background-color:#fff;position:fixed;top:0px;height:98px;border:solid 1px #e6e6e6;border-top:none;font-family:'HelveticaW01-RoundedBd';font-size:16px;z-index:10000;cursor:default;}
.main-container > header div{display:inline-block;}
.main-container > header .mobile-menu{display:none;width:200px;position:fixed;height:50px;margin-left:-140px;background:white;z-index:1;}
.main-container > header .mobile-menu.active{margin-left:-1px;border:solid 1px #e6e6e6;height:100%;}
.main-container > header .mobile-menu.active ul{display:block;}
.main-container > header .mobile-menu ul{display:none;width:100%;margin-top:100px;border-top:solid 2px #e1e1e1;border-right:solid 1px #e1e1e1;}
.main-container > header .mobile-menu ul li{background:url("images/bkgd-dots.jpg");border-bottom:solid 2px #e1e1e1;text-align:right;line-height:50px;padding:4px;}
.main-container > header .mobile-menu ul:last-child{position:absolute;bottom:0px;border:none;}
.main-container > header .mobile-menu ul:last-child li{border:none;background:none;line-height:1.5em;}
.main-container > header .mobile-menu .icon-ios-menu{cursor:pointer;background:url("images/ios-menu-icon.png") no-repeat;background-size:contain;width:48px;height:48px;position:absolute;top:10px;right:10px;}
.main-container > header nav{margin-left:390px;margin-top:56px;background:url("images/happy-logo-nav.jpg") no-repeat;padding-left:22px;}
.main-container > header nav .user{color:#4dbcc2;cursor:pointer;}
.main-container > header nav .menus ul{border:solid 1px #e1e1e1;background:url("images/bkgd-dots.jpg");display:none;}
.main-container > header nav .menus ul:hover{display:'';}
.main-container > header nav .menus ul li{padding:1em;color:black;}
.main-container > header nav .menus ul li:hover{background:#f164c2;background:rgba(241, 100, 194, 0.5);}
.main-container > header nav .menus .sort-menu{color:#ee0093;cursor:pointer;}
.main-container > header nav .menus .sort-menu .menu{position:absolute;}
.main-container > header nav .menus .sort-menu .down-arrow{margin-left:46px;}
.main-container > header nav .menus .sort-menu ul{margin-left:-20px;}
.main-container > header nav .menus .sort-menu ul li{padding-left:26px;}
.main-container > header nav .menus .sort-menu ul li:last-child{background-image:url("images/icon-magnifying-glass.png");background-repeat:no-repeat;background-position:4px center;}
.main-container > header nav .menus .sort-menu:hover ul{display:'';}
.main-container > header nav .menus .filter-menu{color:#f69639;cursor:pointer;}
.main-container > header nav .menus .filter-menu .menu{position:absolute;}
.main-container > header nav .menus .filter-menu .down-arrow{margin-left:10px;}
.main-container > header nav .menus .filter-menu ul{margin-left:-50px;}
.main-container > header nav .menus .filter-menu ul li{background-repeat:no-repeat;background-position:4px 12px;padding-left:40px;background-size:20%;}
.main-container > header nav .menus .filter-menu ul li.photo{background-image:url("images/icon-photo.png");}
.main-container > header nav .menus .filter-menu ul li.location{background-image:url("images/icon-location.png");}
.main-container > header nav .menus .filter-menu ul li.music{background-image:url("images/icon-music.png");}
.main-container > header nav .menus .filter-menu ul li.sound{background-image:url("images/icon-sound.png");}
.main-container > header nav .menus .filter-menu ul li.video{background-image:url("images/icon-video.png");}
.main-container > header nav .menus .filter-menu ul li.thought{background-image:url("images/icon-thought.png");}
.main-container > header nav .menus .filter-menu:hover ul{display:'';}
.main-container > header nav .search{display:inline-block;background:url("images/bkgd-dots.jpg");position:absolute;padding:6px;border:solid 2px #e6e6e6;margin-top:-10px;color:#ee0093;}
.main-container > header nav .search.off{display:none;}
.main-container > header nav .search .btn-close{position:absolute;margin-top:-23px;right:4px;}
.main-container > header nav .search input{border:none;background:transparent url("images/icon-magnifying-glass.png") left center no-repeat;color:#ee0093;font-weight:bold;padding-left:28px;width:220px;}
.main-container > header nav .search .search-results-container{position:absolute;min-width:300px;background:white;padding:10px;border:solid 2px #e6e6e6;margin-left:-8px;margin-top:6px;}
.main-container > header nav .search .search-results-container ul{display:inline-block;min-width:140px;float:left;}
.main-container > header .mission{position:absolute;right:50px;top:56px;color:#555555;}
.main-container > header .mission .happy-face{color:#ee0093;}
footer.P, footer.L, footer.V , footer.M, footer.S , footer.A, footer.T{color:#555555 !important;font-weight:bold !important;background-color:#fff !important;}
footer{box-sizing:border-box;position:fixed;bottom:0;width:100%;text-align:center;height:30px;z-index:10000;font-family:'Helvetica';color:#555555 !important;font-weight:bold !important;background-color:#fff !important;background:url("images/bkgd-dots.png") !important;}
footer ul{display:inline-block;margin-top:6px;}
footer ul li{cursor:pointer;display:inline-block;padding:0px 10px;border-right:solid 1px;font-size:12px;}
footer ul li:last-child{border:none;}
.btn-close{background:url("images/btn-circle-x.png") no-repeat;width:22px;height:24px;cursor:pointer;}
.down-arrow{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:11px solid #e6e6e6;}
.avatar{width:48px;height:48px;background-size:cover;background-position:center;background-repeat:no-repeat;background-image:url("images/avatar-default.jpg");}
.post-info{position:absolute;bottom:0px;margin-left:10px;border-top-left-radius:6px;border-top-right-radius:6px;padding:4px;opacity:.8;height:18px;padding-left:29px;background:white url("images/globe-black.png") 4px 3px no-repeat;color:#000;cursor:pointer;}
.rating-container{position:absolute;display:none;z-index:9000;background-size:cover;background-position:center;background-repeat:no-repeat;width:457.46651px;height:457.46651px;}
.rating-container .post-info{margin-top:433.46651px;background:white url("images/globe-color.png") 4px 3px no-repeat;}
.rating-container .screen-overlay{background:white;opacity:.7;}
.rating-container .rate-overlay, .rating-container .rate-needle, .rating-container .rate-listener, .rating-container .screen-overlay{position:absolute;width:457.46651px;height:457.46651px;}
.rating-container .rate-listener .btn-close{right:10px;top:5px;position:absolute;z-index:11001;}
.rating-container .rate-overlay{background:url("images/dial-bkgd.png") 50% 10% no-repeat;background-size:80%;}
.rating-container .rate-needle{background:url("images/dial-needle.png") 50% 26% no-repeat;background-size:80%;-webkit-transition:-webkit-transform .7s ease;-moz-transition:-moz-transform .7s ease;-o-transition:-o-transform .7s ease;-webkit-transform-origin:50% 54.275% 0;-moz-transform-origin:50% 54.275% 0;-ms-transform-origin:50% 54.275% 0;-o-transform-origin:50% 54.275% 0;transform-origin:50% 54.275% 0;}
.rating-container .rate-needle.rot0{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
.rating-container .rate-needle.rot1{-webkit-transform:rotate(32deg);-moz-transform:rotate(32deg);-ms-transform:rotate(32deg);-o-transform:rotate(32deg);transform:rotate(32deg);}
.rating-container .rate-needle.rot2{-webkit-transform:rotate(64deg);-moz-transform:rotate(64deg);-ms-transform:rotate(64deg);-o-transform:rotate(64deg);transform:rotate(64deg);}
.rating-container .rate-needle.rot3{-webkit-transform:rotate(96deg);-moz-transform:rotate(96deg);-ms-transform:rotate(96deg);-o-transform:rotate(96deg);transform:rotate(96deg);}
.rating-container .rate-needle.rot4{-webkit-transform:rotate(128deg);-moz-transform:rotate(128deg);-ms-transform:rotate(128deg);-o-transform:rotate(128deg);transform:rotate(128deg);}
.rating-container .rate-needle.rot5{-webkit-transform:rotate(160deg);-moz-transform:rotate(160deg);-ms-transform:rotate(160deg);-o-transform:rotate(160deg);transform:rotate(160deg);}
.rating-container .rate-tools{margin-top:60%;position:absolute;width:100%;}
.rating-container .rate-tools .post-group{height:32px;padding-top:10px;clear:both;}
.rating-container .rate-tools .counter{float:left;margin-left:10%;margin-top:7px;min-height:20px;padding-left:25px;background:url("images/globe-color.png") no-repeat;}
.rating-container .rate-tools .btn-post{float:right;margin-right:10%;width:89px;height:32px;background:url("images/btn-post.png");}
.rating-container .rate-tools .already-rated{text-align:center;margin-top:10px;}
.rating-container .rate-tools .rate-comment{margin-top:10px;}
.rating-container .rate-tools .rate-comment strong{color:#ee0093;}
.rating-container .rate-tools .rate-comment .avatar{border:solid 1px #e6e6e6;border-top-left-radius:10px;margin-right:10px;margin-left:10%;float:left;}
.rating-container .rate-tools .rate-comment .txtarea{float:left;}
.rating-container .rate-tools .rate-comment .txtarea textarea{border:solid 2px #e6e6e6;border-radius:10px;min-height:48px;color:#329fa4;width:308px;font-size:.9em;padding:4px;}
.rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder{color:#329fa4;}
.rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder{color:#329fa4;}
.rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder{color:#329fa4;}
.rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder{color:#329fa4;}
section.static{box-sizing:border-box;display:none;width:100%;clear:both;height:100%;position:fixed;z-index:9000;background:url("images/bkgd-dots.jpg");cursor:pointer;}
section.static section{height:100%;overflow:auto;}
section.static .mission{display:none;height:100%;}
section.static .mission .content{margin-left:320px;padding-top:100px;width:600px;}
section.static .terms, section.static .contact{padding:30px;}
section.static .btn-close{position:absolute;z-index:100;top:10px;right:10px;}
section.dashboard{box-sizing:border-box;background:white url("images/bkgd-dots.jpg");position:fixed;top:0px;height:330px;z-index:9000;top:98px;padding-top:14px;padding-left:100px;width:100%;display:none;}
section.dashboard .content-box{float:left;margin-right:10px;margin-bottom:10px;border:solid 1px #e6e6e6;background:#fbfbfb;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;padding:12px;font-size:12px;overflow:hidden;}
section.dashboard .navigation{position:absolute;margin-left:1092px;margin-top:-2px;}
section.dashboard .navigation div{width:135px;height:26px;margin-bottom:42px;}
section.dashboard .navigation .nav-state{cursor:pointer;}
section.dashboard .navigation .arrow-up{background:url("images/nav-dashboard-arrow-up.png") no-repeat;cursor:pointer;}
section.dashboard .navigation .arrow-down{background:url("images/nav-dashboard-arrow-down.png") no-repeat;cursor:pointer;}
section.dashboard .navigation .on{background:url("images/nav-dashboard-on.png") no-repeat;}
section.dashboard .navigation .on span{font-family:'Whitney-Bold';color:#ee0093;margin-left:64px;font-size:1em;line-height:26px;}
section.dashboard .navigation .off{background:url("images/nav-dashboard-off.png") no-repeat;}
section.dashboard .navigation .off span{display:none;}
section.dashboard section.fuels .icons{float:left;margin-right:12px;}
section.dashboard section.fuels .icons div{width:34px;height:34px;margin-bottom:16px;}
section.dashboard section.fuels .icons .photo{background:url("images/icon-photo.png") center top no-repeat;}
section.dashboard section.fuels .icons .location{background:url("images/icon-location.png") center top no-repeat;}
section.dashboard section.fuels .icons .music{background:url("images/icon-music.png") center top no-repeat;}
section.dashboard section.fuels .icons .sound{background:url("images/icon-sound.png") center top no-repeat;}
section.dashboard section.fuels .icons .video{background:url("images/icon-video.png") center top no-repeat;}
section.dashboard section.fuels .icons .thought{background:url("images/icon-thought.png") center top no-repeat;}
section.dashboard section.fuels .content-box{width:492px;height:270px;}
section.dashboard section.fuels .value-bar{height:20px;min-width:20px;margin-bottom:3px;text-align:right;line-height:20px;font-size:.8em;font-weight:bold;padding-right:6px;color:#333333;}
section.dashboard section.fuels .value-bar.photo{background:#fbd917;}
section.dashboard section.fuels .value-bar.location{background:#ee0093;}
section.dashboard section.fuels .value-bar.music{background:#f69639;}
section.dashboard section.fuels .value-bar.sound{background:#329fa4;}
section.dashboard section.fuels .value-bar.video{background:#a40069;}
section.dashboard section.fuels .value-bar.thought{background:#4dbcc2;}
section.dashboard section.fuels .value-bar:last-of-type{margin-bottom:30px;}
section.dashboard section.fuels .avatar-row{display:block;overflow-x:auto;}
section.dashboard section.fuels .avatar-row .avatar{display:inline-block;margin-right:14px;width:41px;height:41px;background-color:#e1e1e1;cursor:pointer;}
section.dashboard .user-box{border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;width:242px;height:48px;padding:4px;margin-bottom:4px;font-family:'HelveticaW01-RoundedBd';font-size:10px;float:left;margin-right:6px;}
section.dashboard .user-box .avatar{float:left;border-top-left-radius:4px;}
section.dashboard .user-box .user-info{float:left;height:inherit;width:130px;margin-left:4px;text-align:left;padding-top:10px;color:white;}
section.dashboard .user-box .user-info span{color:#ee0093;font-weight:bold;}
section.dashboard .user-box .rating-info{float:right;text-align:center;border-left:solid 2px white;width:55px;height:inherit;margin-top:-4px;padding-top:9px;}
section.dashboard section.fuelers{display:none;}
section.dashboard section.fuelers .content-box{width:515px;height:270px;}
section.dashboard section.fuelers .content-box .col{float:left;}
section.dashboard section.fuelers .content-box .col:last-child{}
section.dashboard section.fuelers .content-box .user-box{background-color:#fbd917;}
section.dashboard section.fuelers .content-box:last-child .user-box{background-color:#4dbcc2;}
section.dashboard section.friends{display:none;}
section.dashboard section.friends .content-box{width:515px;height:270px;position:relative;}
section.dashboard section.friends .content-box .col{float:left;margin-left:35px;}
section.dashboard section.friends .content-box .col:last-child{margin-left:15px;}
section.dashboard section.friends .content-box .user-box{background-color:#f69639;}
section.dashboard section.friends .content-box .user-box .rating-info{display:none;}
section.dashboard section.friends .content-box:last-child .user-box{background-color:#4dbcc2;}
section.dashboard section.friends .content-box:last-child .user-box .rating-info{display:none;}
section.post-detail{box-sizing:border-box;display:none;position:fixed;width:100%;height:100%;background:url("images/bkgd-dots.jpg");z-index:11000;top:0;}
section.post-detail .rating-container{bottom:0px;z-index:12000;background-image:url("images/bkgd-dots.jpg");left:10px;border-top-left-radius:10px;border-top-right-radius:10px;border:solid 1px #e6e6e6;background-size:auto !important;background-position:auto !important;background-repeat:repeat;}
section.post-detail .rating-container .screen-overlay{display:none;}
section.post-detail .lightbox-screen{z-index:8900;display:none;}
section.post-detail video{position:fixed;width:100%;height:100%;}
section.post-detail audio{position:fixed;left:50%;top:50%;width:400px;margin-left:-200px;}
section.post-detail .mejs-audio{left:50%;margin-left:-200px;top:49%;}
section.post-detail .btn-close{right:10px;top:5px;position:fixed;z-index:11001;}
section.post-detail.expanded .comments-pane{display:'';}
section.post-detail.collapsed .comments-pane{display:none;}
section.post-detail .full-page-image{height:100%;position:absolute;width:100%;background-position:center;background-repeat:no-repeat;background-size:contain;background-position:center top;}
section.post-detail .comments-not-logged-in-message{padding:4px;border-radius:4px;border:solid 1px #329fa4;}
section.post-detail .comments-not-logged-in-message a{color:#329fa4;}
section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message{position:fixed;bottom:24px;width:250px;padding:4px 4px 4px 40px;border-radius:4px;left:60px;background:url("images/bkgd-dots.jpg");border:solid 1px #e6e6e6;font-size:.8em;line-height:16px;z-index:10004;}
section.post-detail .dial-not-logged-in-message a, section.post-detail .thank-you-message a{color:#329fa4;}
section.post-detail .thank-you-message{display:none;}
section.post-detail .dial-tab{position:fixed;bottom:0px;left:20px;width:70px;height:21px;background:url("images/dial-tab.png") no-repeat;padding-top:40px;text-align:right;padding-right:10px;cursor:pointer;z-index:10005;}
section.post-detail .btn-expand-collapse{position:fixed;background:white;width:22px;height:22px;line-height:20px;text-align:center;border:solid 1px #e6e6e6;right:10px;top:45px;z-index:8500;cursor:pointer;opacity:.8;}
section.post-detail .comments-pane{position:absolute;width:290px;min-height:400px;background:white;right:0px;top:35px;border-top-left-radius:10px;border-bottom-left-radius:10px;border:solid 1px #e6e6e6;opacity:.85;padding:30px 10px 10px;z-index:8000;}
section.post-detail .comments-pane header, section.post-detail .comments-pane section.post-description, section.post-detail .comments-pane section.post-tags, section.post-detail .comments-pane section.post-comment-header{border-bottom:solid 1px #e1e1e1;min-height:20px;padding:5px 0px;margin-bottom:10px;font-size:12px;color:#000;font-family:'Helvetica W01 Roman';}
section.post-detail .comments-pane header .avatar{border:solid 1px #fbd917;border-top-left-radius:5px;}
section.post-detail .comments-pane header .info{position:absolute;margin:-48px 0px 0px 58px;color:#00a99d;font-size:10px;font-family:'HelveticaW01-RoundedBd';}
section.post-detail .comments-pane header .follow{position:absolute;right:10px;margin-top:-26px;}
section.post-detail .comments-pane section.post-comment-header{border-bottom:dashed 1px #e6e6e6;padding-bottom:50px;}
section.post-detail .comments-pane section.post-comment-header strong{color:#ee0093;}
section.post-detail .comments-pane section.post-comment-header .avatar{border:solid 1px #e6e6e6;border-top-left-radius:10px;margin-right:10px;}
section.post-detail .comments-pane section.post-comment-header .txtarea{margin:-48px 0px 0px 58px;}
section.post-detail .comments-pane section.post-comment-header .txtarea textarea{border:solid 2px #e6e6e6;border-radius:10px;min-height:38px;color:#329fa4;width:210px;font-size:.9em;padding:4px;}
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-webkit-input-placeholder{color:#329fa4;}
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-moz-placeholder{color:#329fa4;}
section.post-detail .comments-pane section.post-comment-header .txtarea textarea::-moz-placeholder{color:#329fa4;}
section.post-detail .comments-pane section.post-comment-header .txtarea textarea:-ms-input-placeholder{color:#329fa4;}
section.post-detail .comments-pane section.post-comment-header .btn-post{float:right;margin-right:10px;margin-top:10px;width:89px;height:32px;background:url("images/btn-post.png");}
section.post-detail .comments-pane section.post-comment-header ul.user-search-results{position:absolute;background:white;z-index:1;border:solid 2px #e1e1e1;padding:4px;margin-top:-2px;left:80px;border-top:none;}
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li{font-size:.9em;color:#329fa4;cursor:pointer;padding:4px;}
section.post-detail .comments-pane section.post-comment-header ul.user-search-results li:hover{background-color:#e6e6e6;}
section.post-detail .comments-pane section.post-comments-list{max-height:300px;overflow-y:auto;clear:both;}
section.post-detail .comments-pane section.post-comments-list .avatar{border:solid 1px #e6e6e6;border-top-left-radius:5px;margin-right:10px;}
section.post-detail .comments-pane section.post-comments-list > ul li{border-bottom:dashed 1px #e6e6e6;margin-bottom:10px;}
section.post-detail .comments-pane section.post-comments-list > ul li:last-child{border:none;}
section.post-detail .comments-pane section.post-comments-list strong{color:#ee0093;display:block;}
section.post-detail .comments-pane section.post-comments-list div.comment-text{margin:-48px 0px 0px 58px;padding:3px 0px;min-height:50px;}
section.post-detail .share-links{position:absolute;bottom:0px;right:0px;background:white;padding:10px;border-left:solid 1px #e1e1e1;border-top:solid 1px #e1e1e1;border-radius:4px 0px;z-index:8000;}
section.post-detail .share-links a{width:23px;height:23px;margin-right:4px;display:inline-block;}
section.post-detail .share-links a.facebook{background-image:url("images/icon-social-fb.png");}
section.post-detail .share-links a.twitter{background-image:url("images/icon-social-twitter.png");}
section.post-detail .share-links a.email{background-image:url("images/icon-social-email.png");}
.lightbox-screen{box-sizing:border-box;position:fixed;width:100%;height:100%;background:#000;opacity:.8;z-index:11000;}
.lightbox-screen.profile{top:0px;left:0px;z-index:11900;display:none;}
.xwelcome{box-sizing:border-box;background:url("images/welcome-overlay.png") center bottom no-repeat;position:fixed;width:100%;height:100%;background-size:75%;z-index:11001;top:0px;}
section.wall{box-sizing:border-box;width:100%;clear:both;display:block;margin-top:98px;}
section.wall .lightbox-screen{display:none;z-index:8500;}
section.wall .rating-container{position:absolute;display:none;z-index:9000;background-size:cover;background-position:center;background-repeat:no-repeat;width:457.46651px;height:457.46651px;}
section.wall .rating-container .post-info{margin-top:433.46651px;background:white url("images/globe-color.png") 4px 3px no-repeat;}
section.wall .rating-container .screen-overlay{background:white;opacity:.7;}
section.wall .rating-container .rate-overlay, section.wall .rating-container .rate-needle, section.wall .rating-container .rate-listener, section.wall .rating-container .screen-overlay{position:absolute;width:457.46651px;height:457.46651px;}
section.wall .rating-container .rate-overlay{background:url("images/dial-bkgd.png") 50% 10% no-repeat;background-size:80%;}
section.wall .rating-container .rate-needle{background:url("images/dial-needle.png") 50% 26% no-repeat;background-size:80%;-webkit-transform-origin:50% 54.275% 0;-moz-transform-origin:50% 54.275% 0;-ms-transform-origin:50% 54.275% 0;-o-transform-origin:50% 54.275% 0;transform-origin:50% 54.275% 0;}
section.wall .rating-container .rate-needle.rot0{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);}
section.wall .rating-container .rate-needle.rot1{-webkit-transform:rotate(32deg);-moz-transform:rotate(32deg);-ms-transform:rotate(32deg);-o-transform:rotate(32deg);transform:rotate(32deg);}
section.wall .rating-container .rate-needle.rot2{-webkit-transform:rotate(64deg);-moz-transform:rotate(64deg);-ms-transform:rotate(64deg);-o-transform:rotate(64deg);transform:rotate(64deg);}
section.wall .rating-container .rate-needle.rot3{-webkit-transform:rotate(96deg);-moz-transform:rotate(96deg);-ms-transform:rotate(96deg);-o-transform:rotate(96deg);transform:rotate(96deg);}
section.wall .rating-container .rate-needle.rot4{-webkit-transform:rotate(128deg);-moz-transform:rotate(128deg);-ms-transform:rotate(128deg);-o-transform:rotate(128deg);transform:rotate(128deg);}
section.wall .rating-container .rate-needle.rot5{-webkit-transform:rotate(160deg);-moz-transform:rotate(160deg);-ms-transform:rotate(160deg);-o-transform:rotate(160deg);transform:rotate(160deg);}
section.wall .rating-container .rate-tools{margin-top:60%;position:absolute;width:100%;}
section.wall .rating-container .rate-tools .post-group{height:32px;padding-top:10px;clear:both;}
section.wall .rating-container .rate-tools .counter{float:left;margin-left:10%;margin-top:7px;min-height:20px;padding-left:25px;background:url("images/globe-color.png") no-repeat;}
section.wall .rating-container .rate-tools .btn-post{float:right;margin-right:10%;width:89px;height:32px;background:url("images/btn-post.png");}
section.wall .rating-container .rate-tools .rate-comment{margin-top:10px;}
section.wall .rating-container .rate-tools .rate-comment strong{color:#ee0093;}
section.wall .rating-container .rate-tools .rate-comment .avatar{border:solid 1px #e6e6e6;border-top-left-radius:10px;margin-right:10px;margin-left:10%;float:left;}
section.wall .rating-container .rate-tools .rate-comment .txtarea{float:left;}
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea{border:solid 2px #e6e6e6;border-radius:10px;min-height:48px;color:#329fa4;width:292px;font-size:.9em;padding:4px;}
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-webkit-input-placeholder{color:#329fa4;}
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-moz-placeholder{color:#329fa4;}
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea::-moz-placeholder{color:#329fa4;}
section.wall .rating-container .rate-tools .rate-comment .txtarea textarea:-ms-input-placeholder{color:#329fa4;}
section.wall .module{position:relative;display:inline-block;width:500px;height:500px;float:left;margin-right:1px;margin-bottom:1px;cursor:pointer;}
section.wall .module .item{background-size:cover;overflow:hidden;background-position:center center;}
section.wall .module .item.P{background-color:#fbd917;}
section.wall .module .item.L{background-color:#ee0093;}
section.wall .module .item.V{background-color:#a40069;}
section.wall .module .item.M{background-color:#f69639;}
section.wall .module .item.S{background-color:#329fa4;}
section.wall .module .item.A{background-color:#fff;}
section.wall .module .item.T{background-color:#4dbcc2;color:white;}
section.wall .module .item .post-info{position:absolute !important;margin-left:10px !important;height:16px !important;width:auto !important;}
section.wall .module .item .item-content{padding:10px;}
section.wall .module .item .item-content:first-line{font-weight:bold;}
section.wall .module div{position:absolute;display:inline-block;}
section.wall .module.type-01 > div:nth-child(1){width:99.5%;height:59.5%;}
section.wall .module.type-01 > div:nth-child(2){width:39.5%;height:39.5%;margin-top:60%;margin-left:60%;}
section.wall .module.type-02 > div:nth-child(1){width:39.5%;height:39.5%;margin-top:20%;}
section.wall .module.type-02 > div:nth-child(2){width:39.5%;height:59.5%;margin-left:60%;}
section.wall .module.type-02 > div:nth-child(3){width:59.5%;height:39.5%;margin-left:20%;margin-top:60%;}
section.wall .module.type-03 > div{width:19.5%;height:19.5%;}
section.wall .module.type-03 > div:nth-child(6){width:59.5%;height:59.5%;margin-top:40%;}
section.wall .module.type-03 > div:nth-child(2){margin-top:20%;margin-left:20%;}
section.wall .module.type-03 > div:nth-child(3){margin-left:40%;}
section.wall .module.type-03 > div:nth-child(4){margin-top:20%;margin-left:60%;}
section.wall .module.type-03 > div:nth-child(5){margin-left:80%;}
section.wall .module.type-03 > div:nth-child(7){margin-left:80%;margin-top:40%;}
section.wall .module.type-03 > div:nth-child(8){margin-top:60%;margin-left:60%;}
section.wall .module.type-03 > div:nth-child(9){margin-top:80%;margin-left:80%;}
section.wall .module.type-04 > div:nth-child(1){width:39.5%;height:39.5%;margin-left:60%;}
section.wall .module.type-04 > div:nth-child(2){width:59.5%;height:59.5%;margin-top:40%;}
section.wall .module.type-05 > div:nth-child(1){width:59.5%;height:59.5%;margin-left:40%;}
section.wall .module.type-05 > div:nth-child(2){width:59.5%;height:39.5%;margin-top:60%;}
section.wall .module.type-06 > div:nth-child(1){width:59.5%;height:39.5%;}
section.wall .module.type-06 > div:nth-child(2){width:19.5%;height:19.5%;margin-left:80%;}
section.wall .module.type-06 > div:nth-child(3){width:39.5%;height:39.5%;margin-left:40%;margin-top:40%;}
section.wall .module.type-06 > div:nth-child(4){width:19.5%;height:19.5%;margin-top:80%;}
section.profile{display:none;position:fixed;width:800px;min-height:270px;z-index:12000;padding:40px;left:43%;top:5%;background:url("images/bkgd-dots.jpg");border-radius:4px;border:solid 2px #e6e6e6;margin-left:-350px;}
section.profile strong{color:#ee0093;margin-bottom:10px;display:block;font-size:14px;}
section.profile a{color:#ee0093;}
section.profile .login, section.profile .register, section.profile .manage-account, section.profile .reset-password{display:none;}
section.profile.sign-in{display:'';}
section.profile.sign-in .login{display:'';}
section.profile input{line-height:40px;width:245px;}
section.profile input[type='file']{position:absolute;margin-left:-75px;width:150px;height:150px;opacity:0;cursor:pointer;}
section.profile label{min-width:100px;display:inline-block;padding-right:10px;text-align:right;line-height:40px;font-weight:bold;}
section.profile .form-row{margin-top:10px;width:370px;}
section.profile .form-column{float:left;margin-right:20px;}
section.profile .button{width:120px;float:right;margin-left:10px;padding:10px 0;}
section.profile .profile-avatar .button{width:156px;height:151px;background:white url("images/bkgd-upload-avatar.png") center no-repeat;background-size:contain;border-radius:4px;color:#333333;font-weight:bold;line-height:1em;margin-left:90px;margin-top:-21px;}
section.profile .profile-avatar .img-preview{position:absolute;}
.button{padding:0px 4px;color:white;min-width:64px;height:26px;border-radius:4px;line-height:26px;text-align:center;cursor:pointer;}
.button, .button.blue{background-color:#4dbcc2;}
.button.pink{background-color:#ee0093;}
@media screen and (max-width:1024px){section.wall{width:100%;}
.main-container > header nav{margin-left:220px;}
section.static .mission .content{max-width:500px;padding-right:10px;}
section.post-detail .full-page-image{height:450px;border:solid 1px #e6e6e6;}
section.post-detail .dial-tab{}
section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message{}
section.post-detail .btn-expand-collapse{top:580px;right:2%;}
section.post-detail .comments-pane{right:auto;top:460px;width:98%;margin:1%;border-radius:0px;}
section.post-detail .comments-pane a.follow{position:relative;right:auto;float:right;}
section.post-detail .comments-pane section.group{width:48%;margin-right:1%;float:left;}
section.post-detail .comments-pane section.group:last-child{float:right;}
section.dashboard{height:650px;}
section.dashboard section.fuels .icons{float:none;position:absolute;margin-left:-50px;}
section.dashboard .navigation{margin-left:510px;}
}
@media screen and (max-width:480px){.welcome{background-size:95%;}
.rating-container{width:100% !important;left:0px !important;top:0px !important;margin-left:0px !important;margin-top:0px !important;z-index:12000;bottom:0px !important;}
.rating-container .rate-overlay, .rating-container .rate-needle, .rating-container .rate-listener, .rating-container .screen-overlay{width:100% !important;}
.rating-container .rate-tools .rate-comment .txtarea textarea{width:240px;}
section.static{display:none;top:148px;}
section.static .mission{display:none;background:url("images/bkgd-dial-horizontal.png") center bottom no-repeat;background-size:contain;}
section.static .mission .content{width:100%;}
section.wall{width:100%;margin-top:148px;}
.main-container > header{background-position:center top;height:148px;z-index:12000;}
.main-container > header nav{margin-top:100px;margin-left:-175px;margin-top:100px;position:absolute;left:50%;}
.main-container > header nav .user{display:none;}
.main-container > header nav .header-prefix-non-mobile{display:none;}
.main-container > header nav .search{width:180px;margin-top:0px;}
.main-container > header nav .search .search-results-container{min-width:auto;}
.main-container > header nav .sort-menu .menu{position:fixed !important;width:100%;left:0px;}
.main-container > header nav .sort-menu .menu .down-arrow{position:absolute;left:200px;top:5px;margin-left:0px;}
.main-container > header nav .sort-menu .menu ul{margin-top:20px;}
.main-container > header nav .filter-menu .menu{position:fixed !important;width:100%;left:0px;}
.main-container > header nav .filter-menu .menu .down-arrow{position:absolute;left:254px;top:5px;}
.main-container > header nav .filter-menu .menu ul{margin-left:0;margin-top:20px;}
.main-container > header nav .filter-menu .menu ul li{background-size:auto !important;padding-left:60px;}
.main-container > header .mission{display:none;}
.main-container > header .mobile-menu{display:block;}
.main-container > header .mobile-menu .icon-ios-menu{display:block;}
section.wall.mobile-menu-on{margin-left:199px;}
section.profile{width:100%;left:0px;top:0px;margin-left:0px;position:absolute;height:800px;z-index:14000;}
section.profile .register .form-column:first-child, section.profile .manage-account .form-column:first-child{margin-bottom:30px;}
section.profile .register .form-column:first-child > p, section.profile .manage-account .form-column:first-child > p{width:300px;}
section.profile .profile-avatar{margin-top:20px;}
section.profile .profile-avatar > strong, section.profile .profile-avatar > p{display:none;}
section.profile .profile-avatar .button{position:absolute;top:20px;zoom:.5;left:440px;}
section.profile .button.pink{position:absolute;right:auto;bottom:auto;margin-top:10px;}
section.post-detail{z-index:13000;}
section.post-detail .full-page-image{height:100%;border:solid 1px #e6e6e6;}
section.post-detail .dial-tab{bottom:0px;top:auto;margin-top:-61px;}
section.post-detail .dial-not-logged-in-message, section.post-detail .thank-you-message{width:100px;}
section.post-detail .btn-expand-collapse{top:auto;right:2%;z-index:13000;bottom:50px;border:none;color:transparent;background:url("images/icon-info.png") no-repeat;background-size:contain;}
section.post-detail .comments-pane{right:auto;top:0px;width:100%;margin:0;border-radius:0px;z-index:12990;}
section.post-detail .comments-pane a.follow{display:inline-block;margin-right:20px;float:right;}
section.post-detail .comments-pane section.group{width:auto;margin:0;float:none;}
section.post-detail .comments-pane section.group:last-child{float:none;}
section.post-detail .comments-pane section.post-comment-header .btn-post{margin-right:20px;}
section.dashboard{height:630px;}
section.dashboard section.fuels .icons{float:none;position:absolute;margin-left:-50px;}
section.dashboard .navigation{margin-left:510px;}
footer{display:none;}
}
@-moz-document url-prefix(){.main-container > header nav .search .btn-close{margin-top:0px;}
.sort-menu .menu{position:absolute;margin-top:20px;margin-left:-90px;}
.filter-menu .menu{position:absolute;margin-top:20px;margin-left:-30px;}
section.profile input[type="file"]{margin-left:-275px;}