 .contact-row:after
{
	clear:both;
	content:'';
	display:block;
	zoom:1;
}
.contact-row
{
	float:left;
	margin:15px 0 15px 3%;
	width:47%;
}
.contact-row .avatar
{
	float:left;
	height:48px;
	margin-right:10px;
	width:48px;
	vertical-align:middle;
}
.contact-row .btn-invite
{
	margin-left:10px;
}
.contact-row .btn-invite .button
{
	background:#ccc;
	border-radius:5px;
	color:#000;
	display:inline-block;
	padding:2px 10px;
	margin:0;
}
.contact-row .btn-invite .follow_button
{
	background:#999;
}
.contact-row .info
{
	overflow:hidden;
}

section.profile .button{width:auto;}
.find-friends .content-box{margin-left:-3%; overflow:auto; max-height:300px;}
.tab_container{margin-right:0!important;}
.tab_container .tav_nav{float:left;width:100px; position:relative; right:-1px;}
.tab_container .tav_nav ul{font-size: 16px;font-weight: bold;}
.tab_container .tav_nav ul li{margin-bottom: 2px !important;}
.tab_container .tav_nav ul li a{padding:15px;display:block;text-align:center;color:#000;border:1px solid #ccc;}
.tab_container .tav_nav ul li a.tabselected{background:#ccc; border-right:none;}
.tab_container .tav_nav #gloginLink{background-image: url("images/icon-gmail.gif");}
.tab_container .tav_nav #yloginLink{background-image: url("images/icon-yahoo.gif");}
.tab_container .tab_contents{float:left;width:700px;}
.tab_container .tab_contents #ajx_loader{background-image: url("images/ajax-loader.gif");display:none; height: 32px;
left: 50%;  position: absolute; top: 50%; width: 32px; z-index:99999;}
.tab_container .tab_contents .tab_border{height: 251px;
    overflow: auto; position:relative;}
.tab_container .tab_contents .tab_outter{border:1px solid #ccc;padding:10px 10px 10px 0;min-height: 290px;}	
.tab_container .tab_contents .tab_border .info p{word-wrap: break-word;}
.tab_container .tab_contents .tab_border h2{border-bottom:1px solid #ccc;padding-bottom:11px;font-size:15px;margin:0 16px 10px;}
.tab_container .tab_contents .tab_border h2.heading{color:#999;}
.clear{clear:both;}

/* #gloginLink */
