﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutReference.cshtml";
}

<!-- title -->
<h1>VetVance API Documentation</h1>

<!-- toc -->
<div id="toc">
    <h3>Table of Contents</h3>
    <ul>
        <li><a href="#example1">Example 1</a></li>
        <li><a href="#example2">Example 2</a></li>
        <li><a href="#example3">Example 3</a></li>
        <li><a href="#example4">Example 4</a></li>
        <li><a href="#example5">Example 5</a></li>
        <li><hr /></li>
        <li><a href="/reference/books">Books API</a></li>
        <li><a href="/reference/search">Books Search API</a></li>
    </ul>
</div>

<!-- description -->
<div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales, nisl eu dapibus faucibus, est dolor feugiat ipsum, at elementum felis diam sed lorem. Nunc gravida risus sit amet dui iaculis, non fermentum mi pulvinar. Vivamus congue ac massa sed consequat. Proin pulvinar lobortis tincidunt. Mauris eleifend odio ac turpis dignissim, vel varius est accumsan. Integer ultricies lobortis ultricies. Fusce nec urna orci. Vestibulum et turpis at sapien bibendum ornare. Morbi rutrum nunc interdum neque adipiscing, ac ullamcorper sapien aliquet. Cras lacinia enim eu massa elementum suscipit. Pellentesque venenatis nibh fringilla dui fermentum mollis. Curabitur vel enim eu tortor cursus posuere nec vitae libero.</p>

    <p>Morbi semper euismod nibh non consectetur. Sed porta vulputate laoreet. Vivamus adipiscing malesuada lacus sed egestas. Maecenas porttitor rhoncus ante a elementum. Quisque pretium arcu justo, ac rutrum augue sagittis nec. Proin eu iaculis augue, sed sodales orci. Aliquam quis justo felis.</p>
</div>

<!-- content -->

<!-- exmaple 1-->
<section>
    <!-- title & anchor -->
    <h3><a name="example1">Example 1</a></h3>

    <!-- description -->
    <p>View example information on data such as exmaple, example and example.</p>

    <!-- reference -->
    <table>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
        <!-- example user response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/user/0" target="_blank">/api/example/user/{userid}</a></td>
            <td>Example data of {userid}</td>
        </tr>
        <!-- example history response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/history/0" target="_blank">/api/example/history/{userid}</a></td>
            <td>Example history of {userid}</td>
        </tr>
    </table>
</section>

<!-- exmaple 2-->
<section>
    <!-- title & anchor -->
    <h3><a name="example2">Example 2</a></h3>

    <!-- description -->
    <p>View example information on data such as exmaple, example and example.</p>

    <!-- reference -->
    <table>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
        <!-- example user response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/user/0" target="_blank">/api/example/user/{userid}</a></td>
            <td>Example data of {userid}</td>
        </tr>
        <!-- example history response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/history/0" target="_blank">/api/example/history/{userid}</a></td>
            <td>Example history of {userid}</td>
        </tr>
    </table>
</section>

<!-- exmaple 3-->
<section>
    <!-- title & anchor -->
    <h3><a name="example3">Example 3</a></h3>

    <!-- description -->
    <p>View example information on data such as exmaple, example and example.</p>

    <!-- reference -->
    <table>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
        <!-- example user response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/user/0" target="_blank">/api/example/user/{userid}</a></td>
            <td>Example data of {userid}</td>
        </tr>
        <!-- example history response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/history/0" target="_blank">/api/example/history/{userid}</a></td>
            <td>Example history of {userid}</td>
        </tr>
    </table>
</section>

<!-- exmaple 4-->
<section>
    <!-- title & anchor -->
    <h3><a name="example4">Example 4</a></h3>

    <!-- description -->
    <p>View example information on data such as exmaple, example and example.</p>

    <!-- reference -->
    <table>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
        <!-- example user response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/user/0" target="_blank">/api/example/user/{userid}</a></td>
            <td>Example data of {userid}</td>
        </tr>
        <!-- example history response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/history/0" target="_blank">/api/example/history/{userid}</a></td>
            <td>Example history of {userid}</td>
        </tr>
    </table>
</section>

<!-- exmaple 5-->
<section>
    <!-- title & anchor -->
    <h3><a name="example5">Example 5</a></h3>

    <!-- description -->
    <p>View example information on data such as exmaple, example and example.</p>

    <!-- reference -->
    <table>
        <tr>
            <th>Resource</th>
            <th>Description</th>
        </tr>
        <!-- example user response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/user/0" target="_blank">/api/example/user/{userid}</a></td>
            <td>Example data of {userid}</td>
        </tr>
        <!-- example history response -->
        <tr>
            <td><span class="box">GET</span><a href="/api/example/history/0" target="_blank">/api/example/history/{userid}</a></td>
            <td>Example history of {userid}</td>
        </tr>
    </table>
</section>