@font-face { font-family: 'FSAlbert'; src: url('../fonts/FSAlbert.otf'); }
@font-face { font-family: 'FSAlbert'; font-weight: bold; src: url('../fonts/FSAlbert-Bold.otf'); }
@font-face { font-family: 'FSAlbert'; font-style: italic; src: url('../fonts/FSAlbert-Italic.otf'); }
@font-face { font-family: 'FSAlbert'; font-weight: bold; font-style: italic; src: url('../fonts/FSAlbert-BoldItalic.otf'); }

@font-face { font-family: 'FSAlbert Light'; src: url('../fonts/FSAlbert-Light.otf'); }
@font-face { font-family: 'FSAlbert Light'; font-style: italic; src: url('../fonts/FSAlbert-LightItalic.otf'); }

@font-face { font-family: 'FSAlbert Thin'; src: url('../fonts/FSAlbert-Thin.otf'); }
@font-face { font-family: 'FSAlbert Thin'; font-style: italic; src: url('../fonts/FSAlbert-ThinItalic.otf'); }

@font-face { font-family: 'FSAlbert ExtraBold'; src: url('../fonts/FSAlbert-ExtraBold.otf'); }


@font-face { font-family: 'FSAlbert Bold'; src: url('../fonts/FSAlbert-Bold.otf'); }
@font-face { font-family: 'FSAlbert Italic'; src: url('../fonts/FSAlbert-LightItalic.otf'); }
@font-face { font-family: 'FSAlbert Bold Italic'; src: url('../fonts/FSAlbert-BoldItalic.otf'); }
@font-face { font-family: 'FSAlbert Thin'; src: url('../fonts/FSAlbert-Thin.otf'); }

@font-face { font-family: 'ProximaNovaCondBold'; src: url('../fonts/ProximaNovaCond-Bold.otf'); }


* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	position: relative; 
	width:1024px;
	text-align: left;
	/* background: url('../../images/bg_products_services.png') no-repeat fixed; */
	font-family: "FSAlbert";
	-webkit-user-select: none;
}

#video-fullscreen-overlay{
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	width:100%; height:100%;
	overflow:hidden;
	z-index:100;
	background-color:black;
}

#video-fullscreen-overlay > video {
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	display:block;
	position:relative;
	width:1024px;
	height:720px;
}

#video-fullscreen-overlay > #video-close-button {
	top: 0px;
	right: 0px;
	width: 76px;
	height: 40px;
	background-image: url("../../images/video-done.png");
	color: white;
	position:absolute;
}

/* ########### PAGE LAYOUT ELEMENTS ############## */
/*.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

body.home {
	background: black;
	-webkit-transition: opacity 0.3s;
}

.top-right-logo {
	background: url('../../images/logo-pfizer.png') no-repeat;
	height: 66px;
	width: 294px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.home .navbar {
	float:left;
	margin:0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.home .navbar-inner {
	padding: 0px;
	box-shadow: none;
}

.home .flippers {
	width: 1024px;
	overflow: auto;
}

.home .flipper {
	float: left;
	-webkit-perspective: 1000;
	position: relative;
	margin: auto auto;
	z-index: 1;
	float:left;

}

.home .flipper1 > .flip-card > .face {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	width: 339px;
	height: 323px;
}

.home .flipper2 > .flip-card > .face {
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	width: 337px;
	height: 323px;
}

.home .flipper3 > .flip-card > .face {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	width: 341px;
	height: 323px;
}

.home .flipper4 > .flip-card > .face {
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 339px;
	height: 329px;
}

.home .flipper5 > .flip-card > .face {
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 337px;
	height: 329px;
}

.home .flipper6 > .flip-card > .face {
	border-left: 1px solid white;
	border-top: 1px solid white;
	width: 341px;
	height: 329px;
}




.home .flipper > .flip-card {
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.4s;
	-webkit-transition-timing-function: ease-out;
}
.home .flipper > .flip-card > .face {
	position: relative;
	-webkit-backface-visibility: hidden;
	text-align:center;
	background-color: black;
	overflow:hidden;
	color: white;
}
.home .flipper > .flip-card > .face.front > img {
	visibility: hidden;
}
.home .flippers.blur .flipper > .flip-card > .face.front > img {
	visibility: visible;
}
.home .flippers.blur .flipper > .flip-card.flipped > .face.front > img {
	visibility: hidden;
}

.home .flipper > .flip-card > .face.back {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	-webkit-transform: rotateY(180deg);
	color: white;
	text-align: center;
	background-color: black;
}

.home .flipper > .flip-card.flipped {
	-webkit-transform: rotateY(180deg);
}











body#products_services {
	background: url("../../images/bg_products_services.png") no-repeat;
}

body#products_services div#content {
	width: 1024px;
	overflow: auto;
}

body#products_services div#content div {
/*	border: 1px solid red;
	min-height: 4px;*/
}

body#products_services div#content ul {
	list-style: url("../../phase/images/prd_srv-carrot-small.png");
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 13px;
}

body#products_services div#content ul > li {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	text-align:left;
}

body#products_services div#content div.subhead {
	margin-top: 20px;
	margin-bottom: 10px;
}

body#products_services div#content > div > div:first-child div.subhead {
	margin-top: 0px;
}

body#products_services div#content div.top-border {
	background: url("../../phase/images/prd_srv-li-top-border.png") no-repeat;
	height: 4px;
}

body#products_services div#content div.bot-border {
	background: url("../../phase/images/prd_srv-li-bot-border.png") no-repeat;
	height: 4px;
}

body#products_services div#content div.ctr-content {
	background: url("../../phase/images/prd_srv-li-bg-slice.png") repeat-y;
	overflow: auto;
	min-height: 100%;
	position: relative;
}

body#products_services div#content div.ctr-content.with-calculator > ul {
	width: 200px;
	min-height: 40px;
}
body#products_services div#content div.ctr-content div.calculator-link {
	width: 32px;
	height: 40px;
	margin-top: 50%;
	top: -14px;
	right: 10px;
	position: absolute;
	z-index:99;
	outline:1px solid red;
}

body#products_services div#content div.ctr-content div.calculator-icon {
	background: url("../../images/icon-calculator.png");
	width: 19px;
	height: 27px;
	margin-top: 50%;
	top: -14px;
	right: 10px;
	position: absolute;
	z-index:99;
}

body#products_services div#content div.ctr-content.with-email > ul {
	width: 200px;
	min-height: 40px;
}

body#products_services div#content div.ctr-content div.email-icon {
	background: url("../../images/icon-email.png");
	width: 24px;
	height: 28px;
	margin-top: 50%;
	top: -14px;
	right: 10px;
	position: absolute;
	z-index:99;
}

body#products_services div#content > div {
	float: left;
	margin-left: 70px;
	margin-top: 20px;
	width: 250px;
}

body#products_services div#content div.copyright-bottom {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 630px;
	font-size: 10px;
	line-height: 12px;
}


/* #################  */


body#allpages div#allcontent {
	width: 1024px;
	height: 640px;
	overflow-x: auto;
	overflow-y: scroll;
}

body#allpages div#allcontent > div:first-child {
/*	border: 1px solid red;
	min-height: 4px;*/
	overflow: auto;
}

body#allpages div#allcontent::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

body#allpages div#allcontent::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}




body#allpages div#allcontent ul {
	list-style: url("../../phase/images/prd_srv-carrot-small.png");
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 13px;
}

body#allpages div#allcontent ul > li {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	text-align:left;
}

body#allpages div#allcontent div.subhead {
	margin-top: 20px;
	margin-bottom: 5px;
}

body#allpages div#allcontent > div > div > div:first-child div.subhead {
	margin-top: 0px;
}


body#allpages div#allcontent div.top-border {
	background: url("../../phase/images/prd_srv-li-top-border.png") no-repeat;
	height: 4px;
}

body#allpages div#allcontent div.bot-border {
	background: url("../../phase/images/prd_srv-li-bot-border.png") no-repeat;
	height: 4px;
}

body#allpages div#allcontent div.hor-separator {
    height: 1px;
    background: #e5e5e5;
}

body#allpages div#allcontent div.ctr-content {
	/* background: url("../../phase/images/prd_srv-li-bg-slice.png") repeat-y; */
	overflow: auto;
	min-height: 100%;
	position: relative;
	padding: 5px 0;
	/* border-bottom: 1px solid #e5e5e5; */
}

body#allpages div#allcontent div.ctr-content.with-calculator > ul {
	width: 200px;
	min-height: 40px;
	float: left;
}
body#allpages div#allcontent div.ctr-content div.calculator-link {
	width: 32px;
	height: 40px;
	margin-top: 50%;
	top: -14px;
	right: 10px;
	position: absolute;
	z-index:99;
	outline:1px solid red;
}

body#allpages div#allcontent div.ctr-content div.calculator-icon {
	background: url("../../images/icon-calculator.png") no-repeat 8px 6px;
	width: 36px;
	height: 40px;
	float: right;
	margin-top: 0px;
}

body#allpages div#allcontent div.ctr-content.with-email > ul {
	width: 225px;
	float: left;
}
body#allpages div#allcontent div.ctr-content div.email-link {
	width: 24px;
	height: 18px;
	margin-top: 50%;
	top: 0px;
	right: 10px;
	position: absolute;
	z-index:99;
	outline:1px solid red;
}

/* removed email for inline conflict
    body#allpages div#allcontent div.ctr-content div.email-icon {
	background: url("../../images/icon-email.png") no-repeat center center;
	width: 32px;
	height: 32px;
	float: right;
	margin-top: 0px;
}
*/

body#allpages div#allcontent > div:first-child > div {
	float: left;
	margin-left: 70px;
	margin-top: 20px;
	width: 250px;
}

body#allpages div#allcontent > div:first-child div.copyright-bottom {
	width: 885px;
	font-size: 11px;
	line-height: 12px;
	margin-bottom: 20px;
}








#headerbar {
	font-size: 22px;
	color: #FFF;
	font-family: ProximaNovaCondBold;
	position: relative;
	clear: both;
	margin: 0px;
}

.body-phase {
	-webkit-transition: opacity 0.3s;
}

.body-phase .thumbnails {
	padding-bottom: 30px;
}

.body-phase #headerbar > div.head {
	float:left;
	position: relative;
	height: 1em;
	margin-top: 25px;
}

.body-phase #headerbar > div.top-right-logo {
	background: url('../../images/logo-zoetis.png') no-repeat;
	height: 40px;
	width: 107px;
	position: absolute;
	top: 13px;
	right: 39px;
}

.body-phase #headerbar {
/*	background: url('../../images/header-arrow.png') no-repeat 0px 30px;*/
    background-image: url('../../images/home-header-bar.png');
	/* background-color:#ff6400; */
	height:66px;
	text-transform: uppercase;
	padding-left: 28px;
	margin-bottom:10px;
}

.body-phase #content {
	width: 799px;
	height: 640px;
	overflow-y:auto;
	overflow-x:hidden;
/*	-webkit-overflow-scrolling: touch; */
}


.body-phase #content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.body-phase #content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
}

.contentScrollbarV {
	position:absolute;
	z-index:100;
	width:6px;bottom:6px;top:6px;right:5px;
	border-width: 0px;
}

.contentScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;

	/* The following is probably what you want to customize */
    background-color: rgba(0, 0, 0, .5);
	border-width:0px;
	background-clip:padding-box;
	box-sizing:border-box;
	border-radius:4px;
}


.body-phase #left-nav {
	margin-left: 6px;
}


.body-phase #left-nav > .nav:before { 
	margin-top: 34px;
}








.body-iframe {
	width: 1024px;
	height: 756px;
	background: url("../../images/bg_iframe.png");
}

.body-iframe embed {
	position:absolute; 
	right:10px; 
	top: 10px; 
	z-index:10;
}


.body-iframe #headerbar {
	height: 100px;
}

.body-iframe #headerbar .pah-logo {
	height: 100px;
	width: 216px;
	border-top-left-radius: 5px;
	position: relative;
	float: left;
	z-index: 2;
}

.body-iframe #headerbar .pah-logo img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	padding-top: 15px;
}

.body-iframe #headerbar .pah-header {
	font-size: 30px;
	font-family: FSAlbert;
	color: white;
	position:relative;
	float:left;
	padding: 0px 170px 0px 50px;
	width: 576px;
	border-top-right-radius: 5px;
	height: 100px;
	line-height: 30px;
}

.product-fludetect .pah-header.brand-color-background {
	background: #D42563;
}
.product-fludetect .brand-color {
	color: #D42563;
}

.body-iframe #headerbar .pah-header > div {
	display: table-cell;
	vertical-align: middle;
	height: 100px;
}

.body-iframe #left-nav {
/*	height: auto;
	max-height: 540px;
	overflow-y: auto;*/
}

.body-iframe #left-nav > .nav {
	border-radius: 0px;
	border-bottom-right-radius: 7px;
}

.body-iframe #left-nav > .nav:before { 
	content: none;
	margin:0;
}

.body-iframe #wrapper {
	margin-left: 6px;
	margin-top: 6px; 
}

.body-iframe #bottom-isi {
	display: none;
}

.body-iframe.page-content #headerbar {
	box-shadow: 0px 3px 3px #999;
	z-index: 1;
	width: 1012px;
/*	background: -webkit-linear-gradient(top, rgba(99,99,99,1) 0%,rgba(85,85,85,1) 100%); */
/*	box-shadow: 0px 2px 4px	#999; */
}

.body-iframe.page-content #content {
	width:796px;
	height:540px;
	-webkit-transition: opacity 0.3s;
}

.body-iframe.page-content #bottom-isi {
	display: block;
	position: absolute;
	top: 706px;
	margin: 6px;
	padding: 3px 6px;
	font-size: 14px;
	color: white;
	border-radius: 3px;
	min-height: 36px;
	width: 1000px;
}

.body-iframe #content .product-shot {
	height: 150px;
	position: absolute;
	right: 45px;
	margin-top: -86px;
	top: 0px;
	width: 200px;
	z-index: 3;
}

.body-iframe #content .isi {
	clear: both;
}

.body-iframe #content > div > div.section:last-child > p:first-child {
	margin-bottom: 18px;
	margin-top: 18px;
}

.body-iframe #content .product-shot > img {
	margin-left: auto;
	display: block;
}

.body-iframe #content div.graph,
.body-iframe #content div.video,
.body-iframe #content div.audio,
.body-iframe #content div.document{
	position: absolute;
	right: -3px;
	top: 76px;
	width: 47px;
	height: 54px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: 0px 2px 6px #999;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	z-index: 2;
}

#content div.document.second {
  top: 150px !important;
}

.body-iframe #content div.graph .icon,
.body-iframe #content div.video .icon,
.body-iframe #content div.audio .icon,
.body-iframe #content div.document .icon{
	position: relative;
	margin-left: 5px;
	margin-top: 9px;
	float: left;
}

.body-iframe #content div.graph {
	top: 76px;
}

.body-iframe #content div.video {
	/*top: 139px;*/
	top: 20px;
	overflow: hidden;
	z-index: 1;
}

.body-iframe #content div.audio {
	overflow: hidden;
}

.body-iframe #content div.document{
	overflow: hidden;
}

.body-iframe #content div.video.extended {
	width: 220px;
}

.body-iframe #content div.audio.extended {
	width: 300px;
}

.body-iframe #content div.document.extended {
	width: 300px;
}

.body-iframe #content div.audio-container {
	position: absolute;
	top:50px;
	left:50px;
	width:200px;
}

.body-iframe #content audio {
	width:240px;
	height:40px;
}

.body-iframe #content div.video .description,
.body-iframe #content div.audio .description,
.body-iframe #content div.document .description {
	float:left;
	width: 100px;
	height:54px;
	margin-left:10px;
	margin-top:10px;
	font-family: 'FSAlbert';
	font-weight: bold;
}

.body-iframe #content div.audio div.description {
	width: 210px;
}

.body-iframe #content div.document .email {
	float:right;
}

.body-iframe #content div.document div.description {
	width: 174px;
	color: #333;
}

.body-iframe #content div.video .duration, .body-iframe #content div.audio .duration {
	float:right;
	height:54px;
	width:40px;
	text-align:right;
	margin-top:28px;
	font-family: 'FSAlbert';
	font-style: italic;
}

.body-iframe #content div.video .go
, .body-iframe #content div.audio .go
, .body-iframe #content div.document .go
, .body-iframe #content div.audio .pause
, .body-iframe #content div.audio .loading {
	float:right;
	height: 54px;
	width: 10px;
	margin-left:9px;
	margin-right:5px;
	margin-top:17px;
}


.body-iframe #content div.audio .go {
	display: none;
}
.body-iframe #content div.audio .pause {
	display: none;
}

.body-iframe #content div.audio div.loading {
	display: block;
	width: 16px;
}
.body-iframe #content div.audio.canplay div.loading {
	display: none;
}

.body-iframe #content div.audio.canplay .go {
	display: block;
}
.body-iframe #content div.audio.canplay.playing .go {
	display: none;
}

.body-iframe #content div.audio.canplay .pause {
	display: none;
}
.body-iframe #content div.audio.canplay.playing .pause {
	display: block;
}

.body-iframe #content div.audio {
	top: 202px;
}



.body-iframe.page-content .pah-logo {
/*	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(229,229,229,1) 100%); */
/*	box-shadow: 2px 2px 4px	#999; */
}


.body-iframe.page-key-benefits #headerbar {
	width: 216px;
}

.body-iframe.page-key-benefits #headerbar .pah-logo {
	background: none;
	box-shadow: none;
}

.body-iframe.page-key-benefits #headerbar .pah-header {
/*	background: none;
	box-shadow: none; */
	display:none;
}

.body-iframe.page-key-benefits #content {
	height:706px;
	left:223px;
	overflow: hidden;
	position: absolute;
	top:0px;
	width:800px;
}

.body-iframe.page-key-benefits #content div{
/*	border: 1px solid green;
	margin: 1px; */
}

.body-iframe.page-key-benefits #content > div{
	margin-top: 60px;
	margin-left: 20px;
}



.body-iframe.page-key-benefits #left-nav > .nav {
	border-top-right-radius: 7px;
}

.body-iframe.page-key-benefits #content div.kb-main {
	position: relative;
	width: 774px;
	height: 450px;
	display: none;
}

.body-iframe.page-key-benefits.service #content div.kb-main {
	height: 544px;
}

/* Animated slide BEGIN */
.body-iframe.page-key-benefits #content div.kb-slide-wrapper {
	position: relative;
	width: 774px;
	height: 450px;
	overflow:hidden;
}

.body-iframe.page-key-benefits.service #content div.kb-slide-wrapper {
	height: 544px;
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main {
	position:absolute;
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main.center {
	display:block;
	left:0px;
}

@-webkit-keyframes kb-from-right-to-center {
	0% { left:774px; }
	100% { left:0px; }
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main.from-right-to-center {
	-webkit-animation: kb-from-right-to-center 0.5s;
	left:0px;
	display:block;
}

@-webkit-keyframes kb-from-center-to-right {
	0% { left:0px; }
	100% { left:774px; }
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main.from-center-to-right {
	-webkit-animation: kb-from-center-to-right 0.5s;
	left:774px;
	display:block;
}

@-webkit-keyframes kb-from-left-to-center {
	0% { left:-774px; }
	100% { left:0px; }
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main.from-left-to-center {
	-webkit-animation: kb-from-left-to-center 0.5s;
	left:0px;
	display:block;
}

@-webkit-keyframes kb-from-center-to-left {
	0% { left:0px; }
	100% { left:-774px;	}
}

.body-iframe.page-key-benefits #content div.kb-slide-wrapper div.kb-main.from-center-to-left {
	-webkit-animation: kb-from-center-to-left 0.5s;
	left:-774px;
	display:block;
}

/* Animated slide END */

.body-iframe.page-key-benefits #content div.kb-nav {
	
}

.body-iframe.page-key-benefits #content div.kb-nav ul {
	padding: 15px 5px;
	margin: 0px;
}

.body-iframe.page-key-benefits #content div.kb-nav ul li {
	background: url('../../images/keyben-nav-blank.png') 10px 10px no-repeat;
	display: inline-block;
	height: 30px;
	margin: 0px;
	padding: 0px;
	width: 30px;
}

.body-iframe.page-key-benefits #content div.kb-nav ul li:first-child {
	background: url('../../images/keyben-nav-left.png') 7px 1px no-repeat;
	cursor: pointer;
}

.body-iframe.page-key-benefits #content div.kb-nav ul li:last-child {
	background: url('../../images/keyben-nav-right.png') 7px 1px no-repeat;
	cursor: pointer;
}

.body-iframe.page-key-benefits #content div.kb-nav ul li.kb-selected {
	background: url('../../images/keyben-nav-selected.png') 10px 10px no-repeat;
}

.body-iframe.page-key-benefits #content div.kb-nav ul li {
}

.body-iframe.page-key-benefits #content div.kb-nav-left {
	height: 450px;
	left: 20px;
	position: absolute;
	top: 60px;
	width: 100px;	
}

.body-iframe.page-key-benefits #content div.kb-nav-right {
	height: 450px;
	position: absolute;
	right: 0px;
	top: 60px;
	width: 100px;	
}


.body-iframe.page-key-benefits #content div.kb-isi {
	position: absolute;
	top: 585px;
	width: 720px;
	height: 120px;
	overflow: hidden;
}

.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	float: left;
	height: 100%;
	width: 100px;
}

.body-iframe.page-key-benefits #content div.kb-isi .isi-language {
	float: left;
	height: 100%;
	width: 550px;
	margin-left: 15px;
	color: rgb(76,76,76);
}

.body-iframe.page-key-benefits #content div.kb-isi .isi-language p {
	-webkit-margin-before: 0.5em;	
	-webkit-margin-after: 0.5em;
}

.body-iframe.page-key-benefits #content div.kb-isi .isi-language div {
	display: table-cell;
	vertical-align: bottom;
	height: 115px;
}

.body-iframe.page-key-benefits #content div.kb-isi .isi-language div.fludetect-fix {
	height: 110px !important;
	padding-left: 35px;
}

.body-iframe.page-key-benefits #content div.kb-callout {
	position: absolute;
	right: 5px;
	bottom: 130px;
	display: none;
}
.body-iframe.page-key-benefits.product-draxxin #content div.kb-callout {bottom: 100px;}

/*ANIMATIONS*/
@-webkit-keyframes showCallout {
  0% {
    opacity: 0;
  }
  50% {
	opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.body-iframe.page-key-benefits #content div.kb-callout {
	-webkit-animation-name: showCallout;
    -webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}
/*END ANIMATIONS*/

.body-iframe.page-key-benefits.service #content div.kb-callout {
	bottom: 70px;
}

/*

.body-iframe > .references-blankout {
	display: none;
	height: 708px;
	left: 6px;
	position: absolute;
	top: 0px;
	width: 1012px;
	border: 1px solid red;
	z-index: 20;
	opacity: 0.3;
	background-color: white;
}

.body-iframe > .references-blankout.active {
	display: block;
}

.body-iframe > 


*/
.body-iframe.page-key-benefits #content .kb-main .cross-link {
	position: absolute;
	top: 410px;
	left: 27px;
	padding-right: 15px;
	width:auto;
	min-width: 80px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding: 10px;
	cursor: pointer;
	z-index:20;
}

.cross-link.white {
	color: #fff;
	background: url('../../images/bullet-white.png') right center no-repeat transparent;
}







.body-iframe #left-nav {
	position:relative;
	float:left;
	width:216px;
}

.body-iframe #left-nav .navitem {
	position:relative;
	width:180px;
	height:50px;
}

.body-iframe #left-nav > .nav {
	width: 206px;
	background-color: #d4d2d2;
	border: none;
	padding: 5px;
	margin: 0px;
	border-radius: 5px;
}

.body-iframe #left-nav > .nav > li.selected {
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 3px;
	width:204px;
}

.body-iframe #left-nav > .nav > li.selected > ul.level2 {
	background-color: rgb(229,229,229);
}

.body-iframe #left-nav > .nav > li.selected > ul.level2 > li {
	margin-left: 0px;
	padding-left: 0px;
	width: 183px;
}

.body-iframe #left-nav > .nav > li {
	margin-bottom: 3px; 
	
}

.body-iframe #left-nav > .nav > li > a {
	line-height: 40px;
	width: 190px;
	color: #5b5b5b;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	cursor: pointer;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
}

.body-iframe #left-nav > .nav > li > a > div {
	display:table-row;
}

.body-iframe #left-nav > .nav > li > a > div > div {
	display:table-cell;
	line-height: 16px;
	vertical-align: middle;
	height: 40px;
}

.body-iframe #left-nav > .nav > li.selected > a { 
	background: -webkit-linear-gradient(top, rgba(203,203,203,1) 0%,rgba(186,186,186,1) 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: 1px 2px 6px #636363;
	cursor: pointer;
	top:-1px;
	left:-1px;
	position: relative;
	margin-bottom: -2px;
}

/* child navs of left-nav */
.body-iframe #left-nav > .nav > li > ul {
	padding-left: 0px;
/*	margin-bottom: -3px; */
	margin-bottom: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-top: 4px;
}

.body-iframe #left-nav > .nav > li > ul > li > a {
	width: 195px; 
/*	color: #5b5b5b; */
	padding: 0px;
	height: 40px;
/*	padding: 12px 0px 12px 0px; */
	margin: 0px;
	line-height: 16px;
	cursor: pointer;
	background: url("../../images/bg_left-nav-subnav.png") 5px 0px no-repeat;
	overflow: visible;
}

.body-iframe #left-nav > .nav > li > ul > li > a > div {
	display: table-row;
}

.body-iframe #left-nav > .nav > li > ul > li > a > div > div {
	display: table-cell;
	height: 40px;
	vertical-align: middle;
}

.body-iframe #left-nav > .nav > li > ul > li > a ul {
	padding-left: 5px;
}

.body-iframe #left-nav > .nav > li > ul > li > a li {
	line-height: 16px;
	padding-left: 8px;
	width: 170px;
	list-style:none;
	background:url('../../images/bullet-grey.png') 0 4px no-repeat;	
}

.body-iframe #left-nav > .nav > li > ul > li > a li > div {
/* 	margin-left: -5px; */
}

.body-iframe #left-nav > .nav > li > ul > li > a li.selected > div {
  font-weight: bold;
}

.body-iframe #left-nav > .nav > li > ul > li.selected > a {
/*	color: red; */
	font-family: "FSAlbert";
	font-weight: bold;
}

.body-iframe #left-nav > .reset-button {
	position:absolute;
	left: 155px;
	top: 10px;
	width: 50px;
	cursor: pointer;
	font-family: 'FSAlbert';
	font-weight: bold;
	color: #5B5B5B;
}

.body-iframe #left-nav > .reset-button img {
	margin-left: 0.2em;
}

.body-iframe #left-nav > .filter-by-conditions {
	position:absolute;
	left: 15px;
	top: 10px;
	font-family: 'FSAlbert';
	font-weight: bold;
	color: #5B5B5B;
}



/* phase left nav */


#allpages #left-nav {
	position:relative;
	float:left;
	width:216px;
	padding-top:46px;
	padding-bottom: 21px;
	background-color:#666666;
	border-radius: 5px;
}

#allpages #left-nav .navitem {
	position:relative;
	width:180px;
	height:50px;
}

#allpages #left-nav > .inner {
	margin-top: 0px;
	max-height: 472px;
	overflow: hidden;
	/* padding: 0px 4px 0px 3px; */
	/* background: url('../../images/phase-left-nav-middle.png') repeat-y; */
	padding: 3px;
	background-color: #606060;
	border-radius: 5px;	
}
/*
#allpages #left-nav > .top {
	background: url('../../images/phase-left-nav-top.png') no-repeat;
	width: 216px;
	height: 42px;
}

#allpages #left-nav > .bottom {
	width: 216px;
	height: 40px;
	background: url('../../images/phase-left-nav-bottom.png') no-repeat;
}
*/
#allpages #left-nav.scrollable-down > .bottom {
	height: 42px;
	position: absolute;
	bottom: -23px;
	width: 100%;
	background: url('../../images/phase-left-nav-bottom-down.png') center center no-repeat;
}

#allpages #left-nav.scrollable-up > .bottom {
	height: 42px;
	position: absolute;
	bottom: -23px;
	width: 100%;
	background: url('../../images/phase-left-nav-bottom-up.png') center center no-repeat; 
}

#allpages #left-nav > .inner > .nav {
	width: 205px;
	background-color: inherit;
	border: none;
	padding: 0px 2px 0px 2px;
	margin: 0px; 
	border-radius: 5px;
	-webkit-transition: margin-top 0.7s linear;
}

#allpages #left-nav > .inner > .nav > li.selected {
	border: 1px solid #fff;
	border-radius: 5px;
	margin-bottom: 3px;
	width:204px;
}

#allpages #left-nav > .inner > .nav > li.selected > ul.level2 {
	background-color: rgb(229,229,229);
}

#allpages #left-nav > .inner > .nav > li.selected > ul.level2 > li {
	margin-left: 0px;
	padding-left: 0px;
	width: 183px;
}

#allpages #left-nav > .inner > .nav > li {
	margin-bottom: 3px; 
	
}

#allpages #left-nav > .inner > .nav > li > a {
	line-height: 40px;
	width: 189px;
	color: #5b5b5b;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
	cursor: pointer;
	padding: 0px 0px 0px 16px;
	margin: 0px 0px 0px 0px;
	font-family: "Arial";
	font-size:11px;
	font-weight: bold;
}

#allpages #left-nav > .inner > .nav > li > a > div {
	display:table-row;
}

#allpages #left-nav > .inner > .nav > li > a > div > div {
	display:table-cell;
	line-height: 16px;
	vertical-align: middle;
	height: 40px;
}

#allpages #left-nav > .inner > .nav > li.selected > a { 
	background: -webkit-linear-gradient(top, rgba(203,203,203,1) 0%,rgba(186,186,186,1) 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: 1px 2px 6px #636363;
	cursor: pointer;
	top:-1px;
	left:-1px;
	position: relative;
	margin-bottom: -2px;
}

/* child navs of left-nav */
#allpages #left-nav > .inner > .nav > li > ul {
	padding-left: 0px;
	margin-bottom: -3px;
	margin-top: 4px;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a {
	width: 195px; 
/*	color: #5b5b5b; */
	padding: 0px;
	height: 40px;
/*	padding: 12px 0px 12px 0px; */
	margin: 0px;
	line-height: 16px;
	cursor: pointer;
	background: url("../../images/bg_left-nav-subnav.png") 5px 0px no-repeat;
	overflow: visible;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a > div {
	display: table-row;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a > div > div {
	display: table-cell;
	height: 40px;
	vertical-align: middle;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a ul {
	padding-left: 18px;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a li {
	line-height: 16px;
	padding-left: 0px;
	width: 170px;
}

#allpages #left-nav > .inner > .nav > li > ul > li > a li > div {
	margin-left: -5px;
}

#allpages #left-nav > .inner > .nav > li > ul > li.selected > a {
/*	color: red; */
	font-family: "FSAlbert";
	font-weight: bold;
}

#allpages #left-nav > .reset-button {
	position:absolute;
	left: 155px;
	top: 10px;
	width: 50px;
	height:20px;
	cursor: pointer;
	font-family: 'Arial';
	font-weight: bold;
	font-size:9px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: url(../../images/refresh.png) 0 0 no-repeat;
}

#allpages #left-nav > .reset-button img {
	margin-left: 5px;
}

#allpages #left-nav > .filter-by-conditions {
	position:absolute;
	left: 15px;
	top: 10px;
	font-family: 'Arial';
	font-weight: bold;
	font-size:11px;
	text-transform: uppercase;
	color: #FFFFFF;
}








/* ########## Level 2 Nav ###########  */
ul.level2 {
}

/* ########## Level 3 Nav ###########  */
#level3nav {
	position:absolute;
	top:540px;
	left:240px;
	margin:0px 10px;
	width:750px;
	height:40px;
	outline:1px solid #BBB;
	text-align:center;
}

#level3nav .navitem {
	padding: 0 12px;
}

/* right-side content wrapper */
#content {
	position:relative;
	float:left;
}

#content-top {
	width:100%;
}
#content-body {
	width:100%;
}
#content-body > .thumbnails > .thumbnail {
	border: none; 
	margin: 0px; 
	padding: 0px;
	box-shadow: none;
	margin-bottom: 10px;
	position: relative;
}

#content-body > .thumbnails > .thumbnail div.prd_tile-top-border {
	background: url('../../phase/images/prd-tile-top-border.png') no-repeat;
	height: 4px;
	width: 780px;
}

#content-body > .thumbnails > .thumbnail div.prd_tile-bot-border {
	background: url('../../phase/images/line.png') no-repeat;
	height: 1px;
	width: 715px;
    background-position: right;
}

#content-body > .thumbnails > .thumbnail div.align-container {
	background: url('../../phase/images/prd-tile-bg-slice.png') repeat-y;
}

.thumbnail {
	float:left;
	
}
.thumbnail h2 {
	font-size:16px;
}

.producttile {
/*	cursor:pointer;*/
}

.producttile.thumbnail > .product-info-button {
	/*background: url('../../images/pi-button.png');
	width: 44px;
	height: 45px;
	position: absolute;
	top: -24px;
	margin-top: 50%;
	left: 685px;*/
    background: url('../../phase/images/pi_line.png') no-repeat;
	height: 32px;
	width: 715px;
    background-position: right;

}

.producttile.thumbnail > .product-info-document-button {
    background: url('../../phase/images/pdf.png') no-repeat;
	height: 32px;
	width: 715px;
    background-position: right;

}




/*
.productBox { 
	min-height: 70px;
	padding: 15px 0px 5px 0px;
	margin-bottom: 10px;
}

.productBox > .logo {
	display: inline-block;
	vertical-align: text-top;
	text-align: right;
	width: 230px;
	padding: 0px 20px 0px 0px;
}

.productBox > .blurb { 
	position: relative;
	display: inline-block;
	width: 440px;
	vertical-align: text-top;
}

.productBox > .blurb > p {
	font-family: "FSAlbertThin";
	color: #4c4c4c;
}

.productBox > .blurb > p.arrowed:before {
	content: "►";
	color: #7c7c7c;
	font-size: 6pt;
	position: absolute; 
	left: -12px;
	top: 0px;
}
*/

.productBox {
/*	width: 730px;
	min-height: 70px;
	padding: 0px;
	overflow:auto;
	position:relative;
	background: url('../../phase/images/prd-tile-bg-slice.png') repeat-y; */
	display: table-row;
}

.productBox > .product-title {
/*	float:left;
	position:relative; */
	display: table-cell;
	vertical-align: middle;
	width:230px;
	padding: 20px 20px 20px 0px;
	height: 100%;
	text-align: right;
}

.productBox > .product-title > div {
/*	margin-top: 1em; */
	text-align: right;
}

.product-title h2.productTitle {
	font-size: 17px;
	line-height: 20px;
	font-family: FSAlbert;
	font-weight: bold;
	color:rgb(122,193,68);
	padding-top: 20px;
	padding-bottom: 20px;
}

.productBox > .product-overview {
/*	float:left;
	position:relative; */
	display: table-cell;
	vertical-align: middle;
	width:425px;
	font-size:13px;
	font-family: FSAlbert;
	padding-top: 20px;
	padding-bottom: 20px;
}

.productBox > .product-overview > p.single-textline {
	font-size: 15px;
	line-height: 18px;
	margin-top: 0;
}

.productBox > .product-overview .brand-ul > li {
	line-height: 18px;
	margin-bottom: 0.5em;
}


.serviceBox {
	width: 715px
	min-height: 70px;
	padding: 15px 15px 5px 0px;
	overflow:auto;
	position:relative;
	background: url('../../phase/images/prd-tile-bg-slice.png') repeat-y;
}

.serviceBox > .svc-title {
	float:left;
	position:relative;
	width:230px;
	padding: 0px 20px 0px 0px;
	height: 100%;
}

.serviceBox > .svc-title > div {
	margin-top: 1em;
	text-align: right;
}

.serviceBox > .svc-title > div > div {
}


.service .product-title h2.serviceTitle {
	font-size: 17px;
	line-height: 20px;
	font-family: FSAlbert;
	font-weight: bold;
	color:rgb(122,193,68);
	padding-right: 10px;
}

.serviceBox > .svc-overview {
	float:left;
	position:relative;
	width:440px;
	font-size:13px;
	font-family: FSAlbert;
}

.serviceBox > .svc-overview .brand-ul > li {
	line-height: 15px;
	margin-bottom: 0.5em;
}

.conditionBox {
	padding: 0px 40px 0px 40px;
}

.conditionBox > .cond-overview .brand-ul > li {
	margin-bottom: 0.5em;
}

.conditionBox h2 {
	font-family: "FSAlbert";
	font-weight: bold;
	margin:0px;
	font-size: 16px;
	color: rgb(0,82,176);
}

.cond-title {
	width:100%;
	height:36px;
}


/* MODAL POPUP */
.modal {
	position: absolute;
	top:0px;
	left:0px;
	margin:0px;
	width:1024px;
	height:768px;
	background-color: transparent;
	overflow: hidden;
	opacity: 0;
}

.modal-body {
	max-height: none;
	padding: 0px;
	overflow: hidden;
}

.pah-close {
	position: absolute;
	right: 5px;
	bottom: 55px;
	width: 42px;
	height: 42px;
	cursor: pointer;
	z-index: 2;
}

#popframe {
	position:relative;
	height:768px;
	width:1024px;
}
#popframe iframe {
	height:768px;
	width:1024px;
	border:0px;
}


/* ########### PARAGRAPH ELEMENTS ############## */




/* templates */

.page-title { 
	font-family: 'FSAlbert';
	font-family: bold;
	line-height: 17px;
	font-size: 15px;
	margin: 0px 0px 18px 0px;
}

.page-sub-blurb { 
	color: #727272;
	font-size: 13px;
	margin: 13px 0px 15px 0px;
	line-height: 17px;
}

.info-header { 
	display: block;
	font-size: 10pt;
	margin: 16px 0px 15px 0px;
	height: 27px;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	width: 700px;
}

.info-header.info-graphic {
	width: 475px;
}

.info-header .text { 
	display: block;
	float: left;
	border-top: 1px solid #d9d9d9;
	padding: 5px 15px 0px 7px;
}

span.body-strong {
	font-family: 'FSAlbert';
	font-weight: bold;
	font-size:15px;
}

.fsalbert-italic {
	font-family: 'FSAlbert';
	font-style: italic;
}

.info-header .extra-lines { display: block; float: left; height: 25px; }
.info-header .extra-lines .top { display: block; height: 60%; width: 1px; border-left: 1px solid #d9d9d9; }

.table { font-size: 11px; line-height: 11px; margin: 0; color: #656565; }
.table > .row { display: table-row; }
.table > .row > .cell { display: table-cell; }
.table-footer { display: block; font-size: 8pt; color: #7a7a7a; margin: 1px 0px; margin-bottom: 18px; }
.table-footer > sup { position: relative; top: 2px; }

.table > .row.head > .cell { position: relative; vertical-align: bottom; height: 40px; border-left: 1px dashed #a9a9a9; }
.table > .row.head > .cell > span { display: block; margin: 0px 10px 4px 7px; }
.table > .row.head > .cell > .header-bar { display: block; height: 7px; background-color: #e8e8e8; border-top: 1px solid #d4d4d4; }
.table > .row.head > .cell:first-child { border-bottom: 1px solid #d4d4d4; padding: 0px 10px 4px 0px; border-left: none; }

.table > .row.data > .cell { position: relative; vertical-align: bottom; min-height: 20px; min-width: 65px; padding: 8px 12px 5px 8px; 
			border-bottom: 1px solid #f2f2f2; border-left: 1px dashed #a9a9a9; }
.table > .row.data > .cell.row-head { border-bottom: 1px solid #dcdcdc; }
.table > .row.data > .cell:first-child { border-left: none; padding-left: 0; }
.table > .row.data > .cell:last-child { border-bottom: none; min-width: 110px; }
.table > .row.data:last-child > .cell:last-child { border-bottom: 1px solid #f2f2f2; }
.table > .row.data > .cell > .evaluations { width: 120px; position: absolute; top: 0px;}

#content .chart-area {
	position: relative;
}


.callout { 
	position: absolute; 
	left: 490px; /* 700px - (180px+2*15px) */ 
	top: 27px; 
	width: 180px; 
	font-family: 'FSAlbert'; 
	font-weight: bold; 
	color: white; 
	font-size: 15px; 
	border-radius: 5px; 
	padding: 20px 15px;
	background: url('../../images/bg_stripe.png') repeat; 
}

.callout.brand-color-background > span.body-strong,
.callout.brand-color-background > strong,
.callout.brand-color-background > b {
	font-size:17px;
}
.callout.brand-color-background > ul:first-child, .callout-bottom.brand-color-background > ul:first-child {
	margin-top: 0px;
}

.callout.brand-color-background > ul:last-child, .callout-bottom.brand-color-background > ul:last-child {
	margin-bottom: 0px;
}

.callout-bottom { 
	display: block;
	background: url('../../images/bg_stripe.png') repeat; 
	font-family: 'FSAlbert'; 
	font-weight: bold; 
	color: white; 
	font-size: 15px; 
	line-height: 16px; 
	border-radius: 5px; 
	padding: 20px 15px; 
	margin-top: 30px; 
	margin-bottom:30px;
}

.callout-bottom.narrow {
	width: 300px;
}

.bottom-toggle { display: block; position: absolute; bottom: 74px; left: 222px; right: 10px; text-align: center; color: #636363; }
.bottom-toggle a { display: inline-block; color: inherit; text-decoration: none; font-size: 13px; margin: 0px; cursor:pointer}
.bottom-toggle .divider { display: inline-block; background-color: #636363; width: 1px; height: 10px; margin: 0px 6px 0px 6px; vertical-align: baseline; }
.bottom-toggle .navitem.tertiary {
	padding-right: 14px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('../../product/images/icon-tertiary-grey.png');
}

/* oveflow:auto is needed so the height is not 0 since it only contains floated children */
.column-view { display: block; overflow: auto; width: 700px; }
.column-view > .col { display: block; width: 330px; float:left; margin-left: 40px;}
.column-view > .col:first-child { margin-left: 0px; }
.column-view > .col-graphic { float:left; width: 470px; }
#content .chart-area > .chart { margin-bottom: 18px; margin-top: 0px; }
#content .chart-area .col-right-notes { position: absolute; left: 490px; top: 25px; width: 210px; }
#content .chart-area .col-right-notes ul:first-child { margin-top:0px; }
.vertical-align { display: table-cell; vertical-align: middle; }
.column-view > .col-right-notes > .vertical-align { height: 510px; }
.column-view > .col.col2 { margin-left: 40px;}
.section {color: #4C4C4C;}
.section > span.title.brand-color:first-child {
	margin-top: 0px;
}
.section.width-470 {width:470px;float:left;}
.section > p { display: block; margin: 0px 0px 18px 0px; font-size: 15px; line-height: 18px; }
.column-view > .col > .section-line { display: block; font-size: 13px; border-bottom: 1px solid #d4d4d4; padding: 10px 0px 10px 0px; }

.right-notes { display: block; position: absolute; right: 45px; top: 85px; width: 212px; }
.right-notes > .section, .column-view > .col > .section { display: block; margin: 0px 0px 12px 0px; }
.right-notes > .section > .title
, .column-view > .col > .section > .title
, .section > .title { display: block; font-family: 'FSAlbert'; font-weight: bold; font-size: 17px; line-height: 19px; margin: 18px 0px 18px 0px; }
.right-notes > .section > ul > li { margin-bottom: 10px; line-height: 16px; }


#content .footnotes p {
	font-size:11px !important;
}

.template_o {
	overflow:auto;
}

.template_o .residue-free {
	float:right;
	position:relative;
	margin-top:30px;
	left: -45px;
}
	.template_o .residue-free a {display:block;}









/* bottom nav in product pages, ie. 'References' */
#sub-nav {
	position: absolute;
	top: 652px;
	left: 6px;
	display: block;
	background-color: #d4d2d2;
	border: none;
	padding: 5px;
	margin: 0px;
	border-radius: 5px;
	width: 206px;
}

#sub-nav ul { 
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#sub-nav > ul > li {
	display: block; 
	float: left;
	width: 99px;
	margin: 0px;
	padding: 2px;
}

#sub-nav > ul > li > a {
	cursor: pointer;
	display: block;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #5b5b5b;
	margin: 0px;
	border-radius: 5px;
	font-size: 13px;
	box-shadow: 1px 1px 3px #999;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,220,220,1) 100%); /* Chrome10+,Safari5.1+ */
}

#sub-nav > ul > li > a.disabled {
	box-shadow: none;
	color: #aaa;
	background: #ececec;
}

/* ########### NAV ELEMENTS ############## */
.navbar, .navbar > .navbar-inner > .container {
	width: 1024px;
}

.navbar .nav > li {
	padding: 0 0px 0px 1px;
	width: 159px;
	text-align: center;
}

#home-navbar > li {
	width: 160px;
}

.navbar .nav > li:first-child {
	width: 62px; 
	padding: 0px 0px 0px 0px;
}

#home-navbar > li:first-child {
	width: 159px; 
}

.navbar .nav > li:last-child {
	width: 150px; 
}

#home-navbar > li:last-child {
	width: 55px; 
}

#navbuttons > li > a#button_5 {
	padding-left: 15px;
}

#navbuttons > li > a#button_0 {
	padding-left: 20px;
}

.navbar .nav > li > a {
	color: #fff;
	text-shadow: 0px 0px 4px #333;
	padding: 12px 5px 10px 5px;
	font-family: 'ProximaNovaCondBold';
	line-height: 21px;
	font-size:13px;
	text-transform: uppercase;
}

/* default state for navbar */
.navbar-inner > .container > .nav {
	background: url('../../images/navbar_home_on.png');
	width: 1024px;
	height: 46px;
	padding-left: 0px;
	margin: 0;
}
.navbar-inner {
	padding-top: 10px;
	background: transparent url('../../images/navbar_topline_bg.png') repeat-x;
}

#home-navbar {
	margin-top: -1px;
	background: #ffffff url('../../images/navbar_home.png');
}

/* Individual sections */

#breeding > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_breeding_on.png');		
}

#farrowing > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_farrowing_on.png');		
}

#nursery > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_nursery_on.png');		
}

#grower > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_grower_on.png');		
}

#finishing > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_finishing_on.png');		
}

#products_services > .navbar > .navbar-inner > .container > .nav {
	background: url('../../images/navbar_products_services_on.png');		
}



/* CUSTOM ALIGNMENT */

.s01-overview .svc-title img {
	margin-top: -25px;
}

/* BRAND COLORS */

ul {
/* 	list-style-image: url('../../images/bullet-grey.png'); */
	list-style:none;
}

.service .brand-ul {
 	list-style-image: url('../../images/bullet-grey.png');
	padding-left: 13px;
}

.product .brand-ul {
 	list-style-image: url('../../images/bullet-grey.png');
	padding-left: 13px;
}

ul.brand-ul {
	background:none;
	padding-left: 0px;
}

#content .brand-ul > li {
	margin-bottom: 7px;
	font-size: 15px;
}

#content .brand-ul > li.list-head {
  margin-left: -13px;
}

#content .brand-ul > li.no-bullet {
    background: transparent !important;
    padding-left: 0;
}

#content .brand-ul > li:last-child {
	margin-bottom: 0px;
}

#content .brand-ul > li > p:last-child {
	margin-bottom: 0px;
}

#content div.tertiary > ul {
	list-style:none;
	margin: 0px;
	padding-left: 6px;
}

#content div.tertiary > ul > li {
	display: block; 
	float: left;
	padding: 13px 5px;
}

#content div.tertiary > ul > li.divider {
	display: block; 
	float: left;
	margin: 10px 0px 0px 2px;
	padding: 0px;
}





.body-iframe #content .brand-color-background .brand-ul {
	list-style-image: url('../../images/bullet-white.png');
	padding-left: 13px;
}


.body-iframe.page-content #content > div:first-child {
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 45px;
	margin-top: 45px;
	margin-right: 4px;
	height: 495px;
}

.body-iframe.page-content #content > div:first-child > div {
	max-width: 700px;
}

.body-iframe.page-content #content > div:first-child > .callout-bottom {
	max-width: 670px;
}

.body-iframe.page-content #content > div:first-child::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.body-iframe.page-content #content > div:first-child::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.product-template .brand-color {
	color: red;
}


.product-template .brand-color-background {
	background-color: red;
}




.product-albac .brand-color {
	color: #286017;
}

.product-albac li.brand-ul {
	background:url('../../product/images/bullet-albac.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-albac ul.brand-ul li {
	background:url('../../product/images/bullet-albac.png') 0 6px no-repeat !important;
	padding-left:12px;
}



.product-albac .brand-color-background {
	background: url('../../product/images/color-background-albac.png');
	background-color: #286017;
}
.product-albac .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-albac.png') repeat-x;
}
.product-albac.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	width: 110px;
}

.product-aureo .brand-color {
	color: #3A7728;
}


.product-aureo li.brand-ul {
	background:url('../../product/images/bullet-aureo.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-aureo ul.brand-ul li {
	background:url('../../product/images/bullet-aureo.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-aureo .brand-color-background {
	background: url('../../product/images/color-background-aureo.png');
	background-color: #3A7728;
}
.product-aureo .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-aureo.png') repeat-x;
}

.product-aureo div.kb-isi {
	top:575px !important;
	height:130px !important;
}

.product-aureo div.kb-isi .isi-language {
	width:604px !important;
}

.product-aureo #callout-2 {
	bottom:125px !important;
}

.product-aureo #callout-3 {
	bottom:125px !important;
}

.product-aureomycin .brand-color {
	color: #CC4E39;
}

.product-aureomycin li.brand-ul {
	background:url('../../product/images/bullet-aureomycin.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-aureomycin ul.brand-ul li {
	background:url('../../product/images/bullet-aureomycin.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-aureomycin .brand-color-background {
	background: url('../../product/images/color-background-aureomycin.png');
	background-color: #CC4E39;
}
.product-aureomycin .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-aureomycin.png') repeat-x;
}

.product-aureomycin.page-key-benefits #content div.kb-isi {
	width:740px;
}

.product-aureomycin.page-key-benefits #content div.kb-isi .product-image {
	width:100px;
}

.product-aureomycin.page-key-benefits #content div.kb-isi .isi-language {
	width:620px;
	margin-left:16px;
}

.product-bmd .brand-color {
	color: #007770;
}

.product-bmd li.brand-ul {
	background:url('../../product/images/bullet-bmd.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-bmd ul.brand-ul li {
	background:url('../../product/images/bullet-bmd.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-bmd .brand-color-background {
	background: url('../../product/images/color-background-bmd.png');
	background-color: #007770;
}
.product-bmd .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-bmd.png') repeat-x;
}

.product-bmd.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	width: 110px;
}

.page-P4_4_2 .callout {
	top: 0px;
}


.product-draxxin .kb-main .cross-link.brand-color {
	color: #f4961d;
}

.product-draxxin .brand-color {
	color: #004990;
}

.product-draxxin li.brand-ul {
	background:url('../../product/images/bullet-draxxin.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-draxxin ul.brand-ul li {
	background:url('../../product/images/bullet-draxxin.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-draxxin .brand-color-background {
	background: url('../../product/images/color-background-draxxin.png');
	background-color: #F8971D;
}
.product-draxxin .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-draxxin.png') repeat-x;
}

.product-draxxin .brand-color2 {
	color: #F8971D;
}

.product-draxxin.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	width: 130px;
}

.product-draxxin .cross-link.brand-color {
	background: url('../../product/images/bullet-draxxin.png') right center no-repeat transparent;
}

ul#subnav_P5_2 {
	max-height:270px;
	overflow-y:auto;
}




.product-erbac .brand-color {
	color: #02556f;
}

.product-erbac li.brand-ul {
	background:url('../../product/images/bullet-erbac.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-erbac ul.brand-ul li {
	background:url('../../product/images/bullet-erbac.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-erbac .brand-color-background {
	background: url('../../product/images/color-background-erbac.png');
	background-color: #055670;
}
.product-erbac .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-erbac.png') repeat-x;
}



.product-erbac-plus .brand-color {
	color: #02556F;
}

.product-erbac-plus li.brand-ul {
	background:url('../../product/images/bullet-erbac_plus.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-erbac-plus ul.brand-ul li {
	background:url('../../product/images/bullet-erbac_plus.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-erbac-plus .brand-color-background {
	background: url('../../product/images/color-background-erbac-plus.png');
	background-color: #02556F;
}
.product-erbac-plus .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-erbac-plus.png') repeat-x;
}


.product-excede .brand-color {
	color: #D11242;
}

.product-excede li.brand-ul {
	background:url('../../product/images/bullet-excede.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-excede ul.brand-ul li {
	background:url('../../product/images/bullet-excede.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-excede .brand-color-background {
	background: url('../../product/images/color-background-excede.png');
	background-color: #D11242;
}
.product-excede .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-excede.png') repeat-x;
}

.product-excede .cross-link.brand-color {
	background: url('../../product/images/bullet-excede.png') right center no-repeat transparent;
}

.page-P7_2_6_2 .callout {
	top: 40px;
}



.product-excenel .brand-color {
	color: #000000;
}

.product-excenel .brand-color2 {
	color: #717375;
}

.product-excenel li.brand-ul {
	background:url('../../product/images/bullet-excenel.png') 0 4px no-repeat !important;
	padding-left:18px;
}

/* .product-excenel ul.brand-ul li {
	background:url('../../product/images/bullet-excenel.png') 0 6px no-repeat !important;
	padding-left:12px;
}
 */
.product-excenel .brand-color-background {
	background: url('../../product/images/color-background-excenel.png');
	background-color: #717375;
}
.product-excenel .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-excenel.png') repeat-x;
}


.product-farrowsure .brand-color {
	color: black;
}

.product-farrowsure li.brand-ul {
	background:url('../../product/images/bullet-farrowsure.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-farrowsure ul.brand-ul li {
	background:url('../../product/images/bullet-farrowsure.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-farrowsure .brand-color-background {
	background: url('../../product/images/color-background-farrowsure.png');
	background-color: #D8C127;
}
.product-farrowsure .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-farrowsure.png') repeat-x;
}

.page-P9_2_2_1 .callout {
	left: 500px;
}


.product-farrowsure.body-iframe #content .product-shot {
	top: 20px;
}

.product-flusure .brand-color {
	color: #9d1f60;
}

.product-flusure li.brand-ul {
	background:url('../../product/images/bullet-flusure.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-flusure ul.brand-ul li {
	background:url('../../product/images/bullet-flusure.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-flusure .brand-color-background {
	background: url('../../product/images/color-background-flusure.png');
	background-color: #9d1f60;
}
.product-flusure .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-flusure.png') repeat-x;
}
.product-flusure.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	width: 150px;
}

.product-flusure.body-iframe .bottom-toggle .navitem.tertiary.selected {
	background-image: url('../../product/images/icon-tertiary-color-flusure.png');
}

.product-flusure.body-iframe.page-P11_3_1_1 #content div.tertiary {
	position: absolute;
	bottom: -20px;
	left: 30px;
	width: 221px;
	height: 53px;
	overflow: visible;
	background-image: url('../../product/images/balloon-tertiary-flusure-2_1_1.png');
}

.product-flusure.body-iframe.page-P11_3_1_2 #content div.tertiary {
	position: absolute;
	bottom: -20px;
	left: 85px;
	width: 460px;
	height: 53px;
	overflow: visible;
	background-image: url('../../product/images/balloon-tertiary-flusure-2_1_2.png');
}


.body-iframe.page-dot-1 #content div.video {
	top:20px;
}

.product-flusure.body-iframe.page-P11_1.body-iframe #content div.video.extended {
	width: 280px;
}

.product-flusure.body-iframe.page-P11_1.body-iframe #content div.video .description {
	width: 160px;
}

.product-flusure video#video-evolution {
	position: absolute;
	width: 640px;
	height: 480px;
	top: 0px;
	left: 0px;
	z-index: 2;
	background-color: black;
}

.product-flusure .cross-link.brand-color {
	background: url('../../product/images/bullet-flusure.png') right center no-repeat transparent;
}

.product-flusure .state7-button1 {
	position:absolute;
	display:block;
	top: 140px;
	left: 70px;
	height: 60px;
	width: 205px;
}

.product-flusure .state7-button2 {
	position:absolute;
	display:block;
	top: 140px;
	left: 294px;
	height: 60px;
	width: 205px;
}

.product-flusure #comparison-popup {
	display:none;
}

.product-flusure #comparison-popup div.close {
	position:absolute;
	top: 672px;
	left: 978px;
	width: 41px;
	height: 41px;
	z-index:10;
}

.product-flusure #comparison-popup .title {
	background: url(../../product/images/P_11_1_6_table-title.png) 0 0 no-repeat transparent;
	position:absolute;
	width:700px;
	height:40px;
	top:30px;
	left:140px;
}

.product-flusure #comparison-popup .contents {
	position:absolute;
	top:70px;
	left:140px;
	width:716px;
	height:500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.product-flusure #comparison-popup .content-1 {
	background: url(../../product/images/P_11_1_6_content-1.png) 0 0 no-repeat transparent;
	width:700px;
	height:687px;
}

.product-flusure #comparison-popup .content-2 {
	background: url(../../product/images/P_11_1_6_content-2.png) 0 0 no-repeat transparent;
	width:700px;
	height:687px;
}

.product-flusure #comparison-popup .selector {
	position:absolute;
	top:30px;
	left:632px;
	z-index:10;
}

.product-flusure #comparison-popup .selector-titles {
	height:41px;
	width:208px;
}

.product-flusure #comparison-popup .selector-title-1 {
	background: url(../../product/images/P_11_1_6_selector-title.png) 0 0 no-repeat transparent;
	height:41px;
	width:208px;
	display:block;
}

.product-flusure #comparison-popup .selector-title-2 {
	background: url(../../product/images/P_11_1_6_selector-title.png) 0 -41px no-repeat transparent;
	height:41px;
	width:208px;
	display:block;
}

.product-flusure #comparison-popup .selector-options {
	position:absolute;
	height:39px;
	width:208px;
	top:40px;
	left:0px;
	display:block;
}

.product-flusure #comparison-popup .selector-option-1 {
	background: url(../../product/images/P_11_1_6_selector-options.png) 0 0 no-repeat transparent;
	height:39px;
	width:208px;
	display:block;
}

.product-flusure #comparison-popup .selector-option-2 {
	background: url(../../product/images/P_11_1_6_selector-options.png) 0 -39px no-repeat transparent;
	height:39px;
	width:208px;
	display:block;
}

.page-P11_2_5 #audio1 {
	top:120px !important;
}

.page-P11_2_5 #audio2 {
	top:200px !important;
}

.page-P11_2_5 #audio3 {
	top:280px !important;
}

.page-P11_2_1_1 video.dendogram {
	background-color: black;
	width: 480px;
	height: 360px;
}

.body-iframe.page-content #content > div.tertiary-container:first-child {
	overflow: visible;
}

.body-iframe.page-content #content > div.tertiary-container > div:first-child {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}




.product-fostera .brand-color {
	color: #1B3D6F;
}

.product-fostera li.brand-ul {
	background:url('../../product/images/bullet-fostera.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-fostera ul.brand-ul li {
	background:url('../../product/images/bullet-fostera.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-fostera .brand-color-background {
	background: url('../../product/images/color-background-fostera.png');
	background-color: #1B3D6F;
}
.product-fostera .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-fostera.png') repeat-x;
}
.product-fostera.body-iframe .so-open {
	position: absolute;
	left: 620px;
	top: 320px;
	width: 60px;
	height: 60px;
}

.product-fostera.body-iframe #content div.audio.audio2 {
	top: 302px;
}

.product-fostera.body-iframe video.rigorous-standards {
	width: 320px;
	height: 240px;
	background-color: black;
}

.product-fostera .cross-link.brand-color {
	background: url('../../product/images/bullet-fostera.png') right center no-repeat transparent;
}

.product-fostera.body-iframe.page-key-benefits #content div.kb-main#main-5 {
	background: url('../../product/images/P13_1_05-background.png') no-repeat;
}

.product-fostera.body-iframe.page-key-benefits #content div.kb-main#main-5 > div {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 714px;
	height: 430px;
	top: 10px;
	left: 45px;
	position: relative;
}

.product-fostera.body-iframe.page-key-benefits #content div.kb-main#main-5 > div::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.product-fostera.body-iframe.page-key-benefits #content div.kb-main#main-5 > div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}




.product-fostera.body-iframe.page-key-benefits #content div.kb-main#main-5 > div > img {
	margin-top: 20px;
	margin-bottom: 20px;
}





.product-fostera-prrs .brand-color {
	color: #00AC89;
}

.product-fostera-prrs li.brand-ul {
	background:url('../../product/images/bullet-fostera_prrs.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-fostera-prrs ul.brand-ul li {
	background:url('../../product/images/bullet-fostera_prrs.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-fostera-prrs .brand-color-background {
	background-color: #00AC89;
}

.product-fostera-prrs.page-key-benefits #content div.kb-isi .isi-language {
	width:545px;
	margin-left:64px;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav {
	background:url(../../product/images/balloon-tertiary-fostera-2_3.png) 0 0 ;
	width:337px;
	height:40px;
	position:absolute;
	top:500px;
	left:230px;
	font-size:13px;
	padding:10px 10px 12px 10px;
	margin:0;
}

.product-fostera-prrs.page-P14_2_3_1 .tab {
	position:absolute;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 45px;
	margin-top: 45px;
	margin-right: 4px;
	height: 495px;
}

.product-fostera-prrs.page-P14_2_3_1 .tab div:first-child {
	margin-bottom: 40px;
	max-width:700px;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li {
	float:left;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li a {
	display:block;
	height:40px;
	line-height:40px;
	vertical-align: middle;
	text-align: center;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li:nth-child(1) {
	width: 120px;
	margin-right:12px;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li:nth-child(2) {
	width: 126px;
	margin-right:12px;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li:nth-child(3) {
	width: 64px;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li a.selected {
	color:#333333;
}

.product-fostera-prrs.page-P14_2_3_1 #toggle-subnav li a {
	color:#00ac89;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav {
	background:url(../../product/images/balloon-tertiary-fostera-2_3.png) 0 0 ;
	width:337px;
	height:40px;
	position:absolute;
	top:500px;
	left:282px;
	font-size:13px;
	padding:10px 10px 12px 10px;
	margin:0;
}

.product-fostera-prrs.page-P14_2_3_2 .tab {
	position:absolute;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 45px;
	margin-top: 45px;
	margin-right: 4px;
	height: 495px;
}

.product-fostera-prrs.page-P14_2_3_2 .tab div:first-child {
	margin-bottom: 40px;
	max-width:700px;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li {
	float:left;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li a {
	display:block;
	height:40px;
	line-height:40px;
	vertical-align: middle;
	text-align: center;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li:nth-child(1) {
	width: 120px;
	margin-right:12px;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li:nth-child(2) {
	width: 126px;
	margin-right:12px;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li:nth-child(3) {
	width: 64px;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li a.selected {
	color:#333333;
}

.product-fostera-prrs.page-P14_2_3_2 #toggle-subnav li a {
	color:#00ac89;
}

.product-improvest .brand-color {
	color: #009EDA;
}


.product-improvest li.brand-ul {
	background:url('../../product/images/bullet-improvest.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-improvest ul.brand-ul li {
	background:url('../../product/images/bullet-improvest.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-improvest .brand-color-background {
	background-color: #009EDA;
}

.productBox.p13-overview > .product-title {
	vertical-align: top;
}


.product-lincomix .brand-color {
	color: #6A4998;
}

.product-lincomix li.brand-ul {
	background:url('../../product/images/bullet-lincomix.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-lincomix ul.brand-ul li {
	background:url('../../product/images/bullet-lincomix.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-lincomix .brand-color-background {
	background: url('../../product/images/color-background-lincomix.png');
	background-color: #6A4998;
}

.product-lincomix .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-lincomix.png') repeat-x;
}

.page-P16_2_2_2 .chart > p {
	margin-top: 25px;
}


.product-lincomix-injectable .brand-color {
	color: #B60D55;
}

.product-lincomix-injectable li.brand-ul {
	background:url('../../product/images/bullet-lincomix_injectable.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-lincomix-injectable ul.brand-ul li {
	background:url('../../product/images/bullet-lincomix_injectable.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-lincomix-injectable .brand-color-background {
	background: url('../../product/images/color-background-lincomix-injectable.png');
	background-color: #B60D55;
}
.product-lincomix-injectable .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-lincomix-injectable.png') repeat-x;
}


.product-litterguard .brand-color {
	color: #521F23;
}

.product-litterguard li.brand-ul {
	background:url('../../product/images/bullet-litterguard.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-litterguard ul.brand-ul li {
	background:url('../../product/images/bullet-litterguard.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-litterguard .brand-color-background {
	background: url('../../product/images/color-background-litterguard.png');
	background-color: #521F23;
}
.product-litterguard .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-litterguard.png') repeat-x;
}
.product-litterguard.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	width: 110px;
}



.product-naxcel .brand-color {
	color: #A5B039;
}

.product-naxcel li.brand-ul {
	background:url('../../product/images/bullet-naxcel.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-naxcel ul.brand-ul li {
	background:url('../../product/images/bullet-naxcel.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-naxcel .brand-color-background {
	background: url('../../product/images/color-background-naxcel.png');
	background-color: #A5B039;
}
.product-naxcel .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-naxcel.png') repeat-x;
}


.product-respisure .brand-color {
	color: #d31245;
}

.product-respisure li.brand-ul {
	background:url('../../product/images/bullet-respisure.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-respisure ul.brand-ul li {
	background:url('../../product/images/bullet-respisure.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-respisure .brand-color-background {
	background: url('../../product/images/color-background-respisure.png');
	background-color: #0079C1;
}
.product-respisure .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-respisure.png') repeat-x;
}
.product-respisure.body-iframe .so-open {
	position: absolute;
	left: 620px;
	top: 320px;
	width: 60px;
	height: 60px;
}
.product-respisure.body-iframe.page-key-benefits #content div.kb-isi .isi-language {
	width: 600px;
}
.product-respisure.body-iframe.page-key-benefits #content div.kb-isi .product-image > img {
	width: 115px;
	height: 115px;
}


.product-suvaxyn .brand-color {
	color: #ed1c24;
}

.product-suvaxyn li.brand-ul {
	background:url('../../product/images/bullet-suvaxyn.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-suvaxyn ul.brand-ul li {
	background:url('../../product/images/bullet-suvaxyn.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-suvaxyn .brand-color-background {
	background: url('../../product/images/color-background-suvaxyn.png');
	background-color: #ed1c24;
}
.product-suvaxyn .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-suvaxyn.png') repeat-x;
}
.product-suvaxyn.body-iframe.page-key-benefits #content div.kb-isi .product-image > img {
	width: 115px;
	height: 115px;
}

.product-suvaxyn.body-iframe.page-key-benefits #content div.kb-isi .isi-language {
	width: 530px;
}






.product-lutalyse .brand-color-background {
	background: url('../../product/images/color-background-lutalyse.png');
	background-color: #654c90;
}
.product-lutalyse .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-lutalyse.png') repeat-x;
}

.product-lutalyse div.kb-isi {
	top:575px !important;
	height:136px !important;
}

.product-lutalyse div.kb-isi .isi-language {
	width:604px !important;
}

.product-lutalyse .brand-color {
	color: #654c90;
}

.product-lutalyse li.brand-ul {
	background:url('../../product/images/bullet-lutalyse.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-lutalyse ul.brand-ul li {
	background:url('../../product/images/bullet-lutalyse.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-lutalyse .brand-ul.level2 {
	list-style-image: none;
	list-style-type: circle;
	color: #654c90;
	padding-left: 20px;
	margin-top: 7px;
}

.product-lutalyse .brand-ul.level2 > li > span {
	color: #4c4c4c;
}

.product-lutalyse.body-iframe #content .product-shot {
	top: 30px;
}

.product-lutalyse.body-iframe.page-content #bottom-isi {
	height: 36px;
	overflow: hidden;
}

.product-lutalyse.body-iframe.page-content #bottom-isi div.isi-up {
	float: left;
	padding: 6px 10px;
}

.product-lutalyse.body-iframe.page-content #bottom-isi div.isi-down {
	display: none;
	float: left;
	height: 60px;
	padding: 4px 10px;
}

.product-lutalyse.body-iframe.page-content #bottom-isi.expanded {
	height: 83px;
	overflow: hidden;
	top: 652px;
	padding-top: 10px;
}

.product-lutalyse.body-iframe.page-content #bottom-isi.expanded div.isi-up {
	display: none;
}

.product-lutalyse.body-iframe.page-content #bottom-isi.expanded div.isi-down {
	display: block;
}


.product-fludetect li.brand-ul {
	background:url('../../product/images/bullet-fludetect.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-fludetect ul.brand-ul li {
	background:url('../../product/images/bullet-fludetect.png') 0 6px no-repeat !important;
	padding-left:12px;
}


/* Calendar */

.product-lutalyse.body-iframe.page-content #date {
	float: left;
	margin-left: 100px;
	margin-top: 57px;
}

.product-lutalyse.body-iframe.page-content #avg_gestation_container {
	float: left;
	margin-left: 10px;
	margin-top: 57px;
}

.product-lutalyse.body-iframe.page-content #avg_gestation_dummy {
	display:none;
}

.product-lutalyse.body-iframe.page-content .dw {
	font-family:inherit;
	color:white;
}

.product-lutalyse.body-iframe.page-content .dw-li {
	font-size: 24px;
	font-weight: normal;
	text-shadow: 0 1px 1px #eee;
}

.product-lutalyse.body-iframe.page-content #date .dw-li {
	text-align: right;
}

.product-lutalyse.body-iframe.page-content .dwbg {
	background-color: rgb(121,97,161);
}

.product-lutalyse.body-iframe.page-content .dwwl.dwrc {
	margin: 0 0;
/*	background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.35, #333),color-stop(0.50, #888),color-stop(0.65, #333),to(#fff));
*/	background: white;
}

.product-lutalyse.body-iframe.page-content .dwhl {
	padding: 0 0;
}

.product-lutalyse.body-iframe.page-content .dwc {
	margin: 0 0;
}

.product-lutalyse.body-iframe.page-content .dww {
	margin: 0;
	border-left: 1px solid #eee;
	border-right: 1px solid #888;
}

.product-lutalyse.body-iframe.page-content .dwwr {
	padding: 0 0;
	min-width: initial;
	line-height: 7px;
}

.product-lutalyse.body-iframe.page-content .dw-trans {
	line-height: 7px;
	background-color: rgb(121,97,161);
	padding: 4px;
}

.product-lutalyse.body-iframe.page-content .dwi {
	margin: 0 0;
}

.product-lutalyse.body-iframe.page-content .dwsc .dww {
	color: black;
/*	background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.45, #444),color-stop(0.55, #444),to(#fff));
*/	background: white;
}

.product-lutalyse.body-iframe.page-content .dwrc {
	background: white;
	border-radius: 4px;
	box-shadow: inset 0px 0px 1px 1px #444;
}

.product-lutalyse.body-iframe.page-content .dwwo {
	background: -webkit-gradient(linear,left bottom,left top,from(#fff),color-stop(0.52, rgba(44,44,44,0)),color-stop(0.48, rgba(44,44,44,0)),to(#fff));
}

.product-lutalyse.body-iframe.page-content .dwwol {
	width: 100%;
	height: 100%;
	border: 0;
	top: 0px;
	left: 0px;
	margin: 0px;
	background: url('../../product/images/P32_4_01-dial.png');
}


.product-lutalyse.body-iframe.page-content #content > div:first-child > div {
	overflow:auto;
}

.product-lutalyse.body-iframe.page-content #content .section > .calendar {
	background: url('../../product/images/P32_4_01-background.png') no-repeat;
	height: 360px;
	width: 668px;
	margin-bottom: 18px;
	position: relative;
}

.product-lutalyse.body-iframe.page-content .calendar #breeding-date-title {
	position: absolute;
	font-size: 13px;
	top: 37px;
	left: 100px;
}

.product-lutalyse.body-iframe.page-content .calendar #avg-gestation-title {
	position: absolute;
	font-size: 13px;
	top: 38px;
	left: 428px;
}


/* LUTALYSE FARROWING CALCULATOR */
#farrowing-calculator {
	border: 0;
	float: left;
	clear: both;
}

#farrowing-calculator #results {
	padding: 64px 0 0 21px;
	margin-left: 129px;
}
#farrowing-calculator .result {
	display: inline-block;
	padding: 0 5px;
	text-align: center;
	width: 91px
}
#farrowing-calculator .result#administration-date {
	color: #361368;
	padding-right: 2px;
}
#farrowing-calculator .result.waiting-date {
	color: #361368;
	padding-left: 0;
}
#farrowing-calculator .result .dow,
#farrowing-calculator .result .year {
	font-size: 13px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}
#farrowing-calculator .result .dam {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	padding: 2px 0;
}




.product-lincospectin .brand-color-background {
	background: url('../../product/images/color-background-linco-spectin.png');
	background-color: #78b9a9;
}
.product-lincospectin .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-linco-spectin.png') repeat-x;
}

.product-lincospectin #content div.kb-callout {
	top: 467px;	
}

.product-lincospectin.body-iframe.page-key-benefits #content div.kb-isi {
	top:575px;
	height:136px;
	width:730px;
}

.product-lincospectin.body-iframe.page-key-benefits #content div.kb-isi .isi-language {
	width:635px;
}

.product-lincospectin.body-iframe.page-key-benefits #content div.kb-isi .product-image {
	margin-top: 20px;
	width: 65px;
}

.product-lincospectin .brand-color {
	color: #78b9a9;
}

.product-lincospectin.body-iframe #content .product-shot {
	top: 35px;
	z-index: 2;
}


.product-lincospectin li.brand-ul {
	background:url('../../product/images/bullet-lincospectin.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-lincospectin ul.brand-ul li {
	background:url('../../product/images/bullet-lincospectin.png') 0 6px no-repeat !important;
	padding-left:12px;
}









.product-predef .brand-color-background {
	background: url('../../product/images/color-background-predef.png');
	background-color: #d92421;
}
.product-predef .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-predef.png') repeat-x;
}

.product-predef #content div.kb-callout {
	top: 467px;	
}

.product-predef div.kb-isi {
	top:575px !important;
	height:136px !important;
	width:730px !important;
}

.product-predef div.kb-isi .isi-language {
	width:615px !important;
}

.product-predef div.kb-isi .product-image {
	margin-top: 20px;
}

.product-predef .brand-color {
	color: #d92421;
}

.product-predef li.brand-ul {
	background:url('../../product/images/bullet-predef.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-predef ul.brand-ul li {
	background:url('../../product/images/bullet-predef.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-predef ul.brand-ul li {
	background:url('../../product/images/bullet-predef.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-predef.body-iframe #content .product-shot {
	top: 40px;
}

.product-predef.body-iframe.page-content #bottom-isi {
	height: 36px;
	overflow: hidden;
}

.product-predef.body-iframe.page-content #bottom-isi div.isi-up {
	float: left;
	padding: 6px 10px;
}

.product-predef.body-iframe.page-content #bottom-isi div.isi-down {
	display: none;
	float: left;
	height: 60px;
	padding: 4px 10px;
}

.product-predef.body-iframe.page-content #bottom-isi.expanded {
	height: 83px;
	overflow: hidden;
	top: 652px;
	padding-top: 10px;
}

.product-predef.body-iframe.page-content #bottom-isi.expanded div.isi-up {
	display: none;
}

.product-predef.body-iframe.page-content #bottom-isi.expanded div.isi-down {
	display: block;
}







.product-oxytet .brand-color-background {
	background: url('../../product/images/color-background-oxytet.png');
	background-color: #8598cb;
}
.product-oxytet .pah-header.brand-color-background {
	background: url('../../product/images/header-slice-oxytet.png') repeat-x;
}

.product-oxytet #content div.kb-callout {
	top: 467px;	
}

.product-oxytet div.kb-isi {
	top:575px !important;
	height:136px !important;
	width:760px !important;
}

.product-oxytet div.kb-isi .isi-language {
	width:610px !important;
}

.product-oxytet div.kb-isi .product-image {
	margin-top: 20px;
	width:135px !important;
}

.product-oxytet .brand-color {
	color: #8598cb;
}


.product-oxytet li.brand-ul {
	background:url('../../product/images/bullet-oxytet.png') 0 4px no-repeat !important;
	padding-left:18px;
}

.product-oxytet ul.brand-ul li {
	background:url('../../product/images/bullet-oxytet.png') 0 6px no-repeat !important;
	padding-left:12px;
}

.product-oxytet.body-iframe #content .product-shot {
	top: 30px;
}








.body-iframe.service #headerbar > .pah-header {
	background-color: grey;
}

.body-iframe.service .brand-ul {
	padding-left: 13px;
}

.body-iframe.service.s01-index .brand-color-background {
	background: url('../../service/images/color-background-ipc.png');
}

.body-iframe.service.s01-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-ipc.png') repeat-x;
}

.body-iframe.service.s01-index .brand-ul {
	list-style-image: url('../../service/images/bullet-s01.png');
}

.body-iframe.service.s01-index .brand-color {
	color: #1c75bc;
}


.body-iframe.service.s04-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-husbandry-educator.png') repeat-x;
}

.body-iframe.service.s01-index .brand-color {
	color: #000000;
}

.body-iframe.service.s04-index .brand-ul {
	list-style-image: url('../../service/images/bullet-black.png');
}

.body-iframe.service.s05-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-supervisory-certificate-program.png') repeat-x;
}

.body-iframe.service.s05-index li.brand-ul {
    background:url('../../images/bullet-green.png') 0 4px no-repeat !important;
    padding-left:18px;
}

.body-iframe.service.s05-index ul.brand-ul li {
    list-style-image: url('../../images/bullet-green.png');
}

.body-iframe.service.s05-index .brand-color {
	color: #6db434;
}

.body-iframe.service.s06-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-supervisory-skills-development.png') repeat-x;
}

.body-iframe.service.s07-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-intro-sp.png') repeat-x;
}

.body-iframe.service.s08-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-comprehensive-sp.png') repeat-x;
}

.body-iframe.service.s09-index #headerbar > .pah-header {
	background: url('../../service/images/header-slice-personalized-sp.png') repeat-x;
}


#farrowing-calculator .selector {
	display: inline-block;
	height: 119px;
	overflow: hidden;
	position: relative;
}
#farrowing-calculator .selector#month-selector {
	padding-right: 5px;
}
#farrowing-calculator .selector#month-selector,
#farrowing-calculator ul#month-ul {
	width: 101px;
}
#farrowing-calculator .selector#dow-selector,
#farrowing-calculator ul#dow-ul {
	width: 70px;
}
#farrowing-calculator .selector#dom-selector,
#farrowing-calculator ul#dom-ul {
	width: 52px;
}
#farrowing-calculator .selector#year-selector {
	padding-right: 20px;
}
#farrowing-calculator .selector#year-selector,
#farrowing-calculator ul#year-ul {
	width: 70px;
}
#farrowing-calculator .selector#gestation-selector,
#farrowing-calculator ul#gestation-ul {
	width: 100px;
}
#farrowing-calculator ul {
	font-size: 22px;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 0;
}
#farrowing-calculator ul#month-ul {
	text-align: right;
}
#farrowing-calculator ul li {
	color: #808080;
	/* 40px total height including padding*/
	height: 26px;
	line-height: 26px;
	padding: 7px 0;
}
#farrowing-calculator ul li.selected {
	color: #000;
}
/* Hiding non-existent dates but not accounting for leap years */
#farrowing-calculator ul#dom-ul.month-2 li[val="29"],
#farrowing-calculator ul#dom-ul.month-2 li[val="30"],
#farrowing-calculator ul#dom-ul.month-2 li[val="31"],
#farrowing-calculator ul#dom-ul.month-4 li[val="31"],
#farrowing-calculator ul#dom-ul.month-6 li[val="31"],
#farrowing-calculator ul#dom-ul.month-9 li[val="31"],
#farrowing-calculator ul#dom-ul.month-11 li[val="31"] {
	display: none;
}
