@-moz-document url-prefix() {
    .main-container > header nav .search .btn-close  {
        margin-top:0px;
    }
    .sort-menu {
        .menu {
            position:absolute;
            margin-top: 20px;
            margin-left: -90px;
        }
    }
    .filter-menu {
        .menu {
            position:absolute;
            margin-top: 20px;
            margin-left: -30px;
        }
    }
    section.profile input[type="file"] {
        margin-left: -275px;
    }
}