/* Draxxin 25 Stylesheet */

/* webfonts
@font-face {
	font-family: 'ProximaNovaCond-Regular';
	src: url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
}
@font-face {
	font-family: 'ProximaNovaCond-Bold';
	src: url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
}
@font-face {
	font-family: 'ProximaNovaCond-Semibold';
	src: url('../fonts/ProximaNovaCondensed-Semibold.ttf') format('truetype'), url('ProximaNovaCondensed-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
}
@font-face {
	font-family: 'ProximaNovaExCn-Bold';
	src: url('../fonts/ProximaNovaExCn-Bold.ttf') format('truetype'), url('ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg');
}

b{
	font-weight: normal;
}*/

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	color: #5a6578;
	font-family: 'ProximaNovaCond-Regular', arial, sans-serif;
}
#container {
	width: 1024px;
	height: 768px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
/* top bar*/
#top-bar {
	width: 1024px;
	height: 66px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 72%, #f1f1f1 88%, #c6c6c6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(72%, #ffffff), color-stop(88%, #f1f1f1), color-stop(100%, #c6c6c6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 72%, #f1f1f1 88%, #c6c6c6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ffffff 72%, #f1f1f1 88%, #c6c6c6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 72%, #f1f1f1 88%, #c6c6c6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ffffff 72%, #f1f1f1 88%, #c6c6c6 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c6c6', GradientType=0 ); /* IE6-9 */
}
#top-bar h1 {
	font-family: 'ProximaNovaCondReg-Italic', arial, sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	float: left;
	color: #fff;
	margin-top: 22px;
	font-weight: normal;
}
#top-bar-landing {
	width: 1024px;
	height: 66px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background: #f8981d; /* Old browsers */
	background: -moz-linear-gradient(top, #f8981d 0%, #f8981d 91%, #df881a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8981d), color-stop(91%, #f8981d), color-stop(100%, #df881a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8981d 0%, #f8981d 91%, #df881a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8981d 0%, #f8981d 91%, #df881a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8981d 0%, #f8981d 91%, #df881a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f8981d 0%, #f8981d 91%, #df881a 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8981d', endColorstr='#df881a', GradientType=0 ); /* IE6-9 */
}
#top-bar-landing-img {
	height: 66px;
	width: 580px;
	float: left;
	position: relative;
	text-indent: -9999px;
	background: url(/Contents/Images/benefits-calculator-header-img.png) no-repeat bottom center;
}
#top-logo img {
	width: 549px;
	height: 51px;
	float: left;
}
#top-logo-zoetis {
	width: 139px;
	height: 66px;
	background: url(/Contents/Images/logo_zoetis.png) no-repeat center center;
	text-indent: -9999px;
	float: right;
}
#top-logo-zoetis-landing {
	width: 139px;
	height: 66px;
	background-image: url(/Contents/Images/logo_zoetis.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(72%, #ffffff), color-stop(88%, #f1f1f1), color-stop(100%, #c6c6c6));
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	float: right;
}
/* splash page */

#main-logo {
	width: 400px;
	height: 146px;
	background: url(/Contents/Images/splash_logo_draxxin25.png) no-repeat;
	text-indent: -9999px;
	position: relative;
	top: 70px;
}
#splash-main {
	width: 1024px;
	height: 616px;
	background: url(/Contents/Images/draxxin25-bg.jpg) no-repeat bottom center;
	position: absolute;
	top: 66px;
}
#splash-sign2 {
	position: absolute;
	top: 0;
	right: 0;
}
#splash-sign2 img {
	position: absolute;
	top: 0;
	right: 0;
}
#splash-button {
	width: 341px;
	height: 36px;
	display: block;
	margin: 85px 0px 0px 35px
}
#splash-button img {
	position: absolute;
}
#splash-main p {
	width: 370px;
	font-family: 'ProximaNovaCond-Semibold', arial, sans-serif;
	color: #ffffff;
	font-size: 17.5px;
	margin: 170px 0 0 60px;
	text-shadow: 1px 1px 1px #000000;
}
/* footer */

#footer {
	width: 1024px;
	position: absolute;
	z-index: 100;
	bottom: 0;
	background: #fff;
	color: #636872;
}
#footer ul {
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
}
#footer ul li {
	float: left;
	width: 750px;
	font-family: 'ProximaNovaCond-Semibold', arial, sans-serif;
	font-size: 14px;
}
#footer ul li.border {
	padding: 4px 12px;
	height: 42px;
	border-top: 1px solid #caccd1;
	border-right: 1px solid #caccd1;
	font-size: 16px;
}
#footer ul li.pi, #footer ul li.pdf {
	background: #e8e8e8;
	border: 0;
	font-size: 24px;
	margin-left: 4px;
	width: 120px;
	padding: 0;
	position: relative;
	cursor: pointer;
}
#footer ul li.pi.active, #footer ul li.pdf.active {
	background: #2c529b;
	border: 0;
	font-size: 24px;
	margin-left: 4px;
	width: 120px;
	padding: 0;
	position: relative;
	cursor: pointer;
	color: #fff;
}
#footer ul li.pi span, #footer ul li.pdf span {
	text-decoration: none;
	width: 120px;
	padding: 11px 0 11px 0; /*changes height of grey footer pi button*/
	text-align: center;
	display: block;
}
#footer ul li.pdf span {
	background: url(/Contents/Images/icon_pdf.png) no-repeat center center;
	height: 51px; /*changes height of grey footer pi button*/
	padding: 0;
}
#footer ul li.pdf.active span {
	background: url(/Contents/Images/icon_pdf-on.png) no-repeat center center;
	padding: 0;
}
#footer ul li.pi div.doc-type, #footer ul li.pdf div.doc-type {
	position: absolute;
	color: #fff;
	font-size: 14px;
	top: -90px;
	right: 45px;
	padding: 0;
	width: 121px;
	height: 83px;
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	display: none;
	background-color: #ff6400;
	float: none;
	margin: 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#footer ul li.pi div.doc-type a, #footer ul li.pdf div.doc-type a {
	width: 107px;
	height: 29px;
	display: inline-block;
	margin: 0;
	padding: 10px 0 0 12px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
#footer ul li div.doc-type a {
}
#footer ul li div.doc-type a.lnk-email {
	height: 31px;
	background: url(/Contents/Images/icon_email.png) no-repeat right top;
	border-top: 1px solid #f8981d;
}
#footer ul li div.doc-type a.lnk-view {
	background: url(/Contents/Images/icon_view.png) no-repeat right top;
}
#footer ul li div.doc-type:after {
	border-color: #ff6400 transparent transparent transparent;
	border-width: 5px;
	border-style: solid;
	display: block;
	content: "";
	position: relative;
	display: block;
	width: 0;
	top: 0px;
	left: 105px;
}
/* disclaimer */
#disclaimer-main {
	margin: 80px 15px 15px 15px;
	height: 500px;
	width: 895px;
	background: #f1f1f1;
	clear: both;
	padding: 50px;
	color: #5a6578;
	font-size: 18px;
}
#disclaimer-main h3 {
	font-size: 22px;
	text-transform: uppercase;
}
#disclaimer-main li {
	width: 800px;
	padding-bottom: 15px;
}
#disclaimer-continue {
	position: relative;
	left: 20px;
	top: 20px;
}
/* calculator */

#calculator-main {
	width: 1009px;
	height: 655px;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 66px;
}
#calculator-main-left {
	width: 498px;
	float: left;
	margin-top: 0px;/*border-top:1px solid #2c529b;*/
}
#calculator-main-left p.footnote {
	font-size: 14px;
	background: #fff;
	padding: 4px;
	clear: both;
	position: absolute;
	top: 570px;
	border-top: 5px solid #fff;
	border-bottom: 15px solid #fff;
	box-shadow: 0 0 0 4px white, 0 -6px 2px rgba(200,200,200,0.5);
	width: 493px;
	left: -15px;
	padding-left: 15px;
	z-index: 100;
}
#calculator-main-left p.footnote u {
}
#calculator-main-right {
	width: 485px;
	float: right;
	position: relative;
	border-left: 1px solid #caccd1;
	padding-left: 7px;
	padding-right: 15px;
}
#calculator-main-right h4 {
	margin: 10px 0 0 15px;
	float: left;
	text-transform: uppercase;
}
#calculator-main-right h5 {
	font-size: 11px;
	clear: both;
	margin: 0px 0 0 15px;
	font-weight: normal;
}
#calculator-main-right #total-return {
	width: 485px;
	height: 250px;
	background: #f1f1f1;
	margin-top: 12px;
	position: relative;
}
#calculator-main-right #total-return #total-return-increased-value {
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	width: 460px;
	border-top: 1px solid #fff;
	display: block;
	margin-top: 12px;
	padding-left: 15px;
	padding-top: 5px;
	font-size: 32px;
	color: #2c529b;
}
#calculator-main-right #total-return ul#total-return-tabs {
	width: 236px;
	height: 32px;
	background: #d5d8dd;
	list-style-type: none;
	position: absolute;
	left: 220px;
	top: 0px;
	padding: 0;
	margin: 0;
}
#calculator-main-right #total-return ul#total-return-tabs li {
	float: left;
	width: 110px;
	height: 28px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	margin: 0px 0 0 4px;
	cursor: pointer;
	background: #d5d8dd;
}
#calculator-main-right #total-return ul#total-return-tabs li.active {
	background: #f1f1f1;
}
#calculator-main-right #total-return ul#total-return-boxes {
	width: 480px;
	list-style-type: none;
	position: absolute;
	left: 4px;
	bottom: 4px;
	padding: 0;
	margin: 0;
}
#calculator-main-right #total-return ul#total-return-boxes li {
	float: left;
	background: #fff;
	width: 145px;
	margin: 0px 0 2px 4px;
	height: 53px;
	text-align: right;
	padding-right: 8px;
}
#calculator-main-right #total-return ul#total-return-boxes .info-panel li:nth-of-type(even) {
	background: #f1f1f1;
}
#calculator-main-right #total-return ul#total-return-boxes li h4 {
	margin-left: 10px;
	margin-top: 10px;
	display: block;
	font-size: 15px;
}
#calculator-main-right #total-return ul#total-return-boxes li p {
	clear: both;
	font-size: 11px;
	margin: 0px 10px 0 10px;
}
#calculator-main-right #total-return ul#total-return-boxes li.total-return-boxes-top-row {
	height: 80px;
	text-align: left;
}
#calculator-main-right #total-return ul#total-return-boxes li.total-return-boxes-second-row {
	line-height: 52px;
	font-size: 21px;
	padding-right: 12px;
	width: 141px;
}
#calculator-main-right #total-return span.per-pig {
	display: none;
}
#calculator-main-right #total-return ul#total-return-boxes li.info {
	position: relative;
}
#calculator-main-right #total-return ul#total-return-boxes li.info a.total-return-info {
	width: 32px;
	height: 32px;
	background: url(/Contents/Images/icon_i.png) no-repeat #2c529b center -27px;
	position: absolute;
	left: 8px;
	top: 10px;
	text-indent: -9999px;
	display: block;
	text-align: left;
}
#calculator-main-right #total-return ul#total-return-boxes li.info a.total-return-info.active {
	background: url(/Contents/Images/icon_i.png) no-repeat #ff9900 center -27px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#calculator-main-right #roi {
	width: 485px;
	height: 98px;
	background: #567fdc;
	clear: both;
	margin-top: 12px;
	position: relative;
}
#calculator-main-right #roi h2 {
	color: #fff;
	font-size: 64px;
	background: none;
	margin-left: 70px;
	margin-top: 24px;
	float: right;
	display: inline;
	font-weight: normal;
}
#calculator-main-right #roi h2 span.normal {
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	font-weight: normal;
}
#calculator-main-right #roi h2:first-of-type {
	font-family: 'ProximaNovaExCn-Bold', arial, sans-serif;
	background: #f1f1f1;
	height: 86px;
	margin-left: 0px;
	margin-top: 11px;
	padding: 13px 20px 0 20px;
	position: relative;
	color: #2c529b;
	float: left;
}
#calculator-main-right #roi h2:last-of-type {
	position: absolute;
	right: 10px;
}
#calculator-main-right #roi h2:first-of-type:after {
	border-color: transparent transparent transparent #f1f1f1;
	border-width: 14px;
	border-style: solid;
	display: block;
	content: "";
	position: absolute;
	right: -28px;
	display: block;
	width: 0;
	top: 33px;
}
#calculator-main-right #calculator-pad {
	width: 482px;
	height: 238px;
	background: #f1f1f1;
	clear: both;
	margin-top: 12px;
}
#calculator-main-right #calculator-pad ul {
	list-style-type: none;
	margin: 17px 0 0 24px;
	float: left;
	padding: 0;
}
#calculator-main-right #calculator-pad ul li {
	float: left;
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	font-size: 19.5px;
	width: 120px;
	height: 49px;
	background-color: #2c529b;
	cursor: pointer;
	border: 1px solid #cacccf;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	line-height: 50px;
}
#calculator-main-right #calculator-pad ul li.right-key {
	width: 60px;
	font-size: 13px;
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
}
#calculator-main-right #calculator-pad ul li#delete {
	background-image: url(/Contents/Images/calculator_key_delete.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}
#calculator-main-right #calculator-pad ul li#plus {
	font-family: Arial;
}
#calculator-main-right #calculator-pad ul li#dot {
	font-family: Arial;
}
#calculator-main-right #calculator-pad ul li#up {
	background-image: url(/Contents/Images/calculator_key_up.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #5271ad;
	text-indent: -9999px;
}
#calculator-main-right #calculator-pad ul li#down {
	background-image: url(/Contents/Images/calculator_key_down.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #5271ad;
	text-indent: -9999px;
}
#calculator-main-right #calculator-pad ul li.enter-key {
	height: 100px;
	float: right;
	margin-right: 30px;
	line-height: 100px;
}
#calculator-main-right #calculator-pad ul li.hover {
	background-color: #ff9900;
}
#calculator-main h2 {
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	font-size: 18px;
	margin: 0;
	position: relative;
	top: -12px;
	background: #fff;
	padding: 2px;
	width: auto;
	display: inline;
}
#calculator-main ol {
	counter-reset: li; /* Initiate a counter */
	padding: 0;
	margin: 0;
	float: left;
	height: 1160px;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	z-index: 0;
	padding-bottom: 160px;
}
#calculator-main ol > li {
	position: relative; /* Create a positioning context */
	list-style: none; /* Disable the normal item numbering */
	width: 490px;
	height: 58px;
	background: #f1f1f1;
	margin-bottom: 8px;
	font-family: 'ProximaNovaCond-Bold', arial, sans-serif;
	font-size: 15px;
	display: table;
	vertical-align: middle;
	cursor: pointer;
}
#calculator-main ol > li.active {
	border: 3px solid #f90;
	-moz-box-shadow: inset 0 0 5px #c7c7c7;
	-webkit-box-shadow: inset 0 0 5px #c7c7c7;
	box-shadow: inset 0 0 5px #c7c7c7;
	border-radius: 3px;
	width: 488px;
	height: 56px;
}
#calculator-main ol > li:first-of-type {
	z-index: 0;
}
#calculator-main ol > li.active:after {
	border-color: transparent #f90 transparent transparent;
	border-width: 8px;
	border-style: solid;
	display: block;
	content: "";
	position: absolute;
	right: 0px;
	display: block;
	width: 0;
	top: 23px;
}
#calculator-main ol .header-list-item {
	border-top: 1px solid #5a6578;
	position: relative;
	height: 18px;
	margin-top: 30px;
}
#calculator-main ol .header-list-item:first-of-type {
	margin-top: 10px;
}
#calculator-main ol .header-list-item h3 {
	position: absolute;
	top: -30px;
	background: #fff;
	padding-right: 4px;
	font-family: 'ProximaNovaCond-Regular', arial, sans-serif;
	font-size: 18px;
}
#calculator-main ol > li p {
	display: table-cell;
	vertical-align: middle;
	width: 275px;
	position: relative;
	left: -50px;
}
#calculator-main ol > li span.label {
	position: absolute;
	right: 110px;
	top: 20px;
	color: #bbbdc2;
	font-size: 18px;
	font-family: 'ProximaNovaCond-Regular', arial, sans-serif;
}
#calculator-main ol > li.active span.label {
	top: 19px;
	right: 109px;
}
#calculator-main ol > li span.value-box {
	width: 86px;
	height: 27px;
	border: 1px solid #caccd1;
	position: absolute;
	top: 11px;
	right: 12px;
	display: block;
	background: #fff;
	text-align: right;
	color: #caccd1;
	font-size: 18px;
	padding-right: 7px;
	padding-top: 9px;
	font: normal 20px/24px;
	font-family: 'ProximaNovaCond-Regular', arial, sans-serif;
}
#calculator-main ol > li span.value-box.error {
	border: 1px solid #f00;
	color: #f00;
}
#calculator-main ol > li.active span.value-box {
	color: #2c529b;
	top: 10px;
}
#calculator-main ol > li.edited span.value-box {
	color: #2c529b;
	top: 10px;
}
#calculator-main ol > li span.error-message, #calculator-main span.error-message-top {
	position: absolute;
	color: #fff;
	font-size: 14px;
	bottom: 50px;
	right: 13px;
	padding: 12px 0px 4px 36px;
	width: 170px;
	background: url(/Contents/Images/error_message_bg.png) no-repeat 12px 12px #f00;
	display: none;
}
#calculator-main ol > li span.error-message:after {
	border-color: #f00 transparent transparent transparent;
	border-width: 5px;
	border-style: solid;
	display: block;
	content: "";
	position: relative;
	display: block;
	width: 0;
	top: 14px;
	left: 150px;
}
#calculator-main span.error-message-top {
	top: 85px;
	right: 19px;
	height: 60px;
	z-index: 1;
}
#calculator-main span.error-message-top:after {
	border-color: transparent transparent #f00 transparent;
	border-width: 5px;
	border-style: solid;
	display: block;
	content: "";
	position: absolute;
	display: block;
	width: 0;
	top: -10px;
	right: 10px;
	z-index: 2;
}
.overlay_more {
	position: relative;
}
.arrow_more {
	border-color: transparent transparent transparent #5a6578;
	border-width: 4px;
	border-style: solid;
	display: block;
	content: "";
	position: absolute;
	right: -10px;
	display: block;
	width: 0;
	top: 40%;
}
.overlay_info {
	display: none;
	position: absolute;
	font-size: 14px;
	bottom: 18px;
	right: 3px;
	background: #ff6400;
	color: #fff;
	padding: 20px;
	text-align: left;
	text-decoration: none;
	box-shadow: 0px 0px 6px rgba(0,0,0,1);
}
#calculator-main ol > li:before {
	content: counter(li); /* Use the counter as content */
	counter-increment: li; /* Increment the counter by 1 */
	/* Position and style the number */
	position: absolute;
	left: 10px;
	top: 12px;
	width: 35px;
	height: 35px;
	border-radius: 32px;
	-webkit-border-radius: 35px;
	color: #fff;
	background: #d4d4d4;
	font: normal 16px/38px 'ProximaNovaCond-Bold', arial;
	text-align: center;
}
#calculator-main ol > li.active:before {
	background: #2c529b;
	left: 9px;
	top: 8px;
}
.disclaimer {
	text-align: right;
	font-size: 14px;
	margin: 4px 15px 4px 0;
}
#disclaimer_more {
	width: 275px;
}
#standard_more {
	width: 260px;
}
span.break {
	word-break: break-all;
}
#standard_more .overlay_tail {
	right: 5px;
}
#value_more {
	width: 200px;
}
.overlay_tail {
	border-color: #ff6400 transparent transparent transparent;
	border-width: 4px;
	border-style: solid;
	display: block;
	content: "";
	position: absolute;
	right: 5px;
	display: block;
	width: 0;
	bottom: -8px;
}
.info-panel-modal {
	width: 100%;
	height: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.info-panel {
	width: 265px;
	border: 8px solid #f90;
	padding: 0;
	position: absolute;
	z-index: 5;
	margin: 0;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	top: 35px;
	left: 8px;
	display: none;
}
.info-panel li {
	height: 50px;
	width: 259px!important;
	border-top: 1px solid #f90;
	margin: 0!important;
	padding: 0;
	font-size: 12px;
	line-height: 14px;
	display: table;
}
.info-panel li span {
	display: block;
	text-align: left;
	text-indent: 0;
	vertical-align: middle;
}
.info-panel li span.dollar-sign, .info-panel li span.pound-sign, .info-panel li span.per-group, .info-panel li span.per-pig {
	display: inline;
}
.info-panel li span.dollar-sign {
	margin-right: 1px;
}
.info-panel li span.info-panel-left {
	margin-left: 10px;
	width: 110px;
	padding-left: 10px;
	display: table-cell!important;
}
.info-panel li span.info-panel-right {
	float: right;
	font-size: 18px;
	margin-top: 22px;
	display: table-cell!important;
}
.dollar_shrink {
	font-size: 20px;
}
/* scroller */

#customerInformation {
	height: 600px;
	position: relative;
	width: 507px;
	margin-top: 10px;
}
.myScrollbarV {
	position: absolute;
	z-index: 100;
	width: 8px;
	bottom: 7px;
	top: 2px;
	right: 1px
}
.myScrollbarV > div {
	position: absolute;
	z-index: 100;
	width: 100%;
	/* The following is probably what you want to customize */
	background: #caccd1;
	border: none;
	width: 4px;
	float: right;
}
