/* Draxxin Stylesheet */

/* webfonts */
@font-face {
	font-family: 'ProximaNovaCond-Regular';
	src: url('Fonts/ProximaNovaCond-Regular.ttf') format('truetype'), url('ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
}
@font-face {
	font-family: 'ProximaNovaCond-Bold';
	src: url('Fonts/ProximaNovaCond-Bold.ttf') format('truetype'), url('ProximaNovaCond-Bold.svg#ProximaNovaCond-Bold') format('svg');
}
@font-face {
	font-family: 'ProximaNovaCond-Semibold';
	src: url('Fonts/ProximaNovaCondensed-Semibold.ttf') format('truetype'), url('ProximaNovaCondensed-Semibold.svg#ProximaNovaCond-Semibold') format('svg');
}
@font-face {
	font-family: 'ProximaNovaExCn-Bold';
	src: url('Fonts/ProximaNovaExCn-Bold.ttf') format('truetype'), url('ProximaNovaExCn-Bold.svg#ProximaNovaExCn-Bold') format('svg');
}

b{
	font-weight: normal;
}