@CHARSET "UTF-8";
html > body {
	margin: 0px;
	overflow: hidden;
}
h1, h2, h3, h4 {
	margin: 0px;
}
img {
	border: 0px;
}
.content {
    font-size: 12px;
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 768px;
    margin: 0px;
    color: #000;
	overflow: hidden;
}

#contentLanding {
	background: url('../img/landing.jpg') 0 0 no-repeat;
}
#patient1_dashboard {
	background: url('../img/patient1_dashboard.jpg') 0 0 no-repeat;
}
#patient1_imaging1 {
	background: url('../img/patient1_imaging1.jpg') 0 0 no-repeat;
}
#patient1_imaging2 {
	background: url('../img/patient1_imaging2.jpg') 0 0 no-repeat;
}
#patient1_biopsy {
	background: url('../img/patient1_biopsy.jpg') 0 0 no-repeat;
}
#patient2_dashboard {
	background: url('../img/patient2_dashboard.jpg') 0 0 no-repeat;
}
#patient2_imaging1 {
	background: url('../img/patient2_imaging1.jpg') 0 0 no-repeat;
}
#patient2_imaging2 {
	background: url('../img/patient2_imaging2.jpg') 0 0 no-repeat;
}
#patient2_biopsy {
	background: url('../img/patient2_biopsy.jpg') 0 0 no-repeat;
}
#patient3_dashboard {
	background: url('../img/patient3_dashboard.jpg') 0 0 no-repeat;
}
#patient3_imaging1 {
	background: url('../img/patient3_imaging1.jpg') 0 0 no-repeat;
}
#patient3_imaging2 {
	background: url('../img/patient3_imaging2.jpg') 0 0 no-repeat;
}
#patient3_biopsy {
	background: url('../img/patient3_biopsy.jpg') 0 0 no-repeat;
}
#landingPat1 {
	position: absolute;
	/*left: 111px;
	top: 149px;*/
	left: 44px;
	top: 169px;
	/*width: 368px;
	height: 250px;*/
	width: 442px;
	height: 269px;
	border: 0px solid green;
	/* Rotate #landingPat1 div */
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari and Chrome */
}
#landingPat2 {
	position: absolute;
	left: 549px;
	top: 119px;
	/*width: 368px;
	height: 250px;*/
	width: 442px;
	height: 299px;
	border: 0px solid red;
	/* Rotate #landingPat2 div */
	transform: rotate(2deg);
	-ms-transform: rotate(2deg); /* IE 9 */
	-webkit-transform: rotate(2deg); /* Safari and Chrome */
}
#landingPat3 {
	position: absolute;
	left: 313px;
	top: 454px;
	/*width: 368px;
	height: 250px;*/
	width: 442px;
	height: 299px;
	border: 0px solid green;
	/* Rotate #landingPat1 div */
	transform: rotate(7deg);
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Safari and Chrome */
}
#select_patient {
	position: absolute;
	left: 0px;
	top: 57px;
	width: 264px;
	height: 47px;
}
#patient1_imaging_btn, #patient2_imaging_btn, #patient3_imaging_btn, #patient4_imaging_btn {
	position: absolute;
	left: 347px;
	top: 146px;
	width: 296px;
	height: 442px;
	border: 0px solid blue;
}
#patient1_biopsy_btn, #patient2_biopsy_btn, #patient3_biopsy_btn, #patient4_biopsy_btn {
	position: absolute;
	left: 677px;
	top: 146px;
	width: 296px;
	height: 442px;
	border: 0px solid red;
}
#patient1_close, #patient2_close, #patient3_close, #patient4_close {
	position: absolute;
	left: 909px;
	top: 181px;
	width: 50px;
	height: 50px;
	border: 0px solid orange;
}
#patient1_close2, #patient2_close2, #patient3_close2, #patient4_close2 {
	position: absolute;
	left: 909px;
	top: 133px;
	width: 50px;
	height: 50px;
	border: 0px solid orange;
}
#patient1_imaging_slide1, #patient2_imaging_slide1, #patient3_imaging_slide1, #patient4_imaging_slide1 {
	position: absolute;
	left: 372px;
	top: 137px;
	width: 283px;
	height: 43px;
	border: 0px solid blue;
}
#patient1_imaging_slide2, #patient2_imaging_slide2, #patient3_imaging_slide2, #patient4_imaging_slide2 {
	position: absolute;
	left: 656px;
	top: 137px;
	width: 279px;
	height: 43px;
	border: 0px solid red;
}
.target {
	cursor: pointer;
}
.continueBtn {
	position: absolute;
	top: 60px;
	right: 0px;
	height: 48px;
	width: 130px;
	z-index: 80;
	border: 0px solid blue;
	cursor: pointer;
}
/******ISI Container *********/
.isiContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1024px;
	background-image: url('../img/isiBG.png');
	background-repeat: no-repeat;
	z-index: 1000;
	display: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
.isiContainer {
	background-image: url('../img/isiBG@2x.png');
	background-size: 1024px 768px;
}
}
#ISI {
	position: absolute;
	left: 60px;
	top: 200px;
	width: 896px;
	height: 541px;
	padding: 0 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.isiInner {
	padding-right: 20px;
}
.header {
	font-size: 20px;
	margin: 15px 0;
}
.subheader {
	margin: 10px 0;
}
.subheader.center {
	margin: 10px 0;
	text-align:center;	
}
#ISI ul, #PI ul {
	margin-top: 0;
	margin-left: -20px;
}
#ISI li, #PI li {
	margin-bottom: 15px;
}
.warning {
	text-align: center;
	width: 100%;
	text-decoration: underline;
}
.blackBox {
	border: black medium solid;
	margin-bottom: 20px;
	padding: 10px;
}
.closeBtn {
	position: absolute;
	width: 135px;
	height: 52px;
	right: 0;
	top: 65px;
}
.piBtn {
	position: absolute;
	width: 285px;
	height: 52px;
	top: 65px;
	left: 600px;
}
.piContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1024px;
	background-image: url('../img/piBG.png');
	background-repeat: no-repeat;
	z-index: 1000;
	display: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
.piContainer {
	background-image: url('../img/piBG@2x.png');
	background-size: 1024px 768px;
}
}
#PI {
	position: absolute;
	left: 60px;
	top: 200px;
	width: 1980px;
	height: 541px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.closeBtn {
	position: absolute;
	width: 135px;
	height: 52px;
	right: 0;
	top: 65px;
	cursor: pointer;
}
.pi_col1 {
	width: 48%;
	float: left;
	padding: 0 10px;
}
.pi_col2 {
	width: 48%;
	margin-left:50%;
	padding: 10px 10px 0;
}

.leftAlign {
	float: left;	
}
.rightAlign {
	float: right;	
}
.pi_revisionDate {
	display: block;
	width: 100%;
	text-align:right;
		
}