@media only screen and (max-width: 768px) {
	.advance-container-mobile{
		padding: 85px 10px 10px 10px !important;
	}

    .title-text {
        font-family: "proxima-nova-condensed";
        font-weight: bold;
        letter-spacing: -.2px;
        margin: 0 0 5px 0;
    }

    .page-text {
        font-family: "proxima-nova-extra-condensed";
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    /*.advance-arrow-r {
        background-image: url('/Contents/imgs/mobile/arrow-r.png');
    }

    .active > .advance-arrow-r {
        background-image: url('/Contents/imgs/mobile/arrow-r-active.png');
    }*/

    .personalized > .list-group-item {
       border-left-color: #ff6400;
       border-right-color: #ff6400;
    }

    .personalized > .list-group-item:first-child {
        border-top-color: #ff6400;
    }
    .personalized > .list-group-item:last-child {
        border-bottom-color: #ff6400;
    }

    .list-group-item.active {
        background-color:  #161b8e !important;
        z-index: 2;
        color: #ffffff;
        border-color: #161b8e;
    }

    /*.slide-page {
        display:none;
    }

    .slide-page.active {
        display:block;
    }*/

    .results-title {
        font-family: "proxima-nova-extra-condensed";
        font-weight: bold;
        margin: 0 0 5px 0;
    }

    .result-title {
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        margin:0;
        display: block;
    }

    .result-module-info {
        font-size: 7px;
        line-height: 7px;
        display: block;
        margin-top: 2px;
    }

}