@media only screen and (max-width: 768px) {
	.connect-container-mobile{
		padding: 100px 10px 10px 10px;
		font-size: 10px;
	}

	.connect-text{
		margin-top: 10px;
		font-size: 11px;
		line-height: 11px;
	}

	.list-group-item > a{
		font-size: 12px;
	}

	.vetvance-recs{
		font-size: 12px;
		font-weight: bold;
		font-family: "proxima-nova-extra-condensed";
	}

	.connected-list-title{
		font-size: 12px;
		font-family: "proxima-nova-extra-condensed";
		margin-top: 10px;
		margin-bottom: 5px;
		font-weight: bold;
	}


	.mobile-connected-list ul, .mobile-profile-view ul{
		list-style: none;
		padding: 0;
		margin: 10px 0 0 0;
	}

	.connected-details{
		margin-left: 60px;
        min-height: 50px;
	}

	.connected-details p{
		/*max-width: 220px;*/
	}

	.mobile-connect-name{
		font-size: 12px;
		margin: 0 0 0 0;
	}

	.mobile-connect-occupation{
		font-size: 10px;
		margin: 0;
	}

	.mobile-connect-school{
		font-size: 10px;
		margin: 0;
	}

	.mobile-connect-city{
		font-size: 10px;
		margin: 0;
	}

    .connection-details-wrap {
        min-height: 75px;
        padding-left: 85px;
        margin-top: 10px;
    }

    .connection-details-wrap p {
        font-size: 10px;
        margin: 0;
        padding: 0;
        line-height: 12px;
    }

    .connect-name, .connect-creds {
        margin-bottom: 5px !important;
    }

    .connect-btn {
        height: 24px;
        width: 87px !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        font-size: 12px;
        padding: 0;
    }

    .m-info-tab, .m-connections-tab {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        
        width: 49%;
    }

    .m-info-tab p, .m-connections-tab p {
        margin-bottom: 0px;
        padding: 5px 0 5px 0;
    }

    

    .mobile-data-container {
        float: left;
        width: 100%;
        padding-top: 5px;
    }

    .connection-info-list-mobile {
        float: left;
        width: 100%;
        padding-top: 5px;
        padding-left: 0;
        margin-left: 0;
    }

    .connection-info-list-mobile li {
        list-style: none;
        float: left;
        width: 100%;
        padding: 0;
    }

    .connection-info-list-mobile li label {
        color: #969696;
        font-weight: normal;
        padding-top: 0px;
        padding-left: 0;
        padding-right: 0;
        float: left;
        width: 33.3%;
        text-align: left;
    }

    .connection-info-list-mobile li span {
        float: left;
        color: #585858;
        padding: 0px 0 0 22px;
        max-width: 66%;
    }

    .data-container-title {
        border-bottom: 1px solid #161b8e;
        font-size: 12px;
        font-weight: bold;
        font-family: "proxima-nova-extra-condensed";
        margin-bottom: 0;
        padding-bottom: 3px;
    }

    .connect-form-group {
        margin-top: 0 !important;
    }


    .form-group label{
        width: 33% !important;
    }


}