﻿@media only screen and (max-width: 768px) {
    .course-container-mobile {
        padding: 100px 10px 10px 10px;
    }

    .course-title-mobile {
         font-family: "proxima-nova-extra-condensed";
         font-size: 16px;
         line-height: 16px;
         width: 185px;
         font-weight: bold;
         margin-top: -25px;
         line-height: 16px;
         margin-bottom: 5px;
    }

    .course-module-title {
        font-weight: bold;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .course-module-title.bi {
        border-bottom: 2px solid #3f7dc8 ;
    }

    .course-module-title.pd {
        border-bottom: 2px solid #00b3d3 ;
    }

    .course-module-title.fb {
        border-bottom: 2px solid #e03e52 ;
    }

    .course-description {
        font-size: 10px;
    }

    .module-list-mobile {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .module-list-mobile p {
        margin: 0;
        font-size: 10px;
    }

    .module-label-mobile {
        font-size: 8px;
    }

    .module-title-mobile {
        font-weight: bold;
    }

    .module-mobile {
        background-color: #f6f6f6;
        border-bottom: 1px solid #e2e2e2;
        padding: 5px;
        margin-bottom: 3px;
    }

   
}
