.mobile-footer{
	font-size: 9px;
	margin: 0;
	padding: 0 0 10px 0;
}

.mobile-footer ul{
	list-style: none;
	padding: 0;
    margin: 0 auto;
    display: table;
    background-color: #F3F3F3;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 11px;
    margin-bottom: 15px;
}

.mobile-footer li{
	float:left;
	padding: 0 5px;
    color: #909090;
    font-family: "arial";
    font-size: 11px;
    border-right: 1px solid #909090;
    height: 10px;
    line-height: 10px
}

.mobile-footer ul li a:hover{
	text-decoration: none;
}

.mobile-footer li:last-child{
	border-right: 0;
}

.mobile-footer li a{
	color: #a2a2a2; margin: -1px 0 0;
}