@media only screen and (max-width: 768px) {

.proxima{
	font-family: "proxima-nova-alt-ext-cond";
}

.modal.connect-modal .modal-dialog{
	max-width: 260px;
	min-width: none;
}
.mobile-header{
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
	background-color: white;
	height: 90px;
}
.logo-mobile > a > img{
	width: 150px;
	height: auto;
	margin: 5px 0 0 5px;
}

.login-mobile{
	padding: 15px 10px 0 0;
}

.nav-mobile{

}

.nav-mobile > ul{
	display: none;
}

.nav-mobile > li > p{
	color: white;
}

.title-bar > h4{
	padding: 10px 0 25px 0;
	border-bottom: 1px solid #161b8e;
	margin-bottom: 0px;
}

.page-title{
	position: fixed;
left: 38%;
font-family: arial !important;
font-size: 14px;
font-weight: bold;
}

 .page-title img {
    margin-right: 8px;
    }


.nav-icon{
	position: fixed;
	right: 5%;
  top: 61px;
}

.nav-icon.navIconActive{
  background-color: #161b8e;
  padding: 3px;
  width: 34px;
  height: 35px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  right: 10px;
  top: 55px;
}

.nav-icon.navIconActive img{
  position: absolute;
  top: 10px;
  left: 10px;
}

.mobile-nav-back{
	font-size: 14px;
	position: fixed;
	left: 1%;
	cursor: pointer;
}


    .nav-mobile{
      position: absolute;
      top: 90px;
      right: 10px;
      background: #171c8f;
      width: 160px;
      -webkit-border-bottom-right-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      -webkit-box-shadow: 3px 3px 2px 1px rgba(0,0,0,0);
      box-shadow: 3px 3px 2px 1px rgba(0,0,0,0);
      z-index:1000;
    }

    .mobile-nav-bg{
      background: gray;
      height: 100%;
      width: 100%;
      opacity: .7;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 1000;
      display: none;
    }

    .mobile-profile-bg{
      background: gray;
      height: 100%;
      width: 100%;
      opacity: .7;
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 1000;
      display: none;
    }

    .mobile-profile-container-arrow{
    	top: 80%;
		right: -11px;
		margin-top: -11px;
		border-top-width: 0;
		border-left-color: #161b8e;
		border-width: 11px;
		/*border-left-color: rgba(0, 0, 0, 0.25);*/
    }

    .mobile-profile-container-arrow:after{
    	position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		content: " ";
		border-left-color: #161b8e;
		bottom: -10px;
    }

    .mobile-profile-nav-arrow{
      position: absolute;
      top: -10px;
      left: 228px;
      width: 13px;
      height: 9px;
    }

    header nav .mobile-profile-container{
      position: absolute;
		top: 37px;
		left: 55px;
      width: 250px;
      margin-left: 10px;
      margin-top: 5px;
      background: url("/Contents/imgs/connect/bk-filter.png");
      border: 1px solid #161b8e;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
    }
            /* line 216, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
    header nav ul.mobile-profile-container li {
      border: 0;
      width: 100%;
      font-size: 12px;
      text-align: left;
      padding: 8px 10px;
      margin: 0; 
    }

    .white{
    	background: white;
    }
      /* line 223, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li.divider {
        background: url("/Contents/imgs/dd-divider.png");
        height: 1px;
        width: 185px;
        padding: 0;
        margin: 0px 0; /*was 4px*/
      }

      header nav ul.mobile-profile-container li.divider.mob {
          margin: 0 !important;
      }

      /* line 230, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li img {
        padding-right: 5px; 
        max-height: 50px;
    max-width: 50px;
      }
      /* line 233, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li a {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: arial;
        font-weight: normal; 
      }
        /* line 239, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header nav ul.mobile-profile-container li a.userlink {
          color: #161b8e; 
        }
      /* line 243, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li a:hover {
        border-bottom: 0px; 
      }
      /* line 247, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li.menuitem {
        padding-left: 15px; 
      }
        /* line 249, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
        header nav ul.mobile-profile-container li.menuitem a {
          color: #585858;
          font-weight: bold; 
        }
      /* line 255, /Users/jschmidt/Sites/middleman/vetvance/source/contents/css/global.scss */
      header nav ul.mobile-profile-container li.menuitem.more a {
        color: #161b8e;
        font-weight: normal; 
      }

    .nav-mobile ul{
      list-style: none;
      text-align: left;
      padding: 0px;
      margin: 0px;
    }

    .nav-mobile > ul > li{
      /*margin: 10px 0 10px 0;*/
      padding: 7px 15px 7px 15px;
      border-bottom: 1px solid #3a3ea0;
    }

    .nav-mobile >ul > li.orange-bg{
      background: #ff6400 !important;
    }

    .nav-mobile > ul > li > a{
      color: white !important;
      padding-left: 10px;
    }

}