.index-list{
	list-style: none;
	margin: 0;
	padding-left: 10px;
}

.index-list li{
	padding: 10px 0 10px 0;
	border-bottom: 1px solid gray;
}

.index-list li a{
	display: block;
}

.list-text{
	margin-left: 10px;
}

.right-arrow{
	margin-right: 15px;
}