﻿@media only screen and (max-width: 768px) {
    .module-container-mobile {
        padding: 45px 10px 10px 10px !important;
    }

    .module-container-mobile p {
        font-size: 10px;
        margin: 0;
    }

    .module-course-title-mobile {
        font-weight: bold;
        font-size: 12px !important;
        margin: 5px 0 3px 0 !important;
    }

    .module-label-mobile {
        font-size: 8px !important;
        margin-bottom: 0px !important;
    }

    .module-title-mobile {
        font-weight: bold;
        margin-bottom: 11px;
    }

    .module-tabs-mobile {
        border: 1px solid #161b8e;
        margin: 5px 0 5px 0;
        background: url("/contents/imgs/module/video-nav-bg.png");
		background-repeat: repeat;
    }
    .module-tabs-mobile:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }


    .module-tab-mobile {
	    display: inline-block;
	    font-weight: bold;
	    font-family: "proxima-nova-condensed";
	    text-align: center;
	    font-size: 10px !important;
        float: left;
        padding: 10px 0;
    }

    .module-tab-mobile p{
        margin: 0;
    }

    .module-tab-mobile:nth-of-type(1) {
        border-right: 2px solid #7e7e7e;
        width: 40%;
    }

    .module-tab-mobile:nth-of-type(2){
        width: 60%;
    }

    .list-group{
    	margin-bottom: 10px;
    }

    .m-tab-active {
        border-bottom: 2px solid #161b8e;
        background: white;
    }

    .list-group-item.m-active {
        color: #161b8e;
        font-weight: bold;
    }

    .survey-answer-text {
        font-size: 10px;
        line-height: 10px;
        width: 80%;
    }

    .module-description{
    	line-height: 12px;
    	margin-bottom: 15px;
    }

    #main-module-scenario{
        margin-bottom: 10px;
    }

    .v-progress-bar-mobile{
    	 height: 25px;
        /* Can be anything */
        position: relative;
    }

    .v-progress-bar-mobile.orange > span{
          background-color: #ff6400;
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6400), color-stop(1, #ff6400));
            background-image: -webkit-linear-gradient(top, #ff6400, #ff6400);
            background-image: -moz-linear-gradient(top, #ff6400, #ff6400);
            background-image: -ms-linear-gradient(top, #ff6400, #ff6400);
            background-image: -o-linear-gradient(top, #ff6400, #ff6400);
    }

    .v-progress-bar-mobile > span{
    	display: block;
        height: 100%;
        background-color: gray;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, gray), color-stop(1, gray));
        background-image: -webkit-linear-gradient(center bottom, gray 37%, gray 69%);
        background-image: -moz-linear-gradient(center bottom, gray 37%, gray 69%);
        background-image: -ms-linear-gradient(center bottom, gray 37%, gray 69%);
        background-image: -o-linear-gradient(center bottom, gray 37%, gray 69%);
        position: relative;
        overflow: hidden;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

    }


    .course-module-title .section-title{
        font-weight: bold;
        margin-bottom: 2px;
        font-size: 12px;
    }

    .course-module-title.bi .section-title.bi {
        border-bottom: 2px solid #3f7dc8 ;
    }

    .course-module-title.pd .section-title.pd{
        border-bottom: 2px solid #00b3d3 ;
    }

    .course-module-title.fb .section-title.fb {
        border-bottom: 2px solid #e03e52 ;
    }

    .resource-title{
    	font-size: 10px;
    }

     .mobile-view-transcript{
    	margin: 10px 0 15px 0;
        display: inline-block;
    }

    .section-title{
    	font-weight: bold;
    	font-size: 10px;
    	border-bottom: 2px solid #3f7dc8;
    }

    .additional-resources-title{
    	border-bottom: 2px solid #161b8e;
    }

    .resource{
    	padding: 10px 5px 10px 5px;
    }

    .custom-well {
        /*background-color: #f5f5f5;
        border: 1px solid #efefef;
        padding: 10px;*/
    }

    .mobile-answer-text {
        text-align: right;
        width: 160px;
        /*float: left;*/
        padding: 0 10px 10px 10px;
        line-height: 10px;
        font-size: 10px;
        padding-right:10px !important;
    }

    .mobile-answer-percent {
        font-family: "proxima-nova-extra-condensed";
        font-weight: bold;
        /*float: left;*/
        font-size: 18px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .module-survey-prog {
        width: 90px;
    }

    .mobile-survey-answer-selected > .mobile-answer-text {
        font-weight: bold;
        color: #161b8e;
    }

    .mobile-survey-answer-selected > .mobile-answer-percent {
        color: #ff6400;
    }

    .mobile-survey-answer-selected > .answer-bar > .v-progress-bar-mobile > span {
        background-color: #ff6400;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6400), color-stop(1, #ff6400));
        background-image: -webkit-linear-gradient(top, #ff6400, #ff6400);
        background-image: -moz-linear-gradient(top, #ff6400, #ff6400);
        background-image: -ms-linear-gradient(top, #ff6400, #ff6400);
        background-image: -o-linear-gradient(top, #ff6400, #ff6400);
    }

    .survey-answers, .survey-percentages, .survey-progressbars {
        float: left;
    }

    .survey-percentages > div {
        padding: 10px 5px 10px 5px;
    }

    .survey-progressbars > div{
       padding: 10px 5px 10px 5px;
       background: blue;
    }

     .mobile-answer-text-two {
        text-align: right;
        width: 160px;
        padding: 0 10px 10px 10px;
        line-height: 10px;
    }

    .mobile-answer-percent-two {
        font-family: "proxima-nova-condensed";
        font-weight: bold;
    }

    .answer-bar {
        background: #efefef;
        padding-left: 0px !important;
    }

    .survey-answers-table {
        background-color: #f9f9f9;
        border: 1px solid #efefef;
        padding: 10px;
    }

    tr td.mobile-answer-text {
        border-right: 1px solid gray;
    }

    tr td {
        padding: 10px 0 10px 0 !important;
        vertical-align: middle;
    }

    .survey-response-item{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .module-name-text-mobile{
        max-width: 250px;
    }

    .vet{
        max-width: 50px;
        text-align: center;
        margin: 0 6px 0 6px;
    }

    .right-arrow.like-nav-arrow, .left-arrow.like-nav-arrow{
        float: left !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .like-nav-arrow{
        margin:10px 0 0 0 !important;
    }


    .like-minded-wrap{
        margin-top: 10px !important;
    }

    .like-minded-header{
        text-transform: uppercase;
        font-family: proxima-nova-extra-condensed;
        font-size: 14px !important;
        margin-bottom: 5px !important;
    }




}
