@media only screen and (max-width: 768px) {
	.register-container{
		padding: 100 10px 10px 10px;
	}

    #pageId.members-container.register-form, .mobile-container{
        padding: 100px 10px 10px 10px !important;
    }

    .header{
        width: 100% !important;
    }
    .header p {
        font-size: 10px !important;
        line-height: 10px !important;

    }

    .register-signin-text {
        margin-top: 5px;
    }

    .required-msg {
        font-size: 9px;
        font-weight: normal !important;
    }

    #pageId.members-container.register-form {
        width: auto !important;
    }

    .form-group {
        margin: 0 !important;
        margin-top: 5px !important;
    }

    .form-group label{
        width: auto !important;
    }

    .mobile-reg-form-tip {
        font-size: 9px;
        margin: 3px 5px 3px 5px;
    }

    #optemail-mobile span, #optterms-mobile span{
        font-size: 9px;
    }

    input, select{
        width: 100% !important;
    }

    .register-form #register-form .column:first-child{
        width: 100% !important;
    }

    .register-form #register-form .column:last-child{
        width: 100% !important;
    }

    .members-container .register-container .column{
        width: 100% !important;
    }

    .members-container .register-container .column .fields {
        width: 100% !important;
    }

    .members-container .register-container .column:first-child .fields {
         width: 100% !important;
    }

    .cancel-reg{
        width: 98px;
        margin-left: 20px;
    }
}