@media only screen and (max-width: 768px) {
  .search-field {
    float: left;
    width: 100%; 
    margin-top: 10px;
    position: relative;
  }
    
  .ico-search {
    background: url("/Contents/imgs/coursefinder.png") no-repeat white left 2px;
    float: right;
    cursor: pointer;
    white-space: nowrap;
    text-indent: 150%;
    overflow: hidden;
    width: 26px;
    height: 24px;
    display: block;
    color: #fff;
    border-radius: 0 1px 1px 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none; 
  }
    
  .input-search {
    float: left;
    color: #959595;
    font-family: "arial";
    font-size: 12px;
    height: 24px;
    width: 367px;/* 159 */
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-radius: 1px 0 0 1px;
    padding-left: 4px; 
  }

  .filter-item{
    padding: 10px 0 11px 5px;
    width: 100%;
    font-size: 14px;
    border:0;
    -webkit-box-shadow:inset 0 0 2px #888;
       -moz-box-shadow:inset 0 0 2px #888;
            box-shadow:inset 0 0 2px #888;
  }

  #mobile-search-btn{
    position: absolute;
    top: 4px;
    right: 4px;
  }

  #no-results-mobile{
    display:none;
    font-weight:bold;
  }

  .mobile-search-text{
    margin: 10px 10px 0px 10px;
  }

  .mobile-search-text > p{
    margin: 0;
  }

  .search-results{
    list-style: none !important;
    margin: 0;
    padding: 0;
  }

  .search-results-mobile-wrap{
    font-size: 10px;
  }

  .module-num{
    color: black !important;
  }

  .module-subhead{
    text-decoration: underline;

    color: #a69f88;
    font-weight: bold;
  }

  .course-title{
    margin: 0 !important;
    padding-left: 10px;
  }

  .module-result-header{
    margin: 0 !important;
  }

  .module-result{
    margin: 10px 15px 0px 15px;
    line-height: 10px;
  }


  /*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 150px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;     
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.form-wrapper button:hover{    
    background: #e54040;
}  

.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

  
}