﻿@media only screen and (max-width: 768px) {
    .members-container {
        margin: 0 !important;
        padding: 100px 10px 10px 10px !important;
        width: 100% !important;
    }

    .signin-container {
        width: 100% !important;
    }

    .form-container input {
        width: 100% !important;
    }

    .buttons > .mobile-submit {
        width: 100% !important;
    }

    .mobile-signin-text {
        margin-top: 10px !important;
    }
    .mobile-signin-text, .mobile-register-link {
        font-size: 10px !important;
        line-height: 12px !important;
    }

    .members-container .signin-container .form-container .checkbox-remember label {
        margin-top: 10px;
    }

}
