@media only screen and (max-width: 768px) {
	.update-profile-container{
		padding-top: 67px !important;
	}

	.data-container-title{
		font-family: Arial !important;
		font-size: 10px;
	}

	.fields{
		width: 100% !important;
		margin-left: 0 !important;
		font-size: 10px;
	}	

	.fields.short{
		width: 50% !important;
	}

	.fields.mobilecheck{
		font-size: 10px !important;
	}

	.form-fields{
		padding-top: 0 !important;
	}

	label{
		color: #969696 !important;
		font-weight: normal !important;
		padding-top: 0px !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		float: left !important;
		text-align: left !important;
		font-size: 10px;
	}

	label.short{
		margin-right: 100px !important;
	}

	.user-avatar{
		height: 70px;
		width: 70px;
	}

	.user-photo{
		width: 90px !important;
		position: absolute !important;
		left: 170px;
		float: none !important;
	}

	.btn-save-profile{
		background: #ff6400;
		width: 140px;
		text-transform: uppercase;
		color: #fff;
		font-family: "proxima-nova-condensed";
		font-size: 14px;
		font-weight: bold;
		padding: 4px;
		border-color: #ff6400;
		-moz-box-shadow: 0 1px 2px #2f0b0f;
		-webkit-box-shadow: 0 1px 2px #2f0b0f;
		box-shadow: 0 1px 2px #2f0b0f;
	}
}