@media only screen and (max-width: 768px) {
	.user-photo.viewprofile{
		width: 90px;
		float: left !important;
		position:  relative !important;
		left: 0 !important;
	}

	.display{
		margin: 0 !important;
		width: auto !important;
	}

	.display > h1{
		font-size: 14px !important;
	}

	.display > h2, .display > h3{
		font-size: 10px !important;
	}

	.data-items{
		font-size: 9px !important;
	}

	.data-items li span{
		padding: 0 !important;
		font-size: 9px !important;
	}

	.data-items li ul.sublist li {
		padding: 0 !important;
		font-size: 9px !important;
	}

	.buttons.mobile-userpro{
		/*display: block !important;
		position: initial !important;
		margin-left: 10px !important;*/
		position: inherit !important;
	}
	.mobile-update-btn{
		height: 20px !important;
		width: 60px !important;
		font-size: 12px !important;
		padding: 0 !important;
		/*margin-left: 10px !important;*/
		display: block !important;
		border-radius: 2px !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		margin-top: 10px !important;
	}

	.privacy-container{
		float: left;
		clear: both;
		width: 100%;
		margin-top: 0px;
		background: url('/Contents/imgs/advancefilterbg.gif') !important;
		padding: 10px !important;
		background-repeat: repeat !important;
		border-radius: 3px !important;
		-webkit-border-radius: 3px !important;
		-moz-border-radius: 3px !important;
	}

	.privacy-container strong{
		font-family: "proxima-nova-condensed";
		color: #585858;
		font-size: 12px !important;
		text-transform: uppercase;
	}

	.privacy-container ul li{
		font-size: 12px !important;
		color: #585858;
		text-indent: -.6em;
	}

	.profile-container .form-group select, .update-profile-container .form-group select {
		height: 30px !important;
	}

	.required-text{
		/*margin-left: 10px !important;*/
		font-size: 10px !important;
		color: #585858 !important;
		text-transform: none !important;
		text-decoration: italic !important;
	}


}