@media only screen and (max-width: 768px) {
	.whoweare-container-mobile{
		padding: 110px 10px 10px 10px;
	}

	.whoweare-title{
		font-family: "proxima-nova-extra-condensed";
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 5px;
	}

	.whoweare-description{
		font-size: 11px;
		line-height: 12px;
	}

	.list-group-item{
		font-size: 12px;
	}

	.contributors{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.contributors-title{
		font-family: "proxima-nova-extra-condensed";
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 10px;
	}

    .whoweare-details {
        margin-left: 35px;
    }

    .contributor-person-details {
        border-bottom: 1px solid #161b8e;
        min-height: 75px;
        padding-left: 85px;
    }

    .contributor-person-details p {
        font-size: 10px;
        margin: 0;
        padding: 0;
        line-height: 12px;
    }

    .contributor-name {
        font-size: 14px !important;
        font-weight:bold;
        padding-top: 10px !important;
    }

    .contributor-title {
        margin-top: 5px !important;
    }

    .contributor-details-text {
        font-size: 10px;
        margin-top: 10px;
    }

    .slide-wrap{
    	position: relative;
    }

    .presenter-link{
    	cursor:pointer;
    }

    .mobile-connect-name{
    	font-weight: bold;
    }
}