﻿@{
    ViewBag.Title = "About Kineret";
    Layout = "/views/shared/_layouthcp.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/aboutkineret")

<!-- body -->
<div id="content_body">
    <h1>Kineret<sup>&reg;</sup> is a recombinant IL-1 receptor<br />antagonist (IL-1Ra)</h1>
    <ul>
        <li>Kineret<sup>&reg;</sup> blocks the biologic activity of interleukin-1 (IL-1), a key mediatorof inflammation<sup>1</sup></li>
        <li>By blocking IL-1 Kineret<sup>&reg;</sup> effectively reduces signs and symptoms and slows the progression of structural damage caused by NOMID and RA1</li>
        <li>Kineret<sup>&reg;</sup> has over 11 years of clinical experience and a well-documented safety profile<sup>2, 3</sup></li>
        <li>Kineret<sup>&reg;</sup> is the first and only FDA-approved treatment for NOMID, a severe autoinflammatory disease<sup>1,2,4,5</sup></li>
    </ul>

    <div id="reference">
        <p>IL-1 = interleukin-1; NOMID=Neonatal-Onset Multisystem Inflammatory Disease; RA=rheumatoid arthritis.</p>
        <p>References</p>
        <ol>
            <li>Kineret<sup>&reg;</sup> [prescribing information]. Stockholm, Sweden: Biovitrum AB; 2012. 2. US Food and Drug Administration Web site. Drug details (Kineret<sup>&reg;</sup>)</li>
        </ol>
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/blocker")
    @Html.Partial("callouts/hotline")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .about').addClass('on'); // nav selector
    </script>
}