﻿@{
    ViewBag.Title = "Home";
    Layout = "/views/shared/_layouthcp.cshtml";
}

<!-- hero -->
<div id="hero"><img src="/Contents/hcp/images/hero_1.png" /></div>

<p class="indented"><img src="/Contents/hcp/images/home.png" /></p>

@section scripts{
    <script type="text/javascript">
        $('nav .home').addClass('on'); // nav selector
    </script>
}