﻿@{
    ViewBag.Title = "Reimbursement Support";
    Layout = "/views/shared/_layouthcp.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/reimbursementsupport")

<!-- body -->
<div id="content_body">
    <h1>About KineretKare<sup>&trade;</sup></h1>

    <p>Welcome to KineretKare<sup>&trade;</sup>&mdash;a comprehensive patient support program designed to assist you and your patients with Kineret<sup>&reg;</sup> reimbursement.</p>
    <p>Services are free, personal, and confidential. Our dedicated team of reimbursement support specialists will work with you to provide assistance with:</p>
    <ul>
        <li>Insurance coverage and benefit verifications for Kineret<sup>&reg;</sup></li>
        <li>Prior authorizations and precertification support</li>
        <li>The appeals process when coverage is denied</li>
        <li>Referrals with in-network Specialty Pharmacies and coordination of delivery to patients</li>
    </ul>

    <div id="reference">

    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/hotline")
    @Html.Partial("callouts/download")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .support').addClass('on'); // nav selector
    </script>
}