﻿@{
    ViewBag.Title = "Treating RA Patients";
    Layout = "/views/shared/_layouthcp.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/treatingrapatients")

<!-- body -->
<div id="content_body">
    <div class="sub_indented"><a href="#"><img src="/Contents/hcp/images/sub_ra_1_off.png" data="1" /></a></div>
    <div class="sub_indented"><a href="#"><img src="/Contents/hcp/images/sub_ra_2_off.png" data="2" /></a></div>
    <div class="sub_indented"><a href="#"><img src="/Contents/hcp/images/sub_ra_3_off.png" data="3" /></a></div>

    <div id="reference">

    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/ra")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .ra').addClass('on'); // nav selector
    </script>
}