﻿@{
    ViewBag.Title = "Treating NOMID Patients";
    Layout = "/views/shared/_layouthcp.cshtml";
}

<!-- sub header -->
@Html.Partial("subheaders/treatingnomidpatients")

<!-- body -->
<!-- body -->
<div id="content_body">
    <h1>The challenges of NOMID</h1>

    <h2>NOMID is recognized as the most severe form of CAPS, a group of autoinflammatory disorders<sup>1</sup></h2>
    <ul>
        <li>NOMID, which begins in infancy, is a lifelong and severely debilitating disease<sup>1,2</sup></li>
        <ul>
            <li>NOMID is very rare<sup>3</sup></li>
            <li>Estimated prevalence is less than 1 case per 1,000.000 people<sup>3</sup></li>
            <li>In European Union, only 100 cases have been reported<sup>3</sup> </li>
        </ul>
        <li>NOMID is associated with a number of clinical symptoms and markers<sup>1,2</sup></li>
        <ul>
            <li>It often presents in the first weeks of life as an uticarial-like skin rash and can progress to affect multiple organ systems, including skin, bones, and the central nervous system (CNS)<sup>2</sup></li>
            <li>Specific CNS manifestations include chronic aseptic meningitis, loss of vision, mental retardation, seizures, and hearing loss<sup>2</sup></li>
            <li>Additionally, elevated levels of SAA and CRP and elevated ESR may be present<sup>1,2</sup></li>
        </ul>
        <li>A 20% mortality rate before adulthood has been reported<sup>2</sup></li>
    </ul>
    
    <h2>Early identification and treatment are important to avoid long term complications, yet diagnosing NOMID is difficult<sup>4</sup></h2>
    <ul>
        <li>Because NOMID is so rare, not many physicians have experience with NOMID to recognize the early signs</li>
        <li>The early signs can be so broad and nondescript that they are often attributed to more common diseases or causes, such as an infection</li>
        <li>Diagnosis is often made through a time-consuming process of eliminating other possible causes </li>
    </ul>

    <h2>IL-1β has been identified as playing an important role in the systemic inflammation and manifestations of NOMID and CAPS<sup>6</sup></h2>
    <ul>
        <li>Spontaneous mutations in the CIAS1/NLRP3 gene have been identified in a majority of patients with CAPS, such as NOMID</li>
        <ul>
            <li>This mutation leads to an overabundance of the body’s production of IL-1β, which leads to the manifestations of NOMID</li>
        </ul>
    </ul>

    <h2>Until December of 2012, there have been no FDA-approved treatments for NOMID<sup>7</sup></h2>

    <div id="reference">
        <p>CAPS=cryopyrin-associated periodic syndrome; SAA=Serum amyloid A; CRP=C-reactive protein; ESR=erythrocytesedimentation rate.<sup>1</sup></p>
        <p>*Kineret demonstrated efficacy in multiple NOMID symptoms for up to 60 months.</p>
        <p>
            References<br />
            1. Sibley CH, Plass N, Snow J, et al. Sustained response and prevention of damage progression in patients with neonatal-onset multisystem inflammatory disease treated with anakinra. Arthritis Rheum. 2012:66(7);2375-2386.
            2. Goldbach-Mansky R, Dailey NJ, Canna SW, et al. Neonatal-onset multisystem inflammatory disease responsive to interleukin-1β inhibition. N Engl J Med. 2006;355:581-592.
            3. Orphanet Report Series – Prevalence of rare diseases: Bibliographic data. June 2013; Number 2.
            4. Hashkes PJ, Toker O. Autoinflammatory syndromes. Pediatr Clin N Am. 2012:59;447-470.
            5. Krause K, Grattan CE, Bindslev-Jensen C, et al. How not to miss autoinflammatory diseases masquerading as urticaria. Allergy. 2012:67;1465-1474.
            6. Kineret<sup>&reg;</sup> [Prescribing Information]. Stockholm, Sweden: Biovitrum AB; 2012. Data on file. Stockholm, Sweden: Biovitrum AB; 2012.
            7. US Food and Drug Administration Web site. Drug details (Kineret<sup>&reg;</sup>)

        </p>
            
    </div>
</div>

<!-- callouts -->
<div id="callouts">
    @Html.Partial("callouts/nomid")
    @Html.Partial("callouts/hotline")
</div>

<!-- clear -->
<div class="clear"></div>

@section scripts{
    <script type="text/javascript">
        $('nav .nomid').addClass('on'); // nav selector
    </script>
}